/* Default More Links List Styles */
.more_links_list {
  line-height: 14px; }
  .more_links_list dt {
    display: block;
    float: left;
    width: 114px; }
  .more_links_list dd {
    float: left;
    width: 590px; }
  .more_links_list li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 11px; }
  .more_links_list a, .more_links_list span {
    color: #09f;
    text-decoration: underline; }
    .more_links_list a:hover, .more_links_list span:hover {
      color: #597686; }
