form .basic_info {
  background-color: #EFEFEF;
  padding: 12px 0 4px 0;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
form h2 {
  border-bottom: 1px dashed #ADC0C9;
  border-top: 1px solid #ADC0C9;
  color: #09F;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 15px;
  padding: 14px 0; }
form li {
  list-style: none;
  position: relative; }
  form li .inline-errors {
    margin-left: 5px;
    top: 5px; }
  form li .inline-success {
    margin-left: 5px;
    position: absolute;
    top: 7px; }
form label {
  color: #375363;
  display: inline-block;
  font-size: 14px;
  margin-right: 13px;
  text-align: right;
  width: 120px; }
  form label abbr {
    display: none; }
form input, form select {
  border: 1px solid #CDD9DF;
  color: #252525;
  display: inline-block;
  margin-bottom: 6px;
  padding: 5px 10px;
  width: 350px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
form input[type=email], form input[type=tel] {
  width: 170px; }
form #client_user_attributes_first_name,
form #client_user_attributes_last_name {
  width: 250px; }
form #client_business_address_attributes_city {
  width: 170px; }
form input[type=submit] {
  background-color: #0099FF;
  border: none;
  border-bottom: 1px solid #0067b1;
  color: #FFF;
  display: block;
  float: right;
  font-size: 18px;
  padding: 5px 10px 6px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px -1px #0080e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 130px;
  z-index: 1000; }
  form input[type=submit]:hover {
    background-color: #2baaff;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5); }
form .submit_cont {
  border-top: 1px dashed #D7D7D7;
  float: right;
  margin-top: 4px;
  padding-top: 10px;
  width: 100%; }
.payment_method .payment_input {
  margin-top: 15px; }
  .payment_method .payment_input .choices-group li {
    display: inline-block;
    position: relative; }
    .payment_method .payment_input .choices-group li label {
      font-size: 16px;
      font-weight: bold;
      margin: 0 0 8px 0;
      text-align: left;
      width: auto; }
      .payment_method .payment_input .choices-group li label input {
        margin-top: 1px;
        width: 20px; }
    .payment_method .payment_input .choices-group li:nth-child(1) {
      width: 150px; }
    .payment_method .payment_input .choices-group li:nth-child(2) {
      width: 95px; }
    .payment_method .payment_input .choices-group li:nth-child(3) {
      width: 90px; }
.payment_method #client_payment_information_attributes_bank_account_type_input .choices-group {
  float: left;
  margin: -19px 0 6px 210px; }
  .payment_method #client_payment_information_attributes_bank_account_type_input .choices-group li {
    display: inline-block;
    position: relative; }
    .payment_method #client_payment_information_attributes_bank_account_type_input .choices-group li label {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      text-align: left;
      width: auto; }
      .payment_method #client_payment_information_attributes_bank_account_type_input .choices-group li label input {
        margin-top: 2px;
        width: 20px; }
    .payment_method #client_payment_information_attributes_bank_account_type_input .choices-group li:nth-child(1) {
      width: 90px; }
    .payment_method #client_payment_information_attributes_bank_account_type_input .choices-group li:nth-child(2) {
      width: 75px; }
/* Tax Page Styles */
.tax_cont {
  background-color: #ffffe5;
  border: 1px solid #ffeaac;
  color: #597686;
  font-size: 16px;
  margin: 15px 0 10px;
  padding: 10px 0;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.citizen {
  color: #375363;
  font-size: 28px;
  font-weight: bold;
  padding: 10px 0; }
  .citizen a {
    color: #0099FF;
    cursor: help;
    font-size: 13px;
    font-weight: normal;
    text-decoration: underline; }
    .citizen a:hover {
      color: #445e6d; }

.tin, .disclaimer {
  color: #375363;
  float: right;
  font-size: 11px;
  line-height: 15px;
  margin: 0 126px 10px 0;
  width: 340px; }

.disclaimer {
  margin-bottom: 0; }

.tax_form {
  border-top: 1px dashed #D7D7D7;
  padding-top: 15px; }

form {
  position: relative; }
  form li {
    position: relative; }
    form li .inline-errors {
      margin-left: 5px;
      top: 5px; }
    form li .inline-success {
      margin-left: 5px;
      position: absolute;
      top: 7px; }
  form #client_tax_information_attributes_full_name_input label,
  form #client_tax_information_attributes_business_name_input label,
  form #client_tax_information_attributes_signature_input label {
    margin-top: -2px; }
  form #client_tax_information_attributes_taxpayer_id_no_input .inline-errors {
    right: 54px;
    top: -28px; }
  form #client_tax_information_attributes_taxpayer_id_no_input .inline-success {
    top: -25px;
    right: 58px; }
  form input {
    vertical-align: top;
    width: 320px; }
    form input#TaxIdentificationNo {
      bottom: 0;
      height: 16px;
      position: absolute;
      right: 75px;
      width: 72px; }
    form input#client_tax_information_attributes_permanent_address_attributes_zip_code {
      width: 50px; }
  form select {
    padding: 4px 10px;
    width: 290px; }
    form select#client_tax_information_attributes_taxpayer_id_type {
      width: 230px; }
  form label {
    margin-top: 3px;
    width: 200px; }
    form label span {
      color: #4b5c65;
      display: block;
      font-size: 11px;
      margin-top: -5px; }
  form .btn_submit {
    margin: 0; }
.promote_widget .code_content .btn {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #0099FF;
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  float: right;
  line-height: 100%;
  padding: 5px 0;
  vertical-align: top;
  width: 160px; }
  .promote_widget .code_content .btn.hover {
    cursor: pointer;
    background: #fafafa; }
.promote_widget .code_content textarea {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ADC0C9 !important;
  color: #656565;
  font-size: 11px;
  height: 50px;
  line-height: 15px;
  margin-bottom: 7px;
  padding: 10px;
  resize: none;
  width: 972px; }
.promote_widget .widget_cont {
  background-color: #FFF;
  padding: 8px 8px 5px; }
/*--------*/
/* Mixins */
/*--------*/
/* Tabs */
.ui-tabs {
  zoom: 1; }
  .ui-tabs .ui-tabs-nav {
    cursor: pointer;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0; }
    .ui-tabs .ui-tabs-nav li {
      -webkit-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;
      background-color: #fcfcfc;
      border: 1px solid #d0d0d0;
      float: left;
      margin: 0 3px -1px 0;
      padding: 0;
      position: relative; }
      .ui-tabs .ui-tabs-nav li a {
        font-family: "Roboto", "Arimo", Arial, sans-serif;
        font-weight: 500;
        color: #597686;
        cursor: pointer;
        display: block;
        font-size: 16px;
        margin: 0;
        padding: 7px 15px;
        outline: none;
        text-decoration: none !important; }
      .ui-tabs .ui-tabs-nav li.ui-tabs-selected, .ui-tabs .ui-tabs-nav li.ui-state-disabled, .ui-tabs .ui-tabs-nav li.ui-state-processing {
        background: #f6f6f6; }
        .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
          cursor: default;
          border-bottom-style: none; }
      .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
        background-color: #f6f6f6;
        border-bottom: 1px solid #f6f6f6; }
        .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
          color: #0099FF;
          cursor: pointer; }
  .ui-tabs.ui-tabs-collapsible {
    cursor: pointer; }
  .ui-tabs .ui-tabs-panel {
    background-color: #f6f6f6;
    border: 1px solid #d0d0d0;
    display: block;
    clear: both;
    padding: 10px; }
  .ui-tabs .ui-tabs-hide {
    display: none; }
/* Tickets Button */


body {
  margin: 0 !important;
  padding: 0 !important;
}

.button_wrapper {
  position: relative;
}
.clearfix {
  clear: both;
}

.tickets_button {
  border-collapse: collapse;
  display: inline-block;
  font-family: Arial;
  text-align: center;
  padding: 0;
  position: relative;
}

.tickets_button td {
  padding: 0;
}

.tickets_button td {
  vertical-align: top;
}

.border_cont {
  padding: 0 5px;
  position: relative;
}

.gradient {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 900;
}

/***********************/
/* Silver Button Color */
/***********************/

.silver .border_cont {
  background: #e1e8ec;
  border: 1px solid #b4c6cf;
}

.silver .border_cont .gradient {
  background: #f1f5f6;
}

/*********************/
/* Blue Button Color */
/*********************/

.blue .border_cont {
  background: #0085de;
  border: 1px solid #0378c6;
}

.blue .border_cont .gradient {
  background: #0099FF;
}

/***********************/
/* Orange Button Color */
/***********************/

.orange .border_cont {
  background: #f47b00;
  border: 1px solid #c88003;
}

.orange .border_cont .gradient {
  background: #ff9000;
}

/****************/
/* Button Sizes */
/****************/

.large  {
  height: 50px !important;
}

.medium {
  height: 40px !important;
}
.small {
  height: 30px !important;
}

.large .border_cont {
  height: 48px !important;
}

.medium .border_cont {
  height: 38px !important;
}

.small .border_cont {
  height: 28px !important;
}

.large .gradient {
  height: 25px;
}

.medium .gradient {
  height: 20px;
}

.small .gradient {
  height: 15px;
}

/**************/
/* Text Sizes */
/**************/

.no_logo_text {
  display: none;
  font-size: 10px;
  font-weight: normal;
}

.btn_text {
  display: block;
  font-weight: bold;
  line-height: 100%;
  position: relative;
  z-index: 902;
}

.large .btn_text {
  font-size: 22px;
  line-height: 20px;
  margin-top: 13px;
  min-width: 155px;
}

.medium .btn_text {
  font-size: 16px;
  line-height: 14px;
  margin-top: 11px;
  min-width: 110px;
}

.small .btn_text {
  font-size: 13px;
  line-height: 10px;
  margin-top: 8px;
  min-width: 85px;
}

/************************/
/* Logo Container Sizes */
/************************/

.img_cont {
  float: left;
  padding: 0 10px;
  z-index: 909;
  background: #ffffff;
  border-top: 1px solid #dae4e9;
  border-right: 1px solid #dae4e9;
  border-bottom: 1px solid #dae4e9;
}

.img_cont .img {
  display: block;
}

.large .img_cont {
  height: 48px;
}

.medium .img_cont {
  height: 38px;
}

.small .img_cont {
  height: 28px;
}

/********************/
/* Large Logo Sizes */
/********************/

.large.full_image .img_large {
  height: 39px !important;
  margin-top: 4px;
  width: 61px;
}

.large.full_image .img_large_stacked,
.large.full_image .img_medium,
.large.full_image .img_medium_stacked,
.large.full_image .img_small,
.large.full_image .img_small_stacked {
  display: none !important;
}

.large.mini_image .img_large_stacked {
  height: 32px !important;
  margin-top: 10px;
  width: 45px;
}

.large.mini_image .img_large,
.large.mini_image .img_medium,
.large.mini_image .img_medium_stacked,
.large.mini_image .img_small,
.large.mini_image .img_small_stacked {
  display: none !important;
}

/*********************/
/* Medium Logo Sizes */
/*********************/

.medium.full_image .img_medium {
  height: 32px !important;
  margin-top: 2px;
  width: 51px;
}

.medium.full_image .img_large,
.medium.full_image .img_large_stacked,
.medium.full_image .img_medium_stacked,
.medium.full_image .img_small,
.medium.full_image .img_small_stacked {
  display: none !important;
}

.medium.mini_image .img_medium_stacked {
  height: 25px !important;
  margin-top: 7px;
  width: 34px;
}

.medium.mini_image .img_large,
.medium.mini_image .img_large_stacked,
.medium.mini_image .img_medium,
.medium.mini_image .img_small,
.medium.mini_image .img_small_stacked {
  display: none !important;
}

/********************/
/* Small Logo Sizes */
/********************/

.small.full_image .img_small {
  height: 22px !important;
  margin-top: 2px;
  width: 35px;
}

.small.full_image .img_large,
.small.full_image .img_large_stacked,
.small.full_image .img_medium,
.small.full_image .img_medium_stacked,
.small.full_image .img_small_stacked {
  display: none !important;
}

.small.mini_image .img_small_stacked {
  height: 20px !important;
  margin-top: 5px;
  width: 27px;
}

.small.mini_image .img_large,
.small.mini_image .img_large_stacked,
.small.mini_image .img_medium,
.small.mini_image .img_medium_stacked,
.small.mini_image .img_small {
  display: none !important;
}

/***********/
/* No Logo */
/***********/

.no_logo .img_cont {
  display: none;
}

.no_logo.small .btn_text {
  min-width: 85px;
}

.no_logo .no_logo_text {
  display: none;
}

/************/
/* No Image */
/************/

.no_image .img_cont {
  display: none;
}

.no_image.small .btn_text {
  min-width: 85px;
}

.no_image .no_logo_text {
  display: block !important;
  width: 100% !important;
  z-index: 910 !important;
}

/******************/
/* No Image Large */
/******************/

.no_image.large .btn_text {
  margin-top: 7px;
}

.no_image.large .no_logo_text {
  font-size: 12px;
  line-height: 9px;
  margin-top: 5px;
}

/*******************/
/* No Image Medium */
/*******************/

.no_image.medium .btn_text {
  margin-top: 6px;
}

.no_image.medium .no_logo_text {
  font-size: 11px;
  line-height: 9px;
  margin-top: 4px;
}

/******************/
/* No Image Small */
/******************/

.no_image.small .btn_text {
  margin-top: 3px;
}

.no_image.small .no_logo_text {
  font-size: 9px;
  line-height: 8px;
  margin-top: 3px;
}

/************************/
/* Silver Button Styles */
/************************/

.silver .btn_text {
  color: #597686;
  text-shadow: 0px 1px 0px #f8f9fa;
}

.silver .no_logo_text {
  color: #57707d !important;
}

/**********************/
/* Blue Button Styles */
/**********************/

.blue .btn_text {
  color: #ffffff;
  text-shadow: -1px -1px 0px #006cb4;
}

.blue .no_logo_text {
  color: #a9ddff !important;
}

/************************/
/* Orange Button Styles */
/************************/

.orange .btn_text {
  color: #ffffff;
  text-shadow: -1px -1px 0px #d76c00;
}

.orange .no_logo_text {
  color: #ffdc9f !important;
}
/*






*/
/*--------*/
/* Mixins */
/*--------*/
/* Breadcrumbs */
.breadcrumbs li:last-child:after {
  content: '' !important; }

h1 {
  font-weight: normal !important; }
  h1 span.small {
    font-size: 16px; }

span.inline-errors {
  background: url(/assets/users/error.png);
  height: 16px;
  position: absolute;
  width: 16px;
  text-indent: -9999px; }

p.inline-errors {
  color: #FF0000;
  display: block;
  font-size: 11px;
  margin: -10px 0 10px 214px !important;
  text-align: left; }

.btn_white {
  border: 1px solid #cdd9df;
  color: #0099FF;
  cursor: pointer;
  text-align: center;
  text-shadow: 1px 1px 0px #ffffff;
  filter: dropshadow(color=white, offx=1, offy=1);
  background: #f9fafb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9fafb), color-stop(100%, #e5eaed));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9fafb 0%, #e5eaed 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fafb', endColorstr='#e5eaed',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .btn_white:hover {
    background: #e5eaed;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5eaed), color-stop(100%, #f9fafb));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #e5eaed 0%, #f9fafb 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5eaed', endColorstr='#f9fafb',GradientType=0 );
    /* IE6-9 */ }
  .btn_white.copy {
    cursor: pointer !important;
    float: left;
    font-size: 12px;
    padding: 3px 0;
    width: 150px; }
    .btn_white.copy.hover {
      cursor: pointer !important;
      background: #e5eaed;
      /* Old browsers */
      background: -moz-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5eaed), color-stop(100%, #f9fafb));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #e5eaed 0%, #f9fafb 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5eaed', endColorstr='#f9fafb',GradientType=0 );
      /* IE6-9 */ }

/* Dashboard Index */
.dashboard_index {
  float: left;
  width: 680px;
  /* Table */ }
  .dashboard_index table {
    margin-top: 15px;
    width: 100%; }
    .dashboard_index table tr {
      border-bottom: 1px dashed #d7d7d7; }
      .dashboard_index table tr:first-child, .dashboard_index table tr:last-child {
        border-bottom: none; }
    .dashboard_index table th {
      background-color: #ebebeb;
      color: #acacac;
      font-size: 11px;
      font-weight: bold;
      height: 22px;
      text-align: left;
      text-transform: uppercase; }
      .dashboard_index table th.event {
        padding-left: 5px;
        width: 235px; }
      .dashboard_index table th.event_day {
        width: 150px; }
      .dashboard_index table th.tickets_sold {
        text-align: center;
        width: 110px; }
      .dashboard_index table th.total_qty {
        text-align: center;
        width: 90px; }
      .dashboard_index table th.revenue {
        padding-right: 5px;
        text-align: right;
        width: 85px; }
    .dashboard_index table td {
      font-family: "Roboto", "Arimo", Arial, sans-serif;
      font-weight: 300 !important;
      color: #464646;
      font-size: 14px;
      padding: 8px 0;
      vertical-align: top; }
      .dashboard_index table td.event {
        padding: 8px 20px 8px 0;
        text-align: left; }
        .dashboard_index table td.event a {
          color: #000000; }
          .dashboard_index table td.event a:hover {
            color: #464646;
            text-decoration: none; }
      .dashboard_index table td.event_day {
        text-align: left;
        white-space: nowrap; }
      .dashboard_index table td.tickets_sold {
        text-align: center; }
      .dashboard_index table td.total_qty {
        text-align: center; }
      .dashboard_index table td.revenue {
        color: #000000;
        font-weight: bold;
        padding-right: 5px;
        text-align: right; }

/* Dashboard Sidebar */
.dashboard_sidebar {
  float: right;
  width: 300px;
  /* Download Reports */ }
  .dashboard_sidebar .your_account .account_title {
    border-bottom: 1px dashed #adc0c9;
    border-top: 1px solid #adc0c9;
    color: #0099FF;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 0; }
  .dashboard_sidebar .your_account ul {
    margin: 10px 0;
    font-size: 15px; }
    .dashboard_sidebar .your_account ul li {
      color: #375363;
      padding: 5px 0;
      position: relative; }
      .dashboard_sidebar .your_account ul li .arrow {
        color: #ff9000; }
      .dashboard_sidebar .your_account ul li a {
        color: #445e6d; }
        .dashboard_sidebar .your_account ul li a:hover {
          text-decoration: none; }

/* Show Container */
.event_info {
  float: left;
  margin-bottom: 17px;
  width: 780px;
  /* Info */ }
  .event_info .left_column {
    float: left; }
    .event_info .left_column .thumbnail {
      height: 140px;
      width: 140px; }
      .event_info .left_column .thumbnail img {
        height: 140px;
        width: 140px; }
  .event_info .info {
    float: right;
    height: 142px;
    margin-left: 15px;
    position: relative;
    width: 623px;
    /* Event Name */
    /* Event Date */
    /* Event Venue */ }
    .event_info .info .name {
      font-size: 22px;
      font-family: "Arimo", Arial, serif;
      font-weight: bold;
      line-height: 20px;
      margin-bottom: 5px; }
      .event_info .info .name a {
        color: #000000; }
        .event_info .info .name a:hover {
          color: #597686; }
    .event_info .info .date {
      font-family: "Roboto", "Arimo", Arial, sans-serif;
      font-weight: 700 !important;
      color: #0099FF;
      font-size: 18px;
      line-height: 14px;
      margin-bottom: 12px; }
    .event_info .info .venue {
      font-family: "Roboto", "Arimo", Arial, sans-serif;
      font-weight: 300 !important;
      bottom: 0;
      color: #252525;
      font-size: 16px;
      line-height: 16px;
      position: absolute; }
      .event_info .info .venue a {
        color: #252525;
        font-size: 16px;
        line-height: 16px; }
        .event_info .info .venue a:hover {
          text-decoration: none; }
      .event_info .info .venue address {
        font-size: 13px !important;
        font-weight: 300 !important;
        line-height: 14px !important; }
        .event_info .info .venue address p {
          margin: 0;
          padding: 0; }
      .event_info .info .venue:nth-child(even) {
        bottom: 50px; }

/* Dashboard Sidebar */
.detailed_sidebar {
  float: right;
  width: 225px;
  /* Download Reports */ }
  .detailed_sidebar .box_office_btn {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 9px 0 7px;
    position: relative;
    text-decoration: none;
    width: 225px; }
    .detailed_sidebar .box_office_btn:hover {
      text-decoration: none; }
    .detailed_sidebar .box_office_btn span {
      float: left; }
    .detailed_sidebar .box_office_btn span.barcode {
      background: url(/assets/tickets/pe_www_tickets_barcode.png);
      height: 18px;
      margin: 0 10px 0 13px;
      width: 26px; }
    .detailed_sidebar .box_office_btn span.spacer {
      background: url(/assets/tickets/tickets_barcode_spacer.png);
      height: 28px;
      margin-top: -5px;
      width: 2px; }
  .detailed_sidebar .download_report {
    font-family: "Roboto", "Arimo", Arial, sans-serif;
    font-weight: 300 !important; }
    .detailed_sidebar .download_report .reports {
      color: #0099FF;
      font-size: 18px;
      margin: 10px 0; }
    .detailed_sidebar .download_report ul {
      font-size: 13px; }
      .detailed_sidebar .download_report ul li {
        margin-bottom: 3px;
        position: relative; }
        .detailed_sidebar .download_report ul li span {
          background: url(/assets/tickets/pe_web_ticket_dashboard_xls.png);
          height: 17px;
          position: absolute;
          right: 0;
          top: 2px;
          width: 16px; }
        .detailed_sidebar .download_report ul li a {
          color: #375363;
          text-decoration: underline; }
          .detailed_sidebar .download_report ul li a:hover {
            text-decoration: none; }

/* Copy URL Link */
.copy_links {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #e4e4e4;
  background: #FFFFFF;
  padding: 10px; }
  .copy_links .row {
    display: block; }
    .copy_links .row .btn {
      -webkit-border-radius: 2px;
      border-radius: 2px;
      color: #0099FF;
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
      line-height: 100%;
      margin-right: 7px;
      padding: 5px 0;
      vertical-align: top;
      width: 177px; }
      .copy_links .row .btn.hover {
        cursor: pointer;
        background: #fafafa; }
    .copy_links .row .text {
      color: #597686;
      display: inline-block;
      font-size: 10px;
      text-transform: uppercase;
      width: 85px; }
    .copy_links .row .url {
      font-family: "Roboto", "Arimo", Arial, sans-serif;
      font-weight: 300 !important;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      border: 1px solid #c4c3c3;
      color: #7d7d7d;
      display: inline-block;
      padding: 2px 10px 3px;
      width: 760px; }
      .copy_links .row .url a {
        color: #959595;
        font-size: 12px;
        text-decoration: none; }
        .copy_links .row .url a:hover {
          color: #5b5b5b;
          text-decoration: underline; }

/* Ticket Sales Overview */
.sales_overview {
  border-bottom: 1px dashed #adc0c9;
  border-top: 1px solid #adc0c9;
  color: #0099FF;
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  margin-top: 7px;
  padding: 15px 0 13px 0; }

/* Ticket Sales Button */
.stats_cont {
  /* Buttons */
  /* Button Misc */ }
  .stats_cont .sold, .stats_cont .total_qty, .stats_cont .total {
    font-family: "Roboto", "Arimo", Arial, sans-serif;
    font-weight: 700 !important;
    background: #FFFFFF;
    border: 1px solid #cbcbcb;
    float: left;
    height: 42px;
    margin-right: 10px;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /* Button Title */
    /* Button Count */ }
    .stats_cont .sold .title, .stats_cont .total_qty .title, .stats_cont .total .title {
      background: #cbcbcb;
      color: #FFFFFF;
      float: left;
      font-size: 18px;
      font-weight: bold;
      height: 42px;
      position: relative;
      text-transform: uppercase;
      text-shadow: 0px -1px 0px #afafaf;
      filter: dropshadow(color=white, offx=0, offy=1); }
      .stats_cont .sold .title .point, .stats_cont .total_qty .title .point, .stats_cont .total .title .point {
        background: url(/assets/tickets/pointer_gray_right.png) no-repeat;
        height: 42px;
        width: 11px;
        position: absolute;
        top: 0;
        right: -21px; }
      .stats_cont .sold .title span, .stats_cont .total_qty .title span, .stats_cont .total .title span {
        display: block;
        padding: 11px 0 0 10px; }
    .stats_cont .sold .count, .stats_cont .total_qty .count, .stats_cont .total .count {
      color: #597686;
      float: right;
      font-size: 24px;
      font-weight: 500 !important;
      padding: 11px 15px 0 0;
      text-align: right; }
  .stats_cont .sold {
    width: 230px; }
    .stats_cont .sold .title {
      width: 110px; }
  .stats_cont .total_qty {
    width: 330px; }
    .stats_cont .total_qty .title {
      width: 160px; }
  .stats_cont .total {
    margin-right: 0;
    width: 408px; }
    .stats_cont .total .title {
      width: 195px; }
    .stats_cont .total .count {
      color: #24a51e; }

/* Detailed Title */
.promote_event {
  border-bottom: 1px dashed #d7d7d7;
  border-top: 1px solid #adc0c9;
  color: #0099FF;
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  margin-top: 15px;
  padding: 15px 0 13px 0; }

/* Detailed Table */
.detailed {
  background: #FFFFFF;
  margin-top: 10px;
  padding: 7px 6px 0; }
  .detailed.promo_code {
    margin-top: 0; }
  .detailed.no_promo {
    color: #375363;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 20px 0; }
  .detailed table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    /* Promo Code Table */ }
    .detailed table tr {
      border-bottom: 1px dashed #d7d7d7; }
      .detailed table tr:first-child, .detailed table tr:last-child {
        border-bottom: none; }
    .detailed table th {
      font-family: "Roboto Condensed", Arial, sans-serif;
      font-weight: normal;
      background-color: #cbcbcb;
      border-right: 3px solid #FFFFFF;
      color: #FFFFFF;
      font-size: 13px;
      height: 20px;
      padding: 0 10px;
      text-align: left;
      text-transform: uppercase; }
      .detailed table th.ticket_type {
        width: 219px; }
      .detailed table th.show_time {
        width: 110px; }
      .detailed table th.sales_end {
        width: 110px; }
      .detailed table th.sold_left, .detailed table th.total_qty {
        width: 80px; }
      .detailed table th.price, .detailed table th.fee, .detailed table th.promo_discounts {
        width: 80px; }
      .detailed table th.total_sales {
        border-right: none;
        width: 100px; }
    .detailed table td {
      font-family: "Roboto", "Arimo", Arial, sans-serif;
      font-weight: 300 !important;
      color: #464646;
      font-size: 14px;
      padding: 8px 10px;
      text-align: left;
      vertical-align: top; }
      .detailed table td.ticket_type, .detailed table td.promo_code {
        font-family: "Roboto", "Arimo", Arial, sans-serif;
        font-weight: 500 !important;
        font-size: 14px; }
      .detailed table td.total_sales {
        border-right: none; }
    .detailed table th.promo_code {
      width: 240px; }
    .detailed table th.discount {
      width: 90px; }
    .detailed table th.starts, .detailed table th.ends {
      width: 90px; }
    .detailed table th.used {
      width: 70px; }
    .detailed table th.offered {
      width: 90px; }
    .detailed table th.total_discount {
      width: 120px; }

/* Password Container */
.password_cont {
  margin-top: 15px; }
  .password_cont .toggle {
    font-size: 11px;
    display: block;
    text-align: left;
    margin: 0 0 10px 214px; }
  .password_cont .password .inline-success {
    right: 108px; }
  .password_cont .password .inline-errors {
    right: 104px; }

/* Promote Event */
.promote_events .sub_nav li {
  font-family: "Roboto", "Arimo", Arial, sans-serif;
  font-weight: 300 !important;
  color: #375363;
  cursor: pointer;
  float: left;
  font-size: 13px;
  margin-right: 20px;
  text-decoration: underline; }
  .promote_events .sub_nav li:hover {
    text-decoration: none; }
  .promote_events .sub_nav li.Disabled {
    color: #0099FF !important;
    cursor: default !important;
    text-decoration: none !important; }
.promote_events .title {
  font-family: "Roboto", "Arimo", Arial, sans-serif;
  font-weight: 700 !important;
  border-top: 1px dashed #d7d7d7;
  color: #464646;
  font-size: 15px;
  line-height: 100%;
  margin-top: 10px;
  padding: 10px 0; }
  .promote_events .title span {
    font-family: "Roboto", "Arimo", Arial, sans-serif;
    font-weight: 300 !important;
    float: right;
    font-size: 13px;
    position: relative; }
.promote_events .create_button {
  border-top: 1px dashed #D7D7D7;
  margin-top: 10px; }
  .promote_events .create_button .create_cont {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #E4E4E4;
    background: #FFFFFF;
    padding: 10px;
    margin-top: 10px; }
    .promote_events .create_button .create_cont .section_cont {
      position: relative;
      border-bottom: 1px dashed #E4E4E4;
      text-align: left;
      padding: 10px 0; }
      .promote_events .create_button .create_cont .section_cont.code {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0; }
        .promote_events .create_button .create_cont .section_cont.code .generate, .promote_events .create_button .create_cont .section_cont.code .text {
          float: left; }
        .promote_events .create_button .create_cont .section_cont.code .copy_text {
          font-family: "Roboto", "Arimo", Arial, sans-serif;
          font-weight: 300 !important;
          float: left;
          margin: 5px 0 0 10px;
          font-size: 13px; }
        .promote_events .create_button .create_cont .section_cont.code .text {
          font-family: "Roboto", "Arimo", Arial, sans-serif;
          font-weight: 300 !important;
          font-size: 13px;
          position: relative;
          padding: 7px 0 0 10px; }
      .promote_events .create_button .create_cont .section_cont .title {
        float: left;
        border-top: 0;
        margin-top: 0; }
        .promote_events .create_button .create_cont .section_cont .title .fake_link {
          font-family: "Roboto", "Arimo", Arial, sans-serif;
          font-weight: 300 !important;
          font-size: 12px;
          margin-top: 10px;
          text-decoration: underline !important; }
      .promote_events .create_button .create_cont .section_cont .right_cont {
        color: #959595;
        float: right;
        width: 850px; }
        .promote_events .create_button .create_cont .section_cont .right_cont label {
          clear: both;
          float: left;
          padding-bottom: 5px;
          position: relative; }
          .promote_events .create_button .create_cont .section_cont .right_cont label:last-child {
            padding-bottom: 0; }
          .promote_events .create_button .create_cont .section_cont .right_cont label span, .promote_events .create_button .create_cont .section_cont .right_cont label img {
            display: inline-block;
            padding-left: 17px; }
          .promote_events .create_button .create_cont .section_cont .right_cont label input[type=radio] {
            position: absolute;
            top: 1px; }
            .promote_events .create_button .create_cont .section_cont .right_cont label input[type=radio].custom_text {
              top: 6px; }
            .promote_events .create_button .create_cont .section_cont .right_cont label input[type=radio].pe_lrg {
              top: 12px; }
            .promote_events .create_button .create_cont .section_cont .right_cont label input[type=radio].pe_sml {
              top: 3px; }
          .promote_events .create_button .create_cont .section_cont .right_cont label input[type=text], .promote_events .create_button .create_cont .section_cont .right_cont label textarea {
            border: 1px solid #cdd9df !important;
            font-size: 13px;
            padding: 5px;
            text-indent: 5px;
            -webkit-border-radius: 2px !important;
            border-radius: 2px !important; }
          .promote_events .create_button .create_cont .section_cont .right_cont label input[type=text] {
            margin-left: 17px;
            width: 185px; }
          .promote_events .create_button .create_cont .section_cont .right_cont label textarea {
            border-color: #adc0c9 !important;
            color: #656565;
            font-size: 11px;
            height: 55px;
            padding: 10px 10px 0 10px;
            resize: none;
            width: 827px; }
        .promote_events .create_button .create_cont .section_cont .right_cont .btn_white.generate {
          font-size: 16px;
          margin-bottom: 10px;
          padding: 5px 0;
          width: 125px; }
