/*PAGINATOR STYLES*/
.prev_next {
  margin: 0 auto;
  width: 119px; }

#content_home .prev_next,
#city_home_content .prev_next,
#neighborhood_content .prev_next {
  width: 112px; }

.prev_btn, .next_btn {
  background: url(/assets/content_bg/application_sprite-0758091485eaa855b14f0f07e919d9bb.png) no-repeat;
  width: 30px;
  height: 30px;
  display: block; }

.prev_btn {
  background-position: 0 -386px; }

.prev_btn:hover {
  background-position: 0 -416px; }

#content_home .page_count,
#city_home_content .page_count,
#neighborhood_content .page_count {
  min-width: 40px; }

.page_count {
  display: block;
  min-width: 47px;
  padding: 6px;
  text-align: center; }

#city_home_content .page_count {
  min-width: 40px; }

.next_btn {
  background-position: -35px -386px; }

.next_btn:hover {
  background-position: -35px -416px; }

/*DISABLED STATES*/
.prev_btn.disabled,
.prev_btn.disabled:hover {
  background-position: 0 -446px;
  cursor: default; }

.next_btn.disabled,
.next_btn.disabled:hover {
  background-position: -35px -446px;
  cursor: default; }
.TitleContainer {
  background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -116px transparent;
  padding: 0 29px 0 0; }

.TitleContainer:hover {
  background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -145px transparent; }

.TitleContainer.Opened {
  background-position: 100% -58px; }

.TitleContainer.Opened:hover {
  background-position: 100% -87px; }

.TitleContainer .Title {
  background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 0 0 transparent;
  height: 19px;
  line-height: 20px;
  overflow: hidden;
  padding: 4px 10px; }

.TitleContainer.Opened .Title {
  background-position: 0 -29px; }

.TitleContainer .Title.select .unselected {
  color: #999; }

.dropdown_wrapper {
  cursor: pointer;
  display: inline-block;
  /*FOR IE7*/
  *display: inline;
  zoom: 1; }
  .dropdown_wrapper .dropdown {
    position: absolute;
    z-index: 3001; }
  .dropdown_wrapper .choices_wrapper {
    padding: 0 2px 0 0;
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -1456px transparent; }
  .dropdown_wrapper .Choices.choices {
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 0 -232px transparent; }
  .dropdown_wrapper .Choice.choice {
    margin: 0 0 0 1px;
    padding: 0 10px; }
  .dropdown_wrapper .Choice.choice:hover {
    color: #fff;
    background: #0099ff; }
  .dropdown_wrapper .footer_bottom {
    height: 11px;
    padding: 0 11px 0 0;
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -2654px transparent; }
  .dropdown_wrapper .footer_bottom .footer_right {
    height: 11px;
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 0 -1443px transparent; }

.month_dropdown .choices_wrapper {
  width: 83px; }

.day_dropdown .choices_wrapper {
  width: 70px; }

.year_dropdown .choices_wrapper {
  width: 73px; }
/* NEW LOGIN FORM STYLES
------------------------------------
:: Forms were updated from table to table-less structure so new styles had to be introduced.
:: We should update all forms on the site and then consider moving following CSS styles to general form stylesheet.
:: I'm currently using ID's to restrict the styles to only the new forms. But when we update all forms this would most likely change.
------------------------------------*/
#login_area {
  position: relative;
  text-align: center; }

h1 {
  margin: 0 0 10px;
  color: #09f;
  font-size: 24px;
  font-weight: bold;
  line-height: 27px; }
  h1 span {
    color: #d9d9d9;
    font-size: 20px; }

h2, p {
  margin: 0 0 10px;
  padding: 0;
  color: #637e8d;
  font-size: 15px; }

p {
  font-size: 12px; }

p.or {
  position: absolute;
  top: 176px;
  left: 332px;
  z-index: 100;
  width: 64px;
  height: 64px;
  margin: 0;
  text-indent: -9999px;
  background-image: url(/assets/content_bg/application_sprite-0758091485eaa855b14f0f07e919d9bb.png);
  background-position: -515px -419px; }

fieldset ol {
  padding: 0 0 0 75px; }
  fieldset ol ol {
    padding: 0; }
fieldset li {
  float: left;
  width: 100%;
  text-align: left;
  margin: 0 0 14px; }
fieldset li.note {
  width: auto;
  padding: 0 20px 0 152px;
  font-size: 12px; }
fieldset li:last-child {
  margin-bottom: 0; }
fieldset img {
  display: block;
  float: left;
  margin: 0;
  padding: 5px 0 0 5px; }
fieldset label {
  display: block;
  float: left;
  width: 135px;
  margin-right: 15px !important;
  padding: 3px 0 0;
  text-align: right;
  line-height: 18px; }
fieldset input, fieldset select, fieldset textarea {
  float: left;
  width: 264px;
  margin: 0;
  padding: 5px;
  font-size: 13px;
  line-height: 18px;
  background-color: #fff;
  border: 1px solid #c4c3c3;
  border-radius: 3px;
  -moz-box-shadow: inset 1px 1px 3px #ddd;
  -webkit-box-shadow: inset 1px 1px 3px #ddd;
  box-shadow: inset 1px 1px 3px #ddd; }
fieldset select {
  width: 276px; }
fieldset input[type=checkbox], fieldset input[type=radio] {
  width: auto;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
fieldset input[type=submit] {
  width: auto;
  height: auto;
  padding: 7px 30px; }
fieldset textarea {
  height: 85px; }
fieldset .radio_group, fieldset .checkbox_group, fieldset .textbox_group, fieldset .text_group {
  float: left;
  width: 276px;
  position: relative; }
  fieldset .radio_group li, fieldset .checkbox_group li, fieldset .textbox_group li, fieldset .text_group li {
    width: auto;
    margin: 0; }
  fieldset .radio_group label, fieldset .checkbox_group label, fieldset .textbox_group label, fieldset .text_group label {
    width: auto;
    font-weight: normal;
    text-align: left;
    line-height: 18px; }
  fieldset .radio_group input, fieldset .checkbox_group input, fieldset .textbox_group input, fieldset .text_group input {
    display: inline-block;
    margin: 0 5px 0 0; }
  fieldset .radio_group .choices, fieldset .checkbox_group .choices, fieldset .textbox_group .choices, fieldset .text_group .choices {
    height: auto;
    max-height: auto;
    overflow: visible; }
    fieldset .radio_group .choices img, fieldset .checkbox_group .choices img, fieldset .textbox_group .choices img, fieldset .text_group .choices img {
      left: 307px; }
  fieldset .radio_group .inline-errors, fieldset .radio_group img, fieldset .checkbox_group .inline-errors, fieldset .checkbox_group img, fieldset .textbox_group .inline-errors, fieldset .textbox_group img, fieldset .text_group .inline-errors, fieldset .text_group img {
    position: absolute;
    top: 26px;
    left: 0;
    margin: 0;
    white-space: nowrap; }
  fieldset .radio_group img, fieldset .checkbox_group img, fieldset .textbox_group img, fieldset .text_group img {
    top: 0;
    right: 9px;
    left: auto; }
fieldset .textbox_group, fieldset .text_group {
  padding: 0 0 0 20px;
  list-style: decimal; }
  fieldset .textbox_group li, fieldset .text_group li {
    float: none; }
  fieldset .textbox_group input, fieldset .text_group input {
    display: inline-block;
    float: none;
    margin: 0 0 5px; }
fieldset .text_group {
  list-style: none; }
fieldset .select_group select {
  float: left;
  width: 88px;
  margin-right: 5px; }
  fieldset .select_group select:last-child {
    margin: 0;
    width: 90px; }
fieldset .required abbr {
  color: #0099ff; }
fieldset .blue_btn {
  line-height: 18px; }
fieldset .inline-errors {
  display: block;
  position: relative;
  left: 152px;
  float: left;
  clear: left;
  margin: 5px 0 0 5px;
  padding: 0 0 1px 22px;
  color: #666;
  background: url(/assets/users/error-a95a1be24c80db8c302dd12073baff90.png) 0 0 no-repeat; }
fieldset .toggle {
  display: block;
  position: relative;
  left: 152px;
  float: left;
  clear: left;
  margin: 4px 0 0; }
fieldset .choices {
  max-height: 130px;
  overflow: auto; }

/* Additional form links (e.g. Forgot Password?)
 ------------------------------------*/
.add_links a {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #999; }
.add_links a:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: none; }

/* Old Buttons remove when SZ Updates Forms */
div.actions fieldset, .store_action_btns fieldset {
  float: right; }
  div.actions fieldset li, .store_action_btns fieldset li {
    float: right; }
  div.actions fieldset input, .store_action_btns fieldset input {
    margin-left: 10px; }

.actions p {
  float: left;
  width: 335px;
  margin: 0; }
  .actions p a {
    display: inline;
    margin: 0;
    float: none; }
.actions li {
  float: right;
  width: auto;
  margin: 0 0 0 10px; }
.actions input, .actions object, .actions a, .actions button {
  display: block;
  float: right;
  margin: 0 0 0 10px; }
.actions .previous_step {
  float: left;
  padding: 0 0 0 15px;
  color: #09f;
  line-height: 28px;
  text-decoration: underline;
  background-color: transparent;
  background-image: url(/assets/content_bg/application_sprite-0758091485eaa855b14f0f07e919d9bb.png);
  background-position: -171px -2900px;
  cursor: pointer; }
  .actions .previous_step:hover {
    color: #597686; }

/* General form classes */
.login_box {
  margin: 0 0 10px;
  padding: 18px 10px 30px 25px;
  border-radius: 2px;
  background-color: #f0f0f0;
  background-image: url(/assets/content_bg/login_box-926c42b00988cf2fb47fa8768418639b.png); }

/* SOCIAL LOGIN STYLES
------------------------------------
:: Styles for the social login.
------------------------------------*/
#social_login {
  margin: 0 0 40px; }
  #social_login p {
    margin: 0 0 7px;
    font-size: 15px; }
  #social_login .social_icons {
    margin: 0 0 12px; }
    #social_login .social_icons li {
      display: inline-block; }
    #social_login .social_icons a {
      width: 30px;
      height: 30px;
      font-size: 12px;
      line-height: 30px; }
      #social_login .social_icons a.facebook {
        width: 143px;
        padding: 0 0 0 30px;
        color: #fff;
        text-decoration: none;
        text-indent: 0;
        font-weight: bold; }
        #social_login .social_icons a.facebook:hover {
          text-shadow: 0 0 1px #769cd6; }
  #social_login .social_icon {
    display: inline-block;
    text-indent: -9999px;
    background-image: url(/assets/content_bg/social_login_sprite-1f4d81dbbf77c220a353625efba4ca42.png); }
  #social_login .facebook_login, #social_login .facebook_signup {
    width: 290px;
    height: 55px;
    margin-left: -2px; }
  #social_login .facebook_login {
    background-position: 0 0; }
  #social_login .facebook_login:hover {
    background-position: -292px 0; }
  #social_login .facebook_signup {
    background-position: -584px 0; }
  #social_login .facebook_signup:hover {
    background-position: -876px 0; }
  #social_login .facebook {
    background-position: -128px -57px; }
  #social_login .twitter {
    background-position: 0 -57px; }
  #social_login .google {
    background-position: -32px -57px; }
  #social_login .foursquare {
    background-position: -64px -57px; }
  #social_login .yahoo {
    background-position: -96px -57px; }
  #social_login .facebook:hover {
    background-position: -128px -89px; }
  #social_login .twitter:hover {
    background-position: 0 -89px; }
  #social_login .google:hover {
    background-position: -32px -89px; }
  #social_login .foursquare:hover {
    background-position: -64px -89px; }
  #social_login .yahoo:hover {
    background-position: -96px -89px; }
/*



*/
