/* List View Tab */
.recent_lists .date {
  color: #8EA8B5;
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  line-height: 11px;
  padding-top: 1px;
  text-transform: uppercase;
  width: 80px; }
.recent_lists .info {
  width: 470px; }
.recent_lists .btn_blue {
  margin: 10px 0 0 0 !important;
  width: 70px !important; }
.recent_lists .published {
  color: #0099ff;
  margin-top: 10px; }
.recent_lists .error {
  color: red;
  margin-top: 10px; }
