/* Recent Activities Overview */
.activities_empty {
  color: #375363;
  padding: 20px 0;
  text-align: center; }
  .activities_empty p {
    color: #375363;
    font-size: 12px;
    line-height: 16px; }

.recent_activities {
  border-bottom: 1px solid #adc0c9;
  display: block;
  margin-top: -5px;
  overflow: hidden;
  padding-bottom: 10px; }
  .recent_activities .row {
    display: block;
    padding-bottom: 5px;
    width: 550px; }
    .recent_activities .row:first-child {
      padding-top: 0; }
      .recent_activities .row:first-child .activity_cont {
        border-top: none; }
    .recent_activities .row:nth-child(3) {
      border: none;
      padding-bottom: 0;
      margin: 0; }
    .recent_activities .row .activity_cont {
      border-top: 1px dashed #adc0c9;
      display: block;
      float: left;
      margin-left: 0;
      padding: 10px 0 0 0;
      position: relative;
      width: 270px; }
      .recent_activities .row .activity_cont:nth-child(2) {
        margin-left: 10px;
        padding: 10px 0 0 0; }
      .recent_activities .row .activity_cont .thumbnail {
        width: 85px;
        height: 85px; }
      .recent_activities .row .activity_cont .info {
        display: block;
        min-height: 91px;
        text-align: left;
        padding-left: 10px;
        position: relative;
        width: 163px; }
        .recent_activities .row .activity_cont .info .activity {
          color: #0099FF;
          font-size: 10px;
          line-height: 100%;
          text-transform: uppercase; }
        .recent_activities .row .activity_cont .info .name {
          font-size: 12px;
          line-height: 14px;
          font-weight: bold;
          padding: 2px 0; }
          .recent_activities .row .activity_cont .info .name a {
            color: #000000; }
            .recent_activities .row .activity_cont .info .name a:hover {
              text-decoration: none; }
        .recent_activities .row .activity_cont .info .type {
          padding: 2px 0 5px 0;
          margin: 0; }
        .recent_activities .row .activity_cont .info .event_date {
          bottom: 0;
          color: #0099FF;
          font-size: 11px;
          left: 10px;
          text-transform: uppercase;
          position: absolute; }
      .recent_activities .row .activity_cont .date {
        color: #8EA8B5;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9px;
        line-height: 100%;
        position: absolute;
        text-align: left;
        text-transform: uppercase;
        top: 1px;
        right: -10px; }

.recent_activities_arrows {
  height: 22px;
  margin-top: 7px; }
  .recent_activities_arrows .btn {
    border: 1px solid #e3e8ea;
    border-bottom: 1px solid #cfd1d3;
    cursor: pointer;
    height: 22px;
    width: 45px;
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #f1f1f1 100%);
    background: -o-linear-gradient(top, #fdfdfd 0%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0%, #f1f1f1 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%, #f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f1f1f1',GradientType=0 );
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: #ebeeef;
    -moz-box-shadow: #ebeeef;
    box-shadow: #ebeeef;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none; }
    .recent_activities_arrows .btn.disabled {
      cursor: default;
      pointer-events: none;
      opacity: 0.5; }
    .recent_activities_arrows .btn:hover {
      background: #f1f1f1;
      background: -moz-linear-gradient(top, #f1f1f1 0%, #fdfdfd 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #fdfdfd));
      background: -webkit-linear-gradient(top, #f1f1f1 0%, #fdfdfd 100%);
      background: -o-linear-gradient(top, #f1f1f1 0%, #fdfdfd 100%);
      background: -ms-linear-gradient(top, #f1f1f1 0%, #fdfdfd 100%);
      background: linear-gradient(to bottom, #f1f1f1 0%, #fdfdfd 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#fdfdfd',GradientType=0 ); }
    .recent_activities_arrows .btn:first-child {
      margin-right: 3px; }
    .recent_activities_arrows .btn .arrow_down {
      width: 0px;
      height: 0px;
      margin: 7px auto 0 auto;
      border-style: solid;
      border-width: 0 7px 8px 7px;
      border-color: transparent transparent #0099ff transparent;
      -webkit-transform: rotate(360deg);
      -webkit-box-shadow: 0px 1px 0px 0px #FFFFFF;
      -moz-box-shadow: 0px 1px 0px 0px #FFFFFF;
      box-shadow: 0px 1px 0px 0px #FFFFFF; }
    .recent_activities_arrows .btn .arrow_up {
      width: 0px;
      height: 0px;
      margin: 7px auto 0 auto;
      border-style: solid;
      border-width: 8px 7px 0 7px;
      border-color: #0099ff transparent transparent transparent;
      -webkit-transform: rotate(360deg);
      -webkit-box-shadow: 0px -1px 0px 0px #FFFFFF;
      -moz-box-shadow: 0px -1px 0px 0px #FFFFFF;
      box-shadow: 0px -1px 0px 0px #FFFFFF; }
