/*BEGIN STYLING FOR USER PROFILES*/
/*---------------------------------------------*/
#user_profile h1 {
  margin: 0 0 15px; }
#user_profile h2 {
  margin: 0 0 5px;
  color: #09f;
  font-size: 16px;
  font-weight: bold; }

#user_image {
  float: left;
  width: 200px;
  margin: 0 23px 0 0; }
  #user_image img {
    display: block;
    width: 198px;
    margin: 0 0 5px;
    border: 1px solid #000; }
  #user_image li {
    font-size: 10px; }

#user_info {
  float: left;
  width: 480px; }
  #user_info p:last-child {
    padding-bottom: 0; }
  #user_info .section {
    margin: 0 0 10px;
    padding: 10px 0 0;
    border-top: 1px dashed #ccc; }
    #user_info .section:first-child {
      padding-top: 0;
      border-top: 0; }
  #user_info dl {
    position: relative; }
  #user_info dt, #user_info dd {
    line-height: 20px;
    min-height: 20px; }
  #user_info dt {
    position: absolute;
    left: 0;
    color: #999; }
  #user_info dd {
    padding: 1px 0 1px 140px;
    color: #000; }
  #user_info #reviews_comments dt {
    height: 12px;
    min-height: 0;
    width: 82px;
    margin: 6px 0 0;
    padding: 0 5px 0 0;
    line-height: 12px;
    border-right: 1px solid #ccc; }
  #user_info #reviews_comments dd {
    padding-left: 97px; }
  #user_info #reviews_comments .title {
    position: relative;
    top: 4px;
    min-height: 14px;
    font-weight: bold;
    line-height: 13px; }
