.tickets_button {
    text-align: center;
    font-family: Arial;
    color: #0099FF;
    font-size: 12px;
    padding: 9px;
    padding-top: 0px;
    text-decoration: none;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 8px;
    background-image: url("http://img-fotki.yandex.ru/get/9314/14651338.3/0_b6c66_c820e802_orig");
    background-color: white;
    background-position: bottom;
    background-repeat: repeat-x;
    border: solid #d2d1d9 1px;
}

.tickets_button .text {
    position: absolute;
}

.tickets_button.large {
    font-size: 20pt
}

.tickets_button.large .text {
    top: 15px;
    left: 23px;
}

.tickets_button.medium .text {
    top: 8px;
    left: 9px;
}

.tickets_button.small .text {
    top: 3px;
    left: 5px;
}

.tickets_button.medium {
    font-size: 15pt
}

.tickets_button.small {
    font-size: 14px;
    font-weight: bold;
}

.img {
    position: absolute;
    z-index: 0;
}

.tickets_button.no_image .img {
    display: none
}

.tickets_button.mini_image .img {
    width: 20px;
    height: 20px;
    background: yellow;
}

.tickets_button.large.full_image .img {
    height: 30px;
    color: rgb(71, 71, 71);
    bottom: 0px;
    right: 28px;
    top: 32px;
    font-size: 12px;
    font-weight: bold;
}

.tickets_button.medium.full_image .img {
    height: 30px;
    color: gray;
    bottom: 0px;
    right: 85px;
    top: 32px;
    font-size: 9px;
}

.tickets_button.small.full_image .img {
    height: 30px;
    color: gray;
    bottom: 0px;
    right: 114px;
    top: 22px;
    font-size: 9px;
    font-weight: normal;
}

.button_wrapper {
    position: relative;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}
