/* Tickets Button */


body {
  margin: 0 !important;
  padding: 0 !important;
}

.button_wrapper {
  position: relative;
}
.clearfix {
  clear: both;
}

.tickets_button {
  border-collapse: collapse;
  display: inline-block;
  font-family: Arial;
  text-align: center;
  padding: 0;
  position: relative;
}

.tickets_button td {
  padding: 0;
}

.tickets_button td {
  vertical-align: top;
}

.border_cont {
  padding: 0 5px;
  position: relative;
}

.gradient {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 900;
}

/***********************/
/* Silver Button Color */
/***********************/

.silver .border_cont {
  background: #e1e8ec;
  border: 1px solid #b4c6cf;
}

.silver .border_cont .gradient {
  background: #f1f5f6;
}

/*********************/
/* Blue Button Color */
/*********************/

.blue .border_cont {
  background: #0085de;
  border: 1px solid #0378c6;
}

.blue .border_cont .gradient {
  background: #0099FF;
}

/***********************/
/* Orange Button Color */
/***********************/

.orange .border_cont {
  background: #f47b00;
  border: 1px solid #c88003;
}

.orange .border_cont .gradient {
  background: #ff9000;
}

/****************/
/* Button Sizes */
/****************/

.large  {
  height: 50px !important;
}

.medium {
  height: 40px !important;
}
.small {
  height: 30px !important;
}

.large .border_cont {
  height: 48px !important;
}

.medium .border_cont {
  height: 38px !important;
}

.small .border_cont {
  height: 28px !important;
}

.large .gradient {
  height: 25px;
}

.medium .gradient {
  height: 20px;
}

.small .gradient {
  height: 15px;
}

/**************/
/* Text Sizes */
/**************/

.no_logo_text {
  display: none;
  font-size: 10px;
  font-weight: normal;
}

.btn_text {
  display: block;
  font-weight: bold;
  line-height: 100%;
  position: relative;
  z-index: 902;
}

.large .btn_text {
  font-size: 22px;
  line-height: 20px;
  margin-top: 13px;
  min-width: 155px;
}

.medium .btn_text {
  font-size: 16px;
  line-height: 14px;
  margin-top: 11px;
  min-width: 110px;
}

.small .btn_text {
  font-size: 13px;
  line-height: 10px;
  margin-top: 8px;
  min-width: 85px;
}

/************************/
/* Logo Container Sizes */
/************************/

.img_cont {
  float: left;
  padding: 0 10px;
  z-index: 909;
  background: #ffffff;
  border-top: 1px solid #dae4e9;
  border-right: 1px solid #dae4e9;
  border-bottom: 1px solid #dae4e9;
}

.img_cont .img {
  display: block;
}

.large .img_cont {
  height: 48px;
}

.medium .img_cont {
  height: 38px;
}

.small .img_cont {
  height: 28px;
}

/********************/
/* Large Logo Sizes */
/********************/

.large.full_image .img_large {
  height: 39px !important;
  margin-top: 4px;
  width: 61px;
}

.large.full_image .img_large_stacked,
.large.full_image .img_medium,
.large.full_image .img_medium_stacked,
.large.full_image .img_small,
.large.full_image .img_small_stacked {
  display: none !important;
}

.large.mini_image .img_large_stacked {
  height: 32px !important;
  margin-top: 10px;
  width: 45px;
}

.large.mini_image .img_large,
.large.mini_image .img_medium,
.large.mini_image .img_medium_stacked,
.large.mini_image .img_small,
.large.mini_image .img_small_stacked {
  display: none !important;
}

/*********************/
/* Medium Logo Sizes */
/*********************/

.medium.full_image .img_medium {
  height: 32px !important;
  margin-top: 2px;
  width: 51px;
}

.medium.full_image .img_large,
.medium.full_image .img_large_stacked,
.medium.full_image .img_medium_stacked,
.medium.full_image .img_small,
.medium.full_image .img_small_stacked {
  display: none !important;
}

.medium.mini_image .img_medium_stacked {
  height: 25px !important;
  margin-top: 7px;
  width: 34px;
}

.medium.mini_image .img_large,
.medium.mini_image .img_large_stacked,
.medium.mini_image .img_medium,
.medium.mini_image .img_small,
.medium.mini_image .img_small_stacked {
  display: none !important;
}

/********************/
/* Small Logo Sizes */
/********************/

.small.full_image .img_small {
  height: 22px !important;
  margin-top: 2px;
  width: 35px;
}

.small.full_image .img_large,
.small.full_image .img_large_stacked,
.small.full_image .img_medium,
.small.full_image .img_medium_stacked,
.small.full_image .img_small_stacked {
  display: none !important;
}

.small.mini_image .img_small_stacked {
  height: 20px !important;
  margin-top: 5px;
  width: 27px;
}

.small.mini_image .img_large,
.small.mini_image .img_large_stacked,
.small.mini_image .img_medium,
.small.mini_image .img_medium_stacked,
.small.mini_image .img_small {
  display: none !important;
}

/***********/
/* No Logo */
/***********/

.no_logo .img_cont {
  display: none;
}

.no_logo.small .btn_text {
  min-width: 85px;
}

.no_logo .no_logo_text {
  display: none;
}

/************/
/* No Image */
/************/

.no_image .img_cont {
  display: none;
}

.no_image.small .btn_text {
  min-width: 85px;
}

.no_image .no_logo_text {
  display: block !important;
  width: 100% !important;
  z-index: 910 !important;
}

/******************/
/* No Image Large */
/******************/

.no_image.large .btn_text {
  margin-top: 7px;
}

.no_image.large .no_logo_text {
  font-size: 12px;
  line-height: 9px;
  margin-top: 5px;
}

/*******************/
/* No Image Medium */
/*******************/

.no_image.medium .btn_text {
  margin-top: 6px;
}

.no_image.medium .no_logo_text {
  font-size: 11px;
  line-height: 9px;
  margin-top: 4px;
}

/******************/
/* No Image Small */
/******************/

.no_image.small .btn_text {
  margin-top: 3px;
}

.no_image.small .no_logo_text {
  font-size: 9px;
  line-height: 8px;
  margin-top: 3px;
}

/************************/
/* Silver Button Styles */
/************************/

.silver .btn_text {
  color: #597686;
  text-shadow: 0px 1px 0px #f8f9fa;
}

.silver .no_logo_text {
  color: #57707d !important;
}

/**********************/
/* Blue Button Styles */
/**********************/

.blue .btn_text {
  color: #ffffff;
  text-shadow: -1px -1px 0px #006cb4;
}

.blue .no_logo_text {
  color: #a9ddff !important;
}

/************************/
/* Orange Button Styles */
/************************/

.orange .btn_text {
  color: #ffffff;
  text-shadow: -1px -1px 0px #d76c00;
}

.orange .no_logo_text {
  color: #ffdc9f !important;
}
