/*BEGIN CHARACTER PICKS STYLES*/
/*-------------------------------------------*/
#right_column .character_picks,
.right_column .character_picks {
  margin: 0 0 11px; }
  #right_column .character_picks .persona,
  .right_column .character_picks .persona {
    z-index: 1;
    margin: 0 9px 0 0; }
  #right_column .character_picks .headline.title,
  .right_column .character_picks .headline.title {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    line-height: 21px;
    position: relative;
    top: -3px;
    min-height: 34px;
    z-index: 0;
    width: 168px; }
  #right_column .character_picks .character_item,
  .right_column .character_picks .character_item {
    margin: 0 0 3px; }
    #right_column .character_picks .character_item .blue_text.arrow,
    .right_column .character_picks .character_item .blue_text.arrow {
      top: -1px;
      float: left;
      height: 15px;
      width: 10px;
      display: block; }
    #right_column .character_picks .character_item .black_link,
    .right_column .character_picks .character_item .black_link {
      float: left;
      width: 194px; }
  #right_column .character_picks .character_likes,
  .right_column .character_picks .character_likes {
    color: #fff;
    padding: 10px 8px;
    border-radius: 4px;
    font-size: 11px;
    line-height: 14px;
    margin: 10px 0 5px 0; }
    #right_column .character_picks .character_likes .title,
    .right_column .character_picks .character_likes .title {
      display: block; }
    #right_column .character_picks .character_likes a, #right_column .character_picks .character_likes a:visited, #right_column .character_picks .character_likes .fake_link,
    .right_column .character_picks .character_likes a,
    .right_column .character_picks .character_likes a:visited,
    .right_column .character_picks .character_likes .fake_link {
      color: #fff;
      text-decoration: underline; }
    #right_column .character_picks .character_likes a:hover, #right_column .character_picks .character_likes .fake_link:hover,
    .right_column .character_picks .character_likes a:hover,
    .right_column .character_picks .character_likes .fake_link:hover {
      color: #efefef; }
#right_column .character_picks.lucas .headline,
#right_column .character_picks.lucas .blue_text.arrow,
.right_column .character_picks.lucas .headline,
.right_column .character_picks.lucas .blue_text.arrow {
  color: #3375C4; }
#right_column .character_picks.lucas .character_likes,
.right_column .character_picks.lucas .character_likes {
  background: #3375C4; }
#right_column .character_picks.adriana .headline,
#right_column .character_picks.adriana .blue_text.arrow,
.right_column .character_picks.adriana .headline,
.right_column .character_picks.adriana .blue_text.arrow {
  color: #B8529E; }
#right_column .character_picks.adriana .character_likes,
.right_column .character_picks.adriana .character_likes {
  background: #B8529E; }
#right_column .character_picks.jonah .headline,
#right_column .character_picks.jonah .blue_text.arrow,
.right_column .character_picks.jonah .headline,
.right_column .character_picks.jonah .blue_text.arrow {
  color: #95C946; }
#right_column .character_picks.jonah .character_likes,
.right_column .character_picks.jonah .character_likes {
  background: #95C946; }
#right_column .character_picks.emma .headline,
#right_column .character_picks.emma .blue_text.arrow,
.right_column .character_picks.emma .headline,
.right_column .character_picks.emma .blue_text.arrow {
  color: #FFCC05; }
#right_column .character_picks.emma .character_likes,
.right_column .character_picks.emma .character_likes {
  background: #FFCC05; }
