/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
#right_column .recent_articles.pod_rounded,
.right_column .recent_articles.pod_rounded,
.right_container .recent_articles.pod_rounded {
  margin: 0 0 12px;
  padding: 13px 14px;
  line-height: 16px; }
  #right_column .recent_articles.pod_rounded .title,
  .right_column .recent_articles.pod_rounded .title,
  .right_container .recent_articles.pod_rounded .title {
    color: #09F;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 6px; }
  #right_column .recent_articles.pod_rounded .headline.sub_headline,
  .right_column .recent_articles.pod_rounded .headline.sub_headline,
  .right_container .recent_articles.pod_rounded .headline.sub_headline {
    display: block;
    text-decoration: underline;
    margin: 0 0 13px;
    font-size: 21px;
    line-height: 22px;
    color: #375363;
    font-weight: bold; }
  #right_column .recent_articles.pod_rounded .headline.sub_headline:hover,
  .right_column .recent_articles.pod_rounded .headline.sub_headline:hover,
  .right_container .recent_articles.pod_rounded .headline.sub_headline:hover {
    color: #000; }
  #right_column .recent_articles.pod_rounded .object_photo,
  .right_column .recent_articles.pod_rounded .object_photo,
  .right_container .recent_articles.pod_rounded .object_photo {
    display: block;
    margin: 0 0 11px;
    border: 1px solid #ADC0C9; }
    #right_column .recent_articles.pod_rounded .object_photo img,
    .right_column .recent_articles.pod_rounded .object_photo img,
    .right_container .recent_articles.pod_rounded .object_photo img {
      display: block;
      width: 210px;
      height: 140px; }
  #right_column .recent_articles.pod_rounded .desc,
  .right_column .recent_articles.pod_rounded .desc,
  .right_container .recent_articles.pod_rounded .desc {
    position: relative;
    height: 106px;
    overflow: hidden; }
    #right_column .recent_articles.pod_rounded .desc .ellipses_dots,
    .right_column .recent_articles.pod_rounded .desc .ellipses_dots,
    .right_container .recent_articles.pod_rounded .desc .ellipses_dots {
      font-size: 12px;
      line-height: 15px;
      background: #fff;
      position: absolute;
      right: 0;
      bottom: -1px;
      max-width: 334px;
      height: 15px;
      overflow: hidden; }
  #right_column .recent_articles.pod_rounded .other_articles,
  .right_column .recent_articles.pod_rounded .other_articles,
  .right_container .recent_articles.pod_rounded .other_articles {
    border-top: 1px solid #8EA8B5;
    margin: 11px 0 4px;
    border-bottom: 2px solid #8EA8B5;
    padding: 0 0 3px; }
    #right_column .recent_articles.pod_rounded .other_articles .photo_item,
    .right_column .recent_articles.pod_rounded .other_articles .photo_item,
    .right_container .recent_articles.pod_rounded .other_articles .photo_item {
      width: 100px;
      margin: 0 10px 8px 0;
      padding: 11px 0 0;
      line-height: 15px; }
      #right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo,
      .right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo,
      .right_container .recent_articles.pod_rounded .other_articles .photo_item .object_photo {
        border: 1px solid #ADC0C9;
        display: block;
        margin: 0 0 3px; }
        #right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo img,
        .right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo img,
        .right_container .recent_articles.pod_rounded .other_articles .photo_item .object_photo img {
          display: block;
          width: 98px;
          height: 65px; }
    #right_column .recent_articles.pod_rounded .other_articles li:last-child,
    .right_column .recent_articles.pod_rounded .other_articles li:last-child,
    .right_container .recent_articles.pod_rounded .other_articles li:last-child {
      margin-right: 0; }
    #right_column .recent_articles.pod_rounded .other_articles li.last,
    .right_column .recent_articles.pod_rounded .other_articles li.last,
    .right_container .recent_articles.pod_rounded .other_articles li.last {
      margin-right: 0; }
  #right_column .recent_articles.pod_rounded .more_link,
  .right_column .recent_articles.pod_rounded .more_link,
  .right_container .recent_articles.pod_rounded .more_link {
    text-align: right;
    line-height: 10px; }
    #right_column .recent_articles.pod_rounded .more_link .blue_text.arrow,
    .right_column .recent_articles.pod_rounded .more_link .blue_text.arrow,
    .right_container .recent_articles.pod_rounded .more_link .blue_text.arrow {
      color: #FF9000;
      top: 0; }
/*

*/
/*BEGIN MASTHEAD CSS*/
/*------------------------------------------------------------*/
#masthead .logo_city #site_logo {
  background: url(/assets/pamplona/pamplona_subpage_sprite-115c7bb02195a1618f7bd28dc51b1efa.png) 0 -1175px no-repeat transparent;
  width: 244px;
  height: 51px; }
  #masthead .logo_city #site_logo img {
    display: none; }
#masthead .top_line .preview_cities .city:hover {
  color: #cc0000; }
#masthead .top_line .preview_cities .more_cities_list .blue_link,
#masthead .top_line .preview_cities .more_cities_list .blue_link:visited {
  color: #cc0000; }
#masthead .top_line .preview_cities .more_cities_list .blue_link:hover {
  color: #597686; }
#masthead .top_line .preview_cities .more_cities_list .arrow_down {
  border-color: #cc0000 transparent transparent transparent; }
#masthead .top_line .preview_cities .more_cities_list .list .close_link .arrow_up {
  border-color: transparent transparent #cc0000 transparent; }
#masthead .top_line .preview_cities .more_cities_list .list .close_link .border_link:hover {
  color: #597686 !important; }
#masthead .search_nav #masthead_search {
  background: url(/assets/pamplona/pamplona_subpage_sprite-115c7bb02195a1618f7bd28dc51b1efa.png) 0 -1282px no-repeat transparent; }
#masthead .search_nav .main_nav .home.link a, #masthead .search_nav .main_nav .home.link a:hover {
  background: url(/assets/pamplona/pamplona_subpage_sprite-115c7bb02195a1618f7bd28dc51b1efa.png) 0 -1240px no-repeat transparent; }
#masthead .search_nav .main_nav .link_divider {
  margin: 0 8px; }

/*BEGIN NAVIGATION CSS*/
/*------------------------------------------------------------*/
#masthead .main_nav .link a,
#masthead .main_nav .link a:visited,
#masthead .main_nav .link .fake_link,
#welcome_box a:link,
#welcome_box a:visited,
.red_links a:link,
.red_links a:visited,
.red_links .fake_link {
  color: #cc0000; }

#masthead .main_nav .link a:hover,
#masthead .main_nav .fake_link:hover,
#welcome_box #username a:hover,
.red_links a:hover,
.red_links .fake_link:hover {
  color: #cc0000;
  text-decoration: underline; }

.red_links .border_link:hover {
  color: #cc0000 !important; }

.red_links .tab_text:hover {
  /*To prevent the tab labels from turning red on hover*/
  color: #212121; }

/*BEGIN GENERAL PROPERTIES*/
/*------------------------------------------------------------*/
.read_more_arrow {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) 0 -1107px no-repeat transparent;
  width: 26px; }

.red_text_arrow {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) 0 -1092px no-repeat transparent;
  height: 11px;
  width: 14px;
  *position: relative;
  *top: -5px;
  *margin: 0 5px 0 0; }

.top_left_pods {
  width: 735px; }

/*BEGIN IBIZA SCENE DESC SECTION*/
/*------------------------------------------*/
.pamplona_desc {
  width: 240px; }

.pamplona_desc_content {
  height: 381px;
  overflow: hidden;
  width: 220px; }

.pamplona_desc_content .headline {
  line-height: 25px;
  line-height: 23px\9; }

.pamplona_desc_content .headline .small_text {
  font-family: "PT Sans Narrow", arial, sans-serif;
  font-size: 25px;
  line-height: 37px;
  line-height: 37px\9;
  letter-spacing: -1px \9; }

.pamplona_desc_content p {
  margin: 0;
  padding: 0; }

.pamplona_desc_content .desc_info {
  height: 106px;
  height: 107px\9;
  overflow: hidden;
  position: relative; }

.pamplona_desc_content .schedule_link {
  background-position: 134px -2904px; }

/*BEGIN VIDEO, PHOTOS, and MAP SECTION*/
/*------------------------------------------*/
.vid_gal_map {
  margin: 0 0 0 15px;
  width: 480px; }

.vid_gal_map #videos_info,
.vid_gal_map #gal_info,
.vid_gal_map #map_info {
  height: 360px;
  width: 460px; }

/*FOR VIDEOS*/
/*-------------------------------*/
#videos_info .video_section.horizontal_width480 .video_title.headline {
  width: 460px; }

/*FOR PHOTOS*/
/*-------------------------------*/
/*FOR MAP*/
/*------------------------------*/
#pamplona_city_content .vid_gal_map #map_info .map {
  border: 1px solid #CCCCCC;
  height: 313px;
  width: 458px; }

#pamplona_city_content .city_map .overlay {
  bottom: 40px;
  *bottom: 49px; }

#pamplona_city_content .event_popup .read_more_txt_link_right {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) -4px -1090px no-repeat transparent; }

#pamplona_city_content .map .headline a {
  color: #000; }

.pamplona .city_map .overlay #calendar_arrow {
  left: 170px; }

.pamplona .map_controls #result_types {
  bottom: 0;
  *bottom: 7px;
  position: absolute;
  right: -18px; }

.pamplona #venue_marker,
.pamplona .Venues.Checkbox,
.pamplona #advanced_search_text {
  display: none; }

.pamplona .map_controls #location_btn,
.pamplona .map_controls #calendar_btn {
  bottom: -6px;
  position: relative; }

.pamplona .map_controls #location_btn {
  background-position: -15px -446px;
  width: 123px;
  height: 36px; }

.pamplona .map_controls #location_btn:hover {
  background-position: -15px -482px; }

.pamplona .map_controls #calendar_btn {
  background-position: -138px -446px;
  width: 108px;
  height: 36px; }

.pamplona .map_controls #calendar_btn:hover {
  background-position: -138px -482px; }

/*BEGIN RUNNING OF THE BULLS SECTION*/
/*------------------------------------------*/
.bull_run_section {
  width: 990px; }

/*BEGIN ACCORDION SECTION*/
/*------------------------------*/
.bull_run_section .accordion {
  height: 425px;
  width: 245px; }

#pamplona_city_content .bull_run_section .accordion_header {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) 0 -607px no-repeat transparent;
  height: 61px;
  left: -3px;
  margin: 0 0 5px;
  position: relative;
  top: -3px;
  width: 245px; }

.bull_run_section .accordion_header a:link {
  width: 245px;
  height: 61px;
  display: block;
  text-indent: -9999px; }

#pamplona_city_content .bull_run_section .header_one:hover,
#pamplona_city_content .bull_run_section .header_one.ui-state-active {
  background-position: -245px -607px; }

#pamplona_city_content .bull_run_section .accordion_header:focus {
  outline: none; }

#pamplona_city_content .bull_run_section .header_two {
  background-position: 0 -670px; }

#pamplona_city_content .bull_run_section .header_two:hover,
#pamplona_city_content .bull_run_section .header_two.ui-state-active {
  background-position: -245px -670px; }

#pamplona_city_content .bull_run_section .header_three {
  background-position: 0 -733px; }

#pamplona_city_content .bull_run_section .header_three:hover,
#pamplona_city_content .bull_run_section .header_three.ui-state-active {
  background-position: -245px -733px; }

.bull_run_section .accordion_content {
  line-height: 16px;
  margin: -2px 0 10px;
  padding: 0 27px 0 0 !important; }

.bull_run_section .accordion_content .content_photo {
  margin: 0 13px 6px 0; }

.bull_run_section .accordion_content p {
  padding: 0;
  position: relative;
  top: -2px; }

.bull_run_section .accordion_content.stages .read_more_arrow {
  bottom: 1px;
  right: auto; }

.bull_run_section .accordion_content .accordion_nav {
  line-height: 19px;
  margin: 3px 0 0; }

.bull_run_section .accordion_content .accordion_nav .nav_link {
  cursor: pointer; }

.bull_run_section .accordion_content .accordion_nav .nav_number {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) -200px -527px no-repeat transparent;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  margin: 0 3px 0 0;
  text-align: center;
  width: 16px; }

.bull_run_section .accordion_content .accordion_nav .nav_link.hover .nav_number,
.bull_run_section .accordion_content .accordion_nav .nav_link.selected .nav_number {
  background-position: -216px -527px; }

.bull_run_section .accordion_content .accordion_nav .nav_link.hover .fake_link,
.bull_run_section .accordion_content .accordion_nav .nav_link:hover .fake_link {
  text-decoration: underline; }

/*BEGIN GENERAL CONTENT SECTION STYLES*/
/*------------------------------*/
.bull_run_section .content_section {
  height: 423px;
  position: relative;
  width: 725px; }

.bull_run_section .content_section .curtain_separator {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) -695px -527px no-repeat transparent;
  width: 19px;
  height: 423px;
  position: absolute;
  top: 0;
  z-index: 2; }

.bull_run_section .content_section .left_curtain .curtain_separator {
  right: -7px; }

.bull_run_section .content_section .right_curtain .curtain_separator {
  left: -7px; }

/*BEGIN RUN/COURSE CONTENT SECTION*/
/*------------------------------*/
.bull_run_section .content_section.course .close_btn {
  position: absolute;
  top: 6px;
  right: 6px; }

.bull_run_section .content_section.course .bg_map {
  position: absolute;
  top: 0;
  left: 0; }

/*BEGIN HIGHLIGHTED MAP SEGMENTS*/
/*------------------------------*/
.bull_run_section .content_section.course .highlighted_segment {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) no-repeat transparent;
  position: absolute;
  z-index: 2;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)" !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF) !important; }

.bull_run_section .content_section.course .highlighted_segment.hover {
  cursor: pointer; }

.bull_run_section .content_section.course .highlighted_segment.one.hover,
.bull_run_section .content_section.course .highlighted_segment.one.selected {
  background-position: 0 -796px;
  width: 165px;
  height: 188px;
  top: 8px;
  left: 80px; }

.bull_run_section .content_section.course .highlighted_segment.two.hover,
.bull_run_section .content_section.course .highlighted_segment.two.selected {
  background-position: -165px -796px;
  width: 91px;
  height: 53px;
  top: 143px;
  left: 215px; }

.bull_run_section .content_section.course .highlighted_segment.three.hover,
.bull_run_section .content_section.course .highlighted_segment.three.selected {
  background-position: -165px -849px;
  width: 152px;
  height: 243px;
  top: 143px;
  left: 277px; }

.bull_run_section .content_section.course .highlighted_segment.four.hover,
.bull_run_section .content_section.course .highlighted_segment.four.selected {
  background-position: 0 -984px;
  width: 137px;
  height: 54px;
  top: 355px;
  left: 400px; }

/*BEGIN LEFT CURTAIN*/
/*------------------------------*/
.bull_run_section .course .left_curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 423px;
  overflow: hidden; }

.bull_run_section .course .left_curtain .sections_wrapper {
  width: 1344px;
  height: 423px;
  position: absolute;
  left: -1344px;
  color: #fff; }

.bull_run_section .left_curtain .sections_wrapper .photo {
  height: 423px;
  float: right; }

.bull_run_section .left_curtain .sections_wrapper .photo.history {
  width: 322px; }

.bull_run_section .left_curtain .sections_wrapper .photo.one {
  width: 92px; }

.bull_run_section .left_curtain .sections_wrapper .photo.two {
  width: 227px; }

.bull_run_section .left_curtain .sections_wrapper .photo.three {
  width: 291px; }

.bull_run_section .left_curtain .sections_wrapper .photo.four {
  width: 412px; }

.bull_run_section .course .left_curtain .photo {
  background: url(/assets/pamplona/pamplona_run_course_photos_sprite-2187a5070cf91ee074ac99457f8feac4.jpg) no-repeat transparent; }

.bull_run_section .course .left_curtain .history {
  background-position: -1022px 0; }

.bull_run_section .course .left_curtain .one {
  background-position: -930px 0; }

.bull_run_section .course .left_curtain .two {
  background-position: -703px 0; }

.bull_run_section .course .left_curtain .three {
  background-position: -412px 0; }

.bull_run_section .course .left_curtain .four {
  background-position: 0 0; }

/*BEGIN RIGHT CURTAIN*/
/*------------------------------*/
.bull_run_section .course .right_curtain {
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  height: 423px;
  overflow: hidden; }

.bull_run_section .course .right_curtain .sections_wrapper {
  width: 1820px;
  height: 423px;
  position: absolute;
  left: -1820px;
  background-color: #fff;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90); }

.bull_run_section .course .right_curtain .sections_wrapper .content_section {
  height: 387px;
  float: right; }

.bull_run_section .course .right_curtain .sections_wrapper .content_section.history {
  width: 403px; }

.bull_run_section .course .right_curtain .sections_wrapper .content_section.history .p2 {
  padding-left: 62px; }

.bull_run_section .course .right_curtain .sections_wrapper .content_section.history .p3 {
  padding-left: 98px; }

.bull_run_section .course .right_curtain .sections_wrapper .content_section.one {
  width: 498px; }

.bull_run_section .course .right_curtain .sections_wrapper .content_section.two {
  width: 434px; }

.bull_run_section .course .right_curtain .sections_wrapper .content_section.three {
  width: 312px; }

.bull_run_section .course .right_curtain .sections_wrapper .content_section.four {
  width: 173px; }

.bull_run_section .course .right_curtain .sections_wrapper .content_section .content_container {
  line-height: 16px;
  padding: 10px 15px 16px 23px; }

.bull_run_section .course .right_curtain .sections_wrapper .content_section .content_container .headline.sub_headline {
  font-size: 25px;
  font-weight: normal;
  line-height: 25px;
  margin: 0 0 4px; }

.bull_run_section .course .right_curtain .curtain_nav {
  border-top: 1px dashed #b1b1b1;
  bottom: 0;
  height: 26px;
  padding: 9px 0 0;
  position: absolute;
  right: 19px;
  width: 89%;
  z-index: 1; }

.bull_run_section .course .right_curtain .curtain_nav li {
  float: right;
  margin: 0 5px 0 0; }

.bull_run_section .course .right_curtain .curtain_nav .nav_number {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) -200px -527px no-repeat transparent;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  margin: 0 3px 0 0;
  text-align: center;
  width: 16px; }

.bull_run_section .course .right_curtain .curtain_nav .nav_number.hover,
.bull_run_section .course .right_curtain .curtain_nav .nav_number.selected {
  background-position: -216px -527px; }

.bull_run_section .course .right_curtain .curtain_nav .nav_number.selected {
  cursor: default; }

/*BEGIN STAGES OF THE RUN SECTION*/
/*------------------------------*/
.bull_run_section .content_section.stages {
  width: 725px;
  height: 423px; }

.bull_run_section .content_section.stages .stages_map {
  border: 1px solid #CCCCCC;
  width: 725px;
  height: 388px; }

.bull_run_section .content_section.stages .map_legend {
  margin: -5px 0 0; }

.bull_run_section .content_section.stages .map_legend img {
  margin: 0 2px 0 5px;
  position: relative; }

.bull_run_section .content_section.stages .map_legend .time_marker {
  top: 3px; }

.bull_run_section .content_section.stages .map_legend .runner_marker {
  top: 12px; }

.bull_run_section .content_section.stages .map_legend .spectator_marker {
  top: 12px; }

.bull_run_section .content_section.stages .map_legend .read_more_link {
  margin: 17px 0 0; }

/*BEGIN CLOTHING AND SHOES SECTION*/
/*------------------------------*/
/*BEGIN BOTTOM HALF*/
/*------------------------------------------------------------*/
.bottom_half {
  width: 990px; }

.bottom_half .left_column {
  width: 735px; }

.bottom_half .right_column {
  width: 240px; }

/*BEGIN FESTIVAL HIGHLIGHTS SECTION*/
/*------------------------------------------*/
.festival_highlights .headline.sub_headline {
  font-size: 21px;
  letter-spacing: 0.3px;
  line-height: 21px; }

.festival_highlights .headline.sub_headline a:link,
.festival_highlights .headline.sub_headline a:visited {
  color: #000; }

.festival_highlights .headline.sub_headline a:hover {
  text-decoration: underline; }

.festival_highlights .grey_text {
  color: #999; }

.festival_highlights p {
  padding: 0; }

.festival_highlights .festival_content .fest_item {
  width: 145px;
  margin: 0 45px 0 0; }

.festival_highlights .festival_content .fest_item .title_section {
  margin: 0 0 5px; }

.festival_highlights .festival_content .fest_item .title_section.two_line_match {
  height: 60px; }

.festival_highlights .festival_content .fest_item.last {
  margin: 0; }

/*BEGIN PLAN YOUR TRIP POD*/
/*------------------------------------------*/
.plan_trip .plan_trip_content .headline.sub_headline {
  font-size: 25px;
  font-weight: normal;
  line-height: 25px; }

/*IBIZA SCHEDULE OF EVENTS*/
/*------------------------------------------*/
.soe_info .headline {
  margin: 0 0 5px; }

.soe_info .headline a:link,
.soe_info .headline a:visited {
  color: #000; }

/*BEGIN COLLAPSE BAR*/
/*---------------------------------------*/
.custom_accordion .collapse_bar_wrapper {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) 100% -194px no-repeat transparent; }

.custom_accordion .collapse_bar_wrapper .inner_wrapper {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) 0 -157px no-repeat transparent; }

.custom_accordion .collapse_bar_wrapper:hover {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) 100% -268px no-repeat transparent; }

.custom_accordion .collapse_bar_wrapper:hover .inner_wrapper {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) 0 -231px no-repeat transparent; }

/*BEGIN EXPAND BAR*/
/*---------------------------------------*/
.custom_accordion .expand_bar_wrapper {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) 100% -342px no-repeat transparent; }

.custom_accordion .expand_bar_wrapper .inner_wrapper {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) 0 -305px no-repeat transparent; }

.custom_accordion .expand_bar_wrapper:hover,
.custom_accordion .expand_bar_wrapper.highlighted:hover {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) 100% -416px no-repeat transparent; }

.custom_accordion .expand_bar_wrapper:hover .inner_wrapper,
.custom_accordion .expand_bar_wrapper.highlighted:hover .inner_wrapper {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) 0 -379px no-repeat transparent; }

.custom_accordion .expand_bar_wrapper.highlighted {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) 100% -491px no-repeat transparent;
  margin: 8px 0 0; }

.custom_accordion .expand_bar_wrapper.highlighted .inner_wrapper {
  background: url(/assets/pamplona/pamplona_sprite-0f4dee3d4e088c5e191a2efbb680ee66.png) 0 -453px no-repeat transparent; }

/*BEGIN ACCORDION CONTENT*/
/*---------------------------------------*/
.soe_info .accordion_content .event_venue_name a:link,
.soe_info .accordion_content .event_venue_name a:visited {
  color: #CC0000; }

.soe_info .accordion_content .event_venue_name a:hover {
  color: #000;
  text-decoration: underline; }

.soe_info .accordion_content .event_name_type {
  max-width: 260px; }

.soe_info .accordion_content .dark .event_img_name_type,
.soe_info .accordion_content .dark .venue_name {
  border-right: 2px solid #FFFFFF; }

.soe_info .accordion_content .light .event_img_name_type,
.soe_info .accordion_content .light .venue_name {
  border-right: 2px solid #efefef; }

.soe_info .accordion_content td.calendar {
  padding-top: 5px; }
