/*Pre-screen Writer Application Interview show page*/
/*---------------------------------------------------------------------*/
.attachments {
  width: 240px; }

.personal_info {
  width: 435px; }

.admin_info.pod_rounded .grey_section ol:first-of-type {
  margin: 0; }
.admin_info.pod_rounded .word_wrap.break {
  width: 297px; }

/*---------------------------------------------------------------------*/
#edit_writer_application_1 fieldset > ol > li label {
  margin: auto;
  width: 25%; }

#edit_writer_application_1 fieldset > ol > li fieldset ol {
  float: left;
  margin: 0;
  padding: 0 0 0 25%;
  width: 74%; }

#edit_writer_application_1 select {
  padding: 0; }

#writer_application_interview_at_input {
  display: inline-block; }

#edit_writer_application_1 #writer_application_interview_at_input fieldset > ol {
  padding: 0;
  width: 94%; }

#edit_writer_application_1 #writer_application_interview_at_input fieldset > ol > li {
  margin: 0 0 5px; }
