.liked_by {
  /* Specific character styles */
  /* Disabled styles */
  /* Bigger version styles */ }
  .liked_by div, .liked_by p, .liked_by span {
    -moz-user-select: none;
    user-select: none; }
  .liked_by dt {
    float: left;
    margin-bottom: 2px;
    color: #8ea8b5;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase; }
  .liked_by dd {
    float: right; }
  .liked_by ul {
    position: relative; }
  .liked_by li {
    float: left;
    margin: 0 3px 0 0;
    padding: 0 0 2px;
    border-bottom: 2px solid; }
  .liked_by .character {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(/assets/characters/liked_by_sprite-0e026fac55922a623299afccc5f5502b.png);
    border: 1px solid #adc0c9;
    border-radius: 2px;
    cursor: pointer; }
  .liked_by .dialog_box {
    position: absolute;
    bottom: 41px;
    right: -9px;
    z-index: 6000;
    padding: 4px;
    background-color: #889aa4;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px; }
  .liked_by .dialog_content_wrapper {
    width: 190px;
    padding: 9px 7px;
    background-color: #f7f9fb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
  .liked_by .dialog_img {
    float: left;
    width: 32px;
    height: 87px;
    background-image: url(/assets/characters/liked_by_sprite-0e026fac55922a623299afccc5f5502b.png); }
  .liked_by .dialog_content {
    float: left;
    width: 134px;
    margin: 7px 0 0 11px; }
    .liked_by .dialog_content p, .liked_by .dialog_content .title {
      font-size: 13px;
      line-height: 16px !important;
      /* To override venue styles for  #object_page_info dd p */ }
    .liked_by .dialog_content p {
      padding: 0; }
    .liked_by .dialog_content .title {
      float: left;
      text-transform: uppercase; }
  .liked_by .close_btn, .liked_by .close_btn:hover {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 8px;
    height: 8px;
    background-image: url(/assets/characters/liked_by_sprite-0e026fac55922a623299afccc5f5502b.png);
    background-position: -172px -138px; }
  .liked_by .point {
    position: relative;
    bottom: 39px;
    left: 1px;
    width: 0;
    height: 0;
    margin: 0 0 -12px;
    border-top: 12px solid #889AA4;
    border-right: 12px solid transparent;
    border-bottom: none;
    border-left: 12px solid transparent; }
  .liked_by .inner_point {
    position: absolute;
    bottom: -5px;
    left: -10px;
    z-index: 6001;
    width: 0;
    height: 0;
    margin: 0 0 10px;
    border-top: 10px solid #F7F9FB;
    border-right: 10px solid transparent;
    border-bottom: none;
    border-left: 10px solid transparent;
    overflow: hidden; }
  .liked_by .lucas {
    border-color: #4175ab; }
    .liked_by .lucas:hover {
      border-color: #4175ab; }
    .liked_by .lucas .character {
      background-position: -1px -3px; }
      .liked_by .lucas .character:hover {
        border-color: #4175ab !important; }
    .liked_by .lucas .title {
      color: #4175ab; }
    .liked_by .lucas .dialog_img {
      background-position: 0 -209px; }
  .liked_by .adriana {
    border-color: #c675b1; }
    .liked_by .adriana:hover {
      border-color: #c675b1; }
    .liked_by .adriana .character {
      background-position: -31px -3px; }
      .liked_by .adriana .character:hover {
        border-color: #c675b1 !important; }
    .liked_by .adriana .title {
      color: #c675b1; }
    .liked_by .adriana .dialog_img {
      background-position: -32px -209px; }
  .liked_by .jonah {
    border-color: #95c946; }
    .liked_by .jonah:hover {
      border-color: #95c946; }
    .liked_by .jonah .character {
      background-position: -61px -3px; }
      .liked_by .jonah .character:hover {
        border-color: #95c946 !important; }
    .liked_by .jonah .title {
      color: #95c946; }
    .liked_by .jonah .dialog_img {
      background-position: -64px -209px; }
  .liked_by .emma {
    border-color: #ffb637; }
    .liked_by .emma:hover {
      border-color: #ffb637; }
    .liked_by .emma .character {
      background-position: -91px -3px; }
      .liked_by .emma .character:hover {
        border-color: #ffb637 !important; }
    .liked_by .emma .title {
      color: #ffb637; }
    .liked_by .emma .dialog_img {
      background-position: -96px -209px; }
  .liked_by .disabled {
    border-color: #dae4e9; }
    .liked_by .disabled.lucas .character {
      background-position: -1px -33px; }
    .liked_by .disabled.adriana .character {
      background-position: -31px -33px; }
    .liked_by .disabled.jonah .character {
      background-position: -61px -33px; }
    .liked_by .disabled.emma .character {
      background-position: -91px -33px; }
  .liked_by.liked_by_big li {
    border-width: 3px; }
  .liked_by.liked_by_big .character {
    width: 28px;
    height: 28px; }
  .liked_by.liked_by_big .dialog_box {
    bottom: 43px; }
  .liked_by.liked_by_big .point {
    bottom: 41px; }
  .liked_by.liked_by_big .lucas .character {
    background-position: 0 0; }
    .liked_by.liked_by_big .lucas .character:hover {
      background-position: 0 0 !important; }
  .liked_by.liked_by_big .adriana .character {
    background-position: -30px 0; }
    .liked_by.liked_by_big .adriana .character:hover {
      background-position: -30px 0 !important; }
  .liked_by.liked_by_big .jonah .character {
    background-position: -60px 0; }
    .liked_by.liked_by_big .jonah .character:hover {
      background-position: -60px 0 !important; }
  .liked_by.liked_by_big .emma .character {
    background-position: -90px 0; }
    .liked_by.liked_by_big .emma .character:hover {
      background-position: -90px 0 !important; }
  .liked_by.liked_by_big .disabled.lucas .character {
    background-position: 0 -30px; }
  .liked_by.liked_by_big .disabled.adriana .character {
    background-position: -30px -30px; }
  .liked_by.liked_by_big .disabled.jonah .character {
    background-position: -60px -30px; }
  .liked_by.liked_by_big .disabled.emma .character {
    background-position: -90px -30px; }
/*

*/
/* BEGIN NAVIGATION CSS
-------------------------------------------------
:: Contains all main navigation styles for search page.
------------------------------------------------- */
/* BEGIN GENERAL SEARCH PAGE PROPERTIES
-------------------------------------------------
:: Contains all general styles for search page.
------------------------------------------------- */
.blue_messaging_bar {
  margin: -7px 15px 38px;
  padding: 12px 16px;
  height: 11px;
  color: #fff;
  font-size: 18px;
  line-height: 11px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#1a76ce), to(#0098fe));
  background: -moz-linear-gradient(top, #1a76ce, #0098fe);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#1a76ce, endColorStr=#0098fe);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#1a76ce, endColorStr=#0098fe);
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 1px 2px #628495; }

.location_popup {
  position: absolute;
  top: 57px;
  left: 337px;
  z-index: 9000;
  /*IMPORTANT: This insures that the popup displays in front of everything in default and "more" dialogue*/
  width: 278px;
  padding: 8px 10px;
  color: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#1977ce), to(#0098fe));
  background: -moz-linear-gradient(top, #1977ce, #0098fe);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#1977ce, endColorStr=#0098fe);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#1977ce, endColorStr=#0098fe);
  border-radius: 2px 2px 2px 2px; }
  .location_popup .popup_title {
    margin: 0 0 7px; }
  .location_popup .point {
    position: absolute;
    top: -13px;
    left: 51px;
    width: 1px;
    height: 0;
    border-color: transparent transparent #1977ce;
    border-style: solid;
    border-width: 7px;
    overflow: hidden; }
  .location_popup input {
    width: 268px;
    padding: 5px;
    border-radius: 3px 3px 3px 3px; }
  .location_popup .inner_divider.dashed {
    border-bottom: 1px dashed #82cafb; }
  .location_popup .close_btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 8px;
    height: 8px;
    background-image: url(/assets/search/search2_sprite-85e0eac3b3ebcfad3b9953cf94dba417.png);
    background-position: -183px -138px; }
  .location_popup .results_title {
    margin: 0 0 10px; }
    .location_popup .results_title .blue_text {
      color: #FFFFFF;
      font-weight: bold; }
  .location_popup .results_list {
    margin: 10px 7px 5px; }
    .location_popup .results_list .results .Item {
      margin: 0 0 2px;
      cursor: pointer; }
    .location_popup .results_list .results .Item:hover {
      color: #fff;
      text-decoration: underline; }
  .location_popup .fake_link {
    color: #fff; }
    .location_popup .fake_link:hover {
      text-decoration: underline !important; }
  .location_popup .cancel_link {
    margin: 0 0 0 158px;
    padding: 3px 0 0;
    text-decoration: underline !important; }
  .location_popup .blue_btn {
    height: 10px;
    margin: 0 0 0 15px;
    padding-top: 3px;
    font-size: 11px;
    text-shadow: 0 1px 1px #f2af55;
    background: -webkit-gradient(linear, 0 34%, 0 55%, from(#ff8900), to(#c95200));
    background: -moz-linear-gradient(top, #ff8900, #c95200);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ff8900, endColorStr=#c95200);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ff8900, endColorStr=#c95200);
    box-shadow: 0 1px 5px #4D6775;
    border: none; }

#search_page {
  padding-top: 0; }
  #search_page .search_page_content {
    min-height: 300px;
    /*PERFORMER TAB SPECIFIC*/ }
    #search_page .search_page_content p {
      padding: 0; }
    #search_page .search_page_content table td {
      vertical-align: top; }
    #search_page .search_page_content .black_link {
      display: block;
      text-decoration: none; }
      #search_page .search_page_content .black_link:hover {
        color: #000 !important;
        text-decoration: underline; }
    #search_page .search_page_content .scrolling_filters {
      position: absolute;
      z-index: 4000;
      width: 956px; }
      #search_page .search_page_content .scrolling_filters .blue_messaging_bar {
        margin: 0;
        position: relative; }
        #search_page .search_page_content .scrolling_filters .blue_messaging_bar .filter_options {
          font-size: 13px; }
          #search_page .search_page_content .scrolling_filters .blue_messaging_bar .filter_options .show_hide, #search_page .search_page_content .scrolling_filters .blue_messaging_bar .filter_options .clear_link {
            cursor: pointer;
            text-decoration: underline; }
        #search_page .search_page_content .scrolling_filters .blue_messaging_bar .adv_search_popup {
          position: absolute !important;
          top: -97px !important;
          left: 703px !important;
          width: 228px;
          height: 110px;
          background: url(/assets/search/adv_search_popup-3212eb2d2bf638cf88d149014ee24042.png) top left no-repeat transparent; }
          #search_page .search_page_content .scrolling_filters .blue_messaging_bar .adv_search_popup .close_btn {
            position: absolute;
            right: 23px;
            top: 26px;
            width: 8px;
            height: 8px;
            cursor: pointer;
            background: none; }
      #search_page .search_page_content .scrolling_filters .category_tabs_wrapper {
        background: #fff;
        padding: 10px 0 14px 0; }
      #search_page .search_page_content .scrolling_filters .result_sections {
        margin: 17px 0 0 0;
        color: #aaa; }
        #search_page .search_page_content .scrolling_filters .result_sections .result_tab {
          position: relative;
          font-family: Arial, sans-serif;
          text-decoration: none; }
          #search_page .search_page_content .scrolling_filters .result_sections .result_tab .title {
            display: inline-block;
            zoom: 1;
            font-size: 15px;
            text-decoration: underline; }
          #search_page .search_page_content .scrolling_filters .result_sections .result_tab .result_count {
            color: #8ea8b5;
            font-size: 11px; }
          #search_page .search_page_content .scrolling_filters .result_sections .result_tab .point {
            display: none;
            position: absolute;
            top: -22px;
            left: 21%;
            width: 0;
            height: 0;
            border-width: 13px;
            border-style: solid;
            border-color: #0098fe transparent transparent transparent;
            overflow: hidden; }
          #search_page .search_page_content .scrolling_filters .result_sections .result_tab.selected {
            cursor: default; }
            #search_page .search_page_content .scrolling_filters .result_sections .result_tab.selected .title {
              color: #000;
              text-decoration: none; }
            #search_page .search_page_content .scrolling_filters .result_sections .result_tab.selected .point {
              display: block; }
          #search_page .search_page_content .scrolling_filters .result_sections .result_tab.disabled {
            cursor: default; }
            #search_page .search_page_content .scrolling_filters .result_sections .result_tab.disabled .title, #search_page .search_page_content .scrolling_filters .result_sections .result_tab.disabled .result_count {
              color: #aaa;
              text-decoration: none; }
        #search_page .search_page_content .scrolling_filters .result_sections .divider {
          margin: 0 4px; }
    #search_page .search_page_content .scrolling_filters.fixed {
      width: 956px;
      position: fixed;
      top: -2px; }
      #search_page .search_page_content .scrolling_filters.fixed .shadow {
        height: 15px;
        background: url(/assets/search/search2_sprite-85e0eac3b3ebcfad3b9953cf94dba417.png) 0 -622px repeat-x transparent;
        border-top: 1px solid #c0c9ce; }
    #search_page .search_page_content .search_filters {
      position: relative;
      width: 956px; }
      #search_page .search_page_content .search_filters .filters {
        min-height: 118px;
        padding: 0 0 5px;
        max-height: 268px;
        background: #fff;
        border-top: 1px solid #ccc;
        /*FOR IE7*/
        *max-height: 262px; }
        #search_page .search_page_content .search_filters .filters .filter_set {
          float: left;
          margin: -1px 3px 10px 0px;
          width: 156px;
          height: 113px;
          border-top: 1px dashed #CCC;
          padding: 12px 0 0;
          /*FOR IE7*/
          *height: 120px; }
          #search_page .search_page_content .search_filters .filters .filter_set .filter_header {
            font-size: 13px;
            color: #375363;
            margin: 0 0 5px;
            font-weight: bold; }
            #search_page .search_page_content .search_filters .filters .filter_set .filter_header:hover {
              text-decoration: underline;
              cursor: pointer; }
            #search_page .search_page_content .search_filters .filters .filter_set .filter_header.no_hover:hover {
              text-decoration: none;
              cursor: default; }
          #search_page .search_page_content .search_filters .filters .filter_set .more_filters {
            color: #97adb7;
            text-decoration: underline;
            cursor: pointer; }
            #search_page .search_page_content .search_filters .filters .filter_set .more_filters:hover {
              color: #000; }
          #search_page .search_page_content .search_filters .filters .filter_set .StartDate {
            margin: 0 0 0 7px; }
          #search_page .search_page_content .search_filters .filters .filter_set .StartDate, #search_page .search_page_content .search_filters .filters .filter_set .EndDate {
            border: 1px solid #ADC0C9;
            width: 55px;
            font-size: 10px;
            font-family: arial, sans-serif;
            line-height: 11px;
            position: relative;
            top: -2px; }
          #search_page .search_page_content .search_filters .filters .filter_set .date_divider {
            position: relative;
            top: -2px; }
          #search_page .search_page_content .search_filters .filters .filter_set .editable_textarea {
            width: 132px;
            cursor: pointer;
            text-decoration: underline; }
            #search_page .search_page_content .search_filters .filters .filter_set .editable_textarea input {
              margin: 0 0 4px;
              border: 1px solid #ADC0C9;
              font-size: 11px;
              font-family: arial, sans-serif;
              line-height: 11px;
              position: relative;
              left: -20px;
              padding: 2px 0;
              height: 10px !important; }
            #search_page .search_page_content .search_filters .filters .filter_set .editable_textarea button {
              padding: 0px 11px 0px 11px;
              margin: 0 6px 0 0;
              font-size: 10px;
              line-height: 10px;
              height: 19px; }
            #search_page .search_page_content .search_filters .filters .filter_set .editable_textarea:hover {
              color: #597686; }
          #search_page .search_page_content .search_filters .filters .filter_set .editable_textarea, #search_page .search_page_content .search_filters .filters .filter_set label {
            position: absolute;
            top: 1px;
            padding: 0 0 0 4px !important;
            text-transform: capitalize;
            font-size: 12px;
            line-height: 12px;
            /*FOR IE7*/
            *padding-left: 2px;
            *line-height: 10px; }
          #search_page .search_page_content .search_filters .filters .filter_set label.lucas {
            color: #01488f; }
          #search_page .search_page_content .search_filters .filters .filter_set label.adriana {
            color: #b8529e; }
          #search_page .search_page_content .search_filters .filters .filter_set label.jonah {
            color: #73b808; }
          #search_page .search_page_content .search_filters .filters .filter_set label.emma {
            color: #ffa405; }
          #search_page .search_page_content .search_filters .filters .filter_set .Top, #search_page .search_page_content .search_filters .filters .filter_set .Custom, #search_page .search_page_content .search_filters .filters .filter_set .Child {
            position: relative;
            height: 18px; }
            #search_page .search_page_content .search_filters .filters .filter_set .Top .truncator_popup,
            #search_page .search_page_content .search_filters .filters .filter_set .Top .long_label, #search_page .search_page_content .search_filters .filters .filter_set .Custom .truncator_popup, #search_page .search_page_content .search_filters .filters .filter_set .Custom .long_label, #search_page .search_page_content .search_filters .filters .filter_set .Child .truncator_popup, #search_page .search_page_content .search_filters .filters .filter_set .Child .long_label {
              display: none;
              position: absolute;
              top: -1px !important;
              left: 17px;
              background: #0099ff;
              color: #fff;
              line-height: 15px;
              padding: 2px 2px 3px 4px;
              cursor: default;
              width: auto;
              z-index: 1; }
            #search_page .search_page_content .search_filters .filters .filter_set .Top .short_label, #search_page .search_page_content .search_filters .filters .filter_set .Custom .short_label, #search_page .search_page_content .search_filters .filters .filter_set .Child .short_label {
              height: 13px;
              overflow: hidden;
              display: inline-block;
              width: 135px; }
            #search_page .search_page_content .search_filters .filters .filter_set .Top .date_picker_block, #search_page .search_page_content .search_filters .filters .filter_set .Custom .date_picker_block, #search_page .search_page_content .search_filters .filters .filter_set .Child .date_picker_block {
              top: 20px; }
          #search_page .search_page_content .search_filters .filters .filter_set .Custom .long_label {
            cursor: pointer; }
          #search_page .search_page_content .search_filters .filters .filter_set .Top:hover .short_label, #search_page .search_page_content .search_filters .filters .filter_set .Custom:hover .short_label, #search_page .search_page_content .search_filters .filters .filter_set .Child:hover .short_label {
            display: none; }
          #search_page .search_page_content .search_filters .filters .filter_set .Top:hover .long_label, #search_page .search_page_content .search_filters .filters .filter_set .Custom:hover .long_label, #search_page .search_page_content .search_filters .filters .filter_set .Child:hover .long_label {
            display: block; }
    #search_page .search_page_content .scroll_spacer {
      height: 95px; }
    #search_page .search_page_content .options_bar {
      color: #597686;
      height: 21px;
      padding: 5px 8px 5px;
      border-bottom: 1px solid #fff;
      /*#d6dfe4*/
      position: relative;
      float: left; }
      #search_page .search_page_content .options_bar select {
        height: 19px;
        font-size: 11px;
        color: #597686;
        border: 1px solid #c3d5de;
        /*FOR IE7*/
        *font-size: 11px;
        *height: 18px; }
      #search_page .search_page_content .options_bar .dropdowns_pagination {
        background: #e3ebef;
        width: 569px;
        padding: 5px 8px 5px 8px;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #d6dfe4;
        border-radius: 2px 2px 2px 2px; }
      #search_page .search_page_content .options_bar .sort_by {
        margin: 1px 0 0 0; }
        #search_page .search_page_content .options_bar .sort_by select {
          width: 96px; }
      #search_page .search_page_content .options_bar .mini_paginator_container {
        width: 347px;
        position: relative;
        top: 2px; }
      #search_page .search_page_content .options_bar .mini_paginator {
        display: inline-block !important;
        position: relative;
        left: 50%; }
        #search_page .search_page_content .options_bar .mini_paginator .paginator_wrapper {
          position: relative;
          left: -50%; }
        #search_page .search_page_content .options_bar .mini_paginator .pagination_text {
          margin: 0 5px;
          position: relative;
          top: 2px;
          height: 11px;
          /*FOR IE7*/
          *top: 0;
          *left: 3px; }
        #search_page .search_page_content .options_bar .mini_paginator .prev_btn,
        #search_page .search_page_content .options_bar .mini_paginator .next_btn {
          background: url(/assets/search/search2_sprite-85e0eac3b3ebcfad3b9953cf94dba417.png) 0 0 no-repeat transparent;
          width: 18px;
          height: 17px;
          cursor: pointer; }
        #search_page .search_page_content .options_bar .mini_paginator .prev_btn {
          background-position: -144px -8px;
          margin: 0 0 0 16px; }
          #search_page .search_page_content .options_bar .mini_paginator .prev_btn:hover {
            background-position: -123px -8px; }
          #search_page .search_page_content .options_bar .mini_paginator .prev_btn.disabled {
            background-position: -144px -25px;
            cursor: default !important; }
        #search_page .search_page_content .options_bar .mini_paginator .next_btn {
          background-position: -172px -8px; }
          #search_page .search_page_content .options_bar .mini_paginator .next_btn:hover {
            background-position: -123px -25px; }
          #search_page .search_page_content .options_bar .mini_paginator .next_btn.disabled {
            background-position: -172px -25px;
            cursor: default !important; }
      #search_page .search_page_content .options_bar .display_arrows {
        position: relative;
        top: 1px; }
      #search_page .search_page_content .options_bar .fake_link {
        color: #597686; }
        #search_page .search_page_content .options_bar .fake_link:hover {
          color: #375363; }
      #search_page .search_page_content .options_bar .clear_link {
        margin: 4px 0 0 0;
        text-decoration: underline;
        position: absolute;
        right: 174px; }
      #search_page .search_page_content .options_bar .options_toggle {
        position: absolute;
        right: 1px;
        top: -1px;
        cursor: pointer;
        background: url(/assets/search/search2_sprite-85e0eac3b3ebcfad3b9953cf94dba417.png) 0 -348px no-repeat transparent;
        width: 174px;
        height: 31px; }
      #search_page .search_page_content .options_bar .options_toggle.closed {
        background-position: 0 -348px; }
        #search_page .search_page_content .options_bar .options_toggle.closed:hover {
          background-position: 0 -380px; }
        #search_page .search_page_content .options_bar .options_toggle.closed:active {
          background-position: 0 -412px; }
      #search_page .search_page_content .options_bar .options_toggle.opened {
        background-position: 0 -444px; }
        #search_page .search_page_content .options_bar .options_toggle.opened:hover {
          background-position: 0 -476px; }
        #search_page .search_page_content .options_bar .options_toggle.opened:active {
          background-position: 0 -508px; }
    #search_page .search_page_content .column_wrapper {
      position: relative; }
      #search_page .search_page_content .column_wrapper .spinner_overlay {
        background: url(/assets/search/spinner_overlay_bg_repeat-bde90c66ba7c5d4cb6ede656df123d5d.png) left top repeat;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3000;
        width: 960px;
        height: 6000px; }
      #search_page .search_page_content .column_wrapper .spinner_img {
        width: 72px;
        height: 72px;
        position: absolute;
        top: 150px;
        left: 412px;
        z-index: 3001; }
    #search_page .search_page_content .column_wrapper.loading {
      overflow: hidden; }
    #search_page .search_page_content .left_column {
      width: 586px;
      /*FOR IE7*/
      *position: relative;
      *z-index: 2000; }
      #search_page .search_page_content .left_column .search_result {
        border-bottom: 2px solid #ADC0C9;
        padding: 10px 0 9px;
        /*FOR IE7*/
        *display: inline-block;
        *padding-bottom: 2px; }
        #search_page .search_page_content .left_column .search_result .map_marker {
          width: 33px;
          height: 116px; }
          #search_page .search_page_content .left_column .search_result .map_marker img {
            position: relative;
            top: -2px; }
        #search_page .search_page_content .left_column .search_result .result_content .top_left_section {
          width: 404px; }
          #search_page .search_page_content .left_column .search_result .result_content .top_left_section .result_name {
            font-size: 17px;
            font-weight: bold;
            margin: 0 0 11px;
            line-height: 17px; }
          #search_page .search_page_content .left_column .search_result .result_content .top_left_section .result_name.event {
            margin: 0 0 7px; }
          #search_page .search_page_content .left_column .search_result .result_content .top_left_section .result_date {
            margin: -2px 0 5px;
            font-size: 12px; }
          #search_page .search_page_content .left_column .search_result .result_content .top_left_section .result_image {
            margin: 0 15px 0 0;
            height: 84px;
            width: 86px;
            position: relative; }
            #search_page .search_page_content .left_column .search_result .result_content .top_left_section .result_image .schedule_icon {
              background: url(/assets/search/search2_sprite-85e0eac3b3ebcfad3b9953cf94dba417.png) no-repeat transparent;
              width: 44px;
              height: 44px;
              position: absolute;
              left: -21px;
              bottom: -16px;
              z-index: 1000; }
              #search_page .search_page_content .left_column .search_result .result_content .top_left_section .result_image .schedule_icon.team {
                background-position: -296px -41px; }
              #search_page .search_page_content .left_column .search_result .result_content .top_left_section .result_image .schedule_icon.performer {
                background-position: -232px -41px; }
          #search_page .search_page_content .left_column .search_result .result_content .top_left_section .inner_content {
            position: relative;
            width: 301px;
            float: left;
            overflow: hidden;
            min-height: 66px;
            /*FOR IE7*/
            *padding-bottom: 15px; }
            #search_page .search_page_content .left_column .search_result .result_content .top_left_section .inner_content .tag_type_desc {
              position: relative; }
              #search_page .search_page_content .left_column .search_result .result_content .top_left_section .inner_content .tag_type_desc .tag_and_type {
                margin: 0 0 4px; }
              #search_page .search_page_content .left_column .search_result .result_content .top_left_section .inner_content .tag_type_desc .result_tag {
                color: #fff;
                font-size: 10px;
                padding: 0 4px;
                line-height: 10px;
                height: 11px;
                margin: 0 7px 0 0;
                letter-spacing: 1px;
                font-family: Verdana, sans-serif; }
                #search_page .search_page_content .left_column .search_result .result_content .top_left_section .inner_content .tag_type_desc .result_tag.venue {
                  background: #545454; }
                #search_page .search_page_content .left_column .search_result .result_content .top_left_section .inner_content .tag_type_desc .result_tag.event {
                  background: #09F; }
                #search_page .search_page_content .left_column .search_result .result_content .top_left_section .inner_content .tag_type_desc .result_tag.performer {
                  background: #adc0c9; }
              #search_page .search_page_content .left_column .search_result .result_content .top_left_section .inner_content .tag_type_desc .result_types {
                font-size: 9px;
                line-height: 11px;
                color: #6C8898;
                font-family: arial, sans-serif;
                padding: 0 16px 0 0; }
              #search_page .search_page_content .left_column .search_result .result_content .top_left_section .inner_content .tag_type_desc .result_desc {
                height: 50px;
                overflow: hidden;
                padding: 0 16px 0 0;
                line-height: 16px;
                cursor: pointer; }
              #search_page .search_page_content .left_column .search_result .result_content .top_left_section .inner_content .tag_type_desc .ellipses_dots {
                background: #fff;
                position: absolute;
                bottom: 2px;
                right: 16px;
                padding: 0 0 0 6px; }
        #search_page .search_page_content .left_column .search_result .result_content .top_right_section {
          width: 130px;
          padding: 0 9px 52px 9px;
          min-height: 64px;
          border-left: 1px solid #ADC0C9;
          color: #6C8898;
          text-align: right;
          line-height: 14px;
          position: relative; }
          #search_page .search_page_content .left_column .search_result .result_content .top_right_section .neighborhood_link {
            color: #597686;
            display: block;
            margin: 0 0 6px;
            font-weight: bold;
            line-height: 14px; }
          #search_page .search_page_content .left_column .search_result .result_content .top_right_section .neighborhood_link:hover {
            color: #375363; }
          #search_page .search_page_content .left_column .search_result .result_content .top_right_section .nourl, #search_page .search_page_content .left_column .search_result .result_content .top_right_section .nourl:hover {
            color: #597686; }
          #search_page .search_page_content .left_column .search_result .result_content .top_right_section .result_venue {
            font-size: 14px;
            line-height: 14px;
            font-family: 'PT Sans', arial, sans-serif;
            color: #597686; }
            #search_page .search_page_content .left_column .search_result .result_content .top_right_section .result_venue:hover {
              color: #375363; }
          #search_page .search_page_content .left_column .search_result .result_content .top_right_section .result_address {
            line-height: 14px; }
          #search_page .search_page_content .left_column .search_result .result_content .top_right_section .liked_by {
            position: absolute;
            bottom: 0;
            right: 9px;
            width: 120px; }
            #search_page .search_page_content .left_column .search_result .result_content .top_right_section .liked_by dt {
              float: none; }
          #search_page .search_page_content .left_column .search_result .result_content .top_right_section .calendar_btn {
            font-family: 'PT Sans', arial, sans-serif;
            text-align: left;
            position: absolute;
            right: 8px;
            bottom: 0; }
        #search_page .search_page_content .left_column .search_result .result_content .result_events .grey_text a {
          color: #6C8898; }
        #search_page .search_page_content .left_column .search_result .result_content .result_events .grey_text a:hover {
          color: #597686; }
      #search_page .search_page_content .left_column .performer_search_result .quick_nav_links {
        position: absolute;
        bottom: 0;
        left: 0; }
        #search_page .search_page_content .left_column .performer_search_result .quick_nav_links li {
          margin: 4px 0 0;
          float: none; }
      #search_page .search_page_content .left_column .search_result.event .result_content .top_right_section {
        min-height: 102px;
        padding: 0 9px 30px 9px; }
      #search_page .search_page_content .left_column .search_result.event .result_content .event_performers {
        color: #6C8898;
        font-size: 12px;
        border-top: 1px dashed #8ea8b5;
        margin: 10px 0 -3px 0;
        padding: 7px 0 0 0;
        min-height: 13px;
        overflow: visible;
        width: 552px;
        line-height: 14px; }
        #search_page .search_page_content .left_column .search_result.event .result_content .event_performers .performer_label {
          margin: 0 30px 0 0;
          font-size: 9px; }
        #search_page .search_page_content .left_column .search_result.event .result_content .event_performers a {
          color: #375363; }
        #search_page .search_page_content .left_column .search_result.event .result_content .event_performers a:hover {
          color: #597686; }
      #search_page .search_page_content .left_column .search_result.performer {
        /*FOR IE7*/
        *padding-bottom: 4px !important; }
        #search_page .search_page_content .left_column .search_result.performer .top_right_section {
          min-height: 112px;
          padding: 0 9px 0 9px; }
      #search_page .search_page_content .left_column .search_result:hover,
      #search_page .search_page_content .left_column .search_result.selected {
        background: #FFFFE5; }
        #search_page .search_page_content .left_column .search_result:hover .ellipses_dots,
        #search_page .search_page_content .left_column .search_result.selected .ellipses_dots {
          background: #FFFFE5 !important; }
    #search_page .search_page_content .right_column {
      width: 350px;
      padding: 10px 0 0 0; }
      #search_page .search_page_content .right_column .floater {
        position: relative;
        top: -42px;
        /*top:-30px;*/ }
      #search_page .search_page_content .right_column .floater.fixed {
        /*top: 10px;*/
        position: fixed;
        top: 114px; }
      #search_page .search_page_content .right_column .floater.bottom {
        position: absolute;
        bottom: 0; }
      #search_page .search_page_content .right_column .search_map {
        width: 348px;
        height: 300px;
        -moz-border-radius: 2px 2px 2px 2px;
        border-radius: 2px 2px 2px 2px;
        -webkit-border-radius: 2px 2px 2px 2px;
        border: 1px solid #d6dfe4;
        /*border:1px solid #adc0c9;*/ }
    #search_page .search_page_content .pagination {
      background: url(/assets/search/search2_sprite-85e0eac3b3ebcfad3b9953cf94dba417.png) 0 -167px repeat-x transparent;
      color: #8ea8b5;
      height: 21px;
      -moz-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px;
      -webkit-border-radius: 0 0 4px 4px;
      margin: 14px 0 10px;
      padding: 6px 8px;
      border-top: 1px solid #e4eaed;
      border-left: 1px solid #e4eaed;
      border-right: 1px solid #e4eaed;
      border-bottom: 1px solid #B4BDC1;
      font-family: Arial, sans-serif; }
      #search_page .search_page_content .pagination .PaginationCell.Number {
        -moz-border-radius: 2px 2px 2px 2px;
        border-radius: 2px 2px 2px 2px;
        -webkit-border-radius: 2px 2px 2px 2px;
        background: #fff;
        border: 1px solid #ADC0C9;
        color: #ADC0C9;
        padding: 2px 6px;
        margin: 0 6px 0 0;
        line-height: 16px;
        height: 15px; }
      #search_page .search_page_content .pagination .PaginationCell.Number:hover,
      #search_page .search_page_content .pagination .PaginationCell.Current {
        background: #0099ff;
        border: 1px solid #0099ff;
        color: #fff; }
      #search_page .search_page_content .pagination .PaginationCell.Number:hover {
        cursor: pointer; }
      #search_page .search_page_content .pagination .PaginationCell.Number.Current:hover {
        cursor: default; }
      #search_page .search_page_content .pagination .PaginationCell.Dots {
        font-size: 20px;
        line-height: 16px;
        margin: 0 9px 0 0;
        position: relative;
        display: inline-block;
        top: -4px;
        letter-spacing: -1px;
        font-weight: bold;
        height: 15px;
        /*FOR IE7*/
        *top: -6px; }
      #search_page .search_page_content .pagination .pagination_inner_container {
        display: inline-block;
        position: relative;
        left: 50%; }
      #search_page .search_page_content .pagination .result_count {
        position: relative;
        left: -50%; }
        #search_page .search_page_content .pagination .result_count .prev_btn,
        #search_page .search_page_content .pagination .result_count .next_btn {
          background: url(/assets/search/search2_sprite-85e0eac3b3ebcfad3b9953cf94dba417.png) 0 0 no-repeat transparent;
          width: 18px;
          height: 17px;
          cursor: pointer;
          position: relative;
          top: 2px; }
        #search_page .search_page_content .pagination .result_count .prev_btn {
          background-position: -144px -8px;
          margin-right: 6px; }
        #search_page .search_page_content .pagination .result_count .prev_btn:hover {
          background-position: -123px -8px; }
        #search_page .search_page_content .pagination .result_count .prev_btn.disabled {
          background-position: -144px -25px;
          cursor: default !important; }
        #search_page .search_page_content .pagination .result_count .next_btn {
          background-position: -172px -8px; }
        #search_page .search_page_content .pagination .result_count .next_btn:hover {
          background-position: -123px -25px; }
        #search_page .search_page_content .pagination .result_count .next_btn.disabled {
          background-position: -172px -25px;
          cursor: default !important; }
    #search_page .search_page_content .column_wrapper.performer_content .left_column {
      width: auto !important; }
      #search_page .search_page_content .column_wrapper.performer_content .left_column table td {
        position: relative; }
      #search_page .search_page_content .column_wrapper.performer_content .left_column td.last_performer .search_result.performer {
        margin-right: 0; }
      #search_page .search_page_content .column_wrapper.performer_content .left_column .search_result.performer {
        width: 300px;
        margin: 2px 28px 0 0;
        border-bottom: none; }
        #search_page .search_page_content .column_wrapper.performer_content .left_column .search_result.performer .map_marker {
          display: none; }
        #search_page .search_page_content .column_wrapper.performer_content .left_column .search_result.performer .result_content .top_left_section {
          width: 300px; }
          #search_page .search_page_content .column_wrapper.performer_content .left_column .search_result.performer .result_content .top_left_section .inner_content {
            width: 199px; }
            #search_page .search_page_content .column_wrapper.performer_content .left_column .search_result.performer .result_content .top_left_section .inner_content .tag_type_desc .result_desc {
              display: none; }
            #search_page .search_page_content .column_wrapper.performer_content .left_column .search_result.performer .result_content .top_left_section .inner_content .content_links {
              width: 76px; }
              #search_page .search_page_content .column_wrapper.performer_content .left_column .search_result.performer .result_content .top_left_section .inner_content .content_links .content_link {
                margin-top: 6px; }
        #search_page .search_page_content .column_wrapper.performer_content .left_column .search_result.performer .result_content .top_right_section {
          display: none; }
      #search_page .search_page_content .column_wrapper.performer_content .left_column .performer_footer {
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 2px;
        width: 300px;
        background: #adc0c9; }
    #search_page .search_page_content .column_wrapper.performer_content .right_column {
      display: none !important; }
  #search_page .search_page_content.performer_content .options_bar .dropdowns_pagination {
    width: 938px; }
  #search_page .search_page_content.performer_content .options_bar .mini_paginator_container {
    width: 638px; }

/*JQUERY DIALOG OVERRIDES*/
.ui-dialog {
  max-height: 630px !important; }

.treeview.ui-dialog-content.ui-widget-content {
  width: 264px\9 !important; }
  .treeview.ui-dialog-content.ui-widget-content .Custom {
    position: relative;
    z-index: 9000;
    width: 258px; }
    .treeview.ui-dialog-content.ui-widget-content .Custom .location_popup {
      /*ALL STYLES BELOW FOR IE ONLY*/
      width: 260px\9;
      left: 0\9;
      top: 26px\9; }
      .treeview.ui-dialog-content.ui-widget-content .Custom .location_popup input {
        width: 250px\9; }
      .treeview.ui-dialog-content.ui-widget-content .Custom .location_popup .cancel_link {
        margin-left: 135px\9; }
  .treeview.ui-dialog-content.ui-widget-content .Top ul {
    background: none; }
  .treeview.ui-dialog-content.ui-widget-content .Top, .treeview.ui-dialog-content.ui-widget-content .Custom, .treeview.ui-dialog-content.ui-widget-content .Child {
    position: relative; }
    .treeview.ui-dialog-content.ui-widget-content .Top .truncator_popup,
    .treeview.ui-dialog-content.ui-widget-content .Top .long_label, .treeview.ui-dialog-content.ui-widget-content .Custom .truncator_popup, .treeview.ui-dialog-content.ui-widget-content .Custom .long_label, .treeview.ui-dialog-content.ui-widget-content .Child .truncator_popup, .treeview.ui-dialog-content.ui-widget-content .Child .long_label {
      display: none;
      position: absolute;
      top: 1px !important;
      left: 33px;
      background: #0099ff;
      color: #fff;
      line-height: 15px;
      padding: 2px 2px 3px 4px;
      cursor: default;
      width: auto;
      z-index: 1; }
  .treeview.ui-dialog-content.ui-widget-content .Custom .long_label {
    cursor: pointer; }
  .treeview.ui-dialog-content.ui-widget-content .Top:hover .short_label, .treeview.ui-dialog-content.ui-widget-content .Custom:hover .short_label {
    display: none; }
  .treeview.ui-dialog-content.ui-widget-content .Top:hover .long_label, .treeview.ui-dialog-content.ui-widget-content .Custom:hover .long_label {
    display: block; }
  .treeview.ui-dialog-content.ui-widget-content .Child:hover .short_label {
    display: none; }
  .treeview.ui-dialog-content.ui-widget-content .Child:hover .long_label {
    display: block; }

.ui-dialog .ui-dialog-content {
  max-height: 525px !important;
  min-width: 180px !important; }
  .ui-dialog .ui-dialog-content .StartDate {
    margin: 0 0 0 3px; }
  .ui-dialog .ui-dialog-content .StartDate, .ui-dialog .ui-dialog-content .EndDate {
    border: 1px solid #ADC0C9;
    width: 55px;
    font-size: 10px;
    font-family: arial, sans-serif;
    line-height: 11px;
    position: relative;
    top: -2px; }
  .ui-dialog .ui-dialog-content .date_divider {
    position: relative;
    top: -2px; }
  .ui-dialog .ui-dialog-content .location_popup {
    top: 32px;
    left: -12px; }

.CalendarDialog.ui-dialog-content {
  width: auto!important; }

.WhoAreTheyDialog.ui-dialog-content {
  width: 300px !important;
  *width: auto !important;
  padding-bottom: 15px; }
  .WhoAreTheyDialog.ui-dialog-content a {
    color: #0099FF; }
  .WhoAreTheyDialog.ui-dialog-content a:hover {
    color: #597686; }

.ui-dialog .ui-dialog-buttonpane {
  background-color: #889AA4\9 !important;
  position: static !important; }

.ui-dialog.ui-widget-content {
  background-color: #F7F9FB\9 !important; }
  .ui-dialog.ui-widget-content .editable_textarea {
    cursor: pointer;
    text-decoration: underline; }
    .ui-dialog.ui-widget-content .editable_textarea input {
      margin: 0 0 4px;
      border: 1px solid #ADC0C9;
      font-size: 11px;
      font-family: arial, sans-serif;
      line-height: 11px;
      position: relative;
      left: -20px;
      padding: 2px 0;
      height: 10px !important; }
    .ui-dialog.ui-widget-content .editable_textarea button {
      padding: 0px 11px 0px 11px;
      margin: 0 6px 0 0;
      font-size: 10px;
      line-height: 10px;
      height: 19px; }
  .ui-dialog.ui-widget-content .editable_textarea:hover {
    color: #597686; }
  .ui-dialog.ui-widget-content .editable_textarea,
  .ui-dialog.ui-widget-content label {
    position: absolute;
    top: 3px;
    padding: 0 0 0 7px;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 12px;
    /*FOR IE7*/
    *padding-left: 2px;
    *line-height: 10px; }
