.one_item_layout {
  width: 706px; }
  .one_item_layout .spot_item {
    /*Common properties between the two layouts*/
    /*------------------------------------------*/
    /*Specific properties for the two layouts*/
    /*------------------------------------------*/ }
    .one_item_layout .spot_item .headline.sub_headline {
      height: 24px;
      font-size: 20px;
      overflow: hidden; }
      .one_item_layout .spot_item .headline.sub_headline a, .one_item_layout .spot_item .headline.sub_headline a:visited {
        text-decoration: underline; }
    .one_item_layout .spot_item .venue_type {
      margin: 2px 0 6px;
      padding: 0;
      line-height: 15px;
      height: 12px;
      overflow: hidden; }
      .one_item_layout .spot_item .venue_type .icon_types {
        margin: 0 5px 0 0; }
    .one_item_layout .spot_item .headline_photo_links,
    .one_item_layout .spot_item .photo_links {
      width: 345px;
      margin: 0 20px 0 0; }
      .one_item_layout .spot_item .headline_photo_links .item_img, .one_item_layout .spot_item .headline_photo_links .item_img img,
      .one_item_layout .spot_item .headline_photo_links .photo_links .item_img img,
      .one_item_layout .spot_item .photo_links .item_img .headline_photo_links img,
      .one_item_layout .spot_item .photo_links .item_img,
      .one_item_layout .spot_item .photo_links .headline_photo_links .item_img img,
      .one_item_layout .spot_item .headline_photo_links .item_img .photo_links img,
      .one_item_layout .spot_item .photo_links .item_img img {
        display: block;
        width: 345px;
        height: 230px; }
    .one_item_layout .spot_item .desc_liked_by,
    .one_item_layout .spot_item .desc_address {
      width: 340px; }
    .one_item_layout .spot_item .desc_liked_by {
      margin: 45px 0 0; }
      .one_item_layout .spot_item .desc_liked_by .desc {
        position: relative;
        width: 337px;
        height: 223px;
        overflow: hidden; }
        .one_item_layout .spot_item .desc_liked_by .desc .blue_tag {
          display: inline-block;
          position: relative;
          float: left;
          margin: 0 13px 0 0;
          padding: 2px 3px 3px 5px;
          color: #fff;
          font-size: 10px;
          line-height: 10px;
          background-color: #09f;
          border-radius: 2px 0 0 2px; }
          .one_item_layout .spot_item .desc_liked_by .desc .blue_tag a:link, .one_item_layout .spot_item .desc_liked_by .desc .blue_tag a:visited {
            color: #fff;
            text-decoration: none; }
            .one_item_layout .spot_item .desc_liked_by .desc .blue_tag a:link:hover, .one_item_layout .spot_item .desc_liked_by .desc .blue_tag a:visited:hover {
              text-decoration: none; }
          .one_item_layout .spot_item .desc_liked_by .desc .blue_tag .point {
            position: absolute;
            right: -15px;
            bottom: 0;
            width: 1px;
            height: 0;
            border-top: 8px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 8px solid #0099ff;
            overflow: hidden; }
        .one_item_layout .spot_item .desc_liked_by .desc p {
          padding: 0 0 16px; }
        .one_item_layout .spot_item .desc_liked_by .desc .info {
          display: block;
          color: #000;
          font-size: 12px;
          text-decoration: none;
          line-height: 16px; }
        .one_item_layout .spot_item .desc_liked_by .desc .ellipses_dots {
          position: absolute;
          right: 0;
          bottom: -1px;
          max-width: 334px;
          height: 15px;
          font-size: 12px;
          line-height: 15px;
          background: #fff;
          overflow: hidden; }
      .one_item_layout .spot_item .desc_liked_by .inner_divider.dashed {
        clear: none; }
      .one_item_layout .spot_item .desc_liked_by .personalities .label {
        margin-right: 10px; }
    .one_item_layout .spot_item .desc_address p {
      padding: 0; }
    .one_item_layout .spot_item .desc_address .venue_type {
      margin-bottom: 0; }
    .one_item_layout .spot_item .desc_address .date_time {
      height: 15px;
      margin: 0 0 4px;
      padding: 2px 0 0;
      overflow: hidden; }
      .one_item_layout .spot_item .desc_address .date_time .small_text {
        font-size: 16px;
        font-weight: bold;
        line-height: 14px;
        text-transform: inherit; }
    .one_item_layout .spot_item .desc_address .event_venue .black_link {
      display: block;
      height: 18px;
      margin: 0 0 3px;
      color: #375363 !important;
      font-size: 15px;
      overflow: hidden; }
    .one_item_layout .spot_item .desc_address .event_venue .black_link:hover {
      color: #000 !important; }
    .one_item_layout .spot_item .desc_address .event_venue .directions_link {
      display: inline-block;
      margin-top: 5px; }
