/*BEGIN READ MORE/READ LESS CSS*/
/*-----------------------------------*/
.read_more .clipped {
  overflow: hidden; }
.read_more p:last-of-type {
  padding-bottom: 0; }
.read_more .more_toggle,
.read_more .less_toggle {
  border-top: 1px solid #dbdada;
  padding-top: 5px; }

.read_more.copy_block_missing_venue_event {
  position: relative; }
  .read_more.copy_block_missing_venue_event .clipped {
    height: 71px; }
  .read_more.copy_block_missing_venue_event .more_toggle {
    position: absolute;
    bottom: 2px;
    right: 0;
    padding: 0;
    background: #fff;
    border: none; }
    .read_more.copy_block_missing_venue_event .more_toggle span {
      text-decoration: underline; }
  .read_more.copy_block_missing_venue_event .less_toggle {
    margin-top: 7px; }
    .read_more.copy_block_missing_venue_event .less_toggle span {
      text-decoration: underline; }

.read_more_left {
  position: relative;
  float: left; }

.overview_copy_block .clipped {
  height: 110px; }
.overview_copy_block .more_toggle,
.overview_copy_block .less_toggle {
  margin-top: 7px; }

.read_more.pull_down .more_toggle,
.read_more.pull_down .less_toggle {
  background: url("/assets/content_bg/readmore_clipped_sprite-5e5a513e77bf8a9a73302da4570d7ce1.png") 0 0 repeat-x transparent;
  margin-top: -6px !important;
  border: none;
  text-align: center;
  padding: 0 0 17px;
  height: 19px;
  position: relative; }
.read_more.pull_down .fake-link {
  background: url("/assets/content_bg/readmore_clipped_sprite-5e5a513e77bf8a9a73302da4570d7ce1.png") 0 -43px no-repeat transparent;
  display: inline-block;
  font-size: 10px;
  width: 89px;
  height: 17px;
  position: relative;
  top: 12px;
  line-height: 10px;
  text-decoration: underline; }
.read_more.pull_down .blue_text.arrow,
.read_more.pull_down .blue-text.arrow {
  display: none; }
/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
#right_column .recent_articles.pod_rounded,
.right_column .recent_articles.pod_rounded,
.right_container .recent_articles.pod_rounded {
  margin: 0 0 12px;
  padding: 13px 14px;
  line-height: 16px; }
  #right_column .recent_articles.pod_rounded .title,
  .right_column .recent_articles.pod_rounded .title,
  .right_container .recent_articles.pod_rounded .title {
    color: #09F;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 6px; }
  #right_column .recent_articles.pod_rounded .headline.sub_headline,
  .right_column .recent_articles.pod_rounded .headline.sub_headline,
  .right_container .recent_articles.pod_rounded .headline.sub_headline {
    display: block;
    text-decoration: underline;
    margin: 0 0 13px;
    font-size: 21px;
    line-height: 22px;
    color: #375363;
    font-weight: bold; }
  #right_column .recent_articles.pod_rounded .headline.sub_headline:hover,
  .right_column .recent_articles.pod_rounded .headline.sub_headline:hover,
  .right_container .recent_articles.pod_rounded .headline.sub_headline:hover {
    color: #000; }
  #right_column .recent_articles.pod_rounded .object_photo,
  .right_column .recent_articles.pod_rounded .object_photo,
  .right_container .recent_articles.pod_rounded .object_photo {
    display: block;
    margin: 0 0 11px;
    border: 1px solid #ADC0C9; }
    #right_column .recent_articles.pod_rounded .object_photo img,
    .right_column .recent_articles.pod_rounded .object_photo img,
    .right_container .recent_articles.pod_rounded .object_photo img {
      display: block;
      width: 210px;
      height: 140px; }
  #right_column .recent_articles.pod_rounded .desc,
  .right_column .recent_articles.pod_rounded .desc,
  .right_container .recent_articles.pod_rounded .desc {
    position: relative;
    height: 106px;
    overflow: hidden; }
    #right_column .recent_articles.pod_rounded .desc .ellipses_dots,
    .right_column .recent_articles.pod_rounded .desc .ellipses_dots,
    .right_container .recent_articles.pod_rounded .desc .ellipses_dots {
      font-size: 12px;
      line-height: 15px;
      background: #fff;
      position: absolute;
      right: 0;
      bottom: -1px;
      max-width: 334px;
      height: 15px;
      overflow: hidden; }
  #right_column .recent_articles.pod_rounded .other_articles,
  .right_column .recent_articles.pod_rounded .other_articles,
  .right_container .recent_articles.pod_rounded .other_articles {
    border-top: 1px solid #8EA8B5;
    margin: 11px 0 4px;
    border-bottom: 2px solid #8EA8B5;
    padding: 0 0 3px; }
    #right_column .recent_articles.pod_rounded .other_articles .photo_item,
    .right_column .recent_articles.pod_rounded .other_articles .photo_item,
    .right_container .recent_articles.pod_rounded .other_articles .photo_item {
      width: 100px;
      margin: 0 10px 8px 0;
      padding: 11px 0 0;
      line-height: 15px; }
      #right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo,
      .right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo,
      .right_container .recent_articles.pod_rounded .other_articles .photo_item .object_photo {
        border: 1px solid #ADC0C9;
        display: block;
        margin: 0 0 3px; }
        #right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo img,
        .right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo img,
        .right_container .recent_articles.pod_rounded .other_articles .photo_item .object_photo img {
          display: block;
          width: 98px;
          height: 65px; }
    #right_column .recent_articles.pod_rounded .other_articles li:last-child,
    .right_column .recent_articles.pod_rounded .other_articles li:last-child,
    .right_container .recent_articles.pod_rounded .other_articles li:last-child {
      margin-right: 0; }
    #right_column .recent_articles.pod_rounded .other_articles li.last,
    .right_column .recent_articles.pod_rounded .other_articles li.last,
    .right_container .recent_articles.pod_rounded .other_articles li.last {
      margin-right: 0; }
  #right_column .recent_articles.pod_rounded .more_link,
  .right_column .recent_articles.pod_rounded .more_link,
  .right_container .recent_articles.pod_rounded .more_link {
    text-align: right;
    line-height: 10px; }
    #right_column .recent_articles.pod_rounded .more_link .blue_text.arrow,
    .right_column .recent_articles.pod_rounded .more_link .blue_text.arrow,
    .right_container .recent_articles.pod_rounded .more_link .blue_text.arrow {
      color: #FF9000;
      top: 0; }
/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
.new_photo_galleries {
  margin: 0 0 12px;
  padding: 13px 15px; }
  .new_photo_galleries .title {
    margin: 0 0 7px;
    color: #09F;
    font-size: 15px;
    font-weight: bold; }
  .new_photo_galleries .photo_item {
    width: 100px;
    margin: 0 10px 8px 0;
    padding: 11px 0 0;
    line-height: 15px;
    border-top: 1px dashed #ADC0C9; }
    .new_photo_galleries .photo_item .object_photo {
      display: block;
      margin: 0 0 3px;
      border: 1px solid #ADC0C9; }
      .new_photo_galleries .photo_item .object_photo img {
        display: block;
        width: 98px;
        height: 65px; }
  .new_photo_galleries .photo_item.last {
    margin-right: 0; }
  .new_photo_galleries .photo_item.bottom {
    margin-bottom: 0; }
/* Styles for the more links pod */
#more_links_pod h2, #more_links_pod h3.header {
  margin: 0 0 8px;
  padding: 0 0 8px;
  color: #09f;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px dashed #adc0c9; }
  #more_links_pod h2 a, #more_links_pod h3.header a {
    color: #09f;
    text-decoration: none; }
    #more_links_pod h2 a:hover, #more_links_pod h3.header a:hover {
      text-decoration: underline; }
#more_links_pod h4 {
  color: #6c8898;
  font-size: 9px;
  text-transform: uppercase;
  line-height: 12px; }
#more_links_pod ul {
  margin-bottom: 10px;
  padding-bottom: 10px; }
  #more_links_pod ul.top_row {
    border-bottom: 1px dashed #adc0c9; }
  #more_links_pod ul.only_row, #more_links_pod ul.bottom_row {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none; }
#more_links_pod li {
  float: left;
  width: 165px;
  padding: 0 12px 0 0; }
  #more_links_pod li.last {
    padding-right: 0; }
#more_links_pod img {
  display: block;
  width: 167px;
  height: 110px;
  margin: 0 0 7px;
  border: 1px solid #d2dce1;
  border-radius: 3px; }
#more_links_pod a {
  color: #000; }
  #more_links_pod a:hover {
    color: #597686; }
#more_links_pod .date {
  display: block;
  color: #09f;
  font-size: 11px;
  text-transform: uppercase; }
#more_links_pod .footer {
  margin: 8px 0 0;
  padding: 8px 0 0;
  color: #09f;
  text-align: right;
  font-family: 'Arial';
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #8ea8b5; }
  #more_links_pod .footer a, #more_links_pod .footer a:link, #more_links_pod .footer a:visited {
    color: #09f; }
    #more_links_pod .footer a:hover, #more_links_pod .footer a:link:hover, #more_links_pod .footer a:visited:hover {
      color: #597686; }
  #more_links_pod .footer span.arrow {
    display: inline-block;
    width: 6px;
    height: 13px;
    font-size: 17px;
    font-weight: normal;
    font-family: 'Times New Roman';
    text-indent: -10px;
    line-height: 17px;
    overflow: hidden; }
/*




*/
/*LEFT COLUMN*/
/*---------------------------------------------*/
#left_column {
  width: 740px; }
  #left_column .category_page_content .content_top {
    width: 707px; }
  #left_column .category_page_content .blue_section_divider.top {
    margin: 0; }
  #left_column .category_page_content .more_links {
    margin: 14px 0 0; }
    #left_column .category_page_content .more_links .label {
      display: inline-block;
      width: 170px;
      zoom: 1; }
    #left_column .category_page_content .more_links ul {
      display: inline; }
      #left_column .category_page_content .more_links ul li {
        display: inline;
        margin: 0 10px 0 0;
        font-size: 11px;
        line-height: 18px; }
        #left_column .category_page_content .more_links ul li .black_link {
          color: #0099ff !important;
          text-decoration: underline; }
          #left_column .category_page_content .more_links ul li .black_link:hover {
            color: #597686 !important; }
  #left_column .category_page_content .overview_copy_block {
    font-size: 12px;
    line-height: 14px; }
    #left_column .category_page_content .overview_copy_block .blue_section_divider {
      margin-bottom: 12px; }
    #left_column .category_page_content .overview_copy_block .overview_img {
      width: 165px;
      margin: 0 12px 0 0; }
      #left_column .category_page_content .overview_copy_block .overview_img img {
        width: 165px;
        height: 110px; }
      #left_column .category_page_content .overview_copy_block .overview_img .img_name {
        margin: 0 0 5px;
        padding: 5px 0 4px;
        color: #597686;
        font-size: 10px;
        border-bottom: 1px solid #DAE4E9; }
      #left_column .category_page_content .overview_copy_block .overview_img .img_name a,
      #left_column .category_page_content .overview_copy_block .overview_img .img_name a:visited {
        text-decoration: none; }
    #left_column .category_page_content .overview_copy_block .read_more {
      width: 528px; }
  #left_column .category_page_content .content_footer .content_footer_title {
    color: #09F;
    font-size: 20px;
    font-weight: bold; }
  #left_column .category_page_content .content_footer .related_section {
    float: left;
    width: 176px;
    padding: 3px 0 0; }
    #left_column .category_page_content .content_footer .related_section .section_item {
      margin: 0 0 3px;
      font-size: 13px;
      line-height: 18px; }
      #left_column .category_page_content .content_footer .related_section .section_item .black_link {
        color: #375363 !important;
        text-decoration: underline;
        text-shadow: 0 0 0.08em #DADADA; }
        #left_column .category_page_content .content_footer .related_section .section_item .black_link:hover {
          color: black !important; }
  #left_column .more_link {
    margin: 5px 0;
    padding: 0;
    color: #09f;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold; }
    #left_column .more_link a, #left_column .more_link .fake_link {
      text-decoration: underline; }

.read_more.pull_down .more_toggle {
  margin-top: -18px !important; }
.read_more.pull_down .less_toggle {
  margin-top: -6px !important; }
.read_more.pull_down .fake-link {
  top: 14px; }

/*RIGHT COLUMN*/
/*---------------------------------------------*/
#right_column {
  width: 240px; }
  #right_column .popular_entertainers {
    margin: 0 0 11px;
    padding: 10px 14px; }
    #right_column .popular_entertainers .title {
      color: #375363;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0; }
    #right_column .popular_entertainers .featured_entertainer .object_photo {
      display: block; }
      #right_column .popular_entertainers .featured_entertainer .object_photo img {
        display: block;
        width: 210px;
        height: 140px; }
    #right_column .popular_entertainers .featured_entertainer .img_name {
      margin: 0 0 5px;
      padding: 3px 0 4px;
      color: #597686;
      font-size: 10px;
      border-bottom: 1px solid #dae4e9; }
      #right_column .popular_entertainers .featured_entertainer .img_name a, #right_column .popular_entertainers .featured_entertainer .img_name a:visited {
        text-decoration: none; }
        #right_column .popular_entertainers .featured_entertainer .img_name a:hover, #right_column .popular_entertainers .featured_entertainer .img_name a:visited:hover {
          text-decoration: underline; }
    #right_column .popular_entertainers ul li {
      margin: 0 0 3px;
      text-shadow: 0 0 0.08em #dadada; }
      #right_column .popular_entertainers ul li .blue_text.arrow {
        text-indent: -20px;
        float: left;
        width: 12px; }
      #right_column .popular_entertainers ul li a.grey_text {
        display: block;
        width: 198px; }
      #right_column .popular_entertainers ul li a, #right_column .popular_entertainers ul li a:visited {
        color: #375363;
        text-decoration: underline; }
        #right_column .popular_entertainers ul li a:hover, #right_column .popular_entertainers ul li a:visited:hover {
          color: #000; }
    #right_column .popular_entertainers ul li:hover .blue_text.arrow,
    #right_column .popular_entertainers ul .hovered .blue_text.arrow {
      text-indent: -10px; }
    #right_column .popular_entertainers .search_link {
      text-align: right; }
      #right_column .popular_entertainers .search_link a, #right_column .popular_entertainers .search_link .fake_link {
        text-decoration: underline; }

#right_column .missing_venue_event,
#right_column .ad {
  display: none; }
