.spot_item {
  float: left;
  border-left: 1px dotted #ccc; }
  .spot_item .name {
    display: block;
    margin: 0 0 4px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    overflow: hidden; }
    .spot_item .name:hover {
      color: #597686; }
    .spot_item .name span {
      text-decoration: underline; }
  .spot_item .venue_type {
    height: 12px;
    padding: 0;
    overflow: hidden; }
    .spot_item .venue_type .icon_types {
      margin: 0 5px 0 0; }
  .spot_item .thumbnail_link {
    width: 345px;
    height: 230px; }
    .spot_item .thumbnail_link img {
      width: 345px;
      height: 230px; }
  .spot_item .details, .spot_item .user_review_summary {
    position: relative;
    height: 80px;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden; }
    .spot_item .details .by_line, .spot_item .user_review_summary .by_line {
      margin: 0 0 2px; }
    .spot_item .details .ellipsis, .spot_item .user_review_summary .ellipsis {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #fff;
      overflow: hidden; }
      .spot_item .details .ellipsis a, .spot_item .user_review_summary .ellipsis a {
        position: relative;
        bottom: 2px;
        font-size: 11px; }
  .spot_item .details p {
    padding-bottom: 0; }
  .spot_item .date_time {
    display: block;
    height: 20px;
    color: #09f;
    font-size: 14px;
    font-family: Arial Black, serif, sans-serif;
    line-height: 16px;
    text-transform: uppercase;
    overflow: hidden; }
  .spot_item .event_venue {
    display: block;
    height: 16px;
    color: #375363;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    line-height: 16px;
    text-shadow: 0 0 1px #ccc;
    overflow: hidden; }
  .spot_item a.event_venue {
    text-decoration: underline; }
    .spot_item a.event_venue:hover {
      color: #000; }
  .spot_item .desc {
    display: block;
    margin: 16px 0 0; }
  .spot_item address {
    position: relative;
    height: 39px;
    margin: 8px 0 0;
    padding: 8px 0 0 25px;
    color: #6c8898;
    font-size: 10px;
    line-height: 12px;
    font-family: Arial, serif, sans-serif;
    border-top: 1px dashed #adc0c9;
    overflow: hidden; }
    .spot_item address p {
      padding: 0; }
    .spot_item address .icon {
      position: absolute;
      left: 0;
      top: 10px;
      width: 17px;
      height: 21px;
      background-image: url(/assets/content_bg/app_sprite_2-38344cc4cf2d80646244af59a885ead6.png);
      background-position: -74px 0; }
  .spot_item .spot_item_foot {
    margin: 8px 0 0;
    padding: 8px 0 0;
    border-top: 1px dashed #adc0c9; }
/*

*/
.carousel_3 {
  /* START CAROUSEL BOX AND SPOT ITEM HEIGHTS ------ */
  /* Default height of the box and spot item which is a venue spot item */
  /* If we have 2 line titles increase the height by the line height of the '.name' (18px) element. */
  /* If at least 1 spot item address field goes to 3 lines increase height by line height of 'address' element. */
  /* If it is a list of event venues increase the height by 17 */
  /* If only event spot items decrease the height by 14 */
  /* Override styles from liked_by.scss */ }
  .carousel_3 .page_count {
    float: right;
    position: relative;
    top: 10px; }
    .carousel_3 .page_count .dot {
      float: left;
      width: 8px;
      height: 8px;
      margin: 0 0 0 10px;
      background-color: #16aeeb;
      border-radius: 50%;
      cursor: pointer; }
      .carousel_3 .page_count .dot:hover {
        background: #fff; }
    .carousel_3 .page_count.slide1 .dot.one {
      background: #fff; }
    .carousel_3 .page_count.slide2 .dot.two {
      background: #fff; }
    .carousel_3 .page_count.slide3 .dot.three {
      background: #fff; }
    .carousel_3 .page_count.slide4 .dot.four {
      background: #fff; }
  .carousel_3 .carousel_3_cont {
    position: relative; }
  .carousel_3 .carousel_3_box {
    position: relative;
    height: 396px;
    overflow: hidden; }
    .carousel_3 .carousel_3_box .spot_item {
      height: 396px; }
  .carousel_3.two_line_title .carousel_3_box {
    height: 414px; }
  .carousel_3.two_line_title .spot_item {
    height: 414px; }
    .carousel_3.two_line_title .spot_item .name_height {
      min-height: 36px; }
  .carousel_3.address_3_lines {
    /* If it is for Events and it has 2 line titles increase again by the height of the '.name' (18px) element. */ }
    .carousel_3.address_3_lines .carousel_3_box {
      height: 408px; }
    .carousel_3.address_3_lines .spot_item {
      height: 408px; }
      .carousel_3.address_3_lines .spot_item address {
        height: 36px; }
    .carousel_3.address_3_lines.two_line_title .carousel_3_box {
      height: 426px; }
    .carousel_3.address_3_lines.two_line_title .spot_item {
      height: 426px; }
  .carousel_3.event_venues {
    /* If it is for Events and it has 2 line titles increase again by the height of the '.name' (18px) element. */ }
    .carousel_3.event_venues .carousel_3_box {
      height: 427px; }
    .carousel_3.event_venues .spot_item {
      height: 427px; }
    .carousel_3.event_venues.two_line_title .carousel_3_box {
      height: 445px; }
    .carousel_3.event_venues.two_line_title .spot_item {
      height: 445px; }
  .carousel_3.carousel_events {
    /* If it is for Events and it has 2 line titles increase again by the height of the '.name' (18px) element. */ }
    .carousel_3.carousel_events .carousel_3_box {
      height: 382px; }
    .carousel_3.carousel_events .spot_item {
      height: 382px; }
    .carousel_3.carousel_events.two_line_title .carousel_3_box {
      height: 400px; }
    .carousel_3.carousel_events.two_line_title .spot_item {
      height: 400px; }
  .carousel_3 .carousel_3_sldr {
    position: absolute;
    top: 0;
    left: 0;
    width: 8000px; }
  .carousel_3 .carousel_3_sect {
    float: left;
    margin: 0 37px 0 0; }
  .carousel_3 .spot_item {
    width: 212px;
    margin: 0 0 0 17px;
    padding: 0 0 0 17px; }
    .carousel_3 .spot_item:first-child {
      margin-left: 0;
      padding-left: 0;
      border-left: none; }
    .carousel_3 .spot_item .thumbnail_link,
    .carousel_3 .spot_item .thumbnail_link img {
      width: 210px;
      height: 140px; }
    .carousel_3 .spot_item .quick_nav_links {
      margin: 0 0 10px;
      min-height: 14px;
      border-bottom: 1px solid #dae4e9; }
      .carousel_3 .spot_item .quick_nav_links li {
        margin-right: 9px; }
  .carousel_3 .prev_next_btns {
    position: absolute;
    top: 80px;
    width: 19px;
    height: 64px;
    text-indent: -9999px;
    background-image: url(/assets/content_bg/application_sprite-6ce4044712bf79a58873e9ec01afdce6.png);
    background-position: -152px -2957px;
    cursor: pointer; }
    .carousel_3 .prev_next_btns.disabled {
      display: none;
      cursor: default; }
    .carousel_3 .prev_next_btns.prev_btn {
      left: -21px; }
      .carousel_3 .prev_next_btns.prev_btn:hover {
        background-position: -152px -3021px; }
    .carousel_3 .prev_next_btns.next_btn {
      right: -21px;
      background-position: -171px -2957px; }
      .carousel_3 .prev_next_btns.next_btn:hover {
        background-position: -171px -3021px; }
  .carousel_3.two_line_title .prev_next_btns {
    top: 98px; }
  .carousel_3 .liked_by dt {
    margin: 0 10px 0 0; }
  .carousel_3 .liked_by .character_cont .dialog_box {
    right: 0; }
  .carousel_3 .liked_by .character_cont.emma .dialog_point {
    left: -1px; }
  .carousel_3.event_venues .spot_item .event_list {
    height: 150px;
    margin: 0 0 8px;
    border-bottom: 1px dashed #ADC0C9; }
    .carousel_3.event_venues .spot_item .event_list li {
      margin: 0 0 7px;
      padding-top: 8px;
      border-top: 1px dashed #ADC0C9; }
      .carousel_3.event_venues .spot_item .event_list li:first-child {
        padding-top: 0;
        border-top: 0; }
      .carousel_3.event_venues .spot_item .event_list li span {
        display: block;
        color: #09f;
        font-weight: bold; }
      .carousel_3.event_venues .spot_item .event_list li a, .carousel_3.event_venues .spot_item .event_list li a:link, .carousel_3.event_venues .spot_item .event_list li a:visited {
        color: #000; }
        .carousel_3.event_venues .spot_item .event_list li a:hover, .carousel_3.event_venues .spot_item .event_list li a:link:hover, .carousel_3.event_venues .spot_item .event_list li a:visited:hover {
          color: #597686; }
  .carousel_3.event_venues .spot_item .see_more {
    display: block;
    margin: 5px 0 0;
    color: #aaa;
    font-size: 11px;
    line-height: 12px; }
    .carousel_3.event_venues .spot_item .see_more:hover {
      color: #000; }
