.two_item_layout {
  width: 706px; }
  .two_item_layout .spot_item {
    float: left;
    width: 345px;
    margin: 0 7px 0 0;
    padding: 0 7px 0 0;
    border-right: 1px dotted #ccc; }
    .two_item_layout .spot_item .headline.sub_headline {
      height: 24px;
      font-size: 20px;
      overflow: hidden; }
      .two_item_layout .spot_item .headline.sub_headline a, .two_item_layout .spot_item .headline.sub_headline a:visited {
        text-decoration: underline; }
    .two_item_layout .spot_item .venue_type {
      margin: 2px 0 6px;
      padding: 0;
      line-height: 15px;
      height: 12px;
      overflow: hidden; }
      .two_item_layout .spot_item .venue_type .icon_types {
        margin: 0 5px 0 0; }
    .two_item_layout .spot_item .thumbnail_link {
      width: 345px;
      height: 230px; }
      .two_item_layout .spot_item .thumbnail_link img {
        width: 345px;
        height: 230px; }
    .two_item_layout .spot_item .quick_nav_links {
      margin: 4px 0 8px;
      border-bottom: 1px solid #dae4e9; }
    .two_item_layout .spot_item .desc, .two_item_layout .spot_item .user_review_summary, .two_item_layout .spot_item .details {
      display: block;
      position: relative;
      width: 337px;
      height: 80px;
      padding: 0;
      color: #000;
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
      overflow: hidden; }
      .two_item_layout .spot_item .desc .by_line, .two_item_layout .spot_item .user_review_summary .by_line, .two_item_layout .spot_item .details .by_line {
        margin: 0 0 2px; }
      .two_item_layout .spot_item .desc .ellipsis, .two_item_layout .spot_item .user_review_summary .ellipsis, .two_item_layout .spot_item .details .ellipsis {
        position: absolute;
        right: 0;
        bottom: -1px;
        max-width: 334px;
        height: 15px;
        font-size: 12px;
        line-height: 15px;
        background: #fff;
        overflow: hidden; }
        .two_item_layout .spot_item .desc .ellipsis a, .two_item_layout .spot_item .desc .ellipsis a:visited, .two_item_layout .spot_item .user_review_summary .ellipsis a, .two_item_layout .spot_item .user_review_summary .ellipsis a:visited, .two_item_layout .spot_item .details .ellipsis a, .two_item_layout .spot_item .details .ellipsis a:visited {
          font-size: 11px; }
    .two_item_layout .spot_item .details p {
      padding-bottom: 0; }
    .two_item_layout .spot_item .details .date_time {
      height: 15px;
      overflow: hidden; }
      .two_item_layout .spot_item .details .date_time .small_text {
        font-size: 16px;
        line-height: 14px;
        font-weight: bold;
        text-transform: inherit; }
    .two_item_layout .spot_item .details .event_venue {
      font-size: 15px;
      margin: 8px 0 0;
      height: 18px;
      overflow: hidden; }
      .two_item_layout .spot_item .details .event_venue .black_link {
        color: #375363 !important; }
        .two_item_layout .spot_item .details .event_venue .black_link:hover {
          color: #000 !important; }
    .two_item_layout .spot_item address {
      position: relative;
      height: 24px;
      margin: 8px 0 0;
      padding: 8px 0 0 25px;
      color: #6c8898;
      font-size: 10px;
      line-height: 12px;
      font-family: 'Arial', sans-serif;
      border-top: 1px dashed #adc0c9;
      overflow: hidden; }
      .two_item_layout .spot_item address p {
        padding: 0; }
      .two_item_layout .spot_item address .icon {
        position: absolute;
        left: 0;
        top: 10px;
        width: 17px;
        height: 21px;
        background-image: url(/assets/content_bg/app_sprite_2-3417b44f351ef19503fad784cd1fd90f.png);
        background-position: -74px 0; }
    .two_item_layout .spot_item.second {
      margin: 0;
      padding: 0;
      border: none; }
