/* NEW LOGIN FORM STYLES
------------------------------------
:: Forms were updated from table to table-less structure so new styles had to be introduced.
:: We should update all forms on the site and then consider moving following CSS styles to general form stylesheet.
:: I'm currently using ID's to restrict the styles to only the new forms. But when we update all forms this would most likely change.
------------------------------------*/
#login_area {
  position: relative;
  text-align: center; }

h1 {
  margin: 0 0 10px;
  color: #09f;
  font-size: 24px;
  font-weight: bold;
  line-height: 27px; }
  h1 span {
    color: #d9d9d9;
    font-size: 20px; }

h2, p {
  margin: 0 0 10px;
  padding: 0;
  color: #637e8d;
  font-size: 15px; }

p {
  font-size: 12px; }

p.or {
  position: absolute;
  top: 176px;
  left: 332px;
  z-index: 100;
  width: 64px;
  height: 64px;
  margin: 0;
  text-indent: -9999px;
  background-image: url(/assets/content_bg/application_sprite-5a0488603342b63f7f5e393defe3685e.png);
  background-position: -515px -419px; }

fieldset ol {
  padding: 0 0 0 75px; }
  fieldset ol ol {
    padding: 0; }
fieldset li {
  float: left;
  width: 100%;
  text-align: left;
  margin: 0 0 14px; }
fieldset li.note {
  width: auto;
  padding: 0 20px 0 152px;
  font-size: 12px; }
fieldset li:last-child {
  margin-bottom: 0; }
fieldset img {
  display: block;
  float: left;
  margin: 0;
  padding: 5px 0 0 5px; }
fieldset label {
  display: block;
  float: left;
  width: 135px;
  margin-right: 15px !important;
  padding: 3px 0 0;
  text-align: right;
  line-height: 18px; }
fieldset input, fieldset select, fieldset textarea {
  float: left;
  width: 264px;
  margin: 0;
  padding: 5px;
  font-size: 13px;
  line-height: 13px;
  background-color: #fff;
  border: 1px solid #c4c3c3;
  border-radius: 3px;
  -moz-box-shadow: inset 1px 1px 3px #ddd;
  -webkit-box-shadow: inset 1px 1px 3px #ddd;
  box-shadow: inset 1px 1px 3px #ddd; }
fieldset select {
  width: 276px; }
fieldset input[type=checkbox], fieldset input[type=radio] {
  width: auto;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
fieldset input[type=submit] {
  width: auto;
  height: auto;
  padding: 7px 30px; }
fieldset textarea {
  height: 85px; }
fieldset .radio_group, fieldset .checkbox_group, fieldset .textbox_group, fieldset .text_group {
  float: left;
  width: 276px;
  position: relative; }
  fieldset .radio_group li, fieldset .checkbox_group li, fieldset .textbox_group li, fieldset .text_group li {
    width: auto;
    margin: 0; }
  fieldset .radio_group label, fieldset .checkbox_group label, fieldset .textbox_group label, fieldset .text_group label {
    width: auto;
    font-weight: normal;
    text-align: left;
    line-height: 18px; }
  fieldset .radio_group input, fieldset .checkbox_group input, fieldset .textbox_group input, fieldset .text_group input {
    display: inline-block;
    margin: 0 5px 0 0; }
  fieldset .radio_group .choices, fieldset .checkbox_group .choices, fieldset .textbox_group .choices, fieldset .text_group .choices {
    height: auto;
    max-height: auto;
    overflow: visible; }
    fieldset .radio_group .choices img, fieldset .checkbox_group .choices img, fieldset .textbox_group .choices img, fieldset .text_group .choices img {
      left: 307px; }
  fieldset .radio_group .inline-errors, fieldset .radio_group img, fieldset .checkbox_group .inline-errors, fieldset .checkbox_group img, fieldset .textbox_group .inline-errors, fieldset .textbox_group img, fieldset .text_group .inline-errors, fieldset .text_group img {
    position: absolute;
    top: 26px;
    left: 0;
    margin: 0;
    white-space: nowrap; }
  fieldset .radio_group img, fieldset .checkbox_group img, fieldset .textbox_group img, fieldset .text_group img {
    top: 0;
    right: 9px;
    left: auto; }
fieldset .textbox_group, fieldset .text_group {
  padding: 0 0 0 20px;
  list-style: decimal; }
  fieldset .textbox_group li, fieldset .text_group li {
    float: none; }
  fieldset .textbox_group input, fieldset .text_group input {
    display: inline-block;
    float: none;
    margin: 0 0 5px; }
fieldset .text_group {
  list-style: none; }
fieldset .select_group select {
  float: left;
  width: 88px;
  margin-right: 5px; }
  fieldset .select_group select:last-child {
    margin: 0;
    width: 90px; }
fieldset .required abbr {
  color: #0099ff; }
fieldset .blue_btn {
  line-height: 18px; }
fieldset .inline-errors {
  display: block;
  position: relative;
  left: 152px;
  float: left;
  clear: left;
  margin: 5px 0 0 5px;
  padding: 0 0 1px 22px;
  color: #666;
  background: url(/assets/users/error-a95a1be24c80db8c302dd12073baff90.png) 0 0 no-repeat; }
fieldset .toggle {
  display: block;
  position: relative;
  left: 152px;
  float: left;
  clear: left;
  margin: 4px 0 0; }
fieldset .choices {
  max-height: 130px;
  overflow: auto; }

/* Additional form links (e.g. Forgot Password?)
 ------------------------------------*/
.add_links a {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #999; }
.add_links a:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: none; }

/* Old Buttons remove when SZ Updates Forms */
div.actions fieldset, .store_action_btns fieldset {
  float: right; }
  div.actions fieldset li, .store_action_btns fieldset li {
    float: right; }
  div.actions fieldset input, .store_action_btns fieldset input {
    margin-left: 10px; }

.actions p {
  float: left;
  width: 335px;
  margin: 0; }
  .actions p a {
    display: inline;
    margin: 0;
    float: none; }
.actions li {
  float: right;
  width: auto;
  margin: 0 0 0 10px; }
.actions input, .actions object, .actions a, .actions button {
  display: block;
  float: right;
  margin: 0 0 0 10px; }
.actions .previous_step {
  float: left;
  padding: 0 0 0 15px;
  color: #09f;
  line-height: 28px;
  text-decoration: underline;
  background-color: transparent;
  background-image: url(/assets/content_bg/application_sprite-5a0488603342b63f7f5e393defe3685e.png);
  background-position: -171px -2900px;
  cursor: pointer; }
  .actions .previous_step:hover {
    color: #597686; }

/* General form classes */
.login_box {
  margin: 0 0 10px;
  padding: 18px 10px 30px 25px;
  border-radius: 2px;
  background-color: #f0f0f0;
  background-image: url(/assets/content_bg/login_box-926c42b00988cf2fb47fa8768418639b.png); }

/* SOCIAL LOGIN STYLES
------------------------------------
:: Styles for the social login icons.
------------------------------------*/
#social_login {
  margin: 0 0 40px; }
  #social_login p {
    margin: 0 0 7px;
    font-size: 15px; }
    #social_login p.other_account {
      font-size: 13px; }
  #social_login .social_icons {
    margin: 0 0 12px; }
    #social_login .social_icons li {
      display: inline-block;
      margin: 0 4px 0 0; }
  #social_login .social_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    box-shadow: 0 1px 3px #696969;
    border-radius: 5px;
    text-indent: -9999px;
    background-image: url(/assets/content_bg/social_login_sprite-6a2397692ee9d7d99c48a6009247c8f7.png); }
    #social_login .social_icon:hover {
      box-shadow: 0 2px 3px #1c1c1c; }
    #social_login .social_icon.facebook, #social_login .social_icon.facebook_big {
      width: 138px;
      padding: 0 0 0 30px;
      color: #fff;
      text-decoration: none;
      text-indent: 0;
      font-weight: bold; }
      #social_login .social_icon.facebook:hover, #social_login .social_icon.facebook_big:hover {
        text-shadow: 0 0 1px #769cd6; }
    #social_login .social_icon.facebook_big {
      width: 224px;
      height: 50px;
      padding: 0 0 0 60px;
      font-size: 18px;
      font-weight: normal;
      text-align: left;
      line-height: 52px;
      border-radius: 8px; }
  #social_login .facebook_big {
    background-position: 0 0; }
  #social_login .facebook {
    background-position: 0 -52px; }
  #social_login .twitter {
    background-position: -170px -52px; }
  #social_login .google {
    background-position: -196px -52px; }
  #social_login .foursquare {
    background-position: -222px -52px; }
  #social_login .messenger {
    background-position: -248px -52px; }
  #social_login .aol {
    background-position: -274px -52px; }
  #social_login .yahoo {
    background-position: -300px -52px; }
  #social_login .facebook_big:hover {
    background-position: -286px 0; }
  #social_login .facebook:hover {
    background-position: 0 -78px; }
  #social_login .twitter:hover {
    background-position: -170px -78px; }
  #social_login .google:hover {
    background-position: -196px -78px; }
  #social_login .foursquare:hover {
    background-position: -222px -78px; }
  #social_login .messenger:hover {
    background-position: -248px -78px; }
  #social_login .aol:hover {
    background-position: -274px -78px; }
  #social_login .yahoo:hover:hover {
    background-position: -300px -78px; }
#right_column .section_divider,
.right_container .section_divider {
  height: 6px !important; }
#right_column .gptp_right_rail,
.right_container .gptp_right_rail {
  width: 206px;
  padding-bottom: 8px;
  margin-bottom: 12px; }
  #right_column .gptp_right_rail .title,
  .right_container .gptp_right_rail .title {
    margin: 0 0 15px;
    color: #375363;
    font-size: 24px; }
  #right_column .gptp_right_rail table,
  .right_container .gptp_right_rail table {
    position: relative;
    left: -3px;
    width: 206px; }
  #right_column .gptp_right_rail .writer_thumbnail,
  .right_container .gptp_right_rail .writer_thumbnail {
    padding: 0 4px 4px 0; }
    #right_column .gptp_right_rail .writer_thumbnail img,
    .right_container .gptp_right_rail .writer_thumbnail img {
      opacity: .85; }
    #right_column .gptp_right_rail .writer_thumbnail a:link,
    .right_container .gptp_right_rail .writer_thumbnail a:link {
      display: block;
      width: 50px;
      height: 50px; }
    #right_column .gptp_right_rail .writer_thumbnail a:hover img,
    .right_container .gptp_right_rail .writer_thumbnail a:hover img {
      opacity: 100; }
  #right_column .gptp_right_rail .meet_link a, #right_column .gptp_right_rail .meet_link .fake_link,
  #right_column .gptp_right_rail .learn_link a,
  #right_column .gptp_right_rail .learn_link .fake_link,
  .right_container .gptp_right_rail .meet_link a,
  .right_container .gptp_right_rail .meet_link .fake_link,
  .right_container .gptp_right_rail .learn_link a,
  .right_container .gptp_right_rail .learn_link .fake_link {
    text-decoration: underline; }
  #right_column .gptp_right_rail .meet_link .blue_text.arrow,
  #right_column .gptp_right_rail .learn_link .blue_text.arrow,
  .right_container .gptp_right_rail .meet_link .blue_text.arrow,
  .right_container .gptp_right_rail .learn_link .blue_text.arrow {
    top: 0;
    color: #FF9000; }
  #right_column .gptp_right_rail .app_btn,
  .right_container .gptp_right_rail .app_btn {
    display: block;
    margin-top: 2px;
    background-image: url(/assets/common/right_colmun_sprite-b6600341c6410c89695fca7a61add8c8.png);
    background-repeat: no-repeat; }
  #right_column .gptp_right_rail .app_btn.writer,
  .right_container .gptp_right_rail .app_btn.writer {
    width: 86px;
    height: 46px;
    margin-left: -7px;
    background-position: 0 -422px; }
  #right_column .gptp_right_rail .app_btn.writer:hover,
  .right_container .gptp_right_rail .app_btn.writer:hover {
    background-position: 0 -476px; }
  #right_column .gptp_right_rail .app_btn.photographer,
  .right_container .gptp_right_rail .app_btn.photographer {
    width: 134px;
    height: 46px;
    margin-right: -7px;
    background-position: -86px -422px; }
  #right_column .gptp_right_rail .app_btn.photographer:hover,
  .right_container .gptp_right_rail .app_btn.photographer:hover {
    background-position: -86px -476px; }
#right_column .missing_venue_event,
#right_column .share_btn,
#right_column .subscribe_btn,
#right_column .follow_btns,
#right_column .ad,
.right_container .missing_venue_event,
.right_container .share_btn,
.right_container .subscribe_btn,
.right_container .follow_btns,
.right_container .ad {
  cursor: pointer;
  background-image: url(/assets/common/right_colmun_sprite-b6600341c6410c89695fca7a61add8c8.png);
  background-repeat: no-repeat; }
#right_column #right_rail_simple_share,
.right_container #right_rail_simple_share {
  position: absolute;
  top: -60px;
  left: -9px; }
#right_column .missing_venue_event,
.right_container .missing_venue_event {
  position: relative;
  right: -1px;
  width: 243px;
  height: 148px;
  background-position: -294px -233px; }
#right_column .share_btn,
#right_column .subscribe_btn,
#right_column .follow_btns,
.right_container .share_btn,
.right_container .subscribe_btn,
.right_container .follow_btns {
  position: relative;
  right: 0;
  width: 243px;
  height: 44px;
  margin: 0 0 3px; }
#right_column .share_btn,
.right_container .share_btn {
  background-position: -291px -52px; }
#right_column .subscribe_btn,
.right_container .subscribe_btn {
  background-position: -291px -102px; }
#right_column .follow_btns,
.right_container .follow_btns {
  background-position: -291px -152px;
  cursor: default !important; }
  #right_column .follow_btns a,
  .right_container .follow_btns a {
    display: block;
    position: absolute;
    top: 7px;
    width: 32px;
    height: 32px;
    margin: 0; }
    #right_column .follow_btns a img,
    .right_container .follow_btns a img {
      width: 32px;
      height: 32px; }
  #right_column .follow_btns .gig-followbar-providerButton,
  .right_container .follow_btns .gig-followbar-providerButton {
    right: 41px; }
  #right_column .follow_btns .gig-followbar-providerButton-last,
  .right_container .follow_btns .gig-followbar-providerButton-last {
    right: 5px; }
#right_column .ad,
.right_container .ad {
  width: 240px;
  height: 400px;
  background-position: 0 0; }
/* GPTP IN THE PRESS POD
--------------------------------------------------------------------------- */
#gptp_in_press {
  margin: 0 0 10px; }
  #gptp_in_press h2 {
    margin: 0 0 10px;
    color: #375363;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    border-bottom: 1px dashed #ADC0C9; }
  #gptp_in_press li {
    padding: 12px 0 0;
    border-top: 2px solid #adc0c9; }
    #gptp_in_press li .img {
      display: block;
      float: left;
      width: 48px;
      height: 48px;
      margin: 0 10px 0 0;
      background-image: url(/assets/writer_applications/in_the_press_polaroids-ee5ba6b9790534fbf4ad1a3f2fffeef4.jpg);
      border: 1px solid #9a9a9a;
      border-radius: 4px; }
    #gptp_in_press li .details {
      float: left;
      width: 145px; }
      #gptp_in_press li .details .name_location {
        display: block;
        font-size: 10px;
        color: #8ea8b5;
        text-decoration: none; }
        #gptp_in_press li .details .name_location .name {
          color: #09f;
          text-decoration: underline; }
          #gptp_in_press li .details .name_location .name:hover {
            color: #597686; }
      #gptp_in_press li .details .article {
        display: block;
        color: #375363; }
        #gptp_in_press li .details .article:hover {
          color: #000; }
    #gptp_in_press li .featured {
      display: block;
      clear: left;
      color: #8ea8b5;
      font-size: 10px;
      text-transform: uppercase; }
      #gptp_in_press li .featured span {
        display: block;
        position: relative;
        margin: 0 0 6px;
        background-image: url(/assets/writer_applications/sprite-c68a5c05c3fe4527f6e8fabb932e616c.png); }
        #gptp_in_press li .featured span.maxim {
          width: 126px;
          height: 33px;
          margin-top: -18px;
          margin-bottom: -2px;
          margin-left: 77px;
          background-position: 0 -46px; }
        #gptp_in_press li .featured span.thp {
          width: 217px;
          height: 13px;
          background-position: -128px -46px; }
        #gptp_in_press li .featured span.look {
          width: 73px;
          height: 27px;
          margin-top: -13px;
          margin-left: 77px;
          background-position: -347px -46px; }
    #gptp_in_press li:first-child {
      border-top: none; }
      #gptp_in_press li:first-child .img {
        display: none; }
      #gptp_in_press li:first-child .details {
        float: none;
        width: auto; }
      #gptp_in_press li:first-child .name_location {
        margin-bottom: -15px; }
        #gptp_in_press li:first-child .name_location .name {
          display: block;
          position: relative;
          top: -10px;
          left: 7px;
          width: 196px;
          height: 208px;
          text-indent: -9999px;
          background-image: url(/assets/writer_applications/in_the_press_polaroids-ee5ba6b9790534fbf4ad1a3f2fffeef4.jpg);
          transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
          -moz-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
          -webkit-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
          -o-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
          -ms-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
          /* Uncomment if we want to implement for IE8 [https://snipt.net/viatropos/cross-browser-css-rotation-with-and-without-sass/]
          filter:             progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($deg)}, M12=-#{sin($deg)}, M21=#{sin($deg)}, M22=#{cos($deg)});
          -ms-filter:         "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($deg)}, M12=-#{sin($deg)}, M21=#{sin($deg)}, M22=#{cos($deg)})"; */
          zoom: 1; }
        #gptp_in_press li:first-child .name_location .location {
          visibility: hidden; }
      #gptp_in_press li:first-child .article {
        margin: 0 0 3px;
        color: #09f;
        font-size: 18px;
        font-weight: bold; }
    #gptp_in_press li.sykes .img {
      background-position: 0 -210px; }
    #gptp_in_press li.chu .img {
      background-position: -50px -210px; }
    #gptp_in_press li.merchants .img {
      background-position: -100px -210px; }
    #gptp_in_press li.hogan .img {
      background-position: -150px -210px; }
    #gptp_in_press li.sykes .name {
      background-position: 0 0; }
    #gptp_in_press li.chu .name {
      background-position: -198px 0; }
    #gptp_in_press li.merchants .name {
      background-position: -396px 0; }
    #gptp_in_press li.hogan .name {
      background-position: -600px 0; }
/*


*/
#login_area {
  text-align: left; }

#application_steps {
  margin: 0 0 11px;
  padding: 0 0 11px;
  border-bottom: 1px dashed #adc0c9; }
  #application_steps li {
    position: relative;
    float: left;
    margin: 0 35px 0 0;
    padding: 5px 0 0 40px;
    color: #ccc;
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    text-transform: capitalize; }
    #application_steps li span {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      color: #fff;
      font-size: 21px;
      width: 30px;
      height: 30px;
      font-weight: normal;
      text-align: center;
      line-height: 30px;
      background-color: #ccc;
      border-radius: 50%; }
    #application_steps li#step_1 {
      width: 135px; }
    #application_steps li#step_2 {
      width: 170px; }
    #application_steps li#step_3 {
      width: 210px;
      margin-right: 0; }
    #application_steps li.selected {
      color: #09f; }
    #application_steps li.selected span {
      background-color: #09f; }

.select_list_btns {
  margin: 0 0 8px; }
  .select_list_btns li {
    float: left;
    margin: 0 10px 0 0; }
    .select_list_btns li:last-child, .select_list_btns li.last {
      margin-right: 0; }
  .select_list_btns a {
    display: block;
    position: relative;
    height: 20px;
    padding: 0 25px 0 10px;
    color: #597686;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 23px;
    text-decoration: none;
    background-color: #fefefe;
    background: gradient(linear, 0 0, 0 100%, from(#fefefe), to(#e5e5e5));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#e5e5e5));
    background: -moz-linear-gradient(top, #fefefe, #e5e5e5);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fefefe, endColorStr=#e5e5e5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fefefe, endColorStr=#e5e5e5);
    border: 1px solid #dadada;
    border-radius: 4px;
    box-shadow: 0 1px 1px #999; }
    .select_list_btns a:hover {
      color: #254350;
      background-color: #fefefe;
      background: gradient(linear, 0 0, 0 100%, from(#fefefe), to(#ebebeb));
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#ebebeb));
      background: -moz-linear-gradient(top, #fefefe, #ebebeb);
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fefefe, endColorStr=#ebebeb);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fefefe, endColorStr=#ebebeb);
      box-shadow: 0 2px 4px #b2b2b2; }
  .select_list_btns span {
    display: block;
    position: absolute;
    top: 4px;
    right: 3px;
    width: 14px;
    height: 14px;
    background-image: url(/assets/writer_applications/sprite-c68a5c05c3fe4527f6e8fabb932e616c.png); }
  .select_list_btns .refresh span {
    background-position: 0 0; }
  .select_list_btns .add span {
    background-position: -16px 0; }
  .select_list_btns .remove span {
    background-position: -32px 0; }
  .select_list_btns .plus span {
    background-position: -48px 0; }

.form_footer_note {
  margin: 40px 0 0;
  font-size: 10px;
  line-height: 12px; }

.gptp_right_rail .inner_divider.solid,
.gptp_right_rail .app_btn {
  display: none !important; }
/*


*/
/* Styles for the writer application login step lightbox */
#gptp_login {
  width: 525px;
  height: 205px;
  margin-top: -102.5px;
  margin-left: -262.5px;
  padding: 20px; }
  #gptp_login #gptp_login_left {
    float: left;
    width: 175px;
    text-align: right;
    line-height: 36px; }
    #gptp_login #gptp_login_left h1 {
      float: right;
      margin: 0 0 5px;
      line-height: 100%; }
    #gptp_login #gptp_login_left h2 {
      float: right;
      clear: both;
      line-height: 18px; }
  #gptp_login #social_login {
    float: right;
    margin: 0; }
    #gptp_login #social_login .login_box {
      padding: 15px 25px 10px; }
    #gptp_login #social_login .social_icons {
      margin: 0; }
  #gptp_login .header {
    margin: 0 0 5px; }
  #gptp_login .footer {
    clear: both;
    text-align: right; }
    #gptp_login .footer p {
      margin: 0;
      font-size: 11px;
      line-height: 12px; }

.ui-widget-overlay {
  width: 100%;
  height: 100%;
  z-index: 1001; }
/*


*/
#photo_app_upload {
  position: relative;
  border-bottom: 1px dashed #adc0c9;
  margin-bottom: 8px;
  padding-bottom: 8px; }
  #photo_app_upload #photo_app_btns {
    position: absolute;
    bottom: 3px;
    right: 0; }
  #photo_app_upload #FileInput {
    width: 178px;
    margin: 0; }
  #photo_app_upload #FileInputUploader {
    width: 160px;
    height: 33px;
    background-image: url(/assets/photographer_applications/photographer_second_step_sprite-811a6ab7dda24ad3d508bdc7fcf80394.png);
    background-position: -160px -66px;
    cursor: pointer; }
  #photo_app_upload #FileInputUploader:hover {
    background-position: -160px -100px; }
  #photo_app_upload #FileInputUploader.disabled {
    background-position: 0 -66px;
    cursor: default; }
  #photo_app_upload .upload_btn {
    float: right;
    height: 16px;
    line-height: 17px; }
  #photo_app_upload .uploadifyQueue {
    display: none; }
  #photo_app_upload .upload_error {
    clear: left;
    color: red;
    font-weight: bold; }

#photo_app_photos {
  padding: 11px 0 0;
  border-bottom: 1px dashed #adc0c9;
  margin-bottom: 8px;
  padding-bottom: 8px; }
  #photo_app_photos .photo_item {
    position: relative;
    float: left;
    font-size: 11px;
    margin: 0 11px 20px 0;
    width: 100px;
    height: 134px; }
    #photo_app_photos .photo_item span {
      display: block; }
    #photo_app_photos .photo_item img {
      width: 98px;
      height: 98px;
      border: 1px solid #ccc; }
    #photo_app_photos .photo_item .photo_number {
      display: block;
      width: 66px;
      height: 66px;
      padding: 16px;
      color: #CCC;
      font-size: 62px;
      line-height: 66px;
      text-align: center;
      background: none repeat scroll 0 0 whiteSmoke;
      border: 1px solid #CCC; }
      #photo_app_photos .photo_item .photo_number.cell_error {
        border: 1px red solid; }
    #photo_app_photos .photo_item .progress {
      position: absolute;
      top: 79px;
      left: 4px;
      width: 85px;
      height: 9px;
      padding: 3px;
      background-color: #fff;
      border: 1px solid #c5c5c5;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px; }
      #photo_app_photos .photo_item .progress .progress_bar {
        width: 0;
        max-width: 100%;
        height: 7px;
        background-color: #09F;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px; }
    #photo_app_photos .photo_item .delete_icon {
      position: absolute;
      right: -8px;
      top: -8px;
      width: 16px;
      height: 16px;
      background: url(/assets/photographer_applications/photographer_second_step_sprite-811a6ab7dda24ad3d508bdc7fcf80394.png) -156px 0 no-repeat transparent;
      cursor: pointer; }
    #photo_app_photos .photo_item .loading_notice {
      position: absolute;
      top: 55px;
      left: 0;
      width: 100%;
      color: #999;
      text-align: center; }
    #photo_app_photos .photo_item .file_name {
      overflow: hidden; }
    #photo_app_photos .photo_item .loading_image {
      position: absolute;
      top: 36px;
      left: 43px;
      width: 16px;
      height: 16px;
      background-image: url(/assets/content_bg/loading2-64ee8bf8cd27dfeb0be40562480b5dfb.gif);
      opacity: 0.7; }
    #photo_app_photos .photo_item .ui-widget-overlay {
      background: white; }
