/* TOOLTIP STYLES
--------------------------------------------------------------
:: Basic Styles for the tooltip container and point.
:: Position and border need to be adjusted for specific usage.
-------------------------------------------------------------- */
.dialog_box {
  position: absolute;
  z-index: 6000;
  padding: 4px;
  background-color: #889aa4;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }
  .dialog_box .dialog_content_wrapper {
    padding: 11px 7px 9px;
    background-color: #f7f9fb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
  .dialog_box .dialog_img {
    display: none; }
  .dialog_box .dialog_content h1 {
    color: #09f;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 6px; }
  .dialog_box .dialog_content p {
    padding: 0;
    font-size: 13px;
    line-height: 16px !important;
    /* To override venue styles for  #object_page_info dd p */ }
  .dialog_box .dialog_content .title {
    float: left;
    text-transform: uppercase;
    line-height: 16px; }
  .dialog_box .close_btn, .dialog_box .close_btn:hover {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 8px;
    height: 8px;
    background-image: url(/assets/characters/liked_by_sprite.png);
    background-position: -172px -138px; }

.dialog_point {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0 0 -12px;
  border-top: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent; }
  .dialog_point .dialog_inner_point {
    position: absolute;
    z-index: 6001;
    width: 0;
    height: 0;
    margin: 0 0 10px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    overflow: hidden; }

/* Help Button Tooltip Trigger/Container
-------------------------------------------------------------- */
.help_btn {
  position: relative;
  z-index: 3000;
  width: 16px;
  height: 16px;
  background-image: url(/assets/content_bg/application_sprite.png);
  background-position: -27px -185px;
  /* Position of dialog box and point specific to help trigger */ }
  .help_btn:hover {
    background-position: -44px -185px;
    cursor: pointer; }
  .help_btn .dialog_box {
    width: 260px;
    top: -22px;
    left: 29px; }
  .help_btn .dialog_point {
    top: -4px;
    left: 18px;
    border-right: 12px solid #889AA4;
    border-left: none; }
    .help_btn .dialog_point .dialog_inner_point {
      left: 5px;
      top: -10px;
      border-right: 10px solid #F7F9FB;
      border-left: none; }

/* Ratings Help Tooltip */
#ratings-help p {
  padding: 0;
  color: #000;
  font-size: 11px;
  line-height: 13px; }
#ratings-help table {
  margin: 5px 0 0; }
#ratings-help td {
  vertical-align: top; }
#ratings-help .char-link {
  text-decoration: none; }
  #ratings-help .char-link:hover {
    text-decoration: underline; }
#ratings-help .lucas-color {
  color: #3375C4; }
#ratings-help .adriana-color {
  color: #B8529E; }
#ratings-help .jonah-color {
  color: #73B808; }
#ratings-help .emma-color {
  color: #FFCC05; }
#ratings-help .stars {
  display: block;
  width: 66px;
  height: 14px;
  margin: 1px 15px 0 0;
  background-image: url(/assets/characters/char_page_ratings_stars.png); }
  #ratings-help .stars.row1 {
    background-position: 0 -47px; }
  #ratings-help .stars.row2 {
    background-position: 0 -61px; }
  #ratings-help .stars.row3 {
    background-position: 0 -75px; }
  #ratings-help .stars.row4 {
    background-position: 0 -89px; }
  #ratings-help .stars.row5 {
    background-position: 0 -103px; }
/*

*/
/*HIDE BOTTOM BAR*/
/*--------------------------------*/
#container_bg_bottom {
  padding: 0 !important; }

.floating_bar_wrapper {
  display: none !important; }

#footer_content {
  height: 316px !important;
  padding-bottom: 0 !important; }

#footer_content .pod #guide_img {
  bottom: -84px !important;
  height: 178px !important; }

/*--------------------------------*/
.store_content.checkout_form_page .shipping_checkmark {
  padding: 0 0 0 85px; }

.store_content.checkout_form_page .inputs ol li {
  margin: 0 0 10px; }

.store_content.checkout_form_page .inputs ol li ul li {
  margin: 0; }

.store_content.checkout_form_page .inputs li ul,
.store_content.checkout_form_page .inputs li ul li {
  display: inline-block;
  /*FOR IE7*/
  *display: inline;
  zoom: 1; }

/*FOR INLINE ERRORS*/
.store_content.checkout_form_page .inline-errors {
  position: absolute;
  left: 285px;
  top: 1px;
  width: 240px;
  padding: 0 0 0 22px;
  background-image: url(/assets/users/error.png);
  background-repeat: no-repeat; }

.store_content.checkout_form_page .input_inner_wrapper img {
  left: 290px;
  position: absolute;
  top: 6px; }

.store_content.checkout_form_page #order_shipping_zip_input .inline-errors,
.store_content.checkout_form_page #order_billing_zip_input .inline-errors {
  left: 89px; }

.store_content.checkout_form_page #order_shipping_zip_input .input_inner_wrapper img,
.store_content.checkout_form_page #order_billing_zip_input .input_inner_wrapper img {
  left: 94px;
  top: 6px; }

.store_content.checkout_form_page .card_number_input .inline-errors {
  left: 250px; }

.store_content.checkout_form_page .card_number_input .input_inner_wrapper img {
  left: 255px; }

.store_content.checkout_form_page .security_code_input .inline-errors {
  left: 84px; }

.store_content.checkout_form_page .security_code_input .input_inner_wrapper img {
  left: 89px; }

/*GENERAL PROPERTIES*/
.store_content.checkout_form_page .inputs .input_wrapper {
  width: 280px;
  position: relative; }

.store_content.checkout_form_page .inputs .card_info .input_wrapper {
  width: 245px; }

.store_content.checkout_form_page .inputs .card_info .input_wrapper.security_code_input {
  width: 58px; }

.store_content.checkout_form_page .inputs label {
  display: inline-block;
  width: 84px;
  /*FOR IE7*/
  *display: inline;
  zoom: 1;
  *position: relative;
  *top: -5px; }

#order_shipping_type_input label {
  *padding-bottom: 2px; }

.store_content.checkout_form_page .inputs .card_info label {
  width: 116px;
  *padding-bottom: 2px; }

label[for="order_billing_card_type"],
label[for="card_month"] {
  position: relative;
  top: -9px; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* FOR WEBKIT BROWSERS */
  label[for="order_billing_card_type"],
  label[for="card_month"] {
    position: static;
    top: 0; } }
#order_shipping_zip_input label,
#order_billing_zip_input label {
  width: 30px; }

.store_content.checkout_form_page .inputs label abbr {
  color: #0099FF;
  font-size: 20px;
  margin: 0 0 0 4px;
  position: relative;
  top: 2px; }

#order_shipping_zip_input .input_wrapper,
#order_billing_zip_input .input_wrapper {
  width: 84px; }

/*FORM DROPDOWNS*/
#order_shipping_state_zip_input {
  margin-top: -9px;
  /*FOR IE7*/
  *margin-top: 0; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* FOR WEBKIT BROWSERS */
  #order_shipping_state_zip_input {
    margin-top: 0; } }
.store_content.checkout_form_page .state_dropdown {
  position: relative;
  left: -3px;
  width: 146px;
  margin: 0 11px 0 0;
  top: 9px;
  /*FOR IE7*/
  *top: 0;
  *left: 0;
  *margin: 0 16px 0 0; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* FOR WEBKIT BROWSERS */
  .store_content.checkout_form_page .state_dropdown {
    top: 0; } }
#order_shipping_state_zip_input ul {
  position: relative;
  z-index: 1000; }

.store_content.checkout_form_page .state_dropdown .Choices.choices {
  height: 139px;
  overflow: auto;
  width: 144px; }

.store_content.checkout_form_page .state_dropdown .footer_bottom {
  width: 135px; }

.store_content.checkout_form_page .state_dropdown .Title,
.store_content.checkout_form_page .month_dropdown .Title {
  padding-right: 0; }

.store_content.checkout_form_page .Title .unselected.error {
  color: red;
  font-size: 11px; }

/*SHIPPING DROPDOWN*/
.store_content.checkout_form_page .shipping_dropdown {
  left: -3px;
  position: relative;
  top: -6px;
  width: 284px;
  /*FOR IE7*/
  *left: 0;
  *top: -7px; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* FOR WEBKIT BROWSERS */
  .store_content.checkout_form_page .shipping_dropdown {
    top: -14px; } }
.store_content.checkout_form_page .shipping_dropdown .Choices.choices {
  width: 282px; }

.store_content.checkout_form_page .shipping_dropdown .footer_bottom {
  width: 273px; }

/*CREDIT CARD DROPDOWN*/
#order_billing_card_type_input {
  z-index: 1000;
  /*for ie7*/
  position: relative; }

#order_billing_card_type_input .inline-errors {
  left: 369px;
  top: 4px; }

.store_content.checkout_form_page .card_type_dropdown {
  width: 172px; }

.store_content.checkout_form_page .card_type_dropdown .Choices.choices {
  width: 170px; }

.store_content.checkout_form_page .card_type_dropdown .footer_bottom {
  width: 161px; }

/*VISA AND MASTERCARD LOGOS ON BILLING PAGE*/
.store_content.checkout_form_page #order_billing_card_type_input .visa_logo {
  position: relative;
  top: 7px;
  left: 4px;
  *top: -10px;
  /*FOR IE7*/ }

.store_content.checkout_form_page #order_billing_card_type_input .mastercard_logo {
  left: 11px;
  position: relative;
  top: 5px;
  *top: -8px;
  /*FOR IE7*/ }

/*CREDIT CARD MONTH DROPDOWN*/
#order_card_expiration_input {
  z-index: 1000;
  /*for ie7*/ }

#order_card_expiration_input ul {
  position: relative;
  z-index: 1000; }

#order_card_expiration_input .inline-errors {
  left: 250px; }

.store_content.checkout_form_page .month_dropdown {
  width: 145px;
  margin: 0 12px 0 0; }

.store_content.checkout_form_page .month_dropdown .Choices.choices {
  width: 143px; }

.store_content.checkout_form_page .month_dropdown .footer_bottom {
  width: 134px; }

/*CREDIT CARD YEAR DROPDOWN*/
.store_content.checkout_form_page .year_dropdown {
  width: 89px; }

.store_content.checkout_form_page .year_dropdown .Choices.choices {
  width: 87px; }

.store_content.checkout_form_page .year_dropdown .footer_bottom {
  width: 78px; }

.store_content.checkout_form_page .store_action_btns .buttons {
  float: left; }

/* SECURITY CODE TOOLTIP */
#cc_security_tip {
  display: inline-block; }
  #cc_security_tip .help_btn {
    top: 5px; }
  #cc_security_tip .dialog_box {
    width: 514px; }
  #cc_security_tip .divider {
    height: 6px; }
  #cc_security_tip .security-code-help {
    width: 250px;
    margin: 0 0 0 15px; }
    #cc_security_tip .security-code-help img {
      margin: 6px 0 0; }

.store_content.checkout_form_page .newsletter_opt_in {
  width: 287px;
  margin: 0 0 0 85px; }

/*AUTHORIZE.NET SEAL*/
#seal_wrapper {
  display: inline-block;
  margin: 0 0 6px 120px;
  padding: 8px 12px 8px 8px;
  border: 1px solid #cacaca; }
  #seal_wrapper #seal_container {
    float: left;
    margin: 0 21px 0 0;
    width: 90px;
    height: 94px; }
  #seal_wrapper p {
    float: left;
    margin: 15px 0 0;
    padding: 0; }
    #seal_wrapper p span {
      display: block; }
      #seal_wrapper p span.line1 {
        margin: 0 0 5px;
        color: #666;
        font-size: 17px;
        font-weight: bold; }
      #seal_wrapper p span.line2 {
        margin: 0 0 5px;
        font-size: 16px; }
      #seal_wrapper p span.line3 {
        font-size: 11px;
        line-height: 13px; }
