.TitleContainer {
  background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -116px transparent;
  padding: 0 29px 0 0; }

.TitleContainer:hover {
  background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -145px transparent; }

.TitleContainer.Opened {
  background-position: 100% -58px; }

.TitleContainer.Opened:hover {
  background-position: 100% -87px; }

.TitleContainer .Title {
  background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 0 0 transparent;
  height: 19px;
  line-height: 20px;
  overflow: hidden;
  padding: 4px 10px; }

.TitleContainer.Opened .Title {
  background-position: 0 -29px; }

.TitleContainer .Title.select .unselected {
  color: #999; }

.dropdown_wrapper {
  cursor: pointer;
  display: inline-block;
  /*FOR IE7*/
  *display: inline;
  zoom: 1; }
  .dropdown_wrapper .dropdown {
    position: absolute;
    z-index: 3001; }
  .dropdown_wrapper .choices_wrapper {
    padding: 0 2px 0 0;
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -1456px transparent; }
  .dropdown_wrapper .Choices.choices {
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 0 -232px transparent; }
  .dropdown_wrapper .Choice.choice {
    margin: 0 0 0 1px;
    padding: 0 10px; }
  .dropdown_wrapper .Choice.choice:hover {
    color: #fff;
    background: #0099ff; }
  .dropdown_wrapper .footer_bottom {
    height: 11px;
    padding: 0 11px 0 0;
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -2654px transparent; }
  .dropdown_wrapper .footer_bottom .footer_right {
    height: 11px;
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 0 -1443px transparent; }

.month_dropdown .choices_wrapper {
  width: 83px; }

.day_dropdown .choices_wrapper {
  width: 70px; }

.year_dropdown .choices_wrapper {
  width: 73px; }
/*BEGIN NAVIGATION CSS*/
#masthead .middle_line .additional_links .link.selected {
  background: none;
  box-shadow: none; }
  #masthead .middle_line .additional_links .link.selected a, #masthead .middle_line .additional_links .link.selected a:visited {
    color: #597686;
    text-decoration: underline; }
  #masthead .middle_line .additional_links .link.selected .point {
    display: none; }
#masthead .middle_line .additional_links .link.store {
  background: #fc8f00;
  box-shadow: 0 1px 0 #ccc; }
  #masthead .middle_line .additional_links .link.store a, #masthead .middle_line .additional_links .link.store a:visited {
    color: #fff;
    text-decoration: none; }
  #masthead .middle_line .additional_links .link.store .point {
    display: block;
    border-color: #bf6c01 transparent transparent #bf6c01;
    border-width: 4px;
    border-style: solid;
    overflow: hidden;
    position: absolute;
    bottom: -8px;
    right: 0; }
#masthead .middle_line .additional_links:hover .link.store {
  background: none;
  box-shadow: none; }
  #masthead .middle_line .additional_links:hover .link.store a, #masthead .middle_line .additional_links:hover .link.store a:visited {
    color: #597686;
    text-decoration: underline; }
  #masthead .middle_line .additional_links:hover .link.store .point {
    display: none; }
#masthead .middle_line .additional_links:hover .link.store:hover {
  background: #fc8f00;
  box-shadow: 0 1px 0 #ccc; }
  #masthead .middle_line .additional_links:hover .link.store:hover a, #masthead .middle_line .additional_links:hover .link.store:hover a:visited {
    color: #fff;
    text-decoration: none; }
  #masthead .middle_line .additional_links:hover .link.store:hover .point {
    display: block; }

/*BEGIN GENERAL PAGE PROPERTIES*/
/*STEP BLOCKS*/
.store_content .step_block {
  color: #ccc;
  margin: 0 118px 0 0;
  font-weight: bold; }

.store_content .step_block.selected {
  color: #0099ff; }
  .store_content .step_block.selected h2 {
    color: #09f; }

.store_content .step_block h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  padding: 0 0 3px;
  text-decoration: none;
  color: #ccc; }

.store_content .step_block h3 {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none; }

.store_content .section_divider.dashed_line {
  margin: 12px 0;
  height: 1px !important; }

#store_info .strike_text {
  text-decoration: line-through; }

#store_info .red_text {
  color: #CC0000; }

#store_info .store_action_btns {
  bottom: 13px;
  position: absolute;
  right: 17px; }

#store_info .store_action_btns .read_more_txt_link_left {
  margin: 6px 0 0; }

#store_info .store_action_btns fieldset {
  float: left; }

#store_info .large_text {
  font-size: 14px; }

.store_action_btns a,
.store_action_btns input {
  float: left;
  margin: 0 0 0 20px; }

.store_action_btns a.blue_btn {
  color: #fff; }

#store_info .dashed_line {
  height: 1px;
  border-top: 1px dashed #dedcdc; }

#store_info .no_padd .dashed_line {
  margin: 8px 0 0; }

.store_content .no_padd {
  padding: 0 !important; }

.right_align_text {
  text-align: right; }

.center_align_text {
  text-align: center; }

.left_align_text {
  text-align: left; }

.store_content .shipping_message {
  color: #999999;
  margin: 0 0 6px 0; }

/*FOR CREDIT CARD LOGOS*/
.store_content .visa_logo,
.store_content .mastercard_logo {
  background-image: url(/assets/store/store_btns_sprite-c97e8c12bb92fc1ebe0c246ee5fd7382.png);
  display: inline-block;
  vertical-align: top;
  /*FOR IE7*/
  *display: inline;
  zoom: 1; }

.store_content .visa_logo {
  background-position: 0 -280px;
  width: 34px;
  height: 12px; }

.store_content .mastercard_logo {
  background-position: -34px -280px;
  width: 27px;
  height: 16px; }

/*BEGIN LEFT COLUMN*/
.left_column {
  width: 735px; }

.left_column #store_info {
  min-height: 360px;
  position: relative; }

/*FOR PRODUCT TABLE*/
#store_info .product_img {
  padding: 0 15px 0 0;
  width: 69px; }

#store_info .product_img img {
  width: 69px;
  height: 121px; }

.store_content .product_table {
  width: 100%;
  font-size: 14px; }

#store_info .product_table .column_title {
  background: none repeat scroll 0 0 #E6E6E6;
  border-right: 4px solid #FFFFFF;
  color: #000000;
  height: 20px;
  padding: 1px 10px; }

.store_content .product_table td {
  border-right: 4px solid #FFFFFF;
  padding: 6px 10px 0;
  vertical-align: top; }

#store_info .product_table .first_td {
  padding-bottom: 6px;
  padding-left: 0; }

#store_info .gray_row {
  background: none repeat scroll 0 0 #E6E6E6; }

#store_info .product_table .gray_row,
#store_info .product_table .gray_row td {
  border-right: 0; }

/*BEGIN RIGHT COLUMN*/
#right_column {
  width: 240px;
  margin: 0 0 0 15px; }

#right_column #ad_240x400 {
  margin: 0; }
.input_wrapper {
  background: url(/assets/content_bg/input_sprite-dbdd47cbeb8bd89df3f53b6b6e860ecf.png) 100% -29px no-repeat;
  padding: 0 6px 0 0;
  display: inline-block;
  /*FOR IE7*/
  *display: inline;
  zoom: 1;
  z-index: 0; }

.input_wrapper .input_inner_wrapper {
  background: url(/assets/content_bg/input_sprite-dbdd47cbeb8bd89df3f53b6b6e860ecf.png) 0 0 no-repeat;
  min-height: 21px;
  padding: 4px 2px 4px 8px; }

.input_wrapper .input_inner_wrapper input {
  background: none;
  width: 100%;
  font-family: 'PT Sans',arial,sans-serif; }
/*




*/
/*HIDE BOTTOM BAR*/
/*--------------------------------*/
#container_bg_bottom {
  padding: 0 !important; }

.floating_bar_wrapper {
  display: none !important; }

#footer {
  /*height:338px !important;*/ }

#module_bottom {
  height: 316px !important;
  padding-bottom: 0 !important; }

#module_bottom .pod #guide_img {
  bottom: -84px !important;
  height: 178px !important; }

/*--------------------------------*/
.store_content.checkout_success_page .confirm_table td {
  vertical-align: top; }

/*FOR PRODUCT TABLE*/
.store_content.checkout_success_page .success_product_table {
  font-size: 11px;
  line-height: 11px; }

.store_content.checkout_success_page .success_product_table .right_align_text {
  padding: 0 11px 0 0; }

.store_content.checkout_success_page .success_product_table .gray_row.blue_text {
  font-size: 13px; }

.store_content.checkout_success_page .success_product_table .gray_row.blue_text td {
  padding: 5px 0 1px 8px; }

.store_content.checkout_success_page .success_product_table .gray_row.blue_text .right_align_text {
  padding: 5px 8px 1px 0; }

.store_content.checkout_success_page .success_product_table .shipping_message {
  font-size: 13px;
  padding: 5px 0 0; }

.store_content.checkout_success_page .print_link {
  background: url(/assets/content_bg/left_thin_arrow-7c2a10234aeaeb93be4d82d1056ceb47.gif) no-repeat scroll 2px 7px transparent;
  padding: 0 0 0 15px;
  display: inline-block; }

/*FOR TELL US MORE SECTION*/
.store_content.checkout_success_page .tell_us_more_section h3 {
  font-size: 15px; }

.store_content.checkout_success_page .tell_us_more_section ul li {
  margin: 0 0 10px; }

.store_content.checkout_success_page .tell_us_more_section .inputs label,
.store_content.checkout_success_page .tell_us_more_section li label {
  display: inline-block;
  width: 118px;
  /*FOR IE*/
  zoom: 1;
  *display: inline; }

/*DROPDOWNS*/
.store_content.checkout_success_page .tell_us_more_section .dob_dropdown .dropdown_wrapper {
  float: none;
  margin: 0 10px 0 0; }

.store_content.checkout_success_page .tell_us_more_section .dob_dropdown .Choices.choices {
  height: 110px;
  overflow: auto; }

/*MONTH DROPDOWN*/
/*----------------------------------------*/
.store_content.checkout_success_page .tell_us_more_section .dob_dropdown .month_dropdown {
  width: 117px; }

.store_content.checkout_success_page .tell_us_more_section .dob_dropdown .month_dropdown .Choices.choices {
  width: 115px; }

.store_content.checkout_success_page .tell_us_more_section .dob_dropdown .month_dropdown .footer_bottom {
  width: 106px; }

/*DAY DROPDOWN*/
/*----------------------------------------*/
.store_content.checkout_success_page .tell_us_more_section .dob_dropdown .day_dropdown {
  width: 87px; }

.store_content.checkout_success_page .tell_us_more_section .dob_dropdown .day_dropdown .Choices.choices {
  width: 85px; }

.store_content.checkout_success_page .tell_us_more_section .dob_dropdown .day_dropdown .footer_bottom {
  width: 76px; }

/*YEAR DROPDOWN*/
/*----------------------------------------*/
.store_content.checkout_success_page .tell_us_more_section .dob_dropdown .year_dropdown {
  width: 119px; }

.store_content.checkout_success_page .tell_us_more_section .dob_dropdown .year_dropdown .Choices.choices {
  width: 117px; }

.store_content.checkout_success_page .tell_us_more_section .dob_dropdown .year_dropdown .footer_bottom {
  width: 108px; }

/*----------------------------------------*/
.store_content.checkout_success_page .tell_us_more_section .choose_gender ol {
  display: inline-block;
  /*FOR IE*/
  zoom: 1;
  *display: inline; }

.store_content.checkout_success_page .tell_us_more_section .choose_gender ol li {
  display: inline-block;
  width: 70px;
  margin: 0;
  /*FOR IE*/
  zoom: 1;
  *display: inline; }

.store_content.checkout_success_page .tell_us_more_section .choose_gender ol li label {
  width: auto; }

.store_content.checkout_success_page .tell_us_more_section .input_wrapper {
  width: 338px; }

.store_content.checkout_success_page .tell_us_more_section .hear_about_dropdown {
  width: 342px; }

.store_content.checkout_success_page .tell_us_more_section .hear_about_dropdown .choices_wrapper {
  width: 340px; }

.store_content.checkout_success_page .tell_us_more_section .hear_about_dropdown .Choices.choices {
  max-height: 54px;
  overflow: auto; }

.store_content.checkout_success_page .tell_us_more_section .hear_about_dropdown .footer_bottom {
  width: 331px; }

.store_content.checkout_success_page .tell_us_more_section .submit_btn {
  width: 94px;
  margin: 0 0 0 373px; }
