/* NEW LOGIN FORM STYLES
------------------------------------
:: Forms were updated from table to table-less structure so new styles had to be introduced.
:: We should update all forms on the site and then consider moving following CSS styles to general form stylesheet.
:: I'm currently using ID's to restrict the styles to only the new forms. But when we update all forms this would most likely change.
------------------------------------*/
#login_area {
  position: relative;
  text-align: center; }

h1 {
  margin: 0 0 10px;
  color: #09f;
  font-size: 24px;
  font-weight: bold;
  line-height: 27px; }
  h1 span {
    color: #d9d9d9;
    font-size: 20px; }

h2, p {
  margin: 0 0 10px;
  padding: 0;
  color: #637e8d;
  font-size: 15px; }

p {
  font-size: 12px; }

p.or {
  position: absolute;
  top: 176px;
  left: 332px;
  z-index: 100;
  width: 64px;
  height: 64px;
  margin: 0;
  text-indent: -9999px;
  background-image: url(/assets/content_bg/application_sprite-7f479dd5003ebc3db84ed2358643c74c.png);
  background-position: -515px -419px; }

fieldset ol {
  padding: 0 0 0 75px; }
  fieldset ol ol {
    padding: 0; }
fieldset li {
  position: relative;
  float: left;
  width: 100%;
  text-align: left;
  margin: 0 0 14px; }
  fieldset li:last-child {
    margin-bottom: 0; }
  fieldset li.note {
    width: auto;
    padding: 0 20px 0 167px;
    font-size: 12px; }
fieldset label {
  display: block;
  float: left;
  width: 150px;
  margin-right: 15px !important;
  padding: 3px 0 0;
  text-align: right;
  line-height: 18px; }
fieldset input, fieldset select, fieldset textarea {
  float: left;
  width: 264px;
  margin: 0;
  padding: 5px;
  font-size: 13px;
  line-height: 13px;
  background-color: #fff;
  border: 1px solid #c4c3c3;
  border-radius: 3px;
  -moz-box-shadow: inset 1px 1px 3px #ddd;
  -webkit-box-shadow: inset 1px 1px 3px #ddd;
  box-shadow: inset 1px 1px 3px #ddd; }
fieldset input[type=checkbox], fieldset input[type=radio] {
  width: auto;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
fieldset select {
  width: 276px; }
fieldset textarea {
  height: 85px; }
fieldset .checkbox_group, fieldset .textbox_group, fieldset .text_group {
  float: left;
  width: 276px;
  position: relative; }
  fieldset .checkbox_group li, fieldset .textbox_group li, fieldset .text_group li {
    width: auto;
    margin: 0; }
  fieldset .checkbox_group label, fieldset .textbox_group label, fieldset .text_group label {
    width: auto;
    font-weight: normal;
    text-align: left;
    line-height: 18px; }
  fieldset .checkbox_group input, fieldset .textbox_group input, fieldset .text_group input {
    display: inline-block;
    margin: 0 5px 0 0; }
  fieldset .checkbox_group .choices, fieldset .textbox_group .choices, fieldset .text_group .choices {
    height: auto;
    max-height: auto;
    overflow: visible; }
  fieldset .checkbox_group .inline-errors, fieldset .textbox_group .inline-errors, fieldset .text_group .inline-errors {
    left: 0; }
  fieldset .checkbox_group #user_subscribe_input, fieldset .textbox_group #user_subscribe_input, fieldset .text_group #user_subscribe_input {
    width: 430px; }
    fieldset .checkbox_group #user_subscribe_input label, fieldset .textbox_group #user_subscribe_input label, fieldset .text_group #user_subscribe_input label {
      position: relative;
      padding: 0 0 0 20px; }
      fieldset .checkbox_group #user_subscribe_input label input, fieldset .textbox_group #user_subscribe_input label input, fieldset .text_group #user_subscribe_input label input {
        position: absolute;
        left: 0; }
  fieldset .checkbox_group img, fieldset .textbox_group img, fieldset .text_group img {
    left: 286px; }
fieldset .radio_group legend {
  display: block;
  float: left;
  padding: 3px 0 0;
  text-align: right;
  line-height: 18px; }
fieldset .radio_group ol {
  float: left;
  width: 264px;
  margin: 0;
  padding: 7px 0 0; }
  fieldset .radio_group ol li {
    display: inline-block;
    width: auto;
    margin: 0 5px 0 0;
    font-size: 13px;
    line-height: 13px; }
  fieldset .radio_group ol label, fieldset .radio_group ol input {
    display: inline;
    width: auto;
    float: none;
    margin: 0; }
  fieldset .radio_group ol input {
    display: inline-block;
    margin: 0 2px 0 0; }
fieldset .textbox_group, fieldset .text_group {
  padding: 0 0 0 20px;
  list-style: decimal; }
  fieldset .textbox_group li, fieldset .text_group li {
    float: none; }
  fieldset .textbox_group input, fieldset .text_group input {
    display: inline-block;
    float: none;
    margin: 0 0 5px; }
fieldset .text_group {
  list-style: none; }
fieldset .select_group select {
  float: left;
  width: 88px;
  margin-right: 5px; }
  fieldset .select_group select:last-child {
    margin: 0;
    width: 90px; }
fieldset .multiple_text ol {
  float: left;
  width: 274px; }
fieldset .required abbr {
  color: #0099ff; }
fieldset .inline-errors {
  display: block;
  position: relative;
  left: 167px;
  float: left;
  clear: left;
  width: 247px;
  margin: 5px 0 0 5px;
  padding: 0 0 0 22px;
  color: #666;
  background-image: url(/assets/users/error-3d61d983ead9b929cff56dd203b6fae1.png);
  background-repeat: no-repeat; }
fieldset .inline-success, fieldset img {
  display: block;
  position: absolute;
  top: 8px;
  left: 457px; }
fieldset .toggle {
  display: block;
  position: relative;
  left: 167px;
  float: left;
  clear: left;
  margin: 4px 0 0; }
fieldset .choices {
  max-height: 130px;
  overflow: auto; }

/* Additional form links (e.g. Forgot Password?)
 ------------------------------------*/
.add_links a {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #999; }
  .add_links a:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: none; }

/* Old Buttons remove when SZ Updates Forms */
div.actions fieldset, .store_action_btns fieldset {
  float: right; }
  div.actions fieldset li, .store_action_btns fieldset li {
    float: right; }
  div.actions fieldset input, .store_action_btns fieldset input {
    margin-left: 10px; }

.actions p {
  float: left;
  width: 335px;
  margin: 0; }
  .actions p a {
    display: inline;
    margin: 0;
    float: none; }
.actions li {
  float: right;
  width: auto;
  margin: 0 0 0 10px; }
.actions input, .actions object, .actions a, .actions button {
  display: inline-block;
  float: right;
  margin: 0 0 0 10px; }
.actions .previous_step {
  float: left;
  padding: 0 0 0 15px;
  color: #09f;
  line-height: 28px;
  text-decoration: underline;
  background-color: transparent;
  background-image: url(/assets/content_bg/application_sprite-7f479dd5003ebc3db84ed2358643c74c.png);
  background-position: -171px -2900px;
  cursor: pointer; }
  .actions .previous_step:hover {
    color: #597686; }

/* General form classes */
.login_box {
  margin: 0 0 10px;
  padding: 18px 10px 18px 25px;
  border-radius: 2px;
  background-color: #f0f0f0;
  background-image: url(/assets/content_bg/login_box-66125b367f4759c7303d245295d0a83f.png); }

/* SOCIAL LOGIN STYLES
------------------------------------
:: Styles for the social login icons.
------------------------------------*/
#social_login {
  margin: 0 0 40px; }
  #social_login p {
    margin: 0 0 7px;
    font-size: 15px; }
    #social_login p.other_account {
      font-size: 13px; }
  #social_login .social_icons {
    margin: 0 0 12px; }
    #social_login .social_icons li {
      display: inline-block;
      margin: 0 4px 0 0; }
  #social_login .social_icon {
    background-image: url(/assets/content_bg/social_login_sprite-f7060a689c560ce1de878dba56b548d5.png);
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    height: 37px;
    line-height: 24px;
    text-indent: -9999px;
    width: 33px; }
    #social_login .social_icon.facebook, #social_login .social_icon.facebook_big {
      width: 138px;
      padding: 0 0 0 30px;
      color: #fff;
      text-decoration: none;
      text-indent: 0;
      font-weight: bold; }
      #social_login .social_icon.facebook:hover, #social_login .social_icon.facebook_big:hover {
        text-shadow: 0 0 1px #769cd6; }
    #social_login .social_icon.facebook_big {
      width: 224px;
      height: 50px;
      padding: 0 0 0 60px;
      font-size: 18px;
      font-weight: normal;
      text-align: left;
      line-height: 52px;
      border-radius: 8px; }
  #social_login .facebook_big {
    background-position: 0 0; }
  #social_login .facebook {
    background-position: 0 -52px; }
  #social_login .twitter {
    background-position: -171px -52px; }
  #social_login .google {
    background-position: -211px -52px; }
  #social_login .yahoo {
    background-position: -411px -52px; }
  #social_login .messenger {
    background-position: -291px -52px; }
  #social_login .aol {
    background-position: -331px -52px; }
  #social_login .googleplus {
    background-position: -371px -52px; }
  #social_login .foursquare {
    background-position: -251px -52px; }
  #social_login .facebook_big:hover {
    background-position: -286px 0; }
  #social_login .facebook:hover {
    background-position: 0 -78px; }
  #social_login .twitter:hover {
    background-position: -171px -95px; }
  #social_login .google:hover {
    background-position: -211px -95px; }
  #social_login .yahoo:hover {
    background-position: -411px -95px; }
  #social_login .messenger:hover {
    background-position: -291px -95px; }
  #social_login .aol:hover {
    background-position: -331px -95px; }
  #social_login .googleplus:hover {
    background-position: -371px -95px; }
  #social_login .foursquare:hover {
    background-position: -251px -95px; }
/*

*/
/* LOGIN PAGE SPECIFIC STYLES
------------------------------------
:: These styles are specifically for the login page.
------------------------------------*/
#login_area {
  text-align: left; }

.login_box {
  min-height: 206px; }

p.or {
  top: 85px;
  left: 319px; }

/* Styles are similar to application.scss Update in separate file when have time.*/
fieldset ol {
  padding-left: 0; }
  fieldset ol li {
    margin-bottom: 7px; }
  fieldset ol label {
    display: block;
    float: none;
    width: auto;
    margin: 0;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-align: left; }
  fieldset ol input[type=radio], fieldset ol input[type=checkbox] {
    margin: 0 5px 0 0; }
  fieldset ol img {
    top: 27px;
    left: 286px; }
  fieldset ol .inline-errors {
    left: 0; }
  fieldset ol .toggle {
    position: static; }

#social_login {
  margin-right: 33px; }
  #social_login .login_box {
    text-align: left; }

.login_box_cont {
  float: left;
  width: 335px; }
/*

*/
.login_box {
  height: auto; }
