/*BEGIN GENERAL BOTTOM BAR STYLES*/
.floating_bar_wrapper {
  margin: 0 auto;
  max-width: 1212px;
  /*1114px*/
  /*previously 1280px*/ }
  .floating_bar_wrapper * {
    -moz-user-select: none !important; }

#floating_bar {
  height: 25px;
  position: fixed;
  bottom: 0;
  background: url(/assets/content_bg/application_sprite.png) 0 -2867px repeat-x #282526;
  color: #FFFFFF;
  z-index: 6000;
  padding: 0 1%;
  min-width: 990px;
  max-width: 1186px;
  /*1114px*/
  /*previously 1250px*/
  width: 98%;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0; }

#floating_bar .bottom_bar {
  margin: 0 12px 0 0;
  /*previously 0 144px 0 0*/ }

#floating_bar .bottom_bar .divider {
  background: url(/assets/content_bg/application_sprite.png) -168px -1491px no-repeat;
  width: 3px;
  height: 25px; }

/*ADVERTISEMENT STYLES*/
#floating_bar .bottom_bar .bottom_bar_ad {
  /*background:url(/assets/content_bg/application_sprite.png) 0 -1432px no-repeat;*/
  height: 31px;
  /*height: 39px;*/
  margin: -8px 25px 0 0;
  /*margin: -17px 25px 0 0;*/
  /*width:71px; */
  /*width: 215px;*/
  text-decoration: none;
  display: inline-block; }

#floating_bar .bottom_bar .bottom_bar_ad img {
  border: 1px solid #CCC; }

#floating_bar .bottom_bar .bottom_bar_ad .text {
  color: white;
  font-size: 11px;
  line-height: 11px;
  margin: -17px 0 0 102px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 2px black; }

/*GENERAL BUTTON STYLES*/
#floating_bar .bottom_bar .btn {
  background: url(/assets/content_bg/application_sprite.png) no-repeat;
  height: 25px;
  position: relative; }

/*FIND YOUR SCENE BUTTON*/
#floating_bar .bottom_bar .find_your_scene_btn {
  background-position: 0 -1491px;
  width: 116px; }

#floating_bar .bottom_bar .find_your_scene_btn:hover {
  background-position: 0 -1516px; }

#floating_bar .bottom_bar .find_your_scene_btn .find_your_scene_popup {
  width: 712px;
  height: 47px;
  margin-left: -186%;
  /*previously -125%*/ }

#floating_bar .bottom_bar .find_your_scene_btn .find_your_scene_popup .bottom_arrow {
  left: 265px;
  /*previously 194px*/ }

/*KEVIN MODULE PROPERTIES*/
#floating_bar .bottom_bar .kevin_module {
  height: 44px;
  position: relative; }

#floating_bar .bottom_bar .kevin_module .field_item {
  margin: 0 9px 0 0; }

#floating_bar .bottom_bar .kevin_module .field_item.Opened {
  background: none repeat scroll 0 0 #383838;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 10px 15px 0; }

#floating_bar .bottom_bar .kevin_module .dropdown_wrapper {
  bottom: 5px;
  position: relative;
  display: block; }

#floating_bar .bottom_bar .kevin_module .dropdown_wrapper .Title.select {
  color: #000000;
  height: 19px;
  font-size: 11px;
  line-height: 17px;
  padding: 4px 10px; }

#floating_bar .bottom_bar .kevin_module .dropdown_wrapper .Title.select .unselected {
  color: #999; }

#floating_bar .bottom_bar .kevin_module .dropdown_wrapper .Title.select .unselected.error {
  color: red;
  font-weight: bold; }

#floating_bar .bottom_bar .kevin_module .dropdown_wrapper .Title.select.Closed,
#floating_bar .bottom_bar .kevin_module .dropdown_wrapper .Title.select.ClosedWithSelection {
  background: url(/assets/content_bg/application_sprite.png) no-repeat; }

#floating_bar .bottom_bar .kevin_module .dropdown_wrapper .Title.select.Opened {
  background: url(/assets/content_bg/application_sprite.png) no-repeat;
  bottom: -27px;
  position: absolute; }

#floating_bar .bottom_bar .kevin_module .dropdown_wrapper .dropdown {
  margin: 0 0 27px;
  color: #000; }

/*BEGIN STYLES FOR "I'M IN" DROPDOWN*/
#floating_bar .bottom_bar .kevin_module .in {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 171px; }

#floating_bar .bottom_bar .kevin_module .in.Closed {
  z-index: 1004; }

#floating_bar .bottom_bar .kevin_module .in.Opened {
  background-position: 0 -659px;
  left: -15px; }

#floating_bar .bottom_bar .kevin_module .in .dropdown_wrapper .Title.select.ClosedWithSelection .choice_city_name {
  height: 19px;
  overflow: hidden;
  width: 132px; }

#floating_bar .bottom_bar .kevin_module .in .dropdown_wrapper .Title.select.Closed,
#floating_bar .bottom_bar .kevin_module .in .dropdown_wrapper .Title.select.ClosedWithSelection {
  background-position: 0 -1799px; }

#floating_bar .bottom_bar .kevin_module .in .dropdown_wrapper .Title.select.Closed:hover,
#floating_bar .bottom_bar .kevin_module .in .dropdown_wrapper .Title.select.ClosedWithSelection:hover {
  background-position: 0 -1826px; }

#floating_bar .bottom_bar .kevin_module .in .dropdown_wrapper .Title.select.Opened {
  background-position: 0 -1853px;
  width: 151px; }

#floating_bar .bottom_bar .kevin_module .in .dropdown_wrapper .Title.select.Opened:hover {
  background-position: 0 -1880px; }

#floating_bar .bottom_bar .kevin_module .in .dropdown_wrapper .dropdown .choices {
  background: url(/assets/bottom_bar/bottom_bar_bg_dropdown_sprite.png) 0 0 no-repeat;
  padding: 6px 0 0; }

#floating_bar .bottom_bar .kevin_module .in .dropdown_wrapper .dropdown .choice {
  background: url(/assets/bottom_bar/bottom_bar_bg_dropdown_sprite.png) -171px 0 repeat-y;
  padding: 0 11px; }

#floating_bar .bottom_bar .kevin_module .in .dropdown_wrapper .dropdown .choice:hover {
  color: #fff;
  background: #0099ff;
  margin: 0 1px; }

/*BEGIN STYLES FOR "LOOKING FOR" DROPDOWN*/
#floating_bar .bottom_bar .kevin_module .looking_for {
  bottom: 0;
  left: 180px;
  position: absolute;
  width: 186px; }

#floating_bar .bottom_bar .kevin_module .looking_for.Closed {
  z-index: 1003; }

#floating_bar .bottom_bar .kevin_module .looking_for.Opened {
  background-position: 0 -553px;
  left: 165px; }

#floating_bar .bottom_bar .kevin_module .looking_for .dropdown_wrapper .dropdown {
  background: url(/assets/bottom_bar/bottom_bar_bg_dropdown_sprite.png) -342px 0 no-repeat;
  padding: 6px 0 0; }

#floating_bar .bottom_bar .kevin_module .looking_for .dropdown_wrapper .Title.select.Closed {
  color: #999999; }

#floating_bar .bottom_bar .kevin_module .looking_for .dropdown_wrapper .Title.select.Closed,
#floating_bar .bottom_bar .kevin_module .looking_for .dropdown_wrapper .Title.select.ClosedWithSelection {
  background-position: 0 -1907px; }

#floating_bar .bottom_bar .kevin_module .looking_for .dropdown_wrapper .Title.select.Closed:hover,
#floating_bar .bottom_bar .kevin_module .looking_for .dropdown_wrapper .Title.select.ClosedWithSelection:hover {
  background-position: 0 -1934px; }

#floating_bar .bottom_bar .kevin_module .looking_for .dropdown_wrapper .Title.select.Opened {
  background-position: 0 -1961px;
  width: 166px; }

#floating_bar .bottom_bar .kevin_module .looking_for .dropdown_wrapper .Title.select.Opened:hover {
  background-position: 0 -1988px; }

#floating_bar .bottom_bar .kevin_module .looking_for .dropdown_wrapper .dropdown .choices {
  max-height: 342px;
  overflow: auto; }

#floating_bar .bottom_bar .kevin_module .looking_for .dropdown_wrapper .dropdown .choice {
  background: url(/assets/bottom_bar/bottom_bar_bg_dropdown_sprite.png) -528px 0 repeat-y;
  padding: 0 11px; }

#floating_bar .bottom_bar .kevin_module .looking_for .dropdown_wrapper .dropdown .choice:hover {
  color: #fff;
  background: #0099ff;
  margin: 0 0 0 1px; }

/*BEGIN STYLES FOR "ON" DROPDOWN*/
#floating_bar .bottom_bar .kevin_module .on {
  bottom: 0;
  left: 376px;
  position: absolute;
  width: 121px; }

#floating_bar .bottom_bar .kevin_module .on.Closed {
  z-index: 1002; }

#floating_bar .bottom_bar .kevin_module .on.Opened {
  background-position: 0 -784px;
  left: 361px; }

#floating_bar .bottom_bar .popup .on input[type="text"] {
  border: 1px solid #C4C4C4;
  font-size: 11px;
  height: 21px;
  margin: 3px 0 0;
  padding: 3px;
  width: 91px; }

#floating_bar .bottom_bar .popup .on .select_btn {
  width: 83px;
  height: 27px;
  margin: 5px 0 0 0;
  -webkit-box-shadow: 0px 1px 5px #999;
  -moz-box-shadow: 0px 1px 5px #999; }

#floating_bar .bottom_bar .kevin_module .on .dropdown_wrapper .Title.select.Closed {
  color: #999999; }

#floating_bar .bottom_bar .kevin_module .on .dropdown_wrapper .Title.select.Closed,
#floating_bar .bottom_bar .kevin_module .on .dropdown_wrapper .Title.select.ClosedWithSelection {
  background-position: 0 -2015px; }

#floating_bar .bottom_bar .kevin_module .on .dropdown_wrapper .Title.select.Closed:hover,
#floating_bar .bottom_bar .kevin_module .on .dropdown_wrapper .Title.select.ClosedWithSelection:hover {
  background-position: 0 -2042px; }

#floating_bar .bottom_bar .kevin_module .on .dropdown_wrapper .Title.select.Opened {
  background-position: 0 -2069px;
  width: 166px; }

#floating_bar .bottom_bar .kevin_module .on .dropdown_wrapper .Title.select.Opened:hover {
  background-position: 0 -2096px; }

#floating_bar .bottom_bar .kevin_module .on .dropdown_wrapper .dropdown .choices {
  background: url(/assets/bottom_bar/bottom_bar_bg_dropdown_sprite.png) -714px 0 no-repeat;
  padding: 6px 0 0; }

#floating_bar .bottom_bar .kevin_module .on .dropdown_wrapper .dropdown .choice,
#floating_bar .bottom_bar .kevin_module .on .dropdown_wrapper .dropdown .custom_dates {
  background: url(/assets/bottom_bar/bottom_bar_bg_dropdown_sprite.png) -835px 0 repeat-y;
  padding: 0 11px; }

#floating_bar .bottom_bar .kevin_module .on .dropdown_wrapper .dropdown .Choice.choice:hover {
  color: #fff;
  background: #0099ff;
  margin: 0 1px; }

#floating_bar .bottom_bar .kevin_module .on .dropdown_wrapper .dropdown .custom_dates {
  padding-bottom: 5px; }

/*BEGIN STYLES FOR "RECOMMENDED BY" DROPDOWN*/
#floating_bar .bottom_bar .kevin_module .recommended_by {
  bottom: 0;
  left: 506px;
  position: absolute;
  width: 141px; }

#floating_bar .bottom_bar .kevin_module .recommended_by.Closed {
  z-index: 1000; }

#floating_bar .bottom_bar .kevin_module .recommended_by.Opened {
  background-position: 0 -805px;
  left: 491px; }

#floating_bar .bottom_bar .kevin_module .recommended_by .dropdown_wrapper .Title.select.Closed,
#floating_bar .bottom_bar .kevin_module .recommended_by .dropdown_wrapper .Title.select.ClosedWithSelection {
  background-position: 0 -2123px; }

#floating_bar .bottom_bar .kevin_module .recommended_by .dropdown_wrapper .Title.select.Closed:hover,
#floating_bar .bottom_bar .kevin_module .recommended_by .dropdown_wrapper .Title.select.ClosedWithSelection:hover {
  background-position: 0 -2150px; }

#floating_bar .bottom_bar .kevin_module .recommended_by .dropdown_wrapper .Title.select.Opened {
  background-position: 0 -2177px;
  width: 151px; }

#floating_bar .bottom_bar .kevin_module .recommended_by .dropdown_wrapper .Title.select.Opened:hover {
  background-position: 0 -2204px; }

#floating_bar .bottom_bar .kevin_module .recommended_by .dropdown_wrapper .dropdown .choices {
  background: url(/assets/bottom_bar/bottom_bar_bg_dropdown_sprite.png) -956px 0 no-repeat;
  padding: 6px 0 0; }

#floating_bar .bottom_bar .kevin_module .recommended_by .dropdown_wrapper .dropdown .choice {
  background: url(/assets/bottom_bar/bottom_bar_bg_dropdown_sprite.png) -1097px 0 repeat-y;
  padding: 0 11px; }

#floating_bar .bottom_bar .kevin_module .recommended_by .dropdown_wrapper .dropdown .choice:hover {
  color: #fff;
  background: #0099ff;
  margin: 0 1px; }

/*KEVIN MODULE GO BUTTON*/
#floating_bar .bottom_bar .popup .kevin_module .go_btn {
  width: 58px;
  margin: 12px 0 0;
  height: 27px; }

/*ARE WE MISSING A VENUE OR EVENT BUTTON*/
#floating_bar .bottom_bar .missing_venue_btn {
  background-position: 0 -1541px;
  width: 204px; }

#floating_bar .bottom_bar .missing_venue_btn:hover {
  background-position: 0 -1566px; }

#floating_bar .bottom_bar .missing_venue_btn .missing_venue_popup {
  width: 348px;
  margin-left: -46%; }

#floating_bar .bottom_bar .missing_venue_btn .missing_venue_popup .bottom_arrow {
  left: 190px; }

/*SHARE BUTTON*/
#floating_bar .bottom_bar .share_btn {
  background-position: 0 -1591px;
  width: 58px; }

#floating_bar .bottom_bar .share_btn:hover {
  background-position: 0 -1616px; }

#floating_bar .bottom_bar .share_btn #bottom_bar_simple_share {
  position: absolute;
  top: -182px;
  left: 90px; }

#floating_bar .bottom_bar .share_btn .share_menu_popup {
  width: 258px;
  left: 50%;
  margin-left: -254%; }

#floating_bar .bottom_bar .share_btn .share_menu_popup .bottom_arrow {
  left: 140px; }

#floating_bar .bottom_bar .share_btn .email_page_to_friend_popup,
#floating_bar .bottom_bar .share_btn .invite_friend_popup {
  width: 370px;
  left: 50%;
  margin-left: -342%; }

#floating_bar .bottom_bar .share_btn .email_page_to_friend_popup label[for="friend_email"],
#floating_bar .bottom_bar .share_btn .invite_friend_popup label[for="friend_email"] {
  line-height: 13px;
  width: 110px; }

#floating_bar .bottom_bar .share_btn .email_page_to_friend_popup .bottom_arrow,
#floating_bar .bottom_bar .share_btn .invite_friend_popup .bottom_arrow {
  left: 191px; }

/*SUBSCRIBE BUTTON*/
#floating_bar .bottom_bar .subscribe_btn {
  background-position: 0 -1641px;
  width: 82px; }

#floating_bar .bottom_bar .subscribe_btn:hover {
  background-position: 0 -1666px; }

#floating_bar .bottom_bar .subscribe_btn .newsletter_popup {
  width: 348px;
  left: 50%;
  margin-left: -312%; }

#floating_bar .bottom_bar .subscribe_btn .newsletter_popup .bottom_arrow {
  left: 250px; }

/*GENERAL POPUP STYLES*/
#floating_bar .bottom_bar .popup {
  background: none repeat scroll 0 0 #383838;
  bottom: 35px;
  color: #fff;
  padding: 13px 15px 10px;
  position: absolute;
  -moz-box-shadow: 3px 3px 8px -2px #888888;
  box-shadow: 3px 3px 8px -2px #888888;
  -webkit-box-shadow: 3px 3px 8px -2px #888888;
  -moz-border-radius: 4px 0 4px 4px;
  border-radius: 4px 0 4px 4px;
  -webkit-border-radius: 4px 0 4px 4px; }

#floating_bar .bottom_bar .popup .grey_text {
  color: #999999;
  display: inline-block;
  font-size: 11px;
  margin: 0 9px 0 0; }

#floating_bar .bottom_bar .popup .CloseButton {
  background: url(/assets/content_bg/application_sprite.png) 0 -203px no-repeat;
  height: 24px;
  position: absolute;
  right: 0;
  top: -15px;
  width: 30px; }

#floating_bar .bottom_bar .popup .CloseButton:hover {
  background-position: 0 -227px; }

#floating_bar .bottom_bar .popup .bottom_arrow {
  background: url(/assets/content_bg/application_sprite.png) -136px -1532px no-repeat;
  width: 14px;
  height: 9px;
  position: absolute;
  bottom: -9px; }

#floating_bar .bottom_bar .popup .btn {
  height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: white;
  font-size: 1.1em;
  padding: 5px 15px 5px 15px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0px 1px 5px #222;
  -moz-box-shadow: 0px 1px 5px #222;
  text-shadow: 0px 1px 2px #5BC6F3;
  border: solid #0098fe 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0098fe), to(#1977ce));
  background: -moz-linear-gradient(top, #0098fe, #1977ce);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#0098fe, endColorStr=#1977ce);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#0098fe, endColorStr=#1977ce);
  display: inline-block;
  /* FOR IE */
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.1em; }

#floating_bar .bottom_bar .popup .btn:hover {
  background: #2388f5;
  color: #fff;
  text-shadow: 0px 0px 12px #fff;
  text-decoration: none; }

#floating_bar .bottom_bar .popup .btn:active {
  background: #1977ce;
  color: #c0dbed;
  text-shadow: none;
  -webkit-box-shadow: inset 0px 0px 6px #1333A9;
  -moz-box-shadow: inset 0px 0px 6px #1333A9; }

#floating_bar .bottom_bar .popup .title {
  margin: 0 0 8px;
  color: #0099ff;
  font-size: 18px;
  font-weight: bold;
  font-family: 'PT Sans Narrow', arial, sans-serif !important; }

#floating_bar .bottom_bar .field_item {
  margin: 0 0 8px 0;
  float: right;
  position: relative; }

#floating_bar .bottom_bar .field_item img {
  position: absolute;
  right: 6px;
  top: 5px;
  cursor: default; }

#floating_bar .bottom_bar .email_page_to_friend_popup .field_item img,
#floating_bar .bottom_bar .invite_friend_popup .field_item img {
  left: 86px;
  top: 50px; }

#floating_bar .bottom_bar .popup label {
  display: inline-block;
  margin: 0 10px 0 0;
  text-align: right;
  width: 83px; }

#floating_bar .bottom_bar .popup input[type="text"] {
  font-size: 12px;
  width: 238px;
  padding: 6px;
  height: 15px; }

#floating_bar .bottom_bar .popup input[type="text"].friends_emails_input {
  height: 67px; }

#floating_bar .bottom_bar .popup textarea {
  font-family: 'PT Sans',arial,sans-serif;
  font-size: 13px;
  height: 85px;
  padding: 6px;
  width: 238px;
  vertical-align: top;
  overflow-y: auto;
  overflow-x: hidden; }

#floating_bar .bottom_bar .popup .inline-errors {
  color: red;
  font-size: 12px;
  text-align: center;
  margin: 6px; }

/*SHARE POPUP STYLES*/
#floating_bar .bottom_bar .popup .share_icon {
  background: url(/assets/content_bg/application_sprite.png) no-repeat; }

#floating_bar .bottom_bar .popup .share_icon.email {
  background-position: -171px -1491px;
  width: 26px;
  height: 16px;
  margin: 0 18px 0 0; }

#floating_bar .bottom_bar .popup .share_icon.invite {
  background-position: -171px -1508px;
  width: 23px;
  height: 21px;
  margin: 0 19px 0 2px; }

#floating_bar .bottom_bar .popup .email_friend {
  height: 16px;
  margin: 0 0 15px; }

#floating_bar .bottom_bar .popup .email_friend span:hover,
#floating_bar .bottom_bar .popup .invite_friend span:hover {
  text-decoration: underline; }

/*SOCIAL ICONS*/
#floating_bar .bottom_bar .social_icon {
  background: url(/assets/content_bg/application_sprite.png) no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  margin: 5px 4px 0 0; }

#floating_bar .bottom_bar .fb_icon {
  background-position: -136px -1491px;
  margin-left: 10px; }

#floating_bar .bottom_bar .fb_icon:hover {
  background-position: -136px -1507px; }

#floating_bar .bottom_bar .twitter_icon {
  background-position: -152px -1491px; }

#floating_bar .bottom_bar .twitter_icon:hover {
  background-position: -152px -1507px; }

/*FIND YOUR SCENE DROPDOWNS CSS OVERRIDES*/
#floating_bar .find_your_scene_btn .TitleContainer {
  background: none;
  padding: 0; }

#floating_bar .find_your_scene_btn .dropdown_wrapper .dropdown {
  position: static; }

#floating_bar .find_your_scene_btn .choices_wrapper {
  background: none;
  padding: 0; }

#floating_bar .find_your_scene_btn .Choice.choice {
  margin: 0; }

#floating_bar .find_your_scene_btn .footer_bottom {
  background: none;
  height: auto;
  padding: 0; }

#floating_bar .find_your_scene_btn .footer_bottom .footer_right {
  background: none;
  height: auto; }

#floating_bar .gig-followbar-providerButton,
#floating_bar .gig-followbar-providerButton-last {
  margin: 5px 4px 0 0; }
#floating_bar .gig-followbar-providerButton {
  margin-left: 10px; }
#floating_bar .gig-followbar-providerButton-last {
  margin-left: 0; }
