.map {
  width: 460px;
  height: 273px; }

/* Hack for preventing map flickering. Talk to Kevin if you have questions. */
.map.Loading {
  background-image: url(/assets/map/google_maps_background-6ca3b19a7e4217224c8f3068d6ccffb6.jpg) !important; }

.title {
  display: block;
  color: #000;
  font-size: 18px;
  font-weight: bold; }

.event_map,
.venue_map,
.performer_map {
  width: 332px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 2px; }

#map_info .map_legend {
  position: relative;
  top: 7px;
  height: 23px; }

#map_info .map_legend .marker {
  padding: 3px 0 0 16px;
  margin: 0 16px 0 0;
  height: 18px; }

#map_info .map_legend .marker.venue {
  background: url(/assets/map/venue_small-41e9a966967ce3d2337e5238a579ffe2.png) 0 0 no-repeat transparent; }

#map_info .map_legend .marker.event {
  background: url(/assets/map/event_small-3dcf0187691ffe645a7bbcb63038285a.png) 0 0 no-repeat transparent; }

#map_info .get_directions_link {
  position: relative;
  top: 8px; }

/** A custom control on the map. */
.map .control {
  padding: 5px; }

/** Visible content inside a custom map control. */
.map .control .ui {
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  text-align: center;
  font-family: Arial,sans-serif;
  font-size: 12px;
  padding: 0 4px; }

.city_map {
  position: relative; }

.map_controls {
  padding: 4px 0 0; }
  .map_controls ul {
    padding: 0;
    margin: 0; }
    .map_controls ul li {
      display: inline-block;
      float: left;
      margin: 0 12px 0 0; }
      .map_controls ul li a:link, .map_controls ul li a:visited {
        color: #333;
        text-decoration: none; }
  .map_controls .filter_btn {
    display: block;
    margin: 0 3.2px 0 0;
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
    background: url(/assets/cities/cities_sprite-6b0aa3abbd3d910ee879d3992d599913.png) no-repeat transparent;
    cursor: pointer; }
  .map_controls #location_btn {
    width: 136px;
    height: 16px;
    background-position: 0 -410px; }
  .map_controls #venue_type_btn {
    width: 98px;
    height: 16px;
    background-position: -140px -410px; }
  .map_controls #calendar_btn {
    width: 108px;
    height: 16px;
    background-position: -242px -410px; }
  .map_controls #character_btn {
    width: 108px;
    height: 16px;
    margin: 0;
    background-position: -354px -410px; }
  .map_controls #result_types {
    margin: 13px 0 0; }
  .map_controls ul li .map_markers {
    float: left;
    width: 13px;
    height: 17px;
    margin: 0 5px 0 0;
    background-image: url(/assets/content_bg/application_sprite-7f479dd5003ebc3db84ed2358643c74c.png); }
    .map_controls ul li .map_markers#venue_marker {
      background-position: -67px -188px; }
    .map_controls ul li .map_markers#hotspot_marker {
      background-position: -67px -212px; }
    .map_controls ul li .map_markers#event_marker {
      background-position: -67px -236px; }
    .map_controls ul li .map_markers#landmark_marker {
      background-position: -67px -164px; }
  .map_controls .Checkbox {
    float: left; }
    .map_controls .Checkbox .Input {
      display: block;
      float: left;
      width: 16px;
      height: 19px;
      margin: 0 5px 0 0;
      background-image: url(/assets/content_bg/application_sprite-7f479dd5003ebc3db84ed2358643c74c.png);
      background-repeat: no-repeat; }
    .map_controls .Checkbox.unchecked .Input {
      background-position: -87px -150px; }
    .map_controls .Checkbox.checked .Input {
      background-position: -87px -188px; }

#advanced_search_text {
  margin: 13px 0 0;
  width: 144px; }
  #advanced_search_text:hover {
    color: #597686;
    text-decoration: underline; }
/*
 * jQuery Nivo Slider v2.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * March 2010
 */
/* The Nivo Slider styles */
.nivoSlider {
  position: relative; }

.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px; }

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 60;
  display: none; }

/* The slices in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 50;
  height: 100%;
  background-color: #fff !important; }

/* Caption styles */
.nivo-caption {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #000;
  color: #fff;
  opacity: 0.8;
  /* Overridden by captionOpacity setting */
  width: 100%;
  z-index: 89; }

.nivo-caption p {
  line-height: 15px;
  margin: 0;
  padding: 6px 12px;
  min-height: 17px; }

/*SPECIFIC TO THE PHOTO MODULES*/
.slider .nivo-caption p {
  float: left; }

.slider.width460 .nivo-caption p {
  width: 436px; }

.slider.width334 .nivo-caption p {
  width: 310px; }

.slider .nivo-caption p .photo_caption {
  max-height: 30px;
  overflow: hidden;
  position: relative;
  width: 100%; }

.slider .nivo-caption p .photo_caption .text {
  padding: 0 6px 0 0; }

.slider .nivo-caption p .photo_caption .text p {
  min-height: 0;
  padding: 0;
  width: auto; }

.slider .nivo-caption p .photo_caption .line_divider {
  background-color: #666666;
  bottom: 0;
  height: 18px;
  position: absolute;
  right: 0;
  width: 1px; }

.slider .nivo-caption p .photo_number {
  color: #fff;
  font-size: 12px;
  padding: 0 0 0 6px; }

.slider .nivo-caption p .photo_number .text {
  text-align: right; }

.nivo-caption a {
  display: inline !important; }

.nivo-html-caption {
  display: none; }

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 41%;
  z-index: 99;
  cursor: pointer;
  display: block;
  width: 27px;
  height: 59px;
  background-image: url(/assets/content_bg/application_sprite-7f479dd5003ebc3db84ed2358643c74c.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  border: 0; }

/*Default positioning*/
.nivo-prevNav {
  left: 0px;
  background-position: -193px -2957px; }

.nivo-prevNav:hover {
  background-position: -193px -3018px; }

.nivo-nextNav {
  background-position: -221px -2957px;
  right: 0px; }

.nivo-nextNav:hover {
  background-position: -221px -3018px; }

.rounded_corner_wrapper .nivo-prevNav {
  left: -1px; }

.rounded_corner_wrapper .nivo-nextNav {
  right: -1px; }

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  position: absolute;
  left: 43%;
  bottom: 0; }

#billboard .nivo-controlNav {
  bottom: -30px;
  left: 38%; }

#gal_info .nivo-controlNav {
  display: none; }

.nivo-controlNav a {
  display: block;
  width: 10px;
  height: 10px;
  background: url(/assets/content_bg/application_sprite-7f479dd5003ebc3db84ed2358643c74c.png) 0 -184px no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 10px;
  float: left;
  position: relative;
  z-index: 99;
  cursor: pointer; }

.nivo-controlNav a.active {
  background-position: -10px -184px; }

.slider {
  position: relative;
  width: 460px !important;
  height: 320px !important;
  background: url(/assets/content_bg/spinner-b4126fa386298787a98bb330cb72bcc7.gif) no-repeat 50% 50%; }

.rounded_corner_wrapper .slider.width460 {
  width: 458px !important; }

.slider.width460 {
  width: 460px !important;
  height: 320px !important; }

.slider.width334 {
  width: 334px !important;
  height: 252px !important; }

.seo_photo {
  width: 334px;
  height: 252px;
  overflow: hidden; }

.seo_photo.width460 {
  width: 460px;
  height: 320px;
  overflow: hidden; }

.slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none; }

.slider a {
  display: block; }
.ProgressBarPopup {
  position: absolute;
  width: 36px;
  height: 22px;
  padding: 5px 0 0;
  color: #ccc;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png);
  background-position: -146px -64px; }

.video_section .video_player {
  position: relative;
  float: left;
  width: 333px;
  height: 257px;
  overflow: hidden; }
  .video_section .video_player .watermark {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 50px;
    height: 32px;
    background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png);
    background-position: 0 -172px; }
  .video_section .video_player .video_frame, .video_section .video_player iframe {
    display: block;
    height: 220px !important; }
  .video_section .video_player iframe {
    border: none; }
.video_section .video_title {
  display: block;
  height: 33px;
  margin: 0 0 3px;
  font-size: 22px;
  font-weight: bold;
  line-height: 29px;
  overflow: hidden; }
.video_section .more_videos {
  position: relative;
  float: left;
  width: 360px;
  height: 337px;
  margin: -8px 0 0 13px;
  overflow: hidden; }
  .video_section .more_videos.single_page {
    height: 308px; }
  .video_section .more_videos .video_row {
    float: left;
    width: 360px; }
.video_section .video_scroller_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 150000px;
  height: 320px; }
.video_section .video_item {
  float: left;
  width: 100px;
  height: 136px;
  margin: 0 4px 4px 0;
  padding: 8px;
  overflow: hidden;
  border-radius: 4px; }
  .video_section .video_item:hover, .video_section .video_item.playing {
    background-color: #f2f2f2; }
  .video_section .video_item .thumbnail_link {
    cursor: pointer; }
    .video_section .video_item .thumbnail_link .play_btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 80px;
      background-image: url(/assets/events/events_sprite-9ec405aea0aa95dbdbe9d14cd88c0de9.png);
      background-position: 0 -296px; }
    .video_section .video_item .thumbnail_link:hover .play_btn {
      background-position: -100px -296px; }
  .video_section .video_item .video_title {
    height: 29px;
    margin: 4px 0 0;
    color: #09f;
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    cursor: pointer; }
  .video_section .video_item .views_count {
    height: 11px;
    color: #666;
    font-size: 11px;
    overflow: hidden; }
  .video_section .video_item.playing .thumbnail_link {
    cursor: default; }
    .video_section .video_item.playing .thumbnail_link .play_btn {
      display: none; }
  .video_section .video_item.playing .video_title, .video_section .video_item:hover .video_title {
    color: #333; }
.video_section .controls {
  height: 32px;
  background-image: url(/assets/video/controls_bg_repeat-8a3f895acb5b10efc0b0a8ee7b885c6e.png); }
  .video_section .controls .inner_bg_one {
    height: 32px;
    padding: 0 8px 0 0;
    background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png);
    background-position: 100% -32px; }
  .video_section .controls .inner_bg_two {
    height: 24px;
    padding: 4px 0 4px 8px;
    background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png); }
  .video_section .controls .play_btn {
    float: left;
    width: 43px;
    height: 24px;
    background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png);
    cursor: pointer; }
    .video_section .controls .play_btn.playing {
      background-position: 0 -88px; }
    .video_section .controls .play_btn.playing:hover {
      background-position: -43px -88px; }
    .video_section .controls .play_btn.playing.pressed {
      background-position: -43px -112px; }
    .video_section .controls .play_btn.paused {
      background-position: 0 -64px; }
    .video_section .controls .play_btn.paused:hover {
      background-position: -43px -64px; }
    .video_section .controls .play_btn.paused.pressed {
      background-position: 0 -112px; }
  .video_section .controls .time_display {
    float: left;
    width: 70px;
    color: #999;
    font-size: 11px;
    text-align: center;
    line-height: 24px; }
    .video_section .controls .time_display .elapsed_time {
      color: #09f; }
  .video_section .controls .progress_bar {
    float: left;
    height: 12px;
    margin: 6px 20px 0 0; }
    .video_section .controls .progress_bar .total_bar, .video_section .controls .progress_bar .buffer_wrapper, .video_section .controls .progress_bar .played_bar, .video_section .controls .progress_bar .scrubber {
      position: relative;
      left: 4px;
      height: 5px; }
    .video_section .controls .progress_bar .total_bar_wrapper {
      width: 100%;
      height: 13px;
      padding: 0 4px 0 0;
      background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png);
      background-position: 100% -149px; }
    .video_section .controls .progress_bar .total_bar {
      left: 0;
      padding: 4px 0 4px 4px;
      background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png);
      background-position: 0 -136px; }
    .video_section .controls .progress_bar .buffer_wrapper {
      top: -9px;
      width: 100%;
      border-radius: 4px;
      overflow: hidden; }
    .video_section .controls .progress_bar .buffered_bar {
      height: 5px;
      background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png);
      background-position: 0 -167px;
      background-repeat: repeat-x; }
    .video_section .controls .progress_bar .played_bar {
      top: -14px;
      background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png);
      background-position: 0 -162px;
      background-repeat: repeat-x;
      border-radius: 4px; }
    .video_section .controls .progress_bar .scrubber {
      top: -20px; }
      .video_section .controls .progress_bar .scrubber .ui-slider-handle {
        top: -4px;
        width: 19px;
        height: 12px;
        background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png);
        background-position: -86px -78px; }
  .video_section .controls .volume {
    float: left;
    width: 68px;
    margin: 5px 10px 0 0;
    cursor: pointer; }
    .video_section .controls .volume .mute {
      float: left;
      width: 16px;
      height: 13px;
      margin: 0 8px 0 0;
      background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png);
      background-position: -86px -64px; }
      .video_section .controls .volume .mute:hover, .video_section .controls .volume .mute.on {
        background-position: -102px -64px; }
    .video_section .controls .volume .vol_bars {
      float: left;
      padding: 2px; }
    .video_section .controls .volume .vol_bar {
      float: left;
      width: 4px;
      height: 10px;
      margin: 0 2px 0 0;
      background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png); }
      .video_section .controls .volume .vol_bar.last {
        margin: 0; }
      .video_section .controls .volume .vol_bar.on {
        background-position: -118px -64px; }
      .video_section .controls .volume .vol_bar.off {
        background-position: -126px -64px; }
      .video_section .controls .volume .vol_bar.off:hover {
        background-position: -122px -64px; }
  .video_section .controls .full_screen {
    float: left;
    width: 16px;
    height: 14px;
    margin: 5px 0 0;
    background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png);
    background-position: -130px -64px;
    cursor: pointer; }
    .video_section .controls .full_screen:hover {
      background-position: -130px -78px; }
  .video_section .controls .ui-slider {
    position: relative;
    text-align: left; }
  .video_section .controls .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default; }
  .video_section .controls .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0; }
  .video_section .controls .ui-slider-horizontal .ui-slider-handle {
    margin-left: -.6em; }
  .video_section .controls .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%; }
  .video_section .controls .ui-slider-horizontal .ui-slider-range-min {
    left: 0; }
  .video_section .controls .ui-slider-horizontal .ui-slider-range-max {
    right: 0; }
  .video_section .controls .ui-slider-vertical {
    width: .8em;
    height: 100px; }
  .video_section .controls .ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em; }
  .video_section .controls .ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%; }
  .video_section .controls .ui-slider-vertical .ui-slider-range-min {
    bottom: 0; }
  .video_section .controls .ui-slider-vertical .ui-slider-range-max {
    top: 0; }
.video_section .prev_next_btns {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 360px;
  height: 17px;
  padding: 8px 0 0;
  color: #09f;
  border-top: 1px dotted #ccc;
  cursor: pointer; }
  .video_section .prev_next_btns:hover {
    color: #597686; }
  .video_section .prev_next_btns .prev_btn {
    float: left;
    background-position: -171px -2904px; }
  .video_section .prev_next_btns .next_btn {
    float: right;
    background-position: 30px -2904px; }
.video_section.horizontal_width480 .video_title {
  width: 376px;
  margin: 0 0 3px; }
.video_section.horizontal_width480 .video_player {
  width: 460px;
  height: 267px; }
  .video_section.horizontal_width480 .video_player .video_frame, .video_section.horizontal_width480 .video_player iframe {
    height: 235px !important; }
.video_section.horizontal_width480 .more_videos {
  width: 406px;
  height: 50px;
  margin: 7px 27px 0;
  overflow: visible; }
  .video_section.horizontal_width480 .more_videos .video_row {
    width: 415px; }
.video_section.horizontal_width480 .video_scroller_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 406px;
  height: 50px;
  overflow: hidden; }
.video_section.horizontal_width480 .video_scroller_wrapper {
  height: 50px; }
.video_section.horizontal_width480 .video_item {
  width: 69px;
  height: 46px;
  margin: 0 10px 0 0;
  padding: 0;
  border: 2px solid #fff; }
  .video_section.horizontal_width480 .video_item:hover, .video_section.horizontal_width480 .video_item.playing {
    background: none;
    border: 2px solid #09f; }
  .video_section.horizontal_width480 .video_item .video_thumb {
    position: relative; }
    .video_section.horizontal_width480 .video_item .video_thumb .play_btn {
      width: 69px;
      height: 46px;
      background-position: -15px -313px; }
    .video_section.horizontal_width480 .video_item .video_thumb:hover .play_btn {
      background-position: -115px -313px; }
.video_section.horizontal_width480 .prev_next_btns {
  position: static;
  width: 100%;
  height: 50px;
  border-top: none; }
  .video_section.horizontal_width480 .prev_next_btns .prev_btn,
  .video_section.horizontal_width480 .prev_next_btns .next_btn {
    position: absolute;
    width: 16px;
    height: 16px;
    padding: 0;
    text-indent: -9999px;
    background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png); }
  .video_section.horizontal_width480 .prev_next_btns .prev_btn {
    top: 16px;
    left: -22px;
    background-position: -50px -172px; }
    .video_section.horizontal_width480 .prev_next_btns .prev_btn:hover {
      background-position: -50px -188px; }
  .video_section.horizontal_width480 .prev_next_btns .next_btn {
    top: 16px;
    right: -22px;
    background-position: -66px -172px; }
    .video_section.horizontal_width480 .prev_next_btns .next_btn:hover {
      background-position: -66px -188px; }

.full_screen_player {
  height: 100%;
  width: 100%;
  background: #000; }
  .full_screen_player .watermark {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 121px;
    height: 78px;
    background-image: url(/assets/video/video_sprite-1b6710585212b37fed77af181c70d6c0.png);
    background-position: -82px -172px; }
  .full_screen_player .controls .full_screen {
    background-position: -130px -92px; }
  .full_screen_player .controls .full_screen:hover {
    background-position: -130px -106px; }
/*




*/
/*LEFT COLUMN*/
#tophalf {
  position: relative;
  width: 735px; }

.cutout_spacer {
  width: 355px;
  height: 314px;
  margin: 0 0 1px 10px; }

.cutout_wrapper {
  background: url(/assets/content_bg/354_cutout_bg_with_subnav_without_ad-50cf11423bfb6aa50990a16e637942f7.png) 0 0 no-repeat;
  width: 367px;
  height: 320px;
  position: absolute;
  right: -3px;
  top: -3px;
  z-index: 1000;
  padding: 3px 0 0 0; }

.cutout_wrapper.condensed {
  background: none; }

.WithSearchLink .cutout_wrapper {
  background: url(/assets/content_bg/354_cutout_bg_search_bar_with_subnav-5f1542c86592ece4cedd6a3900e4c549.png) 0 0 no-repeat; }

.admin_tool.floating_btn {
  position: absolute;
  right: 3px;
  z-index: 3000; }

#gal_map {
  margin: 0 3px 0 0;
  width: 354px; }

#map_info, #gal_info {
  height: 270px; }

#gal_info {
  overflow: visible; }

#activity_info .left_section {
  width: 348px;
  position: relative;
  min-height: 381px; }

#activity_info .quick_nav_links {
  width: 220px;
  text-align: right;
  position: relative;
  top: 4px; }

#activity_info .content_link {
  background: url(/assets/content_bg/application_sprite-7f479dd5003ebc3db84ed2358643c74c.png) no-repeat transparent;
  padding: 0 0 0 21px;
  font-size: 10px;
  text-transform: uppercase;
  height: 16px; }

#activity_info .content_link.videos {
  background-position: -123px -215px;
  margin: 0 0 0 15px; }

#activity_info .content_link.videos:hover {
  background-position: -203px -215px; }

#activity_info .data_section {
  width: 348px;
  position: relative;
  top: -5px; }

#activity_info .city_neighborhood {
  position: relative;
  top: -5px;
  font-size: 11px;
  font-family: arial, sans-serif;
  line-height: 15px; }

#activity_info .city_neighborhood .arrow {
  font-size: 13px; }

#activity_info .icon_types.hot_spot {
  margin-top: 3px; }

#activity_info .headline {
  margin-top: -1px;
  max-height: 66px;
  overflow: hidden;
  padding-bottom: 6px; }

#activity_info .activity_type {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-size: 10px; }

#activity_info .activity_dates {
  font-size: 16px;
  font-weight: bold; }

#activity_info .data_section table td {
  vertical-align: top; }

#activity_info p {
  padding: 0; }

#activity_info .title.grey_text {
  color: #8ea8b5;
  display: inline-block;
  margin: 0 10px 0 0;
  min-width: 48px;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 9px;
  /*FOR IE7*/
  *width: 48px; }

#activity_info .spot_icons {
  display: inline-block;
  margin-top: 3px !important; }

#activity_info .spot_icons .title {
  /*FOR IE7*/
  *width: 95px; }

#activity_info .spot_icons .type_text {
  font-size: 11px;
  line-height: 18px;
  margin: 0 9px 0 0;
  padding: 0; }

#activity_info .spot_icons .hot_spot_small {
  margin-top: 2px; }

#activity_info .spot_icons .day_spot_small {
  margin-top: 2px; }

#activity_info .spot_icons .night_spot_small {
  margin-top: 2px; }

#activity_info .venue_name {
  font-size: 16px;
  line-height: 18px; }

#activity_info .venue_name a:link,
#activity_info .venue_name a:visited {
  color: #000000;
  display: inline-block;
  line-height: 16px;
  padding: 0 0 1px; }

#activity_info .venue_name a:hover {
  color: #597686; }

#activity_info .activity_tags a {
  display: inline-block;
  margin: 0 0 px 0;
  text-decoration: underline;
  text-transform: lowercase;
  color: #597686;
  /*FOR IE*/
  zoom: 1; }

#activity_info .activity_tags a:hover {
  color: #000; }

#activity_info .right_section {
  width: 355px; }

#activity_info .right_section .share_links .inner_divider {
  margin: 0 0 9px; }

/*WEEKLY SCHEDULE SECTION*/
/*------------------------------------------------*/
.weekly_schedule .schedule_data td {
  vertical-align: top; }
.weekly_schedule .schedule_data .dotw_header {
  text-align: center;
  height: 37px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0098fe), to(#1977ce));
  background: -moz-linear-gradient(top, #0098fe, #1977ce);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#0098fe, endColorStr=#1977ce);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#0098fe, endColorStr=#1977ce); }
  .weekly_schedule .schedule_data .dotw_header .headline.first {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'PT Sans' !important;
    font-size: 17px;
    position: relative; }
    .weekly_schedule .schedule_data .dotw_header .headline.first .inner_point {
      width: 1px;
      height: 0;
      overflow: hidden;
      border-top: 10px solid #1977ce;
      border-left: 10px dotted transparent;
      border-right: 10px dotted transparent;
      position: absolute;
      bottom: -14px;
      left: 38px; }
  .weekly_schedule .schedule_data .dotw_header .headline {
    font-size: 18px;
    color: #82caee;
    border-right: 1px dotted #82caee;
    padding: 0 15px;
    height: 23px;
    line-height: 23px; }
.weekly_schedule .schedule_data .data_column {
  border-left: 1px solid #adc0c9;
  width: 102px;
  line-height: 14px;
  color: #375363; }
  .weekly_schedule .schedule_data .data_column .activity_day {
    padding: 0 11px; }
.weekly_schedule a:link, .weekly_schedule a:visited {
  color: #375363; }
  .weekly_schedule a:link:hover, .weekly_schedule a:visited:hover {
    color: #6c8898; }
.weekly_schedule .activity_event_name {
  display: block;
  line-height: 14px;
  margin: 0 0 4px; }
.weekly_schedule .activity_event_time {
  margin: 0 0 14px; }
.weekly_schedule .activity_event_time,
.weekly_schedule .grey_text {
  color: #8ea8b5; }
.weekly_schedule .inner_divider.solid {
  border-bottom: 4px solid #dae4e9;
  margin: 0 0 10px; }
.weekly_schedule .footer_notes .asterisk {
  font-size: 15px; }
