.personalities .label {
  float: left;
  margin-bottom: 2px;
  color: #8ea8b5;
  font-size: 9px; }
.personalities div, .personalities p, .personalities span {
  -moz-user-select: none;
  user-select: none; }

.character_icons {
  position: relative;
  float: right; }

.persona {
  float: left;
  width: 27px;
  height: 31px;
  margin: 0 0 0 4px;
  cursor: pointer;
  background-image: url(/assets/characters/liked_by_sprite-843972c0b2ce60c52fa4862c76dd5803.png); }
  .persona .dialog_box {
    position: absolute;
    bottom: 41px;
    right: -9px;
    z-index: 6000;
    background-color: #889aa4;
    border: 4px solid #889aa4;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px; }
  .persona .dialog_content_wrapper {
    width: 190px;
    height: auto;
    padding: 9px 7px;
    color: #000;
    text-align: left;
    background-color: #f7f9fb;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px; }
  .persona .dialog_img {
    width: 32px;
    height: 87px;
    background-image: url(/assets/characters/liked_by_sprite-843972c0b2ce60c52fa4862c76dd5803.png); }
  .persona .dialog_content {
    width: 134px;
    padding: 7px 0 0 11px;
    font-size: 13px;
    line-height: 16px; }
    .persona .dialog_content .title {
      text-transform: uppercase; }
    .persona .dialog_content p {
      padding: 0; }
  .persona .close_btn, .persona .close_btn:hover {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 8px;
    height: 8px;
    background-image: url(/assets/characters/liked_by_sprite-843972c0b2ce60c52fa4862c76dd5803.png);
    background-position: -172px -138px; }
  .persona .point {
    position: relative;
    bottom: 11px;
    left: 1px;
    width: 0;
    height: 0;
    border-top: 12px solid #889AA4;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent; }
  .persona .inner_point {
    position: absolute;
    bottom: -5px;
    left: -10px;
    z-index: 6001;
    width: 0;
    height: 0;
    border-top: 10px solid #F7F9FB;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    overflow: hidden; }
  .persona.lucas {
    background-position: 0 0; }
    .persona.lucas:hover {
      background-position: -201px 0; }
    .persona.lucas .title {
      color: #4175ab; }
    .persona.lucas .dialog_img {
      background-position: 0 -209px; }
  .persona.adriana {
    background-position: -28px 0; }
    .persona.adriana:hover {
      background-position: -231px 0; }
    .persona.adriana .title {
      color: #c675b1; }
    .persona.adriana .dialog_img {
      background-position: -32px -209px; }
  .persona.jonah {
    background-position: -56px 0; }
    .persona.jonah:hover {
      background-position: -261px 0; }
    .persona.jonah .title {
      color: #95c946; }
    .persona.jonah .dialog_img {
      background-position: -64px -209px; }
  .persona.emma {
    background-position: -84px 0; }
    .persona.emma:hover {
      background-position: -291px 0; }
    .persona.emma .title {
      color: #ffb637; }
    .persona.emma .dialog_img {
      background-position: -96px -209px; }
