.liked_by {
  /* Specific character styles */
  /* Disabled styles */
  /* Bigger version styles */ }
  .liked_by div, .liked_by p, .liked_by span {
    -moz-user-select: none;
    user-select: none; }
  .liked_by dt {
    float: left;
    margin-bottom: 2px;
    color: #8ea8b5;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase; }
  .liked_by dd {
    float: right; }
  .liked_by ul {
    position: relative; }
  .liked_by li {
    float: left;
    margin: 0 3px 0 0;
    padding: 0 0 2px;
    border-bottom: 2px solid; }
  .liked_by .character {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(/assets/characters/liked_by_sprite.png);
    border: 1px solid #adc0c9;
    border-radius: 2px;
    cursor: pointer; }
  .liked_by .dialog_box {
    position: absolute;
    bottom: 41px;
    right: -9px;
    z-index: 6000;
    padding: 4px;
    background-color: #889aa4;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px; }
  .liked_by .dialog_content_wrapper {
    width: 190px;
    padding: 9px 7px;
    background-color: #f7f9fb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
  .liked_by .dialog_img {
    float: left;
    width: 32px;
    height: 87px;
    background-image: url(/assets/characters/liked_by_sprite.png); }
  .liked_by .dialog_content {
    float: left;
    width: 134px;
    margin: 7px 0 0 11px; }
    .liked_by .dialog_content p, .liked_by .dialog_content .title {
      font-size: 13px;
      line-height: 16px !important;
      /* To override venue styles for  #object_page_info dd p */ }
    .liked_by .dialog_content p {
      padding: 0; }
    .liked_by .dialog_content .title {
      float: left;
      text-transform: uppercase; }
  .liked_by .close_btn, .liked_by .close_btn:hover {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 8px;
    height: 8px;
    background-image: url(/assets/characters/liked_by_sprite.png);
    background-position: -172px -138px; }
  .liked_by .point {
    position: relative;
    bottom: 39px;
    left: 1px;
    width: 0;
    height: 0;
    margin: 0 0 -12px;
    border-top: 12px solid #889AA4;
    border-right: 12px solid transparent;
    border-bottom: none;
    border-left: 12px solid transparent; }
  .liked_by .inner_point {
    position: absolute;
    bottom: -5px;
    left: -10px;
    z-index: 6001;
    width: 0;
    height: 0;
    margin: 0 0 10px;
    border-top: 10px solid #F7F9FB;
    border-right: 10px solid transparent;
    border-bottom: none;
    border-left: 10px solid transparent;
    overflow: hidden; }
  .liked_by .lucas {
    border-color: #4175ab; }
    .liked_by .lucas:hover {
      border-color: #4175ab; }
    .liked_by .lucas .character {
      background-position: -1px -3px; }
      .liked_by .lucas .character:hover {
        border-color: #4175ab !important; }
    .liked_by .lucas .title {
      color: #4175ab; }
    .liked_by .lucas .dialog_img {
      background-position: 0 -209px; }
  .liked_by .adriana {
    border-color: #c675b1; }
    .liked_by .adriana:hover {
      border-color: #c675b1; }
    .liked_by .adriana .character {
      background-position: -31px -3px; }
      .liked_by .adriana .character:hover {
        border-color: #c675b1 !important; }
    .liked_by .adriana .title {
      color: #c675b1; }
    .liked_by .adriana .dialog_img {
      background-position: -32px -209px; }
  .liked_by .jonah {
    border-color: #95c946; }
    .liked_by .jonah:hover {
      border-color: #95c946; }
    .liked_by .jonah .character {
      background-position: -61px -3px; }
      .liked_by .jonah .character:hover {
        border-color: #95c946 !important; }
    .liked_by .jonah .title {
      color: #95c946; }
    .liked_by .jonah .dialog_img {
      background-position: -64px -209px; }
  .liked_by .emma {
    border-color: #ffb637; }
    .liked_by .emma:hover {
      border-color: #ffb637; }
    .liked_by .emma .character {
      background-position: -91px -3px; }
      .liked_by .emma .character:hover {
        border-color: #ffb637 !important; }
    .liked_by .emma .title {
      color: #ffb637; }
    .liked_by .emma .dialog_img {
      background-position: -96px -209px; }
  .liked_by .disabled {
    border-color: #dae4e9; }
    .liked_by .disabled.lucas .character {
      background-position: -1px -33px; }
    .liked_by .disabled.adriana .character {
      background-position: -31px -33px; }
    .liked_by .disabled.jonah .character {
      background-position: -61px -33px; }
    .liked_by .disabled.emma .character {
      background-position: -91px -33px; }
  .liked_by.liked_by_big li {
    border-width: 3px; }
  .liked_by.liked_by_big .character {
    width: 28px;
    height: 28px; }
  .liked_by.liked_by_big .dialog_box {
    bottom: 43px; }
  .liked_by.liked_by_big .point {
    bottom: 41px; }
  .liked_by.liked_by_big .lucas .character {
    background-position: 0 0; }
    .liked_by.liked_by_big .lucas .character:hover {
      background-position: 0 0 !important; }
  .liked_by.liked_by_big .adriana .character {
    background-position: -30px 0; }
    .liked_by.liked_by_big .adriana .character:hover {
      background-position: -30px 0 !important; }
  .liked_by.liked_by_big .jonah .character {
    background-position: -60px 0; }
    .liked_by.liked_by_big .jonah .character:hover {
      background-position: -60px 0 !important; }
  .liked_by.liked_by_big .emma .character {
    background-position: -90px 0; }
    .liked_by.liked_by_big .emma .character:hover {
      background-position: -90px 0 !important; }
  .liked_by.liked_by_big .disabled.lucas .character {
    background-position: 0 -30px; }
  .liked_by.liked_by_big .disabled.adriana .character {
    background-position: -30px -30px; }
  .liked_by.liked_by_big .disabled.jonah .character {
    background-position: -60px -30px; }
  .liked_by.liked_by_big .disabled.emma .character {
    background-position: -90px -30px; }
