/* TOOLTIP STYLES
--------------------------------------------------------------
:: Basic Styles for the tooltip container and point.
:: Position and border need to be adjusted for specific usage.
-------------------------------------------------------------- */
.dialog_box {
  position: absolute;
  z-index: 6000;
  padding: 4px;
  background-color: #889aa4;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }
  .dialog_box .dialog_content_wrapper {
    padding: 11px 14px 9px;
    background-color: #f7f9fb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
  .dialog_box .dialog_img {
    display: none; }
  .dialog_box .dialog_content h1 {
    color: #09f;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 6px; }
  .dialog_box .dialog_content p {
    padding: 0;
    font-size: 13px;
    line-height: 16px !important;
    /* To override venue styles for  #object_page_info dd p */ }
  .dialog_box .dialog_content .title {
    float: left;
    text-transform: uppercase;
    line-height: 16px; }
  .dialog_box .close_btn, .dialog_box .close_btn:hover {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 8px;
    height: 8px;
    background-image: url(/assets/characters/liked_by_sprite.png);
    background-position: -172px -138px; }

.dialog_point {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0 0 -12px;
  border-top: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent; }
  .dialog_point .dialog_inner_point {
    position: absolute;
    z-index: 6001;
    width: 0;
    height: 0;
    margin: 0 0 10px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    overflow: hidden; }

/* Help Button Tooltip Trigger/Container
-------------------------------------------------------------- */
.help_btn {
  position: relative;
  z-index: 3000;
  width: 16px;
  height: 16px;
  background-image: url(/assets/content_bg/application_sprite.png);
  background-position: -27px -185px;
  /* Position of dialog box and point specific to help trigger */ }
  .help_btn:hover {
    background-position: -44px -185px;
    cursor: pointer; }
  .help_btn .dialog_box {
    width: 260px;
    top: -22px;
    left: 29px; }
  .help_btn .dialog_point {
    top: -4px;
    left: 18px;
    border-right: 12px solid #889AA4;
    border-left: none; }
    .help_btn .dialog_point .dialog_inner_point {
      left: 5px;
      top: -10px;
      border-right: 10px solid #F7F9FB;
      border-left: none; }

/* Ratings Help Tooltip */
#ratings-help p {
  padding: 0;
  color: #000;
  font-size: 11px;
  line-height: 13px; }
#ratings-help table {
  margin: 5px 0 0; }
#ratings-help td {
  vertical-align: top; }
#ratings-help .char-link {
  text-decoration: none; }
  #ratings-help .char-link:hover {
    text-decoration: underline; }
#ratings-help .lucas-color {
  color: #3375C4; }
#ratings-help .adriana-color {
  color: #B8529E; }
#ratings-help .jonah-color {
  color: #73B808; }
#ratings-help .emma-color {
  color: #FFCC05; }
#ratings-help .stars {
  display: block;
  width: 66px;
  height: 14px;
  margin: 1px 15px 0 0;
  background-image: url(/assets/characters/char_page_ratings_stars.png); }
  #ratings-help .stars.row1 {
    background-position: 0 -47px; }
  #ratings-help .stars.row2 {
    background-position: 0 -61px; }
  #ratings-help .stars.row3 {
    background-position: 0 -75px; }
  #ratings-help .stars.row4 {
    background-position: 0 -89px; }
  #ratings-help .stars.row5 {
    background-position: 0 -103px; }
/*

*/
/* Liked By Venue */
.liked_by_big {
  float: left;
  width: 343px;
  margin: 9px 0 3px 0;
  padding: 9px 0 0 0;
  border-top: 1px dashed #ADC0C9;
  position: relative;
  /* Help */
  /* Being Evaluated & No Reviews Yet */
  /* ---------------------- */
  /* Specific character styles */
  /* Disabled styles */ }
  .liked_by_big #ratings_help {
    position: absolute;
    top: 25px;
    left: 0; }
  .liked_by_big .being_evaluated, .liked_by_big .no_reviews {
    border: 1px solid #c6d4da;
    display: inline-block;
    height: 33px;
    background-image: url("/assets/content_bg/application_sprite.png");
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .liked_by_big .being_evaluated {
    background-position: -491px -529px;
    display: none;
    float: left;
    width: 320px; }
  .liked_by_big .no_reviews {
    background-position: -492px -566px;
    height: 20px;
    width: 342px; }
  .liked_by_big.no_likes .being_evaluated {
    display: block !important;
    margin: 0 21px 6px 0; }
  .liked_by_big.no_likes #ratings_help {
    top: 9px !important;
    left: 327px !important; }
  .liked_by_big.no_likes dt, .liked_by_big.no_likes ul, .liked_by_big.no_likes .no_reviews, .liked_by_big.no_likes .question_mark {
    display: none !important; }
  .liked_by_big div, .liked_by_big p, .liked_by_big span {
    -moz-user-select: none;
    user-select: none; }
  .liked_by_big dt {
    position: absolute;
    float: left;
    margin-bottom: 2px;
    color: #8ea8b5;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase; }
  .liked_by_big dd {
    float: right; }
  .liked_by_big ul {
    border-bottom: 1px dashed #adc0c9 !important;
    height: 92px;
    margin: 0 0 9px 0;
    position: relative;
    width: 344px; }
    .liked_by_big ul .character_cont {
      float: left;
      width: 66px;
      height: 83px;
      margin: 0 0 0 9px; }
      .liked_by_big ul .character_cont.lucas .selected {
        border: 1px solid #4879ad !important;
        background-position: -271px -16px !important; }
      .liked_by_big ul .character_cont.adriana .selected {
        border: 1px solid #c876b2 !important;
        background-position: -340px -16px !important; }
      .liked_by_big ul .character_cont.jonah .selected {
        border: 1px solid #98c948 !important;
        background-position: -410px -16px !important; }
      .liked_by_big ul .character_cont.emma .selected {
        border: 1px solid #ffb739 !important;
        background-position: -480px -16px !important; }
      .liked_by_big ul .character_cont:first-child {
        margin-left: 53px; }
      .liked_by_big ul .character_cont .character {
        border: 1px solid #adc0c9;
        cursor: pointer;
        display: block;
        width: 60px;
        height: 60px;
        padding: 2px;
        margin-bottom: 5px;
        background-image: url(/assets/characters/liked_by.png);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }
      .liked_by_big ul .character_cont .name {
        display: block;
        color: #777;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        line-height: 16px; }
  .liked_by_big .lucas {
    border-color: #4175ab; }
    .liked_by_big .lucas .character {
      background-position: -271px -16px; }
    .liked_by_big .lucas .title {
      color: #4175ab; }
    .liked_by_big .lucas .dialog_img {
      background-position: 3px 3px; }
    .liked_by_big .lucas:hover {
      border-color: #4175ab; }
      .liked_by_big .lucas:hover .character {
        border-color: #4175ab !important;
        background-position: -271px -16px !important; }
  .liked_by_big .adriana {
    border-color: #c675b1; }
    .liked_by_big .adriana .character {
      background-position: -340px -16px; }
    .liked_by_big .adriana .title {
      color: #c675b1; }
    .liked_by_big .adriana .dialog_img {
      background-position: -95px 10px; }
    .liked_by_big .adriana:hover {
      border-color: #c675b1; }
      .liked_by_big .adriana:hover .character {
        border-color: #c675b1 !important;
        background-position: -340px -16px !important; }
  .liked_by_big .jonah {
    border-color: #95c946; }
    .liked_by_big .jonah .character {
      background-position: -410px -16px; }
    .liked_by_big .jonah .title {
      color: #95c946; }
    .liked_by_big .jonah .dialog_img {
      background-position: 6px -199px; }
    .liked_by_big .jonah:hover {
      border-color: #95c946; }
      .liked_by_big .jonah:hover .character {
        border-color: #95c946 !important;
        background-position: -410px -16px !important; }
  .liked_by_big .emma {
    margin-right: 0;
    border-color: #ffb637; }
    .liked_by_big .emma .character {
      background-position: -480px -16px; }
    .liked_by_big .emma .title {
      color: #ffb637; }
    .liked_by_big .emma .dialog_img {
      background-position: -86px -196px; }
    .liked_by_big .emma:hover {
      border-color: #ffb637; }
      .liked_by_big .emma:hover .character {
        border-color: #ffb637 !important;
        background-position: -480px -16px !important; }
  .liked_by_big .disabled {
    border-color: #adc0c9; }
    .liked_by_big .disabled.lucas .character {
      background-position: -271px -85px; }
    .liked_by_big .disabled.adriana .character {
      background-position: -340px -85px; }
    .liked_by_big .disabled.jonah .character {
      background-position: -410px -85px; }
    .liked_by_big .disabled.emma .character {
      background-position: -480px -85px; }

/* Dialog Box */
.character_dialog_cont .dialog_box {
  background-color: #f7f9fb;
  border: 4px solid #889aa4;
  color: #000000;
  cursor: default;
  height: 268px;
  font-size: 12px;
  position: absolute;
  padding: 12px 12px 12px 18px;
  right: -363px;
  top: -42px;
  width: 310px; }
  .character_dialog_cont .dialog_box .reviewer_cont {
    position: relative; }
    .character_dialog_cont .dialog_box .reviewer_cont .close {
      background-image: url(/assets/characters/liked_by.png);
      background-position: -236px -17px;
      height: 15px;
      postion: absolute !important;
      right: -7px;
      top: -9px;
      width: 13px; }
    .character_dialog_cont .dialog_box .reviewer_cont .reviewers {
      display: block;
      margin-bottom: 10px; }
      .character_dialog_cont .dialog_box .reviewer_cont .reviewers .current {
        cursor: default;
        display: inline-block;
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
        margin-left: 0;
        width: 88px; }
      .character_dialog_cont .dialog_box .reviewer_cont .reviewers span {
        cursor: pointer;
        font-size: 13px;
        font-weight: normal;
        margin-left: 15px;
        text-decoration: underline; }
        .character_dialog_cont .dialog_box .reviewer_cont .reviewers span:nth-child(2) {
          margin-left: 0; }
      .character_dialog_cont .dialog_box .reviewer_cont .reviewers .lucas {
        color: #4879ad; }
      .character_dialog_cont .dialog_box .reviewer_cont .reviewers .adriana {
        color: #c876b2; }
      .character_dialog_cont .dialog_box .reviewer_cont .reviewers .jonah {
        color: #98c948; }
      .character_dialog_cont .dialog_box .reviewer_cont .reviewers .emma {
        color: #ffb739; }
    .character_dialog_cont .dialog_box .reviewer_cont .info_cont .img {
      background-image: url(/assets/characters/liked_by.png);
      float: left;
      height: 200px;
      width: 90px; }
    .character_dialog_cont .dialog_box .reviewer_cont .info_cont .lucas {
      background-position: 0px 10px; }
    .character_dialog_cont .dialog_box .reviewer_cont .info_cont .adriana {
      background-position: -95px 10px; }
    .character_dialog_cont .dialog_box .reviewer_cont .info_cont .jonah {
      background-position: 5px -195px; }
    .character_dialog_cont .dialog_box .reviewer_cont .info_cont .emma {
      background-position: -85px -195px; }
    .character_dialog_cont .dialog_box .reviewer_cont .info_cont .info {
      float: left;
      line-height: 15px;
      width: 220px; }
      .character_dialog_cont .dialog_box .reviewer_cont .info_cont .info .more_link {
        font-size: 12px;
        color: #0099FF; }
      .character_dialog_cont .dialog_box .reviewer_cont .info_cont .info .details {
        border-top: 1px dashed #adc0c9;
        font-size: 11px;
        height: 120px;
        line-height: 15px;
        margin-top: 7px;
        padding-top: 7px; }
        .character_dialog_cont .dialog_box .reviewer_cont .info_cont .info .details .left_column {
          color: #8ea8b5;
          float: left;
          width: 70px; }
        .character_dialog_cont .dialog_box .reviewer_cont .info_cont .info .details .right_column {
          float: left;
          width: 150px; }
    .character_dialog_cont .dialog_box .reviewer_cont .footer_link {
      color: #0099FF;
      border-top: 1px dashed #adc0c9;
      font-size: 12px;
      margin-top: 7px;
      padding-top: 6px;
      text-align: right; }
