#masthead #main_nav li .shadow_cover {
  z-index: 10000 !important; }
#masthead #main_nav li ul {
  z-index: 9999 !important; }
  #masthead #main_nav li ul li {
    z-index: 9999 !important; }

/* Newsletter Popup */
.ui-widget-overlay {
  width: 99.99% !important; }

/* Ticket */
.ticket_form select {
  padding: 5px !important; }
.ticket_form .payment_info .delivery_info input {
  width: 15px !important;
  margin-top: 0 !important;
  right: 460px !important; }

.payment_method input[type=radio] {
  background: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 4px 0 0 0 !important; }

.silver .btn_text {
  text-shadow: none !important; }

.blue .btn_text {
  text-shadow: none !important; }

.orange .btn_text {
  text-shadow: none !important; }
/**
 * ie9.css
 *

 */
