#navbar li.nav_link a span {
  letter-spacing: -1px;
  padding: 3px 1px 3px 0; }

div.subnav .left_end {
  background: url(/assets/content_bg/application_sprite-946f1acd98411845cbaaec25deb92f4b.png) -324px -121px no-repeat; }

div.subnav .divider {
  background: url(/assets/content_bg/application_sprite-946f1acd98411845cbaaec25deb92f4b.png) -340px -121px no-repeat; }

div.subnav .right_end {
  background: url(/assets/content_bg/application_sprite-946f1acd98411845cbaaec25deb92f4b.png) -332px -121px no-repeat; }
