/* GPTP IN THE PRESS POD
--------------------------------------------------------------------------- */
#gptp_in_press {
  margin: 0 0 10px; }
  #gptp_in_press h2 {
    margin: 0 0 10px;
    color: #375363;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    border-bottom: 1px dashed #ADC0C9; }
  #gptp_in_press li {
    padding: 12px 0 0;
    border-top: 2px solid #adc0c9; }
    #gptp_in_press li .img {
      display: block;
      float: left;
      width: 48px;
      height: 48px;
      margin: 0 10px 0 0;
      background-image: url(/assets/writer_applications/in_the_press_polaroids-ee5ba6b9790534fbf4ad1a3f2fffeef4.jpg);
      border: 1px solid #9a9a9a;
      border-radius: 4px; }
    #gptp_in_press li .details {
      float: left;
      width: 145px; }
      #gptp_in_press li .details .name_location {
        display: block;
        font-size: 10px;
        color: #8ea8b5;
        text-decoration: none; }
        #gptp_in_press li .details .name_location .name {
          color: #09f;
          text-decoration: underline; }
          #gptp_in_press li .details .name_location .name:hover {
            color: #597686; }
      #gptp_in_press li .details .article {
        display: block;
        color: #375363; }
        #gptp_in_press li .details .article:hover {
          color: #000; }
    #gptp_in_press li .featured {
      display: block;
      clear: left;
      color: #8ea8b5;
      font-size: 10px;
      text-transform: uppercase; }
      #gptp_in_press li .featured span {
        display: block;
        position: relative;
        margin: 0 0 6px;
        background-image: url(/assets/writer_applications/sprite-c68a5c05c3fe4527f6e8fabb932e616c.png); }
        #gptp_in_press li .featured span.maxim {
          width: 126px;
          height: 33px;
          margin-top: -18px;
          margin-bottom: -2px;
          margin-left: 77px;
          background-position: 0 -46px; }
        #gptp_in_press li .featured span.thp {
          width: 217px;
          height: 13px;
          background-position: -128px -46px; }
        #gptp_in_press li .featured span.look {
          width: 73px;
          height: 27px;
          margin-top: -13px;
          margin-left: 77px;
          background-position: -347px -46px; }
    #gptp_in_press li:first-child {
      border-top: none; }
      #gptp_in_press li:first-child .img {
        display: none; }
      #gptp_in_press li:first-child .details {
        float: none;
        width: auto; }
      #gptp_in_press li:first-child .name_location {
        margin-bottom: -15px; }
        #gptp_in_press li:first-child .name_location .name {
          display: block;
          position: relative;
          top: -10px;
          left: 7px;
          width: 196px;
          height: 208px;
          text-indent: -9999px;
          background-image: url(/assets/writer_applications/in_the_press_polaroids-ee5ba6b9790534fbf4ad1a3f2fffeef4.jpg);
          transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
          -moz-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
          -webkit-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
          -o-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
          -ms-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
          /* Uncomment if we want to implement for IE8 [https://snipt.net/viatropos/cross-browser-css-rotation-with-and-without-sass/]
          filter:             progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($deg)}, M12=-#{sin($deg)}, M21=#{sin($deg)}, M22=#{cos($deg)});
          -ms-filter:         "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($deg)}, M12=-#{sin($deg)}, M21=#{sin($deg)}, M22=#{cos($deg)})"; */
          zoom: 1; }
        #gptp_in_press li:first-child .name_location .location {
          visibility: hidden; }
      #gptp_in_press li:first-child .article {
        margin: 0 0 3px;
        color: #09f;
        font-size: 18px;
        font-weight: bold; }
    #gptp_in_press li.sykes .img {
      background-position: 0 -210px; }
    #gptp_in_press li.chu .img {
      background-position: -50px -210px; }
    #gptp_in_press li.merchants .img {
      background-position: -100px -210px; }
    #gptp_in_press li.hogan .img {
      background-position: -150px -210px; }
    #gptp_in_press li.sykes .name {
      background-position: 0 0; }
    #gptp_in_press li.chu .name {
      background-position: -198px 0; }
    #gptp_in_press li.merchants .name {
      background-position: -396px 0; }
    #gptp_in_press li.hogan .name {
      background-position: -600px 0; }
/*BEGIN NAVIGATION CSS*/
#navbar li#get_paid .left_end {
  background-position: -269px -121px; }

#navbar li#get_paid a:link, #navbar li#get_paid a:visited, #navbar li#get_paid a:active {
  color: #ffffff; }

#navbar li#get_paid a span {
  background: url(/assets/content_bg/application_sprite-8d81388f106f713282205e46d5c85876.png) 0 -2663px repeat-x; }

#navbar li#get_paid .right_end {
  background-position: -283px -121px; }

/*BEGIN PAGE PROPERTIES*/
.get_paid_to_party_content .left_column_wrapper {
  width: 735px; }

.get_paid_to_party_content .left_column {
  background: url(/assets/writer_applications/left_column_bg_repeat-a2828f421c4cfdb1374fbddfabd1a68d.png) 0 0 repeat-y;
  margin: 0 0 0 -22px;
  padding: 0 0 0 82px;
  width: 675px; }

.left_column_content {
  position: relative;
  min-height: 1130px; }

.large_text {
  font-size: 14px;
  line-height: 17px; }

.cursive_text {
  background: url(/assets/writer_applications/cursive_text_sprite-c6fe7665747e952ef53ca6de7b71fea5.png) 0 0 no-repeat;
  position: absolute; }

.cursive_text.next_partier {
  background-position: 0 0;
  margin: 14px 0 0;
  width: 225px;
  height: 29px;
  top: 0;
  left: 0; }

.cursive_text.instant_access {
  background-position: 0 -29px;
  height: 44px;
  left: 444px;
  margin: 14px 0 0;
  top: 434px;
  width: 128px; }

.cursive_text.become_an_insider {
  background-position: -138px -29px;
  height: 65px;
  left: 189px;
  margin: 14px 0 0;
  top: 722px;
  width: 138px; }

.cursive_text.skip_the_lines {
  background-position: 0 -94px;
  height: 22px;
  left: 470px;
  margin: 14px 0 0;
  top: 1004px;
  width: 157px; }

.apply_link1 {
  background: url(/assets/content_bg/left_thin_arrow-7c2a10234aeaeb93be4d82d1056ceb47.gif) no-repeat 0 5px transparent;
  padding: 0 0 0 15px;
  position: absolute;
  top: 478px; }

.apply_link1 a.border_link {
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px; }

.left_column_content .headline {
  padding: 54px 0 0; }

.left_column_content .paragraph_1 {
  margin: 8px 0 0;
  width: 472px; }

.left_column_content .paragraph_2 {
  left: 0;
  position: absolute;
  top: 460px;
  width: 430px; }

.left_column_content .paragraph_3 {
  left: 0;
  position: absolute;
  top: 509px;
  width: 555px; }

.polaroid {
  background: url(/assets/writer_applications/get_paid_to_party_poloroid_bg_sprite-d5ffeaf89279afc7499bf3d447fc506e.png) 0 0 no-repeat;
  position: absolute;
  display: block; }

.polaroid.image1 {
  background-position: 0 0;
  height: 260px;
  left: -56px;
  top: 164px;
  width: 240px; }

.polaroid.image2 {
  background-position: 0 -260px;
  height: 249px;
  left: 185px;
  top: 198px;
  width: 230px;
  z-index: 1000; }

.polaroid.image2:hover {
  z-index: 1098; }

.polaroid.image3 {
  background-position: 0 -509px;
  height: 253px;
  left: 339px;
  top: 169px;
  width: 236px;
  z-index: 1002; }

.polaroid.image4 {
  background-position: 0 -762px;
  height: 276px;
  left: 444px;
  top: 81px;
  width: 260px; }

.polaroid.image4:hover {
  z-index: 1098; }

.polaroid.image5 {
  background-position: 0 -1038px;
  height: 260px;
  left: -113px;
  top: 560px;
  width: 250px;
  z-index: 2; }

.polaroid.image6 {
  background-position: 0 -1297px;
  height: 276px;
  left: -73px;
  top: 632px;
  width: 260px;
  z-index: 1; }

.polaroid.image6:hover {
  z-index: 1098; }

.polaroid.image7 {
  background-position: 0 -1573px;
  height: 257px;
  left: 214px;
  top: 854px;
  width: 236px;
  z-index: 2; }

.polaroid.image8 {
  background-position: 0 -1830px;
  height: 250px;
  left: 408px;
  top: 709px;
  width: 230px;
  z-index: 1; }

.polaroid.image8:hover {
  z-index: 1098; }

.left_column_content .city_list {
  position: absolute; }

.left_column_content .city_list .region {
  color: #0099ff;
  font-size: 14px;
  font-weight: bold; }

.left_column_content .city_list li {
  text-transform: capitalize; }

.left_column_content .city_list.list1 {
  left: 200px;
  top: 564px; }

.left_column_content .city_list.list2 {
  left: 334px;
  top: 564px; }

.left_column_content .city_list.list3 {
  left: 482px;
  top: 564px; }

.left_column_content .apply_btn {
  background: url(/assets/writer_applications/get_paid_to_party_misc_sprite-1ef3673d0c0d42e5a21ab019e08d7ac0.png) -88px -317px no-repeat;
  display: block;
  height: 48px;
  left: 497px;
  position: absolute;
  top: 738px;
  width: 114px; }

.misc_item {
  background: url(/assets/writer_applications/get_paid_to_party_misc_sprite-1ef3673d0c0d42e5a21ab019e08d7ac0.png) 0 0 no-repeat;
  position: absolute; }

.camera {
  position: absolute;
  height: 317px;
  left: -128px;
  top: 858px;
  width: 282px;
  z-index: 3; }

.misc_item.pen {
  background-position: 0 -317px;
  height: 368px;
  left: 608px;
  top: 438px;
  width: 88px;
  z-index: 3; }
.floater.fixed {
  position: fixed;
  top: 0; }
/*



*/
