/*BEGIN NAVIGATION CSS*/
#navbar li#get_paid .left_end {
  background-position: -269px -121px; }

#navbar li#get_paid a:link, #navbar li#get_paid a:visited, #navbar li#get_paid a:active {
  color: #ffffff; }

#navbar li#get_paid a span {
  background: url(/assets/content_bg/application_sprite-0758091485eaa855b14f0f07e919d9bb.png) 0 -2663px repeat-x; }

#navbar li#get_paid .right_end {
  background-position: -283px -121px; }

/*BEGIN PAGE PROPERTIES*/
.get_paid_to_party_content .left_column_wrapper {
  width: 735px; }

.get_paid_to_party_content .left_column {
  background: url(/assets/writer_applications/left_column_bg_repeat-a2828f421c4cfdb1374fbddfabd1a68d.png) 0 0 repeat-y;
  margin: 0 0 0 -22px;
  padding: 0 0 0 82px;
  width: 675px; }

.left_column_content {
  position: relative;
  min-height: 1130px; }

.large_text {
  font-size: 14px;
  line-height: 17px; }

.cursive_text {
  background: url(/assets/writer_applications/cursive_text_sprite-c6fe7665747e952ef53ca6de7b71fea5.png) 0 0 no-repeat;
  position: absolute; }

.cursive_text.next_partier {
  background-position: 0 0;
  margin: 14px 0 0;
  width: 225px;
  height: 29px;
  top: 0;
  left: 0; }

.cursive_text.instant_access {
  background-position: 0 -29px;
  height: 44px;
  left: 444px;
  margin: 14px 0 0;
  top: 434px;
  width: 128px; }

.cursive_text.become_an_insider {
  background-position: -138px -29px;
  height: 65px;
  left: 189px;
  margin: 14px 0 0;
  top: 722px;
  width: 138px; }

.cursive_text.skip_the_lines {
  background-position: 0 -94px;
  height: 22px;
  left: 470px;
  margin: 14px 0 0;
  top: 1004px;
  width: 157px; }

.apply_link1 {
  background: url(/assets/content_bg/left_thin_arrow-7c2a10234aeaeb93be4d82d1056ceb47.gif) no-repeat 0 5px transparent;
  padding: 0 0 0 15px;
  position: absolute;
  top: 478px; }

.apply_link1 a.border_link {
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px; }

.left_column_content .headline {
  padding: 54px 0 0; }

.left_column_content .paragraph_1 {
  margin: 8px 0 0;
  width: 472px; }

.left_column_content .paragraph_2 {
  left: 0;
  position: absolute;
  top: 460px;
  width: 430px; }

.left_column_content .paragraph_3 {
  left: 0;
  position: absolute;
  top: 509px;
  width: 555px; }

.polaroid {
  background: url(/assets/writer_applications/get_paid_to_party_poloroid_bg_sprite-d5ffeaf89279afc7499bf3d447fc506e.png) 0 0 no-repeat;
  position: absolute;
  display: block; }

.polaroid.image1 {
  background-position: 0 0;
  height: 260px;
  left: -56px;
  top: 164px;
  width: 240px; }

.polaroid.image2 {
  background-position: 0 -260px;
  height: 249px;
  left: 185px;
  top: 198px;
  width: 230px;
  z-index: 1000; }

.polaroid.image2:hover {
  z-index: 1098; }

.polaroid.image3 {
  background-position: 0 -509px;
  height: 253px;
  left: 339px;
  top: 169px;
  width: 236px;
  z-index: 1002; }

.polaroid.image4 {
  background-position: 0 -762px;
  height: 276px;
  left: 444px;
  top: 81px;
  width: 260px; }

.polaroid.image4:hover {
  z-index: 1098; }

.polaroid.image5 {
  background-position: 0 -1038px;
  height: 260px;
  left: -113px;
  top: 560px;
  width: 250px;
  z-index: 2; }

.polaroid.image6 {
  background-position: 0 -1297px;
  height: 276px;
  left: -73px;
  top: 632px;
  width: 260px;
  z-index: 1; }

.polaroid.image6:hover {
  z-index: 1098; }

.polaroid.image7 {
  background-position: 0 -1573px;
  height: 257px;
  left: 214px;
  top: 854px;
  width: 236px;
  z-index: 2; }

.polaroid.image8 {
  background-position: 0 -1830px;
  height: 250px;
  left: 408px;
  top: 709px;
  width: 230px;
  z-index: 1; }

.polaroid.image8:hover {
  z-index: 1098; }

.left_column_content .city_list {
  position: absolute; }

.left_column_content .city_list .region {
  color: #0099ff;
  font-size: 14px;
  font-weight: bold; }

.left_column_content .city_list li {
  text-transform: capitalize; }

.left_column_content .city_list.list1 {
  left: 200px;
  top: 564px; }

.left_column_content .city_list.list2 {
  left: 334px;
  top: 564px; }

.left_column_content .city_list.list3 {
  left: 482px;
  top: 564px; }

.left_column_content .apply_btn {
  background: url(/assets/writer_applications/get_paid_to_party_misc_sprite-1ef3673d0c0d42e5a21ab019e08d7ac0.png) -88px -317px no-repeat;
  display: block;
  height: 48px;
  left: 497px;
  position: absolute;
  top: 738px;
  width: 114px; }

.misc_item {
  background: url(/assets/writer_applications/get_paid_to_party_misc_sprite-1ef3673d0c0d42e5a21ab019e08d7ac0.png) 0 0 no-repeat;
  position: absolute; }

.camera {
  position: absolute;
  height: 317px;
  left: -128px;
  top: 858px;
  width: 282px;
  z-index: 3; }

.misc_item.pen {
  background-position: 0 -317px;
  height: 368px;
  left: 608px;
  top: 438px;
  width: 88px;
  z-index: 3; }
