/*BEGIN BROWSE BY UPCOMING EVENTS STYLES*/
/*---------------------------------------------*/
.browse_by_upcoming_events .object_section {
  border-right: 1px dotted #CCCCCC;
  margin: 9px 17px 12px 0;
  padding: 0 17px 0 0;
  width: 212px;
  /*min-height:477px;*/ }
  .browse_by_upcoming_events .object_section .title {
    font-size: 21px;
    letter-spacing: 0;
    color: #375363;
    margin: 0 0 8px;
    font-weight: bold; }
  .browse_by_upcoming_events .object_section .object_photo {
    border: 1px solid #ADC0C9;
    display: block;
    width: 210px;
    height: 140px;
    margin: 0 0 8px; }
    .browse_by_upcoming_events .object_section .object_photo img {
      width: 210px;
      height: 140px; }
  .browse_by_upcoming_events .object_section .img_name {
    padding: 0 0 6px;
    margin: 0 0 8px;
    border-bottom: 1px solid #dae4e9;
    text-transform: uppercase;
    font-size: 10px;
    color: #09f;
    line-height: 10px;
    vertical-align: top;
    height: 12px; }
    .browse_by_upcoming_events .object_section .img_name a {
      display: inline-block;
      border-left: 1px solid #e4ebef;
      height: 12px;
      overflow: hidden;
      width: 160px;
      text-transform: none;
      padding: 0 0 0 6px;
      margin: 0 0 0 4px;
      text-decoration: none; }
  .browse_by_upcoming_events .object_section .object_item {
    position: relative;
    height: 255px;
    margin: 0 0 6px;
    border-bottom: 1px solid #adc0c9; }
    .browse_by_upcoming_events .object_section .object_item li {
      border-bottom: 1px dashed #ADC0C9;
      padding: 0 0 8px;
      margin: 0 0 8px; }
      .browse_by_upcoming_events .object_section .object_item li .date_block {
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#eff2f4), to(#d5dbe0));
        background: -moz-linear-gradient(top, #eff2f4, #d5dbe0);
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
        width: 28px;
        margin: 0 10px 0 0;
        text-align: center;
        border-left: 1px solid #E0E4E7;
        border-right: 1px solid #E0E4E7;
        border-radius: 2px 2px 2px 2px;
        color: #09f;
        text-shadow: 1px 1px 1px #fff;
        font-family: Arial, sans-serif; }
        .browse_by_upcoming_events .object_section .object_item li .date_block .month {
          font-size: 8px;
          line-height: 4px;
          padding: 5px 0 2px;
          font-weight: bold;
          text-transform: uppercase; }
        .browse_by_upcoming_events .object_section .object_item li .date_block .day {
          font-size: 18px;
          padding: 0 0 5px;
          border-bottom: 1px solid #B4BABE; }
      .browse_by_upcoming_events .object_section .object_item li .name_and_type {
        width: 168px; }
        .browse_by_upcoming_events .object_section .object_item li .name_and_type .black_link {
          display: block;
          line-height: 14px;
          margin: 0 0 3px; }
        .browse_by_upcoming_events .object_section .object_item li .name_and_type .venue_type {
          padding: 0;
          margin: 0; }
    .browse_by_upcoming_events .object_section .object_item li:last-of-type {
      border-bottom: none; }
  .browse_by_upcoming_events .object_section .object_item_3 {
    height: 151px; }
  .browse_by_upcoming_events .object_section .see_all_link {
    text-align: right;
    line-height: 10px;
    height: 15px; }
    .browse_by_upcoming_events .object_section .see_all_link a, .browse_by_upcoming_events .object_section .see_all_link .fake_link {
      text-decoration: underline; }
    .browse_by_upcoming_events .object_section .see_all_link .blue_text.arrow {
      color: #ff9000;
      top: 0; }
.browse_by_upcoming_events .object_section.last {
  border: none;
  margin-right: 0;
  padding-right: 0; }
