/*









*/
/*BEGIN NAVIGATION CSS*/
/*---------------------------------------------*/
#masthead .main_nav .articles.link a, #masthead .main_nav .articles.link a:visited {
  color: #0099ff; }

/*LEFT COLUMN*/
/*---------------------------------------------*/
#article_page {
  /*RIGHT COLUMN*/
  /*---------------------------------------------*/ }
  #article_page .left_column {
    width: 706px;
    /*LIST-ITEM STYLES*/
    /*---------------------------------------------*/ }
    #article_page .left_column .sponsored_label {
      position: absolute;
      right: 18px;
      text-transform: uppercase;
      font-size: 8px;
      line-height: 8px;
      color: #8EA8B5; }
    #article_page .left_column .local_label {
      display: inline-block;
      margin: 0 0 10px;
      padding: 2px 4px 1px;
      color: white;
      font-size: 8px;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 9px;
      background: #545454; }
    #article_page .left_column .headline {
      color: #09F;
      font-weight: normal;
      font-size: 36px;
      margin: 0 0 10px; }
    #article_page .left_column .sub_headline {
      color: #597686;
      font-size: 18px;
      margin: 0 0 10px; }
    #article_page .left_column .article_img {
      width: 345px;
      padding: 0 20px 10px 0;
      background: #fff;
      border: #9aabae; }
      #article_page .left_column .article_img img {
        display: block;
        width: 345px;
        height: 230px;
        margin: 0 0 1px; }
      #article_page .left_column .article_img .photo_caption {
        border-bottom: 1px dashed #ADC0C9;
        padding: 0 0 6px;
        font-size: 11px; }
        #article_page .left_column .article_img .photo_caption p {
          padding: 3px 0 0; }
    #article_page .left_column .article_comment_link {
      color: #0099ff;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 10px;
      border-bottom: 1px dashed #adc0c9;
      margin-bottom: 8px;
      padding-bottom: 8px; }
      #article_page .left_column .article_comment_link a {
        display: inline-block;
        padding: 0 0 0 16px;
        background-image: url(/assets/content_bg/application_sprite.png);
        background-position: -419px -483px; }
    #article_page .left_column .text_and_inset {
      /* Styles for video/photos embedded in articles.
          !!! NOTE: Any updates should be copied over to ckeditor/contents.css */
      /* END Styles for video/photos embedded in articles. */ }
      #article_page .left_column .text_and_inset .date {
        margin: 0px;
        padding: 0px;
        color: #8EA8B5;
        font-size: 10px;
        text-transform: uppercase;
        line-height: 10px; }
      #article_page .left_column .text_and_inset .article_insets {
        width: 165px;
        clear: left;
        margin: 0 0 10px 0;
        padding: 0 20px 0 0;
        background: #fff; }
        #article_page .left_column .text_and_inset .article_insets .title {
          background: #09f;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          padding: 2px 6px;
          margin: 0 0 8px; }
        #article_page .left_column .text_and_inset .article_insets .black_link {
          font-size: 15px;
          line-height: 16px;
          display: inline-block;
          margin: 0 0 6px; }
        #article_page .left_column .text_and_inset .article_insets .venue_type {
          padding: 0; }
      #article_page .left_column .text_and_inset .article_video_left,
      #article_page .left_column .text_and_inset .article_video_right,
      #article_page .left_column .text_and_inset .article_video_full,
      #article_page .left_column .text_and_inset .article_photo_left,
      #article_page .left_column .text_and_inset .article_photo_right {
        display: block;
        border: none; }
      #article_page .left_column .text_and_inset .article_video_left,
      #article_page .left_column .text_and_inset .article_photo_left {
        float: left;
        margin: 0 20px 10px 0; }
      #article_page .left_column .text_and_inset .article_video_right,
      #article_page .left_column .text_and_inset .article_photo_right {
        float: right;
        margin: 0 0 10px 20px; }
      #article_page .left_column .text_and_inset .article_video_full {
        margin: 0 0 10px; }
      #article_page .left_column .text_and_inset .article_photo_left,
      #article_page .left_column .text_and_inset .article_photo_right {
        margin-top: 10px; }
    #article_page .left_column .list_items {
      border-top: 2px solid #8EA8B5;
      padding: 8px 0 0; }
      #article_page .left_column .list_items .search_result:last-child {
        border-bottom: none; }
      #article_page .left_column .list_items .search_result {
        border-bottom: 2px solid #ADC0C9;
        padding: 10px 0 9px;
        margin: 0 0 3px;
        /*FOR IE7*/
        *display: inline-block;
        *padding-bottom: 2px; }
        #article_page .left_column .list_items .search_result .result_content .section_content .marker_wrapper {
          position: relative;
          width: 25px;
          height: 33px; }
          #article_page .left_column .list_items .search_result .result_content .section_content .marker_wrapper .map_marker {
            background: url(/assets/content_bg/left_blue_ribbon.png) 0 0 no-repeat transparent;
            width: 47px;
            height: 33px;
            color: #fff;
            text-align: center;
            font-weight: bold;
            padding: 2px 0 0 0;
            position: absolute;
            left: -26px; }
            #article_page .left_column .list_items .search_result .result_content .section_content .marker_wrapper .map_marker img {
              position: relative;
              top: -2px; }
        #article_page .left_column .list_items .search_result .result_content .section_content .result_name {
          font-size: 20px;
          font-weight: bold;
          margin: 0 0 6px;
          line-height: 19px; }
          #article_page .left_column .list_items .search_result .result_content .section_content .result_name.event {
            margin: 0 0 7px; }
        #article_page .left_column .list_items .search_result .result_content .section_content .venue_type {
          margin: 0 0 7px;
          padding: 0; }
        #article_page .left_column .list_items .search_result .result_content .section_content .result_date {
          margin: 0 0 0 3px; }
        #article_page .left_column .list_items .search_result .result_content .section_content .result_image {
          position: relative;
          width: 165px;
          height: 110px;
          margin: 0 15px 0 0;
          border: 1px solid #ADC0C9; }
          #article_page .left_column .list_items .search_result .result_content .section_content .result_image a {
            display: block; }
            #article_page .left_column .list_items .search_result .result_content .section_content .result_image a img {
              display: block;
              width: 165px;
              height: 110px; }
          #article_page .left_column .list_items .search_result .result_content .section_content .result_image .schedule_icon {
            position: absolute;
            top: -7px;
            right: -7px;
            z-index: 1000;
            width: 44px;
            height: 44px;
            background-image: url(/assets/search/search2_sprite.png); }
          #article_page .left_column .list_items .search_result .result_content .section_content .result_image .schedule_icon.team {
            background-position: -296px -41px; }
          #article_page .left_column .list_items .search_result .result_content .section_content .result_image .schedule_icon.performer {
            background-position: -232px -41px; }
        #article_page .left_column .list_items .search_result .result_content .section_content .section_wrapper {
          position: relative;
          float: left;
          width: 524px; }
        #article_page .left_column .list_items .search_result .result_content .section_content .top_left_section {
          position: relative;
          width: 365px;
          min-height: 112px; }
          #article_page .left_column .list_items .search_result .result_content .section_content .top_left_section .inner_content {
            position: relative;
            overflow: hidden;
            min-height: 66px; }
            #article_page .left_column .list_items .search_result .result_content .section_content .top_left_section .inner_content .tag_type_desc {
              position: relative;
              top: -3px; }
              #article_page .left_column .list_items .search_result .result_content .section_content .top_left_section .inner_content .tag_type_desc .result_desc {
                height: 74px;
                overflow: hidden;
                padding: 0 16px 0 0;
                font-size: 12px; }
                #article_page .left_column .list_items .search_result .result_content .section_content .top_left_section .inner_content .tag_type_desc .result_desc p {
                  display: inline;
                  padding: 0; }
                #article_page .left_column .list_items .search_result .result_content .section_content .top_left_section .inner_content .tag_type_desc .result_desc sup {
                  position: relative;
                  top: -3px;
                  vertical-align: baseline; }
              #article_page .left_column .list_items .search_result .result_content .section_content .top_left_section .inner_content .tag_type_desc .result_desc.full {
                height: auto; }
              #article_page .left_column .list_items .search_result .result_content .section_content .top_left_section .inner_content .tag_type_desc .ellipses_dots {
                background: #fff;
                position: absolute;
                bottom: 2px;
                right: 16px; }
        #article_page .left_column .list_items .search_result .result_content .section_content .top_right_section {
          float: right;
          min-height: 152px;
          width: 139px;
          margin-top: -40px;
          padding: 0 0 30px 9px;
          color: #6C8898;
          text-align: right;
          line-height: 14px;
          border-left: 1px dotted #ADC0C9; }
          #article_page .left_column .list_items .search_result .result_content .section_content .top_right_section .neighborhood_link,
          #article_page .left_column .list_items .search_result .result_content .section_content .top_right_section .result_venue {
            color: #597686;
            display: block;
            margin: 0;
            font-size: 12px;
            font-weight: bold;
            line-height: 14px;
            position: relative;
            top: -2px; }
          #article_page .left_column .list_items .search_result .result_content .section_content .top_right_section .neighborhood_link:hover,
          #article_page .left_column .list_items .search_result .result_content .section_content .top_right_section .result_venue:hover {
            color: #375363; }
          #article_page .left_column .list_items .search_result .result_content .section_content .top_right_section .result_address {
            line-height: 14px;
            padding: 0 0 9px; }
            #article_page .left_column .list_items .search_result .result_content .section_content .top_right_section .result_address .phone_number {
              color: #597686;
              font-size: 13px;
              font-weight: bold;
              display: inline-block;
              margin: 4px 0 0 0; }
          #article_page .left_column .list_items .search_result .result_content .section_content .top_right_section .personalities {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 140px; }
            #article_page .left_column .list_items .search_result .result_content .section_content .top_right_section .personalities .label {
              margin: 0 0 3px;
              padding: 0; }
          #article_page .left_column .list_items .search_result .result_content .section_content .top_right_section .calendar_btn {
            font-family: 'PT Sans', arial, sans-serif;
            text-align: left;
            position: absolute;
            right: 8px;
            bottom: 0; }
        #article_page .left_column .list_items .search_result .result_content .section_content .quick_nav_links {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 5px 0 0;
          padding-bottom: 0;
          border-top: 1px dashed #ADC0C9; }
        #article_page .left_column .list_items .search_result .result_content .section_content .top_left_section.override .quick_nav_links {
          position: static; }
        #article_page .left_column .list_items .search_result .result_content .section_content .result_events .grey_text a {
          color: #6C8898; }
        #article_page .left_column .list_items .search_result .result_content .section_content .result_events .grey_text a:hover {
          color: #597686; }
      #article_page .left_column .list_items .search_result.event .result_content .top_right_section {
        min-height: 102px;
        padding: 0 0 12px 9px; }
      #article_page .left_column .list_items .search_result.event .result_content .event_performers {
        width: 552px;
        min-height: 13px;
        margin: 10px 0 -3px;
        padding: 7px 0 0;
        color: #6C8898;
        font-size: 12px;
        line-height: 14px;
        border-top: 1px dashed #8ea8b5;
        overflow: visible; }
        #article_page .left_column .list_items .search_result.event .result_content .event_performers .performer_label {
          margin: 0 30px 0 0;
          font-size: 9px; }
        #article_page .left_column .list_items .search_result.event .result_content .event_performers a {
          color: #375363; }
        #article_page .left_column .list_items .search_result.event .result_content .event_performers a:hover {
          color: #597686; }
      #article_page .left_column .list_items .search_result.performer,
      #article_page .left_column .list_items .search_result.neighborhood {
        /*FOR IE7*/
        *padding-bottom: 4px !important; }
        #article_page .left_column .list_items .search_result.performer .result_content .section_content .top_left_section,
        #article_page .left_column .list_items .search_result.neighborhood .result_content .section_content .top_left_section {
          width: 520px;
          margin: 0; }
        #article_page .left_column .list_items .search_result.performer .result_content .section_content .top_right_section,
        #article_page .left_column .list_items .search_result.neighborhood .result_content .section_content .top_right_section {
          display: none;
          min-height: 112px;
          padding: 0 9px 0 9px; }
    #article_page .left_column .article_footer {
      clear: left;
      border-top: 1px solid #8EA8B5;
      border-bottom: 2px solid #8EA8B5;
      padding: 8px 0;
      margin: 8px 0; }
      #article_page .left_column .article_footer .footer_line {
        padding: 0; }
        #article_page .left_column .article_footer .footer_line .title {
          display: inline-block;
          width: 54px;
          margin: 0; }
      #article_page .left_column .article_footer .article_footer_left {
        float: left;
        width: 475px; }
        #article_page .left_column .article_footer .article_footer_left dl {
          position: relative; }
        #article_page .left_column .article_footer .article_footer_left dt {
          position: absolute;
          margin: 1px 0 0;
          line-height: 18px; }
        #article_page .left_column .article_footer .article_footer_left dd {
          padding: 0 0 0 46px; }
    #article_page .left_column .related_articles {
      border-bottom: 2px solid #8EA8B5;
      margin: 10px 0 4px 0; }
      #article_page .left_column .related_articles .title {
        color: #09F;
        font-size: 21px;
        font-weight: bold;
        padding: 0 0 10px;
        margin: 0 0 10px;
        border-bottom: 1px dashed #ADC0C9; }
      #article_page .left_column .related_articles .related_img {
        width: 165px;
        height: 175px;
        margin: 0 15px 10px 0;
        overflow: hidden; }
        #article_page .left_column .related_articles .related_img .object_photo {
          display: block;
          width: 165px;
          height: 110px;
          margin: 0 0 5px;
          border: 1px solid #d2dce1; }
          #article_page .left_column .related_articles .related_img .object_photo img {
            width: 165px;
            height: 110px; }
        #article_page .left_column .related_articles .related_img .article_name {
          display: block;
          font-weight: bold;
          text-decoration: none;
          line-height: 16px; }
          #article_page .left_column .related_articles .related_img .article_name:hover {
            text-decoration: underline; }
      #article_page .left_column .related_articles .related_img.last {
        margin-right: 0; }
    #article_page .left_column .more_link {
      margin: 5px 0 0;
      padding: 0;
      font-family: "Arial";
      font-size: 14px;
      font-weight: bold; }
      #article_page .left_column .more_link a, #article_page .left_column .more_link .fake_link {
        text-decoration: underline; }
  #article_page .right_column {
    width: 240px; }

.article_footer .comments_link {
  width: 154px;
  height: 41px;
  padding: 0 0 0 43px;
  color: #597686;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 43px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #fff;
  background-image: url(/assets/content_bg/application_sprite.png);
  background-position: -387px -362px; }
  .article_footer .comments_link span {
    top: 12px;
    left: 10px;
    height: 20px;
    text-shadow: none;
    line-height: 20px;
    background-image: none; }
  .article_footer .comments_link:hover {
    color: #354a55;
    background-position: -586px -362px; }
.floater {
  position: relative; }

.floater.outside {
  position: absolute;
  top: 0;
  z-index: 1000; }

.floater.fixed {
  position: fixed;
  top: 0; }

.floater.inside {
  position: static !important; }

.floater.inside .animation_wrapper {
  height: auto !important; }

/* Styles for social media Buttons when inside */
.social_media_btns {
  position: relative;
  margin: 9px 0;
  padding: 0 0 8px;
  background-color: #fff;
  border-bottom: 1px dashed #adc0c9; }
  .social_media_btns .total_count {
    display: none; }
  .social_media_btns td {
    min-width: 65px; }
  .social_media_btns td td {
    min-width: 0; }

/* Styles for social media Buttons when inside */
.outside .social_media_btns {
  position: absolute;
  top: 0;
  left: -70px;
  width: 30px;
  margin: 0;
  padding: 6px 9px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 5px #999;
  overflow: hidden; }
  .outside .social_media_btns .animation_wrapper {
    width: 300px;
    position: relative;
    right: 270px; }
    .outside .social_media_btns .animation_wrapper .total_count {
      display: block;
      width: 22px;
      height: 14px;
      color: white;
      padding: 9px 4px 4px;
      font-size: 11px;
      text-align: center; }
    .outside .social_media_btns .animation_wrapper .default_view {
      float: right;
      width: 30px;
      height: 128px;
      margin: 0 0 0 10px;
      background-image: url(/assets/content_bg/application_sprite.png);
      background-position: -337px -364px;
      background-repeat: no-repeat;
      cursor: pointer; }
    .outside .social_media_btns .animation_wrapper .button_view {
      float: right;
      width: 108px; }
      .outside .social_media_btns .animation_wrapper .button_view .share_title {
        margin: 2px 3px 8px;
        color: #8EA8B5;
        font-size: 11px;
        line-height: 12px; }

/* GIGYA BUTTON STYLES
--------------------------------------
:: Styles for the width and position of the Gigya buttons..
-------------------------------------------------------- */
.gig-button-container {
  margin: 0 5px 0 0 !important;
  padding: 0 !important;
  overflow: hidden; }

/* Width of buttons when inside */
.inside .gig-button-container-facebook {
  position: relative;
  top: -1px; }

.inside .gig-button-container-facebook-like {
  width: 45px !important; }

.inside .gig-button-container-twitter-tweet {
  width: 59px !important; }

.inside .gig-button-container-google-plusone {
  width: 32px !important; }

.inside .gig-button-container-share {
  width: 58px !important; }

/* Allows to absolutely position buttons */
.outside .gig-bar-container {
  position: relative; }

/* Prevent default <td> position */
.outside .social_media_btns td {
  display: inline; }

.outside .social_media_btns td td {
  display: table-cell; }

/* Default position for all buttons when outside. */
.outside .gig-button-container-facebook,
.outside .gig-button-container-facebook-like,
.outside .gig-button-container-twitter-tweet,
.outside .gig-button-container-google-plusone,
.outside .gig-button-container-share {
  position: absolute;
  top: 0;
  left: 0; }

/* Specific positions for buttons when outside when outside. */
.outside .gig-button-container-facebook {
  top: 0; }

.outside .gig-button-container-facebook-like {
  top: 27px; }

.outside .gig-button-container-twitter-tweet {
  top: 54px; }

.outside .gig-button-container-google-plusone {
  top: 81px; }

.outside .gig-button-container-share {
  top: 108px; }

.single_photo .outside .gig-button-container-pinterest {
  top: 0; }

.single_photo .outside .gig-button-container-facebook {
  top: 26px; }

.single_photo .outside .gig-button-container-facebook-like {
  top: 52px; }

.single_photo .outside .gig-button-container-twitter-tweet {
  top: 78px; }

.single_photo .outside .gig-button-container-google-plusone {
  top: 104px; }

.single_photo .outside .gig-button-container-share {
  top: 130px; }

.single_photo .outside .gig-button-container-pinterest .gig-counter {
  width: 33px; }

/* Completely override facebook buton */
.social_media_btns .gig-button-container-facebook .gig-button-td div {
  height: 18px;
  width: 57px;
  background-image: url(/assets/content_bg/application_sprite.png);
  background-position: -386px -428px;
  cursor: pointer; }
  .social_media_btns .gig-button-container-facebook .gig-button-td div * {
    display: none; }
  .social_media_btns .gig-button-container-facebook .gig-button-td div:hover {
    background-position: -386px -448px; }

/* Styles for Gigya Share Popup */
.gig-simpleShare.fixed {
  position: fixed !important;
  top: 145px !important; }

/* FLOATER COMMENT STYLES
--------------------------------------
:: Styles for the comment box on the left rail floater.
-------------------------------------------------------- */
.floater_comments {
  display: none;
  /* Not displayed by default */
  position: absolute;
  top: 144px;
  left: -70px;
  width: 48px;
  padding: 4px 0;
  color: #999;
  font-family: 'Arial', sans-serif;
  font-size: 7px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px #999; }
  .floater_comments:hover {
    cursor: pointer; }
  .floater_comments:hover .comment_label {
    color: #597686; }
  .floater_comments .comment_count, .floater_comments .comment_label {
    display: block; }
  .floater_comments .comment_count {
    color: #0099ff;
    font-size: 16px;
    font-weight: bold;
    text-transform: none; }
  .floater_comments .comment_label {
    line-height: 120%; }
  .floater_comments .tip {
    position: absolute;
    right: 0;
    bottom: -17px;
    width: 54px;
    height: 17px;
    background-image: url(/assets/content_bg/application_sprite.png);
    background-position: -387px -510px; }

.outside .floater_comments {
  display: block; }

/* Fix for gigya follow bar whenever there is a left rail social bar present */
.gig-followbar-dialog-nub,
.gig-followbar-dialog {
  position: fixed !important;
  top: auto !important; }

.gig-followbar-dialog-nub {
  bottom: 22px !important;
  background-image: url("http://cdn.gigya.com/gs/i/followbar/Nub_bottom.png") !important; }

.gig-followbar-dialog {
  bottom: 34px !important; }
.floater.fixed {
  position: fixed;
  top: 0; }
/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
.new_photo_galleries {
  margin: 0 0 12px;
  padding: 13px 15px; }
  .new_photo_galleries .title {
    margin: 0 0 7px;
    color: #09F;
    font-size: 15px;
    font-weight: bold; }
  .new_photo_galleries .photo_item {
    width: 100px;
    margin: 0 10px 8px 0;
    padding: 11px 0 0;
    line-height: 15px;
    border-top: 1px dashed #ADC0C9; }
    .new_photo_galleries .photo_item .object_photo {
      display: block;
      margin: 0 0 3px;
      border: 1px solid #ADC0C9; }
      .new_photo_galleries .photo_item .object_photo img {
        display: block;
        width: 98px;
        height: 65px; }
  .new_photo_galleries .photo_item.last {
    margin-right: 0; }
  .new_photo_galleries .photo_item.bottom {
    margin-bottom: 0; }
/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
.latest_reviews.pod_rounded {
  margin: 0 0 12px;
  padding: 13px 14px; }
  .latest_reviews.pod_rounded .title {
    color: #09F;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 6px; }
  .latest_reviews.pod_rounded .headline.sub_headline {
    display: block;
    text-decoration: underline;
    margin: 0 0 7px;
    font-size: 21px;
    line-height: 22px;
    color: #375363; }
  .latest_reviews.pod_rounded .headline.sub_headline:hover {
    color: #000; }
  .latest_reviews.pod_rounded .venue_type.top {
    padding: 0;
    margin: 0 0 6px; }
  .latest_reviews.pod_rounded .object_photo {
    display: block;
    margin: 0 0 5px;
    border: 1px solid #ADC0C9; }
    .latest_reviews.pod_rounded .object_photo img {
      display: block;
      width: 210px;
      height: 140px; }
  .latest_reviews.pod_rounded .quick_nav_links {
    border-bottom: 1px dashed #ADC0C9;
    padding: 0 0 8px;
    margin: 0 0 8px; }
  .latest_reviews.pod_rounded .date {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    color: #8EA8B5; }
  .latest_reviews.pod_rounded .desc {
    position: relative;
    height: 106px;
    overflow: hidden; }
    .latest_reviews.pod_rounded .desc .ellipses_dots {
      font-size: 12px;
      line-height: 15px;
      background: #fff;
      position: absolute;
      right: 0;
      bottom: -1px;
      max-width: 334px;
      height: 15px;
      overflow: hidden; }
  .latest_reviews.pod_rounded .other_venues {
    border-top: 1px solid #ADC0C9;
    margin: 10px 0 0 0;
    padding: 6px 0 0 0; }
    .latest_reviews.pod_rounded .other_venues .venue_item {
      padding: 0 0 1px;
      margin: 0 0 5px;
      border-bottom: 1px dashed #ADC0C9; }
      .latest_reviews.pod_rounded .other_venues .venue_item .venue_type {
        text-transform: none;
        display: block;
        margin-top: -2px; }
    .latest_reviews.pod_rounded .other_venues .venue_item:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0; }
.share_btn,
.subscribe_btn,
.follow_btns {
  background: url(/assets/common/right_colmun_sprite.png) no-repeat transparent;
  cursor: pointer; }

.share_btn,
.subscribe_btn,
.follow_btns {
  width: 243px;
  height: 44px;
  position: relative;
  right: 0;
  margin: 0 0 10px; }

.share_btn {
  background-position: -291px -52px; }

.subscribe_btn {
  background-position: -291px -102px; }

.follow_btns {
  background-position: -291px -152px;
  cursor: default !important; }
  .follow_btns a {
    display: block;
    position: absolute;
    top: 7px;
    width: 32px;
    height: 32px;
    margin: 0; }
    .follow_btns a img {
      width: 32px;
      height: 32px; }
  .follow_btns .gig-followbar-providerButton {
    right: 41px; }
  .follow_btns .gig-followbar-providerButton-last {
    right: 5px; }
/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
.upcoming_events.pod_rounded {
  margin: 0 0 12px;
  padding: 13px 14px; }
  .upcoming_events.pod_rounded .title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
    color: #375363;
    border-bottom: 1px dashed #ADC0C9;
    padding: 0 0 7px;
    margin: 0 0 12px; }
  .upcoming_events.pod_rounded .object_photo {
    display: block;
    margin: 0 0 8px;
    border: 1px solid #ADC0C9; }
    .upcoming_events.pod_rounded .object_photo img {
      display: block;
      width: 210px;
      height: 140px;
      float: none;
      /* TODO(VH): Remove float when no longer using rounded corder JS. */ }
  .upcoming_events.pod_rounded .img_name {
    padding: 0 0 6px;
    margin: 0 0 8px;
    border-bottom: 1px solid #dae4e9;
    text-transform: uppercase;
    font-size: 10px;
    color: #09f;
    line-height: 10px;
    vertical-align: top;
    height: 10px; }
    .upcoming_events.pod_rounded .img_name a {
      display: inline-block;
      border-left: 1px solid #e4ebef;
      height: 10px;
      overflow: hidden;
      width: 160px;
      text-transform: none;
      padding: 0 0 0 6px;
      margin: 0 0 0 4px;
      text-decoration: none; }
  .upcoming_events.pod_rounded .object_item {
    border-bottom: 1px dashed #ADC0C9;
    padding: 0 0 8px;
    margin: 0 0 8px;
    position: relative; }
    .upcoming_events.pod_rounded .object_item .point {
      display: none;
      position: absolute;
      top: 10px;
      left: -15px;
      border-top: 7px solid transparent;
      border-left: 7px solid #09f;
      border-right: 7px solid transparent;
      border-bottom: 7px solid transparent; }
    .upcoming_events.pod_rounded .object_item .date_block {
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#eff2f4), to(#d5dbe0));
      background: -moz-linear-gradient(top, #eff2f4, #d5dbe0);
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
      width: 28px;
      margin: 0 10px 0 0;
      text-align: center;
      border-left: 1px solid #E0E4E7;
      border-right: 1px solid #E0E4E7;
      border-radius: 2px 2px 2px 2px;
      color: #09f;
      text-shadow: 1px 1px 1px #fff;
      font-family: Arial, sans-serif; }
      .upcoming_events.pod_rounded .object_item .date_block .month {
        font-size: 8px;
        line-height: 4px;
        padding: 5px 0 2px;
        font-weight: bold;
        text-transform: uppercase; }
      .upcoming_events.pod_rounded .object_item .date_block .day {
        font-size: 18px;
        padding: 0 0 5px;
        border-bottom: 1px solid #B4BABE; }
    .upcoming_events.pod_rounded .object_item .name_and_type {
      width: 168px; }
      .upcoming_events.pod_rounded .object_item .name_and_type .black_link {
        display: block;
        line-height: 14px;
        margin: 0 0 3px; }
      .upcoming_events.pod_rounded .object_item .name_and_type .venue_type {
        padding: 0;
        margin: 0; }
  .upcoming_events.pod_rounded .object_item:last-of-type {
    border-bottom: 1px solid #ADC0C9; }
  .upcoming_events.pod_rounded .object_item.hovered .point {
    display: block; }
  .upcoming_events.pod_rounded .more_link {
    text-align: right;
    line-height: 10px; }
    .upcoming_events.pod_rounded .more_link .blue_text.arrow {
      color: #ff9000;
      top: 0; }
.personalities .label {
  float: left;
  margin-bottom: 2px;
  color: #8ea8b5;
  font-size: 9px; }
.personalities div, .personalities p, .personalities span {
  -moz-user-select: none;
  user-select: none; }

.character_icons {
  position: relative;
  float: right; }

.persona {
  float: left;
  width: 27px;
  height: 31px;
  margin: 0 0 0 4px;
  cursor: pointer;
  background-image: url(/assets/characters/liked_by_sprite.png); }
  .persona .dialog_box {
    position: absolute;
    bottom: 41px;
    right: -9px;
    z-index: 6000;
    background-color: #889aa4;
    border: 4px solid #889aa4;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px; }
  .persona .dialog_content_wrapper {
    width: 190px;
    height: auto;
    padding: 9px 7px;
    color: #000;
    text-align: left;
    background-color: #f7f9fb;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px; }
  .persona .dialog_img {
    width: 32px;
    height: 87px;
    background-image: url(/assets/characters/liked_by_sprite.png); }
  .persona .dialog_content {
    width: 134px;
    padding: 7px 0 0 11px;
    font-size: 13px;
    line-height: 16px; }
    .persona .dialog_content .title {
      text-transform: uppercase; }
    .persona .dialog_content p {
      padding: 0; }
  .persona .close_btn, .persona .close_btn:hover {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 8px;
    height: 8px;
    background-image: url(/assets/characters/liked_by_sprite.png);
    background-position: -172px -138px; }
  .persona .point {
    position: relative;
    bottom: 11px;
    left: 1px;
    width: 0;
    height: 0;
    border-top: 12px solid #889AA4;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent; }
  .persona .inner_point {
    position: absolute;
    bottom: -5px;
    left: -10px;
    z-index: 6001;
    width: 0;
    height: 0;
    border-top: 10px solid #F7F9FB;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    overflow: hidden; }
  .persona.lucas {
    background-position: 0 0; }
    .persona.lucas:hover {
      background-position: -201px 0; }
    .persona.lucas .title {
      color: #4175ab; }
    .persona.lucas .dialog_img {
      background-position: 0 -209px; }
  .persona.adriana {
    background-position: -28px 0; }
    .persona.adriana:hover {
      background-position: -231px 0; }
    .persona.adriana .title {
      color: #c675b1; }
    .persona.adriana .dialog_img {
      background-position: -32px -209px; }
  .persona.jonah {
    background-position: -56px 0; }
    .persona.jonah:hover {
      background-position: -261px 0; }
    .persona.jonah .title {
      color: #95c946; }
    .persona.jonah .dialog_img {
      background-position: -64px -209px; }
  .persona.emma {
    background-position: -84px 0; }
    .persona.emma:hover {
      background-position: -291px 0; }
    .persona.emma .title {
      color: #ffb637; }
    .persona.emma .dialog_img {
      background-position: -96px -209px; }
/* GIGYA COMMENTS
------------------------------------
:: These styles are specifically for the comments which are powered by Gigya..
------------------------------------*/
#gigya_header {
  padding: 0 0 6px;
  border-bottom: 1px dotted #ccc; }
  #gigya_header .large_gray_btn {
    float: right;
    padding: 0 12px; }

#performer_content #gigya_header,
#event_content #gigya_header {
  display: none; }

#gigya_comments h3 {
  margin: 0 0 10px;
  padding: 0 0 10px;
  color: #0099FF;
  font-size: 21px;
  font-weight: bold;
  border-bottom: 1px dashed #ADC0C9; }
#gigya_comments .gig-comments-container {
  width: auto !important; }
#gigya_comments .gig-comments-textarea {
  width: 694px !important; }
#gigya_comments #Comments-postButton a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 30px;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.1em;
  text-shadow: 0px 1px 2px #5BC6F3;
  border: solid #0098FE 1px;
  cursor: pointer;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0098fe), to(#1977ce));
  background: -moz-linear-gradient(top, #0098fe, #1977ce);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#0098fe, endColorStr=#1977ce);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#0098fe, endColorStr=#1977ce);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0px 1px 5px #999;
  -moz-box-shadow: 0px 1px 5px #999; }
#gigya_comments #Comments-postButton a:hover {
  background: #2388f5;
  text-shadow: 0px 0px 12px #fff;
  /*FOR IE*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#2388f5, endColorStr=#2388f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#2388f5, endColorStr=#2388f5); }
#gigya_comments .gig-comments-commentList-header-commentsCount {
  float: left;
  padding: 0; }
#gigya_comments .gig-comments-headerLinks {
  float: right;
  padding: 0; }
#gigya_comments .gig-comments-commentBox-bottom {
  margin-top: 10px; }
#gigya_comments #article_comments_footer a {
  float: right; }

#Comments-commentBox div.gig-comments-headerText {
  padding-top: 0;
  line-height: 100%; }

.comments_link {
  color: #375363;
  display: block;
  float: right;
  position: relative; }
  .comments_link span {
    display: block;
    position: absolute;
    top: -4px;
    left: -35px;
    width: 24px;
    height: 25px;
    padding: 0 0 0 7px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    background-image: url(/assets/content_bg/application_sprite.png);
    background-position: -387px -483px; }

.comments_link:hover {
  color: #000; }
