.payment_method .payment_input {
  margin-top: 15px; }
  .payment_method .payment_input .choices-group li {
    display: inline-block;
    position: relative; }
    .payment_method .payment_input .choices-group li label {
      font-size: 16px;
      font-weight: bold;
      margin: 0 0 8px 0;
      text-align: left;
      width: auto; }
      .payment_method .payment_input .choices-group li label input {
        margin-top: 1px;
        width: 20px; }
    .payment_method .payment_input .choices-group li:nth-child(1) {
      width: 150px; }
    .payment_method .payment_input .choices-group li:nth-child(2) {
      width: 95px; }
    .payment_method .payment_input .choices-group li:nth-child(3) {
      width: 90px; }
.payment_method #client_payment_information_attributes_bank_account_type_input .choices-group {
  float: left;
  margin: -19px 0 6px 210px; }
  .payment_method #client_payment_information_attributes_bank_account_type_input .choices-group li {
    display: inline-block;
    position: relative; }
    .payment_method #client_payment_information_attributes_bank_account_type_input .choices-group li label {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      text-align: left;
      width: auto; }
      .payment_method #client_payment_information_attributes_bank_account_type_input .choices-group li label input {
        margin-top: 2px;
        width: 20px; }
    .payment_method #client_payment_information_attributes_bank_account_type_input .choices-group li:nth-child(1) {
      width: 90px; }
    .payment_method #client_payment_information_attributes_bank_account_type_input .choices-group li:nth-child(2) {
      width: 75px; }
