.promote_widget .code_content .btn {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #0099FF;
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  float: right;
  line-height: 100%;
  padding: 5px 0;
  vertical-align: top;
  width: 160px; }
  .promote_widget .code_content .btn.hover {
    cursor: pointer;
    background: #fafafa; }
.promote_widget .code_content textarea {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ADC0C9 !important;
  color: #656565;
  font-size: 11px;
  height: 50px;
  line-height: 15px;
  margin-bottom: 7px;
  padding: 10px;
  resize: none;
  width: 972px; }
.promote_widget .widget_cont {
  background-color: #FFF;
  padding: 8px 8px 5px; }
