.dashboard_show .title {
  font-family: "Roboto Light", "Arimo", Arial, sans-serif;
  color: #464646;
  font-size: 20px;
  line-height: 100%;
  margin: 12px 0; }
  .dashboard_show .title span {
    float: right;
    font-size: 13px;
    position: relative;
    top: 3px; }
.dashboard_show .generator_cont .widget_cont {
  margin-bottom: 12px; }
.dashboard_show .generator_cont .code_content {
  background: #f0f0f0;
  margin-top: 12px;
  padding: 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  .dashboard_show .generator_cont .code_content textarea {
    border: 1px solid #cdd9df;
    font-size: 12px;
    height: 90px;
    line-height: 15px;
    resize: none;
    padding: 10px;
    width: 628px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
  .dashboard_show .generator_cont .code_content .btn_white {
    float: right;
    margin-top: 8px;
    padding: 2px 0;
    width: 160px; }
