.blue_tag {
  display: inline-block;
  position: relative;
  height: 10px;
  padding: 2px 3px 3px 5px;
  color: #fff !important;
  font-size: 10px;
  line-height: 12px;
  background-color: #09f;
  border-radius: 2px 0 0 2px; }
  .blue_tag a:link, .blue_tag a:visited {
    color: #fff;
    text-decoration: none; }
  .blue_tag a:hover {
    text-decoration: none; }
  .blue_tag .point {
    width: 1px;
    height: 0;
    overflow: hidden;
    border-top: 8px solid transparent;
    border-left: 8px solid #0099ff;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    right: -15px;
    bottom: 0; }

.top_section_content .venue_type {
  padding-top: 6px; }
.top_section_content .event_venue_name {
  color: #375363;
  font-weight: bold;
  text-decoration: underline; }
.top_section_content .event_venue_name:hover {
  color: #597686; }
.top_section_content .featured_item {
  float: left;
  width: 347px;
  margin: 0 20px 0 0; }
  .top_section_content .featured_item .headline.sub_headline {
    text-decoration: underline; }
  .top_section_content .featured_item p {
    padding: 9px 0 6px; }
  .top_section_content .featured_item .item_img {
    display: block;
    width: 345px;
    height: 230px;
    margin: 0 0 5px; }
    .top_section_content .featured_item .item_img img {
      display: block;
      width: 345px;
      height: 230px; }
  .top_section_content .featured_item .blue_tag {
    left: -25px;
    padding-left: 25px;
    float: left;
    top: 2px; }
    .top_section_content .featured_item .blue_tag .anchor_point {
      width: 0;
      height: 0;
      overflow: hidden;
      border: 4px solid;
      border-color: #24648f #24648f transparent transparent;
      position: absolute;
      top: 15px;
      left: 0; }
  .top_section_content .featured_item .when_and_where {
    margin: 0 0  11px; }
    .top_section_content .featured_item .when_and_where .schedule {
      display: block;
      margin-top: 6px; }
      .top_section_content .featured_item .when_and_where .schedule table {
        width: 100%; }
        .top_section_content .featured_item .when_and_where .schedule table tr td {
          vertical-align: top;
          border-bottom: 1px dashed #adc0c9; }
          .top_section_content .featured_item .when_and_where .schedule table tr td a {
            color: #000;
            display: block;
            padding: 4px 0 4px 0;
            text-decoration: none; }
            .top_section_content .featured_item .when_and_where .schedule table tr td a span {
              display: inline-block;
              zoom: 1; }
            .top_section_content .featured_item .when_and_where .schedule table tr td a .date_time {
              width: 85px;
              /*width:75px;*/
              padding-left: 2px;
              line-height: 18px; }
            .top_section_content .featured_item .when_and_where .schedule table tr td a .name {
              /*width:145px;*/
              padding: 0 6px 0 7px;
              text-shadow: 0 0 0.08em #dadada; }
            .top_section_content .featured_item .when_and_where .schedule table tr td a .city {
              width: 100px;
              color: #8ea8b5;
              text-align: right;
              padding-right: 6px;
              float: right; }
        .top_section_content .featured_item .when_and_where .schedule table tr:hover {
          background: #ffffe5; }
.top_section_content .small_items {
  float: left;
  width: 335px; }
  .top_section_content .small_items li.item {
    position: relative;
    float: left;
    width: 102px;
    height: 153px;
    margin: 0 0 10px;
    padding: 0 14px 10px 0;
    border-bottom: 1px dashed #adc0c9; }
    .top_section_content .small_items li.item .black_link {
      display: inline-block;
      margin-bottom: 6px;
      line-height: 15px;
      text-shadow: 0 0 0.08em #dadada; }
    .top_section_content .small_items li.item p {
      padding-bottom: 0; }
    .top_section_content .small_items li.item .venue_type {
      padding-top: 0; }
    .top_section_content .small_items li.item .thumbnail {
      width: 100px;
      height: 100px;
      display: block;
      position: absolute;
      bottom: 10px; }
      .top_section_content .small_items li.item .thumbnail img {
        width: 100px;
        height: 100px; }
  .top_section_content .small_items .item.third {
    padding-right: 0; }
  .top_section_content .small_items .item.last_row {
    margin-bottom: 0;
    border-bottom: none; }
