/*TOOLTIP PROPERTIES*/

#error_message {
  color: #000000;
  font-family: 'PT Sans',arial,sans-serif;
  font-size: 13px;
  left: 8px;
  line-height: 18px;
  position: absolute;
  top: 42px;
  width: 260px;
  z-index: 2000;
}

#error_message .tooltip_sprite {
  background-image:url("/assets/error/tooltip_sprite.png");
}

#error_message table td {
  padding:0;
}

#error_message .tip_header_row {
  height: 10px;
  position: static;
}

#error_message .tip_header_row .tip_left_corner {
  background-position:0 0;
  width:10px;
  height:10px;
  display:block;
}

#error_message .tip_header_row .tip_mid_section {
  background:url("/assets/error/tooltip_header_midsection_repeat.png") 0 -1px repeat-x;
  height:10px;
  position:relative;
}

#error_message .tip_header_row .tip_mid_section .tooltip_arrow {
  background-position:0 -27px;
  height: 14px;
  left: 116px;
  position: absolute;
  top: -7px;
  width: 14px;

  *left:110px; /*For IE7*/
}

#error_message .tip_header_row .tip_right_corner {
  background-position:-11px 0;
  width:17px;
  height:10px;
  display:block;
  position: static;
}

#error_message .tip_content_container {

}

#error_message .tip_content_container .tip_left_side {
  background:url("/assets/error/tooltip_left_side_repeat.png") -1px 0 repeat-y;
  width:10px;
  position: relative;
}

#error_message .tip_content_container .tip_content {
  background-color:#FFFFFF;
  padding:4px 4px 8px 8px;
  cursor: default;
  width:220px;
  font-weight: normal;
  white-space: normal;
}

#error_message .tip_content_container .tip_content p {
  padding:0;
}

/*#error_message .tip_content_container .tip_content .tip_close_btn {
  background-position:0 -41px;
  width:16px;
  height:16px;
  float:right;
  cursor:pointer;
  position: static;
}

#error_message .tip_content_container .tip_content .tip_close_btn:hover {
  background-position:-16px -41px;
}*/

#error_message .tip_content_container .tip_right_side {
  background:url("/assets/error/tooltip_right_side_repeat.png") 0 0 repeat-y;
  width:17px;
}

#error_message .tip_footer_row {

}

#error_message .tip_footer_row .tip_left_corner {
  background-position:0 -11px;
  width:10px;
  height:16px;
  display:block;
}

#error_message .tip_footer_row .tip_mid_section {
  background:url("/assets/error/tooltip_footer_midsection_repeat.png") 0 0 repeat-x;
  height:16px;
}

#error_message .tip_footer_row .tip_right_corner {
  background-position:-11px -11px;
  width:17px;
  height:16px;
  display:block;
  position: static;
}
