.TitleContainer {
  background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -116px transparent;
  padding: 0 29px 0 0; }

.TitleContainer:hover {
  background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -145px transparent; }

.TitleContainer.Opened {
  background-position: 100% -58px; }

.TitleContainer.Opened:hover {
  background-position: 100% -87px; }

.TitleContainer .Title {
  background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 0 0 transparent;
  height: 19px;
  line-height: 20px;
  overflow: hidden;
  padding: 4px 10px; }

.TitleContainer.Opened .Title {
  background-position: 0 -29px; }

.TitleContainer .Title.select .unselected {
  color: #999; }

.dropdown_wrapper {
  cursor: pointer;
  display: inline-block;
  /*FOR IE7*/
  *display: inline;
  zoom: 1; }
  .dropdown_wrapper .dropdown {
    position: absolute;
    z-index: 3001; }
  .dropdown_wrapper .choices_wrapper {
    padding: 0 2px 0 0;
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -1456px transparent; }
  .dropdown_wrapper .Choices.choices {
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 0 -232px transparent; }
  .dropdown_wrapper .Choice.choice {
    margin: 0 0 0 1px;
    padding: 0 10px; }
  .dropdown_wrapper .Choice.choice:hover {
    color: #fff;
    background: #0099ff; }
  .dropdown_wrapper .footer_bottom {
    height: 11px;
    padding: 0 11px 0 0;
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -2654px transparent; }
  .dropdown_wrapper .footer_bottom .footer_right {
    height: 11px;
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 0 -1443px transparent; }

.month_dropdown .choices_wrapper {
  width: 83px; }

.day_dropdown .choices_wrapper {
  width: 70px; }

.year_dropdown .choices_wrapper {
  width: 73px; }
/* STYLES FOR RIGHT SIDEBAR
-----------------------------------------------------
:: Styles for the right sidebar and universal elements like pods.
----------------------------------------------------- */
#right_sidebar {
  float: right;
  width: 240px;
  /* Lists used in Pods. If list needs specific styles override specific attributes in seperate stylesheet..*/
  /* Pod list stripped down with no border/padding etc. */
  /* Pod list with a thumbnail next to each item */
  /* Pod footer used on some pods. Any that goes in the footer should be added here.*/
  /* Little orange arrow mostly used on pod footer after a link. */
  /* tabs on ibiza and pamplona pages */
  /* Styles for Popular Entertainers/DJs */
  /* Styles for the Get Paid To Party pods */ }
  #right_sidebar .pod {
    padding: 13px 14px; }
  #right_sidebar h3, #right_sidebar .featured h4 {
    color: #375363;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin: 0 0 8px;
    padding: 0 0 8px;
    border-bottom: 1px dashed #adc0c9; }
    #right_sidebar h3 a, #right_sidebar h3 a:link, #right_sidebar h3 a:visited, #right_sidebar .featured h4 a, #right_sidebar .featured h4 a:link, #right_sidebar .featured h4 a:visited {
      color: #375363;
      text-decoration: underline; }
      #right_sidebar h3 a:hover, #right_sidebar h3 a:link:hover, #right_sidebar h3 a:visited:hover, #right_sidebar .featured h4 a:hover, #right_sidebar .featured h4 a:link:hover, #right_sidebar .featured h4 a:visited:hover {
        color: #000; }
    #right_sidebar h3.small, #right_sidebar .featured h4.small {
      margin: 0 0 6px;
      padding: 0;
      color: #09F;
      font-size: 15px;
      font-weight: bold;
      line-height: 16px;
      border-bottom: 0; }
  #right_sidebar h4 {
    margin: 0 0 3px;
    line-height: 15px; }
  #right_sidebar .desc {
    position: relative;
    overflow: hidden; }
    #right_sidebar .desc a, #right_sidebar .desc a:link, #right_sidebar .desc a:visited {
      color: #09f; }
    #right_sidebar .desc .neighborhood {
      color: #8ea8b5;
      font-size: 10px;
      line-height: 10px;
      text-transform: uppercase; }
  #right_sidebar .thumbnail_link {
    display: block;
    margin: 0 0 8px;
    width: 210px;
    height: 140px;
    border: 1px solid #adc0c9;
    border-radius: 4px;
    overflow: hidden; }
    #right_sidebar .thumbnail_link img {
      display: block;
      width: 210px;
      height: 140px; }
  #right_sidebar .quick_nav_links {
    border-bottom: 1px dashed #ADC0C9;
    padding: 0 0 5px;
    margin: 0 0 5px; }
  #right_sidebar .name {
    color: #09f;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase; }
    #right_sidebar .name .date {
      display: block;
      float: left;
      margin: 0 4px 0 0;
      padding: 0 6px 0 0;
      border-right: 1px solid #e4ebef; }
    #right_sidebar .name a {
      display: inline-block;
      width: 160px;
      height: 10px;
      color: #09f;
      text-decoration: none;
      text-transform: none;
      overflow: hidden; }
  #right_sidebar .changer .name {
    height: 10px;
    margin: 0 0 8px;
    padding: 0 0 6px;
    vertical-align: top;
    border-bottom: 1px solid #dae4e9; }
  #right_sidebar .list .list_item {
    margin: 8px 0 0;
    padding: 8px 0 0;
    border-top: 1px dashed #adc0c9; }
    #right_sidebar .list .list_item.featured {
      margin: 0 0 10px;
      padding: 0 0 10px;
      border-bottom: 1px solid #8ea8b5; }
      #right_sidebar .list .list_item.featured h4 {
        margin: 0 0 8px;
        padding: 0;
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        border: none; }
      #right_sidebar .list .list_item.featured .venue_type {
        margin: 0 0 6px; }
    #right_sidebar .list .list_item p {
      padding: 0; }
    #right_sidebar .list .list_item .date {
      color: #09f;
      font-size: 9px;
      line-height: 11px;
      text-transform: uppercase; }
    #right_sidebar .list .list_item .arrow {
      color: #09f; }
    #right_sidebar .list .list_item .venue_type {
      margin: 0;
      padding: 0;
      color: #6C8898; }
      #right_sidebar .list .list_item .venue_type a, #right_sidebar .list .list_item .venue_type a:link, #right_sidebar .list .list_item .venue_type a:visited {
        color: #6C8898; }
        #right_sidebar .list .list_item .venue_type a:hover, #right_sidebar .list .list_item .venue_type a:link:hover, #right_sidebar .list .list_item .venue_type a:visited:hover {
          color: #597686;
          text-decoration: underline; }
    #right_sidebar .list .list_item:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none; }
    #right_sidebar .list .list_item .name a, #right_sidebar .list .list_item .name a:link, #right_sidebar .list .list_item .name a:visited {
      color: #09f; }
      #right_sidebar .list .list_item .name a:hover, #right_sidebar .list .list_item .name a:link:hover, #right_sidebar .list .list_item .name a:visited:hover {
        color: #597686;
        text-decoration: underline; }
  #right_sidebar .list a {
    color: #000; }
    #right_sidebar .list a:hover {
      color: #597686; }
  #right_sidebar .simple_list .list_item {
    margin: 0 0 3px;
    padding: 0;
    border: none; }
    #right_sidebar .simple_list .list_item a, #right_sidebar .simple_list .list_item a:link, #right_sidebar .simple_list .list_item a:visited {
      color: #375363; }
      #right_sidebar .simple_list .list_item a:hover, #right_sidebar .simple_list .list_item a:link:hover, #right_sidebar .simple_list .list_item a:visited:hover {
        color: #000; }
  #right_sidebar .photo_list .thumbnail_link {
    float: left;
    width: 75px;
    height: 50px;
    margin: 0 9px 0 0; }
    #right_sidebar .photo_list .thumbnail_link img {
      width: 75px;
      height: 50px; }
  #right_sidebar .photo_list .details {
    float: left;
    width: 120px; }
    #right_sidebar .photo_list .details h4 {
      line-height: 15px;
      margin: 0 0 3px; }
      #right_sidebar .photo_list .details h4 a {
        color: #000; }
        #right_sidebar .photo_list .details h4 a:hover {
          color: #597686; }
  #right_sidebar .pod_footer {
    margin: 8px 0 0;
    padding: 8px 0 0;
    border-top: 1px solid #adc0c9; }
    #right_sidebar .pod_footer a, #right_sidebar .pod_footer a:link, #right_sidebar .pod_footer a:visited, #right_sidebar .pod_footer .fake_link {
      float: right;
      color: #09f;
      text-align: right;
      font-size: 11px;
      line-height: 11px;
      text-decoration: none; }
      #right_sidebar .pod_footer a:hover, #right_sidebar .pod_footer a:link:hover, #right_sidebar .pod_footer a:visited:hover, #right_sidebar .pod_footer .fake_link:hover {
        color: #597686;
        text-decoration: underline; }
      #right_sidebar .pod_footer a span, #right_sidebar .pod_footer a:link span, #right_sidebar .pod_footer a:visited span, #right_sidebar .pod_footer .fake_link span {
        text-decoration: underline; }
        #right_sidebar .pod_footer a span.arrow, #right_sidebar .pod_footer a:link span.arrow, #right_sidebar .pod_footer a:visited span.arrow, #right_sidebar .pod_footer .fake_link span.arrow {
          top: 0;
          color: #ff9000;
          text-decoration: none; }
  #right_sidebar .arrow {
    display: inline-block;
    position: relative;
    width: 6px;
    font-family: "Times New Roman";
    font-size: 17px;
    font-weight: normal;
    line-height: 17px;
    text-indent: -10px;
    overflow: hidden; }
  #right_sidebar .tabs {
    margin-top: 33px; }
    #right_sidebar .tabs:first-child {
      margin-top: 19px; }
  #right_sidebar .popular_entertainers .list li {
    position: relative;
    padding: 0 0 0 10px; }
    #right_sidebar .popular_entertainers .list li .arrow {
      display: none;
      position: absolute;
      left: 0; }
    #right_sidebar .popular_entertainers .list li.selected .arrow {
      display: inline-block; }
  #right_sidebar .gptp_right_rail h3 {
    padding: 0;
    font-weight: normal;
    text-align: center;
    border: none; }
  #right_sidebar .gptp_right_rail ul li {
    float: left;
    margin: 0 4px 4px 0; }
    #right_sidebar .gptp_right_rail ul li:nth-child(4n) {
      margin-right: 0; }
    #right_sidebar .gptp_right_rail ul li a, #right_sidebar .gptp_right_rail ul li a:link, #right_sidebar .gptp_right_rail ul li a:visited {
      display: block;
      width: 50px;
      height: 50px; }
      #right_sidebar .gptp_right_rail ul li a img, #right_sidebar .gptp_right_rail ul li a:link img, #right_sidebar .gptp_right_rail ul li a:visited img {
        opacity: .85; }
      #right_sidebar .gptp_right_rail ul li a:hover img, #right_sidebar .gptp_right_rail ul li a:link:hover img, #right_sidebar .gptp_right_rail ul li a:visited:hover img {
        opacity: 100; }
  #right_sidebar .gptp_right_rail .links {
    font-size: 11px;
    line-height: 11px; }
    #right_sidebar .gptp_right_rail .links a, #right_sidebar .gptp_right_rail .links .fake_link {
      text-decoration: underline; }
    #right_sidebar .gptp_right_rail .links .arrow {
      color: #ff9000; }
    #right_sidebar .gptp_right_rail .links .learn_link {
      float: left; }
    #right_sidebar .gptp_right_rail .links .meet_link {
      float: right; }
  #right_sidebar .gptp_right_rail .buttons {
    width: 217px;
    margin: 8px 0 0;
    padding: 8px 0 0;
    border-top: 1px solid #8ea8b5; }
    #right_sidebar .gptp_right_rail .buttons a, #right_sidebar .gptp_right_rail .buttons a:link, #right_sidebar .gptp_right_rail .buttons a:visited {
      display: block;
      position: relative;
      float: left;
      height: 46px;
      margin-top: 2px;
      background-image: url(/assets/common/right_colmun_sprite-b6600341c6410c89695fca7a61add8c8.png); }
      #right_sidebar .gptp_right_rail .buttons a.writer, #right_sidebar .gptp_right_rail .buttons a:link.writer, #right_sidebar .gptp_right_rail .buttons a:visited.writer {
        left: -2px;
        width: 85px;
        background-position: -1px -422px; }
        #right_sidebar .gptp_right_rail .buttons a.writer:hover, #right_sidebar .gptp_right_rail .buttons a:link.writer:hover, #right_sidebar .gptp_right_rail .buttons a:visited.writer:hover {
          background-position: -1px -476px; }
      #right_sidebar .gptp_right_rail .buttons a.photographer, #right_sidebar .gptp_right_rail .buttons a:link.photographer, #right_sidebar .gptp_right_rail .buttons a:visited.photographer {
        right: -3px;
        width: 132px;
        background-position: -88px -422px; }
        #right_sidebar .gptp_right_rail .buttons a.photographer:hover, #right_sidebar .gptp_right_rail .buttons a:link.photographer:hover, #right_sidebar .gptp_right_rail .buttons a:visited.photographer:hover {
          background-position: -88px -476px; }
  #right_sidebar .missing_venue_event,
  #right_sidebar .share_btn,
  #right_sidebar .subscribe_btn,
  #right_sidebar .follow_btns,
  #right_sidebar .ad {
    cursor: pointer;
    background-image: url(/assets/common/right_colmun_sprite-b6600341c6410c89695fca7a61add8c8.png);
    background-repeat: no-repeat; }
  #right_sidebar #right_rail_simple_share {
    position: absolute;
    top: -60px;
    left: -9px; }
  #right_sidebar .missing_venue_event {
    position: relative;
    right: -1px;
    width: 243px;
    height: 148px;
    background-position: -294px -233px; }
  #right_sidebar .share_btn,
  #right_sidebar .subscribe_btn,
  #right_sidebar .follow_btns {
    position: relative;
    right: 0;
    width: 243px;
    height: 44px;
    margin: 0 0 3px; }
  #right_sidebar .share_btn {
    background-position: -291px -52px; }
  #right_sidebar .subscribe_btn {
    background-position: -291px -102px; }
  #right_sidebar .follow_btns {
    background-position: -291px -152px;
    cursor: default !important; }
    #right_sidebar .follow_btns a {
      display: block;
      position: absolute;
      top: 7px;
      width: 32px;
      height: 32px;
      margin: 0; }
      #right_sidebar .follow_btns a img {
        width: 32px;
        height: 32px; }
    #right_sidebar .follow_btns .gig-followbar-providerButton {
      right: 41px; }
    #right_sidebar .follow_btns .gig-followbar-providerButton-last {
      right: 5px; }
  #right_sidebar .ad {
    width: 240px;
    height: 400px;
    background-position: 0 0; }
/*

*/
#left_container h1 {
  float: left;
  font-size: 22px;
  font-weight: bold; }
  #left_container h1 span {
    color: #ccc;
    font-size: 24px; }

/*STEP BLOCKS*/
.store_content .step_block {
  margin: 0 118px 0 0; }
  .store_content .step_block h2 {
    padding: 0 0 3px;
    color: #ccc;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    text-decoration: none; }
  .store_content .step_block h3 {
    color: #ccc; }
  .store_content .step_block.selected h2, .store_content .step_block.selected h3 {
    color: #09f; }

.store_content .section_divider.dashed_line {
  margin: 12px 0;
  height: 1px !important; }

#store_info .strike_text {
  text-decoration: line-through; }

#store_info .red_text {
  color: #cc0000; }

#store_info .store_action_btns {
  bottom: 13px;
  position: absolute;
  right: 17px; }

#store_info .store_action_btns .read_more_txt_link_left {
  margin: 6px 0 0; }

#store_info .store_action_btns fieldset {
  float: left; }

#store_info .large_text {
  font-size: 14px; }

.store_action_btns a,
.store_action_btns input {
  float: left;
  margin: 0 0 0 20px; }

.store_action_btns a.blue_btn {
  color: #fff; }

#store_info .dashed_line {
  height: 1px;
  border-top: 1px dashed #dedcdc; }

#store_info .no_padd .dashed_line {
  margin: 8px 0 0; }

.store_content .no_padd {
  padding: 0 !important; }

.right_align_text {
  text-align: right; }

.center_align_text {
  text-align: center; }

.left_align_text {
  text-align: left; }

.store_content .shipping_message {
  margin: 0 0 6px;
  color: #999; }

/*FOR CREDIT CARD LOGOS*/
.store_content .visa_logo,
.store_content .mastercard_logo {
  background-image: url(/assets/store/store_btns_sprite-c97e8c12bb92fc1ebe0c246ee5fd7382.png);
  display: inline-block;
  vertical-align: top;
  /*FOR IE7*/
  *display: inline;
  zoom: 1; }

.store_content .visa_logo {
  background-position: 0 -280px;
  width: 34px;
  height: 12px; }

.store_content .mastercard_logo {
  background-position: -34px -280px;
  width: 27px;
  height: 16px; }

/*BEGIN LEFT COLUMN*/
#store_info {
  min-height: 360px;
  position: relative; }

/*FOR PRODUCT TABLE*/
#store_info .product_img {
  padding: 0 15px 0 0;
  width: 69px; }

#store_info .product_img img {
  width: 69px;
  height: 121px; }

.store_content .product_table {
  width: 100%;
  font-size: 14px; }

#store_info .product_table .column_title {
  background: none repeat scroll 0 0 #E6E6E6;
  border-right: 4px solid #FFFFFF;
  color: #000000;
  height: 20px;
  padding: 1px 10px; }

.store_content .product_table td {
  border-right: 4px solid #FFFFFF;
  padding: 6px 10px 0;
  vertical-align: top; }

#store_info .product_table .first_td {
  padding-bottom: 6px;
  padding-left: 0; }

#store_info .gray_row {
  background: none repeat scroll 0 0 #E6E6E6; }

#store_info .product_table .gray_row,
#store_info .product_table .gray_row td {
  border-right: 0; }
/* FOR QUANTITY COLUMN */
.quantity .input_wrapper {
  width: 52px; }

#store_info .quantity .update_link {
  width: 58px;
  text-align: center;
  background: none; }

/* FOR GRAY ROW */
.cart_page .gray_row {
  padding: 2px 0 0; }
.cart_page .gray_row .blue_text {
  display: block;
  padding: 6px 0 0; }

/*FOR PROMO CODE SECTION*/
.promo_code {
  height: 30px;
  position: relative;
  /*DISPLAY COUPON CODE*/ }
  .promo_code .label {
    display: inline-block;
    margin: 5px 7px 0 0; }
  .promo_code .input_wrapper {
    width: 100px;
    margin: 0 6px 0 0; }
  .promo_code .submit_btn {
    position: absolute;
    top: 0;
    left: 191px; }
  .promo_code .display_coupon {
    margin: 5px 0 0;
    padding: 0 5px;
    background-color: #a5d5f5; }
    .promo_code .display_coupon .coupon_code {
      display: inline-block;
      width: 110px;
      margin: 0 10px 0 0; }
    .promo_code .display_coupon .edit_code {
      color: #666;
      font-size: 11px;
      cursor: pointer; }
/*TOOLTIP PROPERTIES*/

#error_message {
  color: #000000;
  font-family: 'PT Sans',arial,sans-serif;
  font-size: 13px;
  left: 8px;
  line-height: 18px;
  position: absolute;
  top: 42px;
  width: 260px;
  z-index: 2000;
}

#error_message .tooltip_sprite {
  background-image:url("/assets/error/tooltip_sprite-7cd4385479237f19e29a0eb99d8a52fc.png");
}

#error_message table td {
  padding:0;
}

#error_message .tip_header_row {
  height: 10px;
  position: static;
}

#error_message .tip_header_row .tip_left_corner {
  background-position:0 0;
  width:10px;
  height:10px;
  display:block;
}

#error_message .tip_header_row .tip_mid_section {
  background:url("/assets/error/tooltip_header_midsection_repeat-bc996adf7c2920d3ec1947135f8004cc.png") 0 -1px repeat-x;
  height:10px;
  position:relative;
}

#error_message .tip_header_row .tip_mid_section .tooltip_arrow {
  background-position:0 -27px;
  height: 14px;
  left: 116px;
  position: absolute;
  top: -7px;
  width: 14px;

  *left:110px; /*For IE7*/
}

#error_message .tip_header_row .tip_right_corner {
  background-position:-11px 0;
  width:17px;
  height:10px;
  display:block;
  position: static;
}

#error_message .tip_content_container {

}

#error_message .tip_content_container .tip_left_side {
  background:url("/assets/error/tooltip_left_side_repeat-187ce8908b45c5acae87d47624074611.png") -1px 0 repeat-y;
  width:10px;
  position: relative;
}

#error_message .tip_content_container .tip_content {
  background-color:#FFFFFF;
  padding:4px 4px 8px 8px;
  cursor: default;
  width:220px;
  font-weight: normal;
  white-space: normal;
}

#error_message .tip_content_container .tip_content p {
  padding:0;
}

/*#error_message .tip_content_container .tip_content .tip_close_btn {
  background-position:0 -41px;
  width:16px;
  height:16px;
  float:right;
  cursor:pointer;
  position: static;
}

#error_message .tip_content_container .tip_content .tip_close_btn:hover {
  background-position:-16px -41px;
}*/

#error_message .tip_content_container .tip_right_side {
  background:url("/assets/error/tooltip_right_side_repeat-4a82edc353d124d8874cf768e766e279.png") 0 0 repeat-y;
  width:17px;
}

#error_message .tip_footer_row {

}

#error_message .tip_footer_row .tip_left_corner {
  background-position:0 -11px;
  width:10px;
  height:16px;
  display:block;
}

#error_message .tip_footer_row .tip_mid_section {
  background:url("/assets/error/tooltip_footer_midsection_repeat-9169844399b087bcd18f5e100a44f22a.png") 0 0 repeat-x;
  height:16px;
}

#error_message .tip_footer_row .tip_right_corner {
  background-position:-11px -11px;
  width:17px;
  height:16px;
  display:block;
  position: static;
}
.input_wrapper {
  background: url(/assets/content_bg/input_sprite-dbdd47cbeb8bd89df3f53b6b6e860ecf.png) 100% -29px no-repeat;
  padding: 0 6px 0 0;
  display: inline-block;
  /*FOR IE7*/
  *display: inline;
  zoom: 1;
  z-index: 0; }

.input_wrapper .input_inner_wrapper {
  background: url(/assets/content_bg/input_sprite-dbdd47cbeb8bd89df3f53b6b6e860ecf.png) 0 0 no-repeat;
  min-height: 21px;
  padding: 4px 2px 4px 8px; }

.input_wrapper .input_inner_wrapper input {
  background: none;
  width: 100%;
  font-family: 'PT Sans',arial,sans-serif; }
/*





*/
