.spinnable {
  background-color: #f9f9f9;
  padding: 15px; }

.close {
  color: #CCC;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 5px; }
  .close:hover {
    color: #adc0c9;
    cursor: pointer; }

.error_msg {
  color: red;
  font-size: 11px; }

.error_msg_block {
  display: block;
  color: red;
  font-size: 11px;
  padding-bottom: 1px; }
.TitleContainer {
  background: url(/assets/content_bg/dropdown_extra_sprite.png) no-repeat scroll 100% -116px transparent;
  padding: 0 29px 0 0; }

.TitleContainer:hover {
  background: url(/assets/content_bg/dropdown_extra_sprite.png) no-repeat scroll 100% -145px transparent; }

.TitleContainer.Opened {
  background-position: 100% -58px; }

.TitleContainer.Opened:hover {
  background-position: 100% -87px; }

.TitleContainer .Title {
  background: url(/assets/content_bg/dropdown_extra_sprite.png) no-repeat scroll 0 0 transparent;
  height: 19px;
  line-height: 20px;
  overflow: hidden;
  padding: 4px 10px; }

.TitleContainer.Opened .Title {
  background-position: 0 -29px; }

.TitleContainer .Title.select .unselected {
  color: #999; }

.dropdown_wrapper {
  cursor: pointer;
  display: inline-block;
  /*FOR IE7*/
  *display: inline;
  zoom: 1; }
  .dropdown_wrapper .dropdown {
    position: absolute;
    z-index: 3001; }
  .dropdown_wrapper .choices_wrapper {
    padding: 0 2px 0 0;
    background: url(/assets/content_bg/dropdown_extra_sprite.png) no-repeat scroll 100% -1456px transparent; }
  .dropdown_wrapper .Choices.choices {
    background: url(/assets/content_bg/dropdown_extra_sprite.png) no-repeat scroll 0 -232px transparent; }
  .dropdown_wrapper .Choice.choice {
    margin: 0 0 0 1px;
    padding: 0 10px; }
  .dropdown_wrapper .Choice.choice:hover {
    color: #fff;
    background: #0099ff; }
  .dropdown_wrapper .footer_bottom {
    height: 11px;
    padding: 0 11px 0 0;
    background: url(/assets/content_bg/dropdown_extra_sprite.png) no-repeat scroll 100% -2654px transparent; }
  .dropdown_wrapper .footer_bottom .footer_right {
    height: 11px;
    background: url(/assets/content_bg/dropdown_extra_sprite.png) no-repeat scroll 0 -1443px transparent; }

.month_dropdown .choices_wrapper {
  width: 93px; }

.day_dropdown .choices_wrapper {
  width: 70px; }

.year_dropdown .choices_wrapper {
  width: 73px; }

.month_dropdown .Title {
  width: 46px; }
/* NEW LOGIN FORM STYLES
------------------------------------
:: Forms were updated from table to table-less structure so new styles had to be introduced.
:: We should update all forms on the site and then consider moving following CSS styles to general form stylesheet.
:: I'm currently using ID's to restrict the styles to only the new forms. But when we update all forms this would most likely change.
------------------------------------*/
#login_area {
  position: relative;
  text-align: center; }

h1 {
  margin: 0 0 10px;
  color: #09f;
  font-size: 24px;
  font-weight: bold;
  line-height: 27px; }
  h1 span {
    color: #d9d9d9;
    font-size: 20px; }

h2, p {
  margin: 0 0 10px;
  padding: 0;
  color: #637e8d;
  font-size: 15px; }

p {
  font-size: 12px; }

p.or {
  position: absolute;
  top: 176px;
  left: 332px;
  z-index: 100;
  width: 64px;
  height: 64px;
  margin: 0;
  text-indent: -9999px;
  background-image: url(/assets/content_bg/application_sprite.png);
  background-position: -515px -419px; }

fieldset ol {
  padding: 0 0 0 75px; }
  fieldset ol ol {
    padding: 0; }
fieldset li {
  position: relative;
  float: left;
  width: 100%;
  text-align: left;
  margin: 0 0 14px; }
  fieldset li:last-child {
    margin-bottom: 0; }
  fieldset li.note {
    width: auto;
    padding: 0 20px 0 167px;
    font-size: 12px; }
fieldset label {
  display: block;
  float: left;
  width: 150px;
  margin-right: 15px !important;
  padding: 3px 0 0;
  text-align: right;
  line-height: 18px; }
fieldset input, fieldset select, fieldset textarea {
  float: left;
  width: 264px;
  margin: 0;
  padding: 5px;
  font-size: 13px;
  line-height: 13px;
  background-color: #fff;
  border: 1px solid #c4c3c3;
  border-radius: 3px;
  -moz-box-shadow: inset 1px 1px 3px #ddd;
  -webkit-box-shadow: inset 1px 1px 3px #ddd;
  box-shadow: inset 1px 1px 3px #ddd; }
fieldset input[type=checkbox], fieldset input[type=radio] {
  width: auto;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
fieldset select {
  width: 276px; }
fieldset textarea {
  height: 85px; }
fieldset .checkbox_group, fieldset .textbox_group, fieldset .text_group {
  float: left;
  width: 276px;
  position: relative; }
  fieldset .checkbox_group li, fieldset .textbox_group li, fieldset .text_group li {
    width: auto;
    margin: 0; }
  fieldset .checkbox_group label, fieldset .textbox_group label, fieldset .text_group label {
    width: auto;
    font-weight: normal;
    text-align: left;
    line-height: 18px; }
  fieldset .checkbox_group input, fieldset .textbox_group input, fieldset .text_group input {
    display: inline-block;
    margin: 0 5px 0 0; }
  fieldset .checkbox_group .choices, fieldset .textbox_group .choices, fieldset .text_group .choices {
    height: auto;
    max-height: auto;
    overflow: visible; }
  fieldset .checkbox_group .inline-errors, fieldset .textbox_group .inline-errors, fieldset .text_group .inline-errors {
    left: 0; }
  fieldset .checkbox_group #user_subscribe_input, fieldset .textbox_group #user_subscribe_input, fieldset .text_group #user_subscribe_input {
    width: 430px; }
    fieldset .checkbox_group #user_subscribe_input label, fieldset .textbox_group #user_subscribe_input label, fieldset .text_group #user_subscribe_input label {
      position: relative;
      padding: 0 0 0 20px; }
      fieldset .checkbox_group #user_subscribe_input label input, fieldset .textbox_group #user_subscribe_input label input, fieldset .text_group #user_subscribe_input label input {
        position: absolute;
        left: 0; }
  fieldset .checkbox_group img, fieldset .textbox_group img, fieldset .text_group img {
    left: 286px; }
fieldset .radio_group legend {
  display: block;
  float: left;
  padding: 3px 0 0;
  text-align: right;
  line-height: 18px; }
fieldset .radio_group ol {
  float: left;
  width: 264px;
  margin: 0;
  padding: 7px 0 0; }
  fieldset .radio_group ol li {
    display: inline-block;
    width: auto;
    margin: 0 5px 0 0;
    font-size: 13px;
    line-height: 13px; }
  fieldset .radio_group ol label, fieldset .radio_group ol input {
    display: inline;
    width: auto;
    float: none;
    margin: 0; }
  fieldset .radio_group ol input {
    display: inline-block;
    margin: 0 2px 0 0; }
fieldset .textbox_group, fieldset .text_group {
  padding: 0 0 0 20px;
  list-style: decimal; }
  fieldset .textbox_group li, fieldset .text_group li {
    float: none; }
  fieldset .textbox_group input, fieldset .text_group input {
    display: inline-block;
    float: none;
    margin: 0 0 5px; }
fieldset .text_group {
  list-style: none; }
fieldset .select_group select {
  float: left;
  width: 88px;
  margin-right: 5px; }
  fieldset .select_group select:last-child {
    margin: 0;
    width: 90px; }
fieldset .multiple_text ol {
  float: left;
  width: 274px; }
fieldset .required abbr {
  color: #0099ff; }
fieldset .inline-errors {
  display: block;
  position: relative;
  left: 167px;
  float: left;
  clear: left;
  width: 247px;
  margin: 5px 0 0 5px;
  padding: 0 0 0 22px;
  color: #666;
  background-image: url(/assets/users/error.png);
  background-repeat: no-repeat; }
fieldset .inline-success, fieldset img {
  display: block;
  position: absolute;
  top: 7px;
  left: 451px; }
fieldset .toggle {
  display: block;
  position: relative;
  left: 167px;
  float: left;
  clear: left;
  margin: 4px 0 0; }
fieldset .choices {
  max-height: 130px;
  overflow: auto; }

/* Additional form links (e.g. Forgot Password?)
 ------------------------------------*/
.add_links a {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #999; }
  .add_links a:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: none; }

/* Old Buttons remove when SZ Updates Forms */
div.actions fieldset, .store_action_btns fieldset {
  float: right; }
  div.actions fieldset li, .store_action_btns fieldset li {
    float: right; }
  div.actions fieldset input, .store_action_btns fieldset input {
    margin-left: 10px; }

.actions p {
  float: left;
  width: 335px;
  margin: 0; }
  .actions p a {
    display: inline;
    margin: 0;
    float: none; }
.actions li {
  float: right;
  width: auto;
  margin: 0 0 0 10px; }
.actions input, .actions object, .actions a, .actions button {
  display: inline-block;
  float: right;
  margin: 0 0 0 10px; }
.actions .previous_step {
  float: left;
  padding: 0 0 0 15px;
  color: #09f;
  line-height: 28px;
  text-decoration: underline;
  background-color: transparent;
  background-image: url(/assets/content_bg/application_sprite.png);
  background-position: -171px -2900px;
  cursor: pointer; }
  .actions .previous_step:hover {
    color: #597686; }

/* General form classes */
.login_box {
  margin: 0 0 10px;
  padding: 18px 10px 18px 25px;
  border-radius: 2px;
  background-color: #f0f0f0;
  background-image: url(/assets/content_bg/login_box.png); }

/* SOCIAL LOGIN STYLES
------------------------------------
:: Styles for the social login icons.
------------------------------------*/
#social_login {
  margin: 0 0 40px; }
  #social_login p {
    margin: 0 0 7px;
    font-size: 15px; }
    #social_login p.other_account {
      font-size: 13px; }
  #social_login .social_icons {
    margin: 0 0 12px; }
    #social_login .social_icons li {
      display: inline-block;
      margin: 0 4px 0 0; }
  #social_login .social_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    box-shadow: 0 1px 3px #696969;
    border-radius: 5px;
    text-indent: -9999px;
    background-image: url(/assets/content_bg/social_login_sprite.png); }
    #social_login .social_icon:hover {
      box-shadow: 0 2px 3px #1c1c1c; }
    #social_login .social_icon.facebook, #social_login .social_icon.facebook_big {
      width: 138px;
      padding: 0 0 0 30px;
      color: #fff;
      text-decoration: none;
      text-indent: 0;
      font-weight: bold; }
      #social_login .social_icon.facebook:hover, #social_login .social_icon.facebook_big:hover {
        text-shadow: 0 0 1px #769cd6; }
    #social_login .social_icon.facebook_big {
      width: 224px;
      height: 50px;
      padding: 0 0 0 60px;
      font-size: 18px;
      font-weight: normal;
      text-align: left;
      line-height: 52px;
      border-radius: 8px; }
  #social_login .facebook_big {
    background-position: 0 0; }
  #social_login .facebook {
    background-position: 0 -52px; }
  #social_login .twitter {
    background-position: -170px -52px; }
  #social_login .google {
    background-position: -196px -52px; }
  #social_login .foursquare {
    background-position: -222px -52px; }
  #social_login .messenger {
    background-position: -248px -52px; }
  #social_login .aol {
    background-position: -274px -52px; }
  #social_login .googleplus {
    background-position: -300px -52px; }
  #social_login .yahoo {
    background-position: -326px -52px; }
  #social_login .facebook_big:hover {
    background-position: -286px 0; }
  #social_login .facebook:hover {
    background-position: 0 -78px; }
  #social_login .twitter:hover {
    background-position: -170px -78px; }
  #social_login .google:hover {
    background-position: -196px -78px; }
  #social_login .foursquare:hover {
    background-position: -222px -78px; }
  #social_login .messenger:hover {
    background-position: -248px -78px; }
  #social_login .aol:hover {
    background-position: -274px -78px; }
  #social_login .googleplus:hover {
    background-position: -300px -78px; }
  #social_login .yahoo:hover {
    background-position: -326px -78px; }
/*



*/
#login_area {
  background-color: #f9f9f9;
  padding: 15px;
  width: 600px; }
  #login_area h1 {
    background-color: #f9f9f9;
    margin-bottom: 0px;
    padding-bottom: 10px;
    text-align: left; }
  #login_area ol {
    padding: 0 0 0 25px; }
  #login_area #user_subscribe_input label {
    width: 260px; }
  #login_area form .terms {
    display: none !important; }
