/*BEGIN READ MORE/READ LESS CSS*/
/*-----------------------------------*/
.read_more .clipped {
  overflow: hidden; }
.read_more p:last-of-type {
  padding-bottom: 0; }
.read_more .more_toggle,
.read_more .less_toggle {
  border-top: 1px solid #dbdada;
  padding-top: 5px; }

.read_more.copy_block_missing_venue_event {
  position: relative; }
  .read_more.copy_block_missing_venue_event .clipped {
    height: 71px; }
  .read_more.copy_block_missing_venue_event .more_toggle {
    position: absolute;
    bottom: 2px;
    right: 0;
    padding: 0;
    background: #fff;
    border: none; }
    .read_more.copy_block_missing_venue_event .more_toggle span {
      text-decoration: underline; }
  .read_more.copy_block_missing_venue_event .less_toggle {
    margin-top: 7px; }
    .read_more.copy_block_missing_venue_event .less_toggle span {
      text-decoration: underline; }

.read_more_left {
  position: relative;
  float: left; }

.overview_copy_block .clipped {
  height: 110px; }
.overview_copy_block .more_toggle,
.overview_copy_block .less_toggle {
  margin-top: 7px; }

.read_more.pull_down .more_toggle,
.read_more.pull_down .less_toggle {
  background: url("/assets/content_bg/readmore_clipped_sprite-5e5a513e77bf8a9a73302da4570d7ce1.png") 0 0 repeat-x transparent;
  margin-top: -6px !important;
  border: none;
  text-align: center;
  padding: 0 0 17px;
  height: 19px;
  position: relative; }
.read_more.pull_down .fake-link {
  background: url("/assets/content_bg/readmore_clipped_sprite-5e5a513e77bf8a9a73302da4570d7ce1.png") 0 -43px no-repeat transparent;
  display: inline-block;
  font-size: 10px;
  width: 89px;
  height: 17px;
  position: relative;
  top: 12px;
  line-height: 10px;
  text-decoration: underline; }
.read_more.pull_down .blue_text.arrow,
.read_more.pull_down .blue-text.arrow {
  display: none; }
/*

*/
.copy_block_missing_venue_event .clipped p {
  padding: 0; }
.copy_block_missing_venue_event p {
  line-height: 17px; }
.copy_block_missing_venue_event .desc {
  width: 334px; }
.copy_block_missing_venue_event .missing_image {
  text-indent: -9999px;
  width: 344px;
  height: 62px;
  cursor: pointer; }

.missing_restaurant .copy_block_missing_venue_event .missing_image {
  background: url(/assets/landing_pages/missing_restaurant-d0b91054c20ca79305acf7b678761925.gif) 0 0 no-repeat transparent; }

.missing_something .inner_divider.dashed {
  height: 12px; }
.missing_something .copy_block_missing_venue_event .missing_image {
  background: url(/assets/landing_pages/missing_something-900a3f5aeed6630aba272118077ea27f.gif) 0 0 no-repeat transparent; }

.missing_bar_club .copy_block_missing_venue_event .missing_image {
  background: url(/assets/landing_pages/missing_bar_club-1c74868ef151b4b582736782556fcd3f.gif) 0 0 no-repeat transparent; }

.missing_event .copy_block_missing_venue_event .missing_image {
  background: url(/assets/landing_pages/missing_event-13d60f943427d736fb9aab72305638b3.gif) 0 0 no-repeat transparent; }

.missing_entertainer .copy_block_missing_venue_event .missing_image {
  background: url(/assets/landing_pages/missing_entertainer-86882b3f5751b571b704467ee45c7ed2.gif) 0 0 no-repeat transparent; }

.missing_sports .copy_block_missing_venue_event .missing_image {
  background: url(/assets/landing_pages/missing_sports-fc49f6437808a394fac993cd0dd86d05.gif) 0 0 no-repeat transparent; }
