.city_map .overlay #neighborhood .dropdown {
  bottom: 40px; }

.city_map .overlay input.styled {
  display: none; }

.city_map .overlay #location .location_input {
  margin: 0 3px 0 0; }

.city_map .overlay #venue_types_wrapper #action_btns {
  bottom: 7px; }
