.floater {
  position: relative; }

.floater.outside {
  position: absolute;
  top: 0;
  z-index: 1000; }

.floater.fixed {
  position: fixed;
  top: 0; }

.floater.inside {
  position: static !important; }

.floater.inside .animation_wrapper {
  height: auto !important; }

/* Styles for social media Buttons when inside */
.social_media_btns {
  position: relative;
  margin: 9px 0;
  padding: 0 0 8px;
  background-color: #fff;
  border-bottom: 1px dashed #adc0c9; }
  .social_media_btns .total_count {
    display: none; }
  .social_media_btns td {
    min-width: 65px; }
  .social_media_btns td td {
    min-width: 0; }

/* Styles for social media Buttons when inside */
.outside .social_media_btns {
  position: absolute;
  top: 0;
  left: -70px;
  width: 30px;
  margin: 0;
  padding: 6px 9px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 5px #999;
  overflow: hidden; }
  .outside .social_media_btns .animation_wrapper {
    width: 300px;
    position: relative;
    right: 270px; }
    .outside .social_media_btns .animation_wrapper .total_count {
      display: block;
      width: 22px;
      height: 14px;
      color: white;
      padding: 9px 4px 4px;
      font-size: 11px;
      text-align: center; }
    .outside .social_media_btns .animation_wrapper .default_view {
      float: right;
      width: 30px;
      height: 128px;
      margin: 0 0 0 10px;
      background-image: url(/assets/content_bg/application_sprite-0758091485eaa855b14f0f07e919d9bb.png);
      background-position: -337px -364px;
      background-repeat: no-repeat;
      cursor: pointer; }
    .outside .social_media_btns .animation_wrapper .button_view {
      float: right;
      width: 108px; }
      .outside .social_media_btns .animation_wrapper .button_view .share_title {
        margin: 2px 3px 8px;
        color: #8EA8B5;
        font-size: 11px;
        line-height: 12px; }

/* GIGYA BUTTON STYLES
--------------------------------------
:: Styles for the width and position of the Gigya buttons..
-------------------------------------------------------- */
.gig-button-container {
  margin: 0 5px 0 0 !important;
  padding: 0 !important;
  overflow: hidden; }

/* Width of buttons when inside */
.inside .gig-button-container-facebook {
  position: relative;
  top: -1px; }

.inside .gig-button-container-facebook-like {
  width: 45px !important; }

.inside .gig-button-container-twitter-tweet {
  width: 59px !important; }

.inside .gig-button-container-google-plusone {
  width: 32px !important; }

.inside .gig-button-container-share {
  width: 58px !important; }

/* Allows to absolutely position buttons */
.outside .gig-bar-container {
  position: relative; }

/* Prevent default <td> position */
.outside .social_media_btns td {
  display: inline; }

.outside .social_media_btns td td {
  display: table-cell; }

/* Default position for all buttons when outside. */
.outside .gig-button-container-facebook,
.outside .gig-button-container-facebook-like,
.outside .gig-button-container-twitter-tweet,
.outside .gig-button-container-google-plusone,
.outside .gig-button-container-share {
  position: absolute;
  top: 0;
  left: 0; }

/* Specific positions for buttons when outside when outside. */
.outside .gig-button-container-facebook {
  top: 0; }

.outside .gig-button-container-facebook-like {
  top: 27px; }

.outside .gig-button-container-twitter-tweet {
  top: 54px; }

.outside .gig-button-container-google-plusone {
  top: 81px; }

.outside .gig-button-container-share {
  top: 108px; }

.single_photo .outside .gig-button-container-pinterest {
  top: 0; }

.single_photo .outside .gig-button-container-facebook {
  top: 26px; }

.single_photo .outside .gig-button-container-facebook-like {
  top: 52px; }

.single_photo .outside .gig-button-container-twitter-tweet {
  top: 78px; }

.single_photo .outside .gig-button-container-google-plusone {
  top: 104px; }

.single_photo .outside .gig-button-container-share {
  top: 130px; }

.single_photo .outside .gig-button-container-pinterest .gig-counter {
  width: 33px; }

/* Completely override facebook buton */
.social_media_btns .gig-button-container-facebook .gig-button-td div {
  height: 18px;
  width: 57px;
  background-image: url(/assets/content_bg/application_sprite-0758091485eaa855b14f0f07e919d9bb.png);
  background-position: -386px -428px;
  cursor: pointer; }
  .social_media_btns .gig-button-container-facebook .gig-button-td div * {
    display: none; }
  .social_media_btns .gig-button-container-facebook .gig-button-td div:hover {
    background-position: -386px -448px; }

/* Styles for Gigya Share Popup */
.gig-simpleShare.fixed {
  position: fixed !important;
  top: 145px !important; }

/* FLOATER COMMENT STYLES
--------------------------------------
:: Styles for the comment box on the left rail floater.
-------------------------------------------------------- */
.floater_comments {
  display: none;
  /* Not displayed by default */
  position: absolute;
  top: 144px;
  left: -70px;
  width: 48px;
  padding: 4px 0;
  color: #999;
  font-family: 'Arial', sans-serif;
  font-size: 7px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px #999; }
  .floater_comments:hover {
    cursor: pointer; }
  .floater_comments:hover .comment_label {
    color: #597686; }
  .floater_comments .comment_count, .floater_comments .comment_label {
    display: block; }
  .floater_comments .comment_count {
    color: #0099ff;
    font-size: 16px;
    font-weight: bold;
    text-transform: none; }
  .floater_comments .comment_label {
    line-height: 120%; }
  .floater_comments .tip {
    position: absolute;
    right: 0;
    bottom: -17px;
    width: 54px;
    height: 17px;
    background-image: url(/assets/content_bg/application_sprite-0758091485eaa855b14f0f07e919d9bb.png);
    background-position: -387px -510px; }

.outside .floater_comments {
  display: block; }

/* Fix for gigya follow bar whenever there is a left rail social bar present */
.gig-followbar-dialog-nub,
.gig-followbar-dialog {
  position: fixed !important;
  top: auto !important; }

.gig-followbar-dialog-nub {
  bottom: 22px !important;
  background-image: url("http://cdn.gigya.com/gs/i/followbar/Nub_bottom.png") !important; }

.gig-followbar-dialog {
  bottom: 34px !important; }
/*






*/
/*BEGIN GENERAL PAGE PROPERTIES*/
/*-------------------------------------------------------------------------*/
.left_column {
  width: 735px; }

.photo_gallery_content .bread_crumb .separator {
  padding: 0 7px; }

.photo_gallery_content .headline {
  margin: 6px 0 11px;
  line-height: 24px; }
  .photo_gallery_content .headline .grey_text {
    color: #ccc;
    font-size: 18px; }
  .photo_gallery_content .headline .second_line {
    font-size: 16px;
    font-weight: bold;
    color: #6c8898; }

/*BEGIN PHOTO GALLERY CONTENT PROPERTIES*/
/*-------------------------------------------------------------------------*/
.photo_content {
  padding: 12px 0 0 12px;
  background-image: url(/assets/content_bg/grey_stripes_repeat-cf3bc21904c8cc8670f9ffff316802f5.gif); }

.photo_grid {
  padding: 4px 4px 0; }
  .photo_grid li {
    float: left;
    margin: 0 3px 3px 0;
    border: 3px solid #fff; }
    .photo_grid li.fourth {
      margin-right: 0; }
  .photo_grid a {
    display: block; }
  .photo_grid img {
    display: block;
    width: 165px;
    height: 110px; }

.photo_gallery_content .see_more_btn {
  background: url(/assets/photos/photo_gallery_sprite-1a79d273db536d4c0efcce41e9953abb.png) 0 0 no-repeat transparent;
  margin: 0 auto;
  display: block;
  width: 202px;
  height: 36px;
  text-indent: -9999px; }

.photo_gallery_content .see_more_btn:hover {
  background-position: 0 -36px; }

/*BEGIN RIGHT COLUMN*/
/*------------------------------------------------*/
.right_column {
  width: 240px; }
/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
.latest_reviews.pod_rounded {
  margin: 0 0 12px;
  padding: 13px 14px; }
  .latest_reviews.pod_rounded .title {
    color: #09F;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 6px; }
  .latest_reviews.pod_rounded .headline.sub_headline {
    display: block;
    text-decoration: underline;
    margin: 0 0 7px;
    font-size: 21px;
    line-height: 22px;
    color: #375363; }
  .latest_reviews.pod_rounded .headline.sub_headline:hover {
    color: #000; }
  .latest_reviews.pod_rounded .venue_type.top {
    padding: 0;
    margin: 0 0 6px; }
  .latest_reviews.pod_rounded .object_photo {
    display: block;
    margin: 0 0 5px;
    border: 1px solid #ADC0C9; }
    .latest_reviews.pod_rounded .object_photo img {
      display: block;
      width: 210px;
      height: 140px; }
  .latest_reviews.pod_rounded .quick_nav_links {
    border-bottom: 1px dashed #ADC0C9;
    padding: 0 0 8px;
    margin: 0 0 8px; }
  .latest_reviews.pod_rounded .date {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    color: #8EA8B5; }
  .latest_reviews.pod_rounded .desc {
    position: relative;
    height: 106px;
    overflow: hidden; }
    .latest_reviews.pod_rounded .desc .ellipses_dots {
      font-size: 12px;
      line-height: 15px;
      background: #fff;
      position: absolute;
      right: 0;
      bottom: -1px;
      max-width: 334px;
      height: 15px;
      overflow: hidden; }
  .latest_reviews.pod_rounded .other_venues {
    border-top: 1px solid #ADC0C9;
    margin: 10px 0 0 0;
    padding: 6px 0 0 0; }
    .latest_reviews.pod_rounded .other_venues .venue_item {
      padding: 0 0 1px;
      margin: 0 0 5px;
      border-bottom: 1px dashed #ADC0C9; }
      .latest_reviews.pod_rounded .other_venues .venue_item .venue_type {
        text-transform: none;
        display: block;
        margin-top: -2px; }
    .latest_reviews.pod_rounded .other_venues .venue_item:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0; }
/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
.new_photo_galleries {
  margin: 0 0 12px;
  padding: 13px 15px; }
  .new_photo_galleries .title {
    margin: 0 0 7px;
    color: #09F;
    font-size: 15px;
    font-weight: bold; }
  .new_photo_galleries .photo_item {
    width: 100px;
    margin: 0 10px 8px 0;
    padding: 11px 0 0;
    line-height: 15px;
    border-top: 1px dashed #ADC0C9; }
    .new_photo_galleries .photo_item .object_photo {
      display: block;
      margin: 0 0 3px;
      border: 1px solid #ADC0C9; }
      .new_photo_galleries .photo_item .object_photo img {
        display: block;
        width: 98px;
        height: 65px; }
  .new_photo_galleries .photo_item.last {
    margin-right: 0; }
  .new_photo_galleries .photo_item.bottom {
    margin-bottom: 0; }
/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
.upcoming_events.pod_rounded {
  margin: 0 0 12px;
  padding: 13px 14px; }
  .upcoming_events.pod_rounded .title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
    color: #375363;
    border-bottom: 1px dashed #ADC0C9;
    padding: 0 0 7px;
    margin: 0 0 12px; }
  .upcoming_events.pod_rounded .object_photo {
    display: block;
    margin: 0 0 8px;
    border: 1px solid #ADC0C9; }
    .upcoming_events.pod_rounded .object_photo img {
      display: block;
      width: 210px;
      height: 140px; }
  .upcoming_events.pod_rounded .img_name {
    padding: 0 0 6px;
    margin: 0 0 8px;
    border-bottom: 1px solid #dae4e9;
    text-transform: uppercase;
    font-size: 10px;
    color: #09f;
    line-height: 10px;
    vertical-align: top;
    height: 10px; }
    .upcoming_events.pod_rounded .img_name a {
      display: inline-block;
      border-left: 1px solid #e4ebef;
      height: 10px;
      overflow: hidden;
      width: 160px;
      text-transform: none;
      padding: 0 0 0 6px;
      margin: 0 0 0 4px;
      text-decoration: none; }
  .upcoming_events.pod_rounded .object_item {
    border-bottom: 1px dashed #ADC0C9;
    padding: 0 0 8px;
    margin: 0 0 8px;
    position: relative; }
    .upcoming_events.pod_rounded .object_item .point {
      display: none;
      position: absolute;
      top: 10px;
      left: -15px;
      border-top: 7px solid transparent;
      border-left: 7px solid #09f;
      border-right: 7px solid transparent;
      border-bottom: 7px solid transparent; }
    .upcoming_events.pod_rounded .object_item .date_block {
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#eff2f4), to(#d5dbe0));
      background: -moz-linear-gradient(top, #eff2f4, #d5dbe0);
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
      width: 28px;
      margin: 0 10px 0 0;
      text-align: center;
      border-left: 1px solid #E0E4E7;
      border-right: 1px solid #E0E4E7;
      border-radius: 2px 2px 2px 2px;
      color: #09f;
      text-shadow: 1px 1px 1px #fff;
      font-family: Arial, sans-serif; }
      .upcoming_events.pod_rounded .object_item .date_block .month {
        font-size: 8px;
        line-height: 4px;
        padding: 5px 0 2px;
        font-weight: bold;
        text-transform: uppercase; }
      .upcoming_events.pod_rounded .object_item .date_block .day {
        font-size: 18px;
        padding: 0 0 5px;
        border-bottom: 1px solid #B4BABE; }
    .upcoming_events.pod_rounded .object_item .name_and_type {
      width: 168px; }
      .upcoming_events.pod_rounded .object_item .name_and_type .black_link {
        display: block;
        line-height: 14px;
        margin: 0 0 3px; }
      .upcoming_events.pod_rounded .object_item .name_and_type .venue_type {
        padding: 0;
        margin: 0; }
  .upcoming_events.pod_rounded .object_item:last-of-type {
    border-bottom: 1px solid #ADC0C9; }
  .upcoming_events.pod_rounded .object_item.hovered .point {
    display: block; }
  .upcoming_events.pod_rounded .more_link {
    text-align: right;
    line-height: 10px; }
    .upcoming_events.pod_rounded .more_link .blue_text.arrow {
      color: #ff9000;
      top: 0; }
/* GIGYA COMMENTS
------------------------------------
:: These styles are specifically for the comments which are powered by Gigya..
------------------------------------*/
#gigya_header {
  padding: 0 0 6px;
  border-bottom: 1px dotted #ccc; }
  #gigya_header .large_gray_btn {
    float: right;
    padding: 0 12px; }

#performer_content #gigya_header,
#event_content #gigya_header {
  display: none; }

#gigya_comments h3 {
  margin: 0 0 10px;
  padding: 0 0 10px;
  color: #0099FF;
  font-size: 21px;
  font-weight: bold;
  border-bottom: 1px dashed #ADC0C9; }
#gigya_comments .gig-comments-container {
  width: auto !important; }
#gigya_comments .gig-comments-textarea {
  width: 694px !important; }
#gigya_comments #Comments-postButton a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 30px;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.1em;
  text-shadow: 0px 1px 2px #5BC6F3;
  border: solid #0098FE 1px;
  cursor: pointer;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0098fe), to(#1977ce));
  background: -moz-linear-gradient(top, #0098fe, #1977ce);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#0098fe, endColorStr=#1977ce);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#0098fe, endColorStr=#1977ce);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0px 1px 5px #999;
  -moz-box-shadow: 0px 1px 5px #999; }
#gigya_comments #Comments-postButton a:hover {
  background: #2388f5;
  text-shadow: 0px 0px 12px #fff;
  /*FOR IE*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#2388f5, endColorStr=#2388f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#2388f5, endColorStr=#2388f5); }
#gigya_comments .gig-comments-commentList-header-commentsCount {
  float: left;
  padding: 0; }
#gigya_comments .gig-comments-headerLinks {
  float: right;
  padding: 0; }
#gigya_comments .gig-comments-commentBox-bottom {
  margin-top: 10px; }
#gigya_comments #article_comments_footer a {
  float: right; }

#Comments-commentBox div.gig-comments-headerText {
  padding-top: 0;
  line-height: 100%; }

.comments_link {
  color: #375363;
  display: block;
  float: right;
  position: relative; }
  .comments_link span {
    display: block;
    position: absolute;
    top: -4px;
    left: -35px;
    width: 24px;
    height: 25px;
    padding: 0 0 0 7px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    background-image: url(/assets/content_bg/application_sprite-0758091485eaa855b14f0f07e919d9bb.png);
    background-position: -387px -483px; }

.comments_link:hover {
  color: #000; }
