.floater {
  position: relative; }

.floater.outside {
  position: absolute;
  top: 0;
  z-index: 1000; }

.floater.fixed {
  position: fixed;
  top: 0; }

.floater.inside {
  position: static !important; }

.floater.inside .animation_wrapper {
  height: auto !important; }

/* Styles for social media Buttons when inside */
.social_media_btns {
  position: relative;
  margin: 9px 0 0;
  padding: 9px 0 0;
  background-color: #fff;
  border-top: 1px dashed #adc0c9; }
  .social_media_btns .total_count {
    display: none; }
  .social_media_btns td {
    min-width: 65px; }
  .social_media_btns td td {
    min-width: 0; }
  .social_media_btns .gig-counter .gig-counter-text {
    font-weight: normal !important; }

/* Styles for social media Buttons when inside */
.outside .social_media_btns {
  position: absolute;
  top: 0;
  left: -70px;
  width: 30px;
  margin: 0;
  padding: 6px 9px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 5px #999;
  overflow: hidden; }
  .outside .social_media_btns .animation_wrapper {
    width: 300px;
    position: relative;
    right: 270px; }
    .outside .social_media_btns .animation_wrapper .total_count {
      display: block;
      width: 22px;
      height: 14px;
      color: white;
      padding: 9px 4px 4px;
      font-size: 11px;
      text-align: center; }
    .outside .social_media_btns .animation_wrapper .default_view {
      float: right;
      width: 30px;
      height: 128px;
      margin: 0 0 0 10px;
      background-image: url(/assets/content_bg/application_sprite.png);
      background-position: -337px -364px;
      background-repeat: no-repeat;
      cursor: pointer; }
    .outside .social_media_btns .animation_wrapper .button_view {
      float: right;
      width: 108px; }
      .outside .social_media_btns .animation_wrapper .button_view .share_title {
        margin: 2px 3px 8px;
        color: #8EA8B5;
        font-size: 11px;
        line-height: 12px; }

/* GIGYA BUTTON STYLES
--------------------------------------
:: Styles for the width and position of the Gigya buttons..
-------------------------------------------------------- */
.social_media_btns .gig-button-container {
  margin: 0 5px 0 0 !important;
  padding: 0 !important;
  overflow: hidden; }

/* Width of buttons when inside */
.inside .gig-button-container-facebook {
  position: relative;
  top: -1px; }

.inside .gig-button-container-facebook-like {
  width: 45px !important; }

.inside .gig-button-container-twitter-tweet {
  width: 59px !important; }

.inside .gig-button-container-google-plusone {
  width: 32px !important; }

.inside .gig-button-container-share {
  width: 58px !important; }

/* Allows to absolutely position buttons */
.outside .gig-bar-container {
  position: relative; }

/* Prevent default <td> position */
.outside .social_media_btns td {
  display: inline; }

.outside .social_media_btns td td {
  display: table-cell; }

/* Default position for all buttons when outside. */
.outside .gig-button-container-facebook,
.outside .gig-button-container-facebook-like,
.outside .gig-button-container-twitter-tweet,
.outside .gig-button-container-google-plusone,
.outside .gig-button-container-share {
  position: absolute;
  top: 0;
  left: 0; }

/* Specific positions for buttons when outside when outside. */
.outside .gig-button-container-facebook {
  top: 0; }

.outside .gig-button-container-facebook-like {
  top: 27px; }

.outside .gig-button-container-twitter-tweet {
  top: 54px; }

.outside .gig-button-container-google-plusone {
  top: 81px; }

.outside .gig-button-container-share {
  top: 108px; }

.single_photo .outside .gig-button-container-pinterest {
  top: 0; }

.single_photo .outside .gig-button-container-facebook {
  top: 26px; }

.single_photo .outside .gig-button-container-facebook-like {
  top: 52px; }

.single_photo .outside .gig-button-container-twitter-tweet {
  top: 78px; }

.single_photo .outside .gig-button-container-google-plusone {
  top: 104px; }

.single_photo .outside .gig-button-container-share {
  top: 130px; }

.single_photo .outside .gig-button-container-pinterest .gig-counter {
  width: 33px; }

/* Completely override facebook buton */
.social_media_btns .gig-button-container-facebook .gig-button-td div {
  height: 18px;
  width: 57px;
  background-image: url(/assets/content_bg/application_sprite.png);
  background-position: -386px -428px;
  cursor: pointer; }
  .social_media_btns .gig-button-container-facebook .gig-button-td div * {
    display: none; }
  .social_media_btns .gig-button-container-facebook .gig-button-td div:hover {
    background-position: -386px -448px; }

/* Styles for Gigya Share Popup */
.gig-simpleShare.fixed {
  position: fixed !important;
  top: 145px !important; }

/* FLOATER COMMENT STYLES
--------------------------------------
:: Styles for the comment box on the left rail floater.
-------------------------------------------------------- */
.floater_comments {
  display: none;
  /* Not displayed by default */
  position: absolute;
  top: 144px;
  left: -70px;
  width: 48px;
  padding: 4px 0;
  color: #999;
  font-family: 'Arial', sans-serif;
  font-size: 7px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px #999; }
  .floater_comments:hover {
    cursor: pointer; }
  .floater_comments:hover .comment_label {
    color: #597686; }
  .floater_comments .comment_count, .floater_comments .comment_label {
    display: block; }
  .floater_comments .comment_count {
    color: #0099ff;
    font-size: 16px;
    font-weight: bold;
    text-transform: none; }
  .floater_comments .comment_label {
    line-height: 120%; }
  .floater_comments .tip {
    position: absolute;
    right: 0;
    bottom: -17px;
    width: 54px;
    height: 17px;
    background-image: url(/assets/content_bg/application_sprite.png);
    background-position: -387px -510px; }

.outside .floater_comments {
  display: block; }

/* Fix for gigya follow bar whenever there is a left rail social bar present */
.gig-followbar-dialog-nub,
.gig-followbar-dialog {
  position: fixed !important;
  top: auto !important; }

.gig-followbar-dialog-nub {
  bottom: 22px !important;
  background-image: url("http://cdn.gigya.com/gs/i/followbar/Nub_bottom.png") !important; }

.gig-followbar-dialog {
  bottom: 34px !important; }
/* STYLES FOR RIGHT SIDEBAR
-----------------------------------------------------
:: Styles for the right sidebar and universal elements like pods.
----------------------------------------------------- */
#right_sidebar {
  /* Lists used in Pods. If list needs specific styles override specific attributes in seperate stylesheet..*/
  /* Pod list stripped down with no border/padding etc. */
  /* Pod list with a thumbnail next to each item */
  /* Pod footer used on some pods. Any that goes in the footer should be added here.*/
  /* Little orange arrow mostly used on pod footer after a link. */
  /* tabs on ibiza and pamplona pages */
  /* Styles for Popular Entertainers/DJs */
  /* Styles for the Get Paid To Party pods */ }
  #right_sidebar h3, #right_sidebar .featured .title {
    display: block;
    color: #375363;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin: 0 0 8px;
    padding: 0 0 8px;
    border-bottom: 1px dashed #adc0c9;
    color: #375363; }
    #right_sidebar h3 a, #right_sidebar h3 a:link, #right_sidebar h3 a:visited, #right_sidebar .featured .title a, #right_sidebar .featured .title a:link, #right_sidebar .featured .title a:visited {
      color: #375363;
      text-decoration: underline; }
      #right_sidebar h3 a:hover, #right_sidebar h3 a:link:hover, #right_sidebar h3 a:visited:hover, #right_sidebar .featured .title a:hover, #right_sidebar .featured .title a:link:hover, #right_sidebar .featured .title a:visited:hover {
        color: #000; }
    #right_sidebar h3.small, #right_sidebar .featured .title.small {
      margin: 0 0 6px;
      padding: 0;
      color: #09F;
      font-size: 15px;
      font-weight: bold;
      line-height: 16px;
      border-bottom: 0; }
  #right_sidebar .title {
    margin: 0 0 3px;
    line-height: 15px;
    text-decoration: underline; }
    #right_sidebar .title:hover {
      color: #000; }
  #right_sidebar .desc {
    position: relative;
    overflow: hidden; }
    #right_sidebar .desc a, #right_sidebar .desc a:link, #right_sidebar .desc a:visited {
      color: #09f; }
    #right_sidebar .desc .neighborhood {
      color: #8ea8b5;
      font-size: 10px;
      line-height: 10px;
      text-transform: uppercase; }
  #right_sidebar .thumbnail_link {
    display: block;
    margin: 0 0 8px;
    width: 210px;
    height: 140px;
    border: 1px solid #adc0c9;
    border-radius: 4px;
    overflow: hidden; }
    #right_sidebar .thumbnail_link img {
      display: block;
      width: 210px;
      height: 140px; }
  #right_sidebar .quick_nav_links {
    border-bottom: 1px dashed #ADC0C9;
    padding: 0 0 5px;
    margin: 0 0 5px; }
    #right_sidebar .quick_nav_links a, #right_sidebar .quick_nav_links a:link, #right_sidebar .quick_nav_links a:visited {
      color: #09f; }
      #right_sidebar .quick_nav_links a:hover, #right_sidebar .quick_nav_links a:link:hover, #right_sidebar .quick_nav_links a:visited:hover {
        color: #597686; }
  #right_sidebar .name {
    color: #09f;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase; }
    #right_sidebar .name .date {
      display: block;
      float: left;
      margin: 0 4px 0 0;
      padding: 0 6px 0 0;
      border-right: 1px solid #e4ebef; }
    #right_sidebar .name a {
      display: inline-block;
      width: 160px;
      height: 10px;
      color: #09f;
      text-decoration: none;
      text-transform: none;
      overflow: hidden; }
  #right_sidebar .changer .name {
    height: 10px;
    margin: 0;
    padding: 0 0 6px;
    vertical-align: top;
    border-bottom: 1px solid #dae4e9; }
  #right_sidebar .list .list_item {
    margin: 8px 0 0;
    padding: 8px 0 0;
    border-top: 1px dashed #adc0c9; }
    #right_sidebar .list .list_item.featured {
      margin: 0 0 8px;
      padding: 0 0 8px;
      border-bottom: 1px solid #8ea8b5; }
      #right_sidebar .list .list_item.featured .title {
        margin: 0 0 8px;
        padding: 0;
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        border: none; }
      #right_sidebar .list .list_item.featured .venue_type {
        margin: 0 0 6px; }
    #right_sidebar .list .list_item p {
      padding: 0; }
    #right_sidebar .list .list_item .date {
      color: #09f;
      font-size: 9px;
      line-height: 11px;
      text-transform: uppercase; }
    #right_sidebar .list .list_item .arrow {
      color: #09f; }
    #right_sidebar .list .list_item .venue_type {
      margin: 0;
      padding: 0;
      color: #6C8898; }
      #right_sidebar .list .list_item .venue_type a, #right_sidebar .list .list_item .venue_type a:link, #right_sidebar .list .list_item .venue_type a:visited {
        color: #6C8898; }
        #right_sidebar .list .list_item .venue_type a:hover, #right_sidebar .list .list_item .venue_type a:link:hover, #right_sidebar .list .list_item .venue_type a:visited:hover {
          color: #597686;
          text-decoration: underline; }
    #right_sidebar .list .list_item:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none; }
    #right_sidebar .list .list_item .name a, #right_sidebar .list .list_item .name a:link, #right_sidebar .list .list_item .name a:visited {
      color: #09f; }
      #right_sidebar .list .list_item .name a:hover, #right_sidebar .list .list_item .name a:link:hover, #right_sidebar .list .list_item .name a:visited:hover {
        color: #597686;
        text-decoration: underline; }
  #right_sidebar .list a {
    color: #000; }
    #right_sidebar .list a:hover {
      color: #597686; }
  #right_sidebar .simple_list .list_item {
    margin: 0 0 3px;
    padding: 0;
    border: none; }
    #right_sidebar .simple_list .list_item a, #right_sidebar .simple_list .list_item a:link, #right_sidebar .simple_list .list_item a:visited {
      color: #375363; }
      #right_sidebar .simple_list .list_item a:hover, #right_sidebar .simple_list .list_item a:link:hover, #right_sidebar .simple_list .list_item a:visited:hover {
        color: #000; }
  #right_sidebar .photo_list .thumbnail_link {
    float: left;
    width: 75px;
    height: 50px;
    margin: 0 9px 0 0; }
    #right_sidebar .photo_list .thumbnail_link img {
      width: 75px;
      height: 50px; }
  #right_sidebar .photo_list .details {
    float: left;
    width: 120px; }
    #right_sidebar .photo_list .details .title {
      line-height: 15px;
      margin: 0 0 3px;
      color: #000; }
      #right_sidebar .photo_list .details .title:hover {
        color: #597686; }
  #right_sidebar .pod_footer {
    margin: 5px 0 0;
    padding: 9px 0 0;
    border-top: 1px solid #adc0c9; }
    #right_sidebar .pod_footer a, #right_sidebar .pod_footer a:link, #right_sidebar .pod_footer a:visited, #right_sidebar .pod_footer .fake_link {
      float: right;
      color: #09f;
      text-align: right;
      font-size: 11px;
      line-height: 11px;
      text-decoration: none; }
      #right_sidebar .pod_footer a:hover, #right_sidebar .pod_footer a:link:hover, #right_sidebar .pod_footer a:visited:hover, #right_sidebar .pod_footer .fake_link:hover {
        color: #597686;
        text-decoration: underline; }
      #right_sidebar .pod_footer a span, #right_sidebar .pod_footer a:link span, #right_sidebar .pod_footer a:visited span, #right_sidebar .pod_footer .fake_link span {
        text-decoration: underline; }
        #right_sidebar .pod_footer a span.arrow, #right_sidebar .pod_footer a:link span.arrow, #right_sidebar .pod_footer a:visited span.arrow, #right_sidebar .pod_footer .fake_link span.arrow {
          top: 0;
          color: #ff9000;
          text-decoration: none; }
  #right_sidebar .arrow {
    display: inline-block;
    position: relative;
    width: 6px;
    font-family: "Times New Roman";
    font-size: 17px;
    font-weight: normal;
    line-height: 17px;
    text-indent: -10px;
    overflow: hidden; }
  #right_sidebar .tabs {
    margin-top: 33px; }
    #right_sidebar .tabs:first-child {
      margin-top: 19px; }
  #right_sidebar .popular_entertainers .list li {
    position: relative;
    padding: 0 0 0 10px; }
    #right_sidebar .popular_entertainers .list li .arrow {
      display: none;
      position: absolute;
      left: 0; }
    #right_sidebar .popular_entertainers .list li.selected .arrow {
      display: inline-block; }
  #right_sidebar .gptp_right_rail h3 {
    padding: 0;
    font-weight: normal;
    border: none; }
  #right_sidebar .gptp_right_rail ul li {
    float: left;
    margin: 0 4px 4px 0; }
    #right_sidebar .gptp_right_rail ul li:nth-child(4n) {
      margin-right: 0; }
    #right_sidebar .gptp_right_rail ul li a, #right_sidebar .gptp_right_rail ul li a:link, #right_sidebar .gptp_right_rail ul li a:visited {
      display: block;
      width: 50px;
      height: 50px; }
      #right_sidebar .gptp_right_rail ul li a img, #right_sidebar .gptp_right_rail ul li a:link img, #right_sidebar .gptp_right_rail ul li a:visited img {
        opacity: .85; }
      #right_sidebar .gptp_right_rail ul li a:hover img, #right_sidebar .gptp_right_rail ul li a:link:hover img, #right_sidebar .gptp_right_rail ul li a:visited:hover img {
        opacity: 100; }
  #right_sidebar .gptp_right_rail .links {
    font-size: 11px;
    line-height: 11px; }
    #right_sidebar .gptp_right_rail .links a, #right_sidebar .gptp_right_rail .links .fake_link {
      text-decoration: underline; }
    #right_sidebar .gptp_right_rail .links .arrow {
      color: #ff9000; }
    #right_sidebar .gptp_right_rail .links .learn_link {
      float: left; }
    #right_sidebar .gptp_right_rail .links .meet_link {
      float: right; }
  #right_sidebar .gptp_right_rail .buttons {
    width: 217px;
    margin: 8px 0 0;
    padding: 8px 0 0;
    border-top: 1px solid #8ea8b5; }
    #right_sidebar .gptp_right_rail .buttons a, #right_sidebar .gptp_right_rail .buttons a:link, #right_sidebar .gptp_right_rail .buttons a:visited {
      display: block;
      position: relative;
      float: left;
      height: 46px;
      margin-top: 2px;
      margin-bottom: -6px;
      background-image: url(/assets/common/right_colmun_sprite.png); }
      #right_sidebar .gptp_right_rail .buttons a.writer, #right_sidebar .gptp_right_rail .buttons a:link.writer, #right_sidebar .gptp_right_rail .buttons a:visited.writer {
        left: -2px;
        width: 85px;
        background-position: -1px -422px; }
        #right_sidebar .gptp_right_rail .buttons a.writer:hover, #right_sidebar .gptp_right_rail .buttons a:link.writer:hover, #right_sidebar .gptp_right_rail .buttons a:visited.writer:hover {
          background-position: -1px -476px; }
      #right_sidebar .gptp_right_rail .buttons a.photographer, #right_sidebar .gptp_right_rail .buttons a:link.photographer, #right_sidebar .gptp_right_rail .buttons a:visited.photographer {
        right: -3px;
        width: 132px;
        background-position: -88px -422px; }
        #right_sidebar .gptp_right_rail .buttons a.photographer:hover, #right_sidebar .gptp_right_rail .buttons a:link.photographer:hover, #right_sidebar .gptp_right_rail .buttons a:visited.photographer:hover {
          background-position: -88px -476px; }
  #right_sidebar .missing_venue_event,
  #right_sidebar .share_btn,
  #right_sidebar .subscribe_btn,
  #right_sidebar .follow_btns,
  #right_sidebar .ad {
    cursor: pointer;
    background-image: url(/assets/common/right_colmun_sprite.png);
    background-repeat: no-repeat; }
  #right_sidebar #right_rail_simple_share {
    position: absolute;
    top: -60px;
    left: -9px; }
  #right_sidebar .missing_venue_event {
    position: relative;
    right: -1px;
    width: 243px;
    height: 148px;
    margin: 0 0 12px;
    background-position: -294px -233px; }
  #right_sidebar .share_btn,
  #right_sidebar .subscribe_btn,
  #right_sidebar .follow_btns {
    position: relative;
    right: 0;
    width: 243px;
    height: 44px;
    margin: 0 0 9px; }
  #right_sidebar .share_btn {
    background-position: -291px -52px; }
  #right_sidebar .subscribe_btn {
    background-position: -291px -102px; }
  #right_sidebar .follow_btns {
    background-position: -291px -152px;
    cursor: default !important; }
    #right_sidebar .follow_btns a {
      display: block;
      position: absolute;
      top: 7px;
      width: 32px;
      height: 32px;
      margin: 0; }
      #right_sidebar .follow_btns a img {
        width: 32px;
        height: 32px; }
    #right_sidebar .follow_btns .gig-followbar-providerButton {
      right: 41px; }
    #right_sidebar .follow_btns .gig-followbar-providerButton-last {
      right: 5px; }
  #right_sidebar .ad {
    width: 240px;
    height: 400px;
    background-position: 0 0; }
/* Latest Reviews Sidebar Pod */
#latest_reviews .list .list_item:first-child + .list_item {
  margin-top: 0;
  padding-top: 0;
  border-top: none; }
/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
#photo_pod {
  margin: 0 0 12px;
  padding: 13px 15px; }
  #photo_pod h3 {
    margin: 0 0 7px;
    font-size: 15px; }
  #photo_pod ul {
    list-style: none; }
  #photo_pod li {
    float: left;
    width: 100px;
    margin: 0 10px 8px 0;
    padding: 11px 0 0;
    line-height: 15px;
    border-top: 1px dashed #ADC0C9; }
    #photo_pod li .thumbnail_link {
      margin: 0 0 3px;
      width: 98px;
      height: 65px; }
      #photo_pod li .thumbnail_link img {
        width: 98px;
        height: 65px; }
    #photo_pod li a, #photo_pod li a:link, #photo_pod li a:visited {
      color: #000;
      font-size: 11px;
      line-height: 11px; }
      #photo_pod li a:hover, #photo_pod li a:link:hover, #photo_pod li a:visited:hover {
        color: #597686; }
    #photo_pod li.last {
      margin-right: 0; }
    #photo_pod li.bottom {
      margin-bottom: 0; }
/* Upcoming Events Sidebar Pod */
#upcoming_events .list .list_item {
  position: relative; }
  #upcoming_events .list .list_item:first-child {
    padding-top: 8px; }
  #upcoming_events .list .list_item .point {
    display: none;
    position: absolute;
    top: 18px;
    left: -14px;
    border-top: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #09f; }
  #upcoming_events .list .list_item .date {
    float: left;
    width: 28px;
    margin: 0 10px 0 0;
    color: #09f;
    font-family: Arial, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
    line-height: 18px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eff2f4), to(#d5dbe0));
    background: -moz-linear-gradient(top, #eff2f4, #d5dbe0);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
    border-right: 1px solid #E0E4E7;
    border-left: 1px solid #E0E4E7;
    border-radius: 2px 2px 2px 2px; }
    #upcoming_events .list .list_item .date .month {
      padding: 5px 0 2px;
      font-size: 8px;
      font-weight: bold;
      line-height: 4px;
      text-transform: uppercase; }
    #upcoming_events .list .list_item .date .day {
      padding: 0 0 5px;
      font-size: 18px;
      border-bottom: 1px solid #B4BABE; }
  #upcoming_events .list .list_item .name_and_type {
    float: left;
    width: 168px; }
    #upcoming_events .list .list_item .name_and_type .black_link {
      display: block;
      line-height: 14px;
      margin: 0 0 3px; }
    #upcoming_events .list .list_item .name_and_type .venue_type {
      padding: 0;
      margin: 0; }
  #upcoming_events .list .list_item.selected .point {
    display: block; }
/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
/* The Nivo Slider styles */
.nivoSlider {
  position: relative; }

.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px; }

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none; }

/* The slices and boxes in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%; }

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5; }

/* Caption styles */
.nivo-caption {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #000;
  color: #fff;
  opacity: 0.8;
  /* Overridden by captionOpacity setting */
  width: 100%;
  z-index: 8; }

.nivo-caption p {
  padding: 5px;
  margin: 0; }

.nivo-caption a {
  display: inline !important; }

.nivo-html-caption {
  display: none; }

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  display: block;
  position: absolute;
  top: 50%;
  z-index: 99;
  width: 27px;
  height: 59px;
  margin: -27px 0 0;
  text-indent: -9999px;
  background-image: url(/assets/content_bg/application_sprite.png);
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer; }

/*Default positioning*/
.nivo-prevNav {
  left: 0;
  background-position: -193px -2957px; }
  .nivo-prevNav:hover {
    background-position: -193px -3018px; }

.nivo-nextNav {
  right: 0;
  background-position: -221px -2957px; }
  .nivo-nextNav:hover {
    background-position: -221px -3018px; }

.rounded_corner_wrapper .nivo-prevNav {
  left: -1px; }

.rounded_corner_wrapper .nivo-nextNav {
  right: -1px; }

.slider .nivo-controlNav {
  position: absolute;
  bottom: 11px;
  /* Put the nav below the slider */
  left: 34px;
  z-index: 1000; }

.slider .nivo-controlNav img {
  display: inline;
  /* Unhide the thumbnails */
  position: relative;
  margin-right: 10px;
  cursor: pointer; }
/* GIGYA COMMENTS
------------------------------------
:: These styles are specifically for the comments which are powered by Gigya..
------------------------------------*/
#comments h3 {
  margin: 0 0 10px;
  padding: 0 0 10px;
  color: #0099FF;
  font-size: 21px;
  font-weight: bold;
  border-bottom: 1px dashed #ADC0C9; }
#comments .gig-comments-container {
  width: auto !important;
  /* Top Comment Box */
  /* Comment List Header "0 Comment ----------- RSS | Subscribe */
  /* List of Comments */ }
  #comments .gig-comments-container #Comments-commentBox {
    margin: 10px 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px dashed #adc0c9;
    /* Header Text "Post a new comment" */
    /* Top Comment Box Textarea */ }
    #comments .gig-comments-container #Comments-commentBox #Comments-commentBox {
      margin: 0;
      border: none; }
    #comments .gig-comments-container #Comments-commentBox .gig-comments-headerText {
      padding-top: 0;
      line-height: 100%; }
    #comments .gig-comments-container #Comments-commentBox textarea.gig-comments-commentBox-textarea {
      width: 694px !important; }
  #comments .gig-comments-container .gig-comments-commentList-header {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px dashed #adc0c9; }
    #comments .gig-comments-container .gig-comments-commentList-header .gig-comments-commentList-header-commentsCount {
      margin: 0;
      padding: 0;
      border-bottom: none; }
    #comments .gig-comments-container .gig-comments-commentList-header .gig-comments-headerLinks {
      padding: 0; }
  #comments .gig-comments-container .gig-commentList {
    /* Comment Reply Textarea */ }
    #comments .gig-comments-container .gig-commentList textarea.gig-comments-replyBox-textarea {
      width: 674px !important; }
  #comments .gig-comments-container .gig-comments-commentBox-bottom {
    margin: 10px 0 0;
    padding: 10px 0 0; }
#comments #Comments-postButton a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 30px;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.1em;
  text-shadow: 0px 1px 2px #5BC6F3;
  border: solid #0098FE 1px;
  cursor: pointer;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0098fe), to(#1977ce));
  background: -moz-linear-gradient(top, #0098fe, #1977ce);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#0098fe, endColorStr=#1977ce);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#0098fe, endColorStr=#1977ce);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0px 1px 5px #999;
  -moz-box-shadow: 0px 1px 5px #999; }
  #comments #Comments-postButton a:hover {
    background: #2388f5;
    text-shadow: 0px 0px 12px #fff;
    /*FOR IE*/
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#2388f5, endColorStr=#2388f5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#2388f5, endColorStr=#2388f5); }

/* Comment Link with Comment Count */
.comments_link {
  display: block;
  position: relative;
  float: right;
  color: #375363; }
  .comments_link span {
    display: block;
    position: absolute;
    top: -4px;
    left: -35px;
    width: 24px;
    height: 25px;
    padding: 0 0 0 7px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    background-image: url(/assets/content_bg/application_sprite.png);
    background-position: -387px -483px; }
  .comments_link:hover {
    color: #000; }
/*







*/
/*BEGIN GENERAL PAGE PROPERTIES
-------------------------------------------------------------------------*/
.photo_gallery_content .bread_crumb .separator {
  padding: 0 7px; }

.photo_gallery_content .headline {
  margin: 6px 0 11px;
  line-height: 24px; }
  .photo_gallery_content .headline .grey_text {
    color: #ccc;
    font-size: 18px; }
    .photo_gallery_content .headline .grey_text span {
      color: #ccc; }
  .photo_gallery_content .headline .second_line {
    color: #6c8898;
    font-size: 16px;
    font-weight: bold; }

/* BEGIN PHOTO NAV STYLES
-------------------------------------------------------------------------*/
.photo_nav {
  height: 16px; }
  .photo_nav .prev_btn {
    background: url(/assets/content_bg/application_sprite.png) -30px -203px no-repeat transparent;
    width: 16px;
    height: 16px;
    cursor: pointer; }
    .photo_nav .prev_btn:hover {
      background-position: -30px -219px; }
  .photo_nav .photo_count {
    width: 59px;
    text-align: center;
    position: relative;
    top: -3px; }
  .photo_nav .next_btn {
    background: url(/assets/content_bg/application_sprite.png) -46px -203px no-repeat transparent;
    width: 16px;
    height: 16px;
    cursor: pointer; }
    .photo_nav .next_btn:hover {
      background-position: -46px -219px; }

/* BEGIN PHOTO CONTENT STYLES
-------------------------------------------------------------------------*/
.photo_content {
  padding: 19px 18px 10px;
  background-image: url(/assets/content_bg/grey_stripes_repeat.gif); }

.slider_wrapper {
  width: 660px;
  min-height: 440px;
  margin: 0 0 11px;
  padding: 2px;
  background-color: #fff; }

#photo_gallery .slider, #photo_article .slider {
  width: 660px !important;
  height: 440px !important;
  background-position: center 50% !important; }
#photo_gallery .nivo-slice, #photo_article .nivo-slice {
  background-color: #fff !important;
  background-position: center 50% !important; }
#photo_gallery .slider .nivo-prevNav, #photo_article .slider .nivo-prevNav {
  left: 0; }
#photo_gallery .slider .nivo-nextNav, #photo_article .slider .nivo-nextNav {
  right: 0; }

.slider_wrapper .below_photo_one p {
  padding: 5px 9px;
  font-size: 12px; }

.photo_content .below_photo_two p {
  padding: 9px; }

.under_photo_right {
  width: 245px; }
  .under_photo_right .tags {
    color: #666; }
  .under_photo_right .title {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 45px; }

#wrapper #photo_gallery .slider {
  background-position: left top !important; }

#wrapper #photo_gallery .nivo-slice {
  background-color: transparent !important;
  background-position: left top !important; }

#photo_gallery .outside .social_media_btns .animation_wrapper .default_view {
  background-image: url(/assets/photos/photos_social_default_view_bg.png);
  background-position: 0 3px; }
  #photo_gallery .outside .social_media_btns .animation_wrapper .default_view .total_count {
    display: none; }

.more_photos {
  position: relative;
  width: 670px;
  height: 55px;
  margin: 0 0 11px;
  overflow: visible; }

.photo_scroller_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 670px;
  height: 55px;
  overflow: hidden; }

.photo_scroller_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 150000px;
  height: 55px; }

.photo_row {
  width: 670px; }
  .photo_row a:link, .photo_row a:visited, .photo_row a:hover {
    border: none; }
    .photo_row a:link .thumbnail:first-child, .photo_row a:visited .thumbnail:first-child, .photo_row a:hover .thumbnail:first-child {
      margin-left: 5px; }
  .photo_row .thumbnail {
    float: left;
    width: 75px;
    height: 50px;
    margin: 0 0 0 5px;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer; }
    .photo_row .thumbnail:first-child {
      margin-left: 0; }
    .photo_row .thumbnail.selected {
      border-color: #09f;
      cursor: default; }
    .photo_row .thumbnail.last {
      margin: 0; }
    .photo_row .thumbnail:hover {
      border-color: #0099ff; }

.prev_next_btns {
  border-top: none;
  position: static;
  height: 50px;
  width: 100%; }
  .prev_next_btns .prev_btn,
  .prev_next_btns .next_btn {
    background: url(/assets/content_bg/application_sprite.png) no-repeat transparent;
    width: 24px;
    height: 24px;
    position: absolute;
    text-indent: -9999px;
    padding: 0;
    cursor: pointer;
    top: 15px; }
  .prev_next_btns .prev_btn {
    background-position: -325px -277px;
    left: -32px; }
    .prev_next_btns .prev_btn:hover {
      background-position: -325px -304px; }
  .prev_next_btns .next_btn {
    background-position: -352px -277px;
    right: -34px; }
    .prev_next_btns .next_btn:hover {
      background-position: -352px -304px; }

.img_sections_row {
  height: 21px; }
  .img_sections_row .all_photo_link {
    padding: 5px 4px 0; }

.img_section {
  position: relative;
  margin: 0 3px 0 0; }
  .img_section a, .img_section a:visited {
    text-decoration: none; }
    .img_section a:hover, .img_section a:visited:hover {
      color: #09f; }
  .img_section img {
    display: block;
    background: #adc0c9; }
  .img_section.selected a {
    cursor: default; }
  .img_section.selected img, .img_section:hover img {
    background: #09f; }
  .img_section.selected .section_number, .img_section:hover .section_number {
    text-indent: 0px; }

.section_number {
  display: block;
  width: 100%;
  height: 11px;
  font-size: 9px;
  text-align: center;
  text-indent: -9999px;
  line-height: 9px; }
