.select {
  cursor: pointer;
  background-image: url(/assets/content_bg/search_sprite.png);
  background-color: transparent;
  background-position: 0 -30px;
  font-size: 11px;
  height: 22px;
  padding: 4px 10px;
  width: 197px; }

.Title.select.Opened {
  background-image: url(/assets/content_bg/search_sprite.png);
  background-position: -218px 0px;
  height: 22px;
  padding: 4px 10px;
  width: 197px; }

.Title.select.Closed {
  margin: 0 0 8px; }

.Title.select.Opened {
  margin: 0; }

.unselected {
  color: #ccc; }

.choices {
  background-image: url(/assets/content_bg/dropdown_bg_repeat.png);
  background-position: left top;
  background-repeat: repeat-y;
  padding: 4px 0; }

.choices .choice {
  padding: 0 10px;
  cursor: pointer; }

.choices .choice:hover {
  background-color: #63b0e1;
  color: #fff; }

.dropdown .footer_bottom {
  background-image: url(/assets/content_bg/search_sprite.png);
  background-position: -218px -31px;
  height: 10px;
  margin: 0 0 8px;
  width: 217px; }
