.pod {
  position: relative;
  padding: 5px;
  background-color: #D5D9DC;
  border-radius: 4px;
  box-shadow: 0 0 5px #999; }

h1 {
  height: auto;
  margin: 0 0 10px;
  padding: 11px 16px;
  color: white;
  font-size: 23px;
  line-height: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #006CBA;
  text-transform: capitalize;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0098fe), to(#1a76ce));
  background: -moz-linear-gradient(top, #1a76ce, #0098fe);
  border-radius: 4px;
  box-shadow: 0 1px 1px #efefef; }
  h1 a {
    padding: 9px 17px;
    color: white;
    text-shadow: 1px 1px 0px #1C5479;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1a76ce), to(#0098fe));
    border-radius: 23px;
    border: 1px solid #09F;
    box-shadow: inset 0 0 7px 0 #1C5479; }

.section {
  margin: 0 0 10px;
  padding: 10px;
  background-color: #ebeced;
  border: 1px solid #ccc;
  border-radius: 4px; }

#admin_side {
  float: right;
  width: 240px; }

.form_fields_4col .form_fields li {
  width: 235px; }
.form_fields_4col .form_fields li:nth-child(4n) {
  margin-right: 0; }
.form_fields_4col .form_fields li:nth-child(4n+1) {
  clear: left; }

.form_fields_3col .form_fields li:nth-child(3n) {
  margin-right: 0; }
.form_fields_3col .form_fields li:nth-child(3n+1) {
  clear: left; }

.form_fields_2col .form_fields li {
  width: 476px; }
.form_fields_2col .form_fields li:nth-child(2n) {
  margin-right: 0; }
.form_fields_2col .form_fields li:nth-child(2n+1) {
  clear: left; }

.form_fields_1col .form_fields li {
  width: 100%; }

.form_fields_left {
  float: left;
  width: 637px;
  margin: 0 5px 0 0; }
  .form_fields_left .form_fields li:nth-child(2n) {
    margin-right: 0; }
  .form_fields_left .form_fields li:nth-child(2n+1) {
    clear: left; }

.form_fields_right {
  float: left;
  width: 316px; }

.form_fields {
  margin: 0 0 15px; }
  .form_fields label {
    padding: 0;
    text-shadow: none;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none; }
    .form_fields label .label_note {
      font-size: 10px;
      font-style: italic;
      font-weight: normal;
      line-height: 10px; }
      .form_fields label .label_note em {
        font-weight: bold; }
  .form_fields input[type=text], .form_fields input[type=number], .form_fields select, .form_fields textarea, .form_fields .cke_editor {
    display: block;
    width: 100%;
    padding: 6px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 3px;
    box-shadow: inset 1px 1px 0 #999;
    box-sizing: border-box; }
  .form_fields select {
    height: 29px;
    padding: 0; }
  .form_fields textarea {
    height: 134px; }
  .form_fields li {
    box-sizing: border-box;
    float: left;
    width: 316px;
    margin: 0 5px 5px 0;
    padding: 3px 5px;
    background-color: #e2e2e2;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #999; }
    .form_fields li ol {
      position: relative; }
    .form_fields li li {
      float: none;
      width: auto !important;
      margin: 0;
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      box-shadow: none; }
    .form_fields li label {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      font-family: 'Arial', sans-serif; }
      .form_fields li label.checkbox_label {
        position: absolute;
        top: -18px;
        right: 0;
        margin: 0;
        font-weight: normal;
        font-size: 12px; }
        .form_fields li label.checkbox_label input {
          margin: 0; }
  .form_fields .choices-group .choice,
  .form_fields .choices-group .boolean,
  .form_fields .boolean .choice,
  .form_fields .boolean .boolean,
  .form_fields fieldset.inputs .choice,
  .form_fields fieldset.inputs .boolean {
    display: inline-block;
    width: auto;
    margin: 0 15px 0 0;
    padding: 0; }
  .form_fields .choices-group label,
  .form_fields .boolean label,
  .form_fields fieldset.inputs label {
    font-size: 13px;
    font-weight: normal;
    line-height: 13px; }
  .form_fields .choices-group input,
  .form_fields .boolean input,
  .form_fields fieldset.inputs input {
    display: inline-block;
    position: relative;
    top: 1px;
    width: auto;
    margin: 0 3px 0 0; }
  .form_fields .boolean label,
  .form_fields fieldset.inputs label {
    font-weight: bold; }
  .form_fields.location_fields li {
    background-color: #d5e2d7; }
  .form_fields.basic li {
    background-color: #d6d7c9; }
  .form_fields.status li {
    background-color: #c8cab4; }
  .form_fields.main li {
    background-color: #d5dee2; }
  .form_fields.characters li {
    background-color: #dde0b8; }
  .form_fields.days li {
    background-color: #e0cfb8; }
  .form_fields.long li {
    width: 637px;
    margin-right: 0; }
  .form_fields #day_of_week {
    width: 100%; }
    .form_fields #day_of_week th {
      font-weight: bold; }
    .form_fields #day_of_week th[align=center] {
      text-align: center; }
  .form_fields .blue_btn {
    display: inline-block;
    padding: 2px 10px;
    font-weight: normal;
    text-transform: none; }

.options {
  margin: 0 0 10px; }
  .options .actions,
  .options .blue_btn,
  .options input[type=submit] {
    display: block;
    float: left;
    margin: 0 10px 0 0; }
  .options .actions {
    float: right;
    margin-right: 0; }
    .options .actions input[type=submit] {
      margin-right: 0; }
  .options .merge_txt {
    padding: 10px 0 0;
    clear: both; }

.ui-sortable {
  cursor: move; }
  .ui-sortable li:hover {
    font-weight: bold; }
  .ui-sortable img {
    margin: 0 2px 0 0 !important;
    padding: 0 !important;
    cursor: pointer; }
  .ui-sortable p {
    padding: 0 !important; }

#venue_seo_title_tag_input {
  margin-right: 0; }

.inline-errors {
  display: block;
  margin: 3px 2px 0;
  font-size: 12px;
  color: red;
  font-weight: bold; }

table {
  font-size: 11px;
  line-height: 14px; }
  table th {
    color: #E5E5E5;
    padding: 5px 6px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 0px 2px #333;
    background-color: #777;
    white-space: nowrap;
    border-radius: 4px; }
  table td {
    padding: 5px 6px; }

.warning {
  margin: 0 0 5px;
  padding: 4px 6px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 1px 1px 1px #555;
  text-indent: 2px;
  background: #f07e03;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #999; }
  .warning:before {
    content: url("/assets/users/error.png"); }
.floater.fixed {
  position: fixed;
  top: 0; }
/*


*/
.form_fields li.site_location input {
  display: inline-block;
  width: auto; }
.form_fields li.site_location label {
  display: block;
  margin: 0 0 15px;
  font-weight: bold; }
  .form_fields li.site_location label span {
    font-weight: normal; }
.form_fields li.site_location ol.notes {
  margin: 5px 0 0;
  padding-left: 23px;
  font-size: 10px;
  font-weight: normal;
  line-height: 10px;
  list-style: disc; }
.form_fields li#article_display_numbers_input {
  margin: 0 0 3px;
  padding: 0 0 3px;
  border-bottom: 1px dashed #333; }
.form_fields li.add_list_item_link {
  margin: 3px 0 0;
  padding: 3px 0 0;
  border-top: 1px dashed #333; }

#article_display_in_links_input {
  position: absolute;
  top: 0;
  right: 0; }

.ArticleItemsList .ui-sortable-item {
  margin: 0 0 10px; }

.form_fields_left {
  float: right;
  margin: 0; }

.form_fields_right {
  float: left;
  margin: 0 5px 0 0; }
