/* PHOTO UPLOADS STYLES
-----------------------------------------------------------
:: Styles for the photos upload forms shared by different applications.
----------------------------------------------------------- */
.login_box {
  padding: 18px 10px 30px; }

#photo_app_upload {
  position: relative;
  border-bottom: 1px dashed #adc0c9;
  margin-bottom: 8px;
  padding-bottom: 8px; }
  #photo_app_upload #photo_app_btns {
    position: absolute;
    bottom: 3px;
    right: 0; }
  #photo_app_upload #FileInput {
    display: inline-block;
    float: right;
    width: 182px !important;
    height: 39px !important;
    margin-top: -2px;
    background-image: url(/assets/photographer_applications/photographer_second_step_sprite-f6cbc75449d89ae7d6a077a12bdd4189.png);
    background-position: 0 -18px;
    cursor: pointer; }
    #photo_app_upload #FileInput:hover {
      background-position: 0 -59px; }
    #photo_app_upload #FileInput.disabled {
      background-position: 0 -100px;
      cursor: default; }
    #photo_app_upload #FileInput object {
      display: block;
      width: 163px;
      margin: 0; }
    #photo_app_upload #FileInput .uploadify-button {
      width: 163px !important; }
    #photo_app_upload #FileInput .uploadify-button-text {
      display: block;
      text-indent: -9999px; }
  #photo_app_upload .uploadify-queue {
    display: none; }
  #photo_app_upload .upload_btn {
    float: right; }
  #photo_app_upload .uploadifyQueue {
    display: none; }
  #photo_app_upload .upload_error {
    clear: left;
    color: red;
    font-weight: bold; }

#photo_app_photos {
  padding: 11px 0 0;
  border-bottom: 1px dashed #adc0c9;
  margin-bottom: 8px;
  padding-bottom: 8px; }
  #photo_app_photos .photo_item {
    position: relative;
    float: left;
    font-size: 11px;
    margin: 0 11px 20px 0;
    width: 100px;
    height: 134px; }
    #photo_app_photos .photo_item span {
      display: block; }
    #photo_app_photos .photo_item img {
      width: 98px;
      height: 98px;
      border: 1px solid #ccc; }
    #photo_app_photos .photo_item .photo_number {
      display: block;
      width: 66px;
      height: 66px;
      padding: 16px;
      color: #CCC;
      font-size: 62px;
      line-height: 66px;
      text-align: center;
      background: none repeat scroll 0 0 whiteSmoke;
      border: 1px solid #CCC; }
      #photo_app_photos .photo_item .photo_number.cell_error {
        border: 1px red solid; }
    #photo_app_photos .photo_item .progress {
      position: absolute;
      top: 79px;
      left: 4px;
      width: 85px;
      height: 9px;
      padding: 3px;
      background-color: #fff;
      border: 1px solid #c5c5c5;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px; }
      #photo_app_photos .photo_item .progress .progress_bar {
        width: 0;
        max-width: 100%;
        height: 7px;
        background-color: #09F;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px; }
    #photo_app_photos .photo_item .delete_icon {
      position: absolute;
      right: -8px;
      top: -8px;
      width: 16px;
      height: 16px;
      background: url(/assets/photographer_applications/photographer_second_step_sprite-f6cbc75449d89ae7d6a077a12bdd4189.png);
      cursor: pointer; }
    #photo_app_photos .photo_item .loading_notice {
      position: absolute;
      top: 55px;
      left: 0;
      width: 100%;
      color: #999;
      text-align: center; }
    #photo_app_photos .photo_item .file_name {
      overflow: hidden; }
    #photo_app_photos .photo_item .loading_image {
      position: absolute;
      top: 36px;
      left: 43px;
      width: 16px;
      height: 16px;
      background-image: url(/assets/content_bg/loading2-64ee8bf8cd27dfeb0be40562480b5dfb.gif);
      opacity: 0.7; }
    #photo_app_photos .photo_item .ui-widget-overlay {
      background: white; }
