/* REVIEWS SELECT STYLES
-----------------------------------------------------------
:: Styles for the reviews select forms shared by different applications.
----------------------------------------------------------- */
#sample_review_cont {
  position: relative; }

#sample_review {
  display: none;
  position: absolute;
  left: -15px;
  z-index: 9999;
  background-color: #fff;
  padding: 6px;
  border: 4px solid #889aa4;
  border-radius: 4px;
  box-shadow: 0 0 5px #ccc; }
  #sample_review span {
    display: block;
    position: absolute; }
  #sample_review .tip {
    width: 28px;
    height: 16px;
    top: -16px;
    left: 252px;
    background-image: url(/assets/writer_applications/sprite-c68a5c05c3fe4527f6e8fabb932e616c.png);
    background-position: 0 -28px; }
  #sample_review .close {
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    background-image: url(/assets/writer_applications/sprite-c68a5c05c3fe4527f6e8fabb932e616c.png);
    background-position: -12px -16px;
    cursor: pointer; }
  #sample_review img {
    display: block;
    width: 720px;
    height: 302px; }

#select_list_cont.login_box {
  margin: 0 0 30px;
  padding: 10px 20px; }

.select_list {
  float: left;
  width: 282px; }
  .select_list label {
    display: block;
    margin: 0 0 5px;
    font-size: 14px; }
    .select_list label a {
      display: inline-block;
      margin: 0 0 0 10px;
      font-size: 10px; }
  .select_list .multiple_select_cont {
    margin: 0 0 9px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #c9c8c8;
    border-radius: 3px;
    box-shadow: inset 0 0 5px #ccc; }
    .select_list .multiple_select_cont ul, .select_list .multiple_select_cont ol {
      height: 150px;
      overflow: auto; }
      .select_list .multiple_select_cont ul li, .select_list .multiple_select_cont ol li {
        padding: 4px 11px;
        line-height: 100%; }
        .select_list .multiple_select_cont ul li:hover, .select_list .multiple_select_cont ul li.selected, .select_list .multiple_select_cont ul li:active, .select_list .multiple_select_cont ol li:hover, .select_list .multiple_select_cont ol li.selected, .select_list .multiple_select_cont ol li:active {
          color: #fff;
          background-color: #597686;
          cursor: pointer; }
        .select_list .multiple_select_cont ul li:hover, .select_list .multiple_select_cont ul li.selected:active, .select_list .multiple_select_cont ol li:hover, .select_list .multiple_select_cont ol li.selected:active {
          color: #375363;
          background-color: #dae4e9; }
    .select_list .multiple_select_cont ol {
      padding: 0 0 0 27px;
      list-style: decimal; }
      .select_list .multiple_select_cont ol li {
        color: #999;
        padding-left: 3px; }
        .select_list .multiple_select_cont ol li span {
          display: block;
          color: #000; }
        .select_list .multiple_select_cont ol li:hover, .select_list .multiple_select_cont ol li.selected, .select_list .multiple_select_cont ol li:active {
          color: #999; }
          .select_list .multiple_select_cont ol li:hover span, .select_list .multiple_select_cont ol li.selected span, .select_list .multiple_select_cont ol li:active span {
            color: #fff; }
        .select_list .multiple_select_cont ol li:hover span, .select_list .multiple_select_cont ol li.selected:active span {
          color: #375363; }
        .select_list .multiple_select_cont ol li.notice {
          background-color: transparent;
          cursor: default; }
          .select_list .multiple_select_cont ol li.notice span {
            color: #09f; }
  .select_list p {
    margin: 0;
    color: #999; }

#select_list_center {
  float: left;
  padding: 75px 8px 0; }
  #select_list_center li {
    float: none;
    width: 85px;
    margin: 0 0 6px;
    text-align: center; }

#app_review_submit {
  margin: 0 0 10px;
  padding: 0 0 20px;
  border-bottom: 2px solid #acbfc8; }
  #app_review_submit h2 {
    margin: 0;
    color: #09f;
    font-size: 17px;
    font-weight: bold; }
  #app_review_submit fieldset ol {
    margin: 0 0 10px;
    padding: 0; }
    #app_review_submit fieldset ol li {
      float: none; }
  #app_review_submit .write_review_field li {
    float: left;
    width: auto;
    margin: 0 9px 0 0; }
  #app_review_submit .write_review_field label {
    display: block;
    float: none;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: left; }
  #app_review_submit .write_review_field input, #app_review_submit .write_review_field select {
    float: none;
    width: auto; }
  #app_review_submit .write_review_field input {
    width: 320px; }
  #app_review_submit .write_review_field select {
    width: 210px; }
  #app_review_submit .write_review_field .autocomplete {
    position: relative; }
  #app_review_submit .write_review_field .selected_data {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    padding: 6px;
    line-height: 18px; }
  #app_review_submit .write_review_field .actions {
    margin-right: 0;
    padding: 17px 0 0; }
    #app_review_submit .write_review_field .actions a {
      margin: 0; }
  #app_review_submit .venue_review_field .choose,
  #app_review_submit .event_review_field .choose {
    width: 339px; }
  #app_review_submit .event_review_field,
  #app_review_submit .performer_review_field {
    display: none; }
  #app_review_submit .performer_review_field input {
    width: 546px; }
  #app_review_submit .performer_review_field .selected_data {
    width: 546px; }
  #app_review_submit .blue_btn {
    height: auto; }

.ratings_container {
  position: relative; }
  .ratings_container .help_btn {
    position: absolute;
    top: 22px;
    left: 119px; }
  .ratings_container ul {
    float: left;
    width: 430px; }
    .ratings_container ul li {
      width: auto; }
    .ratings_container ul label {
      float: none;
      text-align: left; }
      .ratings_container ul label a {
        text-decoration: none; }
      .ratings_container ul label a:hover {
        text-decoration: underline; }
    .ratings_container ul .inline-errors {
      left: 0; }
    .ratings_container ul img {
      float: left;
      margin: 5px; }
  .ratings_container select {
    width: 136px; }

#writer_application_rating_lucas_input a {
  color: #3375c4; }

#writer_application_rating_adriana_input a {
  color: #b8529e; }

#writer_application_rating_jonah_input {
  clear: left; }

#writer_application_rating_jonah_input a {
  color: #73b808; }

#writer_application_rating_emma_input a {
  color: #ffcc05; }
