/*DROPDOWN OVERRIDES*/
/*-------------------------------------------------*/
#admin_content .TitleContainer {
  background: none;
  padding: 0; }

#admin_content .Title {
  background: none;
  height: auto; }

/*-------------------------------------------------*/
/*BEGIN GENERAL STYLES*/
#admin_content {
  background-color: #fff;
  text-align: center; }

#admin_content div {
  text-align: center;
  margin: 6px 0;
  -moz-border-radius: 4px;
  border-radius: 4px; }

#admin_content form {
  padding: 10px 0 0;
  text-align: center; }

#admin_content input[type="checkbox"] {
  cursor: default;
  /*for ie to show arrow*/ }

#admin_content form label {
  float: none;
  width: auto; }

#admin_content textarea {
  background: none repeat scroll 0 0 #EFEFEF;
  border: 1px solid #CCCCCC;
  width: 400px;
  height: 150px;
  margin: 15px 0;
  padding: 10px;
  font-size: 12px; }

#admin_content textarea:focus {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #0099ff; }

.fake_link {
  text-decoration: underline; }

.pod_rounded h1.headline {
  font-size: 30px;
  background-color: #33628C;
  color: #fff;
  padding: 5px 5px;
  margin: 0 0 20px; }
  .pod_rounded h1.headline .blue_btn {
    color: #fff;
    font-size: 16px; }

h1, p {
  text-align: center; }

#admin_content label b {
  display: inline-block; }

#admin_content .big_n_bold {
  font-size: 20px;
  font-weight: bold; }

#admin_content .Dropdown .dropdown {
  background-color: #FFFFFF;
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  padding: 5px; }

#admin_content .Choice {
  background-color: #999999;
  border-bottom: 2px solid #333333;
  color: #FFFFFF;
  cursor: pointer;
  margin: 0 auto;
  padding: 2px;
  width: 68px; }

#admin_content .Choice:hover {
  background-color: #33628C; }

#admin_content #sortable {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#admin_content #sortable li:hover a:link,
#admin_content #sortable li:hover a:visited,
#admin_content #sortable li:hover .fake_link {
  color: #b9d8f4; }

#admin_content #sortable li:hover a:hover,
#admin_content #sortable li:hover .fake_link:hover {
  color: #0dc0ed; }

#admin_content li.ui-state-default img {
  height: 120px; }

#admin_content .AjaxFlag {
  margin: 2px 0; }

#admin_content .AjaxFlag input[type="text"] {
  background-color: #FFFFFF;
  border: 1px solid #CFCFCF;
  padding: 3px; }

#admin_content .PhotoStatusSelect {
  margin: 0 0 0 2px; }

#admin_content .PhotoQualityStatusSelect {
  margin: 0 2px 0 0; }

/*SPECIFICALLY FOR THE SHOW PHOTO PAGE*/
#admin_content #photoview {
  margin: 6px 0 0 6px; }
  #admin_content #photoview .photoview_properties {
    width: 521px;
    margin: 6px 0; }

#admin_content #photoview img {
  width: 460px; }

#admin_content .photoview_properties {
  background-color: #EBECED;
  border: 1px solid #CCCCCC;
  margin: 6px 6px 6px 0;
  padding: 6px;
  width: 392px; }
  #admin_content .photoview_properties h1 {
    font-size: 25px; }
  #admin_content .photoview_properties textarea {
    width: 369px; }
  #admin_content .photoview_properties label {
    display: block; }
  #admin_content .photoview_properties input[type=button] {
    display: block;
    margin: 0 auto; }

#admin_content .photoview_properties .AjaxFlag textarea.sm_textarea {
  height: 50px;
  margin: 0;
  vertical-align: middle;
  width: 220px; }

#admin_content .photoview_properties .AjaxFlag textarea.md_textarea {
  /*height:100px;*/
  /*margin:0 0 15px;*/ }
