/*MAP, REVIEWS, AND KEVIN MODULE DIV*/
#topleft {
  width: 735px; }

/*MAP MODULE PROPERTIES*/
#city_home_content #map {
  width: 480px;
  position: relative;
  top: -3px;
  z-index: 1000;
  /*FOR IE7*/ }

#city_home_content #map .pod_tabless {
  margin-top: 0;
  /*FOR IE7*/
  *margin-top: 8px; }

#city_home_content .selected_dates_wrapper .left_end,
#city_home_content .selected_dates_wrapper .right_end {
  background-image: url(/assets/content_bg/city_map_sprite-616d8a80f7b31550ba43bedebb362944.png);
  width: 11px;
  height: 25px; }

#city_home_content .selected_dates_wrapper .left_end {
  background-position: -377px -370px; }

#city_home_content .selected_dates_wrapper .right_end {
  background-position: -389px -370px; }

#city_home_content .selected_dates_wrapper .selected_dates {
  background-color: #0099ff;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 19px;
  *line-height: 21px;
  /*FOR IE7*/
  height: 23px;
  margin: 0 0 8px;
  padding: 2px 0 0; }

#city_home_content .pod_tabless .width480 .city_map {
  width: 460px;
  height: 347px; }

#city_home_content .pod_tabless .width480 .map {
  width: 460px;
  height: 290px; }

/*FEATURED VENUE MODULE PROPERTIES*/
#featured_venue {
  width: 240px;
  margin-left: 15px; }

#featured_venue #venue_info {
  height: 360px;
  overflow: hidden; }

#venue_image {
  height: 165px;
  margin: 0 0 11px;
  width: 220px; }

#venue_image img {
  height: 165px;
  width: 220px; }

#featured_venue #neighborhood {
  margin: 0 0 12px; }

#featured_venue #name {
  max-height: 60px;
  overflow: hidden; }

#featured_venue #scene {
  height: 71px;
  margin: 0 0 17px;
  overflow: hidden;
  position: relative; }

#featured_venue #scene.four_line_scene {
  height: 71px; }

#featured_venue #scene.three_line_scene {
  height: 53px; }

#featured_venue #scene.two_line_scene {
  height: 35px; }

#featured_venue #scene.one_line_scene {
  height: 17px; }

#featured_venue #scene.zero_line_scene {
  height: 0; }

#city_home_content #all_reviews {
  bottom: 0;
  position: absolute; }

/*HOTSPOTS AND EVENTS MODULE*/
#city_home_content .venue_pod,
#city_home_content .event_pod {
  height: 132px;
  margin: 0 0 15px;
  padding: 0 0 15px; }

#city_home_content .event_pod .event_wrapper {
  height: 135px;
  overflow: hidden; }

#city_home_content .venue_image,
#city_home_content .event_image {
  height: 132px;
  width: 185px; }

#city_home_content .venue_image .rounded_corner_wrapper,
#city_home_content .event_image .rounded_corner_wrapper {
  width: 183px;
  height: 130px; }

#city_home_content #todays_hotspots #hotspots_list,
#city_home_content #todays_events #events_list {
  min-height: 514px; }

#city_home_content .read_more_arrow {
  bottom: 0; }
