/*BEGIN MASTHEAD CSS*/
/*------------------------------------------------------------*/
#masthead .logo_city #site_logo {
  background: url(/assets/pamplona/pamplona_subpage_sprite-115c7bb02195a1618f7bd28dc51b1efa.png) 0 -1175px no-repeat transparent;
  width: 244px;
  height: 51px; }
  #masthead .logo_city #site_logo img {
    display: none; }
#masthead #masthead_search {
  background: url(/assets/pamplona/pamplona_subpage_sprite-115c7bb02195a1618f7bd28dc51b1efa.png) 0 -1281px no-repeat transparent; }
#masthead .main_nav .home.link a, #masthead .main_nav .home.link a:hover {
  background: url(/assets/pamplona/pamplona_subpage_sprite-115c7bb02195a1618f7bd28dc51b1efa.png) 0 -1240px no-repeat transparent; }
#masthead .main_nav .link_divider {
  margin: 0 8px; }
#masthead .main_nav .link a.selected,
#masthead .main_nav .link a.selected:visited {
  border-bottom: 2px solid; }

/*BEGIN NAVIGATION CSS*/
/*------------------------------------------------------------*/
#masthead .middle_line .main_nav .link a,
#masthead .middle_line .main_nav .link a:visited,
.red_links a:link,
.red_links a:visited,
.red_links .fake_link {
  color: #cc0000; }

#masthead .middle_line .main_nav .link a:hover,
#welcome_box #username a:hover,
.red_links a:hover,
.red_links .fake_link:hover {
  color: #cc0000; }

.red_links .border_link:hover {
  color: #cc0000 !important; }

.red_links .tab_text:hover {
  /*To prevent the tab labels from turning red on hover*/
  color: #212121; }

/*BEGIN GENERAL PROPERTIES*/
/*------------------------------------------------------------*/
.read_more_arrow {
  background: url(/assets/pamplona/pamplona_subpage_sprite-115c7bb02195a1618f7bd28dc51b1efa.png) 0 -1107px no-repeat transparent;
  width: 26px; }

.red_text_arrow {
  background: url(/assets/pamplona/pamplona_subpage_sprite-115c7bb02195a1618f7bd28dc51b1efa.png) 0 -1092px no-repeat transparent;
  height: 11px;
  width: 14px;
  *position: relative;
  *top: -5px;
  margin: 0 5px 0 0\9; }

.headline.header {
  background: #d2e2e9;
  font-size: 22px;
  line-height: 18px;
  padding: 6px 10px 8px; }

/*BEGIN LEFT COLUMN*/
/*------------------------------------------*/
.left_column {
  width: 735px; }

.info_text {
  width: 461px; }

.transportation_links .inner_divider.dashed {
  width: 220px;
  border-bottom: 1px dashed #CCCCCC;
  border-top: 1px dashed #CCCCCC;
  clear: left;
  height: 2px;
  margin: 10px 0; }

.transportation_links .headline {
  font-size: 14px;
  line-height: 10px;
  margin: 0 0 10px;
  font-family: PT Sans, arial, sans-serif !important; }

.transportation_links,
.quick_nav {
  width: 220px; }

.quick_nav .floater.fixed {
  top: 6px;
  width: 220px; }

.quick_nav .headline.header {
  margin: 0 0 5px; }

/*BEGIN CUSTOM ACCORDION STYLES*/
/*-----------------------------*/
#pamplona_city_content .custom_accordion {
  margin: 0 0 10px; }

#pamplona_city_content .custom_accordion .collapse_bar_wrapper,
#pamplona_city_content .custom_accordion .expand_bar_wrapper {
  background: #d2e2e9; }

#pamplona_city_content .custom_accordion .collapse_bar_wrapper .inner_wrapper,
#pamplona_city_content .custom_accordion .expand_bar_wrapper .inner_wrapper {
  height: 22px;
  padding: 6px 0 5px 10px; }

#pamplona_city_content .custom_accordion .collapse_bar_wrapper .headline,
#pamplona_city_content .custom_accordion .expand_bar_wrapper .headline {
  float: left;
  font-size: 22px;
  height: 22px;
  line-height: 20px;
  *line-height: 23px; }

#pamplona_city_content .custom_accordion .collapse_bar_wrapper .AccordionLabel,
#pamplona_city_content .custom_accordion .expand_bar_wrapper .AccordionLabel {
  color: #638b9d;
  text-decoration: underline; }

#pamplona_city_content .custom_accordion .collapse_bar_wrapper:hover .AccordionLabel,
#pamplona_city_content .custom_accordion .expand_bar_wrapper:hover .AccordionLabel {
  color: #274d5e; }

/*BEGIN ACCORDION CONTENT SECTIONS*/
/*------------------------------------*/
.red_text {
  color: #cc0000; }

.green_text {
  color: green; }

.custom_accordion .accordion_content {
  padding: 0; }

.accordion_content img {
  width: auto;
  height: auto; }

.accordion_content_text {
  padding: 5px 0; }

.accordion_content_text.photo {
  padding: 0.9px 0 5px; }

.circle {
  background: url(/assets/pamplona/pamplona_subpage_sprite-115c7bb02195a1618f7bd28dc51b1efa.png) -232px -527px no-repeat transparent;
  width: 40px;
  height: 36px; }

.circle.two {
  background-position: -272px -527px; }

.circle.three {
  background-position: -312px -527px; }

.circle.four {
  background-position: -352px -527px; }

.accordion_content_text table td {
  vertical-align: top; }

.accordion_content_text p {
  padding: 0 0 5px 10px; }

.accordion_content_text .intro_text {
  font-size: 15px;
  line-height: 16px;
  font-style: italic; }

.tip_sections p {
  color: #666666;
  font-size: 12px;
  line-height: 14px;
  padding: 0 0 5px 0; }

.tip_sections .bold_text {
  font-size: 13px; }

.pre_run_schedule .bold_text {
  width: 93px; }

.tip_sections .right_tip {
  padding: 0 0 0 18px; }

.BackToTopLink {
  background: url(/assets/pamplona/pamplona_subpage_sprite-115c7bb02195a1618f7bd28dc51b1efa.png) 71px -1119px no-repeat transparent;
  padding: 0 8px 0 0;
  float: right;
  margin: 6px 0 0 0;
  display: inline-block;
  text-decoration: none; }

.BackToTopLink:hover {
  text-decoration: underline; }

/*BEGIN RIGHT COLUMN*/
/*------------------------------------------*/
.right_column {
  width: 240px; }

.right_column #ad_240x400 {
  margin: 0; }

.festival_highlights .fest_map {
  width: 220px;
  height: 209px;
  margin: 0 0 11px; }

.red_links .festival_highlights_content .fest_link {
  color: #000;
  text-decoration: none; }

.red_links .festival_highlights_content .fest_link:hover,
.red_links .festival_highlights_content .fest_link.highlighted {
  color: #cc0000;
  text-decoration: underline; }
