* {
  margin: 0;
  padding: 0; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }
/* TOOLTIP STYLES
--------------------------------------------------------------
:: Basic Styles for the tooltip container and point.
:: Position and border need to be adjusted for specific usage.
-------------------------------------------------------------- */
.dialog_box {
  position: absolute;
  z-index: 6000;
  padding: 4px;
  background-color: #889aa4;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }
  .dialog_box .dialog_content_wrapper {
    padding: 11px 14px 9px;
    background-color: #f7f9fb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
  .dialog_box .dialog_img {
    display: none; }
  .dialog_box .dialog_content h1 {
    color: #09f;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 6px; }
  .dialog_box .dialog_content p {
    padding: 0;
    font-size: 13px;
    line-height: 16px !important;
    /* To override venue styles for  #object_page_info dd p */ }
  .dialog_box .dialog_content .title {
    float: left;
    text-transform: uppercase;
    line-height: 16px; }
  .dialog_box .close_btn, .dialog_box .close_btn:hover {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 8px;
    height: 8px;
    background-image: url(/assets/characters/liked_by_sprite-c88bab5ae5f3f3c35899a01341886ddf.png);
    background-position: -172px -138px; }

.dialog_point {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0 0 -12px;
  border-top: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent; }
  .dialog_point .dialog_inner_point {
    position: absolute;
    z-index: 6001;
    width: 0;
    height: 0;
    margin: 0 0 10px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    overflow: hidden; }

/* Help Button Tooltip Trigger/Container
-------------------------------------------------------------- */
.help_btn {
  position: relative;
  z-index: 3000;
  width: 16px;
  height: 16px;
  background-image: url(/assets/content_bg/application_sprite-7f479dd5003ebc3db84ed2358643c74c.png);
  background-position: -27px -185px;
  /* Position of dialog box and point specific to help trigger */ }
  .help_btn:hover {
    background-position: -44px -185px;
    cursor: pointer; }
  .help_btn .dialog_box {
    width: 260px;
    top: -22px;
    left: 29px; }
  .help_btn .dialog_point {
    top: -4px;
    left: 18px;
    border-right: 12px solid #889AA4;
    border-left: none; }
    .help_btn .dialog_point .dialog_inner_point {
      left: 5px;
      top: -10px;
      border-right: 10px solid #F7F9FB;
      border-left: none; }

/* Ratings Help Tooltip */
#ratings-help p {
  padding: 0;
  color: #000;
  font-size: 11px;
  line-height: 13px; }
#ratings-help table {
  margin: 5px 0 0; }
#ratings-help td {
  vertical-align: top; }
#ratings-help .char-link {
  text-decoration: none; }
  #ratings-help .char-link:hover {
    text-decoration: underline; }
#ratings-help .lucas-color {
  color: #3375C4; }
#ratings-help .adriana-color {
  color: #B8529E; }
#ratings-help .jonah-color {
  color: #73B808; }
#ratings-help .emma-color {
  color: #FFCC05; }
#ratings-help .stars {
  display: block;
  width: 66px;
  height: 14px;
  margin: 1px 15px 0 0;
  background-image: url(/assets/characters/char_page_ratings_stars-27f63c0d523898e13086cba16fe04436.png); }
  #ratings-help .stars.row1 {
    background-position: 0 -47px; }
  #ratings-help .stars.row2 {
    background-position: 0 -61px; }
  #ratings-help .stars.row3 {
    background-position: 0 -75px; }
  #ratings-help .stars.row4 {
    background-position: 0 -89px; }
  #ratings-help .stars.row5 {
    background-position: 0 -103px; }
/*

*/
.liked_by {
  /* Specific character styles */
  /* Disabled styles */ }
  .liked_by div, .liked_by p, .liked_by span {
    -moz-user-select: none;
    user-select: none; }
  .liked_by dt {
    float: left;
    margin-bottom: 2px;
    color: #8ea8b5;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase; }
  .liked_by dd {
    float: right; }
  .liked_by ul {
    position: relative; }
  .liked_by .character_cont {
    float: left;
    margin: 0 4px 0 0;
    padding: 0 0 2px;
    border-bottom: 2px solid;
    /* Tooltip container and point positioning for liked by characters */ }
    .liked_by .character_cont:hover {
      cursor: pointer; }
    .liked_by .character_cont .character {
      display: block;
      width: 25px;
      height: 25px;
      background-image: url(/assets/characters/liked_by_sprite-c88bab5ae5f3f3c35899a01341886ddf.png);
      border: 1px solid #adc0c9;
      border-radius: 2px;
      cursor: pointer; }
    .liked_by .character_cont .dialog_box {
      bottom: 38px;
      right: 0 !important;
      padding: 2px;
      z-index: 9999;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
      .liked_by .character_cont .dialog_box .dialog_content_wrapper {
        background-color: #FFFFFF;
        padding: 10px;
        width: 188px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; }
      .liked_by .character_cont .dialog_box .dialog_img {
        display: block;
        float: left;
        width: 50px;
        height: 110px;
        background-image: url(/assets/characters/liked_by-1d1441dc6e941226a47e181a3d490ec2.png) !important; }
      .liked_by .character_cont .dialog_box .dialog_content {
        float: left;
        width: 138px;
        margin: 0; }
        .liked_by .character_cont .dialog_box .dialog_content .title {
          display: block;
          font-size: 22px;
          font-weight: bold;
          padding-bottom: 10px;
          text-align: left;
          text-transform: capitalize;
          width: 100%; }
        .liked_by .character_cont .dialog_box .dialog_content p {
          font-size: 11px;
          line-height: 14px !important; }
    .liked_by .character_cont .dialog_point {
      position: relative;
      bottom: 40px;
      left: 2px !important;
      border-top: 12px solid #889AA4;
      border-bottom: none; }
      .liked_by .character_cont .dialog_point .dialog_inner_point {
        bottom: -5px;
        left: -10px;
        border-top: 10px solid #FFFFFF;
        border-bottom: none;
        margin: 0 0 8px;
        z-index: 9999; }
  .liked_by .lucas {
    border-color: #4175ab; }
    .liked_by .lucas .character {
      background-position: -1px -3px; }
    .liked_by .lucas .title {
      color: #4175ab; }
    .liked_by .lucas .dialog_img {
      background-position: -260px -195px; }
    .liked_by .lucas:hover {
      border-color: #4175ab; }
      .liked_by .lucas:hover .character {
        border-color: #4175ab !important;
        background-position: -1px -3px !important; }
  .liked_by .adriana {
    border-color: #c675b1; }
    .liked_by .adriana .character {
      background-position: -31px -3px; }
    .liked_by .adriana .title {
      color: #c675b1; }
    .liked_by .adriana .dialog_img {
      background-position: -312px -195px; }
    .liked_by .adriana:hover {
      border-color: #c675b1; }
      .liked_by .adriana:hover .character {
        border-color: #c675b1 !important;
        background-position: -31px -3px !important; }
  .liked_by .jonah {
    border-color: #95c946; }
    .liked_by .jonah .character {
      background-position: -61px -3px; }
    .liked_by .jonah .title {
      color: #95c946; }
    .liked_by .jonah .dialog_img {
      background-position: -365px -195px; }
    .liked_by .jonah:hover {
      border-color: #95c946; }
      .liked_by .jonah:hover .character {
        border-color: #95c946 !important;
        background-position: -61px -3px !important; }
  .liked_by .emma {
    margin-right: 0;
    border-color: #ffb637; }
    .liked_by .emma .character {
      background-position: -91px -3px; }
    .liked_by .emma .title {
      color: #ffb637; }
    .liked_by .emma .dialog_img {
      background-position: -420px -195px; }
    .liked_by .emma:hover {
      border-color: #ffb637; }
      .liked_by .emma:hover .character {
        border-color: #ffb637 !important;
        background-position: -91px -3px !important; }
  .liked_by .disabled {
    border-color: #dae4e9; }
    .liked_by .disabled.lucas .character {
      background-position: -1px -33px; }
    .liked_by .disabled.adriana .character {
      background-position: -31px -33px; }
    .liked_by .disabled.jonah .character {
      background-position: -61px -33px; }
    .liked_by .disabled.emma .character {
      background-position: -91px -33px; }
/*


*/
/* Mixins */
/* Form Elements */
.pod label {
  color: #252525 !important;
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  width: 105px; }
  .pod label abbr {
    color: #0099FF; }
.pod input[type=text],
.pod textarea,
.pod select {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c4c3c3;
  display: inline-block;
  font-size: 13px;
  margin-top: 7px;
  padding: 5px;
  text-indent: 5px; }
.pod input[type=text] {
  width: 200px; }
.pod input[type=radio] {
  display: block; }
.pod select {
  line-height: 24px;
  padding-left: 0; }

/* General Styles */
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.hidden {
  display: none !important; }

.liked_by {
  border: 1px solid #e7e7e7;
  background-color: #FFFFFF;
  padding: 5px;
  margin-top: 10px;
  width: 120px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.btn_blue {
  background-color: #0099FF;
  border-bottom: 1px solid #0067b1;
  color: #FFFFFF;
  display: block;
  font-size: 13px;
  padding: 8px 10px 6px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px -1px #0080e6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 1000;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  .btn_blue:hover {
    background-color: #2baaff;
    cursor: pointer; }

a.bottom {
  color: #FFFFFF;
  float: left;
  width: 160px;
  margin-right: 10px; }
  a.bottom.last {
    margin: 0 0 0 456px; }
  a.bottom:hover {
    text-decoration: none; }

.blue_header {
  font-weight: normal; }
  .blue_header span {
    font-weight: bold; }

.IsFreeField {
  background-color: #4E8E4E;
  border: 1px solid #2A5D2A;
  color: #FFF;
  font-size: 11px;
  width: 50px;
  margin-top: 10px;
  text-align: center; }

.hoverage {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c4c4c4;
  color: #0099FF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px !important;
  margin-top: 10px;
  padding: 5px 10px;
  text-shadow: 1px 1px 0px #ffffff;
  text-transform: capitalize;
  filter: dropshadow(color=white, offx=1, offy=1);
  background: #f9fafb;
  background: -webkit-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  background: -moz-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  background: -ms-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  background: -o-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9fafb), color-stop(100%, #e5eaed));
  background: linear-gradient(to bottom, #f9fafb 0%, #e5eaed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fafb', endColorstr='#e5eaed',GradientType=0 ); }
  .hoverage:hover {
    background: #e5eaed;
    background: -webkit-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    background: -moz-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    background: -ms-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    background: -o-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5eaed), color-stop(100%, #f9fafb));
    background: linear-gradient(to bottom, #e5eaed 0%, #f9fafb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5eaed', endColorstr='#f9fafb',GradientType=0 ); }

.note,
.white_header {
  background: #f4f4f4;
  background: -moz-linear-gradient(top, #f4f4f4 0%, #fafafa 100%);
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #fafafa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #fafafa));
  background: -o-linear-gradient(top, #f4f4f4 0%, #fafafa 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #fafafa 100%);
  background: linear-gradient(to bottom, #f4f4f4 0%, #fafafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#fafafa',GradientType=0 );
  border: 1px solid #CCC;
  color: #0099ff !important;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.divider {
  border-bottom: 1px dashed #c4c4c4;
  margin: 10px 0; }
  .divider.thick {
    margin: 20px 0;
    border-bottom: 4px dashed #c4c4c4; }

.note {
  bottom: -12px;
  color: #252525 !important;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  right: -10px;
  padding: 4px 10px; }

.or_text {
  font-weight: bold;
  font-size: 16px;
  margin: 15px 0 5px; }

h2.white_header {
  color: #252525 !important;
  margin: 20px 0 5px;
  font-size: 18px;
  font-weight: normal;
  line-height: 21px;
  padding: 7px 12px; }

.editor {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #defce1;
  border: 1px solid #8dbc91;
  padding: 10px;
  margin: 10px 0; }
  .editor .NameField {
    font-size: 16px;
    display: block;
    margin-bottom: 4px; }
  .editor .big_text {
    color: #000000 !important;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0 5px; }
  .editor img {
    height: 100px;
    width: 100px; }

.Disabled {
  background: #e5d6d6;
  border: 1px solid #c4a1a1; }
  .Disabled .photo {
    background-color: #e5d6d6 !important;
    border: 1px solid #e5d6d6 !important; }

/* Settings */
.settings .left_cont {
  float: left;
  width: 760px; }
  .settings .left_cont input[type=text] {
    width: 350px; }
  .settings .left_cont select {
    margin-left: 5px;
    width: 212px; }
.settings .right_cont {
  float: left; }
  .settings .right_cont .status,
  .settings .right_cont .send_date {
    display: block; }
    .settings .right_cont .status span,
    .settings .right_cont .send_date span {
      font-weight: bold;
      text-transform: capitalize; }
  .settings .right_cont .status {
    margin: 12px 0 10px; }
  .settings .right_cont .send_date {
    margin-top: 16px; }
  .settings .right_cont #newsletter_status_input {
    list-style: none;
    margin-top: 16px;
    position: relative; }
    .settings .right_cont #newsletter_status_input .choices .label label {
      text-align: left;
      width: auto; }
    .settings .right_cont #newsletter_status_input .choices .choices-group {
      padding-top: 2px; }
      .settings .right_cont #newsletter_status_input .choices .choices-group li label {
        display: block;
        font-weight: normal;
        margin: 0;
        text-align: left;
        text-transform: capitalize;
        width: auto; }
        .settings .right_cont #newsletter_status_input .choices .choices-group li label input {
          margin-top: 1px;
          float: left;
          width: 20px; }

/* Header Date */
.header_date {
  position: relative;
  width: 200px; }
  .header_date .big_text {
    color: #000000;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 8px 0 5px; }
  .header_date .Editor {
    left: 210px;
    top: 9px;
    width: 255px; }

/* Top Banner */
.top_banner .editor .photo {
  background-color: #FFFFFF;
  height: 90px;
  margin-top: 5px;
  width: 850px; }

.middle_banner .editor .photo {
  background-color: #FFFFFF;
  height: 90px;
  margin-top: 5px;
  width: 670px; }

.bottom_banner {
  position: relative; }
  .bottom_banner .editor .photo {
    background-color: #FFFFFF;
    height: 410px;
    margin-top: 5px;
    width: 323px; }
  .bottom_banner .Editor {
    bottom: 60px;
    right: 23px; }

.side_banner {
  position: relative; }
  .side_banner .editor .photo {
    background-color: #FFFFFF;
    height: 600px;
    margin-top: 5px;
    width: 160px; }
  .side_banner .Editor {
    bottom: -157px;
    left: -105px;
    width: 301px; }

/* Featured Event */
.featured_event_category,
.featured_event_photo {
  position: relative;
  float: left;
  width: 362px; }

/* Featured Event Category */
.title_position {
  position: relative; }
  .title_position a.big_text {
    height: 18px; }
  .title_position .Editor {
    top: 80px;
    left: 11px; }

/* Featured Event Photo */
.featured_event_photo {
  margin-left: 15px; }
  .featured_event_photo .feat_cont .editor {
    background: #FFFFFF; }
    .featured_event_photo .feat_cont .editor.Disabled {
      background: #E5D6D6; }
    .featured_event_photo .feat_cont .editor a {
      color: #252525;
      text-transform: capitalize; }

/* Event Editor Popup */
.event_editor {
  position: relative; }
  .event_editor .Editor {
    top: 10px;
    left: 165px;
    width: 420px; }
    .event_editor .Editor h2 {
      color: #0099FF;
      font-weight: bold;
      font-size: 16px;
      margin-top: 5px; }
      .event_editor .Editor h2.additional {
        margin-bottom: 5px; }
    .event_editor .Editor .photo_label {
      position: relative;
      width: 80px; }
      .event_editor .Editor .photo_label.desc {
        top: -45px; }
    .event_editor .Editor input[type=text] {
      width: 314px; }
    .event_editor .Editor textarea {
      height: 55px;
      width: 314px; }
    .event_editor .Editor .fill_data {
      margin: 3px 0 0 10px;
      width: 100px; }

/* Three Column */
.three_column_titles .column {
  float: left;
  margin-right: 15px;
  position: relative;
  width: 229px; }
  .three_column_titles .column.last {
    margin-right: 0; }
  .three_column_titles .column .editor {
    background: #FFFFFF; }
    .three_column_titles .column .editor a.big_text {
      height: 18px; }
    .three_column_titles .column .editor.Disabled {
      background: #E5D6D6; }
    .three_column_titles .column .editor a {
      color: #252525;
      text-transform: capitalize; }
  .three_column_titles .column .Editor {
    top: 61px;
    left: 10px;
    width: 255px; }

.three_column .column {
  float: left;
  margin-right: 15px;
  position: relative;
  width: 229px; }
  .three_column .column.last {
    margin-right: 0; }
  .three_column .column .editor {
    background: #FFFFFF; }
    .three_column .column .editor.Disabled {
      background: #E5D6D6; }
    .three_column .column .editor a {
      color: #252525;
      text-transform: capitalize; }

/* Four Column */
.four_column .column {
  float: left;
  width: 168px;
  margin-right: 15px; }
  .four_column .column.last {
    margin-right: 0; }
  .four_column .column .personality {
    background-color: #FFFFFF;
    border: 1px solid #8DBC91;
    display: block;
    font-weight: bold;
    padding: 3px 5px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
  .four_column .column .editor {
    background: #FFFFFF; }
    .four_column .column .editor.Disabled {
      background: #E5D6D6; }
      .four_column .column .editor.Disabled .personality {
        border-color: #C4A1A1; }
    .four_column .column .editor a {
      color: #252525;
      text-transform: capitalize; }

/* Article Ad */
.article_ad {
  /* Article Container */ }
  .article_ad .article_cont,
  .article_ad .bottom_banner {
    float: left;
    width: 362px; }
  .article_ad .article_cont {
    position: relative; }
    .article_ad .article_cont .editor .EventTypeField {
      color: black !important;
      font-size: 13px;
      margin: 5px 0;
      line-height: 15px; }
    .article_ad .article_cont .editor .read_more {
      cursor: pointer; }
    .article_ad .article_cont .editor .more_link {
      color: #252525; }
      .article_ad .article_cont .editor .more_link .NameField {
        font-size: 13px; }
    .article_ad .article_cont .Editor {
      top: -50px;
      right: -455px;
      width: 420px; }
      .article_ad .article_cont .Editor h2 {
        color: #0099FF;
        font-weight: bold;
        font-size: 16px;
        margin-top: 5px; }
        .article_ad .article_cont .Editor h2.additional {
          margin-bottom: 5px; }
      .article_ad .article_cont .Editor .prepopulate label {
        width: 65px; }
      .article_ad .article_cont .Editor label {
        width: 120px; }
      .article_ad .article_cont .Editor .photo_label {
        position: relative;
        width: 120px; }
        .article_ad .article_cont .Editor .photo_label.desc {
          top: -45px; }
      .article_ad .article_cont .Editor input[type=text] {
        width: 235px; }
      .article_ad .article_cont .Editor textarea {
        height: 55px;
        width: 236px; }
      .article_ad .article_cont .Editor .fill_data {
        margin: 3px 0 0 10px;
        width: 100px; }
  .article_ad .bottom_banner {
    margin-left: 15px; }

/* Editor Popup */
.Editor {
  background-color: #F4F4F4;
  border: 1px solid #FFFFFF;
  display: none;
  padding: 10px;
  position: absolute;
  z-index: 999999;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 4px #323232;
  -moz-box-shadow: 0px 0px 4px #323232;
  box-shadow: 0px 0px 4px #323232; }
  .Editor h1 {
    font-size: 14px;
    margin-bottom: 5px; }
  .Editor label {
    width: auto;
    text-align: left; }
  .Editor .CloseEditorButton {
    color: #FFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: #F00;
    padding: 5px 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
  .Editor .SubmitButton {
    float: right;
    font-weight: bold;
    width: 100px; }
  .Editor.photo_editor label {
    width: 75px; }

fieldset.inputs input {
  border: 1px solid green;
  font-size: 10pt;
  margin: 0 5px 0 5px; }
