/* Mixins */
.pod h1 {
  color: #0099FF; }
.pod label {
  color: #252525 !important;
  display: inline-block;
  font-weight: bold;
  margin-right: 10px; }
  .pod label abbr {
    color: #0099FF; }
.pod input[type=text],
.pod select {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c4c3c3;
  display: inline-block;
  font-size: 13px;
  margin-right: 15px;
  padding: 5px;
  text-indent: 5px;
  width: 250px; }
.pod input[type=submit] {
  background-color: #ff9000;
  border-bottom: 1px solid #d27700;
  color: #FFF;
  display: block;
  font-size: 13px;
  padding: 9px 10px 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px -1px #f17f00;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 1000;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  z-index: 1000; }
  .pod input[type=submit]:hover {
    background-color: #ff9a17;
    cursor: pointer; }

a.btn_blue {
  color: #FFFFFF;
  float: left;
  margin-right: 15px;
  width: 70px; }
  a.btn_blue:hover {
    text-decoration: none; }

.inputs {
  float: left;
  margin-top: 4px;
  width: 750px; }

/* General Styles */
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.options {
  float: right; }
  .options .actions {
    float: left; }

.basic {
  margin-top: -2px; }

ol {
  float: left; }
