/*












*/
/*BEGIN NAVIGATION CSS*/
/*---------------------------------------------*/
#masthead .main_nav .restaurants.link a, #masthead .main_nav .restaurants.link a:visited {
  color: #0099ff; }

/*GENERAL PAGE PROPERTIES*/
/*---------------------------------------------*/
/*LEFT COLUMN*/
/*---------------------------------------------*/
#left_column {
  width: 706px; }
  #left_column .restaurants_content .more_links ul {
    display: inline; }
    #left_column .restaurants_content .more_links ul li {
      display: inline;
      margin: 0 10px 0 0;
      font-size: 11px;
      line-height: 18px; }
      #left_column .restaurants_content .more_links ul li .black_link {
        color: #0099ff !important;
        text-decoration: underline; }
      #left_column .restaurants_content .more_links ul li .black_link:hover {
        color: #597686 !important; }
  #left_column .restaurants_content .three_item_carousel .top_section_header {
    margin: 0; }
  #left_column .restaurants_content .browse_by_interest_horizontal {
    margin: 11px 0 0 0; }
    #left_column .restaurants_content .browse_by_interest_horizontal .title {
      font-size: 20px;
      font-weight: bold;
      line-height: 23px;
      height: 95px;
      width: 168px; }
    #left_column .restaurants_content .browse_by_interest_horizontal .interest_section ul .interest_item {
      margin-bottom: 5px; }
  #left_column .restaurants_content .more_link {
    padding: 0;
    margin: 5px 0;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold; }
    #left_column .restaurants_content .more_link a, #left_column .restaurants_content .more_link .fake_link {
      text-decoration: underline; }

/*RIGHT COLUMN*/
/*---------------------------------------------*/
#right_column {
  width: 240px; }
.personalities .label {
  float: left;
  margin-bottom: 2px;
  color: #8ea8b5;
  font-size: 9px; }
.personalities div, .personalities p, .personalities span {
  -moz-user-select: none;
  user-select: none; }

.character_icons {
  position: relative;
  float: right; }

.persona {
  float: left;
  width: 27px;
  height: 31px;
  margin: 0 0 0 4px;
  cursor: pointer;
  background-image: url(/assets/characters/liked_by_sprite.png); }
  .persona .dialog_box {
    position: absolute;
    bottom: 41px;
    right: -9px;
    z-index: 6000;
    background-color: #889aa4;
    border: 4px solid #889aa4;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px; }
  .persona .dialog_content_wrapper {
    width: 190px;
    height: auto;
    padding: 9px 7px;
    color: #000;
    text-align: left;
    background-color: #f7f9fb;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px; }
  .persona .dialog_img {
    width: 32px;
    height: 87px;
    background-image: url(/assets/characters/liked_by_sprite.png); }
  .persona .dialog_content {
    width: 134px;
    padding: 7px 0 0 11px;
    font-size: 13px;
    line-height: 16px; }
    .persona .dialog_content .title {
      text-transform: uppercase; }
    .persona .dialog_content p {
      padding: 0; }
  .persona .close_btn, .persona .close_btn:hover {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 8px;
    height: 8px;
    background-image: url(/assets/characters/liked_by_sprite.png);
    background-position: -172px -138px; }
  .persona .point {
    position: relative;
    bottom: 11px;
    left: 1px;
    width: 0;
    height: 0;
    border-top: 12px solid #889AA4;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent; }
  .persona .inner_point {
    position: absolute;
    bottom: -5px;
    left: -10px;
    z-index: 6001;
    width: 0;
    height: 0;
    border-top: 10px solid #F7F9FB;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    overflow: hidden; }
  .persona.lucas {
    background-position: 0 0; }
    .persona.lucas:hover {
      background-position: -201px 0; }
    .persona.lucas .title {
      color: #4175ab; }
    .persona.lucas .dialog_img {
      background-position: 0 -209px; }
  .persona.adriana {
    background-position: -28px 0; }
    .persona.adriana:hover {
      background-position: -231px 0; }
    .persona.adriana .title {
      color: #c675b1; }
    .persona.adriana .dialog_img {
      background-position: -32px -209px; }
  .persona.jonah {
    background-position: -56px 0; }
    .persona.jonah:hover {
      background-position: -261px 0; }
    .persona.jonah .title {
      color: #95c946; }
    .persona.jonah .dialog_img {
      background-position: -64px -209px; }
  .persona.emma {
    background-position: -84px 0; }
    .persona.emma:hover {
      background-position: -291px 0; }
    .persona.emma .title {
      color: #ffb637; }
    .persona.emma .dialog_img {
      background-position: -96px -209px; }
.category_interest .headline.sub_headline {
  margin: 0 0 7px;
  text-decoration: underline; }
  .category_interest .headline.sub_headline a:hover {
    color: #597686; }
.category_interest .browse_by_category {
  width: 502px; }
  .category_interest .browse_by_category .object_photo {
    display: block;
    margin: 0 4px 0 0; }
    .category_interest .browse_by_category .object_photo img {
      display: block;
      width: 75px;
      height: 50px; }
  .category_interest .browse_by_category ul {
    width: 154px;
    overflow: hidden;
    height: 60px;
    position: relative;
    top: -2px; }
    .category_interest .browse_by_category ul .object_name {
      margin: 0 0 3px;
      text-shadow: 0 0 0.08em #dadada; }
      .category_interest .browse_by_category ul .object_name a {
        display: inline-block;
        padding: 0 0 0 11px; }
      .category_interest .browse_by_category ul .object_name .hovered {
        background: url(/assets/content_bg/application_sprite.png) -114px -273px no-repeat transparent; }
  .category_interest .browse_by_category .grey_text {
    color: #375363; }
  .category_interest .browse_by_category .grey_text:hover {
    color: #000; }
  .category_interest .browse_by_category .category_data {
    width: 235px;
    margin: 0 22px 0 0; }
    .category_interest .browse_by_category .category_data .headline.sub_headline {
      height: 20px;
      overflow: hidden;
      font-size: 17px; }
    .category_interest .browse_by_category .category_data .small_text {
      display: inline-block;
      zoom: 1;
      margin: 8px 0 3px 0; }
      .category_interest .browse_by_category .category_data .small_text .black_link {
        color: #aaa !important;
        text-decoration: underline; }
      .category_interest .browse_by_category .category_data .small_text .black_link:hover {
        color: #000 !important; }
  .category_interest .browse_by_category .category_data.last .inner_divider.dashed {
    display: none; }
.category_interest .more_links .label {
  width: 114px;
  display: inline-block;
  zoom: 1; }
.category_interest .more_links .small_text {
  line-height: 18px; }

/*MULTI-CATEGORY W/ LARGE THUMB: BROWSE BY  CATEGORY*/
/*---------------------------------------*/
.multi_category .category_section {
  float: left;
  width: 167px;
  padding: 0 4px;
  border-right: 1px dotted #d8d8d8; }
  .multi_category .category_section .headline.sub_headline {
    font-size: 17px; }
  .multi_category .category_section .object_photo {
    display: block; }
  .multi_category .category_section .thumbnail {
    display: block;
    width: 165px;
    height: 110px;
    border: 1px solid #ccc;
    border-radius: 4px; }
  .multi_category .category_section .img_name {
    font-size: 10px;
    color: #597686;
    padding: 5px 0 4px;
    margin: 0 0 5px;
    border-bottom: 1px solid #dae4e9;
    height: 18px; }
    .multi_category .category_section .img_name a, .multi_category .category_section .img_name a:visited {
      text-decoration: none; }
    .multi_category .category_section .img_name a:hover {
      text-decoration: underline; }
  .multi_category .category_section ul {
    height: 103px;
    overflow: hidden; }
    .multi_category .category_section ul li {
      margin: 0 0 3px; }
      .multi_category .category_section ul li .venue_name,
      .multi_category .category_section ul li .black_link {
        color: #375363 !important;
        text-decoration: underline;
        text-shadow: 0 0 0.08em #dadada; }
      .multi_category .category_section ul li .venue_name:hover,
      .multi_category .category_section ul li .black_link:hover {
        color: #000 !important; }
  .multi_category .category_section .inner_divider {
    margin-bottom: 4px; }
  .multi_category .category_section .small_text .black_link {
    color: #aaa !important;
    text-decoration: underline; }
  .multi_category .category_section .small_text .black_link:hover {
    color: #000 !important; }
.multi_category .category_section.five_venues ul {
  height: 103px; }
.multi_category .category_section.three_venues ul {
  height: 60px; }
.multi_category .category_section.first {
  padding-left: 0; }
.multi_category .category_section.last {
  border-right: none;
  padding-right: 0; }
/*For section with yellow background*/
/*------------------------------------------------*/
.browse_by_interest {
  background: #ffffe5;
  width: 174px;
  padding: 10px 15px; }
  .browse_by_interest .headline.sub_headline {
    color: #375363;
    text-decoration: none; }
  .browse_by_interest .inner_divider.dashed {
    height: 2px;
    margin: 0 0 6px; }
  .browse_by_interest ul .interest_item {
    margin: 0 0 9px;
    font-size: 13px;
    line-height: 13px; }
    .browse_by_interest ul .interest_item .black_link {
      text-shadow: 0 0 0.08em #dadada; }

/*For section under Browse by Personality pod*/
/*------------------------------------------------*/
.browse_by_interest_horizontal .title {
  float: left;
  padding: 0;
  width: 136px;
  height: 91px;
  font-size: 26px;
  line-height: 29px;
  color: #0099ff;
  text-align: right;
  margin: 0 30px 0 0; }
.browse_by_interest_horizontal .interest_section {
  float: left; }
  .browse_by_interest_horizontal .interest_section ul {
    width: 135px;
    padding: 3px 0 0; }
    .browse_by_interest_horizontal .interest_section ul .interest_item {
      margin: 0 0 3px;
      font-size: 13px;
      line-height: 18px; }
      .browse_by_interest_horizontal .interest_section ul .interest_item .black_link {
        color: #375363 !important;
        text-decoration: underline;
        text-shadow: 0 0 0.08em #dadada; }
      .browse_by_interest_horizontal .interest_section ul .interest_item .black_link:hover {
        color: #000 !important; }
/*************************************************
*
*	project:  	liteAccordion - horizontal accordion plugin for jQuery
*	author:   	Nicola Hibbert
*	url:	  	http://nicolahibbert.com/horizontal-accordion-jquery-plugin
*	demo:	  	http://www.nicolahibbert.com/demo/liteAccordion
*
/*************************************************/
/****************************************** Core */
.accordion {
  text-align: left;
  font: 'Helvetica Neue', Verdana, Arial, sans-serif; }
  .accordion ol {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .accordion li > .accordion_tab {
    color: black;
    font-weight: normal;
    margin: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    /*-webkit-transform: translateX(-100%) rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(-90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(-90deg);
    -o-transform-origin: right top;
    -ms-transform: translateX(-100%) rotate(-90deg);
    -ms-transform-origin: right top;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/ }
    .accordion li > .accordion_tab span {
      display: block;
      padding-right: 8%;
      /*text-align: right;*/
      height: 90%;
      margin-top: 5px; }
    .accordion li > .accordion_tab b {
      display: inline-block;
      position: absolute;
      top: 10%;
      top: 42%\9;
      left: 10%;
      left: 5%\9;
      text-align: center;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }
  .accordion li > .accordion_tab.selected:hover {
    cursor: default; }
  .accordion li > .accordion_tab:hover {
    cursor: pointer; }
  .accordion li > div {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    overflow: hidden;
    background: white; }
  .accordion noscript p {
    padding: 10px;
    margin: 0;
    background: white; }

/****************************************** PE Theme */
.pe .accordion_tab {
  background: url(/assets/common/personality_accordion_sprite.png) -83px -7px no-repeat transparent;
  height: 266px !important;
  width: 59px !important; }
  .pe .accordion_tab span {
    text-indent: -9999px; }
.pe .accordion_tab.selected {
  width: 75px !important; }
.pe .lucas .accordion_tab {
  background-position: -83px -7px; }
.pe .lucas .accordion_tab.selected {
  background-position: -6px -7px; }
.pe .lucas .suggestion a {
  color: #1662d0;
  text-decoration: underline; }
.pe .adriana .accordion_tab {
  background-position: -239px -7px; }
.pe .adriana .accordion_tab.selected {
  background-position: -157px -7px; }
.pe .adriana .suggestion a {
  color: #c579b2;
  text-decoration: underline; }
.pe .jonah .accordion_tab {
  background-position: -392px -7px; }
.pe .jonah .accordion_tab.selected {
  background-position: -311px -7px; }
.pe .jonah .suggestion a {
  color: #99c856;
  text-decoration: underline; }
.pe .emma .accordion_tab {
  background-position: -547px -7px; }
.pe .emma .accordion_tab.selected {
  background-position: -467px -7px; }
.pe .emma .suggestion a {
  color: #fab74c;
  text-decoration: underline; }
.pe .character_content.opened {
  background: url(/assets/common/personality_accordion_sprite.png) 53px -306px no-repeat white; }
.pe .character_content {
  width: 440px !important;
  height: 242px !important;
  padding: 9px 15px 9px 75px !important; }
  .pe .character_content .headline.sub_headline {
    color: #375363;
    padding: 0 0 2px;
    font-size: 16px;
    line-height: 17px;
    margin: 5px 0 0 0;
    /*FOR IE8 AND BELOW*/
    font-size: 15px\9; }
  .pe .character_content p {
    padding-bottom: 0; }
  .pe .character_content .suggestion {
    font-weight: bold;
    font-size: 17px;
    color: #adc0c9;
    display: block;
    margin: 0 0 5px 0; }
  .pe .character_content .venue_item_wrapper {
    float: left;
    height: 131px;
    overflow: hidden;
    border-top: 1px dashed #ADC0C9;
    border-bottom: 1px dashed #ADC0C9;
    padding: 10px 0;
    margin: 6px 0 4px; }
    .pe .character_content .venue_item_wrapper .venue_item {
      width: 200px;
      height: 55px;
      overflow: hidden;
      padding: 0 0 10px;
      margin: 0 20px 10px 0;
      border-bottom: 1px dashed #adc0c9; }
      .pe .character_content .venue_item_wrapper .venue_item .venue_img {
        display: block;
        width: 75px;
        height: 50px;
        margin: 0 12px 0 0; }
        .pe .character_content .venue_item_wrapper .venue_item .venue_img img {
          display: block;
          width: 75px;
          height: 50px; }
      .pe .character_content .venue_item_wrapper .venue_item .venue_name {
        position: relative;
        margin: 0 0 1px;
        padding: 0;
        line-height: 13px;
        text-shadow: 0 0 0.08em #dadada; }
        .pe .character_content .venue_item_wrapper .venue_item .venue_name a, .pe .character_content .venue_item_wrapper .venue_item .venue_name a:visited {
          color: #000; }
          .pe .character_content .venue_item_wrapper .venue_item .venue_name a:hover, .pe .character_content .venue_item_wrapper .venue_item .venue_name a:visited:hover {
            color: #597686; }
      .pe .character_content .venue_item_wrapper .venue_item .venue_type {
        margin: 4px 0 0;
        padding: 0 0 0 87px; }
  .pe .character_content .tags_and_more .tags {
    max-width: 300px;
    height: 20px;
    overflow: hidden;
    padding: 0; }
    .pe .character_content .tags_and_more .tags .label {
      font-size: 9px;
      line-height: 11px;
      color: #8ea8b5;
      margin: 0 20px 0 0;
      font-family: Arial, sans-serif; }
    .pe .character_content .tags_and_more .tags .black_link {
      margin: 0 13px 0 0;
      text-decoration: underline;
      font-size: 12px; }
  .pe .character_content .tags_and_more .fake_link.float_right {
    font-size: 11px;
    text-decoration: underline; }

/****************************************** Basic */
.basic li > .accordion_tab {
  background: #333;
  color: white;
  line-height: 1.8em; }

.basic li > div h3 {
  margin: 15px 10px; }

.basic li > div p {
  margin: 10px;
  font-size: 14px; }

/****************************************** Dark */
.dark {
  border: 9px solid #353535;
  border-bottom-width: 8px;
  padding: 5px 5px 6px 0;
  background: #030303;
  -webkit-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4); }

.dark li > .accordion_tab {
  background: #030303;
  font-size: 16px;
  line-height: 2.7em;
  text-shadow: 0 -1px 0 #030303; }

.dark li > .accordion_tab span {
  background: #353535;
  color: white; }

.dark li > .accordion_tab b {
  background: #353535\9;
  color: #030303;
  font-size: 20px;
  text-shadow: -1px 1px 0 #5b5b5b; }

.dark .accordion_tab.selected span, .dark .accordion_tab.selected span:hover {
  background: #434343;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #353535), color-stop(1, #555555));
  background: -moz-linear-gradient(top left, #353535 0%, #555555 100%); }

.dark .accordion_tab.selected b {
  background: #434343\9; }

/*** .dark li > div { background: #030303; margin-left: 5px; } */
.dark li > div {
  background: #b9b9b9;
  margin-left: 5px; }

/*************************************** Rounded */
.rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.rounded li > .accordion_tab span {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/***************************************** Light */
/**************************************** Stitch */
/*BEGIN READ MORE/READ LESS CSS*/
/*-----------------------------------*/
.read_more .clipped {
  overflow: hidden; }
.read_more p:last-of-type {
  padding-bottom: 0; }
.read_more .more_toggle,
.read_more .less_toggle {
  border-top: 1px solid #dbdada;
  padding-top: 5px; }

.read_more.copy_block_missing_venue_event {
  position: relative; }
  .read_more.copy_block_missing_venue_event .clipped {
    height: 71px; }
  .read_more.copy_block_missing_venue_event .more_toggle {
    position: absolute;
    bottom: 2px;
    right: 0;
    padding: 0;
    background: #fff;
    border: none; }
    .read_more.copy_block_missing_venue_event .more_toggle span {
      text-decoration: underline; }
  .read_more.copy_block_missing_venue_event .less_toggle {
    margin-top: 7px; }
    .read_more.copy_block_missing_venue_event .less_toggle span {
      text-decoration: underline; }

.read_more_left {
  position: relative;
  float: left; }

.overview_copy_block .clipped {
  height: 110px; }
.overview_copy_block .more_toggle,
.overview_copy_block .less_toggle {
  margin-top: 7px; }

.read_more.pull_down .more_toggle,
.read_more.pull_down .less_toggle {
  background: url("/assets/content_bg/readmore_clipped_sprite.png") 0 0 repeat-x transparent;
  margin-top: -6px !important;
  border: none;
  text-align: center;
  padding: 0 0 17px;
  height: 19px;
  position: relative; }
.read_more.pull_down .fake-link {
  background: url("/assets/content_bg/readmore_clipped_sprite.png") 0 -43px no-repeat transparent;
  display: inline-block;
  font-size: 10px;
  width: 89px;
  height: 17px;
  position: relative;
  top: 12px;
  line-height: 10px;
  text-decoration: underline; }
.read_more.pull_down .blue_text.arrow,
.read_more.pull_down .blue-text.arrow {
  display: none; }
/*

*/
.copy_block_missing_venue_event .clipped p {
  padding: 0; }
.copy_block_missing_venue_event p {
  line-height: 17px; }
.copy_block_missing_venue_event .desc {
  width: 334px; }
.copy_block_missing_venue_event .missing_image {
  text-indent: -9999px;
  width: 344px;
  height: 62px;
  cursor: pointer; }

.missing_restaurant .copy_block_missing_venue_event .missing_image {
  background: url(/assets/landing_pages/missing_restaurant.gif) 0 0 no-repeat transparent; }

.missing_something .inner_divider.dashed {
  height: 12px; }
.missing_something .copy_block_missing_venue_event .missing_image {
  background: url(/assets/landing_pages/missing_something.gif) 0 0 no-repeat transparent; }

.missing_bar_club .copy_block_missing_venue_event .missing_image {
  background: url(/assets/landing_pages/missing_bar_club.gif) 0 0 no-repeat transparent; }

.missing_event .copy_block_missing_venue_event .missing_image {
  background: url(/assets/landing_pages/missing_event.gif) 0 0 no-repeat transparent; }

.missing_entertainer .copy_block_missing_venue_event .missing_image {
  background: url(/assets/landing_pages/missing_entertainer.gif) 0 0 no-repeat transparent; }

.missing_sports .copy_block_missing_venue_event .missing_image {
  background: url(/assets/landing_pages/missing_sports.gif) 0 0 no-repeat transparent; }
.browse_by_neighborhood .neighborhood_content {
  width: 167px;
  margin: 0 0 0 12px; }
  .browse_by_neighborhood .neighborhood_content:first-child {
    margin-left: 0; }
  .browse_by_neighborhood .neighborhood_content .headline.sub_headline {
    height: 21px;
    margin: 0 0 6px;
    font-size: 17px;
    line-height: 18px;
    overflow: hidden; }
  .browse_by_neighborhood .neighborhood_content .headline.sub_headline.two_line {
    height: 44px;
    margin: 0 0 1px; }
  .browse_by_neighborhood .neighborhood_content .black_link {
    text-decoration: underline; }
  .browse_by_neighborhood .neighborhood_content .venue_img {
    display: block;
    margin: 0 0 9px; }
    .browse_by_neighborhood .neighborhood_content .venue_img img {
      display: block;
      width: 165px;
      height: 110px;
      border: 1px solid #ccc;
      border-radius: 4px; }
  .browse_by_neighborhood .neighborhood_content ul {
    height: 123px;
    /*previously 97px*/
    overflow: hidden; }
    .browse_by_neighborhood .neighborhood_content ul li {
      margin: 0 0 7px;
      border-bottom: 1px dashed #adc0c9;
      padding-bottom: 2px; }
      .browse_by_neighborhood .neighborhood_content ul li .black_link {
        text-shadow: 0 0 0.08em #dadada; }
      .browse_by_neighborhood .neighborhood_content ul li .venue_type {
        padding: 2px 0 0 0;
        height: 11px;
        overflow: hidden; }
  .browse_by_neighborhood .neighborhood_content .see_more {
    color: #aaa !important;
    text-decoration: underline;
    margin: 0 0 2px;
    display: inline-block;
    line-height: 12px; }
  .browse_by_neighborhood .neighborhood_content .see_more:hover {
    color: #000 !important; }
.browse_by_neighborhood .neighborhood_content.last {
  margin: 0; }
.browse_by_neighborhood .more_links .label {
  display: inline-block;
  width: 182px;
  zoom: 1; }
.browse_by_neighborhood .more_links a:link,
.browse_by_neighborhood .more_links .fake_link {
  white-space: nowrap; }
.browse_by_neighborhood .more_links .blue_text {
  text-decoration: underline; }

.browse_by_neighborhood.one_venue .neighborhood_content ul {
  height: 34px; }

.browse_by_neighborhood.two_venues .neighborhood_content ul {
  height: 76px; }

.browse_by_neighborhood.three_venues .neighborhood_content ul {
  height: 123px; }
/*BEGIN CAROUSEL*/
/*------------------------------------------*/
.three_item_carousel {
  width: 706px;
  /* Override styles from liked_by.scss */ }
  .three_item_carousel .page_count {
    display: inline-block;
    padding: 2px 0 0; }
    .three_item_carousel .page_count .dot {
      float: left;
      width: 8px;
      height: 8px;
      margin-left: 10px;
      background-color: #16aeeb;
      border-radius: 50%;
      cursor: pointer; }
      .three_item_carousel .page_count .dot:hover {
        background: #fff; }
    .three_item_carousel .page_count.slide1 .dot.one {
      background: #fff; }
    .three_item_carousel .page_count.slide2 .dot.two {
      background: #fff; }
    .three_item_carousel .page_count.slide3 .dot.three {
      background: #fff; }
    .three_item_carousel .page_count.slide4 .dot.four {
      background: #fff; }
  .three_item_carousel .scroller_wrapper {
    padding: 8px 0 0 0;
    position: relative; }
    .three_item_carousel .scroller_wrapper .screens_container {
      height: 347px;
      overflow: hidden;
      position: relative; }
      .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper {
        width: 8000px;
        position: absolute;
        left: 0;
        top: 0; }
        .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item {
          width: 212px;
          height: 364px;
          margin: 0 17px 0 0;
          padding: 0 17px 0 0;
          border-right: 1px dotted #ccc; }
          .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .headline.sub_headline {
            font-size: 16px;
            line-height: 18px;
            height: 18px;
            overflow: hidden;
            margin: 0 0 4px; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .headline.sub_headline a, .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .headline.sub_headline a:visited {
              text-decoration: underline; }
          .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .venue_type {
            padding: 0;
            margin: 2px 0 6px 0;
            line-height: 15px;
            height: 12px;
            overflow: hidden; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .venue_type .icon_types {
              margin: 0 5px 0 0; }
          .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .item_img {
            display: block;
            width: 210px;
            height: 140px;
            border: 1px solid #CCC;
            overflow: hidden !important; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .item_img img {
              width: 210px;
              height: 140px; }
          .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .quick_nav_links {
            height: 14px;
            margin: 0px 0 10px;
            border-bottom: 1px solid #dae4e9;
            /* NOTE (VH) remove later when styles are fixed for all l<li> in three_item_horizontal_scroller*/ }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .quick_nav_links li {
              margin: 0 9px 0 0;
              padding: 0;
              border-bottom: none; }
          .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details {
            height: 80px;
            overflow: hidden; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc {
              position: relative;
              height: 80px;
              font-size: 12px;
              line-height: 16px; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .blue_tag {
                height: 10px;
                background-color: #0099ff;
                color: #fff;
                float: left;
                height: 10px;
                display: inline-block;
                font-size: 10px;
                line-height: 11px;
                padding: 2px 3px 3px 5px;
                border-radius: 2px 0 0 2px;
                position: relative;
                margin: 0 13px 0 0; }
                .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .blue_tag a:link, .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .blue_tag a:visited {
                  color: #fff;
                  text-decoration: none; }
                .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .blue_tag a:hover {
                  text-decoration: none; }
                .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .blue_tag .point {
                  width: 1px;
                  height: 0;
                  overflow: hidden;
                  border-top: 8px solid transparent;
                  border-left: 8px solid #0099ff;
                  border-right: 7px solid transparent;
                  border-bottom: 7px solid transparent;
                  position: absolute;
                  right: -15px;
                  bottom: 0; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .info {
                display: block;
                color: #000;
                text-decoration: none; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .ellipses_dots {
                position: absolute;
                right: 0;
                bottom: 0;
                background: #fff;
                overflow: hidden; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .read_more {
                position: relative;
                bottom: 2px;
                font-size: 11px; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc.event {
              height: 31px;
              margin: 9px 0 0; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details p {
              padding-bottom: 0; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .date_time {
              height: 17px;
              overflow: hidden; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .date_time .small_text {
                font-size: 16px;
                line-height: 14px;
                font-weight: bold;
                text-transform: inherit; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .event_venue {
              font-size: 15px;
              margin: 6px 0 0;
              height: 18px;
              overflow: hidden; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .event_venue .black_link {
                color: #375363 !important; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .event_venue .black_link:hover {
                color: #000 !important; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .event_venue .nourl {
                text-decoration: none; }
                .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .event_venue .nourl:hover {
                  color: #375363 !important;
                  text-decoration: none !important;
                  cursor: default; }
          .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .tags a, .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .tags a:visited, .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .tags span {
            display: inline-block;
            float: left;
            margin: 0 6px 0 0;
            color: #000;
            font-size: 11px;
            line-height: 14px;
            text-decoration: underline;
            text-transform: lowercase;
            cursor: pointer; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .tags a:hover, .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .tags a:visited:hover, .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .tags span:hover {
              color: #597686; }
    .three_item_carousel .scroller_wrapper .prev_next_btns {
      background: url(/assets/content_bg/application_sprite.png) no-repeat scroll -152px -2957px transparent;
      cursor: pointer;
      height: 64px;
      position: absolute;
      text-indent: -9999px;
      top: 25%;
      width: 19px; }
    .three_item_carousel .scroller_wrapper .prev_next_btns.disabled {
      display: none;
      cursor: default; }
    .three_item_carousel .scroller_wrapper .prev_next_btns.prev_btn {
      left: -21px; }
    .three_item_carousel .scroller_wrapper .prev_next_btns.prev_btn:hover {
      background-position: -152px -3021px; }
    .three_item_carousel .scroller_wrapper .prev_next_btns.next_btn {
      background-position: -171px -2957px;
      right: -21px; }
    .three_item_carousel .scroller_wrapper .prev_next_btns.next_btn:hover {
      background-position: -171px -3021px; }
  .three_item_carousel .personalities .label {
    float: left;
    margin: 0 10px 0 0; }
  .three_item_carousel .persona .dialog_box {
    right: 0; }
  .three_item_carousel .persona.emma .point {
    left: -1px; }

.three_item_carousel.two_line_title .scroller_wrapper .screens_container {
  height: 365px; }
  .three_item_carousel.two_line_title .scroller_wrapper .screens_container .screens_wrapper .spot_item {
    height: 378px; }
    .three_item_carousel.two_line_title .scroller_wrapper .screens_container .screens_wrapper .spot_item .headline.sub_headline {
      font-size: 16px;
      height: 38px;
      overflow: hidden;
      line-height: 18px; }
    .three_item_carousel.two_line_title .scroller_wrapper .screens_container .screens_wrapper .spot_item .details {
      height: 79px;
      overflow: hidden; }
      .three_item_carousel.two_line_title .scroller_wrapper .screens_container .screens_wrapper .spot_item .details p {
        padding: 0; }

.three_item_carousel.no_desc .scroller_wrapper .screens_container {
  height: 259px; }
  .three_item_carousel.no_desc .scroller_wrapper .screens_container .screens_wrapper .spot_item {
    height: auto; }
    .three_item_carousel.no_desc .scroller_wrapper .screens_container .screens_wrapper .spot_item .details {
      height: auto; }

.three_item_carousel.no_desc.two_line_title .scroller_wrapper .screens_container {
  height: 279px; }

.three_item_carousel.event_venues .scroller_wrapper .screens_container {
  height: 419px; }
  .three_item_carousel.event_venues .scroller_wrapper .screens_container .spot_item {
    height: 428px; }
    .three_item_carousel.event_venues .scroller_wrapper .screens_container .spot_item .event_list {
      height: 150px;
      margin: 0 0 8px;
      border-bottom: 1px dashed #ADC0C9; }
      .three_item_carousel.event_venues .scroller_wrapper .screens_container .spot_item .event_list li {
        margin: 0 0 7px;
        padding-top: 8px;
        border-top: 1px dashed #ADC0C9; }
        .three_item_carousel.event_venues .scroller_wrapper .screens_container .spot_item .event_list li:first-child {
          padding-top: 0;
          border-top: 0; }
    .three_item_carousel.event_venues .scroller_wrapper .screens_container .spot_item .see_more {
      color: #AAA;
      text-decoration: underline;
      margin: 0 0 2px;
      display: inline-block;
      line-height: 12px; }
    .three_item_carousel.event_venues .scroller_wrapper .screens_container .spot_item .see_more:hover {
      color: black; }
/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
#right_column .recent_articles.pod_rounded,
.right_column .recent_articles.pod_rounded,
.right_container .recent_articles.pod_rounded {
  margin: 0 0 12px;
  padding: 13px 14px;
  line-height: 16px; }
  #right_column .recent_articles.pod_rounded .title,
  .right_column .recent_articles.pod_rounded .title,
  .right_container .recent_articles.pod_rounded .title {
    color: #09F;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 6px; }
  #right_column .recent_articles.pod_rounded .headline.sub_headline,
  .right_column .recent_articles.pod_rounded .headline.sub_headline,
  .right_container .recent_articles.pod_rounded .headline.sub_headline {
    display: block;
    text-decoration: underline;
    margin: 0 0 13px;
    font-size: 21px;
    line-height: 22px;
    color: #375363;
    font-weight: bold; }
  #right_column .recent_articles.pod_rounded .headline.sub_headline:hover,
  .right_column .recent_articles.pod_rounded .headline.sub_headline:hover,
  .right_container .recent_articles.pod_rounded .headline.sub_headline:hover {
    color: #000; }
  #right_column .recent_articles.pod_rounded .object_photo,
  .right_column .recent_articles.pod_rounded .object_photo,
  .right_container .recent_articles.pod_rounded .object_photo {
    display: block;
    margin: 0 0 11px;
    border: 1px solid #ADC0C9; }
    #right_column .recent_articles.pod_rounded .object_photo img,
    .right_column .recent_articles.pod_rounded .object_photo img,
    .right_container .recent_articles.pod_rounded .object_photo img {
      display: block;
      width: 210px;
      height: 140px; }
  #right_column .recent_articles.pod_rounded .desc,
  .right_column .recent_articles.pod_rounded .desc,
  .right_container .recent_articles.pod_rounded .desc {
    position: relative;
    height: 106px;
    overflow: hidden; }
    #right_column .recent_articles.pod_rounded .desc .ellipses_dots,
    .right_column .recent_articles.pod_rounded .desc .ellipses_dots,
    .right_container .recent_articles.pod_rounded .desc .ellipses_dots {
      font-size: 12px;
      line-height: 15px;
      background: #fff;
      position: absolute;
      right: 0;
      bottom: -1px;
      max-width: 334px;
      height: 15px;
      overflow: hidden; }
  #right_column .recent_articles.pod_rounded .other_articles,
  .right_column .recent_articles.pod_rounded .other_articles,
  .right_container .recent_articles.pod_rounded .other_articles {
    border-top: 1px solid #8EA8B5;
    margin: 11px 0 4px;
    border-bottom: 2px solid #8EA8B5;
    padding: 0 0 3px; }
    #right_column .recent_articles.pod_rounded .other_articles .photo_item,
    .right_column .recent_articles.pod_rounded .other_articles .photo_item,
    .right_container .recent_articles.pod_rounded .other_articles .photo_item {
      width: 100px;
      margin: 0 10px 8px 0;
      padding: 11px 0 0;
      line-height: 15px; }
      #right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo,
      .right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo,
      .right_container .recent_articles.pod_rounded .other_articles .photo_item .object_photo {
        border: 1px solid #ADC0C9;
        display: block;
        margin: 0 0 3px; }
        #right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo img,
        .right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo img,
        .right_container .recent_articles.pod_rounded .other_articles .photo_item .object_photo img {
          display: block;
          width: 98px;
          height: 65px; }
    #right_column .recent_articles.pod_rounded .other_articles li:last-child,
    .right_column .recent_articles.pod_rounded .other_articles li:last-child,
    .right_container .recent_articles.pod_rounded .other_articles li:last-child {
      margin-right: 0; }
    #right_column .recent_articles.pod_rounded .other_articles li.last,
    .right_column .recent_articles.pod_rounded .other_articles li.last,
    .right_container .recent_articles.pod_rounded .other_articles li.last {
      margin-right: 0; }
  #right_column .recent_articles.pod_rounded .more_link,
  .right_column .recent_articles.pod_rounded .more_link,
  .right_container .recent_articles.pod_rounded .more_link {
    text-align: right;
    line-height: 10px; }
    #right_column .recent_articles.pod_rounded .more_link .blue_text.arrow,
    .right_column .recent_articles.pod_rounded .more_link .blue_text.arrow,
    .right_container .recent_articles.pod_rounded .more_link .blue_text.arrow {
      color: #FF9000;
      top: 0; }
/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
.upcoming_events.pod_rounded {
  margin: 0 0 12px;
  padding: 13px 14px; }
  .upcoming_events.pod_rounded .title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
    color: #375363;
    border-bottom: 1px dashed #ADC0C9;
    padding: 0 0 7px;
    margin: 0 0 12px; }
  .upcoming_events.pod_rounded .object_photo {
    display: block;
    margin: 0 0 8px;
    border: 1px solid #ADC0C9; }
    .upcoming_events.pod_rounded .object_photo img {
      display: block;
      width: 210px;
      height: 140px;
      float: none;
      /* TODO(VH): Remove float when no longer using rounded corder JS. */ }
  .upcoming_events.pod_rounded .img_name {
    padding: 0 0 6px;
    margin: 0 0 8px;
    border-bottom: 1px solid #dae4e9;
    text-transform: uppercase;
    font-size: 10px;
    color: #09f;
    line-height: 10px;
    vertical-align: top;
    height: 10px; }
    .upcoming_events.pod_rounded .img_name a {
      display: inline-block;
      border-left: 1px solid #e4ebef;
      height: 10px;
      overflow: hidden;
      width: 160px;
      text-transform: none;
      padding: 0 0 0 6px;
      margin: 0 0 0 4px;
      text-decoration: none; }
  .upcoming_events.pod_rounded .object_item {
    border-bottom: 1px dashed #ADC0C9;
    padding: 0 0 8px;
    margin: 0 0 8px;
    position: relative; }
    .upcoming_events.pod_rounded .object_item .point {
      display: none;
      position: absolute;
      top: 10px;
      left: -15px;
      border-top: 7px solid transparent;
      border-left: 7px solid #09f;
      border-right: 7px solid transparent;
      border-bottom: 7px solid transparent; }
    .upcoming_events.pod_rounded .object_item .date_block {
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#eff2f4), to(#d5dbe0));
      background: -moz-linear-gradient(top, #eff2f4, #d5dbe0);
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
      width: 28px;
      margin: 0 10px 0 0;
      text-align: center;
      border-left: 1px solid #E0E4E7;
      border-right: 1px solid #E0E4E7;
      border-radius: 2px 2px 2px 2px;
      color: #09f;
      text-shadow: 1px 1px 1px #fff;
      font-family: Arial, sans-serif; }
      .upcoming_events.pod_rounded .object_item .date_block .month {
        font-size: 8px;
        line-height: 4px;
        padding: 5px 0 2px;
        font-weight: bold;
        text-transform: uppercase; }
      .upcoming_events.pod_rounded .object_item .date_block .day {
        font-size: 18px;
        padding: 0 0 5px;
        border-bottom: 1px solid #B4BABE; }
    .upcoming_events.pod_rounded .object_item .name_and_type {
      width: 168px; }
      .upcoming_events.pod_rounded .object_item .name_and_type .black_link {
        display: block;
        line-height: 14px;
        margin: 0 0 3px; }
      .upcoming_events.pod_rounded .object_item .name_and_type .venue_type {
        padding: 0;
        margin: 0; }
  .upcoming_events.pod_rounded .object_item:last-of-type {
    border-bottom: 1px solid #ADC0C9; }
  .upcoming_events.pod_rounded .object_item.hovered .point {
    display: block; }
  .upcoming_events.pod_rounded .more_link {
    text-align: right;
    line-height: 10px; }
    .upcoming_events.pod_rounded .more_link .blue_text.arrow {
      color: #ff9000;
      top: 0; }
/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
.latest_reviews.pod_rounded {
  margin: 0 0 12px;
  padding: 13px 14px; }
  .latest_reviews.pod_rounded .title {
    color: #09F;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 6px; }
  .latest_reviews.pod_rounded .headline.sub_headline {
    display: block;
    text-decoration: underline;
    margin: 0 0 7px;
    font-size: 21px;
    line-height: 22px;
    color: #375363; }
  .latest_reviews.pod_rounded .headline.sub_headline:hover {
    color: #000; }
  .latest_reviews.pod_rounded .venue_type.top {
    padding: 0;
    margin: 0 0 6px; }
  .latest_reviews.pod_rounded .object_photo {
    display: block;
    margin: 0 0 5px;
    border: 1px solid #ADC0C9; }
    .latest_reviews.pod_rounded .object_photo img {
      display: block;
      width: 210px;
      height: 140px; }
  .latest_reviews.pod_rounded .quick_nav_links {
    border-bottom: 1px dashed #ADC0C9;
    padding: 0 0 8px;
    margin: 0 0 8px; }
  .latest_reviews.pod_rounded .date {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    color: #8EA8B5; }
  .latest_reviews.pod_rounded .desc {
    position: relative;
    height: 106px;
    overflow: hidden; }
    .latest_reviews.pod_rounded .desc .ellipses_dots {
      font-size: 12px;
      line-height: 15px;
      background: #fff;
      position: absolute;
      right: 0;
      bottom: -1px;
      max-width: 334px;
      height: 15px;
      overflow: hidden; }
  .latest_reviews.pod_rounded .other_venues {
    border-top: 1px solid #ADC0C9;
    margin: 10px 0 0 0;
    padding: 6px 0 0 0; }
    .latest_reviews.pod_rounded .other_venues .venue_item {
      padding: 0 0 1px;
      margin: 0 0 5px;
      border-bottom: 1px dashed #ADC0C9; }
      .latest_reviews.pod_rounded .other_venues .venue_item .venue_type {
        text-transform: none;
        display: block;
        margin-top: -2px; }
    .latest_reviews.pod_rounded .other_venues .venue_item:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0; }
#right_column .section_divider,
.right_container .section_divider {
  height: 6px !important; }
#right_column .gptp_right_rail,
.right_container .gptp_right_rail {
  width: 206px;
  padding-bottom: 8px;
  margin-bottom: 12px; }
  #right_column .gptp_right_rail .title,
  .right_container .gptp_right_rail .title {
    margin: 0 0 15px;
    color: #375363;
    font-size: 24px; }
  #right_column .gptp_right_rail table,
  .right_container .gptp_right_rail table {
    position: relative;
    left: -3px;
    width: 206px; }
  #right_column .gptp_right_rail .writer_thumbnail,
  .right_container .gptp_right_rail .writer_thumbnail {
    padding: 0 4px 4px 0; }
    #right_column .gptp_right_rail .writer_thumbnail img,
    .right_container .gptp_right_rail .writer_thumbnail img {
      opacity: .85; }
    #right_column .gptp_right_rail .writer_thumbnail a:link,
    .right_container .gptp_right_rail .writer_thumbnail a:link {
      display: block;
      width: 50px;
      height: 50px; }
    #right_column .gptp_right_rail .writer_thumbnail a:hover img,
    .right_container .gptp_right_rail .writer_thumbnail a:hover img {
      opacity: 100; }
  #right_column .gptp_right_rail .meet_link a, #right_column .gptp_right_rail .meet_link .fake_link,
  #right_column .gptp_right_rail .learn_link a,
  #right_column .gptp_right_rail .learn_link .fake_link,
  .right_container .gptp_right_rail .meet_link a,
  .right_container .gptp_right_rail .meet_link .fake_link,
  .right_container .gptp_right_rail .learn_link a,
  .right_container .gptp_right_rail .learn_link .fake_link {
    text-decoration: underline; }
  #right_column .gptp_right_rail .meet_link .blue_text.arrow,
  #right_column .gptp_right_rail .learn_link .blue_text.arrow,
  .right_container .gptp_right_rail .meet_link .blue_text.arrow,
  .right_container .gptp_right_rail .learn_link .blue_text.arrow {
    top: 0;
    color: #FF9000; }
  #right_column .gptp_right_rail .app_btn,
  .right_container .gptp_right_rail .app_btn {
    display: block;
    margin-top: 2px;
    background-image: url(/assets/common/right_colmun_sprite.png);
    background-repeat: no-repeat; }
  #right_column .gptp_right_rail .app_btn.writer,
  .right_container .gptp_right_rail .app_btn.writer {
    width: 86px;
    height: 46px;
    margin-left: -7px;
    background-position: 0 -422px; }
  #right_column .gptp_right_rail .app_btn.writer:hover,
  .right_container .gptp_right_rail .app_btn.writer:hover {
    background-position: 0 -476px; }
  #right_column .gptp_right_rail .app_btn.photographer,
  .right_container .gptp_right_rail .app_btn.photographer {
    width: 134px;
    height: 46px;
    margin-right: -7px;
    background-position: -86px -422px; }
  #right_column .gptp_right_rail .app_btn.photographer:hover,
  .right_container .gptp_right_rail .app_btn.photographer:hover {
    background-position: -86px -476px; }
#right_column .missing_venue_event,
#right_column .share_btn,
#right_column .subscribe_btn,
#right_column .follow_btns,
#right_column .ad,
.right_container .missing_venue_event,
.right_container .share_btn,
.right_container .subscribe_btn,
.right_container .follow_btns,
.right_container .ad {
  cursor: pointer;
  background-image: url(/assets/common/right_colmun_sprite.png);
  background-repeat: no-repeat; }
#right_column #right_rail_simple_share,
.right_container #right_rail_simple_share {
  position: absolute;
  top: -60px;
  left: -9px; }
#right_column .missing_venue_event,
.right_container .missing_venue_event {
  position: relative;
  right: -1px;
  width: 243px;
  height: 148px;
  background-position: -294px -233px; }
#right_column .share_btn,
#right_column .subscribe_btn,
#right_column .follow_btns,
.right_container .share_btn,
.right_container .subscribe_btn,
.right_container .follow_btns {
  position: relative;
  right: 0;
  width: 243px;
  height: 44px;
  margin: 0 0 3px; }
#right_column .share_btn,
.right_container .share_btn {
  background-position: -291px -52px; }
#right_column .subscribe_btn,
.right_container .subscribe_btn {
  background-position: -291px -102px; }
#right_column .follow_btns,
.right_container .follow_btns {
  background-position: -291px -152px;
  cursor: default !important; }
  #right_column .follow_btns a,
  .right_container .follow_btns a {
    display: block;
    position: absolute;
    top: 7px;
    width: 32px;
    height: 32px;
    margin: 0; }
    #right_column .follow_btns a img,
    .right_container .follow_btns a img {
      width: 32px;
      height: 32px; }
  #right_column .follow_btns .gig-followbar-providerButton,
  .right_container .follow_btns .gig-followbar-providerButton {
    right: 41px; }
  #right_column .follow_btns .gig-followbar-providerButton-last,
  .right_container .follow_btns .gig-followbar-providerButton-last {
    right: 5px; }
#right_column .ad,
.right_container .ad {
  width: 240px;
  height: 400px;
  background-position: 0 0; }
