.day_changer_head h1.blue_header,
.day_changer_head h2.blue_header {
  width: 325px; }
.day_changer_head .day_changer_heads.blue_header {
  padding-right: 12px;
  padding-left: 12px;
  font-size: 13px; }

.bars_clubs_content .day_changer_head h1.blue_header,
.bars_clubs_content .day_changer_head h2.blue_header {
  font-size: 19px; }
  .bars_clubs_content .day_changer_head h1.blue_header.day_changer_heads,
  .bars_clubs_content .day_changer_head h2.blue_header.day_changer_heads {
    font-size: 13px; }
