.blue_section_divider {
  font-size: 20px;
  line-height: 11px; }

@media only screen and (max-device-width: 1280px) {
  /* For android layouts only */
  .top_section_header .blue_section_divider {
    width: 323px; } }
.top_section_header {
  padding-bottom: 3px;
  margin-bottom: 8px; }
  .top_section_header .blue_section_divider {
    margin-top: 0;
    width: 326px; }
  .top_section_header .section {
    color: #bbe3fe;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1a76ce), to(#0098fe));
    background: -moz-linear-gradient(top, #1a76ce, #0098fe);
    font-size: 14px;
    height: 11px;
    line-height: 7px;
    padding: 14px 12px 19px;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px #bfbfbf;
    margin: 0 0 8px;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border-left: 1px dotted #40b0fd; }
    .top_section_header .section p {
      padding-bottom: 3px; }
    .top_section_header .section .small_text {
      font-size: 8px; }
  .top_section_header .section.Selected {
    /*background:#ff6600;*/
    /*color:#fff;*/
    /*cursor:default;*/
    /*position:relative;*/
    /*box-shadow: inset 0px 0px 3px 1px #ba4c01;*/
    /*border-radius: 4px;*/
    /*border-top: 1px inset #F86300;*/
    /*border-bottom: 1px inset #F86300;*/
    /*padding: 13px 13px 19px; */
    background: url(/assets/content_bg/browse_by_today_selected_bg.gif) 0 0 repeat-x #ff6600;
    color: white;
    cursor: default;
    position: relative;
    box-shadow: 0 1px 3px #bfbfbf;
    border-radius: 4px;
    border-top: 0px inset #FFB400;
    border-bottom: 0px inset #A14100;
    padding: 13px 12px 20px; }
    .top_section_header .section.Selected .point {
      display: none;
      width: 1px;
      height: 0;
      overflow: hidden;
      border-top: 10px solid #d35800;
      border-left: 10px dotted transparent;
      border-right: 10px dotted transparent;
      position: absolute;
      bottom: -7px;
      left: 36px; }
  .top_section_header .section.Selected:hover {
    background: url(/assets/content_bg/browse_by_today_selected_bg.gif) 0 0 repeat-x #ff6600; }
  .top_section_header .section:hover {
    color: #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#0099ff), to(#076fd1));
    background: -moz-linear-gradient(top, #0099ff, #076fd1);
    cursor: pointer; }
  .top_section_header .today.section {
    padding-left: 18px;
    padding-right: 17px; }
  .top_section_header .tomorrow.section.Selected .point {
    left: 51px; }
  .top_section_header .more_dates {
    position: relative;
    float: left; }
    .top_section_header .more_dates .section {
      padding-left: 18px;
      padding-right: 18px; }
    .top_section_header .more_dates .date_picker_block {
      top: 52px;
      left: -25px;
      width: 146px;
      height: 225px;
      box-shadow: 0 1px 2px #628495; }
      .top_section_header .more_dates .date_picker_block .point {
        left: 102px; }
      .top_section_header .more_dates .date_picker_block .Notice {
        font-size: 11px; }
      .top_section_header .more_dates .date_picker_block .datepicker {
        width: 149px !important; }
        .top_section_header .more_dates .date_picker_block .datepicker .datepickerContainer {
          width: 149px !important; }
      .top_section_header .more_dates .date_picker_block .controls .clear_link {
        display: none; }

.top_section_content .inner_divider.solid {
  height: 2px; }
.top_section_content .metros_slider {
  padding: 0 0 5px; }
.top_section_content .featured_item {
  position: relative;
  float: left;
  width: 347px;
  min-height: 311px; }
  .top_section_content .featured_item .item_img {
    display: block;
    width: 345px;
    height: 230px;
    padding-bottom: 57px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    overflow: hidden; }
    .top_section_content .featured_item .item_img img {
      display: block;
      width: 345px;
      height: 230px; }
  .top_section_content .featured_item .featured_caption {
    position: absolute;
    bottom: 23px;
    left: -29px;
    width: 335px;
    padding: 10px 10px 10px 29px;
    background-color: #375363;
    background: url(/assets/home/featured_item_bg_repeat.png);
    background-repeat: repeat-y;
    border-left: 2px solid #6da5c4;
    border-radius: 2px 0 2px 2px; }
    .top_section_content .featured_item .featured_caption .headline.sub_headline {
      margin: 0 0 6px; }
      .top_section_content .featured_item .featured_caption .headline.sub_headline a, .top_section_content .featured_item .featured_caption .headline.sub_headline a:visited {
        color: #fff;
        text-decoration: none !important; }
    .top_section_content .featured_item .featured_caption .venue_type {
      margin: 0; }
      .top_section_content .featured_item .featured_caption .venue_type .fake_link {
        color: #adc0c9; }
    .top_section_content .featured_item .featured_caption .anchor_point {
      position: absolute;
      bottom: -12px;
      left: -2px;
      width: 0;
      height: 0;
      border: 6px solid;
      border-color: #000 #000 transparent transparent;
      overflow: hidden; }
  .top_section_content .featured_item .quick_nav_links {
    margin: 8px 0 0;
    padding: 0; }
  .top_section_content .featured_item p {
    padding-bottom: 0; }
  .top_section_content .featured_item .blue_tag {
    left: -25px;
    padding-left: 25px;
    float: left;
    top: 2px; }
  .top_section_content .featured_item .desc {
    position: relative;
    height: 113px;
    overflow: hidden;
    width: 334px;
    padding: 0 0 0 25px;
    left: -25px; }
    .top_section_content .featured_item .desc .info {
      font-size: 12px;
      line-height: 16px;
      color: #000;
      text-decoration: none;
      margin: 2px 0 0;
      display: block; }
    .top_section_content .featured_item .desc .ellipses_dots {
      font-size: 12px;
      line-height: 15px;
      background: #fff;
      position: absolute;
      right: 0;
      bottom: -1px;
      max-width: 334px;
      height: 15px;
      overflow: hidden; }
.top_section_content .vertical_slider {
  position: relative;
  left: 1px;
  float: left;
  width: 360px;
  margin: -19px 0 0; }
  .top_section_content .vertical_slider .prev_wrapper,
  .top_section_content .vertical_slider .next_wrapper {
    background: url(/assets/home/homepage_sprite.png) no-repeat transparent;
    width: 331px;
    height: 14px;
    position: relative;
    left: 24px; }
    .top_section_content .vertical_slider .prev_wrapper .btn,
    .top_section_content .vertical_slider .next_wrapper .btn {
      background: url(/assets/home/homepage_sprite.png) no-repeat transparent;
      width: 28px;
      height: 14px;
      margin: 5px 0 0 155px;
      cursor: pointer; }
  .top_section_content .vertical_slider .prev_wrapper {
    background-position: -248px -411px; }
    .top_section_content .vertical_slider .prev_wrapper .btn {
      background-position: -403px -411px; }
    .top_section_content .vertical_slider .prev_wrapper .btn:hover {
      background-position: -755px -411px; }
  .top_section_content .vertical_slider .next_wrapper {
    background-position: -248px -431px; }
    .top_section_content .vertical_slider .next_wrapper .btn {
      background-position: -403px -431px; }
    .top_section_content .vertical_slider .next_wrapper .btn:hover {
      background-position: -755px -431px; }
  .top_section_content .vertical_slider .items_collection {
    width: 356px;
    height: 297px;
    margin: 5px 0;
    overflow: hidden; }
    .top_section_content .vertical_slider .items_collection .small_items li {
      padding: 12px 0 0 25px;
      margin: 0 0 4px; }
      .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper {
        border-bottom: 1px dashed #adc0c9;
        position: relative;
        height: 70px;
        padding: 0 10px 15px 0; }
        .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .label {
          position: absolute;
          top: -6px;
          left: -1px;
          border: 1px solid #fff;
          color: #fff;
          font-size: 10px;
          line-height: 10px;
          text-transform: uppercase;
          height: 11px;
          padding: 0 3px;
          z-index: 2; }
        .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .label.venue {
          background: #545454; }
        .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .label.event {
          background: #0099ff; }
        .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper p {
          padding-bottom: 0; }
        .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .item_img {
          display: block;
          float: left;
          width: 98px;
          height: 65px;
          margin: 0 12px 0 0;
          border: 1px solid #ccc;
          border-radius: 2px 2px 2px 2px; }
          .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .item_img img {
            display: block;
            width: 98px;
            height: 65px; }
        .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .headline.sub_headline {
          text-decoration: underline;
          font-size: 17px;
          position: relative;
          top: -3px;
          line-height: 19px;
          margin-bottom: -1px;
          z-index: 0;
          max-height: 38px;
          overflow: hidden; }
          .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .headline.sub_headline a:hover {
            color: #597686; }
        .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .date_time {
          padding: 0;
          margin: 3px 0;
          height: 12px;
          line-height: 6px;
          overflow: hidden; }
          .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .date_time .small_text {
            font-size: 10px; }
        .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .event_venue_name {
          color: #375363; }
        .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .event_venue_name:hover {
          color: #597686; }
        .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .venue_type {
          margin-bottom: 0; }
        .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .desc {
          position: relative;
          height: 44px;
          overflow: hidden;
          top: -3px;
          margin: 0 7px 0 0; }
          .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .desc .blue_tag {
            float: left;
            display: none;
            /*Hiding, but keeping styles in case we need to add back in.*/
            color: #8ea8b5;
            font-size: 9px;
            line-height: 11px;
            height: 10px;
            position: relative;
            top: 6px;
            width: 114px; }
            .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .desc .blue_tag a, .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .desc .blue_tag a:visited {
              color: #8ea8b5;
              text-decoration: none; }
            .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .desc .blue_tag a:after {
              content: ":"; }
          .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .desc .info {
            font-size: 11px;
            line-height: 13px;
            color: #000;
            text-decoration: none;
            margin: 5px 0 0;
            display: block; }
          .top_section_content .vertical_slider .items_collection .small_items li .details_wrapper .desc .ellipses_dots {
            font-size: 11px;
            line-height: 15px;
            background: #fff;
            position: absolute;
            right: 0;
            bottom: -1px;
            max-width: 176px;
            height: 15px;
            overflow: hidden; }
    .top_section_content .vertical_slider .items_collection .small_items li:hover,
    .top_section_content .vertical_slider .items_collection .small_items li.selected {
      background: url(/assets/home/homepage_sprite.png) -500px -63px no-repeat transparent; }
      .top_section_content .vertical_slider .items_collection .small_items li:hover .details_wrapper,
      .top_section_content .vertical_slider .items_collection .small_items li.selected .details_wrapper {
        /*border-bottom:1px dashed #adc0c9;*/ }
        .top_section_content .vertical_slider .items_collection .small_items li:hover .details_wrapper .ellipses_dots,
        .top_section_content .vertical_slider .items_collection .small_items li.selected .details_wrapper .ellipses_dots {
          background: #eff2f3; }
