/*BROWSE BY NEIGHBORHOOD STYLES*/
/*------------------------------------------*/
.browse_by_neighborhood .featured_item {
  height: 163px;
  padding: 7px 0 0 0;
  border-bottom: 1px solid #0099ff; }
  .browse_by_neighborhood .featured_item .featured_img {
    display: block;
    width: 210px;
    height: 140px;
    margin: 0 15px 0 0; }
    .browse_by_neighborhood .featured_item .featured_img img {
      display: block;
      width: 210px;
      height: 140px; }
  .browse_by_neighborhood .featured_item .headline.sub_headline {
    text-decoration: underline;
    margin: 0 0 6px; }
  .browse_by_neighborhood .featured_item .neighborhood_desc .desc {
    position: relative;
    height: 90px;
    overflow: hidden; }
    .browse_by_neighborhood .featured_item .neighborhood_desc .desc p {
      padding-bottom: 0; }
    .browse_by_neighborhood .featured_item .neighborhood_desc .desc .ellipses_dots {
      background: #fff;
      position: absolute;
      bottom: 0;
      right: 0; }
  .browse_by_neighborhood .featured_item .read_more {
    border-bottom: 1px dashed #8ea8b5;
    margin: 0 0 6px 239px;
    height: 101px; }
.browse_by_neighborhood .see_all_link {
  margin: 12px 0 0 241px;
  padding: 5px 0 0 0;
  border-top: 1px dashed #adc0c9; }
.browse_by_neighborhood .small_items_wrapper .small_items {
  display: inline-block;
  padding: 16px 0 5px 0; }
  .browse_by_neighborhood .small_items_wrapper .small_items .small_item {
    margin: 0 16px 0 0;
    position: relative; }
    .browse_by_neighborhood .small_items_wrapper .small_items .small_item .neighborhood_name {
      display: block;
      width: 100px;
      height: 32px;
      margin: 0 0 3px;
      padding: 0;
      color: #000;
      font-size: 13px;
      font-weight: normal;
      line-height: 15px;
      text-decoration: underline;
      text-shadow: 0 0 0.08em #dadada;
      overflow: hidden; }
      .browse_by_neighborhood .small_items_wrapper .small_items .small_item .neighborhood_name:hover {
        color: #597686; }
    .browse_by_neighborhood .small_items_wrapper .small_items .small_item .thumbnail {
      width: 100px;
      height: 100px;
      border: 2px solid #fff; }
      .browse_by_neighborhood .small_items_wrapper .small_items .small_item .thumbnail img {
        width: 100px;
        height: 100px;
        border: 1px solid #ccc; }
  .browse_by_neighborhood .small_items_wrapper .small_items .small_item.Selected .point {
    width: 0px;
    height: 0px;
    overflow: hidden;
    border-color: #0099ff transparent transparent transparent;
    border-style: solid;
    border-width: 12px;
    position: absolute;
    top: -17px;
    left: 37px; }
  .browse_by_neighborhood .small_items_wrapper .small_items .small_item.Selected .inner_point {
    width: 0px;
    height: 0px;
    overflow: hidden;
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 11px;
    position: absolute;
    top: -17px;
    left: 38px; }
  .browse_by_neighborhood .small_items_wrapper .small_items .small_item.Selected .thumbnail {
    border: 2px solid #0099ff; }
    .browse_by_neighborhood .small_items_wrapper .small_items .small_item.Selected .thumbnail img {
      border: none; }
  .browse_by_neighborhood .small_items_wrapper .small_items .small_item.last {
    margin-right: 0; }
