/*************************************************
*
*	project:  	liteAccordion - horizontal accordion plugin for jQuery
*	author:   	Nicola Hibbert
*	url:	  	http://nicolahibbert.com/horizontal-accordion-jquery-plugin
*	demo:	  	http://www.nicolahibbert.com/demo/liteAccordion
*
/*************************************************/
/****************************************** Core */
.accordion {
  text-align: left;
  font: 'Helvetica Neue', Verdana, Arial, sans-serif; }
  .accordion ol {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .accordion li > .accordion_tab {
    color: black;
    font-weight: normal;
    margin: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    /*-webkit-transform: translateX(-100%) rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(-90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(-90deg);
    -o-transform-origin: right top;
    -ms-transform: translateX(-100%) rotate(-90deg);
    -ms-transform-origin: right top;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/ }
    .accordion li > .accordion_tab span {
      display: block;
      padding-right: 8%;
      /*text-align: right;*/
      height: 90%;
      margin-top: 5px; }
    .accordion li > .accordion_tab b {
      display: inline-block;
      position: absolute;
      top: 10%;
      top: 42% \9;
      left: 10%;
      left: 5% \9;
      text-align: center;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }
  .accordion li > .accordion_tab.selected:hover {
    cursor: default; }
  .accordion li > .accordion_tab:hover {
    cursor: pointer; }
  .accordion li > div {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    overflow: hidden;
    background: white; }
  .accordion noscript p {
    padding: 10px;
    margin: 0;
    background: white; }

/****************************************** PE Theme */
.pe .accordion_tab {
  background: url(/assets/common/personality_accordion_sprite.png) -83px -7px no-repeat transparent;
  height: 266px !important;
  width: 59px !important; }
  .pe .accordion_tab span {
    text-indent: -9999px; }
.pe .accordion_tab.selected {
  width: 75px !important; }
.pe .lucas .accordion_tab {
  background-position: -83px -7px; }
.pe .lucas .accordion_tab.selected {
  background-position: -6px -7px; }
.pe .lucas .suggestion a {
  color: #1662d0;
  text-decoration: underline; }
.pe .adriana .accordion_tab {
  background-position: -239px -7px; }
.pe .adriana .accordion_tab.selected {
  background-position: -157px -7px; }
.pe .adriana .suggestion a {
  color: #c579b2;
  text-decoration: underline; }
.pe .jonah .accordion_tab {
  background-position: -392px -7px; }
.pe .jonah .accordion_tab.selected {
  background-position: -311px -7px; }
.pe .jonah .suggestion a {
  color: #99c856;
  text-decoration: underline; }
.pe .emma .accordion_tab {
  background-position: -547px -7px; }
.pe .emma .accordion_tab.selected {
  background-position: -467px -7px; }
.pe .emma .suggestion a {
  color: #fab74c;
  text-decoration: underline; }
.pe .character_content.opened {
  background: url(/assets/common/personality_accordion_sprite.png) 53px -306px no-repeat white; }
.pe .character_content {
  width: 440px !important;
  height: 242px !important;
  padding: 9px 15px 9px 75px !important; }
  .pe .character_content .char_cont_head {
    display: block;
    margin: 0 0 11px;
    padding: 5px 0 0;
    color: #375363;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold; }
    .pe .character_content .char_cont_head .char_cont_head_desc,
    .pe .character_content .char_cont_head .char_cont_head_sug {
      display: block; }
    .pe .character_content .char_cont_head .char_cont_head_desc {
      margin: 0 0 2px; }
    .pe .character_content .char_cont_head .char_cont_head_sug {
      color: #adc0c9;
      font-size: 17px; }
  .pe .character_content .venue_item_wrapper {
    height: 131px;
    margin: 0 0 4px;
    padding: 10px 0;
    border-top: 1px dashed #ADC0C9;
    border-bottom: 1px dashed #ADC0C9;
    overflow: hidden; }
    .pe .character_content .venue_item_wrapper .venue_item {
      width: 200px;
      height: 55px;
      overflow: hidden;
      padding: 0 0 10px;
      margin: 0 20px 10px 0;
      border-bottom: 1px dashed #adc0c9; }
      .pe .character_content .venue_item_wrapper .venue_item .thumbnail_link {
        float: left;
        width: 75px;
        height: 50px;
        margin: 0 12px 0 0; }
        .pe .character_content .venue_item_wrapper .venue_item .thumbnail_link img {
          width: 75px;
          height: 50px; }
      .pe .character_content .venue_item_wrapper .venue_item .venue_name {
        position: relative;
        max-height: 30px;
        margin: 0 0 3px 87px;
        padding: 0;
        line-height: 15px;
        text-shadow: 0 0 0.08em #dadada;
        overflow: hidden; }
        .pe .character_content .venue_item_wrapper .venue_item .venue_name a, .pe .character_content .venue_item_wrapper .venue_item .venue_name a:visited {
          color: #000; }
          .pe .character_content .venue_item_wrapper .venue_item .venue_name a:hover, .pe .character_content .venue_item_wrapper .venue_item .venue_name a:visited:hover {
            color: #597686; }
      .pe .character_content .venue_item_wrapper .venue_item .venue_type {
        margin: 0 0 0 87px; }
  .pe .character_content .tags_and_more .tags {
    max-width: 300px;
    height: 20px;
    overflow: hidden;
    padding: 0; }
    .pe .character_content .tags_and_more .tags .label {
      font-size: 9px;
      line-height: 11px;
      color: #8ea8b5;
      margin: 0 20px 0 0;
      font-family: Arial, sans-serif; }
    .pe .character_content .tags_and_more .tags .black_link {
      margin: 0 10px 0 0;
      color: #333;
      font-size: 11px;
      text-decoration: underline; }
      .pe .character_content .tags_and_more .tags .black_link:hover {
        color: #597686; }
  .pe .character_content .tags_and_more .fake_link.float_right {
    font-size: 11px;
    text-decoration: underline; }

/****************************************** Basic */
.basic li > .accordion_tab {
  background: #333;
  color: white;
  line-height: 1.8em; }

.basic li > div h3 {
  margin: 15px 10px; }

.basic li > div p {
  margin: 10px;
  font-size: 14px; }

/****************************************** Dark */
.dark {
  border: 9px solid #353535;
  border-bottom-width: 8px;
  padding: 5px 5px 6px 0;
  background: #030303;
  -webkit-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4); }

.dark li > .accordion_tab {
  background: #030303;
  font-size: 16px;
  line-height: 2.7em;
  text-shadow: 0 -1px 0 #030303; }

.dark li > .accordion_tab span {
  background: #353535;
  color: white; }

.dark li > .accordion_tab b {
  background: #353535 \9;
  color: #030303;
  font-size: 20px;
  text-shadow: -1px 1px 0 #5b5b5b; }

.dark .accordion_tab.selected span, .dark .accordion_tab.selected span:hover {
  background: #434343;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #353535), color-stop(1, #555555));
  background: -moz-linear-gradient(top left, #353535 0%, #555555 100%); }

.dark .accordion_tab.selected b {
  background: #434343 \9; }

/*** .dark li > div { background: #030303; margin-left: 5px; } */
.dark li > div {
  background: #b9b9b9;
  margin-left: 5px; }

/*************************************** Rounded */
.rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.rounded li > .accordion_tab span {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/***************************************** Light */
/**************************************** Stitch */
