/*BEGIN CHARACTER PICKS STYLES*/
/*-------------------------------------------*/
.list_photo_mod {
  margin-bottom: 11px; }
  .list_photo_mod h3 {
    margin: 0 0 8px;
    padding: 0 0 8px;
    color: #375363;
    font-size: 24px;
    line-height: 25px;
    border-bottom: 1px dashed #adc0c9; }
  .list_photo_mod li {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px dashed #adc0c9; }
    .list_photo_mod li:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none; }
  .list_photo_mod .photo {
    display: block;
    float: left;
    margin: 0 9px 0 0; }
    .list_photo_mod .photo img {
      display: block;
      width: 75px;
      height: 50px;
      border: 1px solid #ccc;
      border-radius: 4px; }
  .list_photo_mod .details {
    float: left;
    width: 120px; }
    .list_photo_mod .details h4 {
      line-height: 15px;
      margin: 0 0 3px; }
      .list_photo_mod .details h4 a {
        color: #000; }
        .list_photo_mod .details h4 a:hover {
          color: #597686; }
    .list_photo_mod .details .date {
      padding: 0;
      color: #09f;
      font-size: 9px;
      line-height: 11px;
      text-transform: uppercase; }
    .list_photo_mod .details .venue_type {
      padding: 0;
      line-height: 12px; }
      .list_photo_mod .details .venue_type a {
        color: #6c8898; }
