/* LEFT COLUMN
---------------------------------------------*/
#left_container .venues_content .more_links ul {
  display: inline; }
  #left_container .venues_content .more_links ul li {
    display: inline;
    margin: 0 0 0 10px; }
    #left_container .venues_content .more_links ul li .black_link {
      color: #09f !important; }
      #left_container .venues_content .more_links ul li .black_link:hover {
        color: #597686 !important; }
