/*BEGIN CAROUSEL*/
/*------------------------------------------*/
.three_item_carousel {
  width: 706px;
  /* Override styles from liked_by.scss */ }
  .three_item_carousel .page_count {
    display: inline-block;
    padding: 2px 0 0; }
    .three_item_carousel .page_count .dot {
      float: left;
      width: 8px;
      height: 8px;
      margin-left: 10px;
      background-color: #16aeeb;
      border-radius: 50%;
      cursor: pointer; }
      .three_item_carousel .page_count .dot:hover {
        background: #fff; }
    .three_item_carousel .page_count.slide1 .dot.one {
      background: #fff; }
    .three_item_carousel .page_count.slide2 .dot.two {
      background: #fff; }
    .three_item_carousel .page_count.slide3 .dot.three {
      background: #fff; }
    .three_item_carousel .page_count.slide4 .dot.four {
      background: #fff; }
  .three_item_carousel .scroller_wrapper {
    padding: 8px 0 0 0;
    position: relative; }
    .three_item_carousel .scroller_wrapper .screens_container {
      height: 347px;
      overflow: hidden;
      position: relative; }
      .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper {
        width: 8000px;
        position: absolute;
        left: 0;
        top: 0; }
        .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item {
          width: 212px;
          height: 364px;
          margin: 0 17px 0 0;
          padding: 0 17px 0 0;
          border-right: 1px dotted #ccc; }
          .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .headline.sub_headline {
            font-size: 16px;
            line-height: 18px;
            height: 18px;
            overflow: hidden;
            margin: 0 0 4px; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .headline.sub_headline a, .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .headline.sub_headline a:visited {
              text-decoration: underline; }
          .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .venue_type {
            padding: 0;
            margin: 2px 0 6px 0;
            line-height: 15px;
            height: 12px;
            overflow: hidden; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .venue_type .icon_types {
              margin: 0 5px 0 0; }
          .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .item_img {
            display: block;
            width: 210px;
            height: 140px;
            border: 1px solid #CCC;
            overflow: hidden !important; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .item_img img {
              width: 210px;
              height: 140px; }
          .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .quick_nav_links {
            height: 14px;
            margin: 0px 0 10px;
            border-bottom: 1px solid #dae4e9;
            /* NOTE (VH) remove later when styles are fixed for all l<li> in three_item_horizontal_scroller*/ }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .quick_nav_links li {
              margin: 0 9px 0 0;
              padding: 0;
              border-bottom: none; }
          .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details {
            height: 80px;
            overflow: hidden; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc {
              position: relative;
              height: 80px;
              font-size: 12px;
              line-height: 16px; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .blue_tag {
                height: 10px;
                background-color: #0099ff;
                color: #fff;
                float: left;
                height: 10px;
                display: inline-block;
                font-size: 10px;
                line-height: 11px;
                padding: 2px 3px 3px 5px;
                border-radius: 2px 0 0 2px;
                position: relative;
                margin: 0 13px 0 0; }
                .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .blue_tag a:link, .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .blue_tag a:visited {
                  color: #fff;
                  text-decoration: none; }
                .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .blue_tag a:hover {
                  text-decoration: none; }
                .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .blue_tag .point {
                  width: 1px;
                  height: 0;
                  overflow: hidden;
                  border-top: 8px solid transparent;
                  border-left: 8px solid #0099ff;
                  border-right: 7px solid transparent;
                  border-bottom: 7px solid transparent;
                  position: absolute;
                  right: -15px;
                  bottom: 0; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .info {
                display: block;
                color: #000;
                text-decoration: none; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .ellipses_dots {
                position: absolute;
                right: 0;
                bottom: 0;
                background: #fff;
                overflow: hidden; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc .read_more {
                position: relative;
                bottom: 2px;
                font-size: 11px; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .desc.event {
              height: 31px;
              margin: 9px 0 0; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details p {
              padding-bottom: 0; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .date_time {
              height: 17px;
              overflow: hidden; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .date_time .small_text {
                font-size: 16px;
                line-height: 14px;
                font-weight: bold;
                text-transform: inherit; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .event_venue {
              font-size: 15px;
              margin: 6px 0 0;
              height: 18px;
              overflow: hidden; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .event_venue .black_link {
                color: #375363 !important; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .event_venue .black_link:hover {
                color: #000 !important; }
              .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .event_venue .nourl {
                text-decoration: none; }
                .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .details .event_venue .nourl:hover {
                  color: #375363 !important;
                  text-decoration: none !important;
                  cursor: default; }
          .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .tags a, .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .tags a:visited, .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .tags span {
            display: inline-block;
            float: left;
            margin: 0 6px 0 0;
            color: #000;
            font-size: 11px;
            line-height: 14px;
            text-decoration: underline;
            text-transform: lowercase;
            cursor: pointer; }
            .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .tags a:hover, .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .tags a:visited:hover, .three_item_carousel .scroller_wrapper .screens_container .screens_wrapper .spot_item .tags span:hover {
              color: #597686; }
    .three_item_carousel .scroller_wrapper .prev_next_btns {
      background: url(/assets/content_bg/application_sprite-8d81388f106f713282205e46d5c85876.png) no-repeat scroll -152px -2957px transparent;
      cursor: pointer;
      height: 64px;
      position: absolute;
      text-indent: -9999px;
      top: 25%;
      width: 19px; }
    .three_item_carousel .scroller_wrapper .prev_next_btns.disabled {
      display: none;
      cursor: default; }
    .three_item_carousel .scroller_wrapper .prev_next_btns.prev_btn {
      left: -21px; }
    .three_item_carousel .scroller_wrapper .prev_next_btns.prev_btn:hover {
      background-position: -152px -3021px; }
    .three_item_carousel .scroller_wrapper .prev_next_btns.next_btn {
      background-position: -171px -2957px;
      right: -21px; }
    .three_item_carousel .scroller_wrapper .prev_next_btns.next_btn:hover {
      background-position: -171px -3021px; }
  .three_item_carousel .personalities .label {
    float: left;
    margin: 0 10px 0 0; }
  .three_item_carousel .persona .dialog_box {
    right: 0; }
  .three_item_carousel .persona.emma .point {
    left: -1px; }

.three_item_carousel.two_line_title .scroller_wrapper .screens_container {
  height: 365px; }
  .three_item_carousel.two_line_title .scroller_wrapper .screens_container .screens_wrapper .spot_item {
    height: 378px; }
    .three_item_carousel.two_line_title .scroller_wrapper .screens_container .screens_wrapper .spot_item .headline.sub_headline {
      font-size: 16px;
      height: 38px;
      overflow: hidden;
      line-height: 18px; }
    .three_item_carousel.two_line_title .scroller_wrapper .screens_container .screens_wrapper .spot_item .details {
      height: 79px;
      overflow: hidden; }
      .three_item_carousel.two_line_title .scroller_wrapper .screens_container .screens_wrapper .spot_item .details p {
        padding: 0; }

.three_item_carousel.no_desc .scroller_wrapper .screens_container {
  height: 259px; }
  .three_item_carousel.no_desc .scroller_wrapper .screens_container .screens_wrapper .spot_item {
    height: auto; }
    .three_item_carousel.no_desc .scroller_wrapper .screens_container .screens_wrapper .spot_item .details {
      height: auto; }

.three_item_carousel.no_desc.two_line_title .scroller_wrapper .screens_container {
  height: 279px; }

.three_item_carousel.event_venues .scroller_wrapper .screens_container {
  height: 419px; }
  .three_item_carousel.event_venues .scroller_wrapper .screens_container .spot_item {
    height: 428px; }
    .three_item_carousel.event_venues .scroller_wrapper .screens_container .spot_item .event_list {
      height: 150px;
      margin: 0 0 8px;
      border-bottom: 1px dashed #ADC0C9; }
      .three_item_carousel.event_venues .scroller_wrapper .screens_container .spot_item .event_list li {
        margin: 0 0 7px;
        padding-top: 8px;
        border-top: 1px dashed #ADC0C9; }
        .three_item_carousel.event_venues .scroller_wrapper .screens_container .spot_item .event_list li:first-child {
          padding-top: 0;
          border-top: 0; }
    .three_item_carousel.event_venues .scroller_wrapper .screens_container .spot_item .see_more {
      color: #AAA;
      text-decoration: underline;
      margin: 0 0 2px;
      display: inline-block;
      line-height: 12px; }
    .three_item_carousel.event_venues .scroller_wrapper .screens_container .spot_item .see_more:hover {
      color: black; }
