/* SCHEDULE OF EVENTS
-----------------------------------
:: Styles for the Schedule of Events.
------------------------------------------------- */
.soe .soe_cont {
  position: relative;
  padding: 0 0 42px; }
  .soe .soe_cont .soe_cont_triggers {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100; }
  .soe .soe_cont .trigger.collapse {
    display: none; }
  .soe .soe_cont .trigger.expand {
    display: none; }
  .soe .soe_cont.soe_cont_collapsed {
    height: 400px;
    overflow: hidden; }
    .soe .soe_cont.soe_cont_collapsed .soe_cont_triggers {
      padding: 60px 0 1px;
      background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 52%, white 100%);
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 52%, white 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(52%, white), color-stop(100%, white));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 52%, white 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 52%, white 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 52%, white 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 52%, white 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
      /* IE6-9 */ }
    .soe .soe_cont.soe_cont_collapsed .trigger.collapse {
      display: none; }
    .soe .soe_cont.soe_cont_collapsed .trigger.expand {
      display: block; }
  .soe .soe_cont.soe_cont_not_expandable {
    padding-bottom: 0; }

.soe_sect p {
  padding: 0; }
.soe_sect .soe_sect_head {
  height: 29px;
  padding: 11px 12px 0;
  border-width: 1px;
  border-style: solid;
  border-top-color: #EBEBEB;
  border-bottom-color: white;
  border-left-color: #F3F3F3;
  border-right-color: #F3F3F3;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#f1f1f1));
  background: -moz-linear-gradient(top, #fbfbfb, #f1f1f1);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FBFBFB, endColorStr=#F1F1F1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FBFBFB, endColorStr=#F1F1F1);
  border-radius: 2px;
  box-shadow: 0px 2px 3px #d9d9d9;
  cursor: pointer; }
  .soe_sect .soe_sect_head h3 {
    float: left;
    margin: 0 3px 0 0;
    padding: 0;
    color: #464646;
    font-size: 18px;
    font-weight: normal; }
    .soe_sect .soe_sect_head h3 span {
      color: #999;
      font-size: 18px; }
  .soe_sect .soe_sect_head .soe_sect_head_exp_text {
    display: block;
    float: right;
    color: #c2c2c2;
    font-size: 11px;
    text-decoration: underline; }
  .soe_sect .soe_sect_head:hover {
    background: #E3E3E3;
    border-color: #DDDCDC;
    box-shadow: 0 2px 3px #edecec; }
    .soe_sect .soe_sect_head:hover .soe_sect_head_exp_text {
      color: #000; }
.soe_sect .soe_sect_cont {
  position: relative;
  overflow: hidden; }
  .soe_sect .soe_sect_cont table {
    width: 100%; }
    .soe_sect .soe_sect_cont table tr {
      border-top: 1px dashed #ccc; }
      .soe_sect .soe_sect_cont table tr:first-child {
        border-top: none; }
      .soe_sect .soe_sect_cont table tr td {
        padding: 12px 0;
        vertical-align: top; }
  .soe_sect .soe_sect_cont .soe_event_date {
    width: 50px;
    padding-right: 10px; }
    .soe_sect .soe_sect_cont .soe_event_date .date_block {
      width: 48px;
      text-align: center;
      text-transform: uppercase;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#eff2f4), to(#d5dbe0));
      background: -moz-linear-gradient(top, white, #d5dbe0);
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
      border-left: 1px solid #e0e4e7;
      border-right: 1px solid #e0e4e7;
      border-radius: 2px 2px 2px 2px; }
      .soe_sect .soe_sect_cont .soe_event_date .date_block span {
        display: block; }
        .soe_sect .soe_sect_cont .soe_event_date .date_block span.month {
          padding: 5px 0 2px;
          color: #09f;
          font-size: 10px;
          font-weight: bold;
          text-shadow: 1px 1px 1px white;
          line-height: 9px; }
        .soe_sect .soe_sect_cont .soe_event_date .date_block span.date {
          padding: 0 0 5px;
          color: #09f;
          font-size: 25px;
          text-shadow: 1px 1px 1px #fff;
          border-bottom: 1px solid #b4babe; }
        .soe_sect .soe_sect_cont .soe_event_date .date_block span.day {
          padding: 2px 0 3px;
          color: #333;
          font-size: 9px;
          line-height: 9px;
          letter-spacing: 1px;
          background-color: #f5f5f5;
          border-top: 2px solid #e7e7e7;
          border-bottom: 1px solid #e7e7e7; }
  .soe_sect .soe_sect_cont .soe_event_img {
    width: 77px;
    padding-right: 15px; }
    .soe_sect .soe_sect_cont .soe_event_img .thumbnail_link {
      width: 75px;
      height: 50px; }
      .soe_sect .soe_sect_cont .soe_event_img .thumbnail_link img {
        width: 75px;
        height: 50px; }
  .soe_sect .soe_sect_cont .soe_event_dtls span {
    display: block; }
  .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_name {
    display: block;
    margin: 0 0 5px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none; }
    .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_name:hover {
      color: #597686;
      text-decoration: underline; }
  .soe_sect .soe_sect_cont .soe_event_dtls .venue_type span {
    display: inline; }
    .soe_sect .soe_sect_cont .soe_event_dtls .venue_type span.fake_link:hover {
      text-decoration: underline; }
  .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot {
    color: #000;
    font-size: 12px;
    line-height: 15px; }
    .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot a:link, .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot a:visited, .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot .fake_link {
      color: #000;
      text-decoration: none; }
      .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot a:link:hover, .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot a:visited:hover, .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot .fake_link:hover {
        color: #597686;
        text-decoration: underline; }
    .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot .soe_event_time {
      float: left;
      margin: 0 6px 0 0;
      color: #09f;
      white-space: nowrap;
      font-weight: bold; }
    .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot .soe_event_dtls_foot_xtra {
      float: left;
      width: 390px; }
      .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot .soe_event_dtls_foot_xtra span {
        display: inline; }
      .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot .soe_event_dtls_foot_xtra .point {
        width: 0;
        height: 0;
        border-width: 4px;
        border-color: transparent transparent transparent #CCC;
        border-style: solid;
        overflow: hidden;
        display: inline-block;
        margin: 0 0 0 5px; }
  .soe_sect .soe_sect_cont .soe_event_xtra {
    width: 95px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 16px;
    vertical-align: bottom; }
/* BEGIN SPORTS AND CALENDAR STYLES
------------------------------------------*/
.performer_schedule {
  width: 100%; }
  .performer_schedule p {
    padding: 0; }
  .performer_schedule .day {
    color: #09f;
    font-size: 14px;
    font-weight: bold; }
  .performer_schedule .time {
    color: #8ea8b5;
    font-size: 11px; }
  .performer_schedule .item_img {
    margin: 0 10px 0 0; }
  .performer_schedule .head {
    border-bottom: 2px solid #dae4e9; }
    .performer_schedule .head th {
      color: #666;
      font-size: 11px; }
  .performer_schedule .venue_type {
    margin: 5px 0; }
  .performer_schedule .venue_name {
    color: #8ea8b5; }
    .performer_schedule .venue_name a, .performer_schedule .venue_name a:visited {
      color: #8ea8b5; }
      .performer_schedule .venue_name a:hover, .performer_schedule .venue_name a:visited:hover {
        color: #000; }
  .performer_schedule.one_team {
    width: 564px; }
    .performer_schedule.one_team .item_img {
      margin-bottom: 10px; }
  .performer_schedule.default .head {
    border-top: 2px solid #dae4e9; }
  .performer_schedule.default .date_day {
    width: 105px; }
  .performer_schedule.default .img_and_event {
    width: 280px; }
    .performer_schedule.default .img_and_event .event_name {
      width: 179px;
      padding: 0 13px 0 0; }
  .performer_schedule.default .venue {
    width: 120px; }
  .performer_schedule.default .time {
    width: 70px; }

/* Featured Teams */
.featured_teams {
  /* BEGIN CAROUSEL
  ------------------------------------------*/ }
  .featured_teams .thumbnail_link {
    width: 165px;
    height: 165px;
    margin: 3px 0; }
    .featured_teams .thumbnail_link img {
      width: 165px;
      height: 165px; }
  .featured_teams h3 {
    margin: 0; }
    .featured_teams h3 a.name {
      font-size: 15px;
      line-height: 19px;
      margin: 0 0 3px;
      text-decoration: underline; }
      .featured_teams h3 a.name:hover {
        color: #597686; }
  .featured_teams p {
    padding: 0; }
  .featured_teams .venue_name, .featured_teams .address {
    color: #375363;
    line-height: 13px; }
    .featured_teams .venue_name a, .featured_teams .venue_name a:visited, .featured_teams .address a, .featured_teams .address a:visited {
      color: #375363; }
      .featured_teams .venue_name a:hover, .featured_teams .venue_name a:visited:hover, .featured_teams .address a:hover, .featured_teams .address a:visited:hover {
        color: #000; }
  .featured_teams.one {
    width: 100px;
    margin: 0 18px 0 0;
    padding: 8px 12px;
    background-color: #ffffe5; }
  .featured_teams.two_or_three .thumbnail_link {
    float: left;
    margin-right: 10px; }
  .featured_teams.two_or_three .team_item {
    width: 222px;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    border-right: 1px dotted #CCC; }
    .featured_teams.two_or_three .team_item .team_details {
      width: 110px; }
    .featured_teams.two_or_three .team_item.last, .featured_teams.two_or_three .team_item.second {
      margin: 0;
      padding: 0;
      border-right: none; }
    .featured_teams.two_or_three .team_item.two_teams {
      width: 342px;
      position: relative; }
      .featured_teams.two_or_three .team_item.two_teams .headline.sub_headline {
        font-size: 19px;
        line-height: 21px; }
      .featured_teams.two_or_three .team_item.two_teams .team_details {
        width: 165px; }
  .featured_teams.carousel {
    width: 721px;
    margin-left: -7px; }
    .featured_teams.carousel .scroller_wrapper {
      padding: 0 8px;
      position: relative; }
    .featured_teams.carousel .screens_container {
      height: 225px;
      overflow: hidden;
      position: relative; }
    .featured_teams.carousel .screens_wrapper {
      width: 8000px;
      position: absolute;
      left: 0;
      top: 0; }
    .featured_teams.carousel .spot_item {
      width: 167px;
      height: 316px;
      margin: 0 5px 0 0;
      padding: 0 5px 0 0;
      border-right: 1px dotted #CCC; }
      .featured_teams.carousel .spot_item .black_link {
        text-shadow: 0 0 0.08em #dadada; }
    .featured_teams.carousel .prev_next_btns {
      background: url(/assets/content_bg/application_sprite.png) no-repeat scroll -152px -2957px transparent;
      cursor: pointer;
      height: 64px;
      position: absolute;
      text-indent: -9999px;
      top: 90px;
      width: 19px; }
      .featured_teams.carousel .prev_next_btns.disabled {
        cursor: default; }
      .featured_teams.carousel .prev_next_btns.prev_btn {
        left: -14px; }
        .featured_teams.carousel .prev_next_btns.prev_btn:hover {
          background-position: -152px -3021px; }
        .featured_teams.carousel .prev_next_btns.prev_btn.disabled, .featured_teams.carousel .prev_next_btns.prev_btn.disabled:hover {
          background-position: -251px -3021px; }
      .featured_teams.carousel .prev_next_btns.next_btn {
        background-position: -171px -2957px;
        right: -14px; }
        .featured_teams.carousel .prev_next_btns.next_btn:hover {
          background-position: -171px -3021px; }
        .featured_teams.carousel .prev_next_btns.next_btn.disabled, .featured_teams.carousel .prev_next_btns.next_btn.disabled:hover {
          background-position: -270px -3021px; }
/* Styles for the more links pod */
#more_links_pod ul {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed #adc0c9; }
  #more_links_pod ul.top_row, #more_links_pod ul:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none; }
#more_links_pod li {
  float: left;
  width: 167px;
  padding: 0 0 0 12px; }
  #more_links_pod li:first-child {
    padding-left: 0; }
  #more_links_pod li .thumbnail_link {
    width: 165px;
    height: 110px;
    margin: 0 0 7px; }
    #more_links_pod li .thumbnail_link img {
      width: 165px;
      height: 110px; }
  #more_links_pod li a {
    color: #000; }
    #more_links_pod li a:hover {
      color: #597686; }
  #more_links_pod li .date {
    display: block;
    color: #09f;
    font-size: 11px;
    text-transform: uppercase; }
  #more_links_pod li .name {
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    text-decoration: underline; }
    #more_links_pod li .name:hover {
      color: #597686; }
  #more_links_pod li .venue_type {
    margin: 4px 0 0;
    line-height: 12px; }
#more_links_pod .footer {
  margin: 8px 0 0;
  padding: 8px 0 0;
  color: #09f;
  text-align: right;
  font-family: 'Arial';
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #8ea8b5; }
  #more_links_pod .footer a, #more_links_pod .footer a:link, #more_links_pod .footer a:visited {
    color: #09f; }
    #more_links_pod .footer a:hover, #more_links_pod .footer a:link:hover, #more_links_pod .footer a:visited:hover {
      color: #597686; }
  #more_links_pod .footer span.arrow {
    display: inline-block;
    width: 6px;
    height: 13px;
    font-size: 17px;
    font-weight: normal;
    font-family: 'Times New Roman';
    text-indent: -10px;
    line-height: 17px;
    overflow: hidden; }
/* STYLES FOR RIGHT SIDEBAR
-----------------------------------------------------
:: Styles for the right sidebar and universal elements like pods.
----------------------------------------------------- */
#right_sidebar {
  /* Lists used in Pods. If list needs specific styles override specific attributes in seperate stylesheet..*/
  /* Pod list stripped down with no border/padding etc. */
  /* Pod list with a thumbnail next to each item */
  /* Pod footer used on some pods. Any that goes in the footer should be added here.*/
  /* Little orange arrow mostly used on pod footer after a link. */
  /* tabs on ibiza and pamplona pages */
  /* Styles for Popular Entertainers/DJs */
  /* Styles for the Get Paid To Party pods */ }
  #right_sidebar h3, #right_sidebar .featured .title {
    display: block;
    color: #375363;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin: 0 0 8px;
    padding: 0 0 8px;
    border-bottom: 1px dashed #adc0c9;
    color: #375363; }
    #right_sidebar h3 a, #right_sidebar h3 a:link, #right_sidebar h3 a:visited, #right_sidebar .featured .title a, #right_sidebar .featured .title a:link, #right_sidebar .featured .title a:visited {
      color: #375363;
      text-decoration: underline; }
      #right_sidebar h3 a:hover, #right_sidebar h3 a:link:hover, #right_sidebar h3 a:visited:hover, #right_sidebar .featured .title a:hover, #right_sidebar .featured .title a:link:hover, #right_sidebar .featured .title a:visited:hover {
        color: #000; }
    #right_sidebar h3.small, #right_sidebar .featured .title.small {
      margin: 0 0 6px;
      padding: 0;
      color: #09F;
      font-size: 15px;
      font-weight: bold;
      line-height: 16px;
      border-bottom: 0; }
  #right_sidebar .title {
    display: block;
    margin: 0 0 3px;
    line-height: 15px;
    text-decoration: underline; }
    #right_sidebar .title:hover {
      color: #000; }
  #right_sidebar .desc {
    position: relative;
    overflow: hidden; }
    #right_sidebar .desc a, #right_sidebar .desc a:link, #right_sidebar .desc a:visited {
      color: #09f; }
    #right_sidebar .desc .neighborhood {
      color: #8ea8b5;
      font-size: 10px;
      line-height: 10px;
      text-transform: uppercase; }
  #right_sidebar .thumbnail_link {
    margin: 0 0 8px;
    width: 98px;
    height: 65px;
    border: 1px solid #ccc;
    border-radius: 2px; }
    #right_sidebar .thumbnail_link img {
      width: 98px;
      height: 65px;
      border-radius: 1px; }
  #right_sidebar .quick_nav_links {
    border-bottom: 1px dashed #ADC0C9;
    padding: 0 0 5px;
    margin: 0 0 5px; }
    #right_sidebar .quick_nav_links a, #right_sidebar .quick_nav_links a:link, #right_sidebar .quick_nav_links a:visited {
      color: #09f; }
      #right_sidebar .quick_nav_links a:hover, #right_sidebar .quick_nav_links a:link:hover, #right_sidebar .quick_nav_links a:visited:hover {
        color: #597686; }
  #right_sidebar .name {
    color: #09f;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase; }
    #right_sidebar .name .date {
      display: block;
      float: left;
      margin: 0 4px 0 0;
      padding: 0 6px 0 0;
      border-right: 1px solid #e4ebef; }
    #right_sidebar .name a {
      display: inline-block;
      width: 160px;
      height: 10px;
      color: #09f;
      text-decoration: none;
      text-transform: none;
      overflow: hidden; }
  #right_sidebar .changer .name {
    height: 10px;
    margin: 0 0 6px;
    padding: 0 0 6px;
    vertical-align: top;
    border-bottom: 1px solid #dae4e9; }
  #right_sidebar .list .list_item.featured .thumbnail_link,
  #right_sidebar .changer .thumbnail_link {
    width: 210px;
    height: 140px;
    border: 1px solid #adc0c9;
    border-radius: 4px; }
    #right_sidebar .list .list_item.featured .thumbnail_link img,
    #right_sidebar .changer .thumbnail_link img {
      width: 210px;
      height: 140px;
      border-radius: 3px; }
  #right_sidebar .list .list_item {
    margin: 8px 0 0;
    padding: 8px 0 0;
    border-top: 1px dashed #adc0c9; }
    #right_sidebar .list .list_item.featured {
      margin: 0 0 15px;
      padding: 0 0 5px;
      border-bottom: 1px solid #8ea8b5; }
      #right_sidebar .list .list_item.featured .title {
        margin: 0 0 8px;
        padding: 0;
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        border: none; }
      #right_sidebar .list .list_item.featured .venue_type {
        margin: 0 0 6px; }
    #right_sidebar .list .list_item p {
      padding: 0;
      line-height: 16px; }
      #right_sidebar .list .list_item p.name {
        line-height: 10px; }
    #right_sidebar .list .list_item .date {
      color: #09f;
      font-size: 9px;
      line-height: 11px;
      text-transform: uppercase; }
    #right_sidebar .list .list_item .arrow {
      color: #09f; }
    #right_sidebar .list .list_item .venue_type {
      margin: 0;
      padding: 0;
      color: #6C8898;
      line-height: 11px; }
      #right_sidebar .list .list_item .venue_type a, #right_sidebar .list .list_item .venue_type a:link, #right_sidebar .list .list_item .venue_type a:visited {
        color: #6C8898; }
        #right_sidebar .list .list_item .venue_type a:hover, #right_sidebar .list .list_item .venue_type a:link:hover, #right_sidebar .list .list_item .venue_type a:visited:hover {
          color: #597686;
          text-decoration: underline; }
    #right_sidebar .list .list_item:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none; }
    #right_sidebar .list .list_item .name a, #right_sidebar .list .list_item .name a:link, #right_sidebar .list .list_item .name a:visited {
      color: #09f; }
      #right_sidebar .list .list_item .name a:hover, #right_sidebar .list .list_item .name a:link:hover, #right_sidebar .list .list_item .name a:visited:hover {
        color: #597686;
        text-decoration: underline; }
  #right_sidebar .list a {
    color: #000; }
    #right_sidebar .list a:hover {
      color: #597686; }
  #right_sidebar .simple_list .list_item {
    margin: 0 0 3px;
    padding: 0;
    border: none; }
    #right_sidebar .simple_list .list_item a, #right_sidebar .simple_list .list_item a:link, #right_sidebar .simple_list .list_item a:visited {
      color: #375363; }
      #right_sidebar .simple_list .list_item a:hover, #right_sidebar .simple_list .list_item a:link:hover, #right_sidebar .simple_list .list_item a:visited:hover {
        color: #000; }
  #right_sidebar .photo_list .thumbnail_link {
    float: left;
    width: 75px;
    height: 50px;
    margin: 0 9px 0 0; }
    #right_sidebar .photo_list .thumbnail_link img {
      width: 75px;
      height: 50px; }
  #right_sidebar .photo_list .details {
    float: left;
    width: 120px; }
    #right_sidebar .photo_list .details .title {
      line-height: 15px;
      margin: 0 0 3px;
      color: #000; }
      #right_sidebar .photo_list .details .title:hover {
        color: #597686; }
  #right_sidebar .pod_footer {
    margin: 5px 0 0;
    padding: 5px 0 0;
    border-top: 1px solid #adc0c9; }
    #right_sidebar .pod_footer a, #right_sidebar .pod_footer a:link, #right_sidebar .pod_footer a:visited, #right_sidebar .pod_footer .fake_link {
      float: right;
      color: #09f;
      text-align: right;
      font-size: 11px;
      line-height: 11px;
      text-decoration: none; }
      #right_sidebar .pod_footer a:hover, #right_sidebar .pod_footer a:link:hover, #right_sidebar .pod_footer a:visited:hover, #right_sidebar .pod_footer .fake_link:hover {
        color: #597686;
        text-decoration: underline; }
      #right_sidebar .pod_footer a span, #right_sidebar .pod_footer a:link span, #right_sidebar .pod_footer a:visited span, #right_sidebar .pod_footer .fake_link span {
        text-decoration: underline; }
        #right_sidebar .pod_footer a span.arrow, #right_sidebar .pod_footer a:link span.arrow, #right_sidebar .pod_footer a:visited span.arrow, #right_sidebar .pod_footer .fake_link span.arrow {
          top: 0;
          color: #ff9000;
          text-decoration: none; }
  #right_sidebar .arrow {
    display: inline-block;
    position: relative;
    width: 6px;
    font-family: "Times New Roman";
    font-size: 17px;
    font-weight: normal;
    line-height: 17px;
    text-indent: -10px;
    overflow: hidden; }
  #right_sidebar .tabs {
    margin-top: 33px; }
    #right_sidebar .tabs:first-child {
      margin-top: 19px; }
  #right_sidebar .popular_entertainers .list li {
    position: relative;
    padding: 0 0 0 10px; }
    #right_sidebar .popular_entertainers .list li .arrow {
      display: none;
      position: absolute;
      left: 0; }
    #right_sidebar .popular_entertainers .list li.selected .arrow {
      display: inline-block; }
  #right_sidebar .gptp_right_rail h3 {
    padding: 0;
    font-weight: normal;
    border: none; }
  #right_sidebar .gptp_right_rail ul li {
    float: left;
    margin: 0 4px 4px 0; }
    #right_sidebar .gptp_right_rail ul li:nth-child(4n) {
      margin-right: 0; }
    #right_sidebar .gptp_right_rail ul li a, #right_sidebar .gptp_right_rail ul li a:link, #right_sidebar .gptp_right_rail ul li a:visited {
      display: block;
      width: 50px;
      height: 50px; }
      #right_sidebar .gptp_right_rail ul li a img, #right_sidebar .gptp_right_rail ul li a:link img, #right_sidebar .gptp_right_rail ul li a:visited img {
        opacity: .85; }
      #right_sidebar .gptp_right_rail ul li a:hover img, #right_sidebar .gptp_right_rail ul li a:link:hover img, #right_sidebar .gptp_right_rail ul li a:visited:hover img {
        opacity: 100; }
  #right_sidebar .gptp_right_rail .links {
    font-size: 11px;
    line-height: 11px; }
    #right_sidebar .gptp_right_rail .links a, #right_sidebar .gptp_right_rail .links .fake_link {
      text-decoration: underline; }
    #right_sidebar .gptp_right_rail .links .arrow {
      color: #ff9000; }
    #right_sidebar .gptp_right_rail .links .learn_link {
      float: left; }
    #right_sidebar .gptp_right_rail .links .meet_link {
      float: right; }
  #right_sidebar .gptp_right_rail .buttons {
    width: 217px;
    margin: 8px 0 0;
    padding: 8px 0 0;
    border-top: 1px solid #8ea8b5; }
    #right_sidebar .gptp_right_rail .buttons a, #right_sidebar .gptp_right_rail .buttons a:link, #right_sidebar .gptp_right_rail .buttons a:visited {
      display: block;
      position: relative;
      float: left;
      height: 46px;
      margin-top: 2px;
      margin-bottom: -6px;
      background-image: url(/assets/common/right_colmun_sprite.png); }
      #right_sidebar .gptp_right_rail .buttons a.writer, #right_sidebar .gptp_right_rail .buttons a:link.writer, #right_sidebar .gptp_right_rail .buttons a:visited.writer {
        left: -2px;
        width: 85px;
        background-position: -1px -422px; }
        #right_sidebar .gptp_right_rail .buttons a.writer:hover, #right_sidebar .gptp_right_rail .buttons a:link.writer:hover, #right_sidebar .gptp_right_rail .buttons a:visited.writer:hover {
          background-position: -1px -476px; }
      #right_sidebar .gptp_right_rail .buttons a.photographer, #right_sidebar .gptp_right_rail .buttons a:link.photographer, #right_sidebar .gptp_right_rail .buttons a:visited.photographer {
        right: -3px;
        width: 132px;
        background-position: -88px -422px; }
        #right_sidebar .gptp_right_rail .buttons a.photographer:hover, #right_sidebar .gptp_right_rail .buttons a:link.photographer:hover, #right_sidebar .gptp_right_rail .buttons a:visited.photographer:hover {
          background-position: -88px -476px; }
  #right_sidebar .missing_venue_event,
  #right_sidebar .share_btn,
  #right_sidebar .subscribe_btn,
  #right_sidebar .follow_btns,
  #right_sidebar .ad {
    cursor: pointer;
    background-image: url(/assets/common/right_colmun_sprite.png);
    background-repeat: no-repeat; }
  #right_sidebar #right_rail_simple_share {
    position: absolute;
    top: -60px;
    left: -9px; }
  #right_sidebar .missing_venue_event {
    position: relative;
    left: -2px;
    width: 246px;
    height: 154px;
    margin: 0 0 8px;
    background-position: -291px -233px; }
    #right_sidebar .missing_venue_event:hover {
      background-position: -291px -389px; }
  #right_sidebar .share_btn,
  #right_sidebar .subscribe_btn,
  #right_sidebar .follow_btns {
    position: relative;
    right: 0;
    width: 243px;
    height: 44px;
    margin: 0 0 9px; }
  #right_sidebar .share_btn {
    background-position: -291px -52px; }
  #right_sidebar .subscribe_btn {
    background-position: -291px -102px; }
  #right_sidebar .follow_btns {
    background-position: -291px -152px;
    cursor: default !important; }
    #right_sidebar .follow_btns a {
      display: block;
      position: absolute;
      top: 9px;
      width: 28px;
      height: 28px;
      margin: 0; }
    #right_sidebar .follow_btns .gig-followbar-providerButton {
      right: 44px; }
    #right_sidebar .follow_btns .gig-followbar-providerButton-last {
      right: 11px; }
  #right_sidebar .ad {
    width: 240px;
    height: 400px;
    background-position: 0 0; }
/* Recent Articles Sidebar Pod */
#recent_articles .list .list_item {
  float: left;
  width: 100px;
  margin: 0 0 0 12px;
  padding: 0;
  line-height: 15px;
  border-top: none; }
  #recent_articles .list .list_item:first-child + li {
    margin-left: 0; }
  #recent_articles .list .list_item .thumbnail_link {
    margin: 0 0 5px; }
  #recent_articles .list .list_item .title {
    font-size: 11px;
    line-height: 13px; }
  #recent_articles .list .list_item.featured {
    float: none;
    width: auto;
    margin-left: 0;
    padding-bottom: 15px; }
    #recent_articles .list .list_item.featured .thumbnail_link {
      margin: 0 0 15px; }
/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
#photo_pod {
  margin: 0 0 12px;
  padding: 13px 15px; }
  #photo_pod h3 {
    margin: 0 0 7px;
    font-size: 15px; }
  #photo_pod ul {
    list-style: none; }
  #photo_pod li {
    float: left;
    width: 100px;
    margin: 0 10px 8px 0;
    padding: 11px 0 0;
    line-height: 15px;
    border-top: 1px dashed #ADC0C9; }
    #photo_pod li .thumbnail_link {
      margin: 0 0 3px; }
    #photo_pod li a, #photo_pod li a:link, #photo_pod li a:visited {
      color: #000;
      font-size: 11px;
      line-height: 11px; }
      #photo_pod li a:hover, #photo_pod li a:link:hover, #photo_pod li a:visited:hover {
        color: #597686; }
    #photo_pod li.last {
      margin-right: 0; }
    #photo_pod li.bottom {
      margin-bottom: 0; }
/*BEGIN READ MORE/READ LESS CSS*/
/*-----------------------------------*/
.read_more .clipped {
  overflow: hidden; }
.read_more p:last-of-type {
  padding-bottom: 0; }
.read_more .more_toggle,
.read_more .less_toggle {
  border-top: 1px solid #dbdada;
  padding-top: 5px; }

.read_more.copy_block_missing_venue_event {
  position: relative; }
  .read_more.copy_block_missing_venue_event .clipped {
    height: 71px; }
  .read_more.copy_block_missing_venue_event .more_toggle {
    position: absolute;
    bottom: 2px;
    right: 0;
    padding: 0;
    background: #fff;
    border: none; }
    .read_more.copy_block_missing_venue_event .more_toggle span {
      text-decoration: underline; }
  .read_more.copy_block_missing_venue_event .less_toggle {
    margin-top: 7px; }
    .read_more.copy_block_missing_venue_event .less_toggle span {
      text-decoration: underline; }

.read_more_left {
  position: relative;
  float: left; }

.overview_copy_block .clipped {
  height: 110px; }
.overview_copy_block .more_toggle,
.overview_copy_block .less_toggle {
  margin-top: 7px; }

.read_more.pull_down .more_toggle,
.read_more.pull_down .less_toggle {
  background: url("/assets/content_bg/readmore_clipped_sprite.png") 0 0 repeat-x transparent;
  margin-top: -6px !important;
  border: none;
  text-align: center;
  padding: 0 0 17px;
  height: 19px;
  position: relative; }
.read_more.pull_down .fake-link {
  background: url("/assets/content_bg/readmore_clipped_sprite.png") 0 -43px no-repeat transparent;
  display: inline-block;
  font-size: 10px;
  width: 89px;
  height: 17px;
  position: relative;
  top: 12px;
  line-height: 10px;
  text-decoration: underline; }
.read_more.pull_down .blue_text.arrow,
.read_more.pull_down .blue-text.arrow {
  display: none; }
/*





*/
/* LEFT COLUMN
---------------------------------------------*/
#left_container .category_page_content .overview_copy_block {
  font-size: 12px;
  line-height: 14px; }
  #left_container .category_page_content .overview_copy_block .blue_header {
    margin-bottom: 12px; }
  #left_container .category_page_content .overview_copy_block .thumbnail_link {
    float: left;
    width: 165px;
    height: 110px;
    margin: 0 12px 0 0; }
    #left_container .category_page_content .overview_copy_block .thumbnail_link img {
      width: 165px;
      height: 110px; }
  #left_container .category_page_content .overview_copy_block .read_more {
    width: 527px; }
#left_container #related_pages ul {
  float: left;
  width: 176px;
  padding: 3px 0 0; }
  #left_container #related_pages ul li {
    margin: 0 0 3px;
    font-size: 13px; }
    #left_container #related_pages ul li a, #left_container #related_pages ul li a:link, #left_container #related_pages ul li a:visited {
      color: #375363;
      text-shadow: 0 0 0.08em #DADADA; }
      #left_container #related_pages ul li a:hover, #left_container #related_pages ul li a:link:hover, #left_container #related_pages ul li a:visited:hover {
        color: black; }

.read_more.pull_down .more_toggle {
  margin-top: -18px !important; }
.read_more.pull_down .less_toggle {
  margin-top: -6px !important; }
.read_more.pull_down .fake-link {
  top: 14px; }

/*RIGHT COLUMN*/
/*---------------------------------------------*/
#right_sidebar .missing_venue_event,
#right_sidebar .ad {
  display: none; }
/*FOR TOP SECTION LINK*/
.videos_link a:link,
.videos_link a:visited {
  color: #597686;
  text-decoration: underline; }

/*BEGIN VIDEO POD PROPERTIES*/
/*-------------------------------------------------*/
.video_section .video_player {
  width: 333px;
  height: 257px;
  overflow: hidden;
  position: relative; }

.video_section .video_player .watermark {
  background: url(/assets/video/video_sprite.png) 0 -172px no-repeat transparent;
  height: 32px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 50px; }

.full_screen_player .watermark {
  background: url(/assets/video/video_sprite.png) -82px -172px no-repeat transparent;
  width: 121px;
  height: 78px;
  position: absolute;
  right: 10px;
  top: 8px; }

.video_section .video_player .video_frame,
.video_section .video_player iframe {
  display: block;
  height: 220px !important; }

.video_section .video_player iframe {
  border: none; }

.video_section .video_title.headline {
  color: #333333;
  font-weight: normal;
  height: 33px;
  margin: 0 0 10px;
  overflow: hidden;
  font-size: 26px;
  line-height: 29px;
  padding: 6px 0 0 0; }

/*BEGIN VIDEO PLAYER*/
/*-------------------------------------------------*/
.full_screen_player {
  background: #000;
  width: 100%;
  height: 100%; }

/*VIDEO CONTROLS*/
/*-------------------------------------------------*/
.video_player .controls,
.full_screen_player .controls {
  background: url(/assets/video/controls_bg_repeat.png) 0 0 repeat transparent;
  height: 32px; }

.controls .inner_bg_one {
  background: url(/assets/video/video_sprite.png) 100% -32px no-repeat scroll transparent;
  padding: 0 8px 0 0;
  height: 32px; }

.controls .inner_bg_two {
  background: url(/assets/video/video_sprite.png) 0 0 no-repeat scroll transparent;
  height: 24px;
  padding: 4px 0 4px 8px; }

.controls .play_btn {
  width: 43px;
  height: 24px;
  cursor: pointer; }

.controls .play_btn.playing {
  background: url(/assets/video/video_sprite.png) 0 -88px no-repeat transparent; }

.controls .play_btn.playing:hover {
  background: url(/assets/video/video_sprite.png) -43px -88px no-repeat transparent; }

.controls .play_btn.playing.pressed {
  background: url(/assets/video/video_sprite.png) -43px -112px no-repeat transparent; }

.controls .play_btn.paused {
  background: url(/assets/video/video_sprite.png) 0 -64px no-repeat transparent; }

.controls .play_btn.paused:hover {
  background: url(/assets/video/video_sprite.png) -43px -64px no-repeat transparent; }

.controls .play_btn.paused.pressed {
  background: url(/assets/video/video_sprite.png) 0 -112px no-repeat transparent; }

.controls .time_display {
  font-size: 11px;
  line-height: 11px;
  margin: 5px 0 0;
  text-align: center;
  width: 70px; }

.controls .time_display .elapsed_time {
  color: #0099ff; }

.controls .time_display .time_divider {
  color: #999999;
  margin: 0 -2px;
  position: relative;
  top: -1px; }

.controls .time_display .total_time {
  color: #999; }

.ProgressBarPopup {
  background: url(/assets/video/video_sprite.png) -146px -64px no-repeat transparent;
  color: #cccccc;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  position: absolute;
  width: 36px;
  height: 22px;
  padding: 5px 0 0 0; }

.controls .progress_bar {
  height: 12px;
  margin: 2px 20px 0 0;
  padding: 4px 0 0; }

.controls .progress_bar .total_bar,
.controls .progress_bar .buffer_wrapper,
.controls .progress_bar .played_bar,
.controls .progress_bar .scrubber {
  position: relative;
  height: 5px;
  left: 4px; }

.controls .progress_bar .total_bar_wrapper {
  background: url(/assets/video/video_sprite.png) no-repeat scroll 100% -149px transparent;
  height: 13px;
  padding: 0 4px 0 0;
  width: 100%; }

.controls .progress_bar .total_bar {
  background: url(/assets/video/video_sprite.png) no-repeat scroll 0 -136px transparent;
  height: 5px;
  left: 0;
  padding: 4px 0 4px 4px; }

.controls .progress_bar .buffer_wrapper {
  border-radius: 4px 4px 4px 4px;
  top: -9px;
  width: 100%;
  overflow: hidden; }

.controls .progress_bar .buffered_bar {
  background: url(/assets/video/video_sprite.png) 0 -167px repeat-x transparent;
  height: 5px; }

.controls .progress_bar .played_bar {
  background: url(/assets/video/video_sprite.png) 0 -162px repeat-x transparent;
  border-radius: 4px 4px 4px 4px;
  top: -14px; }

.controls .progress_bar .scrubber {
  top: -20px; }

.controls .progress_bar .scrubber .ui-slider-handle {
  background: url(/assets/video/video_sprite.png) -86px -78px no-repeat transparent;
  top: -4px;
  width: 19px;
  height: 12px; }

.controls .volume {
  cursor: pointer;
  margin: 5px 10px 0 0;
  width: 68px; }

.controls .volume .mute {
  background: url(/assets/video/video_sprite.png) -86px -64px no-repeat transparent;
  width: 16px;
  height: 13px;
  margin: 0 8px 0 0; }

.controls .volume .mute.off {
  background: url(/assets/video/video_sprite.png) -86px -64px no-repeat transparent; }

.controls .volume .mute:hover,
.controls .volume .mute.on {
  background: url(/assets/video/video_sprite.png) -102px -64px no-repeat transparent; }

.controls .volume .vol_bars {
  float: left;
  padding: 2px; }

.controls .volume .vol_bar {
  float: left;
  height: 10px;
  margin: 0 2px 0 0;
  width: 4px; }

.controls .volume .vol_bar.last {
  margin: 0; }

.controls .volume .vol_bar.on {
  background: url(/assets/video/video_sprite.png) -118px -64px no-repeat transparent; }

.controls .volume .vol_bar.off {
  background: url(/assets/video/video_sprite.png) -126px -64px no-repeat transparent; }

.controls .volume .vol_bar.off:hover {
  background: url(/assets/video/video_sprite.png) -122px -64px no-repeat transparent; }

.controls .full_screen {
  background: url(/assets/video/video_sprite.png) -130px -64px no-repeat transparent;
  width: 16px;
  height: 14px;
  margin: 5px 0 0;
  cursor: pointer; }

.controls .full_screen:hover {
  background-position: -130px -78px; }

.full_screen_player .controls .full_screen {
  background-position: -130px -92px; }

.full_screen_player .controls .full_screen:hover {
  background-position: -130px -106px; }

/*FOR JQUERY SLIDER*/
/*-------------------------------------------------*/
.controls .ui-slider {
  position: relative;
  text-align: left; }

.controls .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default; }

.controls .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0; }

.controls .ui-slider-horizontal .ui-slider-handle {
  margin-left: -0.6em; }

.controls .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.controls .ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.controls .ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

.controls .ui-slider-vertical {
  width: .8em;
  height: 100px; }

.controls .ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em; }

.controls .ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%; }

.controls .ui-slider-vertical .ui-slider-range-min {
  bottom: 0; }

.controls .ui-slider-vertical .ui-slider-range-max {
  top: 0; }

/*BEGIN MORE VIDEO SECTION*/
/*-------------------------------------------------*/
.video_scroller_wrapper {
  height: 320px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150000px; }

.video_section .more_videos {
  height: 337px;
  margin: -8px 0 0 13px;
  overflow: hidden;
  width: 360px;
  position: relative; }

.video_section .more_videos.single_page {
  height: 308px; }

.video_section .more_videos .video_row {
  width: 360px; }

.video_section .video_item {
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  height: 136px;
  margin: 0 4px 4px 0;
  overflow: hidden;
  padding: 8px;
  width: 100px; }

.video_section .video_item:hover,
.video_section .video_item.playing {
  background-color: #f2f2f2; }

.video_section .video_item .thumbnail_link {
  cursor: pointer; }
  .video_section .video_item .thumbnail_link .play_btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 80px;
    background: url(/assets/events/events_sprite.png) 0 -296px no-repeat transparent; }
  .video_section .video_item .thumbnail_link:hover .play_btn {
    background-position: -100px -296px; }
.video_section .video_item.playing .thumbnail_link {
  cursor: default; }
  .video_section .video_item.playing .thumbnail_link .play_btn {
    display: none; }

.video_section .video_item .video_title {
  height: 29px;
  line-height: 14px;
  margin: 4px 0 0;
  overflow: hidden;
  cursor: pointer; }

.video_section .video_item.playing .video_title,
.video_section .video_item:hover .video_title {
  color: #333; }

.video_section .video_item .views_count {
  color: #666666;
  font-size: 11px;
  height: 11px;
  overflow: hidden; }

.video_section .prev_next_btns {
  border-top: 1px dotted #CCCCCC;
  bottom: 0;
  left: 0;
  padding: 8px 0 0;
  position: absolute;
  width: 360px;
  height: 17px; }

.video_section .prev_next_btns .prev_btn {
  background-position: -171px -2904px; }

.video_section .prev_next_btns .next_btn {
  background-position: 30px -2904px; }

/*START HORIZONTAL WIDTH480 VIDEO PLAYER PROPERTIES*/
.video_section.horizontal_width480 .video_title.headline {
  margin: 0 0 3px;
  width: 376px; }

.video_section.horizontal_width480 .video_player {
  height: 267px; }

.video_section.horizontal_width480 .video_player .video_frame,
.video_section.horizontal_width480 .video_player iframe {
  height: 235px !important; }

.video_section.horizontal_width480 .more_videos {
  height: 50px;
  margin: 7px 27px 0;
  width: 406px;
  overflow: visible; }

.video_section.horizontal_width480 .video_scroller_container {
  overflow: hidden;
  height: 50px;
  width: 406px;
  left: 0;
  position: absolute;
  top: 0; }

.video_section.horizontal_width480 .video_scroller_wrapper {
  height: 50px; }

.video_section.horizontal_width480 .more_videos .video_row {
  width: 415px; }

.video_section.horizontal_width480 .video_item {
  border: 2px solid #FFFFFF;
  height: 46px;
  margin: 0 10px 0 0;
  padding: 0;
  width: 69px; }

.video_section.horizontal_width480 .video_item:hover,
.video_section.horizontal_width480 .video_item.playing {
  background: none;
  border: 2px solid #0099ff; }

.video_section.horizontal_width480 .video_item .video_thumb {
  position: relative; }

.video_section.horizontal_width480 .video_item .video_thumb .play_btn {
  background-position: -15px -313px;
  height: 46px;
  width: 69px; }

.video_section.horizontal_width480 .video_item .video_thumb:hover .play_btn {
  background-position: -115px -313px; }

.video_section.horizontal_width480 .prev_next_btns {
  border-top: none;
  position: static;
  height: 50px;
  width: 100%; }

.video_section.horizontal_width480 .prev_next_btns .prev_btn,
.video_section.horizontal_width480 .prev_next_btns .next_btn {
  background: url(/assets/video/video_sprite.png) no-repeat transparent;
  width: 16px;
  height: 16px;
  position: absolute;
  text-indent: -9999px;
  padding: 0; }

.video_section.horizontal_width480 .prev_next_btns .prev_btn {
  background-position: -50px -172px;
  left: -22px;
  top: 16px; }

.video_section.horizontal_width480 .prev_next_btns .prev_btn:hover {
  background-position: -50px -188px; }

.video_section.horizontal_width480 .prev_next_btns .next_btn {
  background-position: -66px -172px;
  right: -22px;
  top: 16px; }

.video_section.horizontal_width480 .prev_next_btns .next_btn:hover {
  background-position: -66px -188px; }
/* TOOLTIP STYLES
--------------------------------------------------------------
:: Basic Styles for the tooltip container and point.
:: Position and border need to be adjusted for specific usage.
-------------------------------------------------------------- */
.dialog_box {
  position: absolute;
  z-index: 6000;
  padding: 4px;
  background-color: #889aa4;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }
  .dialog_box .dialog_content_wrapper {
    padding: 11px 14px 9px;
    background-color: #f7f9fb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
  .dialog_box .dialog_img {
    display: none; }
  .dialog_box .dialog_content h1 {
    color: #09f;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 6px; }
  .dialog_box .dialog_content p {
    padding: 0;
    font-size: 13px;
    line-height: 16px !important;
    /* To override venue styles for  #object_page_info dd p */ }
  .dialog_box .dialog_content .title {
    float: left;
    text-transform: uppercase;
    line-height: 16px; }
  .dialog_box .close_btn, .dialog_box .close_btn:hover {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 8px;
    height: 8px;
    background-image: url(/assets/characters/liked_by_sprite.png);
    background-position: -172px -138px; }

.dialog_point {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0 0 -12px;
  border-top: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent; }
  .dialog_point .dialog_inner_point {
    position: absolute;
    z-index: 6001;
    width: 0;
    height: 0;
    margin: 0 0 10px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    overflow: hidden; }

/* Help Button Tooltip Trigger/Container
-------------------------------------------------------------- */
.help_btn {
  position: relative;
  z-index: 3000;
  width: 16px;
  height: 16px;
  background-image: url(/assets/content_bg/application_sprite.png);
  background-position: -27px -185px;
  /* Position of dialog box and point specific to help trigger */ }
  .help_btn:hover {
    background-position: -44px -185px;
    cursor: pointer; }
  .help_btn .dialog_box {
    width: 260px;
    top: -22px;
    left: 29px; }
  .help_btn .dialog_point {
    top: -4px;
    left: 18px;
    border-right: 12px solid #889AA4;
    border-left: none; }
    .help_btn .dialog_point .dialog_inner_point {
      left: 5px;
      top: -10px;
      border-right: 10px solid #F7F9FB;
      border-left: none; }

/* Ratings Help Tooltip */
#ratings-help p {
  padding: 0;
  color: #000;
  font-size: 11px;
  line-height: 13px; }
#ratings-help table {
  margin: 5px 0 0; }
#ratings-help td {
  vertical-align: top; }
#ratings-help .char-link {
  text-decoration: none; }
  #ratings-help .char-link:hover {
    text-decoration: underline; }
#ratings-help .lucas-color {
  color: #3375C4; }
#ratings-help .adriana-color {
  color: #B8529E; }
#ratings-help .jonah-color {
  color: #73B808; }
#ratings-help .emma-color {
  color: #FFCC05; }
#ratings-help .stars {
  display: block;
  width: 66px;
  height: 14px;
  margin: 1px 15px 0 0;
  background-image: url(/assets/characters/char_page_ratings_stars.png); }
  #ratings-help .stars.row1 {
    background-position: 0 -47px; }
  #ratings-help .stars.row2 {
    background-position: 0 -61px; }
  #ratings-help .stars.row3 {
    background-position: 0 -75px; }
  #ratings-help .stars.row4 {
    background-position: 0 -89px; }
  #ratings-help .stars.row5 {
    background-position: 0 -103px; }
/*

*/
.liked_by {
  /* Specific character styles */
  /* Disabled styles */
  /* Bigger version styles */ }
  .liked_by div, .liked_by p, .liked_by span {
    -moz-user-select: none;
    user-select: none; }
  .liked_by dt {
    float: left;
    margin-bottom: 2px;
    color: #8ea8b5;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase; }
  .liked_by dd {
    float: right; }
  .liked_by ul {
    position: relative; }
  .liked_by .character_cont {
    float: left;
    margin: 0 4px 0 0;
    padding: 0 0 2px;
    border-bottom: 2px solid;
    /* Tooltip container and point positioning for liked by characters */ }
    .liked_by .character_cont:hover {
      cursor: pointer; }
    .liked_by .character_cont .character {
      display: block;
      width: 25px;
      height: 25px;
      background-image: url(/assets/characters/liked_by_sprite.png);
      border: 1px solid #adc0c9;
      border-radius: 2px;
      cursor: pointer; }
    .liked_by .character_cont .dialog_box {
      right: -9px;
      bottom: 41px; }
      .liked_by .character_cont .dialog_box .dialog_content_wrapper {
        width: 184px;
        padding: 11px 10px 9px; }
      .liked_by .character_cont .dialog_box .dialog_img {
        display: block;
        float: left;
        width: 32px;
        height: 87px;
        background-image: url(/assets/characters/liked_by_sprite.png); }
      .liked_by .character_cont .dialog_box .dialog_content {
        float: left;
        width: 134px;
        margin: 7px 0 0 11px; }
    .liked_by .character_cont .dialog_point {
      position: relative;
      bottom: 39px;
      left: 1px;
      border-top: 12px solid #889AA4;
      border-bottom: none; }
      .liked_by .character_cont .dialog_point .dialog_inner_point {
        bottom: -5px;
        left: -10px;
        border-top: 10px solid #F7F9FB;
        border-bottom: none; }
  .liked_by .lucas {
    border-color: #4175ab; }
    .liked_by .lucas .character {
      background-position: -1px -3px; }
    .liked_by .lucas .title {
      color: #4175ab; }
    .liked_by .lucas .dialog_img {
      background-position: 0 -209px; }
    .liked_by .lucas:hover {
      border-color: #4175ab; }
      .liked_by .lucas:hover .character {
        border-color: #4175ab !important;
        background-position: -1px -3px !important; }
  .liked_by .adriana {
    border-color: #c675b1; }
    .liked_by .adriana .character {
      background-position: -31px -3px; }
    .liked_by .adriana .title {
      color: #c675b1; }
    .liked_by .adriana .dialog_img {
      background-position: -32px -209px; }
    .liked_by .adriana:hover {
      border-color: #c675b1; }
      .liked_by .adriana:hover .character {
        border-color: #c675b1 !important;
        background-position: -31px -3px !important; }
  .liked_by .jonah {
    border-color: #95c946; }
    .liked_by .jonah .character {
      background-position: -61px -3px; }
    .liked_by .jonah .title {
      color: #95c946; }
    .liked_by .jonah .dialog_img {
      background-position: -64px -209px; }
    .liked_by .jonah:hover {
      border-color: #95c946; }
      .liked_by .jonah:hover .character {
        border-color: #95c946 !important;
        background-position: -61px -3px !important; }
  .liked_by .emma {
    margin-right: 0;
    border-color: #ffb637; }
    .liked_by .emma .character {
      background-position: -91px -3px; }
    .liked_by .emma .title {
      color: #ffb637; }
    .liked_by .emma .dialog_img {
      background-position: -96px -209px; }
    .liked_by .emma:hover {
      border-color: #ffb637; }
      .liked_by .emma:hover .character {
        border-color: #ffb637 !important;
        background-position: -91px -3px !important; }
  .liked_by .disabled {
    border-color: #dae4e9; }
    .liked_by .disabled.lucas .character {
      background-position: -1px -33px; }
    .liked_by .disabled.adriana .character {
      background-position: -31px -33px; }
    .liked_by .disabled.jonah .character {
      background-position: -61px -33px; }
    .liked_by .disabled.emma .character {
      background-position: -91px -33px; }
  .liked_by.liked_by_big .character_cont {
    border-width: 3px; }
    .liked_by.liked_by_big .character_cont .character {
      width: 28px;
      height: 28px; }
    .liked_by.liked_by_big .character_cont .dialog_box {
      bottom: 43px; }
    .liked_by.liked_by_big .character_cont .dialog_point {
      bottom: 41px; }
  .liked_by.liked_by_big .lucas .character {
    background-position: 0 0; }
  .liked_by.liked_by_big .lucas:hover .character {
    background-position: 0 0 !important; }
  .liked_by.liked_by_big .adriana .character {
    background-position: -30px 0; }
  .liked_by.liked_by_big .adriana:hover .character {
    background-position: -30px 0 !important; }
  .liked_by.liked_by_big .jonah .character {
    background-position: -60px 0; }
  .liked_by.liked_by_big .jonah:hover .character {
    background-position: -60px 0 !important; }
  .liked_by.liked_by_big .emma .character {
    background-position: -90px 0; }
  .liked_by.liked_by_big .emma:hover .character {
    background-position: -90px 0 !important; }
  .liked_by.liked_by_big .disabled.lucas .character {
    background-position: 0 -30px; }
  .liked_by.liked_by_big .disabled.adriana .character {
    background-position: -30px -30px; }
  .liked_by.liked_by_big .disabled.jonah .character {
    background-position: -60px -30px; }
  .liked_by.liked_by_big .disabled.emma .character {
    background-position: -90px -30px; }
/*BEGIN CHARACTER PICKS STYLES*/
/*-------------------------------------------*/
#right_sidebar .pod_header {
  position: relative; }
#right_sidebar .character_picks .liked_by {
  position: absolute;
  top: 3px;
  left: 0; }
  #right_sidebar .character_picks .liked_by .dialog_box {
    right: auto;
    bottom: 42px;
    left: -45px; }
#right_sidebar .character_picks h3 {
  min-height: 34px;
  padding-left: 42px;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px; }
#right_sidebar .character_picks .character_likes {
  margin: 10px 0;
  padding: 10px 8px;
  color: #fff;
  font-size: 11px;
  line-height: 14px;
  border-radius: 4px; }
  #right_sidebar .character_picks .character_likes dt {
    text-transform: uppercase; }
  #right_sidebar .character_picks .character_likes dd {
    display: inline; }
  #right_sidebar .character_picks .character_likes a, #right_sidebar .character_picks .character_likes a:visited, #right_sidebar .character_picks .character_likes .fake_link {
    color: #fff;
    text-decoration: underline; }
    #right_sidebar .character_picks .character_likes a:hover, #right_sidebar .character_picks .character_likes a:visited:hover, #right_sidebar .character_picks .character_likes .fake_link:hover {
      color: #efefef; }
#right_sidebar .character_picks.lucas h2,
#right_sidebar .character_picks.lucas .pod_footer .arrow {
  color: #3375C4; }
#right_sidebar .character_picks.lucas .character_likes {
  background: #3375C4; }
#right_sidebar .character_picks.adriana h2,
#right_sidebar .character_picks.adriana .pod_footer .arrow {
  color: #B8529E; }
#right_sidebar .character_picks.adriana .character_likes {
  background: #B8529E; }
#right_sidebar .character_picks.jonah h2,
#right_sidebar .character_picks.jonah .pod_footer .arrow {
  color: #95C946; }
#right_sidebar .character_picks.jonah .character_likes {
  background: #95C946; }
#right_sidebar .character_picks.emma h2,
#right_sidebar .character_picks.emma .pod_footer .arrow {
  color: #FFCC05; }
#right_sidebar .character_picks.emma .character_likes {
  background: #FFCC05; }
#right_sidebar .character_picks .pod_footer {
  padding: 0;
  border-top: none; }
/*






*/
/*LEFT COLUMN*/
/*---------------------------------------------*/
#left_container .category_page_content.sports .collapse_bar_wrapper:hover,
#left_container .category_page_content.sports .expand_bar_wrapper:hover {
  box-shadow: 0px 2px 3px #d9d9d9;
  border-top-color: #EBEBEB;
  border-bottom-color: white;
  border-left-color: #F3F3F3;
  border-right-color: #F3F3F3;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#f1f1f1));
  background: -moz-linear-gradient(top, #fbfbfb, #f1f1f1);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FBFBFB, endColorStr=#F1F1F1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FBFBFB, endColorStr=#F1F1F1);
  cursor: default; }
#left_container .video_section .prev_next_btns {
  bottom: -4px;
  padding-top: 7px; }

/* RIGHT SIDEBAR
--------------------------------------------- */
#right_sidebar .missing_venue_event,
#right_sidebar .ad {
  display: none; }
#right_sidebar .subscribe_btn {
  top: -4px; }
