.paypal {
  min-height: auto !important; }
  .paypal h1 {
    margin-bottom: 15px !important; }

.paypal_cont {
  padding: 10px 0; }
  .paypal_cont .logo {
    background: url(/assets/tickets/paypal_logo.png) no-repeat;
    float: left;
    margin-top: 4px;
    height: 33px;
    width: 122px; }
  .paypal_cont .text {
    color: #597686;
    font-size: 15px;
    float: left;
    line-height: 19px;
    margin-left: 20px;
    width: 533px; }

.action_cont {
  width: 100%; }
  .action_cont .btn_paypal {
    float: right;
    font-size: 16px;
    width: 200px; }

.action_paypal {
  border-top: 1px solid #d7d7d7;
  padding-top: 14px; }
  .action_paypal .btn_orange {
    float: right;
    width: 150px; }
