/*--------*/
/* Mixins */
/*--------*/
/*---------------*/
/* Admin Options */
/*---------------*/
.admin_options h3 {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #FFFFFF;
  background-color: #0099FF;
  margin: 15px 0 5px;
  padding: 5px 10px; }
.admin_options ul li {
  margin-bottom: 5px; }
.admin_options .arrow {
  color: #ff9900; }

/*----------------*/
/* Heading Styles */
/*----------------*/
h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  margin: 0;
  padding: 0; }
  h1 a {
    color: #000000 !important; }
    h1 a:hover {
      color: #597686 !important; }

h2 {
  border-bottom: 1px dashed #adc0c9;
  color: #0099FF;
  font-size: 23px;
  font-weight: normal;
  line-height: 27px;
  margin-bottom: 10px;
  padding: 10px 0 8px;
  -webkit-text-size-adjust: none !important; }
  h2 span {
    color: #c2c2c2;
    font-size: 12px;
    -webkit-text-size-adjust: none !important; }
  h2.additional {
    border-bottom: none !important;
    border-top: 1px dashed #adc0c9;
    margin-bottom: 0 !important; }
  h2.buyer {
    border-bottom: 1px dashed #ADC0C9; }

h3 {
  border-top: 1px dashed #adc0c9;
  text-transform: uppercase;
  padding-top: 10px;
  margin: 0 !important; }
  h3 span {
    color: #c2c2c2;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
    -webkit-text-size-adjust: none !important; }
    h3 span .required {
      color: #0099FF; }
  h3.additional {
    border-top: 1px dashed #adc0c9;
    text-transform: uppercase !important;
    padding: 10px 0 !important;
    font-size: 16px !important;
    font-weight: bold !important; }

h4 {
  color: #375363;
  font-size: 16px;
  margin: 10px 0 8px; }
  h4.additional {
    margin: 0 !important;
    padding: 10px 0 !important;
    border-top: 1px dashed #adc0c9; }

/*-------------*/
/* Form Styles */
/*-------------*/
.pod input[type=text], .pod textarea {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c4c3c3;
  margin-top: 7px;
  padding: 5px;
  width: 210px; }
  .pod input[type=text]:first-child, .pod textarea:first-child {
    margin: 0; }
.pod select {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-family: "Roboto Light", "Arimo", Arial, sans-serif !important;
  border: 1px solid #c4c3c3;
  font-size: 14px;
  line-height: 24px;
  padding: 5px 8px 5px 0;
  text-indent: 6px;
  width: 85px; }

/*---------------*/
/* Button Styles */
/*---------------*/
.btn_gray {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #cdd9df;
  color: #597686;
  cursor: pointer;
  text-shadow: 1px 1px 0px #ffffff;
  filter: dropshadow(color=white, offx=1, offy=1);
  background: #f9fafb;
  background: -webkit-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  background: -moz-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  background: -ms-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  background: -o-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9fafb), color-stop(100%, #e5eaed));
  background: linear-gradient(to bottom, #f9fafb 0%, #e5eaed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fafb', endColorstr='#e5eaed',GradientType=0 ); }
  .btn_gray:hover {
    background: #e5eaed;
    background: -webkit-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    background: -moz-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    background: -ms-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    background: -o-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5eaed), color-stop(100%, #f9fafb));
    background: linear-gradient(to bottom, #e5eaed 0%, #f9fafb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5eaed', endColorstr='#f9fafb',GradientType=0 ); }

/*--------------*/
/* Tickets Form */
/*--------------*/
.ticket_form {
  float: left;
  width: 680px;
  /* Venue Name */
  /* Form Container & Ticket Table */
  /* Submit Button & Errors */
  /* Promo, Total & Submit Button */
  /* Additional Info */ }
  .ticket_form .venue_name_cont {
    min-height: 60px;
    position: relative;
    /* Date */
    /* Edit Order */ }
    .ticket_form .venue_name_cont .date {
      color: #0099FF;
      font-size: 16px;
      font-weight: bold;
      padding: 8px 0; }
    .ticket_form .venue_name_cont .edit_order {
      color: #0099FF !important;
      display: inline-block;
      font-size: 12px;
      padding: 8px 0; }
      .ticket_form .venue_name_cont .edit_order:hover {
        color: #597686 !important; }
  .ticket_form .form_cont {
    position: relative; }
    .ticket_form .form_cont .inline-errors {
      color: red;
      font-size: 11px;
      margin-left: 5px; }
    .ticket_form .form_cont .ticket_table {
      width: 100%;
      /* Table Row */
      /* Table Head */
      /* Table Cell */
      /* Purchase Table */ }
      .ticket_form .form_cont .ticket_table tr {
        border-bottom: 1px dashed #d7d7d7; }
        .ticket_form .form_cont .ticket_table tr:first-child, .ticket_form .form_cont .ticket_table tr:last-child {
          border-bottom-style: solid; }
        .ticket_form .form_cont .ticket_table tr:first-child {
          border-bottom: none; }
      .ticket_form .form_cont .ticket_table th {
        background-color: #ebebeb;
        color: #acacac;
        font-size: 11px;
        height: 22px;
        text-align: left;
        text-transform: uppercase; }
        .ticket_form .form_cont .ticket_table th.ticket_type {
          padding-left: 10px;
          width: 220px; }
        .ticket_form .form_cont .ticket_table th.show_time {
          width: 165px; }
        .ticket_form .form_cont .ticket_table th.ages {
          text-align: center;
          width: 35px; }
        .ticket_form .form_cont .ticket_table th.price {
          text-align: right;
          width: 75px; }
        .ticket_form .form_cont .ticket_table th.fee {
          text-align: right;
          width: 75px; }
        .ticket_form .form_cont .ticket_table th.quantity {
          text-align: right;
          padding-right: 5px;
          width: 95px; }
      .ticket_form .form_cont .ticket_table td {
        font-family: "Roboto Light", "Arimo", Arial, sans-serif !important;
        color: #252525;
        font-size: 14px;
        padding: 8px 0;
        vertical-align: top; }
        .ticket_form .form_cont .ticket_table td.ticket_type {
          padding-right: 20px;
          padding-top: 14px;
          text-align: left; }
          .ticket_form .form_cont .ticket_table td.ticket_type .more_info_cont {
            display: block; }
            .ticket_form .form_cont .ticket_table td.ticket_type .more_info_cont .link {
              font-size: 11px; }
              .ticket_form .form_cont .ticket_table td.ticket_type .more_info_cont .link span {
                border-bottom: 1px dotted #8ea8b5;
                color: #8ea8b5;
                cursor: pointer;
                text-decoration: none; }
                .ticket_form .form_cont .ticket_table td.ticket_type .more_info_cont .link span:hover {
                  border-bottom: 1px dotted #000000;
                  color: #000000; }
            .ticket_form .form_cont .ticket_table td.ticket_type .more_info_cont p {
              color: #959595;
              font-size: 11px;
              line-height: 100%;
              padding: 5px 0 2px;
              width: 175px; }
        .ticket_form .form_cont .ticket_table td.show_time {
          padding-top: 14px; }
        .ticket_form .form_cont .ticket_table td.ages {
          padding-top: 14px;
          text-align: center; }
        .ticket_form .form_cont .ticket_table td.price, .ticket_form .form_cont .ticket_table td.fee {
          padding-top: 14px;
          text-align: right; }
        .ticket_form .form_cont .ticket_table td.quantity {
          line-height: 15px;
          text-align: right; }
          .ticket_form .form_cont .ticket_table td.quantity span {
            display: block;
            padding: 7px 0; }
      .ticket_form .form_cont .ticket_table.purchase_table th.qty {
        text-align: center;
        width: 35px; }
      .ticket_form .form_cont .ticket_table.purchase_table th.price {
        width: 75px; }
      .ticket_form .form_cont .ticket_table.purchase_table th.fee {
        width: 75px; }
      .ticket_form .form_cont .ticket_table.purchase_table th.total {
        width: 100px;
        padding-right: 5px;
        text-align: right; }
      .ticket_form .form_cont .ticket_table.purchase_table td {
        padding: 8px 0 !important; }
        .ticket_form .form_cont .ticket_table.purchase_table td.ticket_type {
          padding-right: 20px !important; }
        .ticket_form .form_cont .ticket_table.purchase_table td.qty {
          text-align: center; }
        .ticket_form .form_cont .ticket_table.purchase_table td.total {
          padding-right: 5px !important;
          text-align: right; }
    .ticket_form .form_cont .ticket_total {
      display: none !important; }
  .ticket_form .action_cont {
    border-top: 1px solid #d7d7d7;
    padding-top: 14px;
    /* Error & Success Message */ }
    .ticket_form .action_cont .terms {
      color: #252525;
      font-size: 11px;
      float: left;
      margin-top: 7px;
      -webkit-text-size-adjust: none !important; }
      .ticket_form .action_cont .terms a {
        color: #464646; }
        .ticket_form .action_cont .terms a:hover {
          text-decoration: none; }
    .ticket_form .action_cont .terms {
      color: #252525;
      font-size: 11px;
      float: left;
      margin-top: 7px;
      -webkit-text-size-adjust: none !important; }
      .ticket_form .action_cont .terms a {
        color: #464646; }
        .ticket_form .action_cont .terms a:hover {
          text-decoration: none; }
    .ticket_form .action_cont .btn_cont {
      float: right;
      height: 34px;
      position: relative;
      width: 170px; }
      .ticket_form .action_cont .btn_cont .btn_orange,
      .ticket_form .action_cont .btn_cont .btn_processing {
        font-size: 16px;
        margin-top: 0;
        position: absolute;
        right: 0;
        width: 170px;
        -webkit-appearance: none; }
      .ticket_form .action_cont .btn_cont .btn_orange {
        border-bottom: 1px solid #D27700;
        cursor: pointer;
        padding: 8px 0 7px; }
      .ticket_form .action_cont .btn_cont .btn_processing {
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background-color: #597686;
        border-bottom: 1px solid #192c37;
        color: #FFFFFF;
        cursor: default;
        display: none;
        margin-top: 0;
        height: 33px;
        text-shadow: -1px -1px #395361; }
        .ticket_form .action_cont .btn_cont .btn_processing .text {
          float: left;
          margin: 9px 0 0 30px; }
        .ticket_form .action_cont .btn_cont .btn_processing .spinner {
          background: url("//partyearth.s3.amazonaws.com/images/tickets/spinner.gif") no-repeat;
          display: inline-block;
          height: 24px;
          float: right;
          margin: 5px 30px 0 0;
          width: 24px; }
    .ticket_form .action_cont .msg_cont {
      text-align: center;
      width: 680px; }
      .ticket_form .action_cont .msg_cont .success_msg {
        border: 2px solid green;
        color: green;
        display: none;
        font-weight: bold;
        margin-top: 10px;
        padding: 5px; }
  .ticket_form .inline-errors {
    color: red;
    font-size: 11px;
    padding-left: 5px; }
  .ticket_form .table_promo_cont {
    border-bottom: 1px solid #adc0c9;
    min-height: 34px;
    padding: 8px 0;
    position: relative;
    -webkit-text-size-adjust: none;
    /* Ticket Total */
    /* Submit Button */
    /* Promo Code */ }
    .ticket_form .table_promo_cont .error_msg {
      color: red;
      line-height: 100%; }
    .ticket_form .table_promo_cont .ticket_total {
      color: #000000;
      float: right;
      font-size: 16px;
      font-weight: bold;
      line-height: 100%;
      margin-top: 10px;
      padding-right: 5px;
      text-align: right;
      text-transform: uppercase; }
      .ticket_form .table_promo_cont .ticket_total span:last-child {
        display: inline-block;
        width: 91px; }
    .ticket_form .table_promo_cont .submit_button {
      float: right;
      width: 330px; }
      .ticket_form .table_promo_cont .submit_button .btn_cont {
        float: right;
        height: 34px;
        position: relative;
        width: 170px; }
        .ticket_form .table_promo_cont .submit_button .btn_cont .btn_orange,
        .ticket_form .table_promo_cont .submit_button .btn_cont .btn_processing {
          font-size: 16px;
          margin-top: 0;
          position: absolute;
          right: 0;
          width: 170px;
          -webkit-appearance: none; }
        .ticket_form .table_promo_cont .submit_button .btn_cont .btn_orange {
          border-bottom: 1px solid #D27700; }
        .ticket_form .table_promo_cont .submit_button .btn_cont .btn_processing {
          -webkit-border-radius: 2px;
          border-radius: 2px;
          background-color: #597686;
          border-bottom: 1px solid #192c37;
          color: #FFFFFF;
          cursor: default;
          display: none;
          margin-top: 0;
          height: 33px;
          text-shadow: -1px -1px #395361; }
          .ticket_form .table_promo_cont .submit_button .btn_cont .btn_processing .text {
            float: left;
            margin: 9px 0 0 30px; }
          .ticket_form .table_promo_cont .submit_button .btn_cont .btn_processing .spinner {
            background: url("//partyearth.s3.amazonaws.com/images/tickets/spinner.gif") no-repeat;
            display: inline-block;
            height: 24px;
            float: right;
            margin: 5px 30px 0 0;
            width: 24px; }
      .ticket_form .table_promo_cont .submit_button .error_msg {
        margin-top: 7px;
        text-align: right;
        float: right; }
    .ticket_form .table_promo_cont .promo_cont {
      float: left;
      margin-top: 3px;
      width: 330px;
      z-index: 1; }
      .ticket_form .table_promo_cont .promo_cont .fake_link {
        margin-top: 4px;
        text-decoration: underline !important; }
      .ticket_form .table_promo_cont .promo_cont .promo_fields .promo_input {
        float: left;
        width: 170px; }
      .ticket_form .table_promo_cont .promo_cont .promo_fields .promo_msg {
        font-family: "Roboto Light", "Arimo", Arial, sans-serif !important;
        float: left;
        margin: 6px 5px 0 0; }
      .ticket_form .table_promo_cont .promo_cont .promo_fields .error_msg span {
        display: inline-block;
        padding-top: 10px; }
      .ticket_form .table_promo_cont .promo_cont .promo_fields .btn_gray {
        color: #0099FF;
        float: left;
        font-size: 13px;
        margin-left: 5px;
        padding: 4px 10px 3px; }
  .ticket_form .ticket_photo {
    float: left;
    height: 100%;
    margin-right: 15px;
    width: 100px; }
    .ticket_form .ticket_photo img {
      width: 100px; }
  .ticket_form .ticket_info {
    font-family: "Roboto Light", "Arimo", Arial, sans-serif !important;
    color: #252525;
    float: right;
    font-size: 13px;
    line-height: 16px;
    width: 565px; }
    .ticket_form .ticket_info p {
      padding: 0 0 10px; }
    .ticket_form .ticket_info.full {
      width: 100% !important; }

/*-----------------*/
/* Tickets Sidebar */
/*-----------------*/
.ticket_sidebar {
  float: right;
  width: 300px;
  /* Venue Address */
  /* Map Container */
  /* Timer Container */
  /* Ask Party Earth Container */ }
  .ticket_sidebar .venue {
    font-family: "Roboto Light", "Arimo", Arial, sans-serif !important;
    color: #252525;
    font-size: 13px;
    line-height: 16px; }
    .ticket_sidebar .venue .name {
      font-size: 16px;
      margin-bottom: 5px; }
    .ticket_sidebar .venue .address {
      line-height: 14px; }
      .ticket_sidebar .venue .address p {
        padding: 0; }
  .ticket_sidebar .map_cont {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #efebe2;
    border: 1px solid #d3cbcb;
    height: 240px;
    margin-top: 10px; }
  .ticket_sidebar .timer_cont {
    background-color: #fff9d0;
    margin-top: 10px;
    padding: 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
    .ticket_sidebar .timer_cont .timer {
      font-family: "Roboto Light", "Arimo", Arial, sans-serif !important;
      color: #ff9000;
      float: left;
      font-size: 50px;
      letter-spacing: -3px;
      margin-top: 14px;
      text-align: left;
      width: 105px; }
    .ticket_sidebar .timer_cont .info {
      color: #959595;
      float: left;
      font-size: 11px;
      line-height: 12px;
      margin-left: 10px;
      text-align: left;
      width: 165px; }
  .ticket_sidebar .ask_party_earth {
    position: relative;
    width: 300px;
    /* Question Link */
    /* Misc Items */
    /* Form */ }
    .ticket_sidebar .ask_party_earth .questions {
      border-bottom: 1px dashed #adc0c9;
      border-top: 1px solid #adc0c9;
      color: #0099FF;
      font-size: 20px;
      font-weight: bold;
      margin-top: 11px;
      padding: 14px 0; }
      .ticket_sidebar .ask_party_earth .questions span {
        border-bottom: 1px dotted #0099FF;
        color: #0099FF;
        cursor: pointer;
        text-decoration: none; }
        .ticket_sidebar .ask_party_earth .questions span:hover {
          border-bottom: 1px dotted #597686;
          color: #597686; }
    .ticket_sidebar .ask_party_earth .required_text {
      color: #c2c2c2;
      font-size: 12px;
      position: absolute;
      right: 0;
      top: 18px; }
    .ticket_sidebar .ask_party_earth .congrats_msg {
      color: #375363;
      font-size: 13px;
      line-height: 17px;
      margin-top: 10px; }
    .ticket_sidebar .ask_party_earth form {
      margin-top: 10px; }
      .ticket_sidebar .ask_party_earth form ol {
        position: relative; }
        .ticket_sidebar .ask_party_earth form ol li .inline-errors {
          color: red;
          font-size: 10px;
          margin-left: 78px; }
      .ticket_sidebar .ask_party_earth form label {
        color: #375363;
        display: inline-block;
        font-size: 14px;
        padding-top: 11px;
        position: absolute;
        right: 235px;
        text-align: left; }
        .ticket_sidebar .ask_party_earth form label abbr {
          color: #0099FF; }
      .ticket_sidebar .ask_party_earth form input, .ticket_sidebar .ask_party_earth form textarea {
        -webkit-border-radius: 2px;
        border-radius: 2px;
        float: right;
        width: 210px; }
        .ticket_sidebar .ask_party_earth form input:first-child, .ticket_sidebar .ask_party_earth form textarea:first-child {
          margin: 0; }
      .ticket_sidebar .ask_party_earth form textarea {
        height: 90px;
        resize: none; }
      .ticket_sidebar .ask_party_earth form img {
        position: absolute;
        right: 5px;
        top: 15px; }
      .ticket_sidebar .ask_party_earth form .btn_gray {
        float: right;
        font-size: 16px;
        margin-top: 7px !important;
        padding: 5px 0;
        width: 80px; }
