* {
  margin: 0;
  padding: 0; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }
/*

*/
/*--------*/
/* Mixins */
/*--------*/
/*-------------*/
/* Misc Styles */
/*-------------*/
body {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.hidden {
  display: none !important; }

input {
  border: none; }

input[type=text] {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c4c3c3;
  margin-top: 7px;
  padding: 5px;
  width: 210px; }
  input[type=text]:first-child {
    margin: 0; }

select {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-family: "Roboto Light", "Arimo", Arial, sans-serif !important;
  border: 1px solid #c4c3c3;
  font-size: 14px;
  line-height: 24px;
  padding: 5px 8px 5px 0;
  text-indent: 6px;
  width: 85px; }

.btn_orange {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #ff9000;
  border-bottom: 1px solid #d27700;
  color: #FFF;
  display: block;
  font-size: 13px;
  padding: 7px 10px 6px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px -1px #f17f00;
  z-index: 1000; }
  .btn_orange:hover {
    background-color: #ff9a17;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5); }

.btn_gray {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #cdd9df;
  color: #597686;
  cursor: pointer;
  text-shadow: 1px 1px 0px #ffffff;
  filter: dropshadow(color=white, offx=1, offy=1);
  background: #f9fafb;
  background: -webkit-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  background: -moz-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  background: -ms-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  background: -o-linear-gradient(top, #f9fafb 0%, #e5eaed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9fafb), color-stop(100%, #e5eaed));
  background: linear-gradient(to bottom, #f9fafb 0%, #e5eaed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fafb', endColorstr='#e5eaed',GradientType=0 ); }
  .btn_gray:hover {
    background: #e5eaed;
    background: -webkit-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    background: -moz-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    background: -ms-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    background: -o-linear-gradient(top, #e5eaed 0%, #f9fafb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5eaed), color-stop(100%, #f9fafb));
    background: linear-gradient(to bottom, #e5eaed 0%, #f9fafb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5eaed', endColorstr='#f9fafb',GradientType=0 ); }

/*--------------*/
/* Ticket Embed */
/*--------------*/
.ticket_form {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #FFFFFF;
  border: 1px solid #e4e4e4;
  padding: 20px 10px 10px;
  position: relative;
  min-width: 458px;
  max-width: 958px;
  /*-------------------------------*/
  /* Form Container & Ticket Table */
  /*-------------------------------*/
  /*------------------------*/
  /* Submit Button & Errors */
  /*------------------------*/
  /*------------------------------*/
  /* Promo, Total & Submit Button */
  /*------------------------------*/ }
  .ticket_form .title {
    font-family: "Roboto Light", "Arimo", Arial, sans-serif !important;
    color: #464646;
    float: left;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 12px; }
  .ticket_form .powered_by {
    background: url("//partyearth.s3.amazonaws.com/images/embed/widget-logo.png") no-repeat;
    float: right;
    height: 25px;
    margin-top: 1px;
    position: relative;
    top: -5px;
    width: 183px; }
  .ticket_form .form_cont {
    position: relative; }
    .ticket_form .form_cont .inline-errors {
      color: red;
      font-size: 11px;
      margin-left: 5px; }
    .ticket_form .form_cont .ticket_table {
      width: 100%;
      /*-----------*/
      /* Table Row */
      /*-----------*/
      /*------------*/
      /* Table Head */
      /*------------*/
      /*------------*/
      /* Table Cell */
      /*------------*/
      /*----------------*/
      /* Purchase Table */
      /*----------------*/ }
      .ticket_form .form_cont .ticket_table tr {
        border-bottom: 1px dashed #d7d7d7; }
        .ticket_form .form_cont .ticket_table tr:first-child, .ticket_form .form_cont .ticket_table tr:last-child {
          border-bottom-style: solid; }
        .ticket_form .form_cont .ticket_table tr:first-child {
          border-bottom: none; }
      .ticket_form .form_cont .ticket_table th {
        background-color: #ebebeb;
        color: #acacac;
        font-size: 11px;
        height: 22px;
        text-align: left;
        text-transform: uppercase; }
        .ticket_form .form_cont .ticket_table th.ticket_type {
          padding-left: 5px; }
        .ticket_form .form_cont .ticket_table th.show_time {
          width: 165px; }
        .ticket_form .form_cont .ticket_table th.ages {
          text-align: center;
          width: 35px; }
        .ticket_form .form_cont .ticket_table th.price {
          text-align: right;
          width: 105px; }
        .ticket_form .form_cont .ticket_table th.fee {
          text-align: right;
          width: 75px; }
        .ticket_form .form_cont .ticket_table th.quantity {
          text-align: right;
          padding-right: 5px;
          width: 95px; }
      .ticket_form .form_cont .ticket_table td {
        font-family: "Roboto Light", "Arimo", Arial, sans-serif !important;
        color: #252525;
        font-size: 14px;
        padding: 8px 0;
        vertical-align: top; }
        .ticket_form .form_cont .ticket_table td.ticket_type {
          font-family: "Roboto", "Arimo", Arial, sans-serif !important;
          padding-top: 14px;
          padding-right: 20px;
          text-align: left; }
          .ticket_form .form_cont .ticket_table td.ticket_type .more_info_cont {
            display: block; }
            .ticket_form .form_cont .ticket_table td.ticket_type .more_info_cont .link {
              font-size: 12px;
              font-family: Arial, serif, sans-serif; }
              .ticket_form .form_cont .ticket_table td.ticket_type .more_info_cont .link span {
                border-bottom: 1px dotted #8ea8b5;
                color: #597686;
                cursor: pointer;
                text-decoration: none; }
                .ticket_form .form_cont .ticket_table td.ticket_type .more_info_cont .link span:hover {
                  border-bottom: 1px dotted #000000;
                  color: #000000; }
            .ticket_form .form_cont .ticket_table td.ticket_type .more_info_cont p {
              color: #959595;
              font-family: Arial, serif, sans-serif;
              font-size: 12px;
              line-height: 100%;
              padding: 4px 0 2px; }
        .ticket_form .form_cont .ticket_table td.show_time {
          padding-top: 14px; }
        .ticket_form .form_cont .ticket_table td.ages {
          padding-top: 14px;
          text-align: center; }
        .ticket_form .form_cont .ticket_table td.price, .ticket_form .form_cont .ticket_table td.fee {
          padding-top: 14px;
          text-align: right; }
        .ticket_form .form_cont .ticket_table td.quantity {
          line-height: 15px;
          text-align: right; }
          .ticket_form .form_cont .ticket_table td.quantity span {
            display: block;
            padding: 7px 0; }
      .ticket_form .form_cont .ticket_table.purchase_table th.qty {
        text-align: center;
        width: 15px !important; }
      .ticket_form .form_cont .ticket_table.purchase_table th.price {
        width: 85px; }
      .ticket_form .form_cont .ticket_table.purchase_table th.fee {
        width: 73px !important; }
      .ticket_form .form_cont .ticket_table.purchase_table th.total {
        width: 100px;
        padding-right: 5px;
        text-align: right; }
      .ticket_form .form_cont .ticket_table.purchase_table td {
        padding: 8px 0 !important; }
        .ticket_form .form_cont .ticket_table.purchase_table td.qty {
          text-align: center; }
        .ticket_form .form_cont .ticket_table.purchase_table td.total {
          padding-right: 5px !important;
          text-align: right; }
    .ticket_form .form_cont .ticket_total {
      display: none !important; }
  .ticket_form .action_cont {
    border-top: 1px solid #d7d7d7;
    padding-top: 14px;
    /*-------------------------*/
    /* Error & Success Message */
    /*-------------------------*/ }
    .ticket_form .action_cont .terms {
      color: #252525;
      font-size: 11px;
      float: left;
      margin-top: 7px;
      -webkit-text-size-adjust: none !important; }
      .ticket_form .action_cont .terms a {
        color: #464646; }
        .ticket_form .action_cont .terms a:hover {
          text-decoration: none; }
    .ticket_form .action_cont .btn_orange {
      float: right;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      width: 170px; }
    .ticket_form .action_cont .msg_cont {
      text-align: center;
      width: 680px; }
      .ticket_form .action_cont .msg_cont .success_msg {
        border: 2px solid green;
        color: green;
        display: none;
        font-weight: bold;
        margin-top: 10px;
        padding: 5px; }
  .ticket_form .inline-errors {
    color: red;
    font-size: 11px;
    padding-left: 5px; }
  .ticket_form .table_promo_cont {
    min-height: 34px;
    padding-top: 8px;
    position: relative;
    -webkit-text-size-adjust: none;
    /*--------------*/
    /* Ticket Total */
    /*--------------*/
    /*---------------*/
    /* Submit Button */
    /*---------------*/
    /*------------*/
    /* Promo Code */
    /*------------*/ }
    .ticket_form .table_promo_cont .error_msg {
      color: red;
      line-height: 100%; }
    .ticket_form .table_promo_cont .ticket_total {
      color: #000000;
      float: right;
      font-size: 16px;
      font-weight: bold;
      line-height: 100%;
      margin-top: 10px;
      text-align: right;
      text-transform: uppercase; }
      .ticket_form .table_promo_cont .ticket_total .label {
        padding-right: 38px; }
    .ticket_form .table_promo_cont .submit_button {
      float: right;
      width: 350px;
      /*--------------------*/
      /* Payment Type Image */
      /*--------------------*/ }
      .ticket_form .table_promo_cont .submit_button .btn_cont {
        float: right;
        height: 33px;
        position: relative;
        width: 170px; }
        .ticket_form .table_promo_cont .submit_button .btn_cont .btn_orange,
        .ticket_form .table_promo_cont .submit_button .btn_cont .btn_processing {
          font-size: 16px;
          margin-top: 0;
          position: absolute;
          right: 0;
          width: 170px;
          -webkit-appearance: none; }
        .ticket_form .table_promo_cont .submit_button .btn_cont .btn_orange {
          border-bottom: 1px solid #D27700; }
        .ticket_form .table_promo_cont .submit_button .btn_cont .btn_processing {
          -webkit-border-radius: 2px;
          border-radius: 2px;
          background-color: #597686;
          border-bottom: 1px solid #192c37;
          color: #FFFFFF;
          cursor: default;
          display: none;
          height: 32px;
          text-shadow: -1px -1px #395361; }
          .ticket_form .table_promo_cont .submit_button .btn_cont .btn_processing .text {
            float: left;
            margin: 8px 0 0 30px; }
          .ticket_form .table_promo_cont .submit_button .btn_cont .btn_processing .spinner {
            background: url("//partyearth.s3.amazonaws.com/images/tickets/spinner.gif") no-repeat;
            display: inline-block;
            height: 24px;
            float: right;
            margin: 5px 30px 0 0;
            width: 24px; }
      .ticket_form .table_promo_cont .submit_button .error_msg {
        margin-top: 7px;
        text-align: right;
        float: right; }
      .ticket_form .table_promo_cont .submit_button .payment_type {
        background: url("//partyearth.s3.amazonaws.com/images/embed/cc-mini.png") no-repeat;
        float: left;
        height: 21px;
        margin-top: 7px;
        width: 171px; }
    .ticket_form .table_promo_cont .promo_cont {
      float: left;
      margin-top: 3px;
      width: 300px;
      z-index: 1; }
      .ticket_form .table_promo_cont .promo_cont .fake_link {
        color: #0099FF;
        cursor: pointer;
        margin-top: 5px;
        text-decoration: underline !important; }
        .ticket_form .table_promo_cont .promo_cont .fake_link:hover {
          color: #597686; }
      .ticket_form .table_promo_cont .promo_cont .promo_fields .promo_input {
        float: left;
        width: 170px; }
      .ticket_form .table_promo_cont .promo_cont .promo_fields .promo_msg {
        font-family: "Roboto Light", "Arimo", Arial, sans-serif !important;
        float: left;
        margin: 6px 5px 0 0; }
      .ticket_form .table_promo_cont .promo_cont .promo_fields .error_msg span {
        display: inline-block;
        padding-top: 10px; }
      .ticket_form .table_promo_cont .promo_cont .promo_fields .btn_gray {
        color: #0099FF;
        float: left;
        font-size: 13px;
        margin-left: 5px;
        padding: 4px 10px 3px; }

/*--------------*/
/* Additional Styles */
/*--------------*/
.no_logo.ticket_form .powered_by {
  display: none !important; }

.rwi.ticket_form {
  background-color: #050000 !important;
  border: 1px solid #1482ff !important;
  min-width: 598px !important;
  max-width: 598px !important;
  padding: 0 !important;
  width: 598px !important; }
  .rwi.ticket_form .title_cont {
    display: block;
    background-color: #1482ff;
    padding: 10px 10px 10px; }
    .rwi.ticket_form .title_cont .title {
      color: #000000 !important;
      margin-bottom: 0 !important; }
    .rwi.ticket_form .title_cont .powered_by {
      display: none !important; }
  .rwi.ticket_form .table_promo_cont {
    padding-bottom: 10px; }
    .rwi.ticket_form .table_promo_cont .promo_cont {
      width: 200px !important; }
      .rwi.ticket_form .table_promo_cont .promo_cont .promo_fields .promo_input {
        width: 120px !important; }
    .rwi.ticket_form .table_promo_cont .submit_button .btn_cont .btn_processing {
      background-color: #1266c6 !important;
      border-bottom: 1px solid #000000 !important; }
  .rwi.ticket_form .form_cont {
    padding: 10px 10px 0 !important; }
    .rwi.ticket_form .form_cont .ticket_table th {
      background-color: #050000 !important;
      color: #ffffff !important; }
      .rwi.ticket_form .form_cont .ticket_table th.ticket_type {
        padding-left: 0 !important; }
      .rwi.ticket_form .form_cont .ticket_table th.show_time {
        width: 155px !important; }
      .rwi.ticket_form .form_cont .ticket_table th.price {
        width: 80px !important; }
      .rwi.ticket_form .form_cont .ticket_table th.ages {
        display: none !important; }
      .rwi.ticket_form .form_cont .ticket_table th.quantity {
        padding-right: 0 !important; }
    .rwi.ticket_form .form_cont .ticket_table td {
      color: #ffffff !important; }
      .rwi.ticket_form .form_cont .ticket_table td.ages {
        display: none !important; }
      .rwi.ticket_form .form_cont .ticket_table td.ticket_type .more_info_cont p {
        color: #ffffff !important; }
      .rwi.ticket_form .form_cont .ticket_table td.ticket_type .more_info_cont .link span {
        color: #ffffff !important; }
        .rwi.ticket_form .form_cont .ticket_table td.ticket_type .more_info_cont .link span:hover {
          color: #ffffff; }
      .rwi.ticket_form .form_cont .ticket_table td.quantity select {
        border: 1px solid #ffffff !important;
        background-color: #ffffff !important; }
