/*

*/
/*BEGIN NAVIGATION CSS*/
#masthead .middle_line .additional_links .link.selected {
  background: none;
  box-shadow: none; }
  #masthead .middle_line .additional_links .link.selected a, #masthead .middle_line .additional_links .link.selected a:visited {
    color: #597686;
    text-decoration: underline; }
  #masthead .middle_line .additional_links .link.selected .point {
    display: none; }
#masthead .middle_line .additional_links .link.mobile {
  background: #fc8f00;
  box-shadow: 0 1px 0 #ccc; }
  #masthead .middle_line .additional_links .link.mobile a, #masthead .middle_line .additional_links .link.mobile a:visited {
    color: #fff;
    text-decoration: none; }
  #masthead .middle_line .additional_links .link.mobile .point {
    display: block;
    border-color: #bf6c01 transparent transparent #bf6c01;
    border-width: 4px;
    border-style: solid;
    overflow: hidden;
    position: absolute;
    bottom: -8px;
    right: 0; }
#masthead .middle_line .additional_links:hover .link.mobile {
  background: none;
  box-shadow: none; }
  #masthead .middle_line .additional_links:hover .link.mobile a, #masthead .middle_line .additional_links:hover .link.mobile a:visited {
    color: #597686;
    text-decoration: underline; }
  #masthead .middle_line .additional_links:hover .link.mobile .point {
    display: none; }
#masthead .middle_line .additional_links:hover .link.mobile:hover {
  background: #fc8f00;
  box-shadow: 0 1px 0 #ccc; }
  #masthead .middle_line .additional_links:hover .link.mobile:hover a, #masthead .middle_line .additional_links:hover .link.mobile:hover a:visited {
    color: #fff;
    text-decoration: none; }
  #masthead .middle_line .additional_links:hover .link.mobile:hover .point {
    display: block; }

/*BEGIN GENERAL PAGE PROPERTIES*/
.mobile_content .mobile_img {
  height: 400px;
  margin: -7px 0 0;
  padding: 0 0 0 8px; }

.mobile_info {
  height: 360px;
  position: relative;
  width: 460px; }

.mobile_content .intro {
  font-size: 13px; }

.mobile_content .bullets {
  font-family: 'PT Sans Narrow',arial,sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 22px;
  list-style: disc outside none;
  margin: 10px 0 0;
  padding: 0 0 0 19px; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* FOR WEBKIT BROWSERS */
  .mobile_content .bullets {
    padding: 0 0 0 23px; } }
.mobile_content .bullets li {
  margin: 0 0 22px; }

.mobile_content .get_notified {
  position: absolute;
  bottom: 0;
  width: 460px; }

.get_notified .inner_divider.dashed {
  margin: 0 0 16px; }

.mobile_content .submit_btn {
  margin: -2px 0 0; }
