/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
#right_column .recent_articles.pod_rounded,
.right_column .recent_articles.pod_rounded,
.right_container .recent_articles.pod_rounded {
  margin: 0 0 12px;
  padding: 13px 14px;
  line-height: 16px; }
  #right_column .recent_articles.pod_rounded .title,
  .right_column .recent_articles.pod_rounded .title,
  .right_container .recent_articles.pod_rounded .title {
    color: #09F;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 6px; }
  #right_column .recent_articles.pod_rounded .headline.sub_headline,
  .right_column .recent_articles.pod_rounded .headline.sub_headline,
  .right_container .recent_articles.pod_rounded .headline.sub_headline {
    display: block;
    text-decoration: underline;
    margin: 0 0 13px;
    font-size: 21px;
    line-height: 22px;
    color: #375363;
    font-weight: bold; }
  #right_column .recent_articles.pod_rounded .headline.sub_headline:hover,
  .right_column .recent_articles.pod_rounded .headline.sub_headline:hover,
  .right_container .recent_articles.pod_rounded .headline.sub_headline:hover {
    color: #000; }
  #right_column .recent_articles.pod_rounded .object_photo,
  .right_column .recent_articles.pod_rounded .object_photo,
  .right_container .recent_articles.pod_rounded .object_photo {
    display: block;
    margin: 0 0 11px;
    border: 1px solid #ADC0C9; }
    #right_column .recent_articles.pod_rounded .object_photo img,
    .right_column .recent_articles.pod_rounded .object_photo img,
    .right_container .recent_articles.pod_rounded .object_photo img {
      display: block;
      width: 210px;
      height: 140px; }
  #right_column .recent_articles.pod_rounded .desc,
  .right_column .recent_articles.pod_rounded .desc,
  .right_container .recent_articles.pod_rounded .desc {
    position: relative;
    height: 106px;
    overflow: hidden; }
    #right_column .recent_articles.pod_rounded .desc .ellipses_dots,
    .right_column .recent_articles.pod_rounded .desc .ellipses_dots,
    .right_container .recent_articles.pod_rounded .desc .ellipses_dots {
      font-size: 12px;
      line-height: 15px;
      background: #fff;
      position: absolute;
      right: 0;
      bottom: -1px;
      max-width: 334px;
      height: 15px;
      overflow: hidden; }
  #right_column .recent_articles.pod_rounded .other_articles,
  .right_column .recent_articles.pod_rounded .other_articles,
  .right_container .recent_articles.pod_rounded .other_articles {
    border-top: 1px solid #8EA8B5;
    margin: 11px 0 4px;
    border-bottom: 2px solid #8EA8B5;
    padding: 0 0 3px; }
    #right_column .recent_articles.pod_rounded .other_articles .photo_item,
    .right_column .recent_articles.pod_rounded .other_articles .photo_item,
    .right_container .recent_articles.pod_rounded .other_articles .photo_item {
      width: 100px;
      margin: 0 10px 8px 0;
      padding: 11px 0 0;
      line-height: 15px; }
      #right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo,
      .right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo,
      .right_container .recent_articles.pod_rounded .other_articles .photo_item .object_photo {
        border: 1px solid #ADC0C9;
        display: block;
        margin: 0 0 3px; }
        #right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo img,
        .right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo img,
        .right_container .recent_articles.pod_rounded .other_articles .photo_item .object_photo img {
          display: block;
          width: 98px;
          height: 65px; }
    #right_column .recent_articles.pod_rounded .other_articles li:last-child,
    .right_column .recent_articles.pod_rounded .other_articles li:last-child,
    .right_container .recent_articles.pod_rounded .other_articles li:last-child {
      margin-right: 0; }
    #right_column .recent_articles.pod_rounded .other_articles li.last,
    .right_column .recent_articles.pod_rounded .other_articles li.last,
    .right_container .recent_articles.pod_rounded .other_articles li.last {
      margin-right: 0; }
  #right_column .recent_articles.pod_rounded .more_link,
  .right_column .recent_articles.pod_rounded .more_link,
  .right_container .recent_articles.pod_rounded .more_link {
    text-align: right;
    line-height: 10px; }
    #right_column .recent_articles.pod_rounded .more_link .blue_text.arrow,
    .right_column .recent_articles.pod_rounded .more_link .blue_text.arrow,
    .right_container .recent_articles.pod_rounded .more_link .blue_text.arrow {
      color: #FF9000;
      top: 0; }
/*

*/
/*BEGIN NAVIGATION CSS*/
/*---------------------------------------------*/
#masthead .main_nav .entertainers.link a, #masthead .main_nav .entertainers.link a:visited {
  color: #0099ff; }

/*GENERAL PAGE PROPERTIES*/
/*---------------------------------------------*/
/*LEFT COLUMN*/
/*---------------------------------------------*/
#left_column {
  width: 706px; }
  #left_column .performers_content .headline a, #left_column .performers_content .headline a:visited {
    text-decoration: underline; }
  #left_column .performers_content .more_links {
    margin: 14px 0 0; }
    #left_column .performers_content .more_links ul {
      display: inline; }
      #left_column .performers_content .more_links ul li {
        display: inline;
        margin: 0 10px 0 0;
        font-size: 11px;
        line-height: 18px; }
        #left_column .performers_content .more_links ul li .black_link {
          color: #0099ff !important;
          text-decoration: underline; }
        #left_column .performers_content .more_links ul li .black_link:hover {
          color: #597686 !important; }
  #left_column .performers_content .category_interest .category_data {
    width: 220px; }
  #left_column .performers_content .category_interest .browse_by_category {
    width: auto; }
    #left_column .performers_content .category_interest .browse_by_category ul {
      width: 138px; }
  #left_column .performers_content .category_interest .browse_by_interest {
    display: none; }
  #left_column .more_link {
    padding: 0;
    margin: 5px 0;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold; }
    #left_column .more_link a, #left_column .more_link .fake_link {
      text-decoration: underline; }

/*RIGHT COLUMN*/
/*---------------------------------------------*/
#right_column {
  width: 240px;
  /*For Popular Nightlife pod
      - keep here until we know if it will be used on other pages*/ }
  #right_column .popular_entertainers {
    margin: 0 0 11px 0;
    padding: 10px 14px; }
    #right_column .popular_entertainers .title {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0;
      color: #375363; }
    #right_column .popular_entertainers .featured_entertainer .object_photo {
      display: block;
      width: 210px;
      height: 139px; }
      #right_column .popular_entertainers .featured_entertainer .object_photo img {
        width: 210px;
        height: 139px; }
    #right_column .popular_entertainers .featured_entertainer .img_name {
      font-size: 10px;
      color: #597686;
      padding: 3px 0 4px;
      margin: 0 0 5px;
      border-bottom: 1px solid #dae4e9; }
      #right_column .popular_entertainers .featured_entertainer .img_name a, #right_column .popular_entertainers .featured_entertainer .img_name a:visited {
        text-decoration: none; }
      #right_column .popular_entertainers .featured_entertainer .img_name a:hover {
        text-decoration: underline; }
    #right_column .popular_entertainers ul li {
      margin: 0 0 3px 0;
      text-shadow: 0 0 0.08em #dadada; }
      #right_column .popular_entertainers ul li .blue_text.arrow {
        text-indent: -20px;
        float: left;
        width: 12px; }
      #right_column .popular_entertainers ul li a.grey_text {
        display: block;
        width: 198px; }
      #right_column .popular_entertainers ul li a, #right_column .popular_entertainers ul li a:visited {
        color: #375363;
        text-decoration: underline; }
      #right_column .popular_entertainers ul li a:hover {
        color: #000; }
    #right_column .popular_entertainers ul li:hover .blue_text.arrow,
    #right_column .popular_entertainers ul .hovered .blue_text.arrow {
      text-indent: -10px; }
    #right_column .popular_entertainers .search_link {
      text-align: right; }
      #right_column .popular_entertainers .search_link a, #right_column .popular_entertainers .search_link .fake_link {
        text-decoration: underline; }
  #right_column .missing_venue_event,
  #right_column .ad {
    display: none; }
  #right_column .subscribe_btn {
    top: -4px; }
