/*BEGIN CUSTOM STYLES*/
/*---------------------------------------------------------*/
.Datepicker {
  height: 171px;
  border-bottom: 1px dashed #82cafb;
  margin: 0 0 7px;
  padding: 0 0 4px; }

div.datepicker {
  display: none;
  z-index: 1000; }

.date_picker_block {
  color: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#1977ce), to(#0098fe));
  background: -moz-linear-gradient(top, #1977ce, #0098fe);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#1977ce, endColorStr=#0098fe);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#1977ce, endColorStr=#0098fe);
  width: 327px;
  height: 225px;
  border-radius: 2px 2px 2px 2px;
  padding: 10px 15px;
  position: absolute; }
  .date_picker_block .point {
    position: absolute;
    top: -14px;
    left: 71px;
    border-color: transparent transparent #1977ce;
    border-style: solid;
    border-width: 7px;
    height: 0;
    overflow: hidden;
    width: 1px; }
  .date_picker_block .fake_link {
    color: #eee;
    outline: none; }
  .date_picker_block .fake_link:hover {
    color: #88c5eb; }
  .date_picker_block .datepicker {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 330px !important;
    height: 147px !important;
    cursor: default;
    top: 0;
    left: 0; }
    .date_picker_block .datepicker .datepickerBorderT,
    .date_picker_block .datepicker .datepickerBorderB,
    .date_picker_block .datepicker .datepickerBorderL,
    .date_picker_block .datepicker .datepickerBorderR,
    .date_picker_block .datepicker .datepickerBorderTL,
    .date_picker_block .datepicker .datepickerBorderTR,
    .date_picker_block .datepicker .datepickerBorderBL,
    .date_picker_block .datepicker .datepickerBorderBR {
      display: none; }
    .date_picker_block .datepicker th {
      text-align: center;
      color: #5cbdff;
      font-weight: normal;
      /*FOR USE ON ADMIN PAGES*/
      padding: 0;
      background: none; }
    .date_picker_block .datepicker table {
      border-collapse: collapse; }
      .date_picker_block .datepicker table tr, .date_picker_block .datepicker table th, .date_picker_block .datepicker table td {
        /*FOR USE ON ADMIN PAGES*/
        vertical-align: middle; }
      .date_picker_block .datepicker table tr:hover, .date_picker_block .datepicker table th:hover, .date_picker_block .datepicker table td:hover {
        /*FOR USE ON ADMIN PAGES*/
        background: none; }
      .date_picker_block .datepicker table td {
        text-align: center;
        padding: 0;
        margin: 0;
        /*FOR USE ON ADMIN PAGES*/
        border: none; }
      .date_picker_block .datepicker table tbody th {
        text-align: center; }
      .date_picker_block .datepicker table tbody a {
        display: block; }
    .date_picker_block .datepicker a {
      color: #eee;
      text-decoration: none;
      outline: none; }
    .date_picker_block .datepicker a:hover {
      color: #88c5eb; }
    .date_picker_block .datepicker .datepickerContainer {
      border-top: 1px solid #5cbdff;
      margin: 7px 0 0 0;
      width: 327px !important;
      height: 147px !important; }
      .date_picker_block .datepicker .datepickerContainer .datepickerDoW {
        border-top: 1px solid #5cbdff;
        border-bottom: 1px solid #5cbdff;
        font-size: 11px; }
      .date_picker_block .datepicker .datepickerContainer .datepickerSpace div {
        width: 31px; }
      .date_picker_block .datepicker .datepickerContainer .datepickerGoNext a,
      .date_picker_block .datepicker .datepickerContainer .datepickerGoPrev a,
      .date_picker_block .datepicker .datepickerContainer .datepickerMonth a {
        text-align: center;
        line-height: 20px; }
      .date_picker_block .datepicker .datepickerContainer .datepickerViewDays .datepickerGoNext a,
      .date_picker_block .datepicker .datepickerContainer .datepickerViewDays .datepickerGoPrev a {
        background-image: url(/assets/search/search2_sprite.png);
        background-repeat: no-repeat;
        width: 14px;
        height: 14px; }
      .date_picker_block .datepicker .datepickerContainer .datepickerGoNext a {
        float: right;
        background-position: -252px -123px;
        text-indent: -9999px; }
      .date_picker_block .datepicker .datepickerContainer .datepickerGoNext a:hover {
        background-position: -252px -138px; }
      .date_picker_block .datepicker .datepickerContainer .datepickerGoPrev a {
        float: left;
        background-position: -233px -123px;
        text-indent: -9999px; }
      .date_picker_block .datepicker .datepickerContainer .datepickerGoPrev a:hover {
        background-position: -233px -138px; }
      .date_picker_block .datepicker .datepickerContainer .datepickerDays a {
        width: 17px;
        line-height: 16px;
        height: 16px;
        padding-right: 2px; }
      .date_picker_block .datepicker .datepickerContainer .datepickerYears a,
      .date_picker_block .datepicker .datepickerContainer .datepickerMonths a {
        width: 36px;
        line-height: 36px;
        height: 36px;
        text-align: center; }
      .date_picker_block .datepicker .datepickerContainer .datepickerYears td.datepickerSelected,
      .date_picker_block .datepicker .datepickerContainer .datepickerMonths td.datepickerSelected {
        background: #17384d; }
      .date_picker_block .datepicker .datepickerContainer td.datepickerNotInMonth a {
        color: #666; }
      .date_picker_block .datepicker .datepickerContainer td.datepickerNotInMonth a:hover {
        color: #999; }
      .date_picker_block .datepicker .datepickerContainer td.datepickerNotInMonth .datepickerSelected {
        background: #17384d; }
      .date_picker_block .datepicker .datepickerContainer tbody.datepickerDays a {
        margin: 4px 2px 0 0; }
      .date_picker_block .datepicker .datepickerContainer tbody.datepickerDays td.datepickerSelected a {
        display: block;
        background: #ff9900; }
      .date_picker_block .datepicker .datepickerContainer tbody.datepickerDays td.datepickerSelected a:hover {
        color: #9b610a; }
      .date_picker_block .datepicker .datepickerContainer tbody.datepickerDays td.datepickerNotInMonth,
      .date_picker_block .datepicker .datepickerContainer tbody.datepickerDays th.datepickerWeek {
        visibility: hidden; }
      .date_picker_block .datepicker .datepickerContainer tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
        background: #17384d; }
      .date_picker_block .datepicker .datepickerContainer .datepickerMonth {
        text-transform: uppercase;
        padding: 3px 0; }
      .date_picker_block .datepicker .datepickerContainer table.datepickerViewDays tbody.datepickerMonths,
      .date_picker_block .datepicker .datepickerContainer table.datepickerViewDays tbody.datepickerYears {
        display: none; }
      .date_picker_block .datepicker .datepickerContainer table.datepickerViewMonths tbody.datepickerDays,
      .date_picker_block .datepicker .datepickerContainer table.datepickerViewMonths tbody.datepickerYears,
      .date_picker_block .datepicker .datepickerContainer table.datepickerViewMonths tr.datepickerDoW {
        display: none; }
      .date_picker_block .datepicker .datepickerContainer table.datepickerViewYears tbody.datepickerDays,
      .date_picker_block .datepicker .datepickerContainer table.datepickerViewYears tbody.datepickerMonths,
      .date_picker_block .datepicker .datepickerContainer table.datepickerViewYears tr.datepickerDoW {
        display: none; }
      .date_picker_block .datepicker .datepickerContainer td.datepickerDisabled a,
      .date_picker_block .datepicker .datepickerContainer td.datepickerDisabled.datepickerNotInMonth a {
        color: #333; }
      .date_picker_block .datepicker .datepickerContainer td.datepickerDisabled a:hover {
        color: #333; }
      .date_picker_block .datepicker .datepickerContainer td.datepickerSpecial a {
        background: #700; }
      .date_picker_block .datepicker .datepickerContainer td.datepickerSpecial.datepickerSelected a {
        background: #a00; }
  .date_picker_block .controls .fake_link {
    text-decoration: underline; }
  .date_picker_block .controls .clear_link,
  .date_picker_block .controls .cancel_link {
    margin: 2px 0 0 0; }
  .date_picker_block .controls .apply_btn.blue_btn {
    height: 10px;
    width: 62px;
    background: -webkit-gradient(linear, 0 34%, 0 55%, from(#ff8900), to(#c95200));
    background: -moz-linear-gradient(top, #ff8900, #c95200);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ff8900, endColorStr=#c95200);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ff8900, endColorStr=#c95200);
    text-shadow: 0 1px 1px #f2af55;
    font-size: 11px;
    margin: 0 0 0 15px;
    padding-top: 3px;
    border: none; }

/*BEGIN DEFAULT STYLES*/
/*---------------------------------------------------------*/
.datepickerHidden {
  display: none; }
