/*BEGIN NAVIGATION CSS*/
/*---------------------------------------------*/
#masthead .search_nav .main_nav .venues.link a, #masthead .search_nav .main_nav .venues.link a:visited {
  color: #0099ff; }

/*LEFT COLUMN*/
/*---------------------------------------------*/
#left_column {
  width: 706px; }
  #left_column .venues_content .more_links ul {
    display: inline; }
    #left_column .venues_content .more_links ul li {
      display: inline;
      margin: 0 10px 0 0; }
      #left_column .venues_content .more_links ul li .black_link {
        color: #0099ff !important;
        text-decoration: underline; }
      #left_column .venues_content .more_links ul li .black_link:hover {
        color: #597686 !important; }
  #left_column .venues_content .browse_by_interest {
    min-height: 323px; }
    #left_column .venues_content .browse_by_interest ul .interest_item {
      line-height: 120%; }
  #left_column .more_link {
    font-size: 11px;
    padding: 0; }
    #left_column .more_link .blue_text {
      font-size: 13px; }

/*RIGHT COLUMN*/
/*---------------------------------------------*/
#right_column {
  width: 240px; }
