#internship_sidebar_module h2 {
  margin: 0 0 10px;
  color: #09f;
  font-size: 15px;
  font-weight: bold;
  line-height: 15px; }
#internship_sidebar_module h3 {
  margin: 0 0 10px;
  color: #375363;
  font-size: 22px;
  font-weight: bold;
  line-height: 26px; }
