/* APPLY BUTTONS
=========================================================
:: Styles for the apply buttons that appear on the right rail.
========================================================= */
.apply_btn_container {
  position: relative;
  margin: 0 0 7px; }
  .apply_btn_container .apply_btn {
    display: block;
    /*for anchor tags when active*/
    width: 248px;
    height: 75px;
    margin: 0 0 3px -4px;
    background: url(/assets/writer_applications/get_paid_to_party_misc_sprite-1ef3673d0c0d42e5a21ab019e08d7ac0.png); }
    .apply_btn_container .apply_btn.writer_active {
      background-position: 0 0; }
      .apply_btn_container .apply_btn.writer_active:hover {
        background-position: -248px 0; }
    .apply_btn_container .apply_btn.writer_inactive {
      background-position: -496px 0; }
    .apply_btn_container .apply_btn.photographer_active {
      background-position: 0 -75px; }
      .apply_btn_container .apply_btn.photographer_active:hover {
        background-position: -248px -75px; }
    .apply_btn_container .apply_btn.photographer_inactive {
      background-position: -496px -75px; }

/* Bio page specific */
.get_paid_to_party_content.writer_bio_page .apply_btn_container .apply_btn {
  background-image: url(/assets/writers/writer_bio_page_sprite-b9a95f5aed52095e47ddd26059c909bf.png); }
