/* FIND YOUR SCENE POD
--------------------------------------------------------------------------- */
#find_scene #search_filters {
  /*BEGIN DROPDOWNS*/ }
  #find_scene #search_filters p {
    padding: 0; }
  #find_scene #search_filters .dropdown_wrapper {
    position: relative;
    width: 206px;
    margin: 0 0 10px; }
    #find_scene #search_filters .dropdown_wrapper.character_dropdown {
      z-index: 3; }
    #find_scene #search_filters .dropdown_wrapper.city_dropdown {
      z-index: 2; }
    #find_scene #search_filters .dropdown_wrapper .dropdown {
      position: absolute;
      top: 24px;
      left: 0;
      z-index: 1000; }
    #find_scene #search_filters .dropdown_wrapper .Choices.choices {
      position: relative;
      z-index: 1000;
      width: 204px;
      max-height: 75px;
      font-size: 11px;
      overflow: auto; }
    #find_scene #search_filters .dropdown_wrapper .footer_bottom {
      width: 195px; }
  #find_scene #search_filters .go_btn {
    float: right; }
