.TitleContainer {
  background: url(/assets/content_bg/dropdown_extra_sprite.png) no-repeat scroll 100% -116px transparent;
  padding: 0 29px 0 0; }

.TitleContainer:hover {
  background: url(/assets/content_bg/dropdown_extra_sprite.png) no-repeat scroll 100% -145px transparent; }

.TitleContainer.Opened {
  background-position: 100% -58px; }

.TitleContainer.Opened:hover {
  background-position: 100% -87px; }

.TitleContainer .Title {
  background: url(/assets/content_bg/dropdown_extra_sprite.png) no-repeat scroll 0 0 transparent;
  height: 19px;
  line-height: 20px;
  overflow: hidden;
  padding: 4px 10px; }

.TitleContainer.Opened .Title {
  background-position: 0 -29px; }

.TitleContainer .Title.select .unselected {
  color: #999; }

.dropdown_wrapper {
  cursor: pointer;
  display: inline-block;
  /*FOR IE7*/
  *display: inline;
  zoom: 1; }
  .dropdown_wrapper .dropdown {
    position: absolute;
    z-index: 3001; }
  .dropdown_wrapper .choices_wrapper {
    padding: 0 2px 0 0;
    background: url(/assets/content_bg/dropdown_extra_sprite.png) no-repeat scroll 100% -1456px transparent; }
  .dropdown_wrapper .Choices.choices {
    background: url(/assets/content_bg/dropdown_extra_sprite.png) no-repeat scroll 0 -232px transparent; }
  .dropdown_wrapper .Choice.choice {
    margin: 0 0 0 1px;
    padding: 0 10px; }
  .dropdown_wrapper .Choice.choice:hover {
    color: #fff;
    background: #0099ff; }
  .dropdown_wrapper .footer_bottom {
    height: 11px;
    padding: 0 11px 0 0;
    background: url(/assets/content_bg/dropdown_extra_sprite.png) no-repeat scroll 100% -2654px transparent; }
  .dropdown_wrapper .footer_bottom .footer_right {
    height: 11px;
    background: url(/assets/content_bg/dropdown_extra_sprite.png) no-repeat scroll 0 -1443px transparent; }

.month_dropdown .choices_wrapper {
  width: 93px; }

.day_dropdown .choices_wrapper {
  width: 70px; }

.year_dropdown .choices_wrapper {
  width: 73px; }

.month_dropdown .Title {
  width: 46px; }
/*

*/
/* FIND YOUR SCENE POD
--------------------------------------------------------------------------- */
#find_scene #search_filters {
  /*BEGIN DROPDOWNS*/ }
  #find_scene #search_filters p {
    color: #375363;
    font-size: 14px;
    padding: 0 0 5px 0; }
  #find_scene #search_filters .btn_blue {
    width: 70px; }
  #find_scene #search_filters .dropdown_wrapper {
    position: relative;
    width: 270px;
    margin: 0 0 10px; }
    #find_scene #search_filters .dropdown_wrapper.character_dropdown {
      z-index: 3; }
    #find_scene #search_filters .dropdown_wrapper.city_dropdown {
      z-index: 2; }
    #find_scene #search_filters .dropdown_wrapper .dropdown {
      position: absolute;
      top: 24px;
      left: 0;
      z-index: 1000; }
    #find_scene #search_filters .dropdown_wrapper .Choices.choices {
      position: relative;
      z-index: 1000;
      width: 268px;
      max-height: 75px;
      font-size: 11px;
      overflow: auto; }
    #find_scene #search_filters .dropdown_wrapper .footer_bottom {
      width: 259px; }
  #find_scene #search_filters .go_btn {
    float: right;
    margin-right: 1px;
    z-index: 1; }
