/*BEGIN SINGLE TWEET STYLES*/
/*------------------------------------------*/
.single_tweet {
  background: url(/assets/common/single_tweet_bg-b4d86df6456dd690b85a0bab55b12695.png) 0 0 no-repeat transparent;
  width: 248px;
  height: 82px;
  padding: 10px 12px 11px 74px; }
  .single_tweet .tweet_content .tweets span {
    display: block; }
  .single_tweet .tweet_content .tweets br {
    display: none; }
  .single_tweet .tweet_content .tweets .tweeter_name {
    margin: 0 0 2px; }
    .single_tweet .tweet_content .tweets .tweeter_name a, .single_tweet .tweet_content .tweets .tweeter_name a:visited {
      color: #000;
      text-decoration: none; }
    .single_tweet .tweet_content .tweets .tweeter_name a:hover {
      text-decoration: underline; }
  .single_tweet .tweet_content .tweets .tweet_text {
    margin: 0 0 5px;
    max-height: 49px;
    overflow: hidden;
    line-height: 16px; }
  .single_tweet .tweet_content .tweets .grey_text {
    color: #adc0c9; }
    .single_tweet .tweet_content .tweets .grey_text a, .single_tweet .tweet_content .tweets .grey_text a:visited {
      color: #adc0c9;
      text-decoration: none; }
    .single_tweet .tweet_content .tweets .grey_text a:hover {
      color: #597686;
      text-decoration: underline; }
