/* BEGIN SINGLE TWEET STYLES
------------------------------------------*/
.single_tweet {
  width: 261px;
  height: 82px;
  padding: 10px 12px 11px 74px;
  background-image: url(/assets/common/single_tweet_bg-87abeb01d776d6adeccdb93f79228cc5.png); }
  .single_tweet .tweet_content .tweets span {
    display: block; }
  .single_tweet .tweet_content .tweets br {
    display: none; }
  .single_tweet .tweet_content .tweets .tweeter_name {
    margin: 0 0 2px; }
    .single_tweet .tweet_content .tweets .tweeter_name a, .single_tweet .tweet_content .tweets .tweeter_name a:visited {
      color: #000;
      text-decoration: none; }
      .single_tweet .tweet_content .tweets .tweeter_name a:hover, .single_tweet .tweet_content .tweets .tweeter_name a:visited:hover {
        text-decoration: underline; }
  .single_tweet .tweet_content .tweets .tweet_text {
    margin: 0 0 5px;
    max-height: 49px;
    line-height: 16px;
    overflow: hidden; }
  .single_tweet .tweet_content .tweets .grey_text {
    color: #adc0c9; }
    .single_tweet .tweet_content .tweets .grey_text a, .single_tweet .tweet_content .tweets .grey_text a:visited {
      color: #adc0c9;
      text-decoration: none; }
      .single_tweet .tweet_content .tweets .grey_text a:hover, .single_tweet .tweet_content .tweets .grey_text a:visited:hover {
        color: #597686;
        text-decoration: underline; }
