/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
#right_column .recent_articles.pod_rounded,
.right_column .recent_articles.pod_rounded,
.right_container .recent_articles.pod_rounded {
  margin: 0 0 12px;
  padding: 13px 14px;
  line-height: 16px; }
  #right_column .recent_articles.pod_rounded .title,
  .right_column .recent_articles.pod_rounded .title,
  .right_container .recent_articles.pod_rounded .title {
    color: #09F;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 6px; }
  #right_column .recent_articles.pod_rounded .headline.sub_headline,
  .right_column .recent_articles.pod_rounded .headline.sub_headline,
  .right_container .recent_articles.pod_rounded .headline.sub_headline {
    display: block;
    text-decoration: underline;
    margin: 0 0 13px;
    font-size: 21px;
    line-height: 22px;
    color: #375363;
    font-weight: bold; }
  #right_column .recent_articles.pod_rounded .headline.sub_headline:hover,
  .right_column .recent_articles.pod_rounded .headline.sub_headline:hover,
  .right_container .recent_articles.pod_rounded .headline.sub_headline:hover {
    color: #000; }
  #right_column .recent_articles.pod_rounded .object_photo,
  .right_column .recent_articles.pod_rounded .object_photo,
  .right_container .recent_articles.pod_rounded .object_photo {
    display: block;
    margin: 0 0 11px;
    border: 1px solid #ADC0C9; }
    #right_column .recent_articles.pod_rounded .object_photo img,
    .right_column .recent_articles.pod_rounded .object_photo img,
    .right_container .recent_articles.pod_rounded .object_photo img {
      display: block;
      width: 210px;
      height: 140px; }
  #right_column .recent_articles.pod_rounded .desc,
  .right_column .recent_articles.pod_rounded .desc,
  .right_container .recent_articles.pod_rounded .desc {
    position: relative;
    height: 106px;
    overflow: hidden; }
    #right_column .recent_articles.pod_rounded .desc .ellipses_dots,
    .right_column .recent_articles.pod_rounded .desc .ellipses_dots,
    .right_container .recent_articles.pod_rounded .desc .ellipses_dots {
      font-size: 12px;
      line-height: 15px;
      background: #fff;
      position: absolute;
      right: 0;
      bottom: -1px;
      max-width: 334px;
      height: 15px;
      overflow: hidden; }
  #right_column .recent_articles.pod_rounded .other_articles,
  .right_column .recent_articles.pod_rounded .other_articles,
  .right_container .recent_articles.pod_rounded .other_articles {
    border-top: 1px solid #8EA8B5;
    margin: 11px 0 4px;
    border-bottom: 2px solid #8EA8B5;
    padding: 0 0 3px; }
    #right_column .recent_articles.pod_rounded .other_articles .photo_item,
    .right_column .recent_articles.pod_rounded .other_articles .photo_item,
    .right_container .recent_articles.pod_rounded .other_articles .photo_item {
      width: 100px;
      margin: 0 10px 8px 0;
      padding: 11px 0 0;
      line-height: 15px; }
      #right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo,
      .right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo,
      .right_container .recent_articles.pod_rounded .other_articles .photo_item .object_photo {
        border: 1px solid #ADC0C9;
        display: block;
        margin: 0 0 3px; }
        #right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo img,
        .right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo img,
        .right_container .recent_articles.pod_rounded .other_articles .photo_item .object_photo img {
          display: block;
          width: 98px;
          height: 65px; }
    #right_column .recent_articles.pod_rounded .other_articles li:last-child,
    .right_column .recent_articles.pod_rounded .other_articles li:last-child,
    .right_container .recent_articles.pod_rounded .other_articles li:last-child {
      margin-right: 0; }
    #right_column .recent_articles.pod_rounded .other_articles li.last,
    .right_column .recent_articles.pod_rounded .other_articles li.last,
    .right_container .recent_articles.pod_rounded .other_articles li.last {
      margin-right: 0; }
  #right_column .recent_articles.pod_rounded .more_link,
  .right_column .recent_articles.pod_rounded .more_link,
  .right_container .recent_articles.pod_rounded .more_link {
    text-align: right;
    line-height: 10px; }
    #right_column .recent_articles.pod_rounded .more_link .blue_text.arrow,
    .right_column .recent_articles.pod_rounded .more_link .blue_text.arrow,
    .right_container .recent_articles.pod_rounded .more_link .blue_text.arrow {
      color: #FF9000;
      top: 0; }
