/*BEGIN NEW IN PHOTO GALLERIES STYLES*/
/*---------------------------------------------*/
#right_column .recent_articles.pod_rounded,
.right_column .recent_articles.pod_rounded,
.right_container .recent_articles.pod_rounded {
  margin: 0 0 12px;
  padding: 13px 14px;
  line-height: 16px; }
  #right_column .recent_articles.pod_rounded .title,
  .right_column .recent_articles.pod_rounded .title,
  .right_container .recent_articles.pod_rounded .title {
    color: #09F;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 6px; }
  #right_column .recent_articles.pod_rounded .headline.sub_headline,
  .right_column .recent_articles.pod_rounded .headline.sub_headline,
  .right_container .recent_articles.pod_rounded .headline.sub_headline {
    display: block;
    text-decoration: underline;
    margin: 0 0 13px;
    font-size: 21px;
    line-height: 22px;
    color: #375363;
    font-weight: bold; }
  #right_column .recent_articles.pod_rounded .headline.sub_headline:hover,
  .right_column .recent_articles.pod_rounded .headline.sub_headline:hover,
  .right_container .recent_articles.pod_rounded .headline.sub_headline:hover {
    color: #000; }
  #right_column .recent_articles.pod_rounded .object_photo,
  .right_column .recent_articles.pod_rounded .object_photo,
  .right_container .recent_articles.pod_rounded .object_photo {
    display: block;
    margin: 0 0 11px;
    border: 1px solid #ADC0C9; }
    #right_column .recent_articles.pod_rounded .object_photo img,
    .right_column .recent_articles.pod_rounded .object_photo img,
    .right_container .recent_articles.pod_rounded .object_photo img {
      display: block;
      width: 210px;
      height: 140px; }
  #right_column .recent_articles.pod_rounded .desc,
  .right_column .recent_articles.pod_rounded .desc,
  .right_container .recent_articles.pod_rounded .desc {
    position: relative;
    height: 106px;
    overflow: hidden; }
    #right_column .recent_articles.pod_rounded .desc .ellipses_dots,
    .right_column .recent_articles.pod_rounded .desc .ellipses_dots,
    .right_container .recent_articles.pod_rounded .desc .ellipses_dots {
      font-size: 12px;
      line-height: 15px;
      background: #fff;
      position: absolute;
      right: 0;
      bottom: -1px;
      max-width: 334px;
      height: 15px;
      overflow: hidden; }
  #right_column .recent_articles.pod_rounded .other_articles,
  .right_column .recent_articles.pod_rounded .other_articles,
  .right_container .recent_articles.pod_rounded .other_articles {
    border-top: 1px solid #8EA8B5;
    margin: 11px 0 4px;
    border-bottom: 2px solid #8EA8B5;
    padding: 0 0 3px; }
    #right_column .recent_articles.pod_rounded .other_articles .photo_item,
    .right_column .recent_articles.pod_rounded .other_articles .photo_item,
    .right_container .recent_articles.pod_rounded .other_articles .photo_item {
      width: 100px;
      margin: 0 10px 8px 0;
      padding: 11px 0 0;
      line-height: 15px; }
      #right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo,
      .right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo,
      .right_container .recent_articles.pod_rounded .other_articles .photo_item .object_photo {
        border: 1px solid #ADC0C9;
        display: block;
        margin: 0 0 3px; }
        #right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo img,
        .right_column .recent_articles.pod_rounded .other_articles .photo_item .object_photo img,
        .right_container .recent_articles.pod_rounded .other_articles .photo_item .object_photo img {
          display: block;
          width: 98px;
          height: 65px; }
    #right_column .recent_articles.pod_rounded .other_articles li:last-child,
    .right_column .recent_articles.pod_rounded .other_articles li:last-child,
    .right_container .recent_articles.pod_rounded .other_articles li:last-child {
      margin-right: 0; }
    #right_column .recent_articles.pod_rounded .other_articles li.last,
    .right_column .recent_articles.pod_rounded .other_articles li.last,
    .right_container .recent_articles.pod_rounded .other_articles li.last {
      margin-right: 0; }
  #right_column .recent_articles.pod_rounded .more_link,
  .right_column .recent_articles.pod_rounded .more_link,
  .right_container .recent_articles.pod_rounded .more_link {
    text-align: right;
    line-height: 10px; }
    #right_column .recent_articles.pod_rounded .more_link .blue_text.arrow,
    .right_column .recent_articles.pod_rounded .more_link .blue_text.arrow,
    .right_container .recent_articles.pod_rounded .more_link .blue_text.arrow {
      color: #FF9000;
      top: 0; }
/*

*/
.headline {
  font-family: 'PT Sans', arial, sans-serif; }

/*BEGIN NAVIGATION CSS*/
#navbar li#cities .left_end {
  background-position: -269px -121px; }

#navbar li#cities a:link, #navbar li#cities a:visited, #navbar li#cities a:active {
  color: #ffffff; }

#navbar li#cities a span {
  background: url(/assets/content_bg/application_sprite-1aed6ecbc106df7d90482e712d7554b2.png) 0 -2663px repeat-x; }

#navbar li#cities .right_end {
  background-position: -283px -121px; }

/*BEGIN GENERAL PROPERTIES*/
/*------------------------------------------*/
.left_column {
  width: 735px; }

.ui-widget-overlay {
  /*For IE8 and below*/
  position: fixed\9 !important;
  height: 450%\9 !important; }

/*BEGIN IBIZA SCENE DESC SECTION*/
/*------------------------------------------*/
.ibiza_desc {
  width: 240px; }

.ibiza_desc_content {
  height: 379px;
  overflow: hidden;
  width: 220px; }

.ibiza_desc_content .headline {
  font-family: 'PT Sans', arial, sans-serif;
  *line-height: 33px;
  /*FOR IE7*/ }

.ibiza_desc_content p {
  margin: 0;
  padding: 0; }

.ibiza_desc_content .desc_info {
  height: 89px;
  overflow: hidden;
  position: relative; }

.ibiza_desc_content .schedule_link {
  background-position: 134px -2904px; }

/*BEGIN VIDEO, PHOTOS, and MAP SECTION*/
/*------------------------------------------*/
.vid_gal_map {
  margin: 0 0 0 15px;
  width: 480px; }

.vid_gal_map #videos_info,
.vid_gal_map #gal_info,
.vid_gal_map #map_info {
  height: 360px;
  width: 460px; }

/*FOR VIDEOS*/
/*-------------------------------*/
#videos_info .schedule_link {
  font-size: 10px;
  line-height: 10px;
  margin: 11px 0 0;
  text-decoration: none;
  text-transform: uppercase; }

#videos_info .schedule_link:hover {
  text-decoration: none; }

#videos_info .schedule_link .sched_text,
#videos_info .schedule_link:hover .sched_text {
  text-decoration: underline; }

/*FOR PHOTOS*/
/*-------------------------------*/
/*FOR MAP*/
/*------------------------------*/
#ibiza_home_content .vid_gal_map #map_info .map {
  height: 306px; }

#ibiza_home_content .city_map .overlay {
  bottom: 20px; }

/*BEGIN MIDDLE SECTION*/
/*------------------------------------------*/
.ibiza_spots {
  width: 735px; }

.scroller_wrapper {
  padding: 0 27px;
  position: relative; }

.screens_container {
  height: 316px;
  overflow: hidden;
  position: relative; }

.screens_wrapper {
  width: 8000px;
  position: absolute;
  left: 0;
  top: 0; }

.ibiza_spots .spot_item {
  width: 145px;
  height: 316px;
  margin: 0 27px 0 0; }

.ibiza_spots .spot_item .headline {
  height: 36px;
  margin: 0 0 10px;
  overflow: hidden;
  letter-spacing: -1px \9;
  /*FOR IE*/ }

.ibiza_spots #beaches_info .spot_item .headline {
  font-size: 25px;
  line-height: 25px;
  height: 52px;
  position: relative; }

.ibiza_spots #more_info .spot_item .headline {
  font-size: 25px;
  line-height: 25px;
  height: 27px;
  position: relative;
  line-height: 29px\9;
  /*FOE IE*/ }

.ibiza_spots #beaches_info .spot_item .headline a,
.ibiza_spots #more_info .spot_item .headline a {
  position: absolute;
  bottom: 2px;
  left: 0; }

.ibiza_spots .spot_item .scene_desc {
  height: 125px;
  overflow: hidden;
  position: relative; }

.ibiza_spots .spot_item .scene_desc2 {
  height: 161px;
  overflow: hidden;
  position: relative; }

.ibiza_spots #beaches_info .spot_item .scene_desc2 {
  height: 143px; }

.ibiza_spots #more_info .spot_item .scene_desc2 {
  height: 161px; }

.ibiza_spots .spot_item .scene_desc p,
.ibiza_spots .spot_item .scene_desc2 p {
  padding: 0; }

.ibiza_spots .spot_item.spot1 .read_more_txt_link_right {
  background-position: 93px -2904px; }

.ibiza_spots .spot_item.spot2 .read_more_txt_link_right {
  background-position: 92px -2904px; }

.ibiza_spots .spot_item.spot3 .read_more_txt_link_right {
  background-position: 108px -2904px; }

.ibiza_spots .spot_item.spot4 .read_more_txt_link_right {
  background-position: 106px -2904px; }

.ibiza_spots .spot_item.spot5 .read_more_txt_link_right {
  background-position: 88px -2904px; }

.ibiza_spots .spot_item.spot6 .read_more_txt_link_right {
  background-position: 113px -2904px; }

.ibiza_spots .spot_item.spot7 .read_more_txt_link_right {
  background-position: 119px -2904px; }

.ibiza_spots .prev_next_btns {
  background: url(/assets/content_bg/application_sprite-1aed6ecbc106df7d90482e712d7554b2.png) no-repeat scroll 0 -3040px transparent;
  cursor: pointer;
  height: 47px;
  position: absolute;
  text-indent: -9999px;
  top: 45%;
  width: 25px; }

.ibiza_spots .prev_next_btns.disabled {
  cursor: default; }

.ibiza_spots .prev_next_btns.prev_btn {
  left: -10px; }

.ibiza_spots .prev_next_btns.prev_btn:hover {
  background-position: -101px -3040px; }

.ibiza_spots .prev_next_btns.prev_btn.disabled,
.ibiza_spots .prev_next_btns.prev_btn.disabled:hover {
  background-position: -50px -3040px; }

.ibiza_spots .prev_next_btns.next_btn {
  background-position: -25px -3040px;
  right: -10px; }

.ibiza_spots .prev_next_btns.next_btn:hover {
  background-position: -126px -3040px; }

.ibiza_spots .prev_next_btns.next_btn.disabled,
.ibiza_spots .prev_next_btns.next_btn.disabled:hover {
  background-position: -75px -3040px; }

/*IBIZA SCHEDULE OF EVENTS*/
/*------------------------------------------------------------*/
.soe_info .headline {
  margin: 0 0 5px; }

.soe_info .venue_info {
  width: 372px; }

.venue_details {
  width: 320px; }

.venue_details.venue {
  width: 343px; }

.venue_details p {
  padding: 0;
  line-height: 16px; }

.venue_details .venue_photo {
  float: left;
  margin: 0 15px 10px 0;
  width: 82px;
  height: 79px; }

.venue_details .venue_photo img {
  width: 82px;
  height: 79px; }

.venue_details.venue .venue_desc {
  margin: 0 0 10px; }

.venue_details.venue .venue_desc p {
  height: 65px;
  overflow: hidden; }

.venue_details .venue_desc .read_more_txt_link_right {
  background-position: 60px -2904px; }

.venue_details .small_text {
  font-size: 11px;
  line-height: 13px; }

.asterisk.blue_text {
  font-size: 20px;
  height: 10px;
  line-height: 10px;
  margin: 0 6px 0 0; }

.soe_info .schedule_nav {
  width: 342px; }

.schedule_nav .logo {
  background: url(/assets/ibiza/ibiza_sprite-608434fa5b580017a7e7d7f6c046e0dd.png) -200px -370px no-repeat transparent;
  cursor: pointer;
  float: left;
  height: 65px;
  margin: 0 23px 0 0;
  width: 68px; }

.schedule_nav .logo.last {
  margin-right: 0; }

.schedule_nav .logo.spot1 {
  background-position: -200px -435px; }

.schedule_nav .logo.spot1:hover,
.schedule_nav .logo.spot1.selected {
  background-position: -200px -370px; }

.schedule_nav .logo.spot2 {
  background-position: -268px -435px; }

.schedule_nav .logo.spot2:hover,
.schedule_nav .logo.spot2.selected {
  background-position: -268px -370px; }

.schedule_nav .logo.spot3 {
  background-position: -336px -435px; }

.schedule_nav .logo.spot3:hover,
.schedule_nav .logo.spot3.selected {
  background-position: -336px -370px; }

.schedule_nav .logo.spot4 {
  background-position: -404px -435px; }

.schedule_nav .logo.spot4:hover,
.schedule_nav .logo.spot4.selected {
  background-position: -404px -370px; }

.schedule_nav .logo.spot5 {
  background-position: -200px -565px; }

.schedule_nav .logo.spot5:hover,
.schedule_nav .logo.spot5.selected {
  background-position: -200px -500px; }

.schedule_nav .logo.spot6 {
  background-position: -268px -565px; }

.schedule_nav .logo.spot6:hover,
.schedule_nav .logo.spot6.selected {
  background-position: -268px -500px; }

.schedule_nav .logo.spot7 {
  background-position: -336px -565px; }

.schedule_nav .logo.spot7:hover,
.schedule_nav .logo.spot7.selected {
  background-position: -336px -500px; }

.schedule_nav .logo.spot8 {
  background-position: -404px -565px; }

.schedule_nav .logo.spot8:hover,
.schedule_nav .logo.spot8.selected {
  background-position: -404px -500px; }

.schedule_nav .all_events {
  font-size: 10px;
  cursor: pointer; }

.schedule_nav .all_events .blue_link {
  /*FOR IE7*/
  *position: relative;
  *top: 2px; }

.schedule_nav .all_events:hover .blue_link {
  color: #597686; }

/*BEGIN COLLAPSE BAR*/
/*---------------------------------------*/
.custom_accordion .collapse_bar_wrapper {
  background: url(/assets/ibiza/ibiza_sprite-608434fa5b580017a7e7d7f6c046e0dd.png) 100% -37px no-repeat transparent; }

.custom_accordion .collapse_bar_wrapper .inner_wrapper {
  background: url(/assets/ibiza/ibiza_sprite-608434fa5b580017a7e7d7f6c046e0dd.png) 0 0 no-repeat transparent; }

.custom_accordion .collapse_bar_wrapper:hover {
  background: url(/assets/ibiza/ibiza_sprite-608434fa5b580017a7e7d7f6c046e0dd.png) 100% -111px no-repeat transparent; }

.custom_accordion .collapse_bar_wrapper:hover .inner_wrapper {
  background: url(/assets/ibiza/ibiza_sprite-608434fa5b580017a7e7d7f6c046e0dd.png) 0 -74px no-repeat transparent; }

.custom_accordion .collapse_bar_wrapper.highlighted {
  margin: 8px 0 0; }

/*BEGIN EXPAND BAR*/
/*---------------------------------------*/
.custom_accordion .expand_bar_wrapper {
  background: url(/assets/ibiza/ibiza_sprite-608434fa5b580017a7e7d7f6c046e0dd.png) 100% -185px no-repeat transparent; }

.custom_accordion .expand_bar_wrapper .inner_wrapper {
  background: url(/assets/ibiza/ibiza_sprite-608434fa5b580017a7e7d7f6c046e0dd.png) 0 -148px no-repeat transparent; }

.custom_accordion .expand_bar_wrapper:hover,
.custom_accordion .expand_bar_wrapper.highlighted:hover {
  background: url(/assets/ibiza/ibiza_sprite-608434fa5b580017a7e7d7f6c046e0dd.png) 100% -259px no-repeat transparent; }

.custom_accordion .expand_bar_wrapper:hover .inner_wrapper,
.custom_accordion .expand_bar_wrapper.highlighted:hover .inner_wrapper {
  background: url(/assets/ibiza/ibiza_sprite-608434fa5b580017a7e7d7f6c046e0dd.png) 0 -222px no-repeat transparent; }

.custom_accordion .expand_bar_wrapper.highlighted {
  background: url(/assets/ibiza/ibiza_sprite-608434fa5b580017a7e7d7f6c046e0dd.png) 100% -334px no-repeat transparent;
  margin: 8px 0 0; }

.custom_accordion .expand_bar_wrapper.highlighted .inner_wrapper {
  background: url(/assets/ibiza/ibiza_sprite-608434fa5b580017a7e7d7f6c046e0dd.png) 0 -296px no-repeat transparent; }

/*BEGIN ACCORDION CONTENT*/
/*---------------------------------------*/
#ibiza_home_content .accordion_content .event_separator {
  border-bottom: 1px dashed #ccc; }

#ibiza_home_content .accordion_content .day_separator {
  border-bottom: 1px solid #000; }

#ibiza_home_content .accordion_content.default_schedule {
  /*padding-bottom:5px;*/ }

#ibiza_home_content .accordion_content .dark td,
#ibiza_home_content .accordion_content .light td {
  padding: 7px 10px;
  border-right: none; }

#ibiza_home_content .accordion_content.default_schedule .dark {
  background: #fff; }

#ibiza_home_content .accordion_content.default_schedule .dark:hover {
  background: #eaeaea; }

#ibiza_home_content .accordion_content.venue_schedule .light .event_img_name_type {
  border-right: 2px solid #F7F7F7; }

#ibiza_home_content .accordion_content.default_schedule .dark .event_date {
  border: none; }

#ibiza_home_content .accordion_content.default_schedule .light .event_date {
  border: none; }

#ibiza_home_content .accordion_content .event_date {
  width: 86px;
  color: #0099ff;
  text-transform: uppercase; }

#ibiza_home_content .accordion_content .event_date .grey_text {
  font-size: 13px;
  font-weight: normal;
  text-transform: none; }

#ibiza_home_content .accordion_content .event_name.headline {
  max-height: 36px; }

#ibiza_home_content .accordion_content .event_venue_name a:link,
#ibiza_home_content .accordion_content .event_venue_name a:visited {
  color: #0099ff; }

#ibiza_home_content .accordion_content .event_venue_name:hover a:hover {
  color: #597686; }

#ibiza_home_content .accordion_content.default_schedule .event_venue_name {
  width: 100px; }

#ibiza_home_content .accordion_content.default_schedule .event_venue_name a:link,
#ibiza_home_content .accordion_content.default_schedule .event_venue_name a:visited {
  color: #0099ff; }

#ibiza_home_content .accordion_content.default_schedule .event_venue_name a:hover {
  color: #597686; }

#ibiza_home_content .accordion_content.default_schedule .event_img_name_type {
  width: 210px; }

#ibiza_home_content .accordion_content.venue_schedule .event_name_type {
  max-width: 100%;
  width: auto; }

#ibiza_home_content .accordion_content .event_performers {
  width: 110px; }

#ibiza_home_content .accordion_content .event_price {
  width: 44px; }

/*BEGIN RIGHT COLUMN*/
/*------------------------------------------*/
.right_column {
  width: 240px; }

.right_column #ad_240x400 {
  margin: 0 0 5px; }

/*TOP DJ POD*/
/*----------------------------*/
.top_djs .dj_photo {
  margin: 0 9px 0 0; }

.dj_content .headline {
  font-family: 'PT Sans', arial, sans-serif; }
  .dj_content .headline a:hover {
    text-decoration: underline; }
