.floater {
  position: relative; }

.floater.outside {
  position: absolute;
  top: 0;
  z-index: 1000; }

.floater.fixed {
  position: fixed;
  top: 0; }

.floater.inside {
  position: static !important; }

.floater.inside .animation_wrapper {
  height: auto !important; }

/* Styles for social media Buttons when inside */
.social_media_btns {
  position: relative;
  margin: 9px 0;
  padding: 0 0 8px;
  background-color: #fff;
  border-bottom: 1px dashed #adc0c9; }
  .social_media_btns .total_count {
    display: none; }
  .social_media_btns td {
    min-width: 65px; }
  .social_media_btns td td {
    min-width: 0; }
  .social_media_btns .gig-counter .gig-counter-text {
    font-weight: normal !important; }

/* Styles for social media Buttons when inside */
.outside .social_media_btns {
  position: absolute;
  top: 0;
  left: -70px;
  width: 30px;
  margin: 0;
  padding: 6px 9px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 5px #999;
  overflow: hidden; }
  .outside .social_media_btns .animation_wrapper {
    width: 300px;
    position: relative;
    right: 270px; }
    .outside .social_media_btns .animation_wrapper .total_count {
      display: block;
      width: 22px;
      height: 14px;
      color: white;
      padding: 9px 4px 4px;
      font-size: 11px;
      text-align: center; }
    .outside .social_media_btns .animation_wrapper .default_view {
      float: right;
      width: 30px;
      height: 128px;
      margin: 0 0 0 10px;
      background-image: url(/assets/content_bg/application_sprite-c08e7db1866016ee73bdf3e888b0efc9.png);
      background-position: -337px -364px;
      background-repeat: no-repeat;
      cursor: pointer; }
    .outside .social_media_btns .animation_wrapper .button_view {
      float: right;
      width: 108px; }
      .outside .social_media_btns .animation_wrapper .button_view .share_title {
        margin: 2px 3px 8px;
        color: #8EA8B5;
        font-size: 11px;
        line-height: 12px; }

/* GIGYA BUTTON STYLES
--------------------------------------
:: Styles for the width and position of the Gigya buttons..
-------------------------------------------------------- */
.social_media_btns .gig-button-container {
  margin: 0 5px 0 0 !important;
  padding: 0 !important;
  overflow: hidden; }

/* Width of buttons when inside */
.inside .gig-button-container-facebook {
  position: relative;
  top: -1px; }

.inside .gig-button-container-facebook-like {
  width: 45px !important; }

.inside .gig-button-container-twitter-tweet {
  width: 59px !important; }

.inside .gig-button-container-google-plusone {
  width: 32px !important; }

.inside .gig-button-container-share {
  width: 58px !important; }

/* Allows to absolutely position buttons */
.outside .gig-bar-container {
  position: relative; }

/* Prevent default <td> position */
.outside .social_media_btns td {
  display: inline; }

.outside .social_media_btns td td {
  display: table-cell; }

/* Default position for all buttons when outside. */
.outside .gig-button-container-facebook,
.outside .gig-button-container-facebook-like,
.outside .gig-button-container-twitter-tweet,
.outside .gig-button-container-google-plusone,
.outside .gig-button-container-share {
  position: absolute;
  top: 0;
  left: 0; }

/* Specific positions for buttons when outside when outside. */
.outside .gig-button-container-facebook {
  top: 0; }

.outside .gig-button-container-facebook-like {
  top: 27px; }

.outside .gig-button-container-twitter-tweet {
  top: 54px; }

.outside .gig-button-container-google-plusone {
  top: 81px; }

.outside .gig-button-container-share {
  top: 108px; }

.single_photo .outside .gig-button-container-pinterest {
  top: 0; }

.single_photo .outside .gig-button-container-facebook {
  top: 26px; }

.single_photo .outside .gig-button-container-facebook-like {
  top: 52px; }

.single_photo .outside .gig-button-container-twitter-tweet {
  top: 78px; }

.single_photo .outside .gig-button-container-google-plusone {
  top: 104px; }

.single_photo .outside .gig-button-container-share {
  top: 130px; }

.single_photo .outside .gig-button-container-pinterest .gig-counter {
  width: 33px; }

/* Completely override facebook buton */
.social_media_btns .gig-button-container-facebook .gig-button-td div {
  height: 18px;
  width: 57px;
  background-image: url(/assets/content_bg/application_sprite-c08e7db1866016ee73bdf3e888b0efc9.png);
  background-position: -386px -428px;
  cursor: pointer; }
  .social_media_btns .gig-button-container-facebook .gig-button-td div * {
    display: none; }
  .social_media_btns .gig-button-container-facebook .gig-button-td div:hover {
    background-position: -386px -448px; }

/* Styles for Gigya Share Popup */
.gig-simpleShare.fixed {
  position: fixed !important;
  top: 145px !important; }

/* FLOATER COMMENT STYLES
--------------------------------------
:: Styles for the comment box on the left rail floater.
-------------------------------------------------------- */
.floater_comments {
  display: none;
  /* Not displayed by default */
  position: absolute;
  top: 144px;
  left: -70px;
  width: 48px;
  padding: 4px 0;
  color: #999;
  font-family: 'Arial', sans-serif;
  font-size: 7px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px #999; }
  .floater_comments:hover {
    cursor: pointer; }
  .floater_comments:hover .comment_label {
    color: #597686; }
  .floater_comments .comment_count, .floater_comments .comment_label {
    display: block; }
  .floater_comments .comment_count {
    color: #0099ff;
    font-size: 16px;
    font-weight: bold;
    text-transform: none; }
  .floater_comments .comment_label {
    line-height: 120%; }
  .floater_comments .tip {
    position: absolute;
    right: 0;
    bottom: -17px;
    width: 54px;
    height: 17px;
    background-image: url(/assets/content_bg/application_sprite-c08e7db1866016ee73bdf3e888b0efc9.png);
    background-position: -387px -510px; }

.outside .floater_comments {
  display: block; }

/* Fix for gigya follow bar whenever there is a left rail social bar present */
.gig-followbar-dialog-nub,
.gig-followbar-dialog {
  position: fixed !important;
  top: auto !important; }

.gig-followbar-dialog-nub {
  bottom: 22px !important;
  background-image: url("http://cdn.gigya.com/gs/i/followbar/Nub_bottom.png") !important; }

.gig-followbar-dialog {
  bottom: 34px !important; }
