/*For section with yellow background*/
/*------------------------------------------------*/
.browse_by_interest {
  background: #ffffe5;
  width: 174px;
  padding: 10px 15px; }
  .browse_by_interest .headline.sub_headline {
    color: #375363;
    text-decoration: none; }
  .browse_by_interest .inner_divider.dashed {
    height: 2px;
    margin: 0 0 6px; }
  .browse_by_interest ul .interest_item {
    margin: 0 0 9px;
    font-size: 13px;
    line-height: 13px; }
    .browse_by_interest ul .interest_item .black_link {
      text-shadow: 0 0 0.08em #dadada; }

/*For section under Browse by Personality pod*/
/*------------------------------------------------*/
.browse_by_interest_horizontal .title {
  float: left;
  padding: 0;
  width: 136px;
  height: 91px;
  font-size: 26px;
  line-height: 29px;
  color: #0099ff;
  text-align: right;
  margin: 0 30px 0 0; }
.browse_by_interest_horizontal .interest_section {
  float: left; }
  .browse_by_interest_horizontal .interest_section ul {
    width: 135px;
    padding: 3px 0 0; }
    .browse_by_interest_horizontal .interest_section ul .interest_item {
      margin: 0 0 3px;
      font-size: 13px;
      line-height: 18px; }
      .browse_by_interest_horizontal .interest_section ul .interest_item .black_link {
        color: #375363 !important;
        text-decoration: underline;
        text-shadow: 0 0 0.08em #dadada; }
      .browse_by_interest_horizontal .interest_section ul .interest_item .black_link:hover {
        color: #000 !important; }
