/*BEGIN NAVIGATION CSS*/
#masthead .middle_line .additional_links .link.selected {
  background: none;
  box-shadow: none; }
  #masthead .middle_line .additional_links .link.selected a, #masthead .middle_line .additional_links .link.selected a:visited {
    color: #597686;
    text-decoration: underline; }
  #masthead .middle_line .additional_links .link.selected .point {
    display: none; }
#masthead .middle_line .additional_links .link.pe_reviewers {
  background: #fc8f00;
  box-shadow: 0 1px 0 #ccc; }
  #masthead .middle_line .additional_links .link.pe_reviewers a, #masthead .middle_line .additional_links .link.pe_reviewers a:visited {
    color: #fff;
    text-decoration: none; }
  #masthead .middle_line .additional_links .link.pe_reviewers .point {
    display: block;
    border-color: #bf6c01 transparent transparent #bf6c01;
    border-width: 4px;
    border-style: solid;
    overflow: hidden;
    position: absolute;
    bottom: -8px;
    right: 0; }
#masthead .middle_line .additional_links:hover .link.pe_reviewers {
  background: none;
  box-shadow: none; }
  #masthead .middle_line .additional_links:hover .link.pe_reviewers a, #masthead .middle_line .additional_links:hover .link.pe_reviewers a:visited {
    color: #597686;
    text-decoration: underline; }
  #masthead .middle_line .additional_links:hover .link.pe_reviewers .point {
    display: none; }
#masthead .middle_line .additional_links:hover .link.pe_reviewers:hover {
  background: #fc8f00;
  box-shadow: 0 1px 0 #ccc; }
  #masthead .middle_line .additional_links:hover .link.pe_reviewers:hover a, #masthead .middle_line .additional_links:hover .link.pe_reviewers:hover a:visited {
    color: #fff;
    text-decoration: none; }
  #masthead .middle_line .additional_links:hover .link.pe_reviewers:hover .point {
    display: block; }

#character_home_content .more_link,
#character_home_content .less_link {
  background: url(/assets/content_bg/application_sprite.png) 0 -265px no-repeat transparent;
  bottom: -1px;
  height: 25px;
  left: 43%;
  position: absolute;
  width: 41px; }

#character_home_content .less_link {
  background-position: 0 -290px; }

/*BEGIN GENERAL PAGE PROPERTIES*/
#character_home_content {
  z-index: 1000; }

/*BEGIN LEFT COLUMN*/
#left_column {
  width: 240px;
  margin: 3px 0 0 0; }

#left_column .headline {
  margin: 0 0 10px;
  line-height: 30px; }

#left_column #reviewers_desc {
  min-height: 284px; }

#reviewers_desc .read_more .clipped {
  height: 265px; }

#reviewer_ratings .read_more .clipped {
  height: 159px; }

#left_column .char_link {
  text-decoration: none; }

#left_column .char_link:hover {
  text-decoration: underline; }

#left_column .lucas_color {
  color: #3375c4; }

#left_column .adriana_color {
  color: #b8529e; }

#left_column .jonah_color {
  color: #73b808; }

#left_column .emma_color {
  color: #ffcc05; }

#left_column #ratings_desc .ratings_img {
  background: url(/assets/characters/char_page_ratings_stars.png) 0 0 no-repeat transparent;
  width: 55px;
  height: 47px;
  margin: 0 10px 7px 0; }

#left_column #ratings_desc {
  min-height: 180px; }

#left_column #ratings_desc table {
  margin: 0 0 10px; }

#left_column #ratings_desc table td {
  vertical-align: top; }

#left_column #ratings_desc .stars {
  background-image: url(/assets/characters/char_page_ratings_stars.png);
  display: block;
  width: 66px;
  height: 14px;
  margin: 3px 15px 0 0; }

#left_column #ratings_desc .stars.row1 {
  background-position: 0 -47px; }

#left_column #ratings_desc .stars.row2 {
  background-position: 0 -61px; }

#left_column #ratings_desc .stars.row3 {
  background-position: 0 -75px; }

#left_column #ratings_desc .stars.row4 {
  background-position: 0 -89px; }

#left_column #ratings_desc .stars.row5 {
  background-position: 0 -103px; }

/*BEGIN CENTER COLUMN */
#center_column {
  width: 480px;
  margin: 0 0 0 15px; }

#center_column #character_select {
  position: relative;
  min-height: 595px; }

#center_column #select_title {
  background: url(/assets/characters/character_page_sprite.png) 0 0 no-repeat;
  width: 464px;
  height: 53px;
  margin: 0 0 11px -3px;
  padding: 8px 11px 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  /*FOR IE7*/
  *padding-top: 0;
  *height: 61px; }

#character_select .characters {
  background: url(/assets/characters/character_page_sprite.png) no-repeat;
  height: 417px;
  cursor: pointer; }

#character_select .lucas {
  background-position: 0 -84px;
  width: 148px; }

#character_select .lucas:hover {
  background-position: 0 -501px; }

#character_select .adriana {
  background-position: -148px -84px;
  width: 106px; }

#character_select .adriana:hover {
  background-position: -148px -501px; }

#character_select .jonah {
  background-position: -254px -84px;
  width: 123px; }

#character_select .jonah:hover {
  background-position: -254px -501px; }

#character_select .emma {
  background-position: -377px -84px;
  width: 103px; }

#character_select .emma:hover {
  background-position: -377px -501px; }

#character_select #char_desc {
  color: #000000;
  min-height: 154px;
  padding: 10px 0 0; }

#char_desc .more_txt_link {
  background: url(/assets/characters/character_page_sprite.png) 0 -938px no-repeat transparent;
  width: 10px;
  height: 10px;
  display: inline-block; }

/*BEGIN RIGHT COLUMN*/
#right_column {
  width: 240px;
  margin: 0 0 0 15px;
  z-index: 1000;
  /*So that find your scene dropdown covers footer in IE */
  position: relative;
  /*So that find your scene dropdown covers footer in IE */ }

#right_column #ad_240x400 {
  margin: 0 0 2px 0; }

#find_scene #search_filters {
  width: 206px;
  height: 141px;
  overflow: visible;
  position: relative;
  z-index: 1000; }

#find_scene #search_filters .headline {
  margin: 0 0 4px;
  font-size: 16px;
  line-height: 16px; }

#find_scene #search_filters .show_me_label {
  position: absolute;
  top: 0;
  left: 0; }

#find_scene #search_filters .city_label {
  position: absolute;
  top: 52px;
  left: 0; }

/*BEGIN DROPDOWNS*/
#find_scene #search_filters .dropdown_wrapper {
  position: absolute;
  width: 206px;
  left: 0; }

#find_scene #search_filters .dropdown_wrapper.character_dropdown {
  top: 19px;
  z-index: 3; }

#find_scene #search_filters .dropdown_wrapper.city_dropdown {
  top: 71px;
  z-index: 2; }

#find_scene #search_filters .dropdown_wrapper .dropdown {
  position: absolute;
  left: 0;
  top: 24px;
  z-index: 1000; }

#find_scene #search_filters .dropdown_wrapper .Choices.choices {
  font-size: 11px;
  max-height: 75px;
  overflow: auto;
  position: relative;
  width: 204px;
  z-index: 1000; }

#find_scene #search_filters .dropdown_wrapper .footer_bottom {
  width: 195px; }

#find_scene #search_filters .go_btn {
  bottom: 0;
  position: absolute;
  right: 0;
  /*FOR IE 7*/
  z-index: 0; }
