.TitleContainer {
  background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -116px transparent;
  padding: 0 29px 0 0; }

.TitleContainer:hover {
  background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -145px transparent; }

.TitleContainer.Opened {
  background-position: 100% -58px; }

.TitleContainer.Opened:hover {
  background-position: 100% -87px; }

.TitleContainer .Title {
  background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 0 0 transparent;
  height: 19px;
  line-height: 20px;
  overflow: hidden;
  padding: 4px 10px; }

.TitleContainer.Opened .Title {
  background-position: 0 -29px; }

.TitleContainer .Title.select .unselected {
  color: #999; }

.dropdown_wrapper {
  cursor: pointer;
  display: inline-block;
  /*FOR IE7*/
  *display: inline;
  zoom: 1; }
  .dropdown_wrapper .dropdown {
    position: absolute;
    z-index: 3001; }
  .dropdown_wrapper .choices_wrapper {
    padding: 0 2px 0 0;
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -1456px transparent; }
  .dropdown_wrapper .Choices.choices {
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 0 -232px transparent; }
  .dropdown_wrapper .Choice.choice {
    margin: 0 0 0 1px;
    padding: 0 10px; }
  .dropdown_wrapper .Choice.choice:hover {
    color: #fff;
    background: #0099ff; }
  .dropdown_wrapper .footer_bottom {
    height: 11px;
    padding: 0 11px 0 0;
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 100% -2654px transparent; }
  .dropdown_wrapper .footer_bottom .footer_right {
    height: 11px;
    background: url(/assets/content_bg/dropdown_extra_sprite-c9137b03788caca650a5e7d7667c4c5e.png) no-repeat scroll 0 -1443px transparent; }

.month_dropdown .choices_wrapper {
  width: 83px; }

.day_dropdown .choices_wrapper {
  width: 70px; }

.year_dropdown .choices_wrapper {
  width: 73px; }
/*
 * jQuery Nivo Slider v2.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * March 2010
 */
/* The Nivo Slider styles */
.nivoSlider {
  position: relative; }

.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px; }

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 60;
  display: none; }

/* The slices in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 50;
  height: 100%;
  background-color: #fff !important; }

/* Caption styles */
.nivo-caption {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #000;
  color: #fff;
  opacity: 0.8;
  /* Overridden by captionOpacity setting */
  width: 100%;
  z-index: 89; }

.nivo-caption p {
  line-height: 15px;
  margin: 0;
  padding: 6px 12px;
  min-height: 17px; }

/*SPECIFIC TO THE PHOTO MODULES*/
.slider .nivo-caption p {
  float: left; }

.slider.width460 .nivo-caption p {
  width: 436px; }

.slider.width334 .nivo-caption p {
  width: 310px; }

.slider .nivo-caption p .photo_caption {
  max-height: 30px;
  overflow: hidden;
  position: relative;
  width: 100%; }

.slider .nivo-caption p .photo_caption .text {
  padding: 0 6px 0 0; }

.slider .nivo-caption p .photo_caption .text p {
  min-height: 0;
  padding: 0;
  width: auto; }

.slider .nivo-caption p .photo_caption .line_divider {
  background-color: #666666;
  bottom: 0;
  height: 18px;
  position: absolute;
  right: 0;
  width: 1px; }

.slider .nivo-caption p .photo_number {
  color: #fff;
  font-size: 12px;
  padding: 0 0 0 6px; }

.slider .nivo-caption p .photo_number .text {
  text-align: right; }

.nivo-caption a {
  display: inline !important; }

.nivo-html-caption {
  display: none; }

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 41%;
  z-index: 99;
  cursor: pointer;
  display: block;
  width: 27px;
  height: 59px;
  background-image: url(/assets/content_bg/application_sprite-946f1acd98411845cbaaec25deb92f4b.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  border: 0; }

/*Default positioning*/
.nivo-prevNav {
  left: 0px;
  background-position: -193px -2957px; }

.nivo-prevNav:hover {
  background-position: -193px -3018px; }

.nivo-nextNav {
  background-position: -221px -2957px;
  right: 0px; }

.nivo-nextNav:hover {
  background-position: -221px -3018px; }

.rounded_corner_wrapper .nivo-prevNav {
  left: -1px; }

.rounded_corner_wrapper .nivo-nextNav {
  right: -1px; }

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  position: absolute;
  left: 43%;
  bottom: 0; }

#billboard .nivo-controlNav {
  bottom: -30px;
  left: 38%; }

#gal_info .nivo-controlNav {
  display: none; }

.nivo-controlNav a {
  display: block;
  width: 10px;
  height: 10px;
  background: url(/assets/content_bg/application_sprite-946f1acd98411845cbaaec25deb92f4b.png) 0 -184px no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 10px;
  float: left;
  position: relative;
  z-index: 99;
  cursor: pointer; }

.nivo-controlNav a.active {
  background-position: -10px -184px; }

.slider {
  position: relative;
  width: 460px !important;
  height: 320px !important;
  background: url(/assets/content_bg/spinner-6f3ea8711c38a0458ed5771405fdd70b.gif) no-repeat 50% 50%; }

.rounded_corner_wrapper .slider.width460 {
  width: 458px !important; }

.slider.width460 {
  width: 460px !important;
  height: 320px !important; }

.slider.width334 {
  width: 334px !important;
  height: 252px !important; }

.seo_photo {
  width: 334px;
  height: 252px;
  overflow: hidden; }

.seo_photo.width460 {
  width: 460px;
  height: 320px;
  overflow: hidden; }

.slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none; }

.slider a {
  display: block; }
/*BEGIN NAVIGATION CSS*/
#masthead .middle_line .additional_links .link.selected {
  background: none;
  box-shadow: none; }
  #masthead .middle_line .additional_links .link.selected a, #masthead .middle_line .additional_links .link.selected a:visited {
    color: #597686;
    text-decoration: underline; }
  #masthead .middle_line .additional_links .link.selected .point {
    display: none; }
#masthead .middle_line .additional_links .link.pe_reviewers {
  background: #fc8f00;
  box-shadow: 0 1px 0 #ccc; }
  #masthead .middle_line .additional_links .link.pe_reviewers a, #masthead .middle_line .additional_links .link.pe_reviewers a:visited {
    color: #fff;
    text-decoration: none; }
  #masthead .middle_line .additional_links .link.pe_reviewers .point {
    display: block;
    border-color: #bf6c01 transparent transparent #bf6c01;
    border-width: 4px;
    border-style: solid;
    overflow: hidden;
    position: absolute;
    bottom: -8px;
    right: 0; }
#masthead .middle_line .additional_links:hover .link.pe_reviewers {
  background: none;
  box-shadow: none; }
  #masthead .middle_line .additional_links:hover .link.pe_reviewers a, #masthead .middle_line .additional_links:hover .link.pe_reviewers a:visited {
    color: #597686;
    text-decoration: underline; }
  #masthead .middle_line .additional_links:hover .link.pe_reviewers .point {
    display: none; }
#masthead .middle_line .additional_links:hover .link.pe_reviewers:hover {
  background: #fc8f00;
  box-shadow: 0 1px 0 #ccc; }
  #masthead .middle_line .additional_links:hover .link.pe_reviewers:hover a, #masthead .middle_line .additional_links:hover .link.pe_reviewers:hover a:visited {
    color: #fff;
    text-decoration: none; }
  #masthead .middle_line .additional_links:hover .link.pe_reviewers:hover .point {
    display: block; }

/*BEGIN GENERAL PAGE PROPERTIES*/
#character_subpage_content {
  z-index: 2000; }
  #character_subpage_content .pod_rounded {
    padding: 13px 10px; }

/*BEGIN LEFT COLUMN*/
#left_column {
  width: 360px; }

#left_column .character_selector {
  width: 360px;
  height: 400px;
  margin: 5px 0 0;
  background-position: left top;
  background-repeat: no-repeat; }

#left_column .character_selector.lucas {
  background-image: url(/assets/characters/lucas_subpage-57f32b4ebe8f0807612bf1a45c38d320.png); }

#left_column .character_selector.adriana {
  background-image: url(/assets/characters/adriana_subpage-cc1b38e95f282370eabf24348460ffb8.png); }

#left_column .character_selector.jonah {
  background-image: url(/assets/characters/jonah_subpage-5ac844b91d3dd23fad7b50a30e2212ff.png); }

#left_column .character_selector.emma {
  background-image: url(/assets/characters/emma_subpage-de4e1a2ac0cc57d4a3c4ef4669a3ba62.png); }

#left_column .character_selector #selections {
  margin: 0 -6px 0 0;
  height: 249px; }

#left_column .character_selector #selections .character {
  background-image: url(/assets/characters/character_select_subpage_sprite-7358850738c2f5ebc6cab4b46c8a5779.png);
  display: block; }

#left_column .character_selector #selections #lucas {
  background-position: 0 0;
  width: 84px;
  height: 239px; }

#left_column .character_selector #selections #lucas:hover {
  background-position: -85px 0; }

#left_column .character_selector #selections #adriana {
  background-position: -169px 0;
  width: 60px;
  height: 239px; }

#left_column .character_selector #selections #adriana:hover {
  background-position: -229px 0; }

#left_column .character_selector #selections #jonah {
  background-position: -289px 0;
  width: 74px;
  height: 239px; }

#left_column .character_selector #selections #jonah:hover {
  background-position: -363px 0; }

#left_column .character_selector #selections #emma {
  background-position: -437px 0;
  width: 60px;
  height: 239px; }

#left_column .character_selector #selections #emma:hover {
  background-position: -495px 0; }

#left_column .character_selector #select_callout {
  background-image: url(/assets/characters/character_select_subpage_sprite-7358850738c2f5ebc6cab4b46c8a5779.png);
  background-position: 0 -239px;
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-size: 20px;
  height: 58px;
  margin: 0 -3px 0 0;
  padding: 28px 30px 0;
  text-align: center;
  width: 146px; }

#left_column #character_favorites {
  height: 159px; }

#left_column #character_favorites p {
  padding: 0; }

#left_column #fav_desc {
  width: 340px; }

#left_column #fav_desc #fav_image img {
  width: 120px;
  height: 120px; }

#left_column #fav_desc table {
  margin: 0 0 0 8px;
  width: 212px; }

#left_column #fav_desc table tr {
  vertical-align: top;
  font-size: 8pt;
  line-height: 11px; }

#left_column #fav_desc table tr td.title {
  color: #777;
  padding: 0 8px 0 0; }

#left_column #fav_desc table tr td.divider {
  height: 5px; }

/*BEGIN CENTER COLUMN */
#center_column {
  width: 360px;
  margin: 0 0 0 15px; }

#personality_desc {
  min-height: 575px;
  width: 340px; }
  #personality_desc .slider {
    margin: 0 auto; }
    #personality_desc .slider .nivo-prevNav {
      left: 0; }
    #personality_desc .slider .nivo-nextNav {
      right: 0; }
  #personality_desc .quick_nav_links {
    float: right; }

/*BEGIN RIGHT COLUMN*/
#right_column {
  width: 240px;
  margin: 0 0 0 15px; }

#right_column #ad_240x400 {
  margin: 0 0 2px 0; }

#right_column #find_scene {
  position: relative;
  z-index: 2000; }

/*FIND SCENE MODULE*/
#find_scene #search_filters {
  width: 220px;
  height: 128px;
  overflow: visible;
  position: relative;
  z-index: 1000; }

#find_scene #search_filters .headline {
  margin: 0 0 4px;
  font-size: 16px;
  line-height: 16px; }

#find_scene #search_filters .show_me_label {
  position: absolute;
  top: 0;
  left: 0; }

#find_scene #search_filters .city_label {
  position: absolute;
  top: 52px;
  left: 0; }

/*BEGIN DROPDOWNS*/
#find_scene #search_filters .dropdown_wrapper {
  position: absolute;
  width: 220px;
  left: 0; }

#find_scene #search_filters .dropdown_wrapper.character_dropdown {
  top: 19px;
  z-index: 3; }

#find_scene #search_filters .dropdown_wrapper.city_dropdown {
  top: 71px;
  z-index: 2; }

#find_scene #search_filters .dropdown_wrapper .dropdown {
  position: absolute;
  left: 0;
  top: 24px;
  z-index: 1000; }

#find_scene #search_filters .dropdown .choices {
  position: relative;
  width: 220px;
  z-index: 1000;
  font-size: 11px; }

#find_scene #search_filters .dropdown .Choices.choices {
  max-height: 54px;
  overflow: auto;
  width: 218px; }

#find_scene #search_filters .dropdown .footer_bottom {
  width: 209px; }

#find_scene #search_filters .go_btn {
  bottom: -3px;
  position: absolute;
  right: 0;
  /*FOR IE 7*/
  z-index: 0; }
/*



*/
