/* SCHEDULE OF EVENTS
-----------------------------------
:: Styles for the Schedule of Events.
------------------------------------------------- */
.soe .soe_cont {
  position: relative;
  padding: 0 0 42px; }
  .soe .soe_cont .soe_cont_triggers {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100; }
  .soe .soe_cont .trigger.collapse {
    display: none; }
  .soe .soe_cont .trigger.expand {
    display: none; }
  .soe .soe_cont.soe_cont_collapsed {
    height: 400px;
    overflow: hidden; }
    .soe .soe_cont.soe_cont_collapsed .soe_cont_triggers {
      padding: 60px 0 1px;
      background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 52%, white 100%);
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 52%, white 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(52%, white), color-stop(100%, white));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 52%, white 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 52%, white 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 52%, white 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 52%, white 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
      /* IE6-9 */ }
    .soe .soe_cont.soe_cont_collapsed .trigger.collapse {
      display: none; }
    .soe .soe_cont.soe_cont_collapsed .trigger.expand {
      display: block; }
  .soe .soe_cont.soe_cont_not_expandable {
    padding-bottom: 0; }

.soe_sect p {
  padding: 0; }
.soe_sect .soe_sect_head {
  height: 29px;
  padding: 11px 12px 0;
  border-width: 1px;
  border-style: solid;
  border-top-color: #ebebeb;
  border-bottom-color: white;
  border-left-color: #f3f3f3;
  border-right-color: #f3f3f3;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#f1f1f1));
  background: -moz-linear-gradient(top, #fbfbfb, #f1f1f1);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FBFBFB, endColorStr=#F1F1F1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FBFBFB, endColorStr=#F1F1F1);
  border-radius: 2px;
  box-shadow: 0px 2px 3px #d9d9d9;
  cursor: pointer; }
  .soe_sect .soe_sect_head h3 {
    float: left;
    margin: 0 3px 0 0;
    padding: 0;
    color: #464646;
    font-size: 18px;
    font-weight: normal;
    line-height: 100%; }
    .soe_sect .soe_sect_head h3 span {
      color: #999;
      font-size: 18px; }
  .soe_sect .soe_sect_head .soe_sect_head_exp_text {
    display: block;
    float: right;
    color: #c2c2c2;
    font-size: 11px;
    text-decoration: underline; }
  .soe_sect .soe_sect_head:hover {
    background: #E3E3E3;
    border-color: #DDDCDC;
    box-shadow: 0 2px 3px #edecec; }
    .soe_sect .soe_sect_head:hover .soe_sect_head_exp_text {
      color: #000; }
.soe_sect .soe_sect_cont {
  position: relative;
  overflow: hidden; }
  .soe_sect .soe_sect_cont table {
    width: 100%; }
    .soe_sect .soe_sect_cont table tr {
      border-top: 1px dashed #ccc; }
      .soe_sect .soe_sect_cont table tr:first-child {
        border-top: none; }
      .soe_sect .soe_sect_cont table tr td {
        padding: 12px 0;
        vertical-align: top; }
  .soe_sect .soe_sect_cont .soe_event_date {
    width: 50px;
    padding-right: 10px; }
    .soe_sect .soe_sect_cont .soe_event_date .date_block {
      width: 48px;
      text-align: center;
      text-transform: uppercase;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#eff2f4), to(#d5dbe0));
      background: -moz-linear-gradient(top, white, #d5dbe0);
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
      border-left: 1px solid #e0e4e7;
      border-right: 1px solid #e0e4e7;
      border-radius: 2px 2px 2px 2px; }
      .soe_sect .soe_sect_cont .soe_event_date .date_block span {
        display: block; }
        .soe_sect .soe_sect_cont .soe_event_date .date_block span.month {
          padding: 5px 0 2px;
          color: #09f;
          font-size: 10px;
          font-weight: bold;
          text-shadow: 1px 1px 1px white;
          line-height: 9px; }
        .soe_sect .soe_sect_cont .soe_event_date .date_block span.date {
          padding: 0 0 5px;
          color: #09f;
          font-size: 25px;
          text-shadow: 1px 1px 1px #fff;
          border-bottom: 1px solid #b4babe; }
        .soe_sect .soe_sect_cont .soe_event_date .date_block span.day {
          padding: 2px 0 3px;
          color: #333;
          font-size: 9px;
          line-height: 9px;
          letter-spacing: 1px;
          background-color: #f5f5f5;
          border-top: 2px solid #e7e7e7;
          border-bottom: 1px solid #e7e7e7; }
  .soe_sect .soe_sect_cont .soe_event_img {
    width: 77px;
    padding-right: 15px; }
    .soe_sect .soe_sect_cont .soe_event_img .thumbnail_link {
      width: 75px;
      height: 50px; }
      .soe_sect .soe_sect_cont .soe_event_img .thumbnail_link img {
        width: 75px;
        height: 50px; }
  .soe_sect .soe_sect_cont .soe_event_dtls span {
    display: block; }
  .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_name {
    display: block;
    margin: 0 0 5px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none; }
  .soe_sect .soe_sect_cont .soe_event_dtls a.soe_event_name:hover {
    color: #597686;
    text-decoration: underline; }
  .soe_sect .soe_sect_cont .soe_event_dtls .venue_type span {
    display: inline; }
    .soe_sect .soe_sect_cont .soe_event_dtls .venue_type span.fake_link:hover {
      text-decoration: underline; }
  .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot {
    color: #000;
    font-size: 12px;
    line-height: 15px; }
    .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot a:link, .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot a:visited, .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot .fake_link {
      color: #000;
      text-decoration: none; }
      .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot a:link:hover, .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot a:visited:hover, .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot .fake_link:hover {
        color: #597686;
        text-decoration: underline; }
    .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot .soe_event_time {
      float: left;
      margin: 0 6px 0 0;
      color: #09f;
      white-space: nowrap;
      font-weight: bold; }
    .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot .soe_event_dtls_foot_xtra {
      float: left;
      width: 390px; }
      .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot .soe_event_dtls_foot_xtra span {
        display: inline; }
      .soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot .soe_event_dtls_foot_xtra .point {
        width: 0;
        height: 0;
        border-width: 4px;
        border-color: transparent transparent transparent #CCC;
        border-style: solid;
        overflow: hidden;
        display: inline-block;
        margin: 0 0 0 5px; }
  .soe_sect .soe_sect_cont .soe_event_xtra {
    width: 95px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 16px;
    vertical-align: bottom; }
    .soe_sect .soe_sect_cont .soe_event_xtra .buy_ticket {
      margin: 0 0 3px; }
/* STYLES FOR RIGHT SIDEBAR
-----------------------------------------------------
:: Styles for the right sidebar and universal elements like pods.
----------------------------------------------------- */
#right_sidebar {
  /* Lists used in Pods. If list needs specific styles override specific attributes in seperate stylesheet..*/
  /* Pod list stripped down with no border/padding etc. */
  /* Pod list with a thumbnail next to each item */
  /* Arrow Select list - List with arrows that appear only when hovered*/
  /* Pod footer used on some pods. Any that goes in the footer should be added here.*/
  /* Little orange arrow mostly used on pod footer after a link. */
  /* Styles for Popular Entertainers/DJs */
  /* Styles for the Get Paid To Party pods */ }
  #right_sidebar h3, #right_sidebar .featured .title {
    display: block;
    color: #375363;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin: 0 0 8px;
    padding: 0 0 8px;
    border-bottom: 1px dashed #adc0c9;
    color: #375363; }
    #right_sidebar h3 a, #right_sidebar h3 a:link, #right_sidebar h3 a:visited, #right_sidebar .featured .title a, #right_sidebar .featured .title a:link, #right_sidebar .featured .title a:visited {
      color: #375363;
      text-decoration: underline; }
      #right_sidebar h3 a:hover, #right_sidebar h3 a:link:hover, #right_sidebar h3 a:visited:hover, #right_sidebar .featured .title a:hover, #right_sidebar .featured .title a:link:hover, #right_sidebar .featured .title a:visited:hover {
        color: #000; }
    #right_sidebar h3.small, #right_sidebar .featured .title.small {
      margin: 0 0 6px;
      padding: 0;
      color: #09F;
      font-size: 15px;
      font-weight: bold;
      line-height: 16px;
      border-bottom: 0; }
  #right_sidebar .title {
    display: block;
    margin: 0 0 3px;
    line-height: 15px;
    text-decoration: underline; }
    #right_sidebar .title:hover {
      color: #000; }
  #right_sidebar .desc {
    position: relative;
    overflow: hidden; }
    #right_sidebar .desc a, #right_sidebar .desc a:link, #right_sidebar .desc a:visited {
      color: #09f; }
    #right_sidebar .desc .neighborhood {
      color: #8ea8b5;
      font-size: 10px;
      line-height: 10px;
      text-transform: uppercase; }
    #right_sidebar .desc .ellipsis {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #fff; }
  #right_sidebar .thumbnail_link {
    margin: 0 0 8px;
    width: 98px;
    height: 65px; }
    #right_sidebar .thumbnail_link img {
      width: 98px;
      height: 65px; }
  #right_sidebar .quick_nav_links {
    border-bottom: 1px dashed #ADC0C9;
    padding: 0 0 5px;
    margin: 0 0 5px; }
    #right_sidebar .quick_nav_links a, #right_sidebar .quick_nav_links a:link, #right_sidebar .quick_nav_links a:visited {
      color: #09f; }
      #right_sidebar .quick_nav_links a:hover, #right_sidebar .quick_nav_links a:link:hover, #right_sidebar .quick_nav_links a:visited:hover {
        color: #597686; }
  #right_sidebar .name {
    color: #09f;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase; }
    #right_sidebar .name .date {
      display: block;
      float: left;
      margin: 0 4px 0 0;
      padding: 0 6px 0 0;
      border-right: 1px solid #e4ebef; }
    #right_sidebar .name a {
      display: inline-block;
      width: 160px;
      height: 11px;
      color: #09f;
      text-decoration: none;
      text-transform: none;
      overflow: hidden; }
  #right_sidebar .changer .name {
    height: 10px;
    margin: 0 0 6px;
    padding: 0 0 6px;
    vertical-align: top;
    border-bottom: 1px solid #dae4e9; }
  #right_sidebar .list .list_item.featured .thumbnail_link,
  #right_sidebar .changer .thumbnail_link {
    width: 210px;
    height: 140px; }
    #right_sidebar .list .list_item.featured .thumbnail_link img,
    #right_sidebar .changer .thumbnail_link img {
      width: 210px;
      height: 140px; }
  #right_sidebar .list .list_item {
    margin: 8px 0 0;
    padding: 8px 0 0;
    border-top: 1px dashed #adc0c9; }
    #right_sidebar .list .list_item.featured {
      margin: 0 0 15px;
      padding: 0 0 15px;
      border-bottom: 1px solid #8ea8b5; }
      #right_sidebar .list .list_item.featured .title {
        margin: 0 0 8px;
        padding: 0;
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        border: none; }
      #right_sidebar .list .list_item.featured .venue_type {
        margin: 0 0 6px; }
    #right_sidebar .list .list_item p {
      padding: 0;
      line-height: 16px; }
      #right_sidebar .list .list_item p.name {
        line-height: 10px; }
    #right_sidebar .list .list_item .date {
      color: #09f;
      font-size: 9px;
      line-height: 11px;
      text-transform: uppercase; }
    #right_sidebar .list .list_item .arrow {
      color: #09f;
      font-size: 17px;
      line-height: 17px; }
    #right_sidebar .list .list_item .venue_type {
      margin: 0;
      padding: 0;
      color: #6C8898;
      line-height: 11px; }
      #right_sidebar .list .list_item .venue_type a, #right_sidebar .list .list_item .venue_type a:link, #right_sidebar .list .list_item .venue_type a:visited {
        color: #6C8898; }
        #right_sidebar .list .list_item .venue_type a:hover, #right_sidebar .list .list_item .venue_type a:link:hover, #right_sidebar .list .list_item .venue_type a:visited:hover {
          color: #597686;
          text-decoration: underline; }
    #right_sidebar .list .list_item:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none; }
    #right_sidebar .list .list_item .name a, #right_sidebar .list .list_item .name a:link, #right_sidebar .list .list_item .name a:visited {
      color: #09f; }
      #right_sidebar .list .list_item .name a:hover, #right_sidebar .list .list_item .name a:link:hover, #right_sidebar .list .list_item .name a:visited:hover {
        color: #597686;
        text-decoration: underline; }
  #right_sidebar .list a {
    color: #000; }
    #right_sidebar .list a:hover {
      color: #597686; }
  #right_sidebar .simple_list .list_item {
    margin: 0 0 3px;
    padding: 0;
    border: none; }
    #right_sidebar .simple_list .list_item a, #right_sidebar .simple_list .list_item a:link, #right_sidebar .simple_list .list_item a:visited {
      color: #375363; }
      #right_sidebar .simple_list .list_item a:hover, #right_sidebar .simple_list .list_item a:link:hover, #right_sidebar .simple_list .list_item a:visited:hover {
        color: #000; }
  #right_sidebar .photo_list .thumbnail_link {
    float: left;
    width: 75px;
    height: 50px;
    margin: 0 9px 0 0; }
    #right_sidebar .photo_list .thumbnail_link img {
      width: 75px;
      height: 50px; }
  #right_sidebar .photo_list .details {
    float: left;
    width: 120px; }
    #right_sidebar .photo_list .details .title {
      line-height: 15px;
      margin: 0 0 3px;
      color: #000; }
      #right_sidebar .photo_list .details .title:hover {
        color: #597686; }
  #right_sidebar .arrow_select .list_item {
    position: relative;
    padding: 0 0 0 12px;
    border: none; }
    #right_sidebar .arrow_select .list_item .arrow {
      display: none;
      position: absolute;
      top: 0;
      left: 0; }
    #right_sidebar .arrow_select .list_item.selected .arrow {
      display: block; }
  #right_sidebar .pod_footer {
    margin: 5px 0 0;
    padding: 5px 0 0;
    border-top: 1px solid #adc0c9; }
    #right_sidebar .pod_footer a, #right_sidebar .pod_footer a:link, #right_sidebar .pod_footer a:visited, #right_sidebar .pod_footer .fake_link {
      float: right;
      color: #09f;
      text-align: right;
      font-size: 11px;
      line-height: 12px;
      text-decoration: none; }
      #right_sidebar .pod_footer a:hover, #right_sidebar .pod_footer a:link:hover, #right_sidebar .pod_footer a:visited:hover, #right_sidebar .pod_footer .fake_link:hover {
        color: #597686; }
      #right_sidebar .pod_footer a span, #right_sidebar .pod_footer a:link span, #right_sidebar .pod_footer a:visited span, #right_sidebar .pod_footer .fake_link span {
        text-decoration: underline; }
        #right_sidebar .pod_footer a span.arrow, #right_sidebar .pod_footer a:link span.arrow, #right_sidebar .pod_footer a:visited span.arrow, #right_sidebar .pod_footer .fake_link span.arrow {
          top: 0;
          color: #ff9000;
          text-decoration: none; }
  #right_sidebar .arrow {
    display: inline-block;
    position: relative;
    width: 6px;
    font-family: "Times New Roman";
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    text-indent: -10px;
    overflow: hidden; }
  #right_sidebar .popular_entertainers .list li {
    position: relative;
    padding: 0 0 0 10px; }
    #right_sidebar .popular_entertainers .list li .arrow {
      display: none;
      position: absolute;
      left: 0; }
    #right_sidebar .popular_entertainers .list li.selected .arrow {
      display: inline-block; }
  #right_sidebar .gptp_right_rail h3 {
    padding: 0;
    font-weight: normal;
    border: none; }
  #right_sidebar .gptp_right_rail ul li {
    float: left;
    margin: 0 4px 4px 0; }
    #right_sidebar .gptp_right_rail ul li:nth-child(4n) {
      margin-right: 0; }
    #right_sidebar .gptp_right_rail ul li a, #right_sidebar .gptp_right_rail ul li a:link, #right_sidebar .gptp_right_rail ul li a:visited {
      display: block;
      width: 50px;
      height: 50px; }
      #right_sidebar .gptp_right_rail ul li a img, #right_sidebar .gptp_right_rail ul li a:link img, #right_sidebar .gptp_right_rail ul li a:visited img {
        opacity: .85; }
      #right_sidebar .gptp_right_rail ul li a:hover img, #right_sidebar .gptp_right_rail ul li a:link:hover img, #right_sidebar .gptp_right_rail ul li a:visited:hover img {
        opacity: 100; }
  #right_sidebar .gptp_right_rail .links {
    font-size: 11px;
    line-height: 11px; }
    #right_sidebar .gptp_right_rail .links a, #right_sidebar .gptp_right_rail .links .fake_link {
      text-decoration: underline; }
    #right_sidebar .gptp_right_rail .links .arrow {
      color: #ff9000; }
    #right_sidebar .gptp_right_rail .links .learn_link {
      float: left; }
    #right_sidebar .gptp_right_rail .links .meet_link {
      float: right; }
  #right_sidebar .gptp_right_rail .buttons {
    width: 217px;
    margin: 8px 0 0;
    padding: 8px 0 0;
    border-top: 1px solid #8ea8b5; }
    #right_sidebar .gptp_right_rail .buttons a, #right_sidebar .gptp_right_rail .buttons a:link, #right_sidebar .gptp_right_rail .buttons a:visited {
      display: block;
      position: relative;
      float: left;
      height: 46px;
      margin-top: 2px;
      margin-bottom: -6px;
      background-image: url(/assets/common/right_colmun_sprite-58d00c3397faf0afa866cef18d4a9ba4.png); }
      #right_sidebar .gptp_right_rail .buttons a.writer, #right_sidebar .gptp_right_rail .buttons a:link.writer, #right_sidebar .gptp_right_rail .buttons a:visited.writer {
        left: -2px;
        width: 85px;
        background-position: -1px -422px; }
        #right_sidebar .gptp_right_rail .buttons a.writer:hover, #right_sidebar .gptp_right_rail .buttons a:link.writer:hover, #right_sidebar .gptp_right_rail .buttons a:visited.writer:hover {
          background-position: -1px -476px; }
      #right_sidebar .gptp_right_rail .buttons a.photographer, #right_sidebar .gptp_right_rail .buttons a:link.photographer, #right_sidebar .gptp_right_rail .buttons a:visited.photographer {
        right: -3px;
        width: 132px;
        background-position: -88px -422px; }
        #right_sidebar .gptp_right_rail .buttons a.photographer:hover, #right_sidebar .gptp_right_rail .buttons a:link.photographer:hover, #right_sidebar .gptp_right_rail .buttons a:visited.photographer:hover {
          background-position: -88px -476px; }
  #right_sidebar .missing_venue_event,
  #right_sidebar .share_btn,
  #right_sidebar .subscribe_btn,
  #right_sidebar .follow_btns,
  #right_sidebar .ad {
    cursor: pointer;
    background-image: url(/assets/common/right_colmun_sprite-58d00c3397faf0afa866cef18d4a9ba4.png);
    background-repeat: no-repeat; }
  #right_sidebar #right_rail_simple_share {
    position: absolute;
    top: -60px;
    left: -9px; }
  #right_sidebar .missing_venue_event {
    position: relative;
    left: -2px;
    width: 246px;
    height: 154px;
    margin: 0 0 8px;
    background-position: -291px -233px; }
    #right_sidebar .missing_venue_event:hover {
      background-position: -291px -389px; }
  #right_sidebar .share_btn,
  #right_sidebar .subscribe_btn,
  #right_sidebar .follow_btns {
    position: relative;
    right: 0;
    width: 243px;
    height: 44px;
    margin: 0 0 9px; }
  #right_sidebar .share_btn {
    background-position: -291px -52px; }
  #right_sidebar .subscribe_btn {
    background-position: -291px -102px; }
  #right_sidebar .follow_btns {
    background-position: -291px -152px;
    cursor: default !important; }
    #right_sidebar .follow_btns a {
      display: block;
      position: absolute;
      top: 9px;
      width: 28px;
      height: 28px;
      margin: 0; }
    #right_sidebar .follow_btns .gig-followbar-providerButton {
      right: 44px; }
    #right_sidebar .follow_btns .gig-followbar-providerButton-last {
      right: 11px; }
  #right_sidebar .ad {
    width: 240px;
    height: 400px;
    background-position: 0 0; }
/* Upcoming Events Sidebar Pod */
#upcoming_events .list .list_item {
  position: relative; }
  #upcoming_events .list .list_item:first-child {
    padding-top: 8px; }
  #upcoming_events .list .list_item .point {
    display: none;
    position: absolute;
    top: 18px;
    left: -14px;
    border-top: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #09f; }
  #upcoming_events .list .list_item .date {
    float: left;
    width: 28px;
    margin: 0 10px 0 0;
    color: #09f;
    font-family: Arial, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
    line-height: 18px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eff2f4), to(#d5dbe0));
    background: -moz-linear-gradient(top, #eff2f4, #d5dbe0);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eff2f4, endColorStr=#d5dbe0);
    border-right: 1px solid #E0E4E7;
    border-left: 1px solid #E0E4E7;
    border-radius: 2px 2px 2px 2px; }
    #upcoming_events .list .list_item .date .month {
      padding: 5px 0 2px;
      font-size: 8px;
      font-weight: bold;
      line-height: 4px;
      text-transform: uppercase; }
    #upcoming_events .list .list_item .date .day {
      padding: 0 0 5px;
      font-size: 18px;
      border-bottom: 1px solid #B4BABE; }
  #upcoming_events .list .list_item .name_and_type {
    float: left;
    width: 168px; }
    #upcoming_events .list .list_item .name_and_type .black_link {
      display: block;
      line-height: 14px;
      margin: 0 0 3px; }
    #upcoming_events .list .list_item .name_and_type .venue_type {
      padding: 0;
      margin: 0; }
  #upcoming_events .list .list_item.selected .point {
    display: block; }
/* Related Pages */
#related_pages ul {
  float: left;
  width: 176px; }
  #related_pages ul li {
    margin: 0 0 3px;
    font-size: 13px; }
    #related_pages ul li a, #related_pages ul li a:link, #related_pages ul li a:visited {
      color: #375363;
      text-shadow: 0 0 0.08em #DADADA; }
      #related_pages ul li a:hover, #related_pages ul li a:link:hover, #related_pages ul li a:visited:hover {
        color: black; }
#related_pages .related_pages_section {
  margin: 8px 0 0;
  padding: 8px 0 0;
  border-top: 1px dashed #adc0c9; }
  #related_pages .related_pages_section:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none; }
  #related_pages .related_pages_section h5 {
    float: left;
    width: 165px;
    margin: 0 20px 0 0;
    color: #000;
    font-weight: bold; }
  #related_pages .related_pages_section ul {
    width: 520px; }
    #related_pages .related_pages_section ul li {
      float: left;
      width: 173px; }
#pop_neigh li {
  float: left;
  width: 102px;
  margin: 0 0 0 18px; }
  #pop_neigh li:first-child {
    margin-left: 0; }
  #pop_neigh li .name {
    display: block;
    margin: 0 0 6px;
    color: #000;
    line-height: 15px;
    overflow: hidden; }
    #pop_neigh li .name:hover {
      color: #09f; }
  #pop_neigh li .thumbnail_link,
  #pop_neigh li .thumbnail_link img {
    width: 100px;
    height: 100px; }
#pop_neigh.two_line_title li .name {
  height: 30px; }
/*BEGIN READ MORE/READ LESS CSS*/
/*-----------------------------------*/
.read_more .clipped {
  overflow: hidden; }
.read_more p:last-of-type {
  padding-bottom: 0; }
.read_more .more_toggle,
.read_more .less_toggle {
  border-top: 1px solid #dbdada;
  padding-top: 5px; }

.read_more.copy_block_missing_venue_event {
  position: relative; }
  .read_more.copy_block_missing_venue_event .clipped {
    height: 71px; }
  .read_more.copy_block_missing_venue_event .more_toggle {
    position: absolute;
    bottom: 2px;
    right: 0;
    padding: 0;
    background: #fff;
    border: none; }
    .read_more.copy_block_missing_venue_event .more_toggle span {
      text-decoration: underline; }
  .read_more.copy_block_missing_venue_event .less_toggle {
    margin-top: 7px; }
    .read_more.copy_block_missing_venue_event .less_toggle span {
      text-decoration: underline; }

.read_more_left {
  position: relative;
  float: left; }

.overview_copy_block .clipped {
  height: 110px; }
.overview_copy_block .more_toggle,
.overview_copy_block .less_toggle {
  margin-top: 7px; }

.read_more.pull_down .more_toggle,
.read_more.pull_down .less_toggle {
  background: url("/assets/content_bg/readmore_clipped_sprite-5e5a513e77bf8a9a73302da4570d7ce1.png") 0 0 repeat-x transparent;
  margin-top: -6px !important;
  border: none;
  text-align: center;
  padding: 0 0 17px;
  height: 19px;
  position: relative; }
.read_more.pull_down .fake-link {
  background: url("/assets/content_bg/readmore_clipped_sprite-5e5a513e77bf8a9a73302da4570d7ce1.png") 0 -43px no-repeat transparent;
  display: inline-block;
  font-size: 10px;
  width: 89px;
  height: 17px;
  position: relative;
  top: 12px;
  line-height: 10px;
  text-decoration: underline; }
.read_more.pull_down .blue_text.arrow,
.read_more.pull_down .blue-text.arrow {
  display: none; }
/*






*/
#hday_upc .hday_upc_itm {
  position: relative;
  margin: 15px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid #ccc; }
  #hday_upc .hday_upc_itm:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none; }
    #hday_upc .hday_upc_itm:first-child .blue_flag {
      top: 5px; }
#hday_upc .thumbnail_link {
  float: left;
  margin: 0 20px 0 0; }
#hday_upc .hday_det {
  float: left;
  width: 474px; }
#hday_upc .hday_name {
  display: block;
  margin: 0 0 7px;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px; }
#hday_upc .hday_desc {
  float: left;
  width: 349px;
  padding: 0 10px 0 0;
  line-height: 16px;
  border-right: 1px dotted #ccc; }
  #hday_upc .hday_desc .blue_flag {
    position: absolute;
    top: 15px;
    left: -25px;
    height: 17px;
    padding-left: 12px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px; }
    #hday_upc .hday_desc .blue_flag .tip {
      border-bottom: 8px solid transparent; }
#hday_upc .hday_count {
  float: right;
  width: 99px; }
  #hday_upc .hday_count .days_left {
    display: block;
    margin: 0 0 5px;
    color: #8ea8b5;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase; }
  #hday_upc .hday_count .num_cont {
    display: block;
    margin: 0 0 8px; }
    #hday_upc .hday_count .num_cont .num {
      display: block;
      float: left;
      width: 31px;
      height: 35px;
      margin: 0 2px 0 0;
      font-size: 20px;
      font-weight: bold;
      line-height: 30px;
      text-align: center;
      text-indent: -9999px;
      background-image: url(/assets/holidays/sprite-b1b6fcadabb85b0da2e750afc68cd31f.png); }
      #hday_upc .hday_count .num_cont .num.num0 {
        background-position: 0 0; }
      #hday_upc .hday_count .num_cont .num.num1 {
        background-position: -33px 0; }
      #hday_upc .hday_count .num_cont .num.num2 {
        background-position: -66px 0; }
      #hday_upc .hday_count .num_cont .num.num3 {
        background-position: -99px 0; }
      #hday_upc .hday_count .num_cont .num.num4 {
        background-position: -132px 0; }
      #hday_upc .hday_count .num_cont .num.num5 {
        background-position: -165px 0; }
      #hday_upc .hday_count .num_cont .num.num6 {
        background-position: -198px 0; }
      #hday_upc .hday_count .num_cont .num.num7 {
        background-position: -231px 0; }
      #hday_upc .hday_count .num_cont .num.num8 {
        background-position: -264px 0; }
      #hday_upc .hday_count .num_cont .num.num9 {
        background-position: -297px 0; }
    #hday_upc .hday_count .num_cont.is_today .num {
      background-position: 0 -36px; }
  #hday_upc .hday_count .add_to_calendar {
    padding: 3px 9px; }
#hday_upc .quick_nav_links {
  margin: 8px 0 0;
  padding: 8px 0 0;
  border-top: 1px dotted #ccc; }

.overview_copy_block {
  font-size: 12px;
  line-height: 14px; }
  .overview_copy_block .blue_header {
    margin-bottom: 12px; }
  .overview_copy_block .thumbnail_link, .overview_copy_block .thumbnail {
    float: left;
    width: 165px;
    height: 110px;
    margin: 0 12px 0 0; }
    .overview_copy_block .thumbnail_link img, .overview_copy_block .thumbnail img {
      width: 165px;
      height: 110px; }
  .overview_copy_block .read_more {
    width: 527px; }

.read_more.pull_down .more_toggle {
  margin-top: -18px !important; }
.read_more.pull_down .less_toggle {
  margin-top: -6px !important; }
.read_more.pull_down .fake-link {
  top: 13px; }

.soe_sect .soe_sect_head:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#f1f1f1));
  background: -moz-linear-gradient(top, #fbfbfb, #f1f1f1);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FBFBFB, endColorStr=#F1F1F1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FBFBFB, endColorStr=#F1F1F1);
  border-top-color: #ebebeb;
  border-bottom-color: white;
  border-left-color: #f3f3f3;
  border-right-color: #f3f3f3;
  box-shadow: 0px 2px 3px #d9d9d9;
  cursor: default; }

.soe_sect .soe_sect_cont .soe_event_dtls .soe_event_dtls_foot .soe_event_time {
  font-weight: normal; }
