.input_wrapper {
  background: url(/assets/content_bg/input_sprite.png) 100% -29px no-repeat;
  padding: 0 6px 0 0;
  display: inline-block;
  /*FOR IE7*/
  *display: inline;
  zoom: 1;
  z-index: 0; }

.input_wrapper .input_inner_wrapper {
  background: url(/assets/content_bg/input_sprite.png) 0 0 no-repeat;
  min-height: 21px;
  padding: 4px 2px 4px 8px; }

.input_wrapper .input_inner_wrapper input {
  background: none;
  width: 100%;
  font-family: 'PT Sans',arial,sans-serif; }
