/* Map Tooltip / Popup */
.map_tooltip, .map_popup {
  display: none;
  position: absolute;
  z-index: 6000;
  width: 300px;
  padding: 4px;
  background-color: #889aa4;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }
  .map_tooltip .map_tooltip_content, .map_tooltip .map_popup_content, .map_popup .map_tooltip_content, .map_popup .map_popup_content {
    padding: 11px 14px 9px;
    background-color: #f7f9fb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
  .map_tooltip .title, .map_popup .title {
    display: block;
    margin: 0 0 8px;
    color: #000;
    font-size: 19px;
    font-weight: bold;
    line-height: 21px; }
    .map_tooltip .title:hover, .map_popup .title:hover {
      color: #597686; }
  .map_tooltip .venue_type, .map_popup .venue_type {
    display: block;
    margin: 0 0 5px; }
  .map_tooltip .main, .map_popup .main {
    position: relative;
    min-height: 102px;
    margin: 0 0 5px;
    padding: 0 0 10px;
    border-bottom: 1px dashed #adc0c9; }
    .map_tooltip .main .thumbnail_link, .map_popup .main .thumbnail_link {
      box-sizing: content-box;
      float: left;
      width: 100px;
      height: 100px;
      margin: 0 10px 0 0; }
      .map_tooltip .main .thumbnail_link img, .map_popup .main .thumbnail_link img {
        width: 100px;
        height: 100px; }
    .map_tooltip .main .details, .map_popup .main .details {
      float: left;
      width: 140px;
      padding: 0 0 50px; }
      .map_tooltip .main .details address, .map_popup .main .details address {
        line-height: 13px; }
        .map_tooltip .main .details address .neighborhood, .map_popup .main .details address .neighborhood {
          display: block;
          margin: 0 0 3px;
          color: #375363;
          font-size: 11px; }
        .map_tooltip .main .details address a.neighborhood:hover, .map_popup .main .details address a.neighborhood:hover {
          color: #000; }
        .map_tooltip .main .details address .address, .map_popup .main .details address .address {
          display: block;
          margin: 0 0 5px; }
        .map_tooltip .main .details address p, .map_popup .main .details address p {
          padding: 0; }
      .map_tooltip .main .details .liked_by, .map_popup .main .details .liked_by {
        position: absolute;
        bottom: 7px;
        padding: 5px 0 0;
        border-top: 1px dashed #adc0c9; }
        .map_tooltip .main .details .liked_by dt, .map_popup .main .details .liked_by dt {
          float: left;
          margin-bottom: 2px;
          color: #8ea8b5;
          font-size: 9px;
          line-height: 11px;
          text-transform: uppercase; }
        .map_tooltip .main .details .liked_by dd, .map_popup .main .details .liked_by dd {
          float: left; }
        .map_tooltip .main .details .liked_by .character_cont, .map_popup .main .details .liked_by .character_cont {
          cursor: default !important;
          float: left;
          margin: 0 4px 0 0;
          padding: 0 0 2px;
          border-bottom: 2px solid;
          /* Force Disabled styles */ }
          .map_tooltip .main .details .liked_by .character_cont .character, .map_popup .main .details .liked_by .character_cont .character {
            display: block;
            width: 25px;
            height: 25px;
            background-image: url(/assets/characters/liked_by_sprite-c88bab5ae5f3f3c35899a01341886ddf.png);
            border: 1px solid #adc0c9;
            border-radius: 2px;
            cursor: default !important; }
          .map_tooltip .main .details .liked_by .character_cont.lucas, .map_popup .main .details .liked_by .character_cont.lucas {
            border-color: #4175ab; }
          .map_tooltip .main .details .liked_by .character_cont.adriana, .map_popup .main .details .liked_by .character_cont.adriana {
            border-color: #c675b1; }
          .map_tooltip .main .details .liked_by .character_cont.jonah, .map_popup .main .details .liked_by .character_cont.jonah {
            border-color: #95c946; }
          .map_tooltip .main .details .liked_by .character_cont.emma, .map_popup .main .details .liked_by .character_cont.emma {
            border-color: #ffb637; }
          .map_tooltip .main .details .liked_by .character_cont.lucas .character, .map_popup .main .details .liked_by .character_cont.lucas .character {
            background-position: -1px -3px;
            border-color: #4175ab !important; }
          .map_tooltip .main .details .liked_by .character_cont.adriana .character, .map_popup .main .details .liked_by .character_cont.adriana .character {
            background-position: -31px -3px;
            border-color: #c675b1 !important; }
          .map_tooltip .main .details .liked_by .character_cont.jonah .character, .map_popup .main .details .liked_by .character_cont.jonah .character {
            background-position: -61px -3px;
            border-color: #95c946 !important; }
          .map_tooltip .main .details .liked_by .character_cont.emma .character, .map_popup .main .details .liked_by .character_cont.emma .character {
            background-position: -91px -3px;
            border-color: #ffb637 !important; }
          .map_tooltip .main .details .liked_by .character_cont.disabled, .map_popup .main .details .liked_by .character_cont.disabled {
            border-color: #dae4e9 !important; }
            .map_tooltip .main .details .liked_by .character_cont.disabled .character, .map_popup .main .details .liked_by .character_cont.disabled .character {
              border-color: #adc0c9 !important; }
            .map_tooltip .main .details .liked_by .character_cont.disabled.lucas .character, .map_popup .main .details .liked_by .character_cont.disabled.lucas .character {
              background-position: -1px -33px !important; }
            .map_tooltip .main .details .liked_by .character_cont.disabled.adriana .character, .map_popup .main .details .liked_by .character_cont.disabled.adriana .character {
              background-position: -31px -33px !important; }
            .map_tooltip .main .details .liked_by .character_cont.disabled.jonah .character, .map_popup .main .details .liked_by .character_cont.disabled.jonah .character {
              background-position: -61px -33px !important; }
            .map_tooltip .main .details .liked_by .character_cont.disabled.emma .character, .map_popup .main .details .liked_by .character_cont.disabled.emma .character {
              background-position: -91px -33px !important; }
  .map_tooltip .event_list, .map_popup .event_list {
    padding: 0 0 5px;
    border-bottom: 1px dashed #adc0c9; }
    .map_tooltip .event_list li, .map_popup .event_list li {
      position: relative;
      margin: 5px 0 0;
      padding: 0 0 0 47px;
      font-size: 11px;
      line-height: 13px; }
      .map_tooltip .event_list li:first-child, .map_popup .event_list li:first-child {
        margin-top: 0; }
      .map_tooltip .event_list li .event_date, .map_popup .event_list li .event_date {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        color: #09f; }
      .map_tooltip .event_list li a, .map_tooltip .event_list li a:link, .map_tooltip .event_list li a:visited, .map_popup .event_list li a, .map_popup .event_list li a:link, .map_popup .event_list li a:visited {
        color: #000; }
        .map_tooltip .event_list li a:hover, .map_tooltip .event_list li a:link:hover, .map_tooltip .event_list li a:visited:hover, .map_popup .event_list li a:hover, .map_popup .event_list li a:link:hover, .map_popup .event_list li a:visited:hover {
          color: #597686; }
  .map_tooltip .quick_nav_links li, .map_popup .quick_nav_links li {
    margin: 0 0 0 10px; }
    .map_tooltip .quick_nav_links li:first-child, .map_popup .quick_nav_links li:first-child {
      margin-left: 0; }
  .map_tooltip .map_popup_close, .map_popup .map_popup_close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 8px;
    height: 8px;
    background-image: url(/assets/characters/liked_by_sprite-c88bab5ae5f3f3c35899a01341886ddf.png);
    background-position: -172px -138px;
    cursor: pointer; }
  .map_tooltip .map_tooltip_tip, .map_tooltip .map_popup_tip, .map_popup .map_tooltip_tip, .map_popup .map_popup_tip {
    position: absolute;
    top: 20px;
    right: -9px;
    border-top: 12px solid transparent;
    border-right: none;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #889aa4; }
    .map_tooltip .map_tooltip_tip .map_tooltip_tip_inner, .map_tooltip .map_tooltip_tip .map_popup_tip_inner, .map_tooltip .map_popup_tip .map_tooltip_tip_inner, .map_tooltip .map_popup_tip .map_popup_tip_inner, .map_popup .map_tooltip_tip .map_tooltip_tip_inner, .map_popup .map_tooltip_tip .map_popup_tip_inner, .map_popup .map_popup_tip .map_tooltip_tip_inner, .map_popup .map_popup_tip .map_popup_tip_inner {
      position: absolute;
      top: -8px;
      left: -13px;
      border-top: 8px solid transparent;
      border-right: none;
      border-bottom: 8px solid transparent;
      border-left: 8px solid #f7f9fb; }

.map_tooltip {
  z-index: 200; }
  .map_tooltip .venue_type {
    margin-bottom: 0; }
  .map_tooltip .event_list {
    padding: 5px 0 0;
    border-top: 1px dashed #adc0c9;
    border-bottom: none; }

.map_popup {
  z-index: 100; }

/* Styles for when tooltip/popup is on the right side */
.map_tooltip_right .map_tooltip_tip, .map_tooltip_right .map_popup_tip, .map_popup_right .map_tooltip_tip, .map_popup_right .map_popup_tip {
  right: auto;
  left: -9px;
  border-top: 12px solid transparent;
  border-right: 12px solid #889aa4;
  border-bottom: 12px solid transparent;
  border-left: none; }
  .map_tooltip_right .map_tooltip_tip .map_tooltip_tip_inner, .map_tooltip_right .map_tooltip_tip .map_popup_tip_inner, .map_tooltip_right .map_popup_tip .map_tooltip_tip_inner, .map_tooltip_right .map_popup_tip .map_popup_tip_inner, .map_popup_right .map_tooltip_tip .map_tooltip_tip_inner, .map_popup_right .map_tooltip_tip .map_popup_tip_inner, .map_popup_right .map_popup_tip .map_tooltip_tip_inner, .map_popup_right .map_popup_tip .map_popup_tip_inner {
    right: -13px;
    left: auto;
    border-top: 8px solid transparent;
    border-right: 8px solid #f7f9fb;
    border-bottom: 8px solid transparent;
    border-left: none; }
