#overview_cont .thumbnail {
  float: left;
  margin: 0 10px 0 0;
  width: 165px;
  height: 110px; }
#overview_cont.no_photo #overview_desc {
  float: none;
  width: auto; }

#overview_desc {
  float: left;
  width: 520px; }
