/* #### Mobile Phones Portrait - 320px Wide #### */
@media screen and (max-device-width: 320px) and (orientation: portrait) {
  html {
    -webkit-text-size-adjust: none; }

  body {
    background: #f0f0f0;
    margin: 0;
    padding: 0; }

  .pod {
    border-radius: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative; }

  /* Mobile Sub */
  .mobile_sub {
    background: #f0f0f0;
    height: auto;
    padding: 0;
    width: 320px;
    /* Mobile Confirmation */
    /* Logo */
    /* Multi-Select Button */
    /* Facebook Button */
    /* Email Input & Error */
    /* Terms & Submit */ }
    .mobile_sub .subscription_confirmation {
      background: #f0f0f0;
      text-align: center;
      height: 480px;
      margin: 0 auto;
      width: 350px; }
      .mobile_sub .subscription_confirmation .heading {
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 40px;
        padding: 100px 0 30px 0; }
      .mobile_sub .subscription_confirmation p {
        color: #464646;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 20px !important;
        line-height: 28px !important;
        padding-bottom: 50px !important;
        font-weight: normal;
        text-align: center; }
      .mobile_sub .subscription_confirmation .btn_blue {
        background-color: #0099FF;
        color: #FFFFFF !important;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-transform: none;
        margin: 0 auto;
        padding: 15px 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 280px; }
        .mobile_sub .subscription_confirmation .btn_blue:active {
          background-color: #2baaff; }
        .mobile_sub .subscription_confirmation .btn_blue:hover {
          background-color: #2baaff; }
        .mobile_sub .subscription_confirmation .btn_blue a {
          color: #FFFFFF !important;
          text-decoration: none !important; }
    .mobile_sub .logo_mobile {
      border-bottom: 1px dashed #adc0c9;
      height: 55px;
      width: 320px; }
      .mobile_sub .logo_mobile .logo {
        background: url(/assets/subscriptions/pe_newsletter_logo_290-00ae1acca9d8c400fd706af321ff1a5a.jpg) no-repeat top left;
        background-size: 100%;
        height: 53px;
        width: 200px; }
    .mobile_sub .padding {
      padding: 15px !important; }
    .mobile_sub .headline {
      background: url(/assets/subscriptions/pe_newsletter_stay_450-31aabdbd1b3ed8889b1d8fae86be77d2.png) no-repeat top left;
      background-size: 100%;
      height: 75px;
      margin-top: 15px;
      padding-bottom: 15px;
      width: 320px; }
    .mobile_sub p {
      color: #464646;
      font-family: Arimo, Arial, sans-serif;
      font-size: 20px;
      font-weight: normal;
      line-height: 27px;
      padding: 0; }
    .mobile_sub .margin_left {
      margin: 0;
      width: auto; }
    .mobile_sub .multi_select {
      border-bottom: 1px dashed #adc0c9;
      margin: 15px 0;
      padding-bottom: 15px;
      width: 320px; }
      .mobile_sub .multi_select select {
        border: 1px solid #cdd9df;
        border-radius: 4px !important;
        color: #464646;
        font-size: 16px;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        padding: 5px;
        margin: 0;
        width: 100%; }
    .mobile_sub .btn_fb {
      background: #627eb7;
      background: -moz-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #627eb7), color-stop(100%, #384f79));
      background: -webkit-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -o-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -ms-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: linear-gradient(to bottom, #627eb7 0%, #384f79 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#627eb7', endColorstr='#384f79',GradientType=0 );
      cursor: pointer;
      height: 49px;
      width: 320px;
      margin-bottom: 15px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      .mobile_sub .btn_fb:hover {
        background: #6c87be;
        background: -moz-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c87be), color-stop(100%, #49618d));
        background: -webkit-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -o-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -ms-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: linear-gradient(to bottom, #6c87be 0%, #49618d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c87be', endColorstr='#49618d',GradientType=0 );
        -webkit-box-shadow: 0 2px 6px #999999;
        -moz-box-shadow: 0 2px 6px #999999;
        box-shadow: 0 2px 6px #999999; }
      .mobile_sub .btn_fb .logo {
        background-image: url(/assets/subscriptions/pe_newsletter_signup_f-e8494d79c0ba31765f3a73cdf4090a04.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 40px;
        width: 36px;
        margin: 4px 0 0 18px; }
      .mobile_sub .btn_fb span {
        color: #FFF;
        font-size: 20px;
        font-family: Arial, sans-serif;
        margin: 15px 0 0 25px;
        text-shadow: -1px -1px #354667; }
    .mobile_sub .email {
      margin-top: 12px; }
      .mobile_sub .email label {
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 16px;
        left: 10px;
        top: 7px; }
      .mobile_sub .email input {
        border: 1px solid #cdd9df;
        border-radius: 4px !important;
        color: #464646;
        font-size: 16px;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        padding: 5px;
        margin: 0;
        width: 310px; }
      .mobile_sub .email .inline-errors {
        bottom: -50px;
        color: red;
        display: block;
        font-size: 12px;
        left: 0;
        position: absolute; }
      .mobile_sub .email img {
        display: none; }
    .mobile_sub .footer {
      border-top: 1px dashed #adc0c9;
      font-size: 12px;
      margin-top: 15px;
      padding-top: 15px;
      width: 320px; }
      .mobile_sub .footer a {
        color: #acacac;
        text-decoration: underline; }
        .mobile_sub .footer a:hover {
          color: #0099ff; }
      .mobile_sub .footer .terms {
        margin-top: 21px; }
        .mobile_sub .footer .terms a:first-child {
          margin-right: 20px; }
      .mobile_sub .footer .btn_blue {
        background-color: #0099FF;
        color: #FFFFFF !important;
        cursor: pointer;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin-left: 27px;
        padding: 15px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }
        .mobile_sub .footer .btn_blue:active {
          background-color: #2baaff; }
        .mobile_sub .footer .btn_blue:hover {
          background-color: #2baaff; } }
/* #### Mobile Phones Portrait - 321px - 480px Wide #### */
@media screen and (min-device-width: 321px) and (max-device-width: 480px) and (orientation: portrait) {
  html {
    -webkit-text-size-adjust: none; }

  body {
    background: #f0f0f0;
    margin: 0;
    padding: 0; }

  .pod {
    border-radius: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative; }

  /* Mobile Sub */
  .mobile_sub {
    background: #f0f0f0;
    height: auto;
    padding: 0;
    width: 320px;
    /* Mobile Confirmation */
    /* Logo */
    /* Multi-Select Button */
    /* Facebook Button */
    /* Email Input & Error */
    /* Terms & Submit */ }
    .mobile_sub .subscription_confirmation {
      background: #f0f0f0;
      text-align: center;
      height: 480px;
      margin: 0 auto;
      width: 350px; }
      .mobile_sub .subscription_confirmation .heading {
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 40px;
        padding: 100px 0 30px 0; }
      .mobile_sub .subscription_confirmation p {
        color: #464646;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 20px !important;
        line-height: 28px !important;
        padding-bottom: 50px !important;
        font-weight: normal;
        text-align: center; }
      .mobile_sub .subscription_confirmation .btn_blue {
        background-color: #0099FF;
        color: #FFFFFF !important;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-transform: none;
        margin: 0 auto;
        padding: 15px 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 280px; }
        .mobile_sub .subscription_confirmation .btn_blue:active {
          background-color: #2baaff; }
        .mobile_sub .subscription_confirmation .btn_blue:hover {
          background-color: #2baaff; }
        .mobile_sub .subscription_confirmation .btn_blue a {
          color: #FFFFFF !important;
          text-decoration: none !important; }
    .mobile_sub .logo_mobile {
      border-bottom: 1px dashed #adc0c9;
      height: 55px;
      width: 320px; }
      .mobile_sub .logo_mobile .logo {
        background: url(/assets/subscriptions/pe_newsletter_logo_290-00ae1acca9d8c400fd706af321ff1a5a.jpg) no-repeat top left;
        background-size: 100%;
        height: 53px;
        width: 200px; }
    .mobile_sub .padding {
      padding: 15px !important; }
    .mobile_sub .headline {
      background: url(/assets/subscriptions/pe_newsletter_stay_450-31aabdbd1b3ed8889b1d8fae86be77d2.png) no-repeat top left;
      background-size: 100%;
      height: 75px;
      margin-top: 15px;
      padding-bottom: 15px;
      width: 320px; }
    .mobile_sub p {
      color: #464646;
      font-family: Arimo, Arial, sans-serif;
      font-size: 20px;
      font-weight: normal;
      line-height: 27px;
      padding: 0; }
    .mobile_sub .margin_left {
      margin: 0;
      width: auto; }
    .mobile_sub .multi_select {
      border-bottom: 1px dashed #adc0c9;
      margin: 15px 0;
      padding-bottom: 15px;
      width: 320px; }
      .mobile_sub .multi_select select {
        border: 1px solid #cdd9df;
        border-radius: 4px !important;
        color: #464646;
        font-size: 16px;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        padding: 5px;
        margin: 0;
        width: 100%; }
    .mobile_sub .btn_fb {
      background: #627eb7;
      background: -moz-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #627eb7), color-stop(100%, #384f79));
      background: -webkit-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -o-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -ms-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: linear-gradient(to bottom, #627eb7 0%, #384f79 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#627eb7', endColorstr='#384f79',GradientType=0 );
      cursor: pointer;
      height: 49px;
      width: 320px;
      margin-bottom: 15px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      .mobile_sub .btn_fb:hover {
        background: #6c87be;
        background: -moz-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c87be), color-stop(100%, #49618d));
        background: -webkit-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -o-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -ms-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: linear-gradient(to bottom, #6c87be 0%, #49618d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c87be', endColorstr='#49618d',GradientType=0 );
        -webkit-box-shadow: 0 2px 6px #999999;
        -moz-box-shadow: 0 2px 6px #999999;
        box-shadow: 0 2px 6px #999999; }
      .mobile_sub .btn_fb .logo {
        background-image: url(/assets/subscriptions/pe_newsletter_signup_f-e8494d79c0ba31765f3a73cdf4090a04.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 40px;
        width: 36px;
        margin: 4px 0 0 18px; }
      .mobile_sub .btn_fb span {
        color: #FFF;
        font-size: 20px;
        font-family: Arial, sans-serif;
        margin: 15px 0 0 25px;
        text-shadow: -1px -1px #354667; }
    .mobile_sub .email {
      margin-top: 12px; }
      .mobile_sub .email label {
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 16px;
        left: 10px;
        top: 7px; }
      .mobile_sub .email input {
        border: 1px solid #cdd9df;
        border-radius: 4px !important;
        color: #464646;
        font-size: 16px;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        padding: 5px;
        margin: 0;
        width: 310px; }
      .mobile_sub .email .inline-errors {
        bottom: -50px;
        color: red;
        display: block;
        font-size: 12px;
        left: 0;
        position: absolute; }
      .mobile_sub .email img {
        display: none; }
    .mobile_sub .footer {
      border-top: 1px dashed #adc0c9;
      font-size: 12px;
      margin-top: 15px;
      padding-top: 15px;
      width: 320px; }
      .mobile_sub .footer a {
        color: #acacac;
        text-decoration: underline; }
        .mobile_sub .footer a:hover {
          color: #0099ff; }
      .mobile_sub .footer .terms {
        margin-top: 21px; }
        .mobile_sub .footer .terms a:first-child {
          margin-right: 20px; }
      .mobile_sub .footer .btn_blue {
        background-color: #0099FF;
        color: #FFFFFF !important;
        cursor: pointer;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin-left: 29px !important;
        padding: 15px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }
        .mobile_sub .footer .btn_blue:active {
          background-color: #2baaff; }
        .mobile_sub .footer .btn_blue:hover {
          background-color: #2baaff; } }
/* #### Mobile Phones Portrait - 720px Wide #### */
@media screen and (min-device-width: 481px) and (max-device-width: 720px) and (orientation: portrait) {
  html {
    -webkit-text-size-adjust: none; }

  body {
    background: #f0f0f0;
    margin: 0;
    padding: 0; }

  .pod {
    border-radius: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative; }

  /* Mobile Sub */
  .mobile_sub {
    background: #f0f0f0;
    height: auto;
    padding: 0;
    width: 320px;
    /* Mobile Confirmation */
    /* Logo */
    /* Multi-Select Button */
    /* Facebook Button */
    /* Email Input & Error */
    /* Terms & Submit */ }
    .mobile_sub .subscription_confirmation {
      background: #f0f0f0;
      text-align: center;
      height: 480px;
      margin: 0 auto;
      width: 350px; }
      .mobile_sub .subscription_confirmation .heading {
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 40px;
        padding: 100px 0 30px 0; }
      .mobile_sub .subscription_confirmation p {
        color: #464646;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 20px !important;
        line-height: 28px !important;
        padding-bottom: 50px !important;
        font-weight: normal;
        text-align: center; }
      .mobile_sub .subscription_confirmation .btn_blue {
        background-color: #0099FF;
        color: #FFFFFF !important;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-transform: none;
        margin: 0 auto;
        padding: 15px 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 280px; }
        .mobile_sub .subscription_confirmation .btn_blue:active {
          background-color: #2baaff; }
        .mobile_sub .subscription_confirmation .btn_blue:hover {
          background-color: #2baaff; }
        .mobile_sub .subscription_confirmation .btn_blue a {
          color: #FFFFFF !important;
          text-decoration: none !important; }
    .mobile_sub .logo_mobile {
      border-bottom: 1px dashed #adc0c9;
      height: 55px;
      width: 320px; }
      .mobile_sub .logo_mobile .logo {
        background: url(/assets/subscriptions/pe_newsletter_logo_290-00ae1acca9d8c400fd706af321ff1a5a.jpg) no-repeat top left;
        background-size: 100%;
        height: 53px;
        width: 200px; }
    .mobile_sub .padding {
      padding: 15px !important; }
    .mobile_sub .headline {
      background: url(/assets/subscriptions/pe_newsletter_stay_450-31aabdbd1b3ed8889b1d8fae86be77d2.png) no-repeat top left;
      background-size: 100%;
      height: 75px;
      margin-top: 15px;
      padding-bottom: 15px;
      width: 320px; }
    .mobile_sub p {
      color: #464646;
      font-family: Arimo, Arial, sans-serif;
      font-size: 20px;
      font-weight: normal;
      line-height: 27px;
      padding: 0; }
    .mobile_sub .margin_left {
      margin: 0;
      width: auto; }
    .mobile_sub .multi_select {
      border-bottom: 1px dashed #adc0c9;
      margin: 15px 0;
      padding-bottom: 15px;
      width: 320px; }
      .mobile_sub .multi_select select {
        border: 1px solid #cdd9df;
        border-radius: 4px !important;
        color: #464646;
        font-size: 16px;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        padding: 5px;
        margin: 0;
        width: 100%; }
    .mobile_sub .btn_fb {
      background: #627eb7;
      background: -moz-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #627eb7), color-stop(100%, #384f79));
      background: -webkit-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -o-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -ms-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: linear-gradient(to bottom, #627eb7 0%, #384f79 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#627eb7', endColorstr='#384f79',GradientType=0 );
      cursor: pointer;
      height: 49px;
      width: 320px;
      margin-bottom: 15px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      .mobile_sub .btn_fb:hover {
        background: #6c87be;
        background: -moz-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c87be), color-stop(100%, #49618d));
        background: -webkit-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -o-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -ms-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: linear-gradient(to bottom, #6c87be 0%, #49618d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c87be', endColorstr='#49618d',GradientType=0 );
        -webkit-box-shadow: 0 2px 6px #999999;
        -moz-box-shadow: 0 2px 6px #999999;
        box-shadow: 0 2px 6px #999999; }
      .mobile_sub .btn_fb .logo {
        background-image: url(/assets/subscriptions/pe_newsletter_signup_f-e8494d79c0ba31765f3a73cdf4090a04.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 40px;
        width: 36px;
        margin: 4px 0 0 18px; }
      .mobile_sub .btn_fb span {
        color: #FFF;
        font-size: 20px;
        font-family: Arial, sans-serif;
        margin: 15px 0 0 25px;
        text-shadow: -1px -1px #354667; }
    .mobile_sub .email {
      margin-top: 12px; }
      .mobile_sub .email label {
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 16px;
        left: 10px;
        top: 7px; }
      .mobile_sub .email input {
        border: 1px solid #cdd9df;
        border-radius: 4px !important;
        color: #464646;
        font-size: 16px;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        padding: 5px;
        margin: 0;
        width: 310px; }
      .mobile_sub .email .inline-errors {
        bottom: -50px;
        color: red;
        display: block;
        font-size: 12px;
        left: 0;
        position: absolute; }
      .mobile_sub .email img {
        display: none; }
    .mobile_sub .footer {
      border-top: 1px dashed #adc0c9;
      font-size: 12px;
      margin-top: 15px;
      padding-top: 15px;
      width: 320px; }
      .mobile_sub .footer a {
        color: #acacac;
        text-decoration: underline; }
        .mobile_sub .footer a:hover {
          color: #0099ff; }
      .mobile_sub .footer .terms {
        margin-top: 21px; }
        .mobile_sub .footer .terms a:first-child {
          margin-right: 20px; }
      .mobile_sub .footer .btn_blue {
        background-color: #0099FF;
        color: #FFFFFF !important;
        cursor: pointer;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin-left: 65px !important;
        padding: 15px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }
        .mobile_sub .footer .btn_blue:active {
          background-color: #2baaff; }
        .mobile_sub .footer .btn_blue:hover {
          background-color: #2baaff; } }
/* #### Mobile Phones Landscape - 1023px Wide #### */
@media screen and (max-device-width: 1023px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none; }

  body {
    background: #f0f0f0;
    margin: 0;
    padding: 0; }

  .pod {
    border-radius: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative; }

  /* Mobile Sub */
  .mobile_sub {
    background: #f0f0f0;
    height: auto;
    padding: 0;
    margin: 0 auto;
    width: 320px;
    /* Mobile Confirmation */
    /* Multi-Select Button */
    /* Facebook Button */
    /* Email Input & Error */
    /* Terms & Submit */ }
    .mobile_sub .subscription_confirmation {
      background: #f0f0f0;
      text-align: center;
      height: auto;
      margin: 0 auto;
      width: auto; }
      .mobile_sub .subscription_confirmation .heading {
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 40px;
        padding: 45px 0 10px 0; }
      .mobile_sub .subscription_confirmation p {
        color: #464646;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 18px !important;
        line-height: 28px !important;
        padding-bottom: 20px !important;
        font-weight: normal;
        text-align: center;
        margin-left: -80px !important;
        width: 450px !important; }
      .mobile_sub .subscription_confirmation .btn_blue {
        background-color: #0099FF;
        color: #FFFFFF !important;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-transform: none;
        margin: 0 auto;
        padding: 15px 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 280px; }
        .mobile_sub .subscription_confirmation .btn_blue:active {
          background-color: #2baaff; }
        .mobile_sub .subscription_confirmation .btn_blue:hover {
          background-color: #2baaff; }
        .mobile_sub .subscription_confirmation .btn_blue a {
          color: #FFFFFF !important;
          text-decoration: none !important; }
    .mobile_sub .logo_mobile {
      border-bottom: 1px dashed #adc0c9;
      height: 55px;
      width: 320px; }
      .mobile_sub .logo_mobile .logo {
        background: url(/assets/subscriptions/pe_newsletter_logo_290-00ae1acca9d8c400fd706af321ff1a5a.jpg) no-repeat top left;
        background-size: 100%;
        height: 53px;
        width: 200px; }
    .mobile_sub .padding {
      padding: 15px 0 !important; }
    .mobile_sub .headline {
      background: url(/assets/subscriptions/pe_newsletter_stay_450-31aabdbd1b3ed8889b1d8fae86be77d2.png) no-repeat top left;
      background-size: 100%;
      height: 75px;
      margin-top: 15px;
      padding-bottom: 15px;
      width: 320px; }
    .mobile_sub p {
      color: #464646;
      font-family: Arimo, Arial, sans-serif;
      font-size: 20px;
      font-weight: normal;
      line-height: 27px;
      padding: 0; }
    .mobile_sub .margin_left {
      margin: 0;
      width: auto; }
    .mobile_sub .multi_select {
      border-bottom: 1px dashed #adc0c9;
      margin: 15px 0;
      padding-bottom: 15px;
      width: 320px; }
      .mobile_sub .multi_select select {
        border: 1px solid #cdd9df;
        border-radius: 4px !important;
        color: #464646;
        font-size: 16px;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        padding: 5px;
        margin: 0;
        width: 100%; }
    .mobile_sub .btn_fb {
      background: #627eb7;
      background: -moz-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #627eb7), color-stop(100%, #384f79));
      background: -webkit-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -o-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -ms-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: linear-gradient(to bottom, #627eb7 0%, #384f79 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#627eb7', endColorstr='#384f79',GradientType=0 );
      cursor: pointer;
      height: 49px;
      width: 320px;
      margin-bottom: 15px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      .mobile_sub .btn_fb:hover {
        background: #6c87be;
        background: -moz-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c87be), color-stop(100%, #49618d));
        background: -webkit-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -o-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -ms-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: linear-gradient(to bottom, #6c87be 0%, #49618d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c87be', endColorstr='#49618d',GradientType=0 );
        -webkit-box-shadow: 0 2px 6px #999999;
        -moz-box-shadow: 0 2px 6px #999999;
        box-shadow: 0 2px 6px #999999; }
      .mobile_sub .btn_fb .logo {
        background-image: url(/assets/subscriptions/pe_newsletter_signup_f-e8494d79c0ba31765f3a73cdf4090a04.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 40px;
        width: 36px;
        margin: 4px 0 0 18px; }
      .mobile_sub .btn_fb span {
        color: #FFF;
        font-size: 20px;
        font-family: Arial, sans-serif;
        margin: 15px 0 0 25px;
        text-shadow: -1px -1px #354667; }
    .mobile_sub .email {
      margin-top: 12px; }
      .mobile_sub .email label {
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 16px;
        left: 10px;
        top: 7px; }
      .mobile_sub .email input {
        border: 1px solid #cdd9df;
        border-radius: 4px !important;
        color: #464646;
        font-size: 16px;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        padding: 5px;
        margin: 0;
        width: 310px; }
      .mobile_sub .email .inline-errors {
        bottom: -50px;
        color: red;
        display: block;
        font-size: 12px;
        left: 0;
        position: absolute; }
      .mobile_sub .email img {
        display: none; }
    .mobile_sub .footer {
      border-top: 1px dashed #adc0c9;
      font-size: 12px;
      margin-top: 15px;
      padding-top: 15px;
      width: 320px; }
      .mobile_sub .footer a {
        color: #acacac;
        text-decoration: underline; }
        .mobile_sub .footer a:hover {
          color: #0099ff; }
      .mobile_sub .footer .terms {
        margin-top: 21px; }
        .mobile_sub .footer .terms a:first-child {
          margin-right: 20px; }
      .mobile_sub .footer .btn_blue {
        background-color: #0099FF;
        color: #FFFFFF !important;
        cursor: pointer;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin-left: 27px;
        padding: 15px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }
        .mobile_sub .footer .btn_blue:active {
          background-color: #2baaff; }
        .mobile_sub .footer .btn_blue:hover {
          background-color: #2baaff; } }
/* #### Mobile Phones Landscape - 1024px - 1280px Wide #### */
@media screen and (min-device-width: 1024px) and (max-device-width: 1280px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none; }

  body {
    background: #f0f0f0;
    margin: 0;
    padding: 0; }

  .pod {
    border-radius: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative; }

  /* Mobile Sub */
  .mobile_sub {
    background: #f0f0f0;
    height: auto;
    padding: 0;
    margin: 0 auto;
    width: 320px;
    /* Mobile Confirmation */
    /* Multi-Select Button */
    /* Facebook Button */
    /* Email Input & Error */
    /* Terms & Submit */ }
    .mobile_sub .subscription_confirmation {
      background: #f0f0f0;
      text-align: center;
      height: auto;
      margin: 0 auto;
      width: auto; }
      .mobile_sub .subscription_confirmation .heading {
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 40px;
        padding: 45px 0 10px 0; }
      .mobile_sub .subscription_confirmation p {
        color: #464646;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 18px !important;
        line-height: 28px !important;
        padding-bottom: 20px !important;
        font-weight: normal;
        text-align: center;
        margin-left: -80px !important;
        width: 450px !important; }
      .mobile_sub .subscription_confirmation .btn_blue {
        background-color: #0099FF;
        color: #FFFFFF !important;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-transform: none;
        margin: 0 auto;
        padding: 15px 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 280px; }
        .mobile_sub .subscription_confirmation .btn_blue:active {
          background-color: #2baaff; }
        .mobile_sub .subscription_confirmation .btn_blue:hover {
          background-color: #2baaff; }
        .mobile_sub .subscription_confirmation .btn_blue a {
          color: #FFFFFF !important;
          text-decoration: none !important; }
    .mobile_sub .logo_mobile {
      border-bottom: 1px dashed #adc0c9;
      height: 55px;
      width: 320px; }
      .mobile_sub .logo_mobile .logo {
        background: url(/assets/subscriptions/pe_newsletter_logo_290-00ae1acca9d8c400fd706af321ff1a5a.jpg) no-repeat top left;
        background-size: 100%;
        height: 53px;
        width: 200px; }
    .mobile_sub .padding {
      padding: 15px 0 !important; }
    .mobile_sub .headline {
      background: url(/assets/subscriptions/pe_newsletter_stay_450-31aabdbd1b3ed8889b1d8fae86be77d2.png) no-repeat top left;
      background-size: 100%;
      height: 75px;
      margin-top: 15px;
      padding-bottom: 15px;
      width: 320px; }
    .mobile_sub p {
      color: #464646;
      font-family: Arimo, Arial, sans-serif;
      font-size: 20px;
      font-weight: normal;
      line-height: 27px;
      padding: 0; }
    .mobile_sub .margin_left {
      margin: 0;
      width: auto; }
    .mobile_sub .multi_select {
      border-bottom: 1px dashed #adc0c9;
      margin: 15px 0;
      padding-bottom: 15px;
      width: 320px; }
      .mobile_sub .multi_select select {
        border: 1px solid #cdd9df;
        border-radius: 4px !important;
        color: #464646;
        font-size: 16px;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        padding: 5px;
        margin: 0;
        width: 100%; }
    .mobile_sub .btn_fb {
      background: #627eb7;
      background: -moz-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #627eb7), color-stop(100%, #384f79));
      background: -webkit-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -o-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: -ms-linear-gradient(top, #627eb7 0%, #384f79 100%);
      background: linear-gradient(to bottom, #627eb7 0%, #384f79 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#627eb7', endColorstr='#384f79',GradientType=0 );
      cursor: pointer;
      height: 49px;
      width: 320px;
      margin-bottom: 15px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      .mobile_sub .btn_fb:hover {
        background: #6c87be;
        background: -moz-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c87be), color-stop(100%, #49618d));
        background: -webkit-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -o-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: -ms-linear-gradient(top, #6c87be 0%, #49618d 100%);
        background: linear-gradient(to bottom, #6c87be 0%, #49618d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c87be', endColorstr='#49618d',GradientType=0 );
        -webkit-box-shadow: 0 2px 6px #999999;
        -moz-box-shadow: 0 2px 6px #999999;
        box-shadow: 0 2px 6px #999999; }
      .mobile_sub .btn_fb .logo {
        background-image: url(/assets/subscriptions/pe_newsletter_signup_f-e8494d79c0ba31765f3a73cdf4090a04.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 40px;
        width: 36px;
        margin: 4px 0 0 18px; }
      .mobile_sub .btn_fb span {
        color: #FFF;
        font-size: 20px;
        font-family: Arial, sans-serif;
        margin: 15px 0 0 25px;
        text-shadow: -1px -1px #354667; }
    .mobile_sub .email {
      margin-top: 12px; }
      .mobile_sub .email label {
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        font-size: 16px;
        left: 10px;
        top: 7px; }
      .mobile_sub .email input {
        border: 1px solid #cdd9df;
        border-radius: 4px !important;
        color: #464646;
        font-size: 16px;
        font-family: "Helvetica Neue Light", Arial, sans-serif;
        padding: 5px;
        margin: 0;
        width: 310px; }
      .mobile_sub .email .inline-errors {
        bottom: -50px;
        color: red;
        display: block;
        font-size: 12px;
        left: 0;
        position: absolute; }
      .mobile_sub .email img {
        display: none; }
    .mobile_sub .footer {
      border-top: 1px dashed #adc0c9;
      font-size: 12px;
      margin-top: 15px;
      padding-top: 15px;
      width: 320px; }
      .mobile_sub .footer a {
        color: #acacac;
        text-decoration: underline; }
        .mobile_sub .footer a:hover {
          color: #0099ff; }
      .mobile_sub .footer .terms {
        margin-top: 21px; }
        .mobile_sub .footer .terms a:first-child {
          margin-right: 20px; }
      .mobile_sub .footer .btn_blue {
        background-color: #0099FF;
        color: #FFFFFF !important;
        cursor: pointer;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin-left: 65px !important;
        padding: 15px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }
        .mobile_sub .footer .btn_blue:active {
          background-color: #2baaff; }
        .mobile_sub .footer .btn_blue:hover {
          background-color: #2baaff; } }
