/*BEGIN CUSTOM TWITTER STYLES*/
/*-----------------------------------------*/
#twitter_pod h3 {
  padding: 0;
  border: none; }
#twitter_pod .twitter_handle {
  color: #375363;
  display: block;
  font-size: 24px;
  line-height: 27px; }
#twitter_pod .img_cont {
  position: relative; }
  #twitter_pod .img_cont .account_image {
    border: 1px solid #999;
    height: 85px;
    width: 85px; }
  #twitter_pod .img_cont .verified_account {
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 23px;
    height: 23px;
    background: url(/assets/content_bg/application_sprite.png);
    background-position: -123px -150px;
    zoom: 1; }
#twitter_pod .headline {
  font-weight: normal; }
#twitter_pod .pod_footer {
  margin-top: 10px;
  padding: 0;
  border-top: none; }
  #twitter_pod .pod_footer .prev_next {
    float: right; }
  #twitter_pod .pod_footer .prev_btn, #twitter_pod .pod_footer .next_btn {
    float: left;
    width: 16px;
    height: 16px;
    background-image: url(/assets/content_bg/application_sprite.png); }
    #twitter_pod .pod_footer .prev_btn.disabled, #twitter_pod .pod_footer .next_btn.disabled {
      display: none; }
  #twitter_pod .pod_footer .prev_btn {
    margin-right: 5px;
    background-position: -174px -193px; }
    #twitter_pod .pod_footer .prev_btn:hover {
      background-position: -174px -209px; }
  #twitter_pod .pod_footer .next_btn {
    background-position: -158px -193px; }
    #twitter_pod .pod_footer .next_btn:hover {
      background-position: -158px -209px; }
#twitter_pod .page_count {
  display: none; }
#twitter_pod .twitter_stats {
  color: #000000;
  font-size: 11px;
  width: 165px; }
  #twitter_pod .twitter_stats td {
    vertical-align: top; }
    #twitter_pod .twitter_stats td .label {
      color: #8ea8b5;
      font-size: 10px;
      text-transform: uppercase;
      width: 70px; }
#twitter_pod .tweets {
  margin-top: 5px; }
  #twitter_pod .tweets li {
    border-top: 1px dashed #adc0c9;
    margin: 0 0 5px;
    padding: 5px 0 0; }
    #twitter_pod .tweets li:last-child {
      border-bottom: 1px dashed #adc0c9;
      padding-bottom: 5px; }
