.ProgressBarPopup {
  position: absolute;
  width: 36px;
  height: 22px;
  padding: 5px 0 0;
  color: #ccc;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  background-image: url(/assets/video/video_sprite.png);
  background-position: -146px -64px; }

.video_section .video_player {
  position: relative;
  float: left;
  width: 333px;
  height: 257px;
  overflow: hidden; }
  .video_section .video_player .watermark {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 50px;
    height: 32px;
    background-image: url(/assets/video/video_sprite.png);
    background-position: 0 -172px; }
  .video_section .video_player .video_frame, .video_section .video_player iframe {
    display: block;
    height: 220px !important; }
  .video_section .video_player iframe {
    border: none; }
.video_section .video_title {
  display: block;
  height: 33px;
  font-size: 22px;
  font-weight: bold;
  line-height: 29px;
  overflow: hidden; }
.video_section .more_videos {
  position: relative;
  float: left;
  width: 360px;
  height: 337px;
  margin: -8px 0 0 13px;
  overflow: hidden; }
  .video_section .more_videos.single_page {
    height: 308px; }
  .video_section .more_videos .video_row {
    float: left;
    width: 360px; }
.video_section .video_scroller_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 150000px;
  height: 320px; }
.video_section .video_item {
  float: left;
  width: 100px;
  height: 136px;
  margin: 0 4px 4px 0;
  padding: 8px;
  overflow: hidden;
  border-radius: 4px; }
  .video_section .video_item:hover, .video_section .video_item.playing {
    background-color: #f2f2f2; }
  .video_section .video_item .thumbnail_link {
    cursor: pointer; }
    .video_section .video_item .thumbnail_link .play_btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 80px;
      background-image: url(/assets/events/events_sprite.png);
      background-position: 0 -296px; }
    .video_section .video_item .thumbnail_link:hover .play_btn {
      background-position: -100px -296px; }
  .video_section .video_item .video_title {
    height: 29px;
    margin: 4px 0 0;
    color: #09f;
    font-size: 13px;
    line-height: 14px;
    cursor: pointer; }
  .video_section .video_item .views_count {
    height: 11px;
    color: #666;
    font-size: 11px;
    overflow: hidden; }
  .video_section .video_item.playing .thumbnail_link {
    cursor: default; }
    .video_section .video_item.playing .thumbnail_link .play_btn {
      display: none; }
  .video_section .video_item.playing .video_title, .video_section .video_item:hover .video_title {
    color: #333; }
.video_section .controls {
  height: 32px;
  background-image: url(/assets/video/controls_bg_repeat.png); }
  .video_section .controls .inner_bg_one {
    height: 32px;
    padding: 0 8px 0 0;
    background-image: url(/assets/video/video_sprite.png);
    background-position: 100% -32px; }
  .video_section .controls .inner_bg_two {
    height: 24px;
    padding: 4px 0 4px 8px;
    background-image: url(/assets/video/video_sprite.png); }
  .video_section .controls .play_btn {
    float: left;
    width: 43px;
    height: 24px;
    background-image: url(/assets/video/video_sprite.png);
    cursor: pointer; }
    .video_section .controls .play_btn.playing {
      background-position: 0 -88px; }
    .video_section .controls .play_btn.playing:hover {
      background-position: -43px -88px; }
    .video_section .controls .play_btn.playing.pressed {
      background-position: -43px -112px; }
    .video_section .controls .play_btn.paused {
      background-position: 0 -64px; }
    .video_section .controls .play_btn.paused:hover {
      background-position: -43px -64px; }
    .video_section .controls .play_btn.paused.pressed {
      background-position: 0 -112px; }
  .video_section .controls .time_display {
    float: left;
    width: 70px;
    color: #999;
    font-size: 11px;
    text-align: center;
    line-height: 24px; }
    .video_section .controls .time_display .elapsed_time {
      color: #09f; }
  .video_section .controls .progress_bar {
    float: left;
    height: 12px;
    margin: 6px 20px 0 0; }
    .video_section .controls .progress_bar .total_bar, .video_section .controls .progress_bar .buffer_wrapper, .video_section .controls .progress_bar .played_bar, .video_section .controls .progress_bar .scrubber {
      position: relative;
      left: 4px;
      height: 5px; }
    .video_section .controls .progress_bar .total_bar_wrapper {
      width: 100%;
      height: 13px;
      padding: 0 4px 0 0;
      background-image: url(/assets/video/video_sprite.png);
      background-position: 100% -149px; }
    .video_section .controls .progress_bar .total_bar {
      left: 0;
      padding: 4px 0 4px 4px;
      background-image: url(/assets/video/video_sprite.png);
      background-position: 0 -136px; }
    .video_section .controls .progress_bar .buffer_wrapper {
      top: -9px;
      width: 100%;
      border-radius: 4px;
      overflow: hidden; }
    .video_section .controls .progress_bar .buffered_bar {
      height: 5px;
      background-image: url(/assets/video/video_sprite.png);
      background-position: 0 -167px;
      background-repeat: repeat-x; }
    .video_section .controls .progress_bar .played_bar {
      top: -14px;
      background-image: url(/assets/video/video_sprite.png);
      background-position: 0 -162px;
      background-repeat: repeat-x;
      border-radius: 4px; }
    .video_section .controls .progress_bar .scrubber {
      top: -20px; }
      .video_section .controls .progress_bar .scrubber .ui-slider-handle {
        top: -4px;
        width: 19px;
        height: 12px;
        background-image: url(/assets/video/video_sprite.png);
        background-position: -86px -78px; }
  .video_section .controls .volume {
    float: left;
    width: 68px;
    margin: 5px 10px 0 0;
    cursor: pointer; }
    .video_section .controls .volume .mute {
      float: left;
      width: 16px;
      height: 13px;
      margin: 0 8px 0 0;
      background-image: url(/assets/video/video_sprite.png);
      background-position: -86px -64px; }
      .video_section .controls .volume .mute:hover, .video_section .controls .volume .mute.on {
        background-position: -102px -64px; }
    .video_section .controls .volume .vol_bars {
      float: left;
      padding: 2px; }
    .video_section .controls .volume .vol_bar {
      float: left;
      width: 4px;
      height: 10px;
      margin: 0 2px 0 0;
      background-image: url(/assets/video/video_sprite.png); }
      .video_section .controls .volume .vol_bar.last {
        margin: 0; }
      .video_section .controls .volume .vol_bar.on {
        background-position: -118px -64px; }
      .video_section .controls .volume .vol_bar.off {
        background-position: -126px -64px; }
      .video_section .controls .volume .vol_bar.off:hover {
        background-position: -122px -64px; }
  .video_section .controls .full_screen {
    float: left;
    width: 16px;
    height: 14px;
    margin: 5px 0 0;
    background-image: url(/assets/video/video_sprite.png);
    background-position: -130px -64px;
    cursor: pointer; }
    .video_section .controls .full_screen:hover {
      background-position: -130px -78px; }
  .video_section .controls .ui-slider {
    position: relative;
    text-align: left; }
  .video_section .controls .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default; }
  .video_section .controls .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0; }
  .video_section .controls .ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em; }
  .video_section .controls .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%; }
  .video_section .controls .ui-slider-horizontal .ui-slider-range-min {
    left: 0; }
  .video_section .controls .ui-slider-horizontal .ui-slider-range-max {
    right: 0; }
  .video_section .controls .ui-slider-vertical {
    width: .8em;
    height: 100px; }
  .video_section .controls .ui-slider-vertical .ui-slider-handle {
    left: -0.3em;
    margin-left: 0;
    margin-bottom: -0.6em; }
  .video_section .controls .ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%; }
  .video_section .controls .ui-slider-vertical .ui-slider-range-min {
    bottom: 0; }
  .video_section .controls .ui-slider-vertical .ui-slider-range-max {
    top: 0; }
.video_section .prev_next_btns {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 360px;
  height: 17px;
  padding: 8px 0 0;
  color: #09f;
  border-top: 1px dotted #ccc;
  cursor: pointer; }
  .video_section .prev_next_btns:hover {
    color: #597686; }
  .video_section .prev_next_btns .prev_btn {
    float: left;
    background-position: -171px -2904px; }
  .video_section .prev_next_btns .next_btn {
    float: right;
    background-position: 30px -2904px; }
.video_section.horizontal_width480 .video_title {
  width: 376px;
  margin: 0 0 3px; }
.video_section.horizontal_width480 .video_player {
  width: 460px;
  height: 267px; }
  .video_section.horizontal_width480 .video_player .video_frame, .video_section.horizontal_width480 .video_player iframe {
    height: 235px !important; }
.video_section.horizontal_width480 .more_videos {
  width: 406px;
  height: 50px;
  margin: 7px 27px 0;
  overflow: visible; }
  .video_section.horizontal_width480 .more_videos .video_row {
    width: 415px; }
.video_section.horizontal_width480 .video_scroller_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 406px;
  height: 50px;
  overflow: hidden; }
.video_section.horizontal_width480 .video_scroller_wrapper {
  height: 50px; }
.video_section.horizontal_width480 .video_item {
  width: 69px;
  height: 46px;
  margin: 0 10px 0 0;
  padding: 0;
  border: 2px solid #fff; }
  .video_section.horizontal_width480 .video_item:hover, .video_section.horizontal_width480 .video_item.playing {
    background: none;
    border: 2px solid #09f; }
  .video_section.horizontal_width480 .video_item .video_thumb {
    position: relative; }
    .video_section.horizontal_width480 .video_item .video_thumb .play_btn {
      width: 69px;
      height: 46px;
      background-position: -15px -313px; }
    .video_section.horizontal_width480 .video_item .video_thumb:hover .play_btn {
      background-position: -115px -313px; }
.video_section.horizontal_width480 .prev_next_btns {
  position: static;
  width: 100%;
  height: 50px;
  border-top: none; }
  .video_section.horizontal_width480 .prev_next_btns .prev_btn,
  .video_section.horizontal_width480 .prev_next_btns .next_btn {
    position: absolute;
    width: 16px;
    height: 16px;
    padding: 0;
    text-indent: -9999px;
    background-image: url(/assets/video/video_sprite.png); }
  .video_section.horizontal_width480 .prev_next_btns .prev_btn {
    top: 16px;
    left: -22px;
    background-position: -50px -172px; }
    .video_section.horizontal_width480 .prev_next_btns .prev_btn:hover {
      background-position: -50px -188px; }
  .video_section.horizontal_width480 .prev_next_btns .next_btn {
    top: 16px;
    right: -22px;
    background-position: -66px -172px; }
    .video_section.horizontal_width480 .prev_next_btns .next_btn:hover {
      background-position: -66px -188px; }

.full_screen_player {
  height: 100%;
  width: 100%;
  background: #000; }
  .full_screen_player .watermark {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 121px;
    height: 78px;
    background-image: url(/assets/video/video_sprite.png);
    background-position: -82px -172px; }
  .full_screen_player .controls .full_screen {
    background-position: -130px -92px; }
  .full_screen_player .controls .full_screen:hover {
    background-position: -130px -106px; }
